Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

Fix camera network of bar cams Fix camera network of command surface fax machine
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Owners: none

Added
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/burgerbb - metabolism_fixes.yml
Owners: none

Added
  code/controllers/subsystems/battle_monsters.dm
  code/modules/battlemonsters/datum_titles.dm
  html/changelogs/burgerbb-battlemonster_fixes.yml
  icons/obj/vending.dmi
Owners: @BurgerLUA

further tweaks
  code/game/machinery/vending_types.dm
  html/changelogs/burgerbb-battlemonster_fixes.yml
Owners: none

more tweaks
  code/modules/battlemonsters/items/deck.dm
  html/changelogs/burgerbb-battlemonster_fixes.yml
Owners: @BurgerLUA

more stuff
  aurorastation.dme
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/modules/battlemonsters/mobs/ash_drake.dm
  code/modules/battlemonsters/mobs/bubblegum.dm
  code/modules/battlemonsters/mobs/colossus.dm
  code/modules/battlemonsters/mobs/lavaland.dm
  code/modules/battlemonsters/mobs/mobs.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/special.dm
  icons/obj/projectiles.dmi
Owners: @BurgerLUA

More Changes
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

More changes again
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

more changes
  code/modules/battlemonsters/mobs/ash_drake.dm
  code/modules/battlemonsters/mobs/bubblegum.dm
  code/modules/battlemonsters/mobs/colossus.dm
  code/modules/projectiles/projectile/energy.dm
Owners: @BurgerLUA

One day I'll remember to check everything so I don't need to make three changesn in five minutes
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

More changes because I've got the memory of a goldfish
  maps/aurora/aurora-3_sublevel.dmm
Owners: none

It ya boi, back at it again with five changes in an hour
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

Changelog because I forgot that too. God save me.
  html/changelogs/furrycactus-medical-overhaul.yml
Owners: none

grammer fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

Adds species based tracks.
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/turfs/simulated.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/multiz/turfs/open_space.dm
Owners: none

This looks better.
  code/game/objects/effects/decals/Cleanable/tracks.dm
Owners: none

adds changelog
  html/changelogs/alberyk-blood.yml
Owners: none

Fixed another missing area and a broken cable.
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Travis Tweaks + Fixes
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Owners: none

travis i've come to bargain
  maps/aurora/aurora-6_surface.dmm
Owners: none

lohikar requested changes
  code/game/objects/random/produce.dm
Owners: none

Fix camera network of bar cams (#5272)
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Owners: none

Allows admins to toggle the round spookyness at their own will. (#5258)
  code/_helpers/game.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Owners: none

Extra eightball check.
  code/game/objects/items/eightball.dm
Owners: none

Battlemonster Bug Fixes and Tweaks (#5275)
  code/controllers/subsystems/battle_monsters.dm
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/datum_titles.dm
  code/modules/battlemonsters/items/deck.dm
  html/changelogs/burgerbb-battlemonster_fixes.yml
  icons/obj/vending.dmi
Owners: @BurgerLUA

Fixes the check.
  code/game/objects/items/eightball.dm
Owners: none

adds more vaurca snowflake things.
  code/game/objects/items/weapons/vaurca_items.dm
  icons/obj/vaurca_items.dmi
Owners: none

Adds it to the loadout.
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
Owners: @Skull132

Chefs spawning with random produce (#5198)
  aurorastation.dme
  code/game/jobs/job/civilian.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/produce.dm
  code/modules/cargo/randomstock.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  html/changelogs/.all_changelog.yml
  html/changelogs/burgerbb - spawn produce.yml
Owners: @Arrow768

a clusterfuck of code
  aurorastation.dme
  code/modules/client/client procs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/vehicles/vehicle.dm
  code/modules/vehicles/wheelchair.dm
  code/modules/ventcrawl/ventcrawl.dm
Owners: none

Fixes this.
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
Owners: @Skull132

Fixes double space.
  code/game/objects/items/weapons/vaurca_items.dm
Owners: none

Now it allows you to color it or something.
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
Owners: @Skull132

Adds changelog
  html/changelogs/alberyk-vaurca.dmi
Owners: none

This should work.
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
Owners: @Skull132

Adjusts Stun Baton Cranial Agony (#5239)
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/subtypes/standard.dm
  html/changelogs/fowl-gudgot.yml
Owners: none

"[ci skip] Automatic Build - 2018.09.14.22.44.12"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Sindorman-fixes.yml
  html/changelogs/burgerbb-battlemonster_fixes.yml
  vueui/dist/app.js
  vueui/dist/app.js.map
  vueui/package-lock.json
Owners: @Karolis2011

Fix this.
  code/game/objects/items/eightball.dm
Owners: none

Adds ouija boards and magic eightballs (#5238)
  aurorastation.dme
  code/controllers/subsystems/traumas.dm
  code/datums/trading/goods.dm
  code/game/objects/items/eightball.dm
  code/game/objects/items/spirit_board.dm
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  html/changelogs/alberyk-toys.yml
  icons/obj/toy.dmi
Owners: none

"[ci skip] Automatic Build - 2018.09.14.23.23.42"
  vueui/dist/app.js
  vueui/dist/app.js.map
  vueui/package-lock.json
Owners: @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011
