Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @Alberyk, @NonQueueingMatt, @JohnWildkins

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.


# This code requires the host/head dev to know of changes, therefore it's places in
# this dedicated section
/code/__defines/master_controller.dm @Arrow768
/code/controllers/master @Arrow768
/code/controllers/subsystems/fail2topic.dm @Arrow768
/code/game/world.dm @Arrow768
/code/modules/admin/ @Arrow768
/code/modules/web_interface/ @Arrow768
/code/modules/world_api/ @Arrow768
/code/datums/discord/ @Arrow768
/code/modules/udp/ @Arrow768
/code/defines/procs/dbcore.dm @Arrow768
/SQL/ @Arrow768
/code/modules/http/ @Arrow768
/code/datums/api.dm @Arrow768

# Custom items, alb
/code/modules/customitems/item_defines.dm @Alberyk

# Overmap, away sites and organs (brainmed), matt's expertise
/code/__defines/overmap.dm @NonQueueingMatt
/code/_helpers/overmap.dm @NonQueueingMatt
/code/modules/overmap/ @NonQueueingMatt
/maps/away/ @NonQueueingMatt

/code/__defines/organs.dm @NonQueueingMatt
/code/modules/organs/ @NonQueueingMatt

# UIs. Wildkins or Matt.
/tgui/ @JohnWildkins
code/__defines/tgui.dm @JohnWildkins
code/modules/tgui @JohnWildkins

# Tools, often binary in nature, let arrow and alb know
/tools/ @Arrow768 @Alberyk

# Pipeline/CI stuffs, arrow
/scripts/ @Arrow768
/.github/ @Arrow768
/.travis.yml @Arrow768
/.drone.yml @Arrow768
/flyway.conf @Arrow768

# ZAS, the dreaded and esoteric atmos system, since Matt is the last to have touched it and
# all others I can find are long gone...
/code/__defines/ZAS.dm @NonQueueingMatt
/code/ZAS/ @NonQueueingMatt

# Matt is also the implementer/porter of the observable design pattern
/code/datums/observation/ @NonQueueingMatt

# Spatial gridmap, Wildkins
/code/__defines/spatial_gridmap.dm @JohnWildkins
/code/_helpers/spatial_info.dm @JohnWildkins
/controllers/subsystems/spatial_gridmap.dm @JohnWildkins

# Tcomms and radios, Wildkins
/code/game/machinery/telecomms/ @JohnWildkins
/code/game/objects/items/devices/radio/ @JohnWildkins

# Whatever else
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/modules/client/preference_setup/ @Arrow768
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/cargo/ @Arrow768
/nano/templates/ @Arrow768

changelog
  html/changelogs/example copy.yml
Owners: none

Removes the random map change, sorry.
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/changelog.yml
Owners: none

Removes the turret confusion
  code/modules/projectiles/guns/energy/nuclear.dm
Owners: none

whitespace
  code/game/gamemodes/changeling/helpers/_framework.dm
Owners: none

more whitespace
  code/game/gamemodes/changeling/helpers/_framework.dm
Owners: none

Updates the changelog to be more specific
  html/changelogs/changelog.yml
Owners: none

Combine mimic accent and voice
  code/game/gamemodes/changeling/helpers/_store.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  html/changelogs/AlaunusLux-changeling-gender-accent-changes.yml
Owners: none

keep accent if mimicing when transforming
  code/game/gamemodes/changeling/implements/powers/body.dm
Owners: none

corprep
  code/game/jobs/job/outsider/representative.dm
  html/changelogs/RustingWithYou - diplomacy.yml
Owners: none

Update code/game/jobs/job/job.dm
  code/game/jobs/job/job.dm
Owners: none

Nearly done
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

HAAAAAAAAAAAAAAA
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

roundstart spawn checks
  code/controllers/subsystems/job.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/outsider/representative.dm
Owners: none

oops
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  html/changelogs/RustingWithYou - cardfix.yml
Owners: @Arrow768

Lighting
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

Adds the second law office area
  maps/_common/areas/station/civilian.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

Fixes the area
  icons/turf/areas.dmi
  maps/_common/areas/station/civilian.dm
Owners: none

Assigns the areas and makes new cameras
  maps/_common/areas/station/command.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

Makes custom area markers
  icons/turf/areas.dmi
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

Sets the Upperdeck area
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

i fucking love scarabs bro i fucking hate gravity
  aurorastation.dme
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/shuttle.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab_areas.dm
  maps/away/ships/coc/coc_scarab/coc_scarab_ghostroles.dm
Owners: @NonQueueingMatt

decals
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Owners: @NonQueueingMatt

cl
  html/changelogs/RustingWithYou - gravityisfornerds.yml
Owners: none

ship fluff
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
Owners: @NonQueueingMatt

L
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
Owners: @NonQueueingMatt

flags
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/RustingWithYou - gravityisfornerds.yml
  icons/obj/structure/flags.dmi
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Owners: @Arrow768, @NonQueueingMatt

Update code/modules/clothing/clothing.dm
  code/modules/clothing/clothing.dm
Owners: none

Update code/modules/clothing/clothing.dm
  code/modules/clothing/clothing.dm
Owners: none

Update code/modules/clothing/clothing.dm
  code/modules/clothing/clothing.dm
Owners: none

Update code/modules/clothing/clothing.dm
  code/modules/clothing/clothing.dm
Owners: none

changes
  code/modules/client/preferences.dm
  code/modules/clothing/clothing.dm
Owners: none

Forgot to delete this
  icons/obj/guns/beepboopignoreme.dmi
Owners: none

fsdfsa
  aurorastation.dme
  code/_helpers/unsorted.dm
  code/_onclick/hud/robot.dm
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/datums/wires/landmine.dm
  code/game/objects/items/devices/uplink.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/grenades/napalm_grenade.dm
  code/game/objects/items/weapons/landmines.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/traps.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/obj/item/landmine/claymore.dmi
  icons/obj/item/landmine/mine.dmi
  icons/obj/item/traps/punji.dmi
  icons/obj/item/traps/traps.dmi
Owners: @Arrow768

cl
  code/datums/uplink/grenades.dm
  html/changelogs/fluffyghost-auroravietnamedition.yml
Owners: none

dmdoc part final?
  code/modules/mob/living/carbon/carbon_defines.dm
Owners: none
