Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011

adds changelog
  html/changelogs/alberyk-thefixes.yml
Owners: none

Map tiny fixes (#5254)
  maps/aurora/aurora-7_roof.dmm
Owners: none

Add a proc to hook persistent transaction logs into
  code/controllers/subsystems/economy.dm
  code/game/jobs/job/job.dm
  code/game/machinery/vending.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_delivery.dm
  code/modules/modular_computers/laptop_vendor.dm
Owners: @Arrow768

renaming of the variable + further implementation
  code/__defines/mobs.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/controllers/subsystems/job.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/machine_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_heal.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_hurt.dm
Owners: none

You can remove bayonet and more.
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/crank.dm
  code/modules/projectiles/guns/projectile/improvised.dm
  code/modules/projectiles/guns/projectile/minigun.dm
Owners: none

Adds changelog
  html/changelogs/alberyk-crowbar.yml
Owners: none

significantly more changes
  code/__defines/mobs.dm
  code/_onclick/hud/_defines.dm
  code/game/machinery/rechargestation.dm
  code/game/objects/items/weapons/circuitboards/machinery/recharge_station.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/machine_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/designs/circuit_designs.dm
  html/changelogs/burgerbb-drink_and_hunger_overhaul.yml
  icons/mob/screen/generic.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  icons/obj/objects.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

tweaks
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/blood.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Allows admins to toggle the round spookyness at their own will.
  code/_helpers/game.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Owners: none

dev merge fixes
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

fixed define
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/human.dm
Owners: none

Adds zombies.
  aurorastation.dme
  code/modules/cargo/randomstock.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/necromancer_spells.dm
  icons/mob/human_races/r_zombie.dmi
  icons/obj/surgery.dmi
Owners: @Arrow768

Some tweaks.
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

nerf the halloss here.
  code/modules/organs/subtypes/parasite.dm
Owners: none

Less zombie juice.
  code/modules/mob/living/carbon/human/species/species_attack.dm
Owners: none

regenfixes
  code/modules/mob/living/carbon/diona_base.dm
Owners: none

Added
  html/changelogs/burgerbb-skinhead.yml
  interface/skin.dmf
Owners: none

lube and water for antags
  code/game/objects/structures/crates_lockers/crates.dm
  maps/aurora/aurora-1_centcomm.dmm
Owners: none

oops
  interface/skin.dmf
Owners: none

wait no this is fine
  interface/skin.dmf
Owners: none

Did a complete design overhaul of Medbay. Feedback thread and specific details can be found here: https://forums.aurorastation.org/viewtopic.php?f=18&t=11885
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

Bumped the value.
  code/modules/economy/ATM.dm
Owners: none

Gives people with +DEBUG (maintainers & head admins) access to the profiler (#5252)
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Owners: none

"[ci skip] Automatic Build - 2018.09.10.16.13.37"
  html/changelog.html
  vueui/package-lock.json
Owners: @Karolis2011

Parasite and zombie fixes.
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/organs/subtypes/parasite.dm
Owners: none

Adds changelog
  html/changelogs/alberyk-brains.yml
Owners: none

More fixes and etc.
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/organs/subtypes/parasite.dm
Owners: none

Zombies have human names now.
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
Owners: none

Further reduces the strength of Zora Soda. (#5246)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/arrow768-zoranferfs.yml
Owners: none

"[ci skip] Automatic Build - 2018.09.10.17.16.11"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/arrow768-zoranferfs.yml
  vueui/package-lock.json
Owners: @Karolis2011

Some tweaks.
  code/modules/reagents/reagent_dispenser.dm
Owners: none

More fixes and the like.
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

s a l t and phoron
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-drink_and_hunger_overhaul.yml
Owners: none

hunger for sprint
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/carbon.dm
  html/changelogs/burgerbb-drink_and_hunger_overhaul.yml
Owners: none

requested changes
  code/modules/mob/mob_helpers.dm
Owners: none

Bug fixes: reagent dispensers, ATMs and a bit more (#5256)
  code/modules/assembly/igniter.dm
  code/modules/economy/ATM.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/alberyk-thefixes.yml
Owners: none

"[ci skip] Automatic Build - 2018.09.10.18.25.18"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/alberyk-thefixes.yml
Owners: none

changelel
  html/changelogs/paradoxspace-savethetrees.yml
Owners: none

Spaceacilin prevents infection now.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

Update item_attack.dm
  code/_onclick/item_attack.dm
Owners: none
