Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011

Fixed ERT not showing up on the spec ops monitor.
  maps/aurora/aurora-1_centcomm.dmm
Owners: none

Adds the long braid 2.
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  icons/mob/human_face/hair.dmi
Owners: none

Uses the right sprites.
  icons/mob/human_face/hair.dmi
Owners: none

Adds changelog
  html/changelogs/alberyk-hair.yml
Owners: none

final changes
  aurorastation.dme
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/touch.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/spells/spellbook.dm
  html/changelogs/burgerbb-extinguisher.yml
Owners: none

changelog + grammar
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/burgerbb-extinguisher.yml
Owners: none

skull + lord fowl requested changes
  code/game/area/areas.dm
  code/modules/events/infestation.dm
  html/changelogs/burgerbb-infestation_overhaul.yml
Owners: none

even probalities
  code/modules/events/event_container.dm
  tools/Event Probabilities/Event Probabilities.xlsx
Owners: none

Changelog
  html/changelogs/arrow768-ertcams.yml
Owners: none

Changelog update
  html/changelogs/Sindorman-fixes.yml
Owners: none

changelog fix
  html/changelogs/Sindorman-fixes.yml
Owners: none

Newscaster
  code/game/machinery/newscaster.dm
Owners: none

Map fixes
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Changelog tweak
  html/changelogs/Sindorman-fixes.yml
Owners: none

Fixed ERT not showing up on the spec ops monitor. (#5292)
  html/changelogs/arrow768-ertcams.yml
  maps/aurora/aurora-1_centcomm.dmm
Owners: none

"[ci skip] Automatic Build - 2018.09.16.23.47.10"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/arrow768-ertcams.yml
Owners: none

Stupidity fix.
  html/changelog.html
  html/changelogs/.all_changelog.yml
Owners: none

Map changes
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Owners: none

Changelog
  html/changelogs/Sindorman-cameras.yml
Owners: none

Another fashion update, praise.
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/belt.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @Skull132

Tweak this
  code/modules/client/preference_setup/loadout/loadout_utility.dm
Owners: @Skull132

a bit more expensive now.
  code/modules/client/preference_setup/loadout/loadout_utility.dm
Owners: @Skull132

adds changelog
  html/changelogs/alberyk-clothing.yml
Owners: none

rephrasing
  html/changelogs/Sindorman-cameras.yml
Owners: none

Added vkrexi cube boxes.
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/arrow769-vkrexi.yml
Owners: none

Fixes mechs being stuck in maint mode
  code/game/mecha/mecha.dm
  html/changelogs/arrow768-mechs.yml
Owners: none

Adds origin tech for cortical stacks
  code/modules/organs/misc.dm
Owners: none

Adds a changelog for cortical stacks. Fixes slight issues with the leyon and medical intern changelogs.
  html/changelogs/arrow768-leyon.yml
  html/changelogs/arrow769-cortical-stacks-tech.yml
Owners: none

Airlocks now take a bit to weld and unweld.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  html/changelogs/arrow768-door-welding.yml
Owners: none

Fixes mechs being stuck in maint mode (#5298)
  code/game/mecha/mecha.dm
  html/changelogs/arrow768-mechs.yml
Owners: none

"[ci skip] Automatic Build - 2018.09.17.21.11.42"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/arrow768-mechs.yml
  vueui/package-lock.json
Owners: @Karolis2011

skull requested changes
  code/__defines/items_clothing.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/towel.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/spells/artifacts.dm
  code/modules/spells/general/contract_spells.dm
  code/modules/spells/spellbook.dm
  html/changelogs/burgerbb-extinguisher.yml
Owners: none

Do the thing that burger asked for.
  code/modules/spells/targeted/necromancer_spells.dm
Owners: none

Bug fixes (#5290)
  code/game/machinery/newscaster.dm
  code/game/objects/structures/curtains.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/bot/secbot.dm
  html/changelogs/Sindorman-fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Owners: @Skull132

"[ci skip] Automatic Build - 2018.09.18.01.31.42"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Sindorman-fixes.yml
Owners: none

it works now, just need to remove debug code
  code/game/objects/effects/chem/water.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/mob/living/carbon/touch.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

more changes
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

tweak
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/wizard.dm
Owners: none

Changelog update
  html/changelogs/Sindorman-void.yml
Owners: none

two commas
  code/modules/clothing/spacesuits/void/merc.dm
Owners: none
