Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/code/world.dm @Arrow768
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/http/ @Arrow768 @Skull132
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/cargo/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/SQL/ @Arrow768
/vueui/ @Karolis2011

fix exodus + more removals
  code/datums/mind.dm
  code/datums/trading/unique.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/item_worth/worths_list.dm
  code/modules/organs/misc.dm
  code/modules/organs/subtypes/xenos.dm
  code/modules/projectiles/guns/alien.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  maps/exodus/exodus-2_centcomm.dmm
  maps/templates/asteroid_outpost.dmm
  maps/templates/backup/asteroid_outpost.dmm
Owners: @Arrow768

Fixes the inventory by removing planes (#10151)
  code/__defines/_layers.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/screen_objects.dm
Owners: none

Fixes the AI having a perma black screen.
  code/modules/mob/living/silicon/ai/login.dm
  html/changelogs/mattatlas-aifix.yml
Owners: none

"[ci skip] Automatic Build - 2020.10.02.14.39.36"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-unique_animal_hitzones.yml
Owners: none

Fixes the AI having a perma black screen. (#10152)
  code/modules/mob/living/silicon/ai/login.dm
  html/changelogs/mattatlas-aifix.yml
Owners: none

"[ci skip] Automatic Build - 2020.10.02.14.50.01"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/mattatlas-aifix.yml
Owners: none

Fixes the sawn-off improvised shotgun having no sprite
  code/modules/projectiles/guns/projectile/improvised.dm
  html/changelogs/alberyk-shotgunfix.yml
  icons/obj/guns/ishotgun.dmi
  icons/obj/guns/ishotgunsawn.dmi
Owners: none

Oxygen and Nitrogen Capital Fix
  code/ATMOSPHERICS/components/omni_devices/_omni_extras.dm
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/defines/gases.dm
  code/game/gamemodes/events.dm
  html/changelogs/geeves-oxygen_and_stuff.yml
Owners: none

Fix insufficient logging of PDA Console
  code/game/machinery/computer/message.dm
Owners: none

Kataphract Flag
  code/game/objects/items/weapons/material/twohanded.dm
  html/changelogs/geeves-kata_flag.yml
  icons/obj/unathi_items.dmi
  maps/templates/distress/kataphracts.dmm
Owners: none

Fix insufficient logging of PDA Console (#10157)
  code/game/machinery/computer/message.dm
Owners: none

Fixes the sawn-off improvised shotgun having no sprite (#10154)
  code/modules/projectiles/guns/projectile/improvised.dm
  html/changelogs/alberyk-shotgunfix.yml
  icons/obj/guns/ishotgun.dmi
  icons/obj/guns/ishotgunsawn.dmi
Owners: none

"[ci skip] Automatic Build - 2020.10.02.20.58.11"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/alberyk-shotgunfix.yml
Owners: none

Revert "Ghost Role Cancel Fix"
  code/controllers/subsystems/ghostroles.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/human.dm
Owners: none

alternative fix
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/geeves-ghost_role_cancel.yml
Owners: none

remove as anything
  code/modules/ghostroles/spawner/human/human.dm
Owners: none

TCFL Helmet Cameras
  code/__defines/machinery.dm
  code/game/machinery/camera/presets.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  html/changelogs/geeves-tcfl_cameras.yml
  maps/aurora/aurora-1_centcomm.dmm
Owners: none

SPAN_NOTICE and extra informative description
  code/modules/clothing/head/helmet.dm
Owners: none

Ghost Spawner: Better Integration for Atoms
  aurorastation.dme
  code/__defines/ghostspawner.dm
  code/controllers/subsystems/ghostroles.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/antagonist/skeleton.dm
  code/modules/ghostroles/spawner/human/antagonist/wizard.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/golem.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/ghostroles/spawner/misc/mining_drone.dm
  code/modules/ghostroles/spawner/misc/posibrain.dm
  code/modules/ghostroles/spawner/misc/syndicate_cyborg.dm
  code/modules/ghostroles/spawner/simplemob/borer.dm
  code/modules/ghostroles/spawner/simplemob/maintdrone.dm
  code/modules/ghostroles/spawner/simplemob/rat.dm
  code/modules/ghostroles/spawner/simplemob/wizard_familiar.dm
  code/modules/mob/abstract/new_player/new_player.dm
Owners: none

* Generalizes the various procs used to spawn in players into atoms
  code/game/atoms.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/antagonist/skeleton.dm
  code/modules/ghostroles/spawner/human/antagonist/wizard.dm
  code/modules/ghostroles/spawner/human/golem.dm
  code/modules/ghostroles/spawner/misc/mining_drone.dm
  code/modules/ghostroles/spawner/misc/posibrain.dm
  code/modules/ghostroles/spawner/misc/syndicate_cyborg.dm
  code/modules/ghostroles/spawner/simplemob/borer.dm
  code/modules/ghostroles/spawner/simplemob/wizard_familiar.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/mob/living/silicon/robot/syndicate_robot.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/spell_system/artifacts/items/apprentice_pebble.dm
Owners: none

Really fixes filling sprays, adds gardener spawn points.
  code/modules/reagents/reagent_containers/spray.dm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Changes diner color scheme, attempts to make spray not spray on the pool
  code/modules/reagents/reagent_containers/spray.dm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Really fixes filling sprays from pool, adds gardener spawn points.
  code/modules/reagents/reagent_containers/spray.dm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Updates changelog.
  html/changelogs/FirinMaLazors-dinertime.yml
Owners: none

Compresses sounds further, for the .rsc.
  sound/music/recordplayer/BooleanSisters.ogg
  sound/music/recordplayer/Cosmorot.ogg
  sound/music/recordplayer/JazzInstrumental.ogg
  sound/music/recordplayer/LeSwing.ogg
  sound/music/recordplayer/Posin.ogg
Owners: none

Compresses a couple more songs.
  sound/music/space_asshole.ogg
  sound/music/space_oddity.ogg
Owners: none

Compresses a few of the bigger ambiences.
  sound/ambience/elevator.ogg
  sound/ambience/song_game.ogg
  sound/ambience/space/space_serithi.ogg
Owners: none

Changelog.
  html/changelogs/FirinMaLazors-compressedsounds.yml
Owners: none

Adds a mini disposals bin to medbay lobby.
  html/changelogs/FirinMaLazors-medminibin.yml
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

kyres request
  code/controllers/configuration.dm
  code/modules/mob/abstract/new_player/menu.dm
  icons/misc/hudmenu.dmi
Owners: none

useless commit to restart travis
  code/modules/clothing/head/helmet.dm
Owners: none

forgot to credit stryker
  html/changelogs/geeves-kata_flag.yml
Owners: none

Ghost Role Cancel Fix (#10139)
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/geeves-ghost_role_cancel.yml
Owners: none

Changes crossbow damage type (#10131)
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy.dm
  html/changelogs/flpfs-nerf-crossbow.yml
Owners: none

Simple Animals Ghostears Tweak (#10130)
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  html/changelogs/geeves-the_giant_spider_chitters.yml
Owners: none

Vaurca Blinders Colouring and Fix (#10079)
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/geeves-colourable_blinders.yml
  icons/obj/vaurca_items.dmi
Owners: @Skull132

"[ci skip] Automatic Build - 2020.10.03.11.43.43"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/flpfs-nerf-crossbow.yml
  html/changelogs/geeves-colourable_blinders.yml
  html/changelogs/geeves-ghost_role_cancel.yml
  html/changelogs/geeves-the_giant_spider_chitters.yml
Owners: none

Aquaponics and Molluscs (#10067)
  aurorastation.dme
  code/__defines/hydroponics.dm
  code/game/machinery/vending_items.dm
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  code/modules/hydroponics/seed_datums/aquaculture.dm
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/hydroponics/seed_datums/misc.dm
  code/modules/hydroponics/seed_datums/mushrooms.dm
  code/modules/hydroponics/seed_datums/tomato.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/random_map/drop/drop_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks/fish.dm
  html/changelogs/geeves-aquaponics.yml
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/molluscs.dmi
  icons/obj/seeds.dmi
Owners: none

"[ci skip] Automatic Build - 2020.10.03.11.49.07"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-aquaponics.yml
Owners: none

Tries to fix the merge conflict.
  icons/turf/areas.dmi
Owners: none
