Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011

Added the Icelance Rifle to the Uplink (#5287)
  code/datums/uplink/highly visible and dangerous weapons.dm
  html/changelogs/arrow769-icelance.yml
Owners: none

Update tree_networking.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
Owners: none

Forgot something.
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Adds aiming logs
  code/modules/projectiles/targeting/targeting_overlay.dm
Owners: none

Added vkrexi cube boxes. (#5297)
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/arrow769-vkrexi.yml
Owners: none

massive amount of updates - full changelog coming soon
  aurorastation.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/cargo.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/bot.dm
  code/modules/cargo/bounties/random.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/security.dm
  code/modules/cargo/bounties/weapon_prototype.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/reward.dm
  code/modules/cargo/rewards/guns.dm
  code/modules/cargo/rewards/misc.dm
  code/modules/research/research.dm
Owners: @Arrow768

lets remove this feature
  code/modules/battlemonsters/mobs/ash_drake.dm
  code/modules/battlemonsters/mobs/bubblegum.dm
  code/modules/battlemonsters/mobs/colossus.dm
  code/modules/battlemonsters/mobs/mobs.dm
Owners: @BurgerLUA

Adds a check to the slime AI to loose interest in the current victim if it is dead.
  code/modules/mob/living/carbon/metroid/life.dm
Owners: none

Changelog
  html/changelogs/arrow768-slime-ai-update.yml
Owners: none

Cult changes.
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
Owners: none

adds changelog
  html/changelogs/albery-runes.yml
Owners: none

Adds the ability to call in a tactical hood ian via uplink
  code/datums/uplink/devices and tools.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  icons/mob/dog.dmi
Owners: @Alberyk

Fix for ian dog
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  patch.diff
Owners: none

Fixing error from mistake on merging
  code/datums/uplink/devices and tools.dm
  patch.diff
Owners: none

removing useless patch file
  patch.diff
Owners: none

Adds better zombies sprites.
  icons/mob/human_races/r_zombie.dmi
Owners: none

Changes the sprite more.
  icons/mob/human_races/r_zombie.dmi
Owners: none

Zombies can have also have underwear, socks and etc.
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
Owners: none

Slime AI update (#5309)
  code/modules/mob/living/carbon/metroid/life.dm
  html/changelogs/arrow768-slime-ai-update.yml
Owners: none

Adds a new hairstyle (#5293)
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/alberyk-hair.yml
  icons/mob/human_face/hair.dmi
Owners: none

Progress
  code/game/machinery/computer/records.dm
  vueui/src/components/view/records/field.vue
  vueui/src/components/view/records/general.vue
  vueui/src/components/view/records/medical.vue
  vueui/src/components/vui/button.vue
  vueui/src/utils.js
Owners: @Karolis2011

PasswordProtectedFiles (#5067)
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/system/file_browser.dm
  html/changelogs/dapocalypse-development.yml
  nano/templates/file_manager.tmpl
Owners: @Arrow768

Fixes
  code/modules/mob/living/bot/ed209bot.dm
  maps/aurora/aurora-3_sublevel.dmm
Owners: none

record.age.
  code/datums/uplink/announcements.dm
Owners: none

"[ci skip] Automatic Build - 2018.09.23.16.19.13"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/arrow768-slime-ai-update.yml
Owners: none

more changes
  aurorastation.dme
  code/modules/battlemonsters/mobs/guardian.dm
  code/modules/battlemonsters/mobs/mook.dm
  icons/mob/guardian.dmi
Owners: @BurgerLUA

Adds the ability to call in a tactical Ian Via uplink
  code/datums/uplink/devices and tools.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  icons/mob/dog.dmi
Owners: @Alberyk

changelog
  html/changelogs/antagianchangelong.yml
Owners: none

Removed un-needed lines
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
Owners: none

Fxied damage issue
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
Owners: none

Testing something, slight hp change
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
Owners: none

Fixed a few errors and things to make this a lot more tidy looking
  code/game/objects/items/weapons/mobspawnerbox.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
Owners: @Alberyk

Forgot to include the dm file in complie
  aurorastation.dme
Owners: none

Politicaly Correct Hood Ian
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/mobspawnerbox.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
Owners: none

Golems: first step.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  icons/mob/human_races/golem/r_bronze.dmi
  icons/mob/human_races/golem/r_cardboard.dmi
  icons/mob/human_races/golem/r_cloth.dmi
  icons/mob/human_races/golem/r_coal.dmi
  icons/mob/human_races/golem/r_flesh.dmi
  icons/mob/human_races/golem/r_wood.dmi
  icons/mob/human_races/r_golem.dmi
  icons/mob/human_races/r_human.dmi
Owners: none

Foundation
  code/modules/tables/interactions.dm
Owners: none

Flesh golem death message
  code/modules/mob/living/carbon/human/species/station/golem.dm
Owners: none

Nar'sie summoning check.
  code/game/gamemodes/cult/runes.dm
Owners: none

Added a customizable evening gown from Polaris Code
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @Skull132

Added changelog, better spriting work
  html/changelogs/dragodress.yml
  icons/mob/uniform.dmi
Owners: none
