Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011

dddddddd
  code/game/objects/structures/crates_lockers/closets/statue.dm
Owners: none

nothing to see
  code/game/objects/structures/crates_lockers/closets/statue.dm
Owners: none

No more magic shoes
  code/game/antagonist/outsider/wizard.dm
  html/changelogs/Kaedwuff - Shoe Freedom.yml
Owners: none

minor language edits
  code/game/antagonist/outsider/wizard.dm
Owners: none

De-garbed
  code/modules/clothing/shoes/miscellaneous.dm
Owners: none

Unlocking secure lockers (#5305)
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  html/changelogs/Sindorman-lock.yml
Owners: none

recheck
  code/modules/spells/storage.dm
Owners: none

extinguish fixes
  code/game/machinery/cryo.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/spells/general/contract_spells.dm
  code/modules/spells/targeted/ethereal_jaunt.dm
Owners: none

"[ci skip] Automatic Build - 2018.09.29.22.21.51"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Sindorman-lock.yml
  vueui/package-lock.json
Owners: @Karolis2011

Tweaks
  code/modules/clothing/spacesuits/void/void.dm
Owners: none

Changelog update
  html/changelogs/Sindorman-void.yml
Owners: none

Fixed some small errors, added the ability to buy the board from merchent
  code/datums/trading/goods.dm
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/mobspawnerbox.dm
  code/modules/item_worth/worths_list.dm
Owners: @Arrow768

fixed spelling errors
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/antagianchangelong.yml
Owners: none

Added a customizable evening gown from Polaris Code (#5315)
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/dragodress.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @Skull132

Revert "fixed spelling errors"
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/antagianchangelong.yml
Owners: none

Try to fix the conflicts.
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Owners: none

Adds the sprites all back, and fixes capitalization.
  code/modules/clothing/under/miscellaneous.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Owners: none

Fixes the bacon burger.
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Fixes the fingerless gloves.
  code/modules/clothing/gloves/color.dm
Owners: none

Fixes the chocolate box too.
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Fixes fingerless gloves and bacon burger (#5339)
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/clothing/gloves/color.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Owners: none

Unapologetic Undead Buffs (#5259)
  aurorastation.dme
  code/modules/cargo/randomstock.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/necromancer_spells.dm
  html/changelogs/alberyk-brains.yml
  icons/mob/human_races/r_zombie.dmi
  icons/obj/surgery.dmi
Owners: @Arrow768

Moves the attacks to the right file.
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
Owners: none

Another fashion update: dress, medical gown and fannypack edition (#5296)
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/alberyk-clothing.yml
  icons/mob/belt.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @Skull132

Skull changes.
  code/modules/mob/living/carbon/human/human_powers.dm
Owners: none

simple fix
  code/modules/events/infestation.dm
Owners: none

final bugfixes and misc tweaks
  code/game/machinery/doors/blast_door.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/recycling/conveyor2.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Fix
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Changelog
  html/changelogs/Sindorman-disposal.yml
Owners: none

Revert "Revert "fixed spelling errors""
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/antagianchangelong.yml
Owners: none

Revert "Revert "Revert "fixed spelling errors"""
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/antagianchangelong.yml
Owners: none

fixed
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/antagianchangelong.yml
Owners: none

HOP disposal pipe fix (#5337)
  html/changelogs/Sindorman-disposal.yml
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

"[ci skip] Automatic Build - 2018.10.01.04.38.46"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Sindorman-disposal.yml
  vueui/package-lock.json
Owners: @Karolis2011

Medbay Design Overhaul (#5263)
  html/changelogs/furrycactus-medical-overhaul.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

light fix
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

removed cyborg board, and attack corgi
  code/datums/trading/misc.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/antagianchangelong.yml
Owners: @Arrow768

Final touch`
  code/modules/tables/interactions.dm
Owners: none

woops
  code/controllers/subsystems/mob.dm
  code/datums/trading/goods.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
Owners: @Arrow768

Disposals Map Overhaul (#5197)
  code/game/machinery/doors/blast_door.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/recycling/conveyor2.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  html/changelogs/burgerbb-disposals_improvements.yml
  maps/_common/areas/station/civilian.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Owners: none
