Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @Alberyk, @NonQueueingMatt, @JohnWildkins

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Acetrea-ekiinxenobotany.yml
Owners: none

Update core_field.dm
  code/modules/power/fusion/core/core_field.dm
Owners: none

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Acetrea-Ntmuffin.yml
  html/changelogs/RustingWithYou - brocaniborrowsomephoron.yml
  html/changelogs/RustingWithYou - ifuckinglovecrime.yml
Owners: none

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/FluffyGhost-unittests_consolidation_exception_catch.yml
  html/changelogs/geeves-cosmetic_surgery_kit.yml
  html/changelogs/geeves-dual_wielding_buff.yml
Owners: none

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-shotgun_stuff.yml
Owners: none

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-suit_cycler_tgui.yml
Owners: none

gun stuff
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  html/changelogs/alberyk-konyguns.yml
  icons/obj/ammo.dmi
  icons/obj/guns/konyang_weapons.dmi
  icons/obj/guns/mag_shotgun.dmi
  icons/obj/guns/pirate_smg.dmi
Owners: none

fixes
  code/modules/projectiles/guns/projectile/automatic.dm
  icons/obj/guns/konyang_weapons.dmi
Owners: none

forgot :skull:
  code/modules/projectiles/guns/projectile/automatic.dm
Owners: none

fixed bug that was causing runtime errors when recipes were made incorrectly. PR should be good to go now.
  code/modules/cooking/recipes/cultural/recipes_vaurca.dm
  code/modules/cooking/recipes/recipes_mix.dm
  code/modules/cooking/recipes/recipes_noodles.dm
Owners: none

Adds INDRA Reactor Alarm (#17756)
  code/modules/power/fusion/core/core_field.dm
  html/changelogs/CampinKiller24-az5.yml
Owners: none

Hivenet Manifest (#17493)
  aurorastation.dme
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/subtypes/vaurca.dm
  code/modules/tgui/modules/hivenet_manifest.dm
  html/changelogs/geeves-hivenet_manifest.yml
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/HivenetManifest.tsx
  tgui/packages/tgui/styles/themes/vaurca.scss
Owners: @NonQueueingMatt, @JohnWildkins

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/CampinKiller24-az5.yml
Owners: none

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-hivenet_manifest.yml
Owners: none

Update code/game/objects/items/trash.dm
  code/game/objects/items/trash.dm
Owners: none

Update code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/fancy.dm
Owners: none

Update code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
Owners: none

Update code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
Owners: none

Update code/modules/reagents/reagent_containers/food/snacks/cultural/vaurca.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/vaurca.dm
Owners: none

small fixes
  code/modules/cooking/recipes/recipes_fryer.dm
  config/example copy/access levels.txt
  config/example copy/admin_ranks.json
  config/example copy/admins.txt
  config/example copy/age_restrictions.txt
  config/example copy/alienwhitelist.txt
  config/example copy/away_site_blacklist.txt
  config/example copy/cargo.json
  config/example copy/config.txt
  config/example copy/custom_items.json
  config/example copy/custom_sprites.txt
  config/example copy/customsynths.json
  config/example copy/dbconfig.txt
  config/example copy/discord.txt
  config/example copy/exoplanet_ruin_blacklist.txt
  config/example copy/game_options.txt
  config/example copy/jobs.txt
  config/example copy/logging.json
  config/example copy/logging_files.json
  config/example copy/mentors.txt
  config/example copy/moderators.txt
  config/example copy/motd.txt
  config/example copy/news.json
  config/example copy/rules.html
  config/example copy/secretchem.json
  config/example copy/space_ruin_blacklist.txt
  config/example copy/svndir.txt
  config/example copy/templates_list.json
  config/example copy/webhooks.ex.json
  config/example copy/webhooks.json
  config/example copy/whitelist_jobconfig.json
Owners: none

newlines
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/revolver.dm
Owners: none

flag on the play
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/CampinKiller24-serene.yml
  icons/obj/structure/flags.dmi
Owners: @Arrow768

byeah
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Owners: @NonQueueingMatt

access change
  maps/away/away_site/idris_wreck/idris_wreck.dmm
Owners: @NonQueueingMatt

more description here
  code/game/objects/structures/flags_banners.dm
Owners: none

Auto stash before merge of "BridgeRework" and "origin/BridgeRework"
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

auto-blacklisting for consulars
  code/controllers/subsystems/job.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/outsider/representative.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/abstract/new_player/new_player.dm
Owners: @Arrow768

Update flags.dmi
  icons/obj/structure/flags.dmi
Owners: none

proper blacklist list
  code/game/jobs/job/outsider/representative.dm
Owners: none

changelog
  html/changelogs/RustingWithYou - diplomacy.yml
Owners: none

oops
  code/game/jobs/job/outsider/representative.dm
Owners: none

Map Is mostly done now
  maps/_common/areas/station/civilian.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

blah
  code/modules/projectiles/guns/energy/nuclear.dm
  icons/obj/guns/sccpistol.dmi
Owners: none

testin
  code/modules/projectiles/guns/energy/nuclear.dm
  icons/obj/guns/sccpistol.dmi
Owners: none

Makes an XO line and unshifts the vending machines
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

SCC Energy Pistol
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  html/changelogs/changelog.yml
  icons/obj/guns/sccpistol.dmi
Owners: none

Plants!!
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Owners: none

Tweaks Damage
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
Owners: none

Change gender, pronouns, and accent when transforming
  code/game/gamemodes/changeling/helpers/_framework.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/game/gamemodes/changeling/implements/powers/stings.dm
  code/game/gamemodes/changeling/implements/powers/suck.dm
Owners: none

s
  code/modules/security levels/keycard authentication.dm
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.


# This code requires the host/head dev to know of changes, therefore it's places in
# this dedicated section
/code/__defines/master_controller.dm @Arrow768
/code/controllers/master @Arrow768
/code/controllers/subsystems/fail2topic.dm @Arrow768
/code/game/world.dm @Arrow768
/code/modules/admin/ @Arrow768
/code/modules/web_interface/ @Arrow768
/code/modules/world_api/ @Arrow768
/code/datums/discord/ @Arrow768
/code/modules/udp/ @Arrow768
/code/defines/procs/dbcore.dm @Arrow768
/SQL/ @Arrow768
/code/modules/http/ @Arrow768
/code/datums/api.dm @Arrow768

# Custom items, alb
/code/modules/customitems/item_defines.dm @Alberyk

# Overmap, away sites and organs (brainmed), matt's expertise
/code/__defines/overmap.dm @NonQueueingMatt
/code/_helpers/overmap.dm @NonQueueingMatt
/code/modules/overmap/ @NonQueueingMatt
/maps/away/ @NonQueueingMatt

/code/__defines/organs.dm @NonQueueingMatt
/code/modules/organs/ @NonQueueingMatt

# UIs. Wildkins or Matt.
/tgui/ @JohnWildkins
code/__defines/tgui.dm @JohnWildkins
code/modules/tgui @JohnWildkins

# Tools, often binary in nature, let arrow and alb know
/tools/ @Arrow768 @Alberyk

# Pipeline/CI stuffs, arrow
/scripts/ @Arrow768
/.github/ @Arrow768
/.travis.yml @Arrow768
/.drone.yml @Arrow768
/flyway.conf @Arrow768

# ZAS, the dreaded and esoteric atmos system, since Matt is the last to have touched it and
# all others I can find are long gone...
/code/__defines/ZAS.dm @NonQueueingMatt
/code/ZAS/ @NonQueueingMatt

# Matt is also the implementer/porter of the observable design pattern
/code/datums/observation/ @NonQueueingMatt

# Spatial gridmap, Wildkins
/code/__defines/spatial_gridmap.dm @JohnWildkins
/code/_helpers/spatial_info.dm @JohnWildkins
/controllers/subsystems/spatial_gridmap.dm @JohnWildkins

# Tcomms and radios, Wildkins
/code/game/machinery/telecomms/ @JohnWildkins
/code/game/objects/items/devices/radio/ @JohnWildkins

# Whatever else
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/modules/client/preference_setup/ @Arrow768
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/cargo/ @Arrow768
/nano/templates/ @Arrow768
