Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

Adds two tajaran clothing.
  icons/obj/tajara_items.dmi
Owners: none

Adds it for real.
  code/modules/clothing/suits/alien.dm
Owners: none

Improves lichdom code a bit.
  code/modules/spells/contracts.dm
  code/modules/spells/targeted/necromancer_spells.dm
Owners: none

Adds changelog
  html/changelogs/alberyk-wizard.yml
Owners: none

Reconfigured five station intercoms that were incorrectly using the security interrogation channel.
  html/changelogs/CodePanter-too-typo.yml
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Reconfigured five station intercoms that were incorrectly using the security interrogation channel. (#5286)
  html/changelogs/CodePanter-too-typo.yml
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Whoops
  html/changelogs/alberyk-vaurca.yml
Owners: none

Leyon Changes (#5200)
  code/datums/trading/weaponry.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/Arrow768.yml
Owners: @Arrow768

Proably not the last commit
  nano/templates/file_manager.tmpl
Owners: @Arrow768

Added the Icelance Rifle to the Uplink
  code/datums/uplink/highly visible and dangerous weapons.dm
  html/changelogs/arrow769-icelance.yml
Owners: none

Custom items 15/09
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/talon_coat.dmi
Owners: @Alberyk

And the icons too.
  icons/obj/custom_items/ryn_clothing.dmi
Owners: none

tweak.
  code/modules/customitems/item_defines.dm
Owners: @Alberyk

Do the thing skull asked.
  code/game/objects/effects/decals/Cleanable/humans.dm
Owners: none

fixes some things.
  code/game/objects/effects/decals/Cleanable/misc.dm
Owners: none

Fixes attack and defense using the wrong var.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Owners: none

Foundation. Almost done. Testing
  code/modules/mob/living/simple_animal/hostile/carp.dm
Owners: none

Finished
  code/modules/mob/living/simple_animal/hostile/carp.dm
Owners: none

Rework temp save
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Optimizing
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Mobs upgrade and changelog
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Sindorman-carp-update.yml
Owners: none

Rework part two
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Finished
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Changelog update
  html/changelogs/Sindorman-carp-update.yml
Owners: none

One var
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
Owners: none

renaming and break
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Owners: none

Poze's request.
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Owners: none

Custom items 15/09 (#5288)
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/ryn_clothing.dmi
  icons/obj/custom_items/talon_coat.dmi
Owners: @Alberyk

Blood and tracks improvements (#5278)
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/turfs/simulated.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/multiz/turfs/open_space.dm
  html/changelogs/alberyk-blood.yml
Owners: none

added
  aurorastation.dme
  code/game/objects/structures/musician.dm
  code/game/objects/structures/stool_bed_chair_nest/booth.dm
  icons/obj/furniture.dmi
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/backup/aurora-4_mainlevel.dmm
Owners: none

Beepsky fix
  code/modules/mob/living/bot/secbot.dm
Owners: none

Fixes attack and defense messages using the wrong var (#5289)
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Owners: none

"[ci skip] Automatic Build - 2018.09.16.17.54.03"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/CodePanter-too-typo.yml
Owners: none

Robots fixes and ED fixes
  code/game/objects/structures/curtains.dm
  code/modules/mob/living/bot/ed209bot.dm
Owners: none

Track
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
Owners: @Skull132

Changelog
  html/changelogs/Sindorman-fixes.yml
Owners: none

Added
  code/__defines/items_clothing.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/items/weapons/towel.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/spells/artifacts.dm
  code/modules/spells/general/contract_spells.dm
  code/modules/spells/spellbook.dm
  html/changelogs/burgerbb-extinguisher.yml
Owners: none

Adds the ability to announce a fax only if someone doesnt have their PDA linked,
  code/datums/api.dm
Owners: @Arrow768

Added SQL migration of expansion of do injunctions
  SQL/migrate/V031__more_do_options.sql
Owners: @Arrow768

Changes "warning" to "reprimand"
  SQL/migrate/V031__more_do_options.sql
Owners: @Arrow768

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011
