Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011

Travis Fixes
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

Arrow's request and emag changes.
  code/modules/holodeck/HolodeckControl.dm
Owners: none

Added
  code/game/area/areas.dm
  code/modules/events/infestation.dm
  code/modules/mob/living/simple_animal/friendly/slime.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
Owners: none

Added
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/items/deck.dm
  code/modules/battlemonsters/items/wrapped.dm
  html/changelogs/burgerbb-morefixes.yml
  icons/obj/items.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Owners: @BurgerLUA

Changes
  code/modules/events/event_container.dm
  html/changelogs/burgerbb-infestation_overhaul.yml
Owners: none

oh its fixed now
  code/modules/events/event_container.dm
  code/modules/events/infestation.dm
Owners: none

Arrow's requested change.
  code/modules/holodeck/HolodeckControl.dm
Owners: none

Applies this change as well.
  code/modules/holodeck/HolodeckControl.dm
Owners: none

Ports the holodeck locking feature (#5204)
  code/modules/holodeck/HolodeckControl.dm
  html/changelogs/alberyk-holodeck.yml
Owners: none

Added
  aurorastation.dme
  code/modules/battlemonsters/datum_special.dm
  code/modules/battlemonsters/mobs/ash_drake.dm
  code/modules/battlemonsters/mobs/colossus.dm
  code/modules/battlemonsters/mobs/lavaland.dm
  code/modules/battlemonsters/mobs/mobs.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/projectile/energy.dm
  icons/effects/96x96.dmi
  icons/mob/64x64megafauna.dmi
  icons/mob/96x96megafauna.dmi
  icons/mob/arachnid.dmi
  icons/mob/clockwork_mobs.dmi
  icons/mob/guardian.dmi
  icons/mob/lavaland_monsters.dmi
  icons/mob/leaper.dmi
  icons/mob/legion.dmi
  icons/mob/mook.dmi
  sound/magic/demon_attack1.ogg
  sound/magic/demon_dies.ogg
  sound/magic/invoke_general.ogg
  sound/magic/invoke_short.ogg
Owners: @BurgerLUA

Attempts to hide wound flavortext with clothes.
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

Further reduces the strength of Zora Soda.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Owners: none

Changelog
  html/changelogs/arrow768-zoranferfs.yml
Owners: none

Added
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/malfunction/malfunction.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/gamemodes/wizard/wizard.dm
Owners: none

changelog
  html/changelogs/burgerbb - antag requirements.yml
Owners: none

changes + changelog
  html/changelogs/burgerbb - additional dungeons.yml
  maps/dungeon_spawns/carp_nest05.dmm
  maps/dungeon_spawns/temple_unique.dmm
Owners: none

restoration
  html/changelogs/burgerbb - lunchbox removal.yml
Owners: none

Test 1
  html/changelogs/.all_changelog.yml
Owners: none

test2
  html/changelogs/.all_changelog.yml
Owners: none

Delete .all_changelog.yml
  html/changelogs/.all_changelog.yml
Owners: none

restoration attempt #626352
  html/changelogs/.all_changelog.yml
Owners: none

fu
  html/changelogs/.all_changelog.yml
Owners: none

ck
  html/changelogs/.all_changelog.yml
Owners: none

Rat King
  code/modules/mob/abstract/observer/observer.dm
  html/changelogs/burgerbb - rat king.yml
Owners: none

removed bluespace bears
  code/modules/events/infestation.dm
Owners: none

more fixes
  code/controllers/subsystems/processing/vueui.dm
  code/modules/vueui/ui.dm
Owners: @Karolis2011

Battlemonster and other fixes (#5242)
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/items/deck.dm
  code/modules/battlemonsters/items/wrapped.dm
  html/changelogs/burgerbb-morefixes.yml
  icons/obj/items.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Owners: @BurgerLUA

Changelogs, 09SEP2018
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/CodePanter-receive-typos.yml
  html/changelogs/burgerbb-morefixes.yml
  html/changelogs/paradoxspace-nightingale.yml
Owners: none

Comfigurator in vueui
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/file_system/programs/system/configurator.dm
  code/modules/vueui/ui.dm
  vueui/src/assets/theme-nano.scss
  vueui/src/components/header/default.vue
  vueui/src/components/header/modular-computer.vue
  vueui/src/components/view/mcomputer/system/config.vue
  vueui/src/components/vui/progress.vue
Owners: @Arrow768, @Karolis2011

Improvements
  code/controllers/subsystems/processing/vueui.dm
  nano/templates/laptop_configuration.tmpl
  nano/templates/laptop_mainscreen.tmpl
Owners: @Arrow768

Fixes #751, clothes hide wounds and prosthetics.
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Owners: none

Adds some helper procs to calculate the amount of items and its price
  code/game/machinery/vending.dm
  html/changelogs/arrow768-vending-cartridge-balance.yml
Owners: none

Rebalanced the item amount
  code/game/machinery/vending_items.dm
  html/changelogs/arrow768-vending-cartridge-balance.yml
Owners: none

changes requested
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  html/changelogs/moondancerpony-shellbuff.yml
Owners: none

Gives people with +DEBUG (maintainers & head admins) access to the profiler
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Owners: none

Update burgerbb-infestation_overhaul.yml
  html/changelogs/burgerbb-infestation_overhaul.yml
Owners: none

Converts Economy to a Subsystem
  aurorastation.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/cargo.dm
  code/controllers/subsystems/economy.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/job.dm
  code/controllers/subsystems/ticker.dm
  code/game/jobs/job/job.dm
  code/game/machinery/computer/sentencing.dm
  code/game/machinery/vending.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/economy_misc.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_delivery.dm
  code/modules/modular_computers/laptop_vendor.dm
Owners: @Arrow768

Fixes
  maps/aurora/aurora-7_roof.dmm
Owners: none

Added
  code/__defines/mobs.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/controllers/subsystems/job.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/machine_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/blood.dm
  code/modules/power/apc.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_heal.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_hurt.dm
  icons/mob/screen/generic.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Owners: none

Bug fixes and etc.
  code/modules/assembly/igniter.dm
  code/modules/economy/ATM.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_dispenser.dm
Owners: none
