Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

initial (#5360)
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/lordfowl-kois.yml
Owners: none

Port Rust-g DLL and use it for logging (#5394)
  .travis.yml
  TGS3.json
  code/_helpers/logging.dm
  code/world.dm
  html/changelogs/Sindorman-logging.yml
  rust_g.dll
  scripts/rust_g.sh
Owners: @Arrow768

Add unittests for bad doors, bad firedoors and bad pipes
  code/unit_tests/map_tests.dm
Owners: none

Ignore non-station-levels
  code/unit_tests/map_tests.dm
Owners: none

Might be done
  code/modules/mob/living/say.dm
  code/modules/organs/subtypes/diona.dm
Owners: none

Changelog
  html/changelogs/Sindorman-Diona.yml
Owners: none

Fix invalid firedoor on exodus
  maps/exodus/exodus-1_station.dmm
Owners: none

Done
  code/modules/mob/living/say.dm
  code/modules/organs/subtypes/diona.dm
Owners: none

Added
  aurorastation.dme
  code/game/machinery/chem_heater.dm
  code/game/objects/items/weapons/circuitboards/machinery/chem_heater.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers.dm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Finally finished it: blindness, muffled speech and regen fix
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/say.dm
Owners: none

Changelog
  code/modules/mob/living/carbon/diona_base.dm
  html/changelogs/Sindorman-Diona.yml
Owners: none

Adds ipc voidsuits.
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/wizard.dm
Owners: none

The icons now.
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/suit.dmi
  icons/obj/clothing/species/machine/hats.dmi
  icons/obj/clothing/species/machine/suits.dmi
Owners: none

Fixes a sprite issue.
  icons/mob/species/machine/helmet.dmi
Owners: none

Adds changelog
  html/changelogs/alberyk-voidsuit.yml
Owners: none

Hos voidsuit + cycler
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/void/station.dm
  icons/mob/head.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/suits.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Changelog
  html/changelogs/doc-hos-voidsuit.yml
Owners: none

Also changelog
  html/changelogs/doc-kyres-hos-voidsuit.yml
Owners: none

expert changes
  aurorastation.dme
  code/game/machinery/chem_heater.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Temperature.dm
  code/modules/reagents/reagent_containers.dm
Owners: none

EVERYTHING IS BROKEN
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Temperature.dm
Owners: none

Fixes the spirit board.
  code/game/objects/items/spirit_board.dm
Owners: none

what what
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Temperature.dm
Owners: none

IT FUCKING WORKS
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Temperature.dm
Owners: none

Light sprite additions
  icons/mob/head.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/unathi/helmet.dmi
Owners: none

Light sprites part 2 whoops
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/unathi/hats.dmi
Owners: none

construction overhaul part 1
  aurorastation.dme
  code/datums/expansions/multitool/machinery/mineral.dm
  code/game/machinery/constructable_frame.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/objects/items/weapons/circuitboards/machinery/mineral.dm
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/modules/materials/material_recipes.dm
  code/modules/mining/machine_console.dm
  code/modules/mining/machine_input_output_plates.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_rigpress.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mint.dm
  code/modules/mob/living/silicon/robot/gripper.dm
  code/modules/recycling/conveyor2.dm
  code/modules/research/designs/circuit_designs.dm
  icons/obj/machines/hopper.dmi
  maps/aurora/backup/aurora-4_mainlevel.dmm
Owners: none

this fucking works
  code/datums/wires/vending.dm
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Temperature.dm
Owners: none

fucking mapmerge
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

oops
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Owners: none

what
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Owners: none

newscaster, holopad, cameras, and an airlock
  maps/aurora/aurora-3_sublevel.dmm
Owners: none

further changes
  code/game/machinery/doppler_array.dm
  maps/aurora/aurora-3_sublevel.dmm
Owners: none

More Unittests (#5417)
  code/unit_tests/map_tests.dm
  maps/exodus/exodus-1_station.dmm
Owners: none

New Firelock Icons (#5413)
  html/changelogs/burgerbb-firelock.yml
  icons/obj/doors/DoorHazard.dmi
  icons/obj/doors/hatches.dmi
Owners: none

Adds proper power and atmospherics pipes to the construction level.
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

Changelog
  html/changelogs/furrycactus-constructionlevel.yml
Owners: none

travis i come bearing gifts
  maps/aurora/aurora-5_interstitial.dmm
Owners: none

ugh travis
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Owners: none

fixed
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/suits/labcoat.dm
Owners: @Skull132

some piping changes
  maps/aurora/aurora-3_sublevel.dmm
Owners: none

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011
