Repository Aurorastation/Aurora.3, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Arrow768, @BurgerLUA, @Skull132, @Alberyk, @Karolis2011

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# The list is ordered alphabetically, please try to preserve the order when editing it.
# If you want to be added, make a PR that adds you to it.
# If you are added, then you are expected to review PRs in a timely manner.

/SQL/ @Arrow768
/code/__defines/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/battle_monsters.dm @BurgerLUA
/code/controllers/subsystems/cargo.dm @Arrow768
/code/datums/api.dm @Arrow768
/code/datums/cargo.dm @Arrow768
/code/datums/discord/ @Skull132
/code/datums/server_greeting.dm @Skull132
/code/defines/procs/dbcore.dm @Skull132
/code/modules/battlemonsters/ @BurgerLUA
/code/modules/cargo/ @Arrow768
/code/modules/client/preference_setup/ @Skull132
/code/modules/customitems/item_defines.dm @Alberyk
/code/modules/http/ @Arrow768 @Skull132
/code/modules/item_worth/ @Arrow768
/code/modules/modular_computers/ @Arrow768
/code/modules/telesci/ @Arrow768
/code/modules/udp/ @Arrow768
/code/modules/vueui/ @Karolis2011
/code/modules/web_interface/ @Arrow768
/code/world.dm @Arrow768
/lib/ @Skull132
/nano/templates/ @Arrow768
/vueui/ @Karolis2011

Adds the new syllable at the lore team request. (#5329)
  code/modules/mob/language/generic.dm
  code/modules/mob/language/station.dm
Owners: none

Fixes missing periods.
  code/modules/mob/living/carbon/metroid/items.dm
Owners: none

Unapologetic Kabbalah Buffs (#5323)
  aurorastation.dme
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/metroid/items.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spells/aoe_turf/conjure/golem.dm
  code/modules/spells/spellbook/battlemage.dm
  code/modules/spells/spellbook/druid.dm
  html/changelogs/alberyk-golem.yml
  icons/mob/human_races/golem/r_bronze.dmi
  icons/mob/human_races/golem/r_cardboard.dmi
  icons/mob/human_races/golem/r_cloth.dmi
  icons/mob/human_races/golem/r_coal.dmi
  icons/mob/human_races/golem/r_flesh.dmi
  icons/mob/human_races/golem/r_wood.dmi
  icons/mob/human_races/r_golem.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/screen/spells.dmi
  sound/magic/anima_fragment_death.ogg
Owners: none

Only Announce Faxes if someone doesnt have their PDA linked (#5291)
  SQL/migrate/V031__more_do_options.sql
  code/datums/api.dm
Owners: @Arrow768

Lichdom and apprentice contract improvements (#5285)
  code/modules/spells/contracts.dm
  code/modules/spells/targeted/necromancer_spells.dm
  html/changelogs/alberyk-wizard.yml
Owners: none

"[ci skip] Automatic Build - 2018.10.06.22.55.19"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Sindorman-cameras.yml
  html/changelogs/Sindorman-carp-update.yml
  html/changelogs/Sindorman-centra-remap.yml
  html/changelogs/Sindorman-table.yml
  html/changelogs/albery-runes.yml
  html/changelogs/alberyk-blood.yml
  html/changelogs/alberyk-brains.yml
  html/changelogs/alberyk-clothing.yml
  html/changelogs/alberyk-golem.yml
  html/changelogs/alberyk-hair.yml
  html/changelogs/alberyk-holodeck.yml
  html/changelogs/alberyk-tajara.yml
  html/changelogs/alberyk-toys.yml
  html/changelogs/alberyk-vaurca.yml
  html/changelogs/alberyk-wizard.yml
  html/changelogs/arrow768-door-welding.yml
  html/changelogs/arrow768-leyon.yml
  html/changelogs/arrow768-medical-intern.yml
  html/changelogs/arrow768-staff-of-changes.yml
  html/changelogs/arrow769-cortical-stacks-tech.yml
  html/changelogs/arrow769-icelance.yml
  html/changelogs/arrow769-vkrexi.yml
  html/changelogs/burgerbb - additional dungeons.yml
  html/changelogs/burgerbb - lunchbox removal.yml
  html/changelogs/burgerbb - spawn produce.yml
  html/changelogs/burgerbb-chocolate.yml
  html/changelogs/burgerbb-disposals_improvements.yml
  html/changelogs/burgerbb-drink_and_hunger_overhaul.yml
  html/changelogs/burgerbb-infestation_overhaul.yml
  html/changelogs/burgerbb-skinhead.yml
  html/changelogs/dapocalypse-development.yml
  html/changelogs/dragodress.yml
  html/changelogs/fowl-gudgot.yml
  html/changelogs/furrycactus-medical-overhaul.yml
  html/changelogs/furrycactus-solars.yml
  vueui/package-lock.json
Owners: @Karolis2011

Fixes a human icon.
  icons/mob/human_races/r_human.dmi
Owners: none

"[ci skip] Automatic Build - 2018.10.07.00.02.56"
  vueui/package-lock.json
Owners: @Karolis2011

Added
  code/game/machinery/doors/blast_door.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/burgerbb - octo fixes.yml
  interface/skin.dmf
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Golem name fix.
  code/modules/mob/living/carbon/metroid/items.dm
Owners: none

Fixes, Part 1 out of 10. (#5366)
  code/game/machinery/doors/blast_door.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/burgerbb - octo fixes.yml
  interface/skin.dmf
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

"[ci skip] Automatic Build - 2018.10.07.00.26.49"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/burgerbb - octo fixes.yml
  vueui/package-lock.json
Owners: @Karolis2011

October fixes: leg icon and golem names (#5365)
  code/modules/mob/living/carbon/metroid/items.dm
  icons/mob/human_races/r_human.dmi
Owners: none

Species hunger fixes
  code/modules/mob/living/carbon/human/species/station/golem.dm
Owners: none

And the rest of it.
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
Owners: none

Fixes species that should have no hunter and thirst having it (#5368)
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
Owners: none

added
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Zombies tweaks.
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

More tweaks.
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

Fixes the compile.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

Added
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/burgerbb - slimes and intoxication.yml
Owners: none

Golem fixes.
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/metroid/items.dm
Owners: none

Flesh golem fixes.
  code/modules/mob/living/carbon/human/species/station/golem.dm
Owners: none

Constructs fixes and the like.
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Owners: none

Fixes animals falling down the ladders.
  code/modules/mob/living/simple_animal/simple_animal.dm
Owners: none

Fixes a runtime when forcing airlocks open.
  code/game/machinery/doors/airlock.dm
Owners: none

Fixes shoes not covering wounds properly. (#5358)
  code/modules/mob/living/carbon/human/examine.dm
Owners: none

Golem fixes (#5379)
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/metroid/items.dm
Owners: none

Arrow requested changes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

added (#5371)
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Owners: none

Admins are no longer kicked for using proxies
  code/modules/client/client procs.dm
Owners: none

Slimes and Booze fixes (#5378)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/burgerbb - slimes and intoxication.yml
Owners: none

Zombies tweaks (#5377)
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none

Bugfixes: constructs, simple animals falling down and airlock runtimes (#5380)
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Owners: none

"[ci skip] Automatic Build - 2018.10.07.18.17.18"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/burgerbb - slimes and intoxication.yml
Owners: none

Added
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/burgerbb - hunger tweaks.yml
Owners: none

aaaa
  code/modules/mob/mob_helpers.dm
  html/changelogs/burgerbb - hunger tweaks.yml
Owners: none

Hunger Icon Tweaks (#5384)
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/burgerbb - hunger tweaks.yml
Owners: none

"[ci skip] Automatic Build - 2018.10.07.18.38.09"
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/burgerbb - hunger tweaks.yml
Owners: none

Whoops.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Owners: none
