Repository Aurorastation/Aurora.3, changes with the labels that .github/labeler.yml gives for each.
All labels: Changelog Required, Database, 🗺️ Mapping - Aurora, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Dungeon, 🗺️ Mapping - Event, 🗺️ Mapping - Random Ruins, 🗺️ Mapping - Runtime, 🗺️ Mapping - Horizon, 🗺️ Mapping - Templates, Sounds, TGUI, Tools, Javascript, Python, Sprites

.github/labeler.yml:

# Folder Rules
'Changelog Required':
- '!html/changelogs/*.yml'

Database:
- SQL/**

'🗺️ Mapping - Aurora':
- maps/aurora/**

'🗺️ Mapping - Away Ship/Away Site':
- maps/away/**

'🗺️ Mapping - Dungeon':
- maps/dungeon_spawns/**

'🗺️ Mapping - Event':
- maps/event/**

'🗺️ Mapping - Random Ruins':
- maps/random_ruins/**

'🗺️ Mapping - Runtime':
- maps/runtime/**

'🗺️ Mapping - Horizon':
- maps/sccv_horizon/**

'🗺️ Mapping - Templates':
- maps/templates/**

Sounds:
- sound/**

TGUI:
- tgui/**

Tools:
- tools/**
- .github/**

# File Type Rules
Javascript:
- '**/*.js'

Python:
- '**/*.py'

Sprites:
- '**/*.dmi'

emperor protects
  aurorastation.dme
  code/__defines/_atoms.dm
  code/__defines/_flags.dm
  code/__defines/dcs/signals/signals_atom/signals_atom_main.dm
  code/__defines/dcs/signals/signals_atom/signals_atom_x_act.dm
  code/__defines/dcs/signals/signals_global.dm
  code/__defines/subsystem-defines.dm
  code/_helpers/atoms.dm
  code/_helpers/logging/_logging.dm
  code/_helpers/mouse.dm
  code/_helpers/spatial_info.dm
  code/controllers/master/subsystem.dm
  code/controllers/subsystems/event.dm
  code/controllers/subsystems/icon_smooth.dm
  code/controllers/subsystems/icon_updates.dm
  code/controllers/subsystems/initialization/atoms.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/controllers/subsystems/overlays.dm
  code/game/atom/atoms_initializing_EXPENSIVE.dm
  code/game/atoms.dm
  code/game/atoms_init.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated/floor.dm
  code/modules/effects/maze_generation/maze_generator.dm
  code/modules/maps/map_template.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  code/modules/mob/living/announcer.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/mob/living/simple_animal/corpse.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/organs/organ.dm
  code/modules/telesci/gps.dm
  html/changelogs/fluffyghost-ssatomupdate.yml
Labels: Changelog Required

sdfas
  aurorastation.dme
  code/__defines/subsystem-defines.dm
  code/game/atom/atoms_initializing_EXPENSIVE.dm
  code/modules/effects/map_effects/window_spawner.dm
  code/modules/heavy_vehicle/mecha_part_spawners.dm
Labels: Changelog Required

Should hopefully fix rangers running out of power while flying because their APCs give out due to powerdraw.
  html/changelogs/LynxSolstice-Ranger-engine-power-fix.yml
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

sadf
  aurorastation.dme
Labels: Changelog Required

idk
  maps/away/away_site/orion_automated_station/orion_automated_station.dm
  maps/away/away_site/orion_automated_station/orion_automated_station.dmm
  maps/away/away_site/orion_automated_station/orion_automated_station_areas.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

sdf
  aurorastation.dme
Labels: Changelog Required

Hydroponics HAB fix (freebooter)
  html/changelogs/LynxSolstice-Wiring-fix-freebooter.yml
  maps/away/ships/freebooter/freebooter_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

author fix
  html/changelogs/LynxSolstice-Wiring-fix-freebooter.yml
Labels: none

yeah
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

we may be back
  html/changelogs/RustingWithYou - ihatemylife.yml
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

overdoing it a little
  code/defines/procs/announce.dm
  code/modules/economy/Events.dm
  code/modules/events/apc_damage.dm
  code/modules/events/blob.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/camera_damage.dm
  code/modules/events/carp_migration.dm
  code/modules/events/ccia_general_notice.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  code/modules/events/false_alarm.dm
  code/modules/events/gravity.dm
  code/modules/events/grid_check.dm
  code/modules/events/infestation.dm
  code/modules/events/ion_storm.dm
  code/modules/events/maint_drones.dm
  code/modules/events/meteors.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/events/prison_break.dm
  code/modules/events/random_antagonist.dm
  code/modules/events/rescue_pod.dm
  code/modules/events/rogue_drones.dm
  code/modules/events/spacevine.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/spontaneous_appendicitis.dm
  code/modules/events/supply_drop.dm
  code/modules/events/visitor.dm
  code/modules/events/wallrot.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/psionics/events/_psi.dm
  code/modules/psionics/events/mini_spasm.dm
  html/changelogs/geeves-overmap_announcement.yml
Labels: Changelog Required

Beefs up the powergrid on the Tajaran Smuggler ship
  html/changelogs/LynxSolstice-Tajara-Smuggler-Power-Fix.yml
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

TGUI Nav Console
  code/modules/overmap/ships/computers/helm.dm
  html/changelogs/geeves-tgui_nav_console.yml
  nano/templates/nav.tmpl
  tgui/packages/tgui/interfaces/Nav.tsx
  tgui/packages/tgui/layouts/NtosWindow.js
Labels: Changelog Required, TGUI, Javascript

update cl
  html/changelogs/geeves-overmap_announcement.yml
Labels: none

make the D1 stairs prettier
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

Carbon/human organs qdel (#18018)
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/FluffyGhost-carbon_human_organs_qdel.yml
Labels: Changelog Required

Refdrop chemholder (#18012)
  code/modules/reagents/Chemistry-Holder.dm
  html/changelogs/FluffyGhost-refdrop_chemholder.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/FluffyGhost-carbon_human_organs_qdel.yml
Labels: Changelog Required

sdf
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/nymph_limbs.dm
  html/changelogs/fluffyghost-fixandimprovelimbnymphs.yml
Labels: Changelog Required

Fix and Changelog
  code/game/objects/structures/flags_banners.dm
  html/changelogs/Furrycactus-kazhkz-flag-fix.yml
  icons/obj/structure/flags.dmi
Labels: Changelog Required, Sprites

a
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

Further Scarab ship tweaks
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab_areas.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

autolathe and stuff
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

Minor issues
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

warp
  maps/away/ships/orion/orion_express_ship.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

Mirror Shade Fix
  code/modules/psionics/abilities/mirror_shade.dm
  html/changelogs/geeves-mirror_shade_fix.yml
Labels: Changelog Required

Auto equips holster + fixes suit open state
  code/game/jobs/job/hra.dm
  code/modules/clothing/factions/scc.dm
  icons/obj/item/clothing/department_uniforms/scc.dmi
Labels: Changelog Required, Sprites

aviator sunglasses
  code/game/jobs/job/hra.dm
Labels: Changelog Required

Update code/modules/organs/subtypes/nymph_limbs.dm
  code/modules/organs/subtypes/nymph_limbs.dm
Labels: Changelog Required

Update meep109_orionship.yml
  html/changelogs/meep109_orionship.yml
Labels: none

mapdifffix
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

bye bye template flag
  maps/away/ships/orion/orion_express_ship.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

better balancing
  maps/away/ships/orion/orion_express_ship.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

Improve cryo tubes (#17919)
  code/game/machinery/cryo.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/GeneralCamo - Cryo Pod buff.yml
  icons/obj/cryogenics.dmi
  icons/obj/cryogenics_split.dmi
  tgui/packages/tgui/interfaces/CryoTube.tsx
Labels: Changelog Required, TGUI, Sprites

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/FluffyGhost-refdrop_chemholder.yml
  html/changelogs/GeneralCamo - Cryo Pod buff.yml
Labels: Changelog Required

crayon-icons-fix
  code/game/objects/items/crayons.dm
  code/game/objects/items/draftingchalk.dm
Labels: Changelog Required

changelog
  html/changelogs/kermit-crayonschalk.yml
Labels: none

Exosuit Turn Fix (#17991)
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/premade/light.dm
  html/changelogs/geeves-exosuit_turn_fix.yml
Labels: Changelog Required

Fixes a scrubber in the kitchen (#18026)
  html/changelogs/meep109_scrubberfix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

Hydroponics HAB fix (freebooter) (#18034)
  html/changelogs/LynxSolstice-Wiring-fix-freebooter.yml
  maps/away/ships/freebooter/freebooter_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site
