Repository Aurorastation/Aurora.3, changes with the labels that .github/labeler.yml gives for each.
All labels: Changelog Required, Database, 🗺️ Mapping - Aurora, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Dungeon, 🗺️ Mapping - Event, 🗺️ Mapping - Random Ruins, 🗺️ Mapping - Runtime, 🗺️ Mapping - Horizon, 🗺️ Mapping - Templates, Sounds, TGUI, Tools, Javascript, Python, Sprites

Scarab Ship Convenience Tweaks and Bugfixes (#18036)
  html/changelogs/RustingWithYou - ihatemylife.yml
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab_areas.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

sfad (#18021)
  code/game/machinery/iv_drip.dm
  code/game/objects/items/airbubble.dm
  code/game/objects/items/devices/geiger.dm
  code/game/objects/items/devices/magnetic_lock.dm
  code/game/objects/items/weapons/autopsy.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/traps.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/mining/machine_processing.dm
  code/modules/multiz/movement.dm
  code/modules/overmap/contacts/contact_sensors.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/shuttles/shuttle_lift.dm
  code/modules/turbolift/turbolift.dm
  html/changelogs/fluffyghost-staticsoundfilepaths.yml
  sound/machines/dotprinter.ogg
Labels: Changelog Required, Sounds

ert extravaganza (#18022)
  aurorastation.dme
  code/datums/ert/corporate.dm
  code/datums/ert/nanotrasen.dm
  code/datums/ert/outsider.dm
  code/datums/outfits/ert/coalition.dm
  code/datums/outfits/ert/hephaestus_ert.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/ghostroles/spawner/human/responseteams/corporate/hephaestus.dm
  code/modules/ghostroles/spawner/human/responseteams/corporate/nt_ert.dm
  code/modules/ghostroles/spawner/human/responseteams/corporate/scc_ert.dm
  code/modules/ghostroles/spawner/human/responseteams/human/coalition.dm
  html/changelogs/RustingWithYou - emergency.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/RustingWithYou - ihatemylife.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/RustingWithYou - emergency.yml
  html/changelogs/fluffyghost-staticsoundfilepaths.yml
Labels: Changelog Required

a
  code/modules/cargo/delivery/package.dm
  html/changelogs/DreamySkrell-scc-scout-ship-packages.yml
  maps/away/ships/scc/scc_scout_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

sfad
  code/modules/modular_computers/file_system/programs/engineering/_engineering.dm
  html/changelogs/fluffyghost-fixborgsalarmprogramaccess.yml
Labels: Changelog Required

a
  code/game/gamemodes/events/holidays/holidays.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

Sounds static reference check (#18023)
  html/changelogs/fluffyghost-soundstaticrefcheck.yml
  tools/ci/check_grep.sh
Labels: Changelog Required, Tools

pamphlet + shutters
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/fluffyghost-soundstaticrefcheck.yml
Labels: Changelog Required

fix VV
  code/game/gamemodes/events/holidays/holidays.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  html/changelogs/mattatlas-sdql2.yml
Labels: Changelog Required

Port the /TG/ globals controller.
  aurorastation.dme
  code/__defines/_globals.dm
  code/controllers/globals.dm
  code/game/world.dm
Labels: Changelog Required

oops
  tgui/packages/tgui/layouts/Window.js
  tgui/packages/tgui/routes.tsx
Labels: Changelog Required, TGUI, Javascript

sadf (#18050)
  code/game/antagonist/station/thrall.dm
  code/game/antagonist/station/vampire.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/transform_procs.dm
  code/modules/modular_computers/file_system/program.dm
  html/changelogs/fluffyghost-fixairoundstartspawn.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/fluffyghost-fixairoundstartspawn.yml
Labels: Changelog Required

sadf (#18051)
  code/modules/modular_computers/file_system/programs/app_presets_equipment.dm
  html/changelogs/fluffyghost-fixaichambercomputers.yml
Labels: Changelog Required

CCIA HRA makeover (#18029)
  code/game/jobs/job/hra.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/clothing/factions/scc.dm
  html/changelogs/nauticall-ccia-makeover.yml
  icons/obj/item/clothing/department_uniforms/scc.dmi
Labels: Changelog Required, Sprites

More Ninja Hardsuits & Gear Crates (#18020)
  code/datums/uplink/gear loadout.dm
  code/datums/uplink/hardsuit_modules.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/rig/hardsuit_token.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/skrell.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  html/changelogs/RustingWithYou - ninjastuff.yml
  icons/obj/hardsuit_token.dmi
Labels: Changelog Required, Sprites

Psi Grip Tweak (#18027)
  code/modules/psionics/abilities/grip.dm
  html/changelogs/geeves-give_em_an_inch.yml
Labels: Changelog Required

Deck 3 Command Tweaks & Fixes (#18028)
  html/changelogs/nauticall-d3command_fixes.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

sadas
  code/__defines/global.dm
  code/game/world.dm
Labels: Changelog Required

Update code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy.dm
Labels: Changelog Required

Update code/game/objects/items/recharger_backpack.dm
  code/game/objects/items/recharger_backpack.dm
Labels: Changelog Required

Update code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: Changelog Required

Update code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: Changelog Required

Update code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: Changelog Required

Fix runtime qdeleted organs (#18013)
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/FluffyGhost-fix_runtime_qdeleted_organs.yml
Labels: Changelog Required

Update code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
Labels: Changelog Required

Tweaks bridge defence lockers access restrictions (#17994)
  html/changelogs/Snowy1237-BridgeLockerAccessTweak.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Changelog Required, 🗺️ Mapping - Horizon

.github/labeler.yml:

# Folder Rules
'Changelog Required':
- '!html/changelogs/*.yml'

Database:
- SQL/**

'🗺️ Mapping - Aurora':
- maps/aurora/**

'🗺️ Mapping - Away Ship/Away Site':
- maps/away/**

'🗺️ Mapping - Dungeon':
- maps/dungeon_spawns/**

'🗺️ Mapping - Event':
- maps/event/**

'🗺️ Mapping - Random Ruins':
- maps/random_ruins/**

'🗺️ Mapping - Runtime':
- maps/runtime/**

'🗺️ Mapping - Horizon':
- maps/sccv_horizon/**

'🗺️ Mapping - Templates':
- maps/templates/**

Sounds:
- sound/**

TGUI:
- tgui/**

Tools:
- tools/**
- .github/**

# File Type Rules
Javascript:
- '**/*.js'

Python:
- '**/*.py'

Sprites:
- '**/*.dmi'
