Repository Aurorastation/Aurora.3, changes with the labels that .github/labeler.yml gives for each.
All labels: Changelog Required, Database, 🗺️ Mapping - Aurora, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Dungeon, 🗺️ Mapping - Event, 🗺️ Mapping - Random Ruins, 🗺️ Mapping - Runtime, 🗺️ Mapping - Horizon, 🗺️ Mapping - Templates, Sounds, TGUI, Tools, Javascript, Python, Sprites

.github/labeler.yml:

# Folder Rules
'Changelog Required':
- '!html/changelogs/*.yml'

Database:
- SQL/**

'🗺️ Mapping - Aurora':
- maps/aurora/**

'🗺️ Mapping - Away Ship/Away Site':
- maps/away/**

'🗺️ Mapping - Dungeon':
- maps/dungeon_spawns/**

'🗺️ Mapping - Event':
- maps/event/**

'🗺️ Mapping - Random Ruins':
- maps/random_ruins/**

'🗺️ Mapping - Runtime':
- maps/runtime/**

'🗺️ Mapping - Horizon':
- maps/sccv_horizon/**

'🗺️ Mapping - Templates':
- maps/templates/**

Sounds:
- sound/**

TGUI:
- tgui/**

Tools:
- tools/**
- .github/**

# File Type Rules
Javascript:
- '**/*.js'

Python:
- '**/*.py'

Sprites:
- '**/*.dmi'

Fix and Changelog (#18042)
  code/game/objects/structures/flags_banners.dm
  html/changelogs/Furrycactus-kazhkz-flag-fix.yml
  icons/obj/structure/flags.dmi
Labels: Changelog Required, Sprites

Mirror Shade Fix (#18044)
  code/modules/psionics/abilities/mirror_shade.dm
  html/changelogs/geeves-mirror_shade_fix.yml
Labels: Changelog Required

Icon Fix For Crayons and Drafting Chalk (#18045)
  code/game/objects/items/crayons.dm
  code/game/objects/items/draftingchalk.dm
  html/changelogs/kermit-crayonschalk.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-exosuit_turn_fix.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/meep109_scrubberfix.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/Furrycactus-kazhkz-flag-fix.yml
  html/changelogs/LynxSolstice-Wiring-fix-freebooter.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-mirror_shade_fix.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/kermit-crayonschalk.yml
Labels: Changelog Required

CL
  html/changelogs/GeneralCamo - Caliber Rework.yml
Labels: none

Should hopefully fix rangers running out of power while flying because their APCs give out due to powerdraw. (#18033)
  html/changelogs/LynxSolstice-Ranger-engine-power-fix.yml
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/LynxSolstice-Ranger-engine-power-fix.yml
Labels: Changelog Required

aalarms
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

areas
  aurorastation.dme
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot.dmm
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot_areas.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

New foods, milkshakes, and a bugfix.
  code/game/objects/items/trash.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  html/changelogs/TOMIXCOMICS-PR-DOMINIAERIDANIANDMOREFOODS.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/condiment.dmi
  icons/obj/item/reagent_containers/food/cultural/human.dmi
Labels: Changelog Required, Sprites

changed syrup colors
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/TOMIXCOMICS-PR-DOMINIAERIDANIANDMOREFOODS.yml
Labels: Changelog Required

resolved weird merge conflict
  icons/obj/drinks.dmi
Labels: Changelog Required, Sprites

Update code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
Labels: Changelog Required

Update code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
Labels: Changelog Required

Update code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
Labels: Changelog Required

made requested changes
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
Labels: Changelog Required

Update code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
Labels: Changelog Required

Update code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
Labels: Changelog Required

sadf
  code/game/antagonist/station/thrall.dm
  code/game/antagonist/station/vampire.dm
  code/modules/mob/living/silicon/ai/latejoin.dm
  code/modules/mob/transform_procs.dm
  code/modules/modular_computers/file_system/program.dm
  html/changelogs/fluffyghost-fixairoundstartspawn.yml
Labels: Changelog Required

sadf
  code/modules/modular_computers/file_system/programs/app_presets_equipment.dm
  html/changelogs/fluffyghost-fixaichambercomputers.yml
Labels: Changelog Required

ghhh
  html/changelogs/RustingWithYou - ihatemylife.yml
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

paper fix
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site

rig nerf
  code/modules/clothing/spacesuits/rig/suits/skrell.dm
Labels: Changelog Required

Qdel find refs skip confirmation (#18017)
  code/controllers/subsystems/garbage.dm
  html/changelogs/FluffyGhost-qdel_find_refs_skip_confirmation.yml
Labels: Changelog Required

fix (#18008)
  code/game/area/areas.dm
  html/changelogs/greenjoe12345 - blurbfixes.yml
  maps/_common/areas/station/command.dm
  maps/_common/areas/station/engineering.dm
  maps/_common/areas/station/maintenance.dm
  maps/_common/areas/station/medical.dm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Horizon

PDA/Wristbound On-Mob Sprite Removal (#17988)
  code/modules/modular_computers/computers/subtypes/dev_handheld.dm
  html/changelogs/geeves-pda_sprite_removal.yml
  icons/mob/card.dmi
Labels: Changelog Required, Sprites

Ghost Spawner Manifest (#18001)
  code/controllers/subsystems/ghostroles.dm
  code/game/machinery/cryopod.dm
  code/modules/ghostroles/spawner/base.dm
  html/changelogs/geeves-ghost_spawner_manifest.yml
  tgui/packages/tgui/interfaces/GhostSpawner.tsx
Labels: Changelog Required, TGUI

Courier Expansion (#18002)
  code/modules/cargo/delivery/backpack.dm
  code/modules/cargo/delivery/package.dm
  code/modules/cargo/delivery/receptacle.dm
  html/changelogs/geeves-courier_expansion.yml
  maps/away/ships/orion/orion_express_ship.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Horizon

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/FluffyGhost-qdel_find_refs_skip_confirmation.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-pda_sprite_removal.yml
  html/changelogs/greenjoe12345 - blurbfixes.yml
Labels: Changelog Required

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/geeves-courier_expansion.yml
  html/changelogs/geeves-ghost_spawner_manifest.yml
Labels: Changelog Required

Update code/modules/paperwork/typewriter.dm
  code/modules/paperwork/typewriter.dm
Labels: Changelog Required

Adhomian typewriter and camera (#17999)
  aurorastation.dme
  code/modules/asset_cache/asset_cache.dm
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/paperwork/typewriter.dm
  html/changelogs/alberyk-detectivework.yml
  html/fonts/OFL/font_attributions.txt
  html/fonts/OFL/typewriter.woff
  icons/obj/device.dmi
  icons/obj/storage/briefcase.dmi
  icons/obj/tajara_items.dmi
  sound/attributions.txt
  sound/items/camerabulb.ogg
  sound/machines/typewriter.ogg
Labels: Changelog Required, Sounds, Sprites

Automatic Changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/alberyk-detectivework.yml
Labels: Changelog Required

sdfa
  code/__defines/wires.dm
  code/modules/assembly/assembly.dm
  code/modules/assembly/igniter.dm
  html/changelogs/fluffyghost_fixdeviceassembly.yml
Labels: Changelog Required

fix stuff hopefully maybe please
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Changelog Required, 🗺️ Mapping - Away Ship/Away Site
