Repository Aurorastation/Aurora.3, pull requests merged in 2018-02, with the labels that each got.

#4024 Preparations for BYOND version 512
  .travis.yml
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/game/mecha/combat/combat.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_control_console.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/nano/modules/exosuit_control.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
Labels: Bypass Development

#4274 Blacklisting of builds
  code/controllers/configuration.dm
  code/modules/client/client procs.dm
  config/example/config.txt
  html/templates/welcome_screen.html
Labels: Bypass Development, High Priority, Review Required

#4276 Asteroid sprite fixes
  code/modules/mining/mine_turf_types.dm
  code/modules/mining/mine_turfs.dm
  html/changelogs/lohikar-asteroidagain.yml
  icons/turf/map_placeholders.dmi
  maps/_common/areas/shuttles.dm
  maps/_common/areas/special.dm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/code/aurora.dm
Labels: Bypass Development, Review Required

#4050 Trench coat update
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/admin/verbs/debug.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/item_worth/worths_list.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  html/changelogs/Sindorman-coats.yml
  icons/mob/suit.dmi
  icons/obj/clothing/coloured_detective_coats.dmi
  icons/obj/clothing/coloured_detective_hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Review Required, Sprites

#4282 Fixes the ninja blade's armor pen
  code/game/objects/items/weapons/melee/energy.dm
Labels: Bypass Development, Review Required

#4283 Races that don't get fat cannot be visibly chubby.
  code/__defines/species_languages.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species/outsider/skeleton.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: Awaiting Merge

#4264 Really cool cyborg buffs
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/alberyk-cyborg.yml
Labels: Awaiting Merge

#4292 Fixes shotgun bullets and missing facial hair
  code/modules/projectiles/guns/bang.dm
  code/modules/projectiles/projectile/bullets.dm
  icons/mob/belt_mirror.dmi
  icons/mob/human_face/facial_hair.dmi
Labels: Bypass Development, Review Required, Sprites

#4127 Junkfood Powernerf + Some pain and organ tweaks
  code/modules/organs/blood.dm
  code/modules/organs/organ.dm
  code/modules/organs/pain.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-junkfood.yml
Labels: Review Required

#4273 Saves the client version connecting to the server
  SQL/migrate/V015__log_version.sql
  code/modules/client/client procs.dm
Labels: Review Required

#4246 Skrell suit update
  code/controllers/subsystems/traumas.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/modkit.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/ezuo_skrellsuits.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Review Required

#4298 Added Stone to Flesh to Druid/Cleric Spellbooks
  code/modules/spells/spellbook/cleric.dm
  code/modules/spells/spellbook/druid.dm
  html/changelogs/Changelog-Takenforgranite.yml
Labels: Review Required

#4237 Improves #4079
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-burritos.yml
Labels: Bypass Development, Review Required, Update Wiki

#4294 Lottery Ticket Powernerf
  code/game/machinery/vending_types.dm
  code/modules/economy/cash.dm
  html/changelogs/BurgerBB-Lottery.yml
  html/changelogs/sdtwbaj-skrellmoney.yml
Labels: Changes Required

#4299 Turns the AI Common intercom off by default.
  html/changelogs/Changelog-IntercomAI.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge

#4269 Buffs mecha weapons and more
  aurorastation.dme
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/mecha/equipment/tracking_beacon.dm
  code/game/mecha/equipment/weapons/mecha_ballistics.dm
  code/game/mecha/equipment/weapons/mecha_energy.dm
  code/game/mecha/equipment/weapons/mecha_grenades.dm
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/mecha/working/hoverpod.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/research/mechfab_designs.dm
  html/changelogs/alberyk-dakka.yml
  icons/mecha/mecha_equipment.dmi
  icons/obj/grenade.dmi
Labels: Awaiting Merge, Sprites

#4295 Extending Wizard Spell Slots
  code/modules/spells/spellbook/battlemage.dm
  code/modules/spells/spellbook/cleric.dm
  code/modules/spells/spellbook/druid.dm
  code/modules/spells/spellbook/standard.dm
  html/changelogs/butterrobber-wizards.yml
Labels: Awaiting Merge

#4303 Made Straightjackets Escapable
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/mob/living/carbon/resist.dm
  html/changelogs/Changelog-Straightjackets.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#4309 Balances shotguns slugs and revolvers
  code/modules/projectiles/guns/bang.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Bypass Development, Review Required

#4280 Add a api command to get information about the current access datums
  code/controllers/subsystems/supply.dm
  code/datums/api.dm
  code/game/jobs/access_datum.dm
Labels: Review Required

#4097 Make the deadman´s switch great again
  code/modules/assembly/signaler.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  html/changelogs/arrow768-makethesignalergreatagain.yml
Labels: Review Required

#4316 fix some sprite names
  icons/mob/custom_synthetic.dmi
Labels: Bypass Development, Review Required

#4104 Lumberjack Powercreep (Added Chainsaws)
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/door_assembly.dm
  html/changelogs/burgerbb-chainsaw.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/weapons.dmi
  sound/weapons/chainsawloop.ogg
  sound/weapons/chainsawloop2.ogg
  sound/weapons/chainsawpull.ogg
Labels: Review Required, Sprites

#4301 Reagent Cleanup/Tweaks
  code/_helpers/global_lists.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/garbage-debug.dm
  code/datums/diseases/advance/advance.dm
  code/modules/cargo/randomstock.dm
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge.dm
  code/modules/reagents/dispenser/cartridge_spawn.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  code/modules/research/rdconsole.dm
  code/modules/virus2/effect.dm
  code/world.dm
Labels: Refactor, Review Required

#4291 Adds brass knuckles and more punching things
  code/_onclick/other_mobs.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/game/objects/random/random.dm
  code/modules/cargo/randomstock.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  html/changelogs/alberyk-basicsofcqc.yml
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Review Required

#4300 Added unathi cocktails
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/Changelog-Unathidrinks.yml
  icons/obj/drinks.dmi
Labels: Review Required, Sprites, Update Wiki

#4326 Speculative fix for some head sprite bugs
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Bypass Development, Review Required

#4321 Map & Ore sanity
  code/controllers/subsystems/initialization/atlas.dm
  code/controllers/subsystems/initialization/misc_early.dm
  code/modules/mining/machine_processing.dm
  code/world.dm
Labels: Bypass Development, Review Required
