Repository Aurorastation/Aurora.3, pull requests merged in 2018-09, with the labels that each got.

#5188 Makes the cooking machines more forgiving
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  html/changelogs/arrow768-cooker.yml
Labels: Awaiting Merge

#5209 Fixes last transfer vote time in stat pane.
  code/controllers/subsystems/vote.dm
Labels: Bypass Development, Changelog Required

#5206 Fixes two bugs
  code/game/gamemodes/changeling/changeling_powers.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
Labels: Bypass Development, Review Required

#5210 Bump flyway version on master
  .travis.yml
  install-flyway.sh
Labels: Awaiting Merge, Bypass Development, Changelog Required, High Priority

#5189 Variable itemcount in vending machines
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  html/changelogs/arrow768-vending-restock.yml
Labels: Awaiting Merge

#5077 ERT riot helmet improvements
  code/modules/clothing/head/helmet.dm
  html/changelogs/doc-erthelms.yml
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#5184 Reduces the meat requirement in the burrito's recipe
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-burrito.yml
  icons/obj/food.dmi
Labels: Review Required, Sprites

#5214 Fixes early transfer voting.
  code/controllers/subsystems/vote.dm
  html/changelogs/MoondancerPony-votefix2.yml
Labels: Awaiting Merge, Bypass Development

#5178 [Mapping] Sublevel Improvements
  html/changelogs/furrycactus - sublevel improvements.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5199 Fixes performance killing potential bug with VueUi
  code/modules/vueui/ui.dm
  vueui/src/components/vui/button.vue
  vueui/src/store.js
  vueui/src/utils.js
Labels: Changelog Required, High Priority, Review Required, VueUi

#5203 Fixes bar issues
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Changelog Required, Mapping: Aurora

#5215 URGENT: Fixes voting
  code/controllers/subsystems/vote.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required, High Priority

#5182 ED 209 update
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  html/changelogs/Sindorman-ED.yml
Labels: Review Required

#5141 [REVIEW ME PLS] Battle Monsters Card Game, or the last* PR.
  aurorastation.dme
  code/__defines/battle_monsters.dm
  code/controllers/subsystems/battle_monsters.dm
  code/game/area/areas.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/battlemonsters/datum_core.dm
  code/modules/battlemonsters/datum_elements.dm
  code/modules/battlemonsters/datum_monsters.dm
  code/modules/battlemonsters/datum_spells.dm
  code/modules/battlemonsters/datum_titles.dm
  code/modules/battlemonsters/datum_traps.dm
  code/modules/battlemonsters/items/card.dm
  code/modules/battlemonsters/items/core.dm
  code/modules/battlemonsters/items/deck.dm
  code/modules/battlemonsters/items/furniture/dueling_area.dm
  code/modules/battlemonsters/items/wrapped.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/holodeck/HolodeckPrograms.dm
  code/modules/mining/coins.dm
  html/changelogs/burgerbb-card_game.yml
  html/copyright_infrigement.png
  icons/obj/battle_monsters/card.dmi
  icons/obj/battle_monsters/furniture.dmi
  icons/obj/battle_monsters/logo.dmi
  icons/obj/items.dmi
  icons/obj/library.dmi
  icons/obj/vending.dmi
  maps/_common/areas/holodeck.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/code/aurora_holodeck.dm
  sound/music/battlemonsters_theme.ogg
  sound/serversound_list.txt
Labels: Mapping: Aurora, Review Required, Sprites, Update Wiki

#5160 Adds Zo'ra Soda
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  html/changelogs/paradoxspace-zzzzoda.yml
  icons/obj/drinks.dmi
  icons/obj/vending.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Feedback Required, Mapping: Aurora, Merge Conflict, Sprites

#5220 Adds missing refill cartridges for the recently added vendors.
  code/game/machinery/vending_items.dm
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/items/furniture/dueling_area.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5219 Fixes the access of the Booze-O-Mat in the bar.
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Changelog Required, Mapping: Aurora, Review Required

#5211 The Final* Foodcode Fix
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-fuckfoodcodev2.yml
Labels: Bypass Development

#5223 Tweaks and fixes some recipes and vaurca related drinks
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5221 Battlemonster Fixes + Slight Improvements
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/datum_elements.dm
  code/modules/battlemonsters/datum_monsters.dm
  code/modules/battlemonsters/datum_spells.dm
  code/modules/battlemonsters/datum_traps.dm
  code/modules/battlemonsters/items/custom_decks.dm
  code/modules/battlemonsters/items/deck.dm
  code/modules/battlemonsters/items/furniture/dueling_area.dm
  code/modules/battlemonsters/items/wrapped.dm
  html/changelogs/burgerbb - battlemonsters.yml
Labels: Awaiting Merge, Bypass Development

#5222 Fixed Extinguishers Being Bad
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/burgerbb-extinguisher_tweaks.yml
Labels: Awaiting Merge, Bypass Development

#5224 Custom items and borg sprites fixes
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5193 Map fixes
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bypass Development, Changelog Required, Mapping: Aurora

#5226 Surge module Fixes
  code/datums/uplink/devices and tools.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5231 Beepsky fix
  code/modules/mob/living/bot/secbot.dm
  html/changelogs/Sindorman-beepsky-fix.yml
Labels: Awaiting Merge, Bypass Development

#5230 Battlemonster Tweaks Part 2 out of 50
  code/__defines/battle_monsters.dm
  code/controllers/subsystems/battle_monsters.dm
  code/modules/battlemonsters/datum_elements.dm
  code/modules/battlemonsters/datum_monsters.dm
  code/modules/battlemonsters/datum_titles.dm
  html/changelogs/burgerbb-battlemonster tweaks v2.yml
Labels: Awaiting Merge, Bypass Development

#5236 Corrected all occurrences of the typo 'recieve'.
  code/__defines/radio.dm
  code/__defines/species_languages.dm
  code/_onclick/drag_drop.dm
  code/datums/api.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/embedded_controller/docking_program.dm
  code/game/machinery/supplybeacon.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/battlemonsters/datum_monsters.dm
  code/modules/cciaa/cciaa.dm
  code/modules/client/preferences_toggles.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/economy/EFTPOS.dm
  code/modules/events/money_spam.dm
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/shock.dm
  code/modules/nano/nanoui.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/power/solar.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/shuttles/shuttle_emergency.dm
  code/modules/shuttles/shuttles_multi.dm
  config/example/config.txt
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/CodePanter-receive-typos.yml
  nano/templates/request_console.tmpl
  tools/GitHub Webhook/github_webhook_processor.php
Labels: Awaiting Merge, Bypass Development

#5234 Cloak Fixes
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/paradoxspace-nightingale.yml
Labels: Awaiting Merge, Bypass Development

#5235 Add Medical Intern as alt Title to Medical Resident
  code/modules/intern/intern.dm
  html/changelogs/arrow768-medical-intern.yml
Labels: Awaiting Merge

#5204 Ports the holodeck locking feature
  code/modules/holodeck/HolodeckControl.dm
  html/changelogs/alberyk-holodeck.yml
Labels: Awaiting Merge

#5242 More Fixes
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/items/deck.dm
  code/modules/battlemonsters/items/wrapped.dm
  html/changelogs/burgerbb-morefixes.yml
  icons/obj/items.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Bypass Development, Mapping: Aurora, Sprites

#5254 Map tiny fixes
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5252 Gives people with +DEBUG (maintainers & head admins) access to the profiler
  code/modules/admin/admin_ranks.dm
  code/modules/admin/holder2.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5246 Further reduces the strength of Zora Soda.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/arrow768-zoranferfs.yml
Labels: Awaiting Merge, Bypass Development, High Priority

#5250 Fixes #751, hides wounds and prosthetics under clothing as intended.
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  html/changelogs/moondancerpony-shellbuff.yml
Labels: Awaiting Merge, Bypass Development

#5260 Diona Regen Fixes
  code/modules/mob/living/carbon/diona_base.dm
  html/changelogs/paradoxspace-savethetrees.yml
Labels: Awaiting Merge, Bypass Development

#5266 Corrected a typo in the string used when a player combines two battle monsters decks.
  code/modules/battlemonsters/items/deck.dm
  html/changelogs/CodePanter-too-typo.yml
Labels: Awaiting Merge, Bypass Development

#5269 Blast doors and shutters fix
  code/game/machinery/doors/blast_door.dm
  html/changelogs/Sindorman-fixes.yml
Labels: Awaiting Merge, Bypass Development

#5208 Reduces the american presence on maintenance
  code/game/objects/random/random.dm
Labels: Awaiting Merge, Changelog Required

#5196 Additional Dungeon Spawns
  html/changelogs/burgerbb - additional dungeons.yml
  maps/_common/areas/ai.dm
  maps/dungeon_spawns/carp_nest01.dmm
  maps/dungeon_spawns/carp_nest02.dmm
  maps/dungeon_spawns/carp_nest03.dmm
  maps/dungeon_spawns/carp_nest04.dmm
  maps/dungeon_spawns/carp_nest05.dmm
  maps/dungeon_spawns/carp_nest06.dmm
  maps/dungeon_spawns/cavern_nest01.dmm
  maps/dungeon_spawns/cult_unique.dmm
  maps/dungeon_spawns/escape_pod_unique.dmm
  maps/dungeon_spawns/meme_unique.dmm
  maps/dungeon_spawns/shrine_unique.dmm
  maps/dungeon_spawns/syndie_unique.dmm
  maps/dungeon_spawns/temple_unique.dmm
  maps/dungeon_spawns/vault_unique.dmm
  maps/dungeon_spawns/worm_king_unique.dmm
Labels: Awaiting Merge

#5268 Solars Tweaks
  html/changelogs/furrycactus-solars.yml
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5272 Mapping Fixes
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bypass Development, Changelog Required, Mapping: Aurora

#5258 Allows admins to toggle the round spookyness at their own will
  code/_helpers/game.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Awaiting Merge, Changelog Required

#5275 Battlemonster Bug Fixes and Tweaks
  code/controllers/subsystems/battle_monsters.dm
  code/game/machinery/vending_types.dm
  code/modules/battlemonsters/datum_titles.dm
  code/modules/battlemonsters/items/deck.dm
  html/changelogs/burgerbb-battlemonster_fixes.yml
  icons/obj/vending.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5198 Chefs spawning with random produce
  aurorastation.dme
  code/game/jobs/job/civilian.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/produce.dm
  code/modules/cargo/randomstock.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums.dm
  html/changelogs/.all_changelog.yml
  html/changelogs/burgerbb - spawn produce.yml
Labels: Awaiting Merge

#5238 Adds ouija boards and magic eightballs
  aurorastation.dme
  code/controllers/subsystems/traumas.dm
  code/datums/trading/goods.dm
  code/game/objects/items/eightball.dm
  code/game/objects/items/spirit_board.dm
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  html/changelogs/alberyk-toys.yml
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#5286 Reconfigured five station intercoms that were incorrectly using the security interrogation channel.
  html/changelogs/CodePanter-too-typo.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5200 Leyon Changes
  code/datums/trading/weaponry.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/Arrow768.yml
Labels: Awaiting Merge

#5288 Custom items 15/09
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/ryn_clothing.dmi
  icons/obj/custom_items/talon_coat.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5278 Blood and tracks improvements
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/misc.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/turfs/simulated.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
  code/modules/multiz/turfs/open_space.dm
  html/changelogs/alberyk-blood.yml
Labels: Awaiting Merge

#5289 Fixes attack and defense messages using the wrong var
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
Labels: Awaiting Merge, Bypass Development

#5292 Fixed ERT not showing up on the spec ops monitor.
  html/changelogs/arrow768-ertcams.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5298 Fixes mechs being stuck in maint mode
  code/game/mecha/mecha.dm
  html/changelogs/arrow768-mechs.yml
Labels: Awaiting Merge, Bypass Development

#5290 Bug fixes
  code/game/machinery/newscaster.dm
  code/game/objects/structures/curtains.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/bot/secbot.dm
  html/changelogs/Sindorman-fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5287 Added the Icelance Rifle to the Uplink
  code/datums/uplink/highly visible and dangerous weapons.dm
  html/changelogs/arrow769-icelance.yml
Labels: Awaiting Merge

#5297 Added vkrexi cube boxes.
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/arrow769-vkrexi.yml
Labels: Awaiting Merge

#5309 Slime AI update
  code/modules/mob/living/carbon/metroid/life.dm
  html/changelogs/arrow768-slime-ai-update.yml
Labels: Awaiting Merge, Bypass Development

#5293 Adds a new hairstyle
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/alberyk-hair.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#5067 PasswordProtectedFiles
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/system/file_browser.dm
  html/changelogs/dapocalypse-development.yml
  nano/templates/file_manager.tmpl
Labels: Review Required

#5311 Cult runes tweaks
  code/game/gamemodes/cult/cult_structures.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  html/changelogs/albery-runes.yml
Labels: Awaiting Merge

#5317 Fix poweralarm on derelict shuttle
  html/changelogs/arrow768-shuttle-teg.yml
  maps/dungeon_spawns/shuttle_unique.dmm
Labels: Awaiting Merge, Bypass Development

#5316 The contents of the kitchen and engineering vendor are no longer randomized.
  code/game/machinery/vending_types.dm
  html/changelogs/arrow768-less-random-content.yml
Labels: Awaiting Merge, Bypass Development

#5319 Allows IPCs to join as full cult members again
  code/game/gamemodes/cult/runes.dm
  html/changelogs/arrow768-narnar.yml
Labels: Awaiting Merge, Bypass Development

#5326 Fixes the vaurca cape icon
  code/game/objects/items/weapons/storage/backpack.dm
  icons/mob/species/vaurca/back.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5280 Adds more vaurca loadout items
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  html/changelogs/alberyk-vaurca.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#5305 Unlocking secure lockers
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  html/changelogs/Sindorman-lock.yml
Labels: Bypass Development, Review Required

#5315 Added a customizable evening gown from Polaris Code
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/dragodress.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#5339 Fixes fingerless gloves and bacon burger
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/clothing/gloves/color.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Awaiting Merge, Bypass Development

#5259 Unapologetic Undead Buffs
  aurorastation.dme
  code/modules/cargo/randomstock.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/spells/targeted/cleric_spells.dm
  code/modules/spells/targeted/necromancer_spells.dm
  html/changelogs/alberyk-brains.yml
  icons/mob/human_races/r_zombie.dmi
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Sprites

#5296 Another fashion update: dress, medical gown and fannypack edition
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/alberyk-clothing.yml
  icons/mob/belt.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites
