Repository Aurorastation/Aurora.3, pull requests merged in 2018-07, with the labels that each got.

#4926 Makes crew copied holograms a better copies
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/Karolis2011 - AI holo.yml
Labels: Review Required

#4931 Adds a notification system
  SQL/migrate/V029__player_notifications.sql
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/warning.dm
  code/modules/client/client procs.dm
  code/modules/client/preferences_notification.dm
  html/changelogs/Arrow768-playernotifications.yml
Labels: Review Required

#4957 Fix Phantom Globals
  code/_helpers/logging.dm
  code/game/gamemodes/cult/cult_structures.dm
  code/game/machinery/kitchen/cooking_machines/_mixer.dm
  code/game/objects/items/airbubble.dm
  code/game/objects/items/weapons/landmines.dm
  code/game/objects/items/weapons/trays.dm
  code/game/objects/structures/therapy.dm
  code/modules/cciaa/cciaa.dm
  code/modules/client/preference_setup/general/02_language.dm
  code/modules/customitems/item_defines.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/devour.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/projectiles/guns/energy/modular.dm
  code/modules/projectiles/targeting/targeting_triggers.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/spells/aoe_turf/knock.dm
Labels: Bypass Development, Review Required

#4959 Light replacer fix, code clean up
  code/game/objects/items/devices/lightreplacer.dm
  html/changelogs/Sindorman-LRfix.yml
  icons/obj/tools/lightreplacer.dmi
Labels: Bypass Development, Review Required

#4930 Unapologetic Skrell Buffs
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/skrellsnax.yml
Labels: Awaiting Merge

#4938 Removes bicaridine's lung healing powers
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/alberyk-lungs.yml
Labels: Review Required, Update Wiki

#4973 Fixes #4972.
  code/modules/materials/materials.dm
Labels: Awaiting Merge, Bypass Development

#4977 Bugfixes
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  html/changelogs/Sindorman-bugfixes.yml
Labels: Awaiting Merge, Bypass Development

#4954 Nerfed borg flash disables
  code/game/objects/items/devices/flash.dm
  html/changelogs/ben10083 - Flash-Borg-Port.yml
Labels: Awaiting Merge

#4985 Custom items 09/07
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/balkerina_robes.dmi
  icons/obj/custom_items/ryan_jacket.dmi
  icons/obj/custom_items/sovno_carrier.dmi
Labels: Bypass Development, Review Required, Sprites

#4975 Buffs the thermal drill
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/alberyk-drill.yml
Labels: Awaiting Merge

#4981 Changes how the conversion sound is handled
  code/game/gamemodes/cult/runes.dm
Labels: Awaiting Merge, Changelog Required

#4989 Bugfixes: the hour of reckoning
  code/datums/brain_damage/phobia.dm
  code/datums/brain_damage/schizo.dm
  code/datums/brain_damage/severe.dm
  code/datums/brain_damage/special_ed.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/machinery/computer/robot.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/events/money_hacker.dm
  code/modules/martial_arts/skrell.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/martial_arts/sol_combat.dm
  code/modules/martial_arts/unathi.dm
  code/modules/martial_arts/wrestling.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  html/changelogs/alberyk-loadoffixes.yml
  icons/mob/animal.dmi
  icons/mob/human_face/hair.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand.dmi
  icons/mob/ties.dmi
Labels: Bypass Development, Review Required, Sprites

#4988 Fixes inhalers having odd interactions with masks
  code/modules/mob/living/carbon/breathe.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/burgerbb-gasmaskfixes.yml
Labels: Bypass Development, Changes Required, Review Required

#4960 Clerical robot getting more stuff
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/ben10083 - Clerical Buff.yml
Labels: Awaiting Merge

#4991 Fixes compile for dev
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Awaiting Merge, Changelog Required, High Priority

#4955 New firearm sound effects.
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  html/changelogs/MattAtlas-firearmsounds.yml
  sound/weapons/gunshot3.ogg
  sound/weapons/gunshot_pistol.ogg
  sound/weapons/gunshot_strong.ogg
Labels: Awaiting Merge

#4970 Unapologetic Medieval Buffs
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/ParadoxSpace-boardandblade.yml
  icons/mob/back.dmi
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#4889 Fixed an age-old tail layering issue.
  code/modules/mob/abstract/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/burgerbb-tail_fix.yml
Labels: Awaiting Merge, Bypass Development

#4990 Bug fixes: trial by fire
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/trays.dm
  code/modules/admin/admin.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/change.dm
  html/changelogs/alberyk-moremorefixes.yml
Labels: Bypass Development, Review Required

#5001 Cyborg component bugfix
  code/modules/mob/living/silicon/robot/component.dm
  html/changelogs/Sindorman-bugfix.yml
Labels: Awaiting Merge, Bypass Development

#5008 Fix a custom item spawning bug
  code/modules/mob/abstract/new_player/new_player.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5014 Fixes inhalers for real now
  code/modules/mob/living/carbon/breathe.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  html/changelogs/burgerbb-inhaler_fix_2.yml
Labels: Awaiting Merge, Bypass Development

#5006 Mapping Fixes
  html/changelogs/ben10083 - Mapping Fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#4992 Cyborg Update
  code/datums/ai_law_sets.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/say.dm
  html/changelogs/Arrow769-borgupdates.yml
Labels: Awaiting Merge

#4949 Kinetic Accelerator Tweaks
  code/game/objects/random/random.dm
  code/modules/cargo/randomstock.dm
  code/modules/custom_ka/projectiles.dm
  code/modules/mining/abandonedcrates.dm
  html/changelogs/burgerbb-kinetic_tweaks.yml
Labels: Awaiting Merge

#4884 [Ready] Asteroid Dungeons
  code/controllers/configuration.dm
  code/controllers/subsystems/initialization/map_finalization.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/random/random.dm
  code/global.dm
  config/example/config.txt
  html/changelogs/burgerbb-sex_dungeons.yml
  icons/1024x1024.dmi
  maps/_common/areas/ai.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/dungeon_readme.txt
  tools/mapmerge/Prepare Maps - Random Dungeons.bat
  tools/mapmerge2/Prepare Maps - Random Dungeons.bat
Labels: Awaiting Merge, Feedback Required, Mapping: Aurora, Sprites

#4993 Fixes "3"
  code/controllers/subsystems/job.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/bots/mulebot.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/structures/therapy.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/detectivework/microscope/dnascanner.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/library/lib_machines.dm
  code/modules/mining/minebot.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/research/xenoarchaeology/machinery/geosample_scanner.dm
  code/modules/vehicles/vehicle.dm
  html/changelogs/skull132-bad_vis_messages.yml
Labels: Awaiting Merge

#5021 Deletes old and no longer functional maps
  old_maps/RandomZLevels/Academy.dm
  old_maps/RandomZLevels/Academy.dmm
  old_maps/RandomZLevels/arcticwaste.dmm
  old_maps/RandomZLevels/assistantChamber.dmm
  old_maps/RandomZLevels/beach.dmm
  old_maps/RandomZLevels/blackmarketpackers.dmm
  old_maps/RandomZLevels/challenge.dm
  old_maps/RandomZLevels/challenge.dmm
  old_maps/RandomZLevels/example.dmm
  old_maps/RandomZLevels/fileList.txt
  old_maps/RandomZLevels/jungle.dmm
  old_maps/RandomZLevels/listeningpost.dmm
  old_maps/RandomZLevels/spacebattle.dmm
  old_maps/RandomZLevels/stationCollision.dm
  old_maps/RandomZLevels/stationCollision.dmm
  old_maps/RandomZLevels/wildwest.dm
  old_maps/RandomZLevels/wildwest.dmm
  old_maps/RandomZLevels/zresearchlabs.dmm
  old_maps/overmap/_map.dmm
  old_maps/overmap/bearcat/bearcat.dm
  old_maps/overmap/bearcat/bearcat.dmi
  old_maps/overmap/bearcat/bearcat.dmm
  old_maps/overmap/example_sector1.dmm
  old_maps/overmap/example_sector2.dmm
  old_maps/overmap/examples.dm
Labels: Awaiting Merge, Changelog Required, Sprites

#4946 Removes pepperspray and telebaton stun
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/alberyk-meannerf.yml
Labels: Awaiting Merge, Feedback Required

#4800 Implements TGS3 API
  TGS3.json
  aurorastation.dme
  code/__defines/tgs.dm
  code/_helpers/logging.dm
  code/controllers/master/master.dm
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/core/default_event_handler.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/world.dm
Labels: Awaiting Merge, Changelog Required

#5031 July Update Bugfixes: Better Than Alberyk Edition.
  code/game/objects/items/weapons/vaurca_items.dm
  code/game/objects/structures/signs.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/multiz/movement.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5029 Minor bugfixes july update
  code/game/objects/items/weapons/trays.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/stylesheet.dm
Labels: Bypass Development, Review Required

#5011 Modifying gloves now increases the siemens coefficient
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/stungloves.dm
  html/changelogs/alberyk-nofunallowed.yml
Labels: Awaiting Merge

#5042 Increases the size of the new player window
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/arrow768-votingsize.yml
Labels: Awaiting Merge, Bypass Development

#5018 More bugfixes
  code/game/machinery/kitchen/microwave.dm
  code/game/mecha/mecha.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/Sindorman-bugfixes.yml
  icons/mob/robots.dmi
  maps/aurora/aurora-6_surface.dmm
Labels: Bypass Development, Mapping: Aurora, Review Required, Sprites

#5002 Removes gibs creation when using arm blade/shield
  code/game/gamemodes/changeling/changeling_powers.dm
  html/changelogs/alberyk-gibs.yml
Labels: Awaiting Merge

#5026 Removes Topic() rate limiting
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  html/changelogs/Karolis2011 - Nolimits.yml
Labels: Awaiting Merge

#5057 Fixed backpressure surges going through welded vents
  code/modules/events/vent_clog.dm
  html/changelogs/burgerbb-vent_fixes.yml
Labels: Awaiting Merge, Bypass Development

#5043 Fixes the ladders at 512.1441
  code/modules/multiz/structures.dm
Labels: Bypass Development, Review Required

#5051 Vaurca Event Fixes
  code/modules/client/client_color.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/carbon/human/species/station/vaurca_subspecies.dm
Labels: Bypass Development, Review Required

#5019 Allow mods to see prayers again
  code/modules/admin/verbs/pray.dm
Labels: Awaiting Merge, Changelog Required

#5047 July update: vaurca and mining fixes
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/multiz/turfs/open_space.dm
  html/changelogs/alberyk-climbing.yml
  icons/obj/clothing/species/vaurca/hats.dmi
  icons/obj/clothing/species/vaurca/suits.dmi
  icons/obj/rig_modules.dmi
Labels: Bypass Development, Review Required, Sprites

#5061 Fixes better holograms not working when mimicked person has turned sideways.
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/Karolis2011 - fix holo.yml
Labels: Bypass Development, Review Required

#5066 Bug Fixes
  code/game/jobs/job/civilian.dm
  code/game/objects/structures/flora.dm
  html/changelogs/Printer16-Fixes.yml
Labels: Awaiting Merge, Bypass Development

#5048 Adding a Medical hud to Medical Module
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/ben10083 - Medical-Module-Additions.yml
Labels: Awaiting Merge

#5050 Adds tajaran flags
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/alberyk-flags.yml
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites
