Repository Aurorastation/Aurora.3, pull requests merged in 2018-12, with the labels that each got.

#5681 Fixes restarts being fucked when admins manually set the round type
  code/modules/admin/topic.dm
Labels: Awaiting Merge, Bugfixes, High Priority

#5680 Updated the github pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Awaiting Merge

#5672 Drink fixes: hooch, winter offensive and cherry tree fireball fixes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/alberyk-drink.yml
Labels: Awaiting Merge, Bugfixes

#5674 Fixes Temperature Reagents
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Temperature.dm
  html/changelogs/unga bunga.yml
Labels: Awaiting Merge, Bugfixes

#5651 The Dangers of Teleportation
  code/datums/helper_datums/teleport.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/organs/organ_external.dm
  html/changelogs/doctorofboom.yml
Labels: Awaiting Merge

#5678 Fixes sweaters
  html/changelogs/shedya-sweaterfixfix.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#5692 Custom items 02/12
  code/__defines/mobs.dm
  code/datums/trading/goods.dm
  code/game/mecha/mech_fabricator.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/organs/organ_external.dm
  icons/mob/human_races/r_diona.dmi
  icons/mob/human_races/r_ind_diona.dmi
  icons/obj/custom_items/diamond_cloak.dmi
  icons/obj/custom_items/klavdiya_amulet.dmi
  icons/obj/custom_items/make_items.dmi
  icons/obj/custom_items/vedai_fork.dmi
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites

#5694 Dress shirts, skirts and suit jackets
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/skirts.dm
  html/changelogs/shedya - dressshirts.yml
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#5657 Ion rifle stun mode update
  code/game/antagonist/outsider/raider.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/portable_turret.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/random_map/drop/drop_types.dm
  html/changelogs/Sindorman-ion.yml
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Feature, Mapping: Aurora, Mapping: Exodus, Sprites

#5704 Fixes #5699 and #5700
  html/changelogs/furrycactus - fixes space air alarm.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5683 Fixes a couple issues regarding R&D modular gun parts
  code/modules/research/designs/weapon_designs.dm
  html/changelogs/weapondesignfix.yml
Labels: Awaiting Merge, Bugfixes

#5685 Allow Trashcats and Guwan to wear galoshes.
  code/modules/clothing/shoes/jobs.dm
  html/changelogs/Kaedwuff - Galoshes.yml
Labels: Awaiting Merge, Feedback Required

#5682 Bugfixes
  code/datums/helper_datums/teleport.dm
  code/datums/trading/vox.dm
  code/game/machinery/vending.dm
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/Sidnorman-bot.yml
  icons/obj/aibots.dmi
Labels: Awaiting Merge, Bugfixes, Sprites

#5691 IPC Xenowear
  code/game/objects/items/devices/flashlight.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/paradoxspace-goldenbeep.yml
  icons/mob/ears.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/lighting.dmi
Labels: Do Not Merge, Sprites

#5701 Metabolism Precision Runtime Errors
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Temperature.dm
  html/changelogs/burgerbb - temperature fixes changelog.yml
Labels: Awaiting Merge, Bugfixes, High Priority

#5578 SMES and APC update
  aurorastation.dme
  code/_helpers/data_structures.dm
  code/modules/power/apc.dm
  code/modules/power/smes.dm
  html/changelogs/Sindorman-smes.yml
  maps/runtime/runtime-1.dmm
  nano/templates/apc.tmpl
  nano/templates/smes.tmpl
Labels: Awaiting Merge, Feature, Mapping: Runtime

#5709 Fixing farmbot watertank
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/Sidnorman-bot2.yml
Labels: Awaiting Merge, Bugfixes

#5615 Random Virus Event Overhaul
  aurorastation.dme
  code/controllers/subsystems/event.dm
  code/modules/events/viral_infection.dm
  code/modules/virus2/effect.dm
  code/modules/virus2/generated_diseases.dm
  html/changelogs/burgerbb - better viruses.yml
Labels: Awaiting Merge

#5695 Temperature Reagent Fix #2
  code/modules/reagents/Chemistry-Holder.dm
  html/changelogs/burgerbb-changelog.yml
Labels: Awaiting Merge, Bugfixes

#5714 Fixes #5712
  code/modules/client/preference_setup/global/02_settings.dm
Labels: Awaiting Merge, Bugfixes, Changelog Required, High Risk

#5684 Firing pin acquisition 2: electric boogaloo
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/projectiles/gun.dm
  html/changelogs/firingpinboogaloo.yml
Labels: Awaiting Merge

#5717 Remove stale halloween jokes
  code/game/machinery/vending_types.dm
Labels: Awaiting Merge, Changelog Required

#5659 Material door updates: lock and damage
  aurorastation.dme
  code/defines/obj/weapon.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/simple_doors.dm
  code/modules/lock/key.dm
  code/modules/lock/lock.dm
  code/modules/lock/lock_construct.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/alberyk-lock.yml
  icons/obj/items.dmi
Labels: Review Required, Sprites

#5728 Merchant fix
  code/datums/trading/unique.dm
Labels: Awaiting Merge, Bugfixes

#5713 Fixing ionrifle back sprites
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/Sindorman-ion.yml
  icons/mob/back.dmi
Labels: Awaiting Merge, Bugfixes, Sprites

#5687 Fixing dev's perms
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
Labels: Awaiting Merge, Changelog Required

#5697 Carmen Miranda's Ghost
  code/datums/helper_datums/teleport.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/mob_movement.dm
  code/modules/telesci/telesci_computer.dm
  html/changelogs/echoechoecho.yml
Labels: Awaiting Merge, Update Wiki

#5663 Fixing runtimes
  README.md
  code/modules/lighting/lighting_source.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/Sindorman-runtimes.yml
Labels: Awaiting Merge, Bugfixes

#5720 Farmbot tweak/fix
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/Sidnorman-bot3.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  nano/templates/apc.tmpl
  nano/templates/smes.tmpl
Labels: Awaiting Merge, Bugfixes, Mapping: Aurora

#5736 Removes Ligma, changes some disease names.
  code/modules/virus2/generated_diseases.dm
  html/changelogs/remove-ligma.yml
Labels: Awaiting Merge

#5627 Implements New Gas Mask Sprites
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/masks/gasmask.dm
  html/changelogs/burgerbb - implementation.yml
  html/changelogs/dronz - sprites.yml
  icons/mob/mask.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Awaiting Merge, Feature, Sprites

#5710 Slime ignoring skrell(lore request)
  code/modules/mob/living/carbon/metroid/life.dm
  html/changelogs/Sindorman-slime.yml
Labels: Awaiting Merge, Lore Request

#5668 Less Stupid Fireaxes
  code/game/objects/items/weapons/material/twohanded.dm
  html/changelogs/Kaedwuff - Fireaxe.yml
Labels: Awaiting Merge, Feedback Required

#5735 Viral Announcement Fixes
  code/modules/events/viral_infection.dm
  html/changelogs/burgerbb - announcement.yml
Labels: Awaiting Merge, Bugfixes

#5733 Fixing dev perms V2
  code/modules/admin/admin_verbs.dm
Labels: Awaiting Merge, Bugfixes, Changelog Required

#5633 Chemistry Map + Equipment Improvements
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  html/changelogs/burgerbb-chemistry.yml
  icons/obj/chemical.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Feature, Mapping: Aurora, Sprites

#5707 Adds Skrell Shared Dreaming
  aurorastation.dme
  code/game/objects/effects/landmarks.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/shareddream/area.dm
  code/modules/shareddream/brainghost.dm
  code/modules/shareddream/dream_entry.dm
  html/changelogs/tehflamintaco.yml
  icons/turf/areas.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5725 Fixes some skrell tentacle gear and baldness
  code/modules/mob/living/carbon/human/species/station/station.dm
  icons/mob/ears.dmi
  icons/obj/clothing/ears.dmi
Labels: Awaiting Merge, Bugfixes, Sprites

#5726 Changes the contents of the random vault rigs
  code/game/objects/random/random.dm
  html/changelogs/alberyk-vault.yml
Labels: Awaiting Merge

#5747 Fixes an issue with firing pin boxes being filled incorrectly + fix to farmbots
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/yikesschev.yml
Labels: Awaiting Merge, Bugfixes

#5719 Gamemode Start Tweaks
  code/__defines/gamemode.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/meme/meme.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/wizard/wizard.dm
  html/changelogs/burgerbb - limiter.yml
Labels: Awaiting Merge, Feature

#5708 Epinephrine and Atropine Reworks
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/burgerbb- epi.yml
Labels: Awaiting Merge, Bugfixes, Feature, Feedback Required

#5716 Adds some new junk food sprites
  html/changelogs/alberyk-foodsprite.yml
  icons/obj/food.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites

#5731 Various clothing additions
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/shirts.dm
  code/modules/clothing/under/skirts.dm
  html/changelogs/shedya-modular_tshirts.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#5750 Fixed Autoinhalers not working + Autoinjectors missing from chem + Changelog correction.
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/burgerbb-dumb.yml
Labels: Awaiting Merge, Bugfixes

#5742 Removes Telescience
  code/datums/helper_datums/teleport.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/stuffstuffstuff.yml
  icons/obj/wizard.dmi
Labels: Awaiting Merge, Sprites

#5760 Fun with Plants: Ft - Pitbull Worldwide
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_process.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/ihateeverything.yml
Labels: Awaiting Merge, Feature

#5764 Fix for Reagent Filling with Borgs and Grippers.
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/owowatsdis.yml
Labels: Awaiting Merge, Bugfixes

#5773 Fixes antag spawning issues
  code/game/gamemodes/game_mode.dm
  html/changelogs/burgerbb - wew.yml
Labels: Awaiting Merge, Bugfixes, High Priority

#5652 Adds Bluespace Inhibitors (Telescience Nerf)
  aurorastation.dme
  code/datums/helper_datums/teleport.dm
  code/game/area/areas.dm
  code/game/machinery/anti_bluespace.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/spells/general/area_teleport.dm
  code/modules/spells/general/mark_recall.dm
  html/changelogs/burgerbb - powercreepbgone.yml
  icons/obj/telescience.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Feature, Mapping: Aurora, Review Required, Sprites

#5777 Reverts #5773 and adds debug messages for Antag Selection
  code/controllers/configuration.dm
  code/game/gamemodes/game_mode.dm
  html/changelogs/burgerbb - extended.yml
Labels: Awaiting Merge, Bugfixes, High Priority

#5783 Fixing hostile mobs not attacking people
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Sindorman-mob.yml
Labels: Awaiting Merge, Bugfixes, High Priority

#5739 Skrell Blood Uses Copper, Not Iron
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  html/changelogs/Conspiir-bloodloss.yml
Labels: Awaiting Merge

#5790 Revert "New Vending Machine Sprites (#5740)"
  icons/obj/chemical.dmi
  icons/obj/vending.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#5780 Adding error output for Tag Matcher on Travis
  tools/TagMatcher/tag-matcher.py
Labels: Awaiting Merge

#5741 Adds Krampus
  aurorastation.dme
  code/modules/mob/living/simple_animal/hostile/krampus.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/alberyk-krampus.yml
  icons/mob/krampus.dmi
Labels: Awaiting Merge, Sprites

#5807 Fixes #5768
  html/changelogs/arrow768-command-roof.yml
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Bugfixes, Mapping: Aurora

#5801 Adjusts Ponchos
  html/changelogs/Conspiir-Ponchos.yml
  icons/mob/ties.dmi
Labels: Awaiting Merge, Sprites

#5770 Plastic Surgery Fix's
  aurorastation.dme
  code/__defines/mobs.dm
  code/modules/surgery/face.dm
  code/modules/surgery/facial_surgery.dm
  code/modules/surgery/plastic_surgery.dm
Labels: Awaiting Merge, Bugfixes, Changelog Required

#5788 Skrell can now kick and stomp
  code/modules/mob/living/carbon/human/species/station/station.dm
  html/changelogs/VTCobaltblood - slippery_mud_fights_hot_frogs.yml
Labels: Awaiting Merge

#5813 Adds a breathalyzer to the medborgs
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/arrow-breathalyzerborg.yml
Labels: Awaiting Merge

#5814 Removes the natural philosophers wig
  code/modules/client/preference_setup/loadout/loadout_head.dm
  html/changelogs/arrow768-no-wig.yml
Labels: Awaiting Merge

#5816 Better antag tracking
  SQL/migrate/V034__better_antag_stats.sql
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_add.dm
  code/modules/client/preferences.dm
Labels: Awaiting Merge, Changelog Required

#5828 Fix echos hearing globally
  code/modules/mob/living/simple_animal/shade.dm
  html/changelogs/skull132_echos.yml
Labels: Awaiting Merge, Bugfixes

#5824 Festive Bar
  code/defines/obj/weapon.dm
  html/changelogs/burgerbb - festive.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5729 Firing pin extraction device
  aurorastation.dme
  code/game/objects/items/devices/pin_extractor.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/research/designs.dm
  html/changelogs/Sindorman-pinextractor.yml
  icons/obj/device.dmi
Labels: Awaiting Merge, Feature, Sprites

#5811 Fix the miningun being deleted out of nowhere
  code/modules/projectiles/guns/projectile/minigun.dm
Labels: Awaiting Merge, Bugfixes, Changelog Required

#5820 Fixes fire and welding fuel being hidden under asteroid sand
  code/ZAS/Fire.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/cleanable.dm
Labels: Awaiting Merge, Bugfixes, Changelog Required

#5837 Bumps the Travis MariaDB Version to 10.3
  .travis.yml
Labels: Awaiting Merge, Changelog Required

#5802 Xeno ERT now spawn with shoes properly
  code/game/antagonist/outsider/ert.dm
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/VTCobaltblood - geevie.yml
Labels: Awaiting Merge

#5830 Fixes the bluespacesquid having no tentacles
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/mob/living/carbon/human/human_species.dm
Labels: Awaiting Merge, Bugfixes, Changelog Required

#5804 Fixing security lockdown
  html/changelogs/Sindorman-mapfix.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5789 Tweaks A LOT of hairstyles, adds some new ones
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/VTCobaltblood - hairy_monkeys.yml
  icons/mob/human_face/hair.dmi
  icons/mob/human_face/hair_multiply.dmi
Labels: Awaiting Merge, Sprites

#5844 Reverts gas masks being placed inside survival boxes
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/skull132_gas.yml
Labels: Awaiting Merge

#5826 Lawgiver balance adjustments
  code/modules/projectiles/guns/energy/lawgiver.dm
  html/changelogs/schevlawgiveradjust.yml
Labels: Awaiting Merge

#5774 Rejuv reverts husk status
  code/modules/mob/living/carbon/human/human.dm
Labels: Awaiting Merge

#5843 Bluespace Inhibitor Fixes
  code/game/machinery/anti_bluespace.dm
  html/changelogs/burgerbb - inhibit.yml
Labels: Awaiting Merge, Bugfixes

#5859 Various Cooking Recipe Fixes
  code/game/machinery/kitchen/cooking_machines/container.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/cookingfixes.yml
Labels: Awaiting Merge, Bugfixes, Update Wiki

#5858 ChemHeater Circuitboards can be Researched
  code/modules/research/designs/circuit_designs.dm
  html/changelogs/ChemHeater.yml
Labels: Awaiting Merge, Bugfixes

#5850 Wizard tweaks and fixes
  code/modules/spells/aoe_turf/conjure/golem.dm
  code/modules/spells/spellbook/battlemage.dm
  code/modules/spells/targeted/mindcontrol.dm
  html/changelogs/alberyk-wizardthings.yml
Labels: Awaiting Merge

#5866 Digital Camo Fix
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/example - Copy.yml
Labels: Awaiting Merge, Bugfixes

#5842 adds more barsigns
  html/changelogs/paradoxspace-barsign.yml
  icons/obj/barsigns.dmi
Labels: Awaiting Merge, Sprites

#5863 Removes Pumpkin Spice Items from Vendors
  code/game/machinery/vending_types.dm
  html/changelogs/Kaedwuff - Defestive.yml
Labels: Awaiting Merge

#5845 Medical sublevel overhaul
  html/changelogs/Sindorman-medbay.yml
  maps/_common/areas/station/medical.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Feedback Required, Mapping: Aurora, Mapping: Exodus

#5832 Adds emp act for viscerators
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  html/changelogs/arrow768-emp-viscerators.yml
Labels: Awaiting Merge

#5831 Adds a entry and exist log to the shard dream
  code/modules/shareddream/dream_entry.dm
Labels: Awaiting Merge, Changelog Required

#5851 Vamp Bite Tweaks
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/vampsuc.yml
Labels: Bugfixes, Review Required

#5874 Bug fixes: projectiles directions, legion ribbons and drop pods
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/vehicles/droppod.dm
  icons/obj/grenade.dmi
  icons/obj/projectiles.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#5857 Announcing live test PRs
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  code/datums/helper_datums/getrev.dm
  code/datums/server_greeting.dm
  code/modules/client/client procs.dm
  html/changelogs/skull132_revdata.yml
  html/templates/welcome_screen.html
Labels: Feature, Review Required, Waiting Period

#5870 Fixes ban mirror toggling
  code/modules/admin/DB ban/ban_mirroring.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#5879 Throw Paper Balls
  code/modules/paperwork/paper.dm
  html/changelogs/paperball.yml
Labels: Awaiting Merge, Bugfix

#5877 Separate xenos gloves and shoes from their rig suit sprites
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  html/changelogs/alberyk-rigspritefix.yml
  icons/mob/species/machine/gloves.dmi
  icons/mob/species/machine/shoes.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/tajaran/gloves.dmi
  icons/mob/species/tajaran/shoes.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/gloves.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vaurca/gloves.dmi
  icons/mob/species/vaurca/helmet.dmi
  icons/mob/species/vaurca/shoes.dmi
  icons/mob/species/vaurca/suit.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#5875 Map BugFixes
  html/changelogs/.all_changelog.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora
