Repository Aurorastation/Aurora.3, pull requests merged in 2018-11, with the labels that each got.

#5494 Additional logging
  SQL/migrate/V032__more_do_options.sql
  code/modules/client/preferences.dm
Labels: Awaiting Merge, Bypass Development

#5488 Unapologetic Cargo Buffs
  code/game/jobs/job/civilian.dm
  html/changelogs/paradoxspace - cargonia.yml
Labels: Awaiting Merge

#4633 Added the smartheater
  code/game/machinery/kitchen/smartfridge.dm
  html/changelogs/arrow768-smartheater.yml
  icons/obj/vending.dmi
Labels: Review Required, Sprites

#5458 Chess quality of life update
  code/modules/games/boardgame.dm
  html/changelogs/Sindorman-logging - Copy.yml
Labels: Awaiting Merge

#5453 Improves the Type selection
  code/modules/admin/callproc/callproc.dm
  code/modules/admin/verbs/modifyvariables.dm
Labels: Changelog Required, Review Required

#5253 Converts Economy to a Subsystem
  aurorastation.dme
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/cargo.dm
  code/controllers/subsystems/economy.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/job.dm
  code/controllers/subsystems/ticker.dm
  code/game/jobs/job/job.dm
  code/game/machinery/computer/sentencing.dm
  code/game/machinery/vending.dm
  code/modules/economy/ATM.dm
  code/modules/economy/Accounts.dm
  code/modules/economy/Accounts_DB.dm
  code/modules/economy/EFTPOS.dm
  code/modules/economy/economy_misc.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_delivery.dm
  code/modules/modular_computers/laptop_vendor.dm
Labels: Awaiting Merge, Changelog Required

#5332 Kitchen, Bar, Chapel, Library, and Hydroponics Map Overhaul
  code/game/objects/structures/musician.dm
  html/changelogs/burgerbb - kitchen and bar.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5455 Plastic Surgery 2.0
  aurorastation.dme
  code/__defines/mobs.dm
  code/modules/surgery/plastic_surgery.dm
  html/changelogs/plasticsurgery.yml
Labels: Review Required

#5381 Diona update
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/living/say.dm
  code/modules/organs/subtypes/diona.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/Sindorman-Diona.yml
Labels: Awaiting Merge

#5423 Temperature Reagent System
  aurorastation.dme
  code/__defines/chemistry.dm
  code/controllers/subsystems/chemistry.dm
  code/datums/wires/smartfridge.dm
  code/datums/wires/vending.dm
  code/game/machinery/chem_heater.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/circuitboards/machinery/chem_heater.dm
  code/modules/admin/admin_attack_log.dm
  code/modules/cargo/randomstock.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/clothing/rings/rings.dm
  code/modules/food/recipe.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/paperwork/pen.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Metabolism.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Temperature.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/unit_tests/chemistry_tests.dm
  html/changelogs/burgerbb - temperature reagents.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Mapping: Aurora, Review Required

#5474 Adds Hair Pins
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/paradoxspace-kawaii.yml
  icons/mob/ears.dmi
  icons/mob/head.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_hats.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_hats.dmi
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/obj/buildingobject.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
Labels: Do Not Merge, Review Required, Sprites

#5116 Travis Musings
  .travis.yml
  code/controllers/configuration.dm
  code/global.dm
  code/modules/client/client procs.dm
  scripts/install-byond.sh
  scripts/install-flyway.sh
Labels: Awaiting Merge

#5247 Gamemode Requirement Tweaks
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/wizard/wizard.dm
  html/changelogs/burgerbb - antag requirements.yml
Labels: Awaiting Merge, Feedback Required

#5434 Changes the accuracy formula, also changes accuracy to almost all guns across the board
  code/modules/projectiles/guns/energy/crank.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/lawgiver.dm
  code/modules/projectiles/guns/energy/mining.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/rifle.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/energy/temperature.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/guns/projectile/improvised.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/Schev-accuracy.yml
Labels: Awaiting Merge

#5456 AIs cant be traitors
  code/game/antagonist/station/traitor.dm
  code/game/gamemodes/mixed/corruption.dm
  config/example/config.txt
  html/changelogs/arrow768-no-malf.yml
Labels: Awaiting Merge

#5503 Allow hard daemon reboots at regular intervals to help with memory
  aurorastation.dme
  code/__defines/subsystem-priority.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/initialization/persistent_configuration.dm
  code/controllers/subsystems/vote.dm
  code/modules/admin/topic.dm
  code/unit_tests/ss_test.dm
  code/world.dm
  config/example/config.txt
Labels: Changelog Required, High Priority, Review Required

#5519 Massive Mapping Fixes (Don't merge yet until 30 minutes until round end so I can get new bugs in)
  html/changelogs/burgerbb MASSIVE MAP FIXES.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5492 Ninjas begin with basic acutators
  code/modules/clothing/spacesuits/rig/suits/light.dm
  html/changelogs/doc-ninja-rig.yml
Labels: Awaiting Merge

#5521 Fixes Inhalers not Working
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/burgerbb - inhalers runtime.yml
Labels: Awaiting Merge, Bypass Development

#5505 actually adds hos cloak
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  html/changelogs/paradoxspace-theresalwaysone.yml
Labels: Awaiting Merge, Bypass Development

#5523 Fixes species rig suits icon
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  icons/mob/species/machine/suit.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5529 Fixes borgs being unable to talk
  code/modules/mob/living/silicon/say.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required, High Priority

#5535 Temperature + Reagent Fixes
  code/__defines/chemistry.dm
  code/modules/admin/admin_attack_log.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/burgerbb - inhaler temp.yml
Labels: Awaiting Merge, Bypass Development

#5526 Re-adds the hos suit and fixes invisible walls at medical.
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5546 Diona and Synth bugfixes
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  html/changelogs/Sindorman-dionafixes.yml
Labels: Bypass Development, High Priority, Review Required

#5548 Fuck
  code/modules/mob/living/carbon/human/life.dm
Labels: Bypass Development, Changelog Required

#5545 Readds the Ice Cream Vat
  code/game/machinery/kitchen/icecream.dm
  html/changelogs/burgerbb - I SCREAM.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5554 Bugfixes
  code/__defines/subsystem-priority.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/Arrow768-Bugfixes.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5560 Pianist Circumcision and Misc Tweaks
  code/game/objects/structures/musician.dm
  html/changelogs/burgerbb - mapping_fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5547 Phoron Salt Tweaks
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/burgerbb phoron salts .yml
Labels: Awaiting Merge, Bypass Development

#5563 More Map Fixes
  html/changelogs/furrycactus - more map fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5564 Adds cameras to the cargo break room and mail sorting room
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Changelog Required, Mapping: Aurora

#5565 Fixed Phoron Salts being uncraftable
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/burger is an idiot.yml
Labels: Awaiting Merge, Bypass Development

#5569 Medical Map Fixes
  html/changelogs/furrycactus - medical fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5570 Toxins Testing Range Improvements
  html/changelogs/burgerbb-toxinstestingrange.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5574 Fixes being able to upload ai/borgs laws while in non-station z-levels
  code/game/machinery/computer/law.dm
  html/changelogs/alberyk-aifix.yml
Labels: Awaiting Merge

#5500 Roundtime Based on Realtime
  code/_helpers/time.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
  code/datums/api.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/mob.dm
  html/changelogs/burgerbb-roundtime.yml
Labels: Awaiting Merge, Bypass Development

#5567 Adds the Ha'rron MK.IV light tank
  aurorastation.dme
  code/game/machinery/atmoalter/canister.dm
  code/game/mecha/combat/combat.dm
  code/game/mecha/combat/gygax.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/combat/marauder.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/combat/tank.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/mecha/mech_bay.dm
  code/game/mecha/mecha.dm
  code/game/mecha/mecha_wreckage.dm
  code/game/mecha/medical/odysseus.dm
  code/game/mecha/working/hoverpod.dm
  code/game/mecha/working/ripley.dm
  code/modules/cargo/random_stock/large_exosuit.dm
  code/modules/clothing/head/helmet.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile/special.dm
  html/changelogs/albery-tankgodness.yml
  icons/mecha/mecha_large.dmi
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  sound/mecha/hatch-door-close.ogg
  sound/mecha/tanktread.ogg
Labels: Awaiting Merge, Bypass Development, Sprites

#5579 Fixes Overflowing Keys on Aurora Mainlevel
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Changelog Required, High Priority, Mapping: Aurora

#5580 OH NO
  code/_helpers/time.dm
Labels: Awaiting Merge, Changelog Required

#5581 Fixes Midnight Rollovers
  code/_helpers/time.dm
  code/modules/admin/player_panel.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/burgerbb - midnight rollover.yml
Labels: Awaiting Merge

#5587 Fixes Phoron Salts Again Again and other things.
  code/datums/api.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/cargo/randomstock.dm
  html/changelogs/burgerbb-phoron salt more.yml
Labels: Awaiting Merge

#5583 Fixes some clothing icons
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#5489 Modifies some current sounds and adds some new ones.
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/crusher_piston.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/machinery.dm
  code/game/sound.dm
  code/modules/modular_computers/file_system/programs/civilian/crusher_control.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/supermatter/supermatter.dm
  html/changelogs/mattatlas-soundsoundrevolution.yml
  sound/effects/crusher_alarm.ogg
  sound/effects/nuclearsiren.ogg
  sound/effects/switch1.ogg
  sound/machines/AirlockClose.ogg
  sound/machines/BoltsDown.ogg
  sound/machines/BoltsUp.ogg
  sound/machines/airlock.ogg
  sound/machines/airlock_close_force.ogg
  sound/machines/airlock_creaking.ogg
  sound/machines/airlock_open_force.ogg
  sound/machines/blastdoorclose.ogg
  sound/machines/blastdooropen.ogg
  sound/machines/buzz-two.ogg
  sound/machines/keyboard/keypress1.ogg
  sound/machines/keyboard/keypress2.ogg
  sound/machines/keyboard/keypress3.ogg
  sound/machines/keyboard/keypress4.ogg
  sound/machines/keyboard/keystroke1.ogg
  sound/machines/keyboard/keystroke2.ogg
  sound/machines/keyboard/keystroke3.ogg
  sound/machines/keyboard/keystroke4.ogg
  sound/machines/medbayscanner1.ogg
  sound/mecha/mechstep.ogg
  sound/mecha/mechturn.ogg
Labels: Awaiting Merge

#5585 Fixes Phoron Salts Again
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Temperature.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/burger sucks.yml
Labels: Awaiting Merge, Bugfixes

#5595 Fixes some food recipes
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-recipes.yml
Labels: Awaiting Merge, Bugfixes

#5591 Fixes mechas and vehicle being unable to trigger land mines
  code/game/objects/items/weapons/landmines.dm
  html/changelogs/alberyk-landmine.yml
Labels: Awaiting Merge, Bugfixes

#5596 Fixes NTSL issues
  code/modules/scripting/Implementations/Telecomms.dm
  html/changelogs/arrow768-tcoms-1.yml
Labels: Awaiting Merge, Bugfixes

#5597 Cigarette Fixes
  code/__defines/chemistry.dm
  code/controllers/subsystems/chemistry.dm
  code/game/objects/items/bees_items.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Temperature.dm
  html/changelogs/burgerbb - temperature fixes.yml
Labels: Awaiting Merge, Bugfixes

#5600 Fixing hostile mobs
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/SIndorman-fix.yml
Labels: Awaiting Merge, Bugfixes, High Priority

#5414 Adds Omnizine, Atropine, Epinephrine, Mannitol.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/burgerbb - new reagents pt1.yml
Labels: Awaiting Merge, Mapping: Aurora

#5584 Small merchant and sword sprites changes
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  html/changelogs/alberyk-sword.yml
  icons/mob/belt.dmi
  icons/obj/sword.dmi
Labels: Awaiting Merge, Sprites

#5614 Bug fixes -botany, robotics and random events
  code/game/objects/items/robot/robot_parts.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/events/infestation.dm
  code/modules/events/radiation_storm.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  html/changelogs/alberyk-botanyfixes.yml
Labels: Awaiting Merge, Bugfixes

#5613 Fixes a broken custom borg eye sprite
  icons/mob/custom_synthetic.dmi
Labels: Awaiting Merge, Bugfixes, Sprites

#5619 Fixes #5610
  html/changelogs/burgerbb-xenobio_med.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Bugfixes, Mapping: Aurora

#5612 Vault Overhaul
  code/game/objects/random/random.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/power/apc.dm
  html/changelogs/burgerbb-vault.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Bugfixes, Mapping: Aurora

#5577 Refractors the alien embryo into a proper parasite organ
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_embryo.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_facehugger.dm
  code/modules/organs/subtypes/parasite.dm
Labels: Awaiting Merge

#5607 Empty pill bottles into the grinder
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/arrow768-pill-bottle-into-grinder.yml
Labels: Awaiting Merge

#5617 Getting rid of mm1 and moving merge conflict resolution to mm2
  tools/mapmerge/Convert Maps to TGM.bat
  tools/mapmerge/Prepare Maps - Aurora.bat
  tools/mapmerge/Prepare Maps - Exodus.bat
  tools/mapmerge/Prepare Maps - Random Dungeons.bat
  tools/mapmerge/Prepare Maps - Runtime.bat
  tools/mapmerge/README.md
  tools/mapmerge/Run Map Merge - DMM.bat
  tools/mapmerge/Run Map Merge - TGM.bat
  tools/mapmerge/dmm2tgm.py
  tools/mapmerge/mapmerger.py
  tools/mapmerge/path_update.py
  tools/mapmerge2/map_conflict_fixer/README.md
  tools/mapmerge2/map_conflict_fixer/Run Map Conflict Fixer.bat
  tools/mapmerge2/map_conflict_fixer/map_conflict_fixer.py
  tools/mapmerge2/map_conflict_fixer/map_helpers.py
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora

#5623 Vault Tweaks
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/modules/custom_ka/core.dm
  html/changelogs/burgerbb-changelog.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5624 Fixes Mannitol, Epinephrine
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/burgerbb - BRAIN DAMAGE.yml
Labels: Awaiting Merge, Bugfixes

#5618 Adds Skrellepathy V2
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/stylesheet.dm
  html/changelogs/paradoxspace-chemicalsinthewater.yml
Labels: Awaiting Merge

#5632 Fixes being able to use dna injectors on species without dna
  code/game/objects/items/weapons/dna_injector.dm
  html/changelogs/alberyk-genetics.yml
Labels: Awaiting Merge, Bugfixes

#5630 Adds arm and leg guards
  aurorastation.dme
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/arm_guard.dm
  code/modules/clothing/shoes/leg_guard.dm
  code/modules/clothing/suits/armor.dm
  html/changelogs/alberyk-armor.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/shoes.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5636 Removes genetics board again
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfixes, Mapping: Aurora

#5611 Adds vaurca walls, floor and airlocks
  code/game/machinery/doors/airlock.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/materials/materials.dm
  icons/obj/doors/Doorvaurca.dmi
  icons/turf/flooring/misc.dmi
  icons/turf/smooth/vaurca_wall.dmi
Labels: Awaiting Merge, Sprites

#5571 Adds a new api command to broadcast text to everyone on the server
  code/datums/api.dm
Labels: Awaiting Merge, Changelog Required

#5495 Airbubble cooling update
  code/game/objects/items/airbubble.dm
  html/changelogs/Sindorman-airbubble.yml
Labels: Awaiting Merge

#5626 Bugfixes for Pumpkin Spice Items
  code/game/machinery/vending_types.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/Kaedwuff - Pumpkinfixes.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Bugfixes, Sprites

#5638 Fixes cutlery ignoring the target's nutriment fullness
  code/game/objects/items/weapons/material/kitchen.dm
  html/changelogs/alberyk-spoon.yml
Labels: Awaiting Merge, Bugfixes

#5641 Return of the Fowl Blob
  code/modules/blob/blob.dm
  html/changelogs/lordfowl.yml
Labels: Awaiting Merge

#5640 vaurca antennae
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  html/changelogs/paradoxspace-hugabug.yml
  icons/mob/human_face/vaurca_hair.dmi
  icons/mob/human_races/r_vaurca.dmi
Labels: Awaiting Merge, Sprites

#5616 Integrating mapmerge2 checks into Travis
  .travis.yml
  code/modules/events/communications_blackout.dm
  maps/exodus/exodus-3_telecomms.dmm
  tools/TagMatcher/tag-matcher.py
  tools/mapmerge2/dmm.py
  tools/mapmerge2/frontend.py
  tools/mapmerge2/mapmerge.py
  tools/mapmerge2/precommit.py
  tools/mapmerge2/travis_mapcheck.py
Labels: Awaiting Merge, Changelog Required, Mapping: Exodus

#5639 Temperature Fixes
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/Chemistry-Temperature.dm
  html/changelogs/burgerbb - temperature fixes.yml
Labels: Awaiting Merge, Bugfixes

#5642 Disables forced antagonism when voting
  code/game/gamemodes/game_mode.dm
  html/changelogs/burgerbb - no more antag draft.yml
Labels: Awaiting Merge, Feature, Feedback Required

#5666 Fixes skrell possible problems with their telepathy verb
  code/modules/mob/living/carbon/human/species/station/station.dm
Labels: Awaiting Merge, Bugfixes

#5634 Admin tools tweak
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  html/changelogs/Sindorman-admin.yml
Labels: Awaiting Merge

#5572 More Bugfixes
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/bounties/virus.dm
  html/changelogs/arrow768-bugs.yml
Labels: Awaiting Merge, Bugfixes

#5665 Unapologetic Headtail Buffs
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/ears/skrell.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/paradoxspace-youreakidnow.yml
  icons/mob/ears.dmi
  icons/mob/human_face/skrell_hair.dmi
  icons/mob/human_races/r_skrell.dmi
  icons/obj/clothing/ears.dmi
Labels: Awaiting Merge, Sprites

#5588 Adds Mutone, Plexium, Venenum
  code/datums/uplink/stealth and camouflage items.dm
  code/game/objects/items/contraband.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/burgerbb - x3 part one.yml
Labels: Awaiting Merge

#5658 Allows bayonet removal
  code/modules/projectiles/gun.dm
  html/changelogs/alberyk-bayonet.yml
Labels: Awaiting Merge
