Repository Aurorastation/Aurora.3, pull requests merged in 2018-06, with the labels that each got.

#4839 Hostile AI fix
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Bypass Development, Review Required

#4649 Air bubble
  aurorastation.dme
  code/game/objects/items/airbubble.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  html/changelogs/Sindorman-airbubble.yml
  icons/obj/airbubble.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Changes Required, Review Required

#4817 Adds more tajaran fashion: part two
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/under/xenos/tajara.dm
  html/changelogs/alberyk-catfashionagain.yml
  icons/obj/tajara_items.dmi
Labels: Review Required, Sprites

#4814 Priority Tweaks
  code/__defines/math_physics.dm
  code/__defines/subsystem-priority.dm
  code/controllers/master/master.dm
Labels: Review Required

#4792 Moving emitters
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Review Required

#4645 Add mapmerge 2
  tools/hooks/README.md
  tools/hooks/install.bat
  tools/hooks/install.sh
  tools/hooks/pre-commit.hook
  tools/hooks/python.sh
  tools/mapmerge2/Prepare Maps - Aurora.bat
  tools/mapmerge2/Prepare Maps - Exodus.bat
  tools/mapmerge2/Prepare Maps - Runtime.bat
  tools/mapmerge2/README.md
  tools/mapmerge2/convert.py
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm2tgm.bat
  tools/mapmerge2/frontend.py
  tools/mapmerge2/mapmerge.bat
  tools/mapmerge2/mapmerge.py
  tools/mapmerge2/precommit.py
  tools/mapmerge2/requirements-install.bat
  tools/mapmerge2/requirements.txt
  tools/mapmerge2/tgm2dmm.bat
Labels: Bypass Development, Review Required

#4831 Removes genetics for real now
  code/game/jobs/job/science.dm
  code/game/jobs/jobs.dm
  code/modules/research/designs/circuit_designs.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4840 Fixes a bug introduced in #4839
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: Bypass Development, Review Required

#4849 Fixes #3769
  code/modules/power/smes.dm
Labels: Bypass Development, Review Required

#4863 Fixed name of Cargo Warehouse Entrance camera
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4785 Reduces the plasma cutter main rate
  code/modules/projectiles/guns/energy/mining.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
Labels: Review Required

#4848 New lore stuff
  code/game/jobs/job/civilian_chaplain.dm
  code/modules/client/preferences_factions.dm
Labels: Review Required

#4858 Added more security for Vault chamber
  maps/aurora/aurora-3_sublevel.dmm
Labels: Review Required

#4875 Removes the psychedelic jumpsuit from random loot
  code/game/objects/random/random.dm
  html/changelogs/arrow768-psychsuit.yml
Labels: Bypass Development, Review Required

#4874 Custom items 09/06
  code/modules/cargo/randomstock.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/eri_robes.dmi
  icons/obj/custom_items/halstere_clothing.dmi
  icons/obj/custom_items/moyers_shirt.dmi
Labels: Bypass Development, Review Required

#4879 Gives librarians service headsets
  code/game/jobs/job/civilian.dm
  html/changelogs/Kaedwuff - Service Librarians.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Review Required

#4850 Disables tourettes trauma
  code/datums/brain_damage/mild.dm
Labels: Review Required

#4845 Adds more tajaran cuisine
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  html/changelogs/alberyk-catfood.yml
  icons/obj/drinks.dmi
  icons/obj/food.dmi
  icons/obj/trash.dmi
Labels: Review Required

#4872 Fix bayonets
  code/datums/trading/weaponry.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/random/random.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  html/changelogs/alberyk-fixbayonets.yml
  icons/mob/back.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/gun.dmi
  icons/obj/weapons.dmi
Labels: Review Required

#4734 cult IPCs refactor
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  html/changelogs/Sindorman-IPC-cultist.yml
Labels: Feedback Required, Review Required

#4860 Bugfixing and grenade code cleanup
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/emgrenade.dm
  code/game/objects/items/weapons/grenades/fake_grenade.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
Labels: Review Required

#4820 Shuttle Rework
  html/changelogs/burgerbb-shuttlecock.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Mapping: Aurora, Review Required

#4883 Modular Computer ID ejection tweaks
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  html/changelogs/Arrow768-idejection.yml
Labels: Bypass Development, Review Required

#4727 Adds new disability, new chemical recipes.
  code/datums/brain_damage/special_ed.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  html/changelogs/lordfowl-chems.yml
Labels: Review Required

#4764 Library Map Rework + Bookcase Improvements
  code/modules/library/lib_items.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Mapping: Aurora, Review Required

#4857 Journalism/Newscaster Overhaul, Take One
  code/controllers/subsystems/news.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/science.dm
  code/game/jobs/jobs.dm
  code/game/machinery/newscaster.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/items/toys.dm
  code/modules/admin/admin.dm
  code/modules/admin/holder2.dm
  code/modules/admin/topic.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/MoondancerPony-journorevamp.yml
  icons/obj/clothing/ties.dmi
  maps/_common/areas/station/civilian.dm
  maps/aurora/aurora-4_mainlevel.dmm
  nano/templates/pda.tmpl
Labels: Review Required

#4895 Fixes library SQL call missing an arg
  code/modules/library/lib_items.dm
Labels: Blocking Issue, Review Required

#4882 Hide things in potted plants
  code/game/objects/structures/flora.dm
  html/changelogs/Arrow769-pottedplants.yml
Labels: Review Required

#4798 Donut migration
  code/game/machinery/vending_types.dm
Labels: Review Required

#4867 Adds the gatling machine gun
  aurorastation.dme
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/minigun.dm
  html/changelogs/alberyk-dakka.yml
  icons/obj/minigun.dmi
Labels: Review Required

#4784 Detective cleansing
  code/game/jobs/job/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/jobs.dm
  icons/obj/clothing/detective.dmi
  maps/aurora/aurora-5_interstitial.dmm
Labels: Mapping: Aurora, Review Required

#4893 Airbubble update(bugfixing/tweaks)
  code/game/objects/items/airbubble.dm
Labels: Review Required

#4802 Custom Kinetic Accelerators
  aurorastation.dme
  code/_helpers/unsorted.dm
  code/datums/trading/goods.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/modules/cargo/randomstock.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/custom_ka/barrels.dm
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/core.dm
  code/modules/custom_ka/frames.dm
  code/modules/custom_ka/projectiles.dm
  code/modules/custom_ka/upgrade_chips.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mining/machine_rigpress.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/silicon/robot/gripper.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/mining.dm
  code/modules/projectiles/projectile.dm
  code/modules/research/designs/weapon_designs.dm
  html/changelogs/burgerbb-ka.yml
  icons/obj/kinetic_accelerators.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Mapping: Aurora, Review Required, Sprites

#4898 Kinetic Fixes
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/core.dm
  code/modules/custom_ka/frames.dm
  code/modules/custom_ka/projectiles.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  icons/obj/kinetic_accelerators.dmi
Labels: Review Required

#4900 Burger's Fixes
  code/modules/custom_ka/barrels.dm
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/frames.dm
  code/modules/custom_ka/upgrade_chips.dm
  code/modules/library/lib_items.dm
  code/modules/research/designs/weapon_designs.dm
  html/changelogs/burgerbb-postfixes.yml
  icons/obj/kinetic_accelerators.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Bypass Development, Review Required

#4905 June update fixes
  code/game/machinery/vending_types.dm
  code/modules/mining/machine_vending.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/projectiles/guns/projectile/minigun.dm
Labels: Bypass Development, Review Required

#4906 Adding a Change log for PR#4858
  html/changelogs/ben10083 - Vault_Security_Increase.yml
Labels: Bypass Development, Review Required

#4904 June update Bugfixes
  html/changelogs/Sindorman-bugfixing.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4910 More Fixes
  html/changelogs/burgerbb-fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4916 Departures Hull Shield Fix
  html/changelogs/burgerbb-mapfixnumber51725765166523.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Bypass Development, Review Required

#4892 Made BYOND to automaticly retry setup if mode fails to start
  code/controllers/subsystems/ticker.dm
Labels: Review Required

#4919 Fixes issues with the flash animations not working as intended, unifies their animation delay in all UI styles.
  icons/mob/screen/action.dmi
  icons/mob/screen/alien.dmi
  icons/mob/screen/generic.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: Bypass Development, Review Required

#4928 More june update fixes and a bit more
  code/game/objects/items/devices/scanners.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/under/accessories/storage.dm
Labels: Bypass Development, Review Required

#4715 Removed in-game references to clowns.
  code/game/machinery/computer/message.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/weapons/material/knives.dm
  html/changelogs/Changelog - Noclowns.yml
Labels: Feedback Required, Review Required

#4929 Fixes #4925
  code/game/objects/structures/flora.dm
Labels: Bypass Development, Review Required

#4918 The drone console now lists drones located on different station levels.
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  html/changelogs/Arrow768-dronez.yml
Labels: Bypass Development, Review Required

#4894 Adds a armorcheck to hyposprays.
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/Arrow769-hypospray.yml
Labels: Review Required

#4917 Large Multi-Bugfix
  code/game/machinery/newscaster.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/structures/coathanger.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/materials/material_recipes.dm
  code/modules/organs/organ.dm
  code/modules/tables/rack.dm
Labels: Bypass Development, Review Required

#4924 Airbubble bugfixes
  code/game/objects/items/airbubble.dm
  html/changelogs/Sindroman-airbubble.yml
Labels: Bypass Development, Review Required

#4933 Marwani Custom Item Improvements
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/marwani_dress.dmi
Labels: Bypass Development, Review Required

#4934 Airbubble tweaks
  code/game/objects/items/airbubble.dm
  html/changelogs/Sindroman-airbubble-feature.yml
Labels: Bypass Development, Review Required

#4908 Reduced Stunbaton hitcost by half
  code/game/objects/items/weapons/stunbaton.dm
  html/changelogs/ben10083 - Reduced Stunbaton Hitcost.yml
Labels: Review Required

#4913 Removes footprints in the ash
  code/game/turfs/simulated.dm
  code/modules/mining/mine_turf_types.dm
  html/changelogs/byebyejesus.yml
Labels: Review Required

#4942 Commanded mobs fix
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/Sindorman-hostilemobfix.yml
Labels: Bypass Development, Review Required

#4940 Journalist manifest and access fixes
  code/game/jobs/access_datum.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/jobs.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4941 Map fixes: combat gloves and extra atmos suits, the revenge
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Mapping: Aurora, Review Required

#4864 Added Camera At Medbay Entrance, changed name of other Medbay Entrance
  html/changelogs/ben10083 - Adding Camera to Medbay Entrance.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Review Required

#4936 MZ Fixes
  code/__defines/misc.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/initialization/atlas.dm
  code/controllers/subsystems/zcopy.dm
  code/modules/multiz/basic.dm
  html/changelogs/lohikar-mz.yml
  maps/runtime/code/runtime.dm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-3.dmm
Labels: Bypass Development, Do Not Merge

#4891 Merchant related fixes and tweaks
  code/datums/trading/ai.dm
  code/datums/trading/misc.dm
  code/datums/trading/weaponry.dm
  html/changelogs/alberyk-merchant.yml
Labels: Awaiting Merge

#4932 Adds the ability to have decals with inscriptions
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_icon.dm
  html/changelogs/arrow768-plaques.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bypass Development

#4952 Rectifies semen feet
  code/game/turfs/simulated.dm
Labels: Review Required

#4943 Bugfixes
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4935 Airbubble update
  code/game/objects/items/airbubble.dm
  html/changelogs/Sindoman-airbubble-features.yml
  icons/obj/airbubble.dmi
Labels: Review Required
