Repository Aurorastation/Aurora.3, pull requests merged in 2018-08, with the labels that each got.

#5056 Unapologetic CCIA Buffs
  html/changelogs/doc-conference.yml
  html/changelogs/flam-roof-wiring.yml
  maps/_common/areas/station/civilian.dm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Feedback Required, Mapping: Aurora

#5004 Adds another unathi clothing option
  aurorastation.dme
  code/datums/trading/misc.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/alberyk-unathi.yml
  icons/obj/clothing/robe_coat.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#5003 Brings back adjusting sterile masks
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/miscellaneous.dm
  html/changelogs/alberyk-lesbayupgrade.yml
  icons/mob/mask.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Awaiting Merge, Sprites

#5010 Gun update 2018: mk II
  code/datums/trading/weaponry.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  html/changelogs/alberyk-gunsorsomething.yml
  icons/mob/belt.dmi
  icons/mob/ties.dmi
  icons/obj/ammo.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/gun.dmi
  icons/obj/storage.dmi
Labels: Awaiting Merge, Sprites

#5020 Food and seed update: the tobacco fixing
  code/game/machinery/vending_types.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-food.yml
  icons/obj/food.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Awaiting Merge, Sprites

#5069 Changing vending machine K'ois description
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/Fire-and-Glory-Fire-dev.yml
Labels: Awaiting Merge

#5022 remove rogue pipe bug
  code/game/objects/items/weapons/cigs_lighters.dm
Labels: Awaiting Merge, Bypass Development

#5034 [Ready for Review] Unapologetic Grid Check Buffs
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/modules/turbolift/turbolift_door.dm
  html/changelogs/mindthegap.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora

#4965 Kinetic Accelerator Additions
  code/game/objects/random/random.dm
  code/modules/cargo/randomstock.dm
  code/modules/custom_ka/barrels.dm
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/core.dm
  code/modules/custom_ka/frames.dm
  code/modules/mining/abandonedcrates.dm
  html/changelogs/burgerbb-kinetic_additions.yml
  icons/obj/device.dmi
  icons/obj/kinetic_accelerators.dmi
Labels: Awaiting Merge, Sprites

#5079 Fix girders and cult rune layers
  code/ATMOSPHERICS/pipes.dm
  code/__defines/_layers.dm
  code/game/gamemodes/cult/ritual.dm
  code/game/objects/structures/girders.dm
Labels: Bypass Development, Review Required

#5052 Adds some random asteroid dungeons
  aurorastation.dme
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/sarcophagus.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/simple_animal/constructs/soulstone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  html/changelogs/alberyk-dungeon.yml
  icons/obj/items.dmi
  icons/obj/sarcophagus.dmi
  icons/turf/flooring/tiles.dmi
  maps/_common/areas/special.dm
  maps/dungeon_spawns/bluespace_leak.dmm
  maps/dungeon_spawns/carp_nest.dmm
  maps/dungeon_spawns/mining_field.dmm
  maps/dungeon_spawns/shuttle_unique.dmm
  maps/dungeon_spawns/tomb_unique.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#4995 EMP resistance items
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/research/mechfab_designs.dm
  html/changelogs/Sindorman-emp.yml
  icons/obj/nanopaste.dmi
  icons/obj/robot_component.dmi
Labels: Awaiting Merge, Sprites

#4998 Ports TGs System of Cargo Rewards and Bounties
  .github/CODEOWNERS
  aurorastation.dme
  code/__defines/math_physics.dm
  code/controllers/subsystems/cargo.dm
  code/datums/cargo.dm
  code/datums/diseases/advance/advance.dm
  code/datums/trading/food.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/bot.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/bounties/item.dm
  code/modules/cargo/bounties/mech.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/security.dm
  code/modules/cargo/bounties/slime.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounties/virus.dm
  code/modules/cargo/bounties/weapon_prototype.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/export_scanner.dm
  code/modules/cargo/exports.dm
  code/modules/cargo/exports/gear.dm
  code/modules/cargo/exports/large_objects.dm
  code/modules/cargo/exports/manifest.dm
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/parts.dm
  code/modules/cargo/exports/seeds.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_control.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/Arrow769-centcomrewards.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-8_derelict.dmm
  maps/aurora/code/aurora.dm
  maps/exodus/code/exodus.dm
  maps/exodus/exodus-2_centcomm.dmm
  nano/templates/cargo_control.tmpl
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Update Wiki

#5013 Board games update: chess edition
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/games/boardgame.dm
  html/changelogs/alberyk-agameofchess.yml
  icons/obj/pieces.dmi
Labels: Awaiting Merge, Sprites

#4793 Extinguisher + Container Reworks
  code/ZAS/Fire.dm
  code/__defines/chemistry.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/mecha/equipment/tracking_beacon.dm
  code/game/objects/effects/chem/water.dm
  code/game/objects/effects/decals/Cleanable/fuel.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/effects/temporary_visuals/temporary_visual.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/landmines.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/weaponry.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/flora.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated.dm
  code/modules/assembly/igniter.dm
  code/modules/mob/abstract/abstract.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/xenoarchaeology/machinery/coolant.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/spells/spell_projectile.dm
  html/changelogs/burgerbb-extinguishers.yml
  icons/effects/effects.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/items.dmi
  icons/obj/objects.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  vueui/install
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5094 Fixes 5091 and 5093, 5089 and an autoinhaler/autoinjecter icon bug
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/burgerbb-fixes.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5095 Fixed vueui resources not working
  code/modules/vueui/ui.dm
  html/changelogs/Karolis2011 - vueui fixes.yml
  vueui/src/assets/global.scss
  vueui/src/main.js
Labels: Awaiting Merge, Bypass Development, VueUi

#5096 August bugfixes
  code/datums/trading/weaponry.dm
  code/modules/cargo/bounties/slime.dm
  code/modules/cargo/randomstock.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/projectiles/ammunition/boxes.dm
  maps/dungeon_spawns/bluespace_leak.dmm
Labels: Bypass Development, Review Required

#5100 Fixes the runtime of mob/visible_message not having a range arg
  code/modules/mob/mob.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5105 Roof Solars Fix
  html/changelogs/flimango-roof_solars_redo.yml
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5104 Additional August Fixes
  code/__defines/items_clothing.dm
  code/game/turfs/simulated.dm
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/core.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food.dm
  html/changelogs/burgerbb-fixes02.yml
Labels: Awaiting Merge, Bypass Development

#5108 Fixed the Warden uniform being a Security Officer uniform in the character loadout.
  code/modules/client/preference_setup/loadout/loadout_suit.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5070 Service borg synthesizer upgrade
  code/modules/reagents/reagent_containers/borghydro.dm
  html/changelogs/ben10083-ServiceSynthesizer.yml
Labels: Awaiting Merge

#5112 [Ready for Review] Removes lag.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5111 Fixes Food For Real Now
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5058 Ports Shitloads of Fashion From Polaris
  code/game/antagonist/outsider/raider.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirts.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/paradoxspace-militaryfashionshow.yml
  icons/mob/ears.dmi
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/ears.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/items.dmi
  icons/obj/tracksuit.dmi
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5120 Fixes the long-standing RCON bug.
  html/changelogs/rcon_fix.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Bypass Development, Mapping: Aurora, Review Required

#5121 Developent error fix, bot will take care of rest
  vueui/package-lock.json
  vueui/package.json
  vueui/vue.config.js
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5126 Dionea anti-radiation drugs damage tweak
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/Sindorman-Diona.yml
Labels: Bypass Development, Review Required

#5131 Pizza Drinking Fixes
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-pizza.yml
Labels: Awaiting Merge, Bypass Development

#5132 Fixes the derelict shuttle apc and penguins missing their sprites
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  maps/dungeon_spawns/shuttle_unique.dmm
Labels: Bypass Development, Review Required

#5135 Fixes vending machines for BYOND 1438+
  code/game/machinery/vending.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required, High Priority

#5143 Fixes #5142
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-food_fix_v6515.yml
Labels: Awaiting Merge, Bypass Development

#5150 Hypo Changes
  code/modules/reagents/reagent_containers/hypospray.dm
  html/changelogs/arrow768-hypo2.yml
Labels: Awaiting Merge, Bypass Development

#5154 Fixes #5149 for injectors
  code/modules/reagents/reagent_containers/hypospray.dm
Labels: Bypass Development, Changelog Required, Review Required

#5152 Fixes #5133
  code/modules/reagents/reagent_containers/borghydro.dm
Labels: Bypass Development, Review Required

#5166 Fixes examine of suits
  code/modules/mob/living/carbon/human/examine.dm
Labels: Awaiting Merge, Changelog Required

#5072 Removes grenade timers
  code/game/objects/items/weapons/grenades/grenade.dm
  html/changelogs/cookout.yml
Labels: Awaiting Merge

#5169 Upgrades mining voidsuit and hardsuit allowed items in the suit storage slot
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  html/changelogs/alberyk-mining.yml
Labels: Awaiting Merge

#5110 Bar / Kitchen Overhaul
  code/game/machinery/vending_types.dm
  code/game/turfs/initialization/maintenance.dm
  html/changelogs/burgerbb - kitchen and bar.yml
  maps/_common/areas/station/civilian.dm
  maps/_common/areas/station/maintenance.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5147 Renaming space heater
  code/game/machinery/spaceheater.dm
  html/changelogs/spaceAC.yml
Labels: Awaiting Merge

#5167 Attempts a fix for #5157.
  code/modules/reagents/Chemistry-Holder.dm
Labels: Bypass Development

#5170 Additional Reagent Fixes
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/burgerbb-mass_reagent_fixes.yml
Labels: Bypass Development, Review Required

#5179 Adds HUB_ENABLED define
  code/hub.dm
Labels: Awaiting Merge, Bypass Development, Changelog Required, High Priority

#5185 Fixes #5038
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending.dm
  html/changelogs/skull132_5038.yml
  nano/templates/smartfridge.tmpl
  nano/templates/vending_machine.tmpl
Labels: Awaiting Merge, Bypass Development, High Priority

#5186 Fixes Food Placement For Real Now
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/pill.dm
  html/changelogs/burgerbb-fixforreal.yml
Labels: Awaiting Merge, Bypass Development

#5187 Fixes drinking food
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/burgerbb-fuckfoodcode.yml
Labels: Awaiting Merge, Bypass Development

#5183 Inhale Metabolism Fixes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/burgerbb-inhalerfix.yml
Labels: Bypass Development, Review Required

#5078 Holopad
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora

#5174 Adds the ability to rename food
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb - please dont name sausages to penis.yml
Labels: Awaiting Merge

#5172 Adds fox in hand sprites.
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  icons/mob/held_mobs.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#5163 Surge prevention module balance
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/research/mechfab_designs.dm
  html/changelogs/Sidorman-surge.yml
  icons/obj/nanopaste.dmi
Labels: Awaiting Merge, Sprites

#5171 Adds the new ninja hardsuit sprites
  html/changelogs/alberyk-ninja.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/rig_back.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/species/vaurca/helmet.dmi
  icons/mob/species/vaurca/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
Labels: Awaiting Merge, Sprites

#5168 Add new chemicals
  code/__defines/chemistry.dm
  code/_onclick/item_attack.dm
  code/game/modifiers/modifiers_chem.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/window.dm
  code/modules/client/client_color.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_predefined.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/alberyk-chem.yml
Labels: Awaiting Merge

#5177 Mechant list additions
  code/datums/trading/ai.dm
  code/datums/trading/goods.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/item_worth/worths_list.dm
Labels: Awaiting Merge, Changelog Required
