Repository Aurorastation/Aurora.3, pull requests merged in 2018-10, with the labels that each got.

#5337 HOP disposal pipe fix
  html/changelogs/Sindorman-disposal.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Mapping: Aurora, Review Required

#5263 Medbay Design Overhaul
  html/changelogs/furrycactus-medical-overhaul.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5197 Disposals Map Overhaul
  code/game/machinery/doors/blast_door.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/recycling/conveyor2.dm
  code/modules/recycling/disposal.dm
  code/modules/recycling/sortingmachinery.dm
  html/changelogs/burgerbb-disposals_improvements.yml
  maps/_common/areas/station/civilian.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5271 Allow branded IPCs wear voidsuits
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/mob/living/carbon/human/species/station/machine_subspecies.dm
  html/changelogs/Sindorman-void.yml
Labels: Awaiting Merge, Bypass Development

#5190 Removes Centcomm Junkfood Vending Machines
  html/changelogs/burgerbb - lunchbox removal.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Do Not Merge, Feedback Required, Mapping: Aurora

#5261 Interface Improvements
  html/changelogs/burgerbb-skinhead.yml
  interface/skin.dmf
Labels: Awaiting Merge

#5346 Fixes #4612
  code/controllers/subsystems/job.dm
  code/game/antagonist/antagonist_place.dm
Labels: Awaiting Merge, Bypass Development

#5295 Bathroom privacy and more
  code/modules/admin/verbs/mapping.dm
  html/changelogs/Sindorman-cameras.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, High Priority, Mapping: Aurora

#5353 Fix shock causing slowdown to species that suffer no pain
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Awaiting Merge, Bypass Development

#5347 Adds 10 Chocolate Bars
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-chocolate.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#5354 Fixes junk food having no taste and the chocolate box
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/mob/living/carbon/taste.dm
Labels: Awaiting Merge, Bypass Development

#5359 CC upgrades(up to date)
  html/changelogs/Sindorman-centra-remap.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5356 Tajaran fashion: the revolution strikes again
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/suits/alien.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/alberyk-tajara.yml
  icons/mob/human_face/tajara_hair.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#5300 Airlocks now take a bit to weld and unweld.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  html/changelogs/arrow768-door-welding.yml
Labels: Awaiting Merge

#5327 Knocking things off table
  code/modules/tables/interactions.dm
  html/changelogs/Sindorman-table.yml
Labels: Review Required

#5068 Hostile mob, spiders and carps update
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Sindorman-carp-update.yml
Labels: Review Required

#5355 Medbay Overhaul Fixes
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora

#5329 Adds the new syllables to human languages
  code/modules/mob/language/generic.dm
  code/modules/mob/language/station.dm
Labels: Awaiting Merge

#5323 Unapologetic Kabbalah Buffs
  aurorastation.dme
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/metroid/items.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spells/aoe_turf/conjure/golem.dm
  code/modules/spells/spellbook/battlemage.dm
  code/modules/spells/spellbook/druid.dm
  html/changelogs/alberyk-golem.yml
  icons/mob/human_races/golem/r_bronze.dmi
  icons/mob/human_races/golem/r_cardboard.dmi
  icons/mob/human_races/golem/r_cloth.dmi
  icons/mob/human_races/golem/r_coal.dmi
  icons/mob/human_races/golem/r_flesh.dmi
  icons/mob/human_races/golem/r_wood.dmi
  icons/mob/human_races/r_golem.dmi
  icons/mob/human_races/r_human.dmi
  icons/mob/screen/spells.dmi
  sound/magic/anima_fragment_death.ogg
Labels: Awaiting Merge, Sprites

#5291 Only Announce Faxes if someone doesnt have their PDA linked
  SQL/migrate/V031__more_do_options.sql
  code/datums/api.dm
Labels: Awaiting Merge

#5285 Lichdom and apprentice contract improvements
  code/modules/spells/contracts.dm
  code/modules/spells/targeted/necromancer_spells.dm
  html/changelogs/alberyk-wizard.yml
Labels: Awaiting Merge

#5365 October fixes: leg icon and golem names
  code/modules/mob/living/carbon/metroid/items.dm
  icons/mob/human_races/r_human.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5368 Fixes species that should have no hunter and thirst having it
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/xenomorphs/alien_species.dm
Labels: Awaiting Merge, Bypass Development

#5358 Fixes shoes not covering wounds properly
  code/modules/mob/living/carbon/human/examine.dm
Labels: Awaiting Merge, Bypass Development

#5379 Golem fixes
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/metroid/items.dm
Labels: Awaiting Merge, Bypass Development

#5371 Fixes #5369
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Changelog Required, Mapping: Aurora

#5378 Slimes and Booze fixes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/burgerbb - slimes and intoxication.yml
Labels: Awaiting Merge, Bypass Development

#5377 Zombies tweaks
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Awaiting Merge, Bypass Development

#5380 Bugfixes: constructs, simple animals falling down and airlock runtimes
  code/game/machinery/doors/airlock.dm
  code/modules/mob/living/simple_animal/constructs/constructs.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
Labels: Awaiting Merge, Bypass Development

#5384 Hunger Icon Tweaks
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/burgerbb - hunger tweaks.yml
Labels: Awaiting Merge, Bypass Development

#5383 Admins are no longer kicked for using proxies
  code/modules/client/client procs.dm
Labels: Bypass Development, Changelog Required, Review Required

#5386 Fixes zombie juice turning people into zombies right away
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Awaiting Merge, Bypass Development

#5391 Map fixes
  html/changelogs/Sindorman-fixes.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5340 Changes Virology effect names to be more medically correct, plus Viro bugfixes
  code/modules/virus2/analyser.dm
  code/modules/virus2/diseasesplicer.dm
  code/modules/virus2/effect.dm
  html/changelogs/moondancer-virochanges.yml
Labels: Awaiting Merge, Update Wiki

#5393 Fixes #5392 + Blood Nutrition Tweaks
  code/modules/organs/blood.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb - forcefeed fix.yml
Labels: Awaiting Merge, Bypass Development

#5404 Multiple bugfixes
  code/_helpers/logging.dm
  code/modules/admin/admin_verbs.dm
  html/changelogs/Arrow768-bugfixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Bypass Development, Mapping: Aurora

#5396 The last of the hydration/hunger fixes.
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/burgerbb - lastfix.yml
Labels: Awaiting Merge, Bypass Development

#5395 Moving Travis to byond 512.1452
  .travis.yml
  scripts/dm.sh
Labels: Awaiting Merge, Bypass Development, Changelog Required

#5360 Tweaks Black K'ois or: How I Learned to Stop Worrying and Love the Phoron
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/lordfowl-kois.yml
Labels: Awaiting Merge

#5394 Port Rust-g DLL and use it for logging
  .travis.yml
  TGS3.json
  code/_helpers/logging.dm
  code/world.dm
  html/changelogs/Sindorman-logging.yml
  rust_g.dll
  scripts/rust_g.sh
Labels: Awaiting Merge

#5417 More Unittests
  code/unit_tests/map_tests.dm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Mapping: Exodus

#5413 New Firelock Icons
  html/changelogs/burgerbb-firelock.yml
  icons/obj/doors/DoorHazard.dmi
  icons/obj/doors/hatches.dmi
Labels: Awaiting Merge, Sprites

#5437 Removing duplicated timestamps
  code/_helpers/logging.dm
Labels: Awaiting Merge, Changelog Required

#5421 Fixes the spirit board requiring the target to have constant attention to it
  code/game/objects/items/spirit_board.dm
Labels: Bypass Development, Review Required

#5428 Removes the z-checks from doors and firedoors.
  code/unit_tests/map_tests.dm
  maps/aurora/aurora-8_derelict.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-4_derelict.dmm
  maps/exodus/exodus-5_asteroid.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora, Mapping: Exodus

#5306 Adds aiming logs
  code/modules/projectiles/targeting/targeting_overlay.dm
Labels: Awaiting Merge, Changelog Required

#5401 Surface study + roof adjustments (real)
  html/changelogs/doc-commandstudy.yml
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5451 Removes Roboticist's Bluespace Toolbelt
  html/changelogs/lordfowl.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Mapping: Aurora, Review Required

#5449 Fixing ninja suit sprite_sheets
  code/modules/clothing/spacesuits/rig/suits/light.dm
  html/changelogs/Sindorman-cycler.yml
Labels: Bypass Development, Review Required

#5438 Fixed Starting Nutrition/Hydration
  code/__defines/mobs.dm
  code/controllers/subsystems/job.dm
  html/changelogs/burgerbb - fuck randy.yml
Labels: Bypass Development, Review Required

#5424 Construction Level Improvements
  html/changelogs/furrycactus-constructionlevel.yml
  maps/_common/areas/station/maintenance.dm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5436 More Wizard Fixes
  code/modules/spells/spellbook/battlemage.dm
  code/modules/spells/spellbook/cleric.dm
  code/modules/spells/spellbook/druid.dm
  code/modules/spells/spellbook/necromancer.dm
  code/modules/spells/spellbook/spatial.dm
  code/modules/spells/spellbook/standard.dm
  code/modules/spells/targeted/mindcontrol.dm
  code/modules/spells/targeted/subjugate.dm
  html/changelogs/Kaedwuff - Spell Tweaks.yml
Labels: Awaiting Merge

#5338 Bug fix's!
  code/modules/clothing/under/syndicate.dm
  code/modules/custom_ka/cells.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/mine_items.dm
  code/modules/modular_computers/hardware/battery_module.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/bugfix.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  nano/templates/ntnet_downloader.tmpl
Labels: Bypass Development, Changes Required, Mapping: Aurora, Sprites

#5460 Enabling Diona whitelist for nymph
  code/modules/mob/living/carbon/alien/diona/progression.dm
  html/changelogs/Sidndorman-nymph.yml
Labels: Bypass Development, Review Required

#5439 Hydration/Nutrition Tweaks
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob_defines.dm
  code/modules/organs/blood.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-thirsthungerchanges.yml
Labels: Awaiting Merge

#5407 IAC Clothing
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/dragoiac.yml
  icons/mob/head.dmi
  icons/mob/mask.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#5430 Refactor random warehouse
  aurorastation.dme
  code/controllers/subsystems/initialization/misc_early.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/random_stock/_defs.dm
  code/modules/cargo/random_stock/large.dm
  code/modules/cargo/random_stock/large_exosuit.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/cargo/random_stock/t3_rare.dm
  code/modules/cargo/random_stock/~undefs.dm
  code/modules/cargo/randomstock.dm
Labels: Awaiting Merge

#5420 Head of Security voidsuit + cycler
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/void/station.dm
  html/changelogs/doc-hos-voidsuit.yml
  html/changelogs/doc-kyres-hos-voidsuit.yml
  icons/mob/head.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/suits.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5459 No more replicant pods
  code/modules/hydroponics/seed_datums.dm
  html/changelogs/Kaedwuff - Diona Pods.yml
  icons/obj/hydroponics_products.dmi
Labels: Awaiting Merge, Bypass Development, Sprites

#5419 Adds ipc voidsuit sprites
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  html/changelogs/alberyk-voidsuit.yml
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/suit.dmi
  icons/obj/clothing/species/machine/hats.dmi
  icons/obj/clothing/species/machine/suits.dmi
Labels: Awaiting Merge, Sprites

#5336 No more magic shoes
  code/game/antagonist/outsider/wizard.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/spells/storage.dm
  html/changelogs/Kaedwuff - Shoe Freedom.yml
Labels: Awaiting Merge, Feedback Required

#5415 Adds the electric razor
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  html/changelogs/alberyk-razor.yml
  icons/obj/weapons.dmi
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5357 Toxins Remap
  code/ATMOSPHERICS/components/trinary_devices/mixer.dm
  code/controllers/subsystems/explosives.dm
  code/game/machinery/doppler_array.dm
  code/game/machinery/igniter.dm
  code/game/objects/explosion.dm
  code/game/objects/items/devices/binoculars.dm
  code/modules/recycling/disposal.dm
  html/changelogs/burgerbb - toxins remap.yml
  icons/obj/computer.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5469 Vampire Blood Drain Tweak
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/Kaedwuff - Vampyresucc.yml
Labels: Awaiting Merge

#5476 Adds sounds for clapping, adds a golfclap emote.
  code/modules/mob/living/carbon/human/emote.dm
  html/changelogs/mattatlas-clapclapidiot.yml
  sound/effects/clap.ogg
  sound/effects/golfclap.ogg
Labels: Awaiting Merge

#5325 adds the ability to tear and burn flags
  code/game/objects/structures/signs.dm
  icons/obj/contraband.dmi
Labels: Awaiting Merge, Changelog Required, Changes Required, Sprites

#5442 Updating spawn(Create Object) for admin panel
  code/modules/admin/admin.dm
  code/modules/admin/create_object.dm
  code/modules/admin/topic.dm
  html/changelogs/Sindorman-spawn.yml
  html/create_object.html
Labels: Awaiting Merge

#5473 Orion trail prizes are only for cool kids
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/objects/random/random.dm
  html/changelogs/Sindorman-orion.yml
Labels: Awaiting Merge

#5462 Engineering Roundstart Changes 2.0
  html/changelogs/furrycactus - roundstart-changes.yml
  maps/_common/areas/station/storage.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5425 Directional Firelock Spawning
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  html/changelogs/burgerbb-directional_firelocks.yml
  icons/obj/doors/DoorHazard.dmi
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#5335 Adjustments to Wizard Spells
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/spells/targeted/flesh_to_stone.dm
  code/modules/spells/targeted/shapeshift.dm
  html/changelogs/Kaedwuff - Wizfixes.yml
Labels: Awaiting Merge

#5470 Added a language variable to NTSL
  code/__defines/species_languages.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/station.dm
  code/modules/scripting/Implementations/Telecomms.dm
  html/changelogs/arrow768-tcoms-lang.yml
Labels: Awaiting Merge

#5482 Adds slot machines
  aurorastation.dme
  code/game/machinery/computer/slotmachine.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/research/designs/circuit_designs.dm
  html/changelogs/alberyk-slotmachine.yml
  icons/obj/machines/slotmachine.dmi
Labels: Awaiting Merge, Sprites

#5479 Lighter tweaks
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  html/changelogs/vtcobaltblood-redditmeme.yml
Labels: Review Required
