Repository Aurorastation/Aurora.3, pull requests merged in 2018-05, with the labels that each got.

#4681 Removes water_act from the poppet
  code/modules/spells/artifacts.dm
Labels: High Priority, Review Required

#4644 More Food
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/random/random.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-foodadditions.yml
  icons/obj/chocolate.dmi
  icons/obj/food.dmi
  icons/obj/storage.dmi
Labels: Review Required, Sprites, Update Wiki

#4625 Adds the ability to partially understand other languages and a bit more
  code/__defines/species_languages.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/autohiss.dm
  code/modules/mob/living/carbon/human/species/station/tajaran_subspecies.dm
  code/stylesheet.dm
  html/changelogs/alberyk-language.yml
Labels: Review Required

#4659 Short Names for Commanded Dogs
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/arrow768-commanded-short-names.yml
Labels: Review Required

#4685 Secret chem fixes
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Bypass Development

#4632 Vote Troll Logging
  code/_helpers/logging.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/vote.dm
Labels: Feedback Required, Review Required

#4674 Integrated Electronics - GPS Tracker Z-Level
  code/modules/integrated_electronics/subtypes/input.dm
Labels: Review Required

#4671 Adds 10 Cyberpunk Hairstyles & Some Clothes
  aurorastation.dme
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirts.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/paradoxspace-50percentoff.yml
  icons/mob/eyes.dmi
  icons/mob/head.dmi
  icons/mob/human_face/hair.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Review Required, Sprites

#4683 Remove duplicate macros
  code/ATMOSPHERICS/components/binary_devices/circulator.dm
  code/ATMOSPHERICS/components/binary_devices/pipeturbine.dm
  code/__defines/_macros.dm
  code/__defines/atmos.dm
  code/__defines/gamemode.dm
  code/__defines/math_physics.dm
  code/__defines/misc.dm
  code/__defines/mobs.dm
  code/_onclick/hud/parallax.dm
  code/controllers/subsystems/supply.dm
  code/datums/wires/vending.dm
  code/game/antagonist/_antagonist_setup.dm
  code/game/dna/dna2.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/status_display.dm
  code/game/supplyshuttle.dm
Labels: Review Required

#4686 Adds Butanol Drinks to Flasks
  code/controllers/subsystems/garbage-debug.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/burgerbb-butt_flask.yml
Labels: Review Required

#4676 More Bugfixes
  code/game/machinery/portable_turret.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/Sindorman-bugfixes.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Bypass Development, Review Required

#4691 individualize the window title from other servers
  interface/skin.dmf
Labels: Review Required

#4694 Changes how detomatix pda detonation works
  code/game/objects/items/devices/PDA/PDA.dm
Labels: Review Required, Update Wiki

#4698 Custom items 08/05
  code/datums/trading/goods.dm
  code/game/objects/items/weapons/dice.dm
  code/modules/cargo/randomstock.dm
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/ird_face.dmi
  icons/obj/custom_items/jix_items.dmi
  icons/obj/custom_items/nikit_zippo.dmi
Labels: Bypass Development, Review Required, Sprites

#4701 Fixes resisting out of grabs while hypnotized (or stunned)
  code/modules/mob/living/living.dm
  html/changelogs/Changelog - NoResistance.yml
Labels: Bypass Development, Review Required

#4690 Hostile mobs update
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Sindorman-mobs.yml
Labels: Review Required

#4594 Renames SSminimap and changes nutrition examine values
  aurorastation.dme
  code/controllers/subsystems/initialization/holomap.dm
  code/game/machinery/station_holomap.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Awaiting Merge

#4702 Lore: bumped Vaurca economic modifier
  code/modules/mob/living/carbon/human/species/station/station.dm
  html/changelogs/skull132_vaurca_econ.yml
Labels: Bypass Development, Review Required

#4648 Mental Medication Additions
  aurorastation.dme
  code/__defines/chemistry.dm
  code/datums/trading/ai.dm
  code/datums/trading/goods.dm
  code/datums/uplink/medical.dm
  code/game/antagonist/station/loyalist.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cargo/randomstock.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/organ_internal.dm
  code/modules/reagents/Chemistry-Holder.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/xenoarchaeology/artifact/artifact_replicator.dm
  html/changelogs/burgerbb-mentalmedicationplus.yml
  icons/obj/device.dmi
  icons/obj/library.dmi
  icons/obj/storage.dmi
  icons/obj/syringe.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  sound/items/stimpack.ogg
Labels: Feedback Required, Review Required

#4705 Adds more loadout option, lore and shoes edition
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/alberyk-fashion.dml
  icons/mob/feet.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Review Required, Sprites

#4717 Hydroponics Seed Fix
  code/game/machinery/vending_types.dm
  html/changelogs/burgerbb-seedchange.yml
Labels: Review Required

#4716 Moves the Janitor Back to Civilian
  aurorastation.dme
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/jobs.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/arrow768-janitorial.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Review Required, Update Wiki

#4711 IPCs cant be cultists
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/runes.dm
  html/changelogs/arrow768-noipccult.yml
Labels: Review Required, Update Wiki

#4722 Reverts alcohol changes partially
  code/__defines/chemistry.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
Labels: Bypass Development, Review Required

#4712 Bugfixes: resisting grab and synth version
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/living.dm
  icons/mob/custom_synthetic.dmi
Labels: Bypass Development, Review Required

#4726 Bug fixes for may update of 2018
  code/game/jobs/jobs.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-fashion.dml
Labels: Bypass Development, Review Required

#4735 Hotfixes to security overhaul
  maps/_common/areas/station/security.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development

#4721 Adds Gruff Cloak to loadout
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
Labels: Bypass Development, Review Required

#4718 Fix for Bahama Lizard cocktail.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/Changelog - Bahamalizard.yml
Labels: Bypass Development, Review Required, Update Wiki

#4745 Destroy for oxy candles
  code/game/objects/items/devices/oxycandle.dm
Labels: Bypass Development

#4754 Add Cameras to medical isolation
  maps/aurora/aurora-3_sublevel.dmm
Labels: Bypass Development, Mapping: Aurora

#4749 Custom items 16/05
  code/game/objects/items/weapons/candle.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/cargo/randomstock.dm
  code/modules/customitems/item_defines.dm
  code/modules/games/cards.dm
  code/modules/games/tarot.dm
  icons/obj/custom_items/fernando_knitting.dmi
  icons/obj/custom_items/klavdiya_amulet.dmi
  icons/obj/custom_items/lunea_gloves.dmi
  icons/obj/custom_items/marwani_dress.dmi
  icons/obj/playing_cards.dmi
Labels: Bypass Development, Review Required

#4752 More bugfixes
  code/game/objects/empulse.dm
  code/modules/spells/aoe_turf/disable_tech.dm
  html/changelogs/Sindorman-bugfixes.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Changes Required

#4773 Fixes table starting with plastic by default
  code/modules/tables/presets.dm
  code/modules/tables/rack.dm
Labels: Bypass Development, Review Required

#4771 Fixes Vending Machines unable to take stock
  code/game/machinery/vending_types.dm
  html/changelogs/burgerbb-vendorfix.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required

#4770 Fixes Smoking Pipe Bugs
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/burgerbb-smoking_fix.yml
Labels: Bypass Development, Review Required

#4769 Fixes Various Food Bugs
  code/modules/food/recipes_fryer.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/burgerbb-foodfix.yml
Labels: Bypass Development, Review Required, Update Wiki

#4775 Fixes a bad fix
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  html/changelogs/Arrow768-fixBadFix.yml
Labels: Bypass Development, Review Required

#4782 Devour Fixes Pt. 5
  code/__defines/mobs.dm
  code/_helpers/global_lists.dm
  code/controllers/subsystems/mob.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/lohikar-inediblehardlight.yml
Labels: Bypass Development, Review Required

#4789 Fixes rogue 3 broadcast
  code/game/machinery/OpTable.dm
  html/changelogs/fixessurgerytable.yml
Labels: Bypass Development, Review Required

#4788 News Loader Changes
  SQL/migrate/V028__newscaster_player_news.sql
  code/controllers/subsystems/news.dm
Labels: Bypass Development, Review Required

#4808 Medbelts and inhalers
  code/game/objects/items/weapons/storage/belt.dm
Labels: Awaiting Merge, Bypass Development

#4757 Incident date/time on sec records
  code/game/machinery/computer/security.dm
Labels: Review Required

#4723 Adds Asthma
  code/__defines/dna.dm
  code/modules/mob/abstract/new_player/character_traits.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/fowl-asthma.yml
Labels: Review Required

#4765 Minor Kitchen Changes
  code/game/machinery/vending_types.dm
  code/modules/reagents/reagent_containers/glass.dm
  html/changelogs/kitchen-balances-bport-LR001.yml
  icons/obj/kitchen.dmi
Labels: Review Required

#4805 Makes Cyanide More Fun
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/Kaedwuff- Last Words.yml
Labels: Review Required

#4818 Duller syringes
  code/game/objects/objs.dm
  code/modules/hydroponics/grown.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/Kaedwuff - Needleslicing.yml
Labels: Bypass Development, Review Required

#4777 Removes the lottery
  code/modules/events/money_lotto.dm
  html/changelogs/Arrow768-no-lottery.yml
Labels: Review Required

#4826 Small Disposal Fixes
  code/modules/recycling/disposal.dm
  html/changelogs/burgerbb-disposalsfix.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Bypass Development, Review Required
