Repository Aurorastation/Aurora.3, pull requests merged in 2019-04, with the labels that each got.

#6201 Rework spam protection
  code/datums/brain_damage/imaginary_friend.dm
  code/game/verbs/ooc.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/antag-ooc.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/pray.dm
  code/modules/client/client procs.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/parasite/meme_captive.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  html/changelogs/skull132-automutes.yml
Labels: Awaiting Merge, High Risk, Refactor, Test Merge Candidate

#6247 Bug fixes: welding protection helmets, broken syringes and terrible borg adventures
  code/game/jobs/job/outsider/merchant.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/flora.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/alberyk-somefixes.yml
  icons/mob/uniform.dmi
  icons/obj/custom_items/resolve_items.dmi
Labels: Bugfix, Review Required, Sprites

#6208 Increases the material costs of building rigs
  code/modules/research/designs/mechfab_designs.dm
  html/changelogs/alberyk-rigtweak.yml
Labels: Awaiting Merge

#6245 Adds wielded sprites to pickaxes, adds held sprite for lockboxes.
  code/game/objects/items/weapons/storage/lockbox.dm
  code/modules/mining/mine_items.dm
  html/changelogs/[Ferner]-[300319-sprites_lockboxpickaxe].yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
Labels: Awaiting Merge, Sprites

#6167 Of Space Cleaner, Lube, and Zo'rane Fire
  code/game/turfs/simulated.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/thiswasawasteoftime.yml
Labels: Awaiting Merge, Update Wiki

#6240 Ejected bullet casings produce sound
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/gunnut.yml
  sound/weapons/casingdrop1.ogg
  sound/weapons/casingdrop2.ogg
  sound/weapons/casingdrop3.ogg
  sound/weapons/casingdrop4.ogg
  sound/weapons/casingdrop5.ogg
Labels: Awaiting Merge

#6242 Bureaucracy & Library Update 3 : Total REEEE-call (stupid sound edition)
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/papershredder.dm
  code/modules/paperwork/photocopier.dm
  html/changelogs/stocking_garterbelt_wezzy.yml
  icons/obj/device.dmi
  icons/obj/library.dmi
  sound/bureaucracy/binder.ogg
  sound/bureaucracy/bookclose.ogg
  sound/bureaucracy/bookopen.ogg
  sound/bureaucracy/scan.ogg
Labels: Awaiting Merge, Sprites

#6152 Animal traps fixes and improvement
  code/game/objects/items/weapons/traps.dm
  code/modules/power/tesla/energy_ball.dm
  html/changelogs/.all_changelog.yml
  html/changelogs/Sindorman-animaltrap.yml
Labels: Awaiting Merge, Bugfix

#6258 Making stun baton log in VV
  code/game/objects/items/weapons/stunbaton.dm
  html/changelogs/Sindorman-baton.yml
Labels: Awaiting Merge, Bugfix, High Priority

#6264 Fixes blood not setting species properly when being extracted
  code/modules/organs/blood.dm
  html/changelogs/alberyk-bloodfix.yml
Labels: Awaiting Merge, Bugfix

#6252 Adds more vaurca related xenogear loadout options
  aurorastation.dme
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/under/xenos/vaurca.dm
  html/changelogs/alberyk-vaurcaclothing.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#6277 Fixes hydro overalls being white
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/VTCobaltblood - meow.yml
Labels: Awaiting Merge, Bugfix

#6268 removes dermal armor patch
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/paradoxspace - dermalpatchedout.yml
Labels: Awaiting Merge

#6270 Slightly changes the vault layout
  html/changelogs/arrow768-vault.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6273 Odin Arrivals Overhaul
  html/changelogs/arrow768-odin-checkpoint.yml
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
Labels: Mapping: Aurora, Review Required, Waiting Period

#6113 Diona no longer consumes air to restore nutrition.
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  html/changelogs/Sindorman-diona-breathe.yml
Labels: Awaiting Merge, Lore Request

#6282 Cybersuit targeting board fix
  code/modules/research/designs/circuit_designs.dm
  html/changelogs/Sindorman-rig.yml
Labels: Awaiting Merge, Bugfix

#6287 Readds a camera to the vault that has been deleted by accident
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, Mapping: Aurora

#6276 Reverting increased prices for vending machine.
  code/game/machinery/vending_types.dm
  html/changelogs/Sindorman-revert.yml
Labels: Awaiting Merge, Lore Request

#6299 Changes how clumsy checks are handled
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/trays.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/assembly/mousetrap.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  code/modules/mob/mob.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/virus2/items_devices.dm
  html/changelogs/alberyk-drinking.yml
Labels: Awaiting Merge, Bugfix

#6278 Adds primitive cubes to biogenerators
  code/game/machinery/biogenerator.dm
  html/changelogs/VTCobaltblood - sobasically.yml
Labels: Awaiting Merge

#6302 fixes unathi caligae
  html/changelogs/paradoxspace - socksnsandals.yml
  icons/mob/species/unathi/shoes.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6298 Adds aut'akh cloning
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/cloning.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/unathi_subspecies.dm
  html/changelogs/alberyk-autakhcloning.yml
Labels: Awaiting Merge

#6279 Overhauls Soap!
  aurorastation.dme
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/soap.dm
  html/changelogs/Baa14453 - SoapOverhaul.yml
  icons/obj/items.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-8_derelict.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#6286 A round of map fixes and some minor requests.
  html/changelogs/[Ferner]-[110419-mapping_gloves].yml
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6267 Tajaran Clothing Changes
  html/changelogs/ihateyoualberyk.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#6289 Adds a new skrell body marking
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/VTCobaltblood - frungy.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites

#6292 TCFL Cmdt Office
  html/changelogs/ben10083 - Cmdt_Office.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6294 Bringing Vox clothes up to date
  code/modules/clothing/head/misc_special.dm
  html/changelogs/Fire-and-Glory-Vox-sprites.yml
  icons/mob/species/vox/eyes.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/masks.dmi
  icons/mob/species/vox/suit.dmi
Labels: Awaiting Merge, Sprites, WIP

#6311 Bug fixes: vaurca items, survival items fix and message spam
  code/game/machinery/kitchen/microwave.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/human.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/carbon/human/species/station/station.dm
  html/changelogs/alberyk-morebugfixes.yml
  icons/mob/human_races/r_vaurca.dmi
  icons/mob/mask.dmi
  icons/mob/rig_back.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6319 Cybersuit name and description fix
  code/modules/clothing/spacesuits/rig/rig_construction.dm
  code/modules/research/designs/mechfab_designs.dm
  html/changelogs/Sindorman-cyber.yml
Labels: Awaiting Merge, Bugfix

#6291 Adds boneless vaurca
  code/modules/mob/living/carbon/human/species/station/station.dm
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/alberyk-vaurcabone.yml
Labels: Awaiting Merge, Lore Request

#6293 Buffing containment field generators by 25%
  code/modules/power/singularity/field_generator.dm
  html/changelogs/Sindorman-emitter.yml
Labels: Awaiting Merge

#6256 NTSL2+
  aurorastation.dme
  code/_helpers/logging.dm
  code/controllers/configuration.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/ntsl.dm
  code/modules/mob/hear_say.dm
  code/modules/modular_computers/file_system/programs/generic/ntsl2_interpreter.dm
  code/modules/ntsl2/guide.dm
  code/modules/ntsl2/ntsl2.dm
  code/modules/ntsl2/program.dm
  code/modules/ntsl2/telecomms.dm
  code/modules/scripting/Implementations/Telecomms.dm
  config/example/config.txt
  html/changelogs/tehflamintaco - NTSL2.yml
  icons/obj/library.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  nano/templates/ntsl_interpreter.tmpl
Labels: Awaiting Merge, Feature, High Risk, Mapping: Aurora, Sprites, Test Merge Candidate

#6246 Chaplain Buffs
  code/game/objects/items/weapons/weaponry.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/reagents/reagent_containers/spray.dm
  html/changelogs/Kaedwuff - Chaplain Buffs.yml
  icons/mob/back.dmi
  icons/mob/items_lefthand.dmi
  icons/mob/items_righthand.dmi
  icons/obj/weapons.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  sound/effects/jingle.ogg
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#6317 Adds toothpaste and toothbrush
  aurorastation.dme
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/tooth_paste.dm
  html/changelogs/alberyk-toothpastememe.yml
  icons/obj/chemical.dmi
  icons/obj/drinks.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Lore Request, Mapping: Aurora, Sprites

#6260 Hostile mobs charge back at other hostile mobs who target them
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Sindorman-hostile.yml
Labels: Awaiting Merge

#6326 Fixes a typo for malf AI
  code/game/antagonist/station/rogue_ai.dm
  html/changelogs/SpaceBaa-PR-6326.yml
Labels: Awaiting Merge

#6333 Fixes the vaurca clothes
  html/changelogs/alberyk-vaurcaclothing.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6180 Replaces hydroponics closets in Xenoflora with xenobotany ones.
  code/game/objects/items/weapons/tanks/watertank.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  html/changelogs/[Ferner]-[200319-xenobotany_locker].yml
  icons/obj/closet.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#6316 Makes Zo'ra Soda less hilariously awful.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/paradoxspace-zoratwo.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#6310 Aut'akh Limb Crate (And Others)
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/organs/subtypes/autakh.dm
  html/changelogs/paradoxspace-returnofmechagodzilla.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/action_buttons/organs.dmi
  icons/obj/combitool.dmi
  icons/obj/items.dmi
  icons/obj/storage.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#6263 Reworking Most simple mobs hunger
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/mob/living/simple_animal/friendly/ratking.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/Sindorman-animals.yml
  icons/mob/npc/animal.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6334 Fixes Portable Destructive Analyzer being able to destroy everything
  code/modules/mob/living/silicon/robot/robot_items.dm
  html/changelogs/alberyk-portablefix.yml
Labels: Awaiting Merge

#6070 Lathe Updates
  code/game/machinery/autolathe.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/designs.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/mining_designs.dm
  html/changelogs/DrHobo2k15.yml
Labels: Awaiting Merge

#6342 Fixes the emergency leap
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  html/changelogs/arrow768-ninja-teleporter.yml
Labels: Awaiting Merge, Bugfix

#6351 Ling Hotfix
  code/game/gamemodes/changeling/changeling_powers.dm
  html/changelogs/Kaedwuff - Absorb Stacking Hotfix.yml
Labels: Awaiting Merge, Bugfix

#6343 Changes the YouTool in Engineering Storage to have a constant stock.
  html/changelogs/arrow768-youtool-stock.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6348 Fixes the vaurca clothing sprite
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#6344 Changes the Rigs the Heisters have available.
  html/changelogs/arrow768-heisterrigs.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6345 Window for Fake Announcer
  code/game/objects/items/devices/uplink.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  html/changelogs/arrow768-announcer.yml
Labels: Awaiting Merge

#6323 Kinnetic Accelerator fixes and changes
  .travis.yml
  code/game/mecha/equipment/weapons/mecha_energy.dm
  code/modules/custom_ka/projectiles.dm
  html/changelogs/Sindorman-ka.yml
Labels: Awaiting Merge, Bugfix

#6357 Fixes missing access for the raider rigs
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, Mapping: Aurora
