Repository Aurorastation/Aurora.3, pull requests merged in 2019-01, with the labels that each got.

#5860 Diona Gestalt Chirp and Chirp Song.
  code/modules/mob/living/carbon/human/emote.dm
  html/changelogs/Sindormna-dionachirp.yml
Labels: Awaiting Merge, Feature, Lore Request

#5862 Update the contributing guidelines
  .github/CONTRIBUTING.md
Labels: Awaiting Merge, Changelog Required, Feedback Required

#5864 Minor Plushie Update
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  html/changelogs/plushies.yml
  icons/mob/head.dmi
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#5855 Better Bite Sound Effect for Vampires
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/Kaedwuff - Better Succ.yml
  sound/effects/drain_blood_new.ogg
Labels: Awaiting Merge

#5880 Removes the Sylph Barsign
  html/changelogs/Arrow768-removes-sylph.yml
  icons/obj/barsigns.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#5894 Fixes whispering verbs
  code/modules/mob/language/language.dm
  html/changelogs/alberyk-whisper.yml
Labels: Awaiting Merge, Bugfix

#5878 Updates the bluespace artillery.
  code/game/objects/items/weapons/circuitboards/computer/supply.dm
  code/modules/awaymissions/bluespaceartillery.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/Arrow768-bsa.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#5853 Laser Pointers
  aurorastation.dme
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/random/random.dm
  html/changelogs/laserpointers.yml
  icons/obj/projectiles.dmi
Labels: Awaiting Merge, Sprites

#5901 Fixes skirts and ponchos
  html/changelogs/VTCobaltblood - remove-cloaks.yml
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#5886 Updates VueUi and improves developemnt for it
  .travis.yml
  code/game/machinery/atmo_control.dm
  html/changelogs/Karolis2011-vuifixes.yml
  vueui/README.md
  vueui/package-lock.json
  vueui/package.json
  vueui/src/assets/theme-nano.scss
  vueui/src/components/view/console/atmocontrol/supermatter.vue
  vueui/src/components/view/console/atmocontrol/tank.vue
  vueui/src/components/view/paperwork/photocopier.vue
  vueui/src/components/vui/button.vue
  vueui/src/components/vui/input/numeric.vue
  vueui/src/main.js
  vueui/template.html
Labels: Awaiting Merge, VueUi

#5897 Add's Camera's and holopad to chemistry
  html/changelogs/chemistryaddition.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#5884 Update the Changelog Generator
  .travis.yml
  html/changelog.css
  html/changelogs/arrow768-changeloggen.yml
  html/changelogs/example.yml
  html/computer.png
  html/disk.png
  html/retort.png
  html/shield.png
  html/toolbox.png
  tools/GenerateChangelog/ss13_genchangelog.py
Labels: Awaiting Merge

#5891 Justified navbar for the greeting window
  code/datums/server_greeting.dm
  html/changelogs/skull132_navbar.yml
  html/templates/welcome_screen.html
Labels: Awaiting Merge, Bugfix

#5909 Tau ceti legion fixes
  html/changelogs/alberyk-legionagain.yml
  icons/mob/back.dmi
  icons/mob/belt_mirror.dmi
  icons/mob/head.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/gun.dmi
  icons/obj/projectiles.dmi
  icons/obj/weapons.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora, Sprites

#5895 Allows icelance rifles to be equipped with bayonets
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/crank.dm
  html/changelogs/alberyk-icelancebuff.yml
Labels: Awaiting Merge

#5899 Resolves cryotubes randomly acting as death traps
  code/modules/multiz/movement.dm
  html/changelogs/cryopod.yml
Labels: Awaiting Merge, Bugfix

#5910 Cargo Photocopier Fix
  html/changelogs/photocopier.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#5868 Fingerprint Cards can go in Folders
  code/modules/paperwork/folders.dm
  html/changelogs/fingerprintcards.yml
Labels: Awaiting Merge

#5330 Reworks Limb Gibbing Mechanics
  code/modules/organs/organ_external.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/burgerbb - maim tweak.yml
Labels: Awaiting Merge, Feature, Test Merge Candidate

#5902 Map suggestions update
  html/changelogs/Sindorman-map.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#5744 Live Animal Traps
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/random/random.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/sarlacc.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  html/changelogs/Sindorman-traps.yml
  icons/obj/items.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Lore Request, Mapping: Aurora, Mapping: Exodus, Review Required, Sprites

#5906 Renames Nervousness to Stuttering
  code/__defines/dna.dm
  code/game/dna/dna2_helpers.dm
  code/game/dna/genes/disabilities.dm
  code/game/objects/items/weapons/dna_injector.dm
  code/modules/mob/abstract/new_player/character_traits.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/VTCobaltblood - all-prs-are-only-for-my-benefit.yml
Labels: Awaiting Merge

#5914 Map fixes
  html/changelogs/Sindorman-mapfixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#5907 Adds new three dishes
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-food.yml
  icons/obj/food.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#5915 Small Bugfixes
  code/game/machinery/computer/security.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_rigpress.dm
  html/changelogs/stoptheviolence.yml
Labels: Awaiting Merge, Bugfix

#5890 What am I smoking?: Taste it!
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/smokingtaste.yml
Labels: Awaiting Merge

#5923 Fixes the Jotun's wreckage sprites
  code/game/mecha/combat/tank.dm
  code/game/mecha/mecha_wreckage.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#5920 Fix some shoes sprites
  html/changelogs/alberyk-shoefix.yml
  icons/mob/feet.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#5924 Custom items 07/01
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/aavs_mask.dmi
  icons/obj/custom_items/ameline_dress.dmi
  icons/obj/custom_items/grunnus_glasses.dmi
  icons/obj/custom_items/krin_clothing.dmi
  icons/obj/custom_items/mira_clothing.dmi
  icons/obj/custom_items/qrqil_cane.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#5922 Knives now eyestab
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/clothing/clothing.dm
  code/modules/item_worth/material_weapons.dm
  code/modules/research/xenoarchaeology/artifact/artifact_replicator.dm
  code/modules/surgery/facial_surgery.dm
  html/changelogs/VTCobaltblood - FUCK-GUNS.yml
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#5925 Fixes the capitalization of shuttle announcements
  maps/aurora/code/aurora.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#5931 Bugfixes: custom item icons and Jotun wreckage fixes
  code/game/mecha/mecha_wreckage.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/aavs_mask.dmi
  icons/obj/custom_items/krin_clothing.dmi
  icons/obj/custom_items/mira_clothing.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#5916 Kitchen Machinery Resprite
  html/changelogs/wowzewow-off_tasting_pepper_steak.yml
  icons/obj/cooking_machines.dmi
  icons/obj/food_custom.dmi
  icons/obj/kitchen.dmi
  patch.diff
Labels: Awaiting Merge, Sprites

#5818 Fix's the bug with the corgi dogs, makes mice butcherable.
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/simple_animal/friendly/mouse.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  html/changelogs/miceandian.yml
Labels: Feature, Review Required

#5945 Fixes my map fuckup
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, Mapping: Aurora

#5937 Fixing Z level cable update and substations
  code/modules/power/cable.dm
  html/changelogs/Sindorman-powernet.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-3.dmm
Labels: Awaiting Merge, Bugfix, High Priority, High Risk, Mapping: Aurora, Mapping: Runtime

#5950 Interstitial Z level pipe/power mapping fix
  maps/aurora/aurora-5_interstitial.dmm
Labels: Changelog Required, High Priority, Mapping: Aurora, Review Required

#5849 Buffs ore summoners
  code/modules/mining/mine_items.dm
  html/changelogs/SchevOreSummoner-27-12-2019.yml
Labels: Awaiting Merge

#5946 A new hairstyle + Unathi hair fix
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/VTCobaltblood - funnybranchname.yml
  icons/mob/human_face/hair.dmi
  icons/mob/human_face/unathi_hair.dmi
Labels: Awaiting Merge, Sprites

#5912 Makes scarves recolorable, and fit on overwear
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/VTCobaltblood - scarves.yml
Labels: Awaiting Merge

#5948 More Unathi Horns
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/paradoxspace-soundthehorn.yml
  icons/mob/human_face/unathi_facial_hair.dmi
  icons/mob/human_face/unathi_hair.dmi
Labels: Awaiting Merge, Sprites

#5911 Leather jackets can now be unbuttoned
  code/controllers/subsystems/traumas.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/storage.dm
  html/changelogs/VTCobaltblood - big-tiddy-goth-gf-galore.yml
  icons/mob/suit.dmi
Labels: Awaiting Merge, Sprites

#5970 REALLY makes black jackets unbuttonable
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/VTCobaltblood - FUCKFUCKF.yml
Labels: Awaiting Merge, Bugfix

#5977 Fixes the blast doors
  code/game/machinery/doors/blast_door.dm
  html/changelogs/alberyk-blastdoor.yml
Labels: Awaiting Merge, Bugfix

#5979 Changelings: Now with added Succ Logs
  code/game/gamemodes/changeling/changeling_powers.dm
  html/changelogs/Kaedwuff - Linglogs.yml
Labels: Bugfix, Review Required

#5981 Onions and Garlic oversight
  code/modules/hydroponics/seed_storage.dm
  html/changelogs/onionsandgarlic.yml
Labels: Review Required

#5984 Fixes the blaster pistol not fitting in holsters
  code/modules/projectiles/guns/energy/blaster.dm
  html/changelogs/Schevblasterpistolfix-24JAN2019.yml
Labels: Awaiting Merge, Bugfix

#5947 Adds a new drink
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/VTCobaltblood - yesss.yml
Labels: Awaiting Merge

#5955 Fixes recorders translating mice and cult speak
  code/game/objects/items/devices/taperecorder.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/monkey.dm
  code/modules/mob/language/outsider.dm
  html/changelogs/alberyk-recorder.yml
Labels: Awaiting Merge, Bugfix

#5989 Adds the gameid to the logfile names
  code/world.dm
  html/changelogs/arrow768-logging-changes.yml
Labels: High Priority, Review Required, Waiting Period

#5971 Adds two vaurca markings
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/alberyk-vaurcamark.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Lore Request, Sprites

#5978 Changes how pain checks works in game
  code/game/gamemodes/cult/runes.dm
  code/game/machinery/crusher_piston.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/structures/morgue.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/shock.dm
  code/modules/mob/living/living.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/pain.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/spells/artifacts.dm
  html/changelogs/alberyk-painfix.yml
Labels: Awaiting Merge

#5988 Fixing tesla with no balls
  code/game/objects/objs.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/tesla/energy_ball.dm
  html/changelogs/Sindorman-tesla.yml
Labels: Awaiting Merge, Bugfix, High Priority, Update Wiki

#5952 Replaces the tranquilizer rifle magazine with a box
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  html/changelogs/albery-box.yml
Labels: Awaiting Merge

#5966 the grinder resprite (probably error free)
  html/changelogs/alsoandanswer - i_am_the_senate.yml
  icons/obj/kitchen.dmi
Labels: Awaiting Merge, Sprites

#5504 Removes Cloaks
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  html/changelogs/removes_cloaks.yml
Labels: Awaiting Merge, Feedback Required

#5974 Tweaks the ninja rig suit sprites
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  html/changelogs/alberyk-ninjatweak.yml
  icons/mob/species/vox/gloves.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/shoes.dmi
  icons/mob/species/vox/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#5846 Xenowear Update
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/paradoxspace-romulus.yml
  icons/mob/feet.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#5993 Making certain SMES and Blast Doors be critical and remapping Tesla APC and SM blast doors
  code/game/gamemodes/events/power_failure.dm
  code/game/machinery/doors/blast_door.dm
  code/modules/power/smes.dm
  html/changelogs/Sindorman-fix.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, High Priority, Mapping: Aurora

#5995 More tau ceti foreign legion fixes
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/projectiles/guns/energy/blaster.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  html/changelogs/alberyk-tcfl.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#5992 Updating rust-g
  aurorastation.dme
  code/__defines/rust_g.dm
  code/_helpers/logging.dm
  html/changelogs/Sindorman-log.yml
  rust_g.dll
  scripts/rust_g.sh
Labels: Awaiting Merge

#5997 Making Tesla Engine SMES input/output by default
  html/changelogs/Sindorman-fix.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Bugfix, Mapping: Aurora, Review Required

#6001 Fixes red nightshade being really lethal
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/alberyk-killingjuice.yml
Labels: Awaiting Merge, Bugfix
