Repository Aurorastation/Aurora.3, pull requests merged in 2019-06, with the labels that each got.

#6411 Carded AIs must ask admins to wipe
  code/modules/mob/living/silicon/ai/latejoin.dm
  html/changelogs/carded-ai-may-not-wipe.yml
Labels: Awaiting Merge

#6517 Rhythm - Bugs learn to spell
  code/modules/mob/language/station.dm
  html/changelogs/rhythmofbugs.yml
Labels: Awaiting Merge, Bugfix

#6522 Disables radio sounds.
  code/modules/mob/hear_say.dm
  html/changelogs/[Ferner]-[190602-bugfix_radio].yml
Labels: Awaiting Merge, Bugfix

#6524 Fixes ashtrays being invisible.
  code/game/objects/items/weapons/material/ashtray.dm
  html/changelogs/[Ferner]-[190602-bugfix_ashtray].yml
Labels: Awaiting Merge, Bugfix

#6513 Removes the Schoolgirl Uniform
  code/datums/supplypacks.dm
  code/game/objects/effects/landmarks.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/arrow768.yml
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#6528 Sanitizes record searches and TCOMs input
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/machinery/telecomms/logbrowser.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/telemonitor.dm
  code/game/machinery/telecomms/traffic_control.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6531 Fixes shells having the wrong gender
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/alberyk-ipcfix.yml
Labels: Awaiting Merge, Bugfix

#6519 Adds bear plushies
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  html/changelogs/SubberTheFabulous-PR-6519.yml
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#6510 Sentences now auto-punctuate if there's no punctuation.
  code/modules/mob/living/say.dm
  html/changelogs/MattAtlas-PunctuationOrdie.yml
Labels: Awaiting Merge

#6539 Falsely blames Kevinz for something he didn't do.
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6507 Adds bluespace borg
  code/game/objects/items/weapons/RCD.dm
  code/modules/mob/living/silicon/robot/presets.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  html/changelogs/BSB.yml
Labels: Awaiting Merge

#6529 Custom items 03/06
  code/modules/customitems/item_defines.dm
  code/modules/reagents/reagent_containers/glass.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/khasan_bucket.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#6547 Apostrophe Bugfix: Plastic Variables
  code/modules/acting/acting_items.dm
  code/modules/admin/view_variables/topic.dm
  html/changelogs/geeves-apostrophecatastrophe.yml
Labels: Awaiting Merge, Bugfix

#6549 Revert "Apostrophe Bugfix: Plastic Variables"
  code/modules/acting/acting_items.dm
  code/modules/admin/view_variables/topic.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#6540 Examine tweaks: Hunger and Thirst
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/geeves-examinestweak.yml
Labels: Awaiting Merge

#6541 Hardcore Parkour: Tableclimbing Edition
  code/modules/tables/interactions.dm
  html/changelogs/geeves-hardcoreparkour.yml
Labels: Awaiting Merge

#6545 Thirsty Aurora: Hydrated Workers
  code/__defines/mobs.dm
  html/changelogs/geeves-hailhydrate.yml
Labels: Awaiting Merge

#6546 Replaces grenade sprites.
  code/game/objects/items/weapons/grenades/anti_photon_grenade.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/game/objects/items/weapons/grenades/emgrenade.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  html/changelogs/Ferner-190609-sprites_grenades.yml
  icons/obj/grenade.dmi
Labels: Awaiting Merge, Sprites

#6550 Experimental Welders regen buff
  code/game/objects/items/weapons/tools.dm
  html/changelogs/geeves-experiwelders.yml
Labels: Awaiting Merge

#6553 Simple animal update
  aurorastation.dme
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/cargo/random_stock/large.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  code/modules/mob/living/simple_animal/hostile/krampus.dm
  code/modules/mob/living/simple_animal/hostile/moghesfauna.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  html/changelogs/alberyk-animal.yml
  icons/mob/npc/animal.dmi
Labels: Awaiting Merge, Sprites

#6372 Ninja Tweak: Stealth and Power Sink
  code/modules/clothing/spacesuits/rig/modules/computer.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  html/changelogs/Kaedwuff - Ninjatweak.yml
Labels: Awaiting Merge

#6563 Removes Burger
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers.dm
  html/changelogs/chem-mdp.yml
Labels: Awaiting Merge, Bugfix

#6569 Something Something Consequences
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Changelog Required, Mapping: Aurora, Review Required

#6533 adds cool animations
  code/ATMOSPHERICS/components/unary/cold_sink.dm
  code/ATMOSPHERICS/components/unary/heat_source.dm
  code/__defines/misc.dm
  code/datums/progressbar.dm
  code/game/atoms_movable.dm
  code/game/dna/dna_modifier.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryopod.dm
  code/game/mecha/equipment/tools/medical_tools.dm
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/therapy.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/say.dm
  code/modules/power/lights/bulbs.dm
  html/changelogs/wezzycool_animations.yml
  html/changelogs/wezzymob_fix.yml
  icons/effects/progessbar.dmi
  icons/effects/progressbar.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/mob/npc/aibots.dmi
  icons/obj/Cryogenic2.dmi
  icons/obj/device.dmi
  icons/obj/food.dmi
  icons/obj/sleeper.dmi
  icons/obj/toy.dmi
  icons/obj/weapons.dmi
  interface/skin.dmf
  sound/items/drop/plushie.ogg
Labels: Awaiting Merge, Sprites

#6573 Fixes invisible sleepers (atomic)
  code/game/machinery/adv_med.dm
  code/game/machinery/cryopod.dm
Labels: Bugfix, Changelog Required, High Priority, Review Required

#6580 Fixes rig actuators and leaping causing people to do flips
  code/game/atoms_movable.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/alberyk_flip.yml
Labels: Awaiting Merge, Bugfix

#6581 Fixes some space ruins issues
  maps/space_ruins/nt_cloneship.dmm
  maps/space_ruins/sol_corvette.dmm
  maps/space_ruins/spacehulk.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6560 Security and Central command uniforms sprite overhaul
  code/controllers/subsystems/traumas.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/trading/weaponry.dm
  code/game/jobs/job/security.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/gloves/arm_guard.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/leg_guard.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/simple_animal/corpse.dm
  html/changelogs/Ferner-190610-sprites_security.yml
  icons/mob/belt.dmi
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/mob/mask.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#6568 Unathi Clothing addition.
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/smallgreenant-PR-unathi_clothing.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#5549 Rework blindness, UTs for speech.
  code/_helpers/game.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/say.dm
  code/unit_tests/mob_tests.dm
  html/changelogs/Sindorman-blind.yml
Labels: Awaiting Merge, Performance, Refactor, Test Merge Candidate

#6566 Removes food dealing toxin damage when injected
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/alberyk_food.yml
Labels: Awaiting Merge

#6582 Unapologetic Mounted Sleeper Nerfs
  code/game/mecha/equipment/tools/medical_tools.dm
  html/changelogs/geeves-sleepernosleeping.yml
Labels: Awaiting Merge

#6585 Removes an unused species
  aurorastation.dme
  code/__defines/species_languages.dm
  code/defines/obj/weapon.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/under/xenos/resomi.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/resomi.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/organs/subtypes/resomi.dm
  code/unit_tests/mob_tests.dm
  html/changelogs/alberyk-nobird.yml
  icons/mob/human_face/resomi_hair.dmi
  icons/mob/human_races/r_resomi.dmi
  icons/mob/species/resomi/back.dmi
  icons/mob/species/resomi/belt.dmi
  icons/mob/species/resomi/ears.dmi
  icons/mob/species/resomi/eyes.dmi
  icons/mob/species/resomi/gloves.dmi
  icons/mob/species/resomi/handcuffs.dmi
  icons/mob/species/resomi/head.dmi
  icons/mob/species/resomi/id.dmi
  icons/mob/species/resomi/masks.dmi
  icons/mob/species/resomi/shoes.dmi
  icons/mob/species/resomi/suit.dmi
  icons/mob/species/resomi/uniform.dmi
  icons/obj/clothing/species/resomi/uniform.dmi
Labels: Awaiting Merge, Sprites

#6586 Bug fixes: ESS and speech problems
  code/datums/brain_damage/mild.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  html/changelogs/alberyk-twobugs.yml
Labels: Awaiting Merge, Bugfix

#6578 Fix autopunctuation issues.
  code/modules/mob/living/say.dm
  html/changelogs/mattatlas-6578.yml
Labels: Awaiting Merge, Bugfix

#6595 Fixes Mechs not checking wallets for ID
  code/game/mecha/mecha.dm
  html/changelogs/geeves-soitbegins.yml
Labels: Awaiting Merge, Bugfix

#6594 Unathi Clothing Fix
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  html/changelogs/paradoxspace-bigredant.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6592 Bug fixes: alien udders and empty grilled carp
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-morebugfixes.yml
Labels: Awaiting Merge, Bugfix

#6584 Uplink Announcements: Extreme Couponing
  code/datums/uplink/announcements.dm
  html/changelogs/geeves-taterannouncebuffs.yml
Labels: Awaiting Merge

#6599 Fixes emotes being broken hopefully
  code/modules/mob/living/say.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6561 Updating Rust-g.dll to the latest version
  html/changelogs/Sindorman-rustg.yml
  rust_g.dll
Labels: Awaiting Merge

#6548 Changes fireaxe to only cleave when wielded
  code/game/objects/items/weapons/material/twohanded.dm
  html/changelogs/geeves-cleavetweaks.yml
Labels: Awaiting Merge

#6598 Fixes the armor plating item having no sprite
  html/changelogs/alberyk-spritefix.yml
  icons/obj/clothing/material_armor.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6589 Added drinking glasses and bottles to the autolathe
  code/game/machinery/autolathe_datums.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  html/changelogs/VTCobaltblood - stop_drinking_from_beakers.yml
Labels: Awaiting Merge

#6565 Disposals Layout Tweaks + Generic Changes
  html/changelogs/furrycactus-mapadjustments.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6606 Fixes the lack of a LAZYACCESS causing AI clicks to fail
  code/_onclick/ai.dm
  html/changelogs/skull132_ai-clicks.yml
Labels: Awaiting Merge, Bugfix

#6617 Ice Man Bad
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#6615 Fixed the roof z-level always being filled with air.
  html/changelogs/Ferner-190624-mapping-bugfix_roof.yml
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6609 Fixes minor color blindness not being curable
  code/datums/brain_damage/brain_trauma.dm
  code/datums/brain_damage/mild.dm
  html/changelogs/arrow768-colorblind.yml
Labels: Awaiting Merge, Bugfix

#6610 No ckeys in round end report
  code/controllers/subsystems/ticker.dm
  html/changelogs/arrow768-nockeys.yml
Labels: Awaiting Merge

#6616 Fixes mop sound artifacting, pen clicking doesn't spam logs anymore
  code/modules/paperwork/pen.dm
  html/changelogs/clicky_noise.yml
  sound/effects/mop.ogg
Labels: Awaiting Merge, Bugfix

#6608 Fixes ambitions to actually appear at roundend
  code/game/antagonist/antagonist_print.dm
  code/game/antagonist/outsider/wizard.dm
  html/changelogs/geeves-ambitionfix.yml
Labels: Awaiting Merge, Bugfix

#6603 Ports makeshift splints
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/rods.dm
  html/changelogs/alberyk-splint.yml
  icons/obj/stacks/medical.dmi
Labels: Awaiting Merge, Sprites

#6621 Also removes the ckeys of antagonists
  code/game/antagonist/antagonist_print.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6576 Fixes #6567, tidying up glass code and #6575, #6577
  aurorastation.dme
  code/game/machinery/Sleeper.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/floor_light.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/light.dm
  code/game/objects/items/stacks/tiles/light.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  html/changelogs/wezzysheeze.yml
  icons/obj/machines/floor_light.dmi
  icons/obj/robot_storage.dmi
  icons/obj/sleeper.dmi
  icons/obj/stacks/tiles.dmi
  icons/obj/tables.dmi
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora, Refactor, Sprites

#6622 Fixing water and foam wasted on mobs that do not need to be extinguished
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/example - Copy.yml
Labels: Awaiting Merge, Bugfix, High Priority

#6604 Removes some equipment from technoconglomerate RIG by default + adds "equipped" version with that equipment
  code/modules/clothing/spacesuits/rig/suits/light.dm
  html/changelogs/nicemoreoften-technorigadjustments.yml
Labels: Awaiting Merge

#6597 Some vaurca and k'ois tweaks
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/alberyk-vaurca.yml
  icons/mob/OnFire_large.dmi
  icons/mob/human_races/vaurca/r_vaurcamecha.dmi
Labels: Awaiting Merge, Sprites

#6620 Removes the ingame text asking heads of staff to ahelp upon disconnect
  code/controllers/subsystems/job.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  html/changelogs/skull132_reworking-admin-things.yml
Labels: Awaiting Merge, Refactor

#6579 Improved NTNetRelay Interface
  html/changelogs/geeves-relayjigger.yml
  nano/templates/ntnet_chat.tmpl
Labels: Awaiting Merge

#6607 Fixes syndicate force glove grabs having no reinforce timer
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  html/changelogs/geeves-glovefix.yml
Labels: Awaiting Merge, Bugfix

#6623 Cam Purge
  html/changelogs/arrow768-campurge.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6634 Fixes autohiss breaking for humans
  code/modules/mob/living/autohiss.dm
  html/changelogs/skull132_autohiss.yml
Labels: Awaiting Merge, Bugfix

#6629 Fixes mob/living inconsistencies of modular computers.
  code/modules/modular_computers/file_system/program.dm
  html/changelogs/arrow768-modular-computer.yml
Labels: Awaiting Merge

#6627 Pool and Construction Site Remap, Widespread map polish and smaller additions of suggested things
  html/changelogs/Ferner-190624-mapping_pool.yml
  maps/_common/areas/asteroid_areas.dm
  maps/_common/areas/station/civilian.dm
  maps/_common/areas/station/hallways.dm
  maps/_common/areas/station/maintenance.dm
  maps/_common/areas/telecomms.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6588 Changes how telescience works and teleportation damage nerf
  code/datums/helper_datums/teleport.dm
  code/game/objects/effects/portals.dm
  code/modules/telesci/telepad.dm
  code/modules/telesci/telesci_computer.dm
  html/changelogs/alberyk-telescience.yml
Labels: Awaiting Merge, Test Merge Candidate

#6646 A couple mapping bugfixes for problems introduced with #6627
  html/changelogs/Ferner-190330-bugfix_mapping_pool.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6596 Suit storage unit sprite refactor
  code/game/machinery/suit_storage_unit.dm
  html/changelogs/wezzysuit-storage-unit_refactor.yml
  icons/obj/suit_storage.dmi
  icons/obj/suitstorage.dmi
Labels: Awaiting Merge, Refactor, Sprites
