Repository Aurorastation/Aurora.3, pull requests merged in 2019-08, with the labels that each got.

#6806 Port TG's stickyban panel
  SQL/migrate/V039__stickybans.sql
  aurorastation.dme
  code/__defines/admin.dm
  code/controllers/subsystems/stickyban.dm
  code/defines/procs/dbcore.dm
  code/modules/admin/DB ban/ban_mirroring.dm
  code/modules/admin/IsBanned.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/stickyban.dm
  code/modules/admin/topic.dm
  code/modules/mob/abstract/unauthed/login.dm
Labels: Changelog Required

#6796 Response Team Stats
  code/controllers/subsystems/responseteam.dm
  code/game/gamemodes/game_mode.dm
  html/changelogs/arrow768-response-team-stats.yml
Labels: Awaiting Merge

#6797 Separate Dead OOC Allowed From Dead LOOC Allowed
  code/controllers/configuration.dm
  code/game/verbs/ooc.dm
  code/modules/admin/admin.dm
  config/example/config.txt
  html/changelogs/skull132-dead_looc.yml
Labels: Awaiting Merge

#6812 Fixes Maps
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/space_ruins/crashed_freighter.dmm
  maps/space_ruins/diona_gestalt.dmm
  maps/space_ruins/nt_cloneship.dmm
  maps/space_ruins/tcfl_frigate.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority, Mapping: Aurora, Mapping: Exodus

#6757 (Liver) Organ Damage: Begone Toxins
  code/modules/organs/organ_internal.dm
  html/changelogs/geeves-liverWorks.yml
Labels: Awaiting Merge, Feature

#6813 Fixes Travis SQL Errors
  SQL/migrate/V001__Initial_schema.sql
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#6800 Fixes human lore
  code/game/jobs/faction/eridani.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/necropolis.dm
  code/game/jobs/faction/zeng_hu.dm
  html/changelogs/VTCobaltblood - fixes_human_lore.yml
Labels: Awaiting Merge, Review Required

#6809 Detached nymph switches to gestalt upon death
  code/modules/mob/living/carbon/diona_base.dm
  html/changelogs/Sindorman-diona.yml
Labels: Awaiting Merge, Bugfix

#6818 Fixes IE circuit printers not being able to print things
  code/modules/integrated_electronics/core/printer.dm
  html/changelogs/skull132-fixes_printer.yml
Labels: Awaiting Merge, Bugfix

#6821 As usual, I fucked up
  code/game/jobs/faction/idris.dm
  html/changelogs/VTCobaltblood - idris_battle_chefs.yml
Labels: Awaiting Merge, Bugfix

#6430 Fix shadows a bit (requires testing)
  code/modules/multiz/turfs/open_space.dm
  html/changelogs/skull132lohikar_shadowers.yml
Labels: Awaiting Merge, Test Merge Candidate

#6795 Adds modern player panel for staff needs.
  code/controllers/subsystems/garbage-debug.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  html/changelogs/karolis-modern playerpannel.yml
  interface/skin.dmf
  vueui/README.md
  vueui/src/assets/global.scss
  vueui/src/assets/theme-basic.scss
  vueui/src/assets/theme-nano.scss
  vueui/src/components/view/admin/player-panel.vue
  vueui/src/components/vui/button.vue
  vueui/src/components/vui/tooltip.vue
  vueui/src/store.js
  vueui/src/utils.js
Labels: Awaiting Merge, VueUi

#6791 Merchant code adjustments
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/trade.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  html/changelogs/Naelynn-PR-6791.yml
Labels: Awaiting Merge

#6811 Adds more recognised punctuation to autopunctuation.
  code/modules/mob/living/say.dm
  html/changelogs/MDP-punctuation.yml
Labels: Awaiting Merge

#6824 Improvements and fixes to modern player panel
  code/modules/admin/player_panel.dm
  vueui/src/assets/theme-basic.scss
  vueui/src/components/view/admin/player-panel.vue
Labels: Awaiting Merge, Bugfix, Changelog Required, VueUi

#6826 Fixes some oversights with the protection of admin areas.
  code/controllers/hooks-defs.dm
  code/controllers/subsystems/responseteam.dm
  code/game/machinery/doors/blast_door.dm
  code/modules/shuttles/shuttle.dm
  html/changelogs/arrow768-central.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6819 A.L.I.C.E. Retired
  code/game/gamemodes/game_mode.dm
  code/game/machinery/computer/specops_shuttle.dm
  code/modules/shuttles/shuttle_specops.dm
  html/changelogs/Sindorman-alice.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#6803 Overhauls Custom Synthetic Code
  SQL/migrate/V040__CustomSynths.sql
  aurorastation.dme
  code/controllers/configuration.dm
  code/datums/helper_datums/synthsprites.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/custom_sprites.dm
  code/modules/mob/living/silicon/robot/robot.dm
  config/example/customsynths.json
  html/changelogs/customsynths.yml
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synths/customhologram.dmi
Labels: Awaiting Merge, Feature, Sprites

#6830 Adds the custom synth config example
  config/example/config.txt
Labels: Awaiting Merge, Bugfix, Changelog Required

#6832 Removes head of staff access from the rep.
  code/game/jobs/job/outsider/representative.dm
  html/changelogs/rep-access.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6836 Removes PDA ID extraction sound, lowers arcade machine sounds.
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/objects/items/devices/PDA/PDA.dm
  html/changelogs/mattatlas_6836.yml
Labels: Awaiting Merge, Bugfix

#6822 Adds a RIG module press to Robotics
  html/changelogs/VTCobaltblood - essential_fixes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6831 Fixes #6815
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/alberyk-fasthungry.yml
Labels: Awaiting Merge, Bugfix

#6825 Replaces a couple of derelict with a bigger one
  config/example/space_ruins.json
  html/changelogs/alberyk-scrapheap.yml
  maps/space_ruins/scrapheap.dmm
  maps/space_ruins/sol_frigate.dmm
  maps/space_ruins/syndicatebase.dmm
  maps/space_ruins/tcfl_frigate.dmm
Labels: Awaiting Merge

#6706 Ghost Roles
  aurorastation.dme
  code/__defines/items_clothing.dm
  code/controllers/subsystems/ghostroles.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/outfit_admin.dm
  code/game/jobs/job/outsider/merchant.dm
  code/game/objects/items.dm
  code/modules/admin/admin_verbs.dm
  code/modules/cciaa/cciaa.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/cciaa/ert_cmd.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/admin.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/ghostroles/spawner/human/merchant.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/ghostroles/spawner/simplemob/maintdrone.dm
  code/modules/ghostroles/spawner/simplemob/rat.dm
  code/modules/ghostroles/spawnpoint/spawnpoint.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/login.dm
  code/modules/random_map/drop/droppod.dm
  code/modules/random_map/random_map.dm
  code/unit_tests/spawner_tests.dm
  maps/aurora/aurora-1_centcomm.dmm
  vueui/babel.config.js
  vueui/package-lock.json
  vueui/package.json
  vueui/src/components/view/misc/ghostspawner.vue
  vueui/src/main.js
  vueui/src/polyfills.js
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora, VueUi

#6833 The Lore PR
  code/modules/research/designs.dm
  html/changelogs/VTCobaltblood - the_pr.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6842 Fixes/Tweaks Ghostspawners
  code/datums/outfits/outfit_admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/cciaa/cciaa.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/admin.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  html/changelogs/arrow768-ghostspawners.yml
Labels: Awaiting Merge, Bugfix

#6841 Fixes ooc issues with remote authed clients
  code/modules/client/client procs.dm
  code/modules/mob/abstract/unauthed/login.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, Test Merge Candidate

#6849 Fixes the pause/resume message of the CCIA Recorder
  code/modules/cciaa/cciaa_items.dm
  html/changelogs/arrow768.yml
Labels: Awaiting Merge, Bugfix

#6859 Removes negative values and burst delay from protogun bounties
  code/modules/cargo/bounties/weapon_prototype.dm
  html/changelogs/VTCobaltblood - give_me_my_money.yml
Labels: Awaiting Merge, Bugfix

#6863 Makes borgs not runtime
  code/controllers/subsystems/records.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6857 Further Ghostspawner Adaptations
  code/datums/outfits/outfit.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/admin.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/ghostroles/spawner/human/merchant.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  html/changelogs/adaptations.yml
Labels: Review Required, Waiting Period

#6856 Various Map Tweaks v.2
  html/changelogs/furrycactus - map changes.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Mapping: Aurora, Review Required, Waiting Period

#6865 Fixes issues with the API whitelist
  code/controllers/configuration.dm
  code/modules/world_api/api_command.dm
Labels: Bugfix, Changelog Required, High Priority, Review Required

#6843 Forensic Lab Changes
  html/changelogs/sue.yml
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6855 Adds 3 new pod survivor loadouts
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/VTCobaltblood - valids_secured.yml
Labels: Awaiting Merge

#6864 Pleases admins by tweaking few things.
  vueui/README.md
  vueui/src/assets/theme-basic.scss
  vueui/src/components/view/admin/player-panel.vue
  vueui/src/components/vui/input/search.vue
Labels: Awaiting Merge, Changelog Required, VueUi

#6862 Another small gravity update
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/modules/mob/living/silicon/ai/ai_movement.dm
  code/modules/power/gravitygenerator.dm
  html/changelogs/Sindorman-gravity.yml
  ingame_manuals/malf_ai.html
Labels: Awaiting Merge

#6783 Remote restarts and discord msg fix
  code/__defines/admin.dm
  code/modules/admin/admin.dm
  code/modules/world_api/commands/admin.dm
  code/modules/world_api/commands/api_helpers.dm
  code/modules/world_api/commands/server_management.dm
  code/modules/world_api/commands/server_query.dm
  code/world.dm
  html/changelogs/skull132_api.yml
Labels: Awaiting Merge, Feature

#6874 Liver Tweaks
  code/modules/organs/organ_internal.dm
  code/modules/organs/subtypes/vaurca.dm
  code/modules/organs/subtypes/xenos.dm
  html/changelogs/geeves-vacliverlives.yml
Labels: Awaiting Merge, Bugfix

#6867 Ghostspawner asks for Species
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/ghostspawner-species.yml
Labels: Awaiting Merge

#6866 Changes the RCD to only work on station levels
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/items/weapons/RCD.dm
  html/changelogs/rcdstation.yml
Labels: Awaiting Merge

#6733 removes secborgs
  code/game/objects/items/robot/robot_upgrades.dm
  code/global.dm
  code/modules/events/event_dynamic.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/research/designs/mechfab_designs.dm
  html/changelogs/paradoxspace-notthelaw.yml
Labels: Feedback Required, Review Required

#6880 Fixes vaurca missing jargon citizenship and a bit more
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/alberyk-literalbugfix.yml
Labels: Awaiting Merge, Bugfix

#6878 Fixes #6875
  code/modules/background/citizenship/vaurca.dm
  html/changelogs/skull132-6875.yml
Labels: Awaiting Merge, Bugfix

#6876 Fixed typos and grammar in the NTSL2+ For Dummies book.
  code/modules/ntsl2/guide.dm
  html/changelogs/CodePanter-ntsl2-guide-typos.yml
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6845 Adds hair tying from BS12
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  html/changelogs/hairtying.yml
Labels: Awaiting Merge

#6846 Adds shoe layer switching verb corresponding with i_clothing (jumpsuit) layer; from Polaris
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/toggle_shoe_layers.yml
Labels: Awaiting Merge

#6882 Fixed the four lethal turrets in telecoms not being controlled by their turret controller.
  html/changelogs/CodePanter-fixed-rogue-turrets.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6860 Refactoring and fixing bugs in animal traps
  code/game/objects/items/weapons/traps.dm
  code/modules/mob/living/living.dm
  html/changelogs/Sindorman-traps.yml
Labels: Awaiting Merge, Bugfix, Refactor

#6858 Buttons leave a message in chat
  code/game/machinery/buttons.dm
  html/changelogs/VTCobaltblood - better_and_superior_screenshots.yml
Labels: Awaiting Merge

#6848 Tweaks black k'ois a bit.
  code/modules/hydroponics/seed_datums.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/alberyk-kois.yml
Labels: Awaiting Merge

#6894 Fixes wrongly placed turf on a derelict that leads to travis errors. Deletes some leftover derelicts.
  config/example/space_ruins.json
  html/changelogs/Ferner-bugfix_scrapheap.yml
  maps/space_ruins/crashed_freighter.dmm
  maps/space_ruins/nt_cloneship.dmm
  maps/space_ruins/scrapheap.dmm
Labels: Awaiting Merge, Bugfix

#6890 Small noise tweaks
  code/game/machinery/deployable.dm
  code/modules/mob/holder.dm
  html/changelogs/Ferner-190819-coding_small_noise_tweak.yml
Labels: Awaiting Merge

#6891 Adds two more disabilities
  code/modules/mob/abstract/new_player/character_traits.dm
  html/changelogs/paradoxspace-legallyblind.yml
Labels: Awaiting Merge

#6901 Fixed Vaurca Consular Officers not getting their mission fax.
  code/modules/background/citizenship/vaurca.dm
  html/changelogs/CodePanter-missing-mission-fix.yml
Labels: Awaiting Merge, Bugfix

#6887 A round of mapping requests and overall polish.
  html/changelogs/Ferner-190813-mapping_requests.yml
  maps/_common/areas/station/civilian.dm
  maps/_common/areas/station/maintenance.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6776 Weapon, pickaxe and shield resprite (and a bunch of other stuff)
  code/game/gamemodes/cult/ritual.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/game/objects/items/weapons/weaponry.dm
  code/modules/materials/material_sheets.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/weapon_resprite.yml
  icons/mob/back.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/buildingobject.dmi
  icons/obj/items.dmi
  icons/obj/library.dmi
  icons/obj/storage.dmi
  icons/obj/structures.dmi
  icons/obj/tactshield.dmi
  icons/obj/tools.dmi
  icons/obj/weapons.dmi
  icons/obj/weapons_build.dmi
Labels: Awaiting Merge, Review Required, Sprites

#6852 Circuits Update One
  aurorastation.dme
  code/__defines/color.dm
  code/_helpers/text.dm
  code/_helpers/type2type.dm
  code/_onclick/other_mobs.dm
  code/controllers/subsystems/processing/electronics.dm
  code/game/machinery/vending_items.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/implants/implantcircuits.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/gloves/stungloves.dm
  code/modules/integrated_electronics/_defines.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  code/modules/integrated_electronics/core/assemblies/generic.dm
  code/modules/integrated_electronics/core/helpers.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/pins.dm
  code/modules/integrated_electronics/core/printer.dm
  code/modules/integrated_electronics/core/tools.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/integrated_electronics/subtypes/built_in.dm
  code/modules/integrated_electronics/subtypes/converters.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/lists.dm
  code/modules/integrated_electronics/subtypes/logic.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/integrated_electronics/subtypes/smart.dm
  code/modules/organs/organ_internal.dm
  html/changelogs/MDP-circuits1.yml
  icons/mob/ears.dmi
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/assemblies/electronic_components.dmi
  icons/obj/assemblies/electronic_setups.dmi
  icons/obj/assemblies/electronic_tools.dmi
  icons/obj/clothing/ears.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/electronic_assemblies.dmi
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Feature, Sprites, Test Merge Candidate

#6883 Adds 14 new IPC screens
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/more_ipc_screens.yml
  icons/mob/human_face/ipc_screens.dmi
Labels: Awaiting Merge, Sprites

#6869 Research is now properly enclosed during biohazards
  html/changelogs/VTCobaltblood - stupid_forts.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6870 Adds apple juice
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/VTCobaltblood - its_piss_in_a_glass.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#6850 Drinks no longer bubble
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/VTCobaltblood - stop_this_goddamn_spam.yml
Labels: Awaiting Merge

#6906 Tweaks the size of the EFTPOS Scanner
  code/modules/economy/EFTPOS.dm
  html/changelogs/geeves-sizeTweaks.yml
Labels: Awaiting Merge

#6893 Cleans up the Database.
  SQL/migrate/V041__SQL-Cleanup.sql
  aurorastation.dme
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/structures/crates_lockers/closets/sol_gear.dm
  code/modules/antag_contest/contest_defines.dm
  code/modules/antag_contest/contest_helpers.dm
  code/modules/antag_contest/contest_objective.dm
  code/modules/antag_contest/contest_verbs.dm
  code/modules/antag_contest/sol_items.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/sol.dm
Labels: Changelog Required, High Priority, Review Required

#6905 Tweaks some stuff to better reflect synth lore
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/mob/living/silicon/robot/presets.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/alberyk-synthlore.yml
Labels: Awaiting Merge, Lore Request

#6916 Fixes voting question for being too sanitized.
  code/controllers/subsystems/vote.dm
  html/changelogs/karolis-votefix.yml
Labels: Awaiting Merge, Bugfix

#6910 Fixes aut'akh organs causing liver failure
  code/modules/organs/subtypes/autakh.dm
  html/changelogs/alberyk_autakhtox.yml
Labels: Awaiting Merge

#6897 Custom items 20/08
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/ioraks_cape.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#6919 Adjusts shrapnel to cause HALLOSS
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/skull132_shrapnel.yml
Labels: Awaiting Merge

#6923 Fixed inconsistencies in Requests Consoles names and department types.
  code/game/jobs/access_datum.dm
  code/game/machinery/computer/message.dm
  code/game/machinery/requests_console.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  config/example/access levels.txt
  config/example/tips.txt
  html/changelogs/CodePanter-requests-consoles-fixes.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  nano/templates/requests_console.tmpl
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#6904 Ai trader box removal V2
  code/datums/trading/ai.dm
  html/changelogs/Naelynn-PR-M.yml
Labels: Awaiting Merge

#6930 Circuit Bugfixes
  code/game/objects/items.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  html/changelogs/MDP-circfix.yml
Labels: Awaiting Merge, Bugfix

#6931 Smol Melee Bugfixes
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/mob_grab.dm
  html/changelogs/geeves-meleeTweaks.yml
Labels: Awaiting Merge, Bugfix
