Repository Aurorastation/Aurora.3, pull requests merged in 2019-09, with the labels that each got.

#6934 Adjusts a few custom sprites
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synths/customhologram.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#6900 Scary Hairy Update
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/hairy-pooter.yml
  icons/mob/human_face/facial_hair.dmi
  icons/mob/human_face/facial_hair_multiply.dmi
  icons/mob/human_face/hair.dmi
  icons/mob/human_face/hair_multiply.dmi
  icons/mob/human_face/ipc_screens.dmi
  icons/mob/human_face/tajara_facial_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
  icons/mob/human_face/unathi_hair.dmi
  icons/mob/human_face/vaurca_hair.dmi
  icons/mob/human_face/vox_hair.dmi
Labels: Awaiting Merge, Sprites

#6913 Tajaran stuff: five years plan edition
  code/__defines/species_languages.dm
  code/controllers/subsystems/traumas.dm
  code/game/mecha/combat/tank.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/background/religion/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/language/generic.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/scripting/Implementations/Telecomms.dm
  html/changelogs/alberyk-matake.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#6937 Bad init calls fixes
  code/game/objects/items/weapons/tanks/watertank.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/structures/barsign.dm
  code/modules/economy/quikpay.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/mob/living/silicon/decoy/decoy.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#6935 Bug fixes: drugs, full hydrobelts and a bit more
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/suits/alien.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  html/changelogs/alberyk-drugixes.yml
Labels: Awaiting Merge, Bugfix

#6914 Bigger, more varied pain messages.
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/organs/blood.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/pain.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/mattatlas-6914.yml
Labels: Awaiting Merge

#6871 Adds keypad maglock
  code/game/jobs/access_datum.dm
  code/game/objects/items/devices/magnetic_lock.dm
  html/changelogs/karolis2011-keypadmaglocks.yml
  icons/obj/magnetic_locks.dmi
  vueui/src/components/view/misc/maglock-config.vue
  vueui/src/components/view/misc/maglock.vue
Labels: Awaiting Merge, Sprites, VueUi

#6898 Unapologetic Maintenance Drone Nerfs
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/geeves-droneTweaks.yml
Labels: Awaiting Merge

#6928 Janitor Update (I'm bad at code edition)
  aurorastation.dme
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/clown_items.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/reagents/reagent_containers/tooth_paste.dm
  code/modules/research/designs.dm
  html/changelogs/janitor_stuff-wezzy.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/chemical.dmi
  icons/obj/janitor.dmi
  icons/obj/toy.dmi
  sound/effects/mop.ogg
  sound/effects/toothbrush.ogg
Labels: Awaiting Merge, Sprites

#6941 Minor sprite fixes to some boots, riot helm, tac-mask.
  html/changelogs/Ferner-190902-sprites_fixes.yml
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/mask.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6947 You can now lock lockers with alt click
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  html/changelogs/mattatlas-altlockers.yml
Labels: Awaiting Merge

#6879 May admins know age of disconnected players
  code/modules/admin/player_panel.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_defines.dm
Labels: Awaiting Merge, Changelog Required

#6939 Adds crutches
  code/defines/obj/weapon.dm
  html/changelogs/alberyk-clutches.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/weapons.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#6943 Syncing languages for detached nymph
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  html/changelogs/Sindorman-diona.yml
Labels: Awaiting Merge, Bugfix

#6940 Surgery trays, material knife shrapnel extraction, ghetto stitches
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/wound.dm
  code/modules/power/cable.dm
  html/changelogs/mattatlas-stickstonesbones.yml
  icons/obj/storage.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#6924 Announcements are only visible on station levels
  code/defines/procs/announce.dm
  html/changelogs/arrow768-station-announcements.yml
Labels: Awaiting Merge

#6951 Increases the storage capacity of sharps disposal boxes.
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/190905-coding_sharpsbox.yml
Labels: Awaiting Merge

#6886 Removes the option to join as random job.
  SQL/migrate/V042__random_job_removal.sql
  code/controllers/subsystems/job.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preferences.dm
  html/changelogs/arrow768.yml
Labels: Awaiting Merge

#6945 Smol Ninja Tweaks: Cloak and blow
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  html/changelogs/geeves-ninjaOoS.yml
Labels: Awaiting Merge

#6771 Fixes the comment describing phoron salts.
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Awaiting Merge, Changelog Required

#6889 Adds hair tying for shells
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/shell-hair.yml
Labels: Awaiting Merge

#6946 Ports table item autoalign from Bay
  code/_onclick/click.dm
  code/_onclick/item_attack.dm
  code/game/gamemodes/cult/cult_items.dm
  code/game/machinery/kitchen/cooking_machines/container.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/lighting/lamp.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/battlemonsters/items/card.dm
  code/modules/battlemonsters/items/core.dm
  code/modules/battlemonsters/items/furniture/dueling_area.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/suits/bio.dm
  code/modules/games/cards.dm
  code/modules/hydroponics/beekeeping/net.dm
  code/modules/hydroponics/beekeeping/smoker.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/coins.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/ore.dm
  code/modules/mob/holder.dm
  code/modules/mob/inventory.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/spray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/stockparts.dm
  code/modules/research/xenoarchaeology/geosample.dm
  code/modules/spells/artifacts.dm
  code/modules/tables/interactions.dm
  html/changelogs/Ferner-190902-coding_autoalign.yml
Labels: Awaiting Merge

#6885 Adds the ability to swap the wrist you wear your watch on
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/swap-watch-icon.yml
  icons/mob/hands.dmi
Labels: Awaiting Merge, Sprites

#6962 Holosign great again
  code/game/machinery/holosign.dm
  html/changelogs/goret-holosign-great-again.yml
  icons/obj/power.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora, Sprites

#6963 Fixes player panel breaking
  code/modules/admin/player_panel.dm
  html/changelogs/cult.yml
Labels: Awaiting Merge, Bugfix

#6964 Fixes Tcomms on Exodus
  html/changelogs/190908-mapping_exodustcomms.yml
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Exodus

#6952 Fixes two typos
  code/modules/ghostroles/spawner/simplemob/rat.dm
  code/modules/mob/living/living.dm
  html/changelogs/mattatlas-punctuation.yml
Labels: Awaiting Merge

#6961 External Auth security improvements
  code/modules/mob/abstract/unauthed/login.dm
  code/modules/world_api/commands/misc.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority, High Risk

#6972 Fixes trays spilling their contents even when putting them on a table
  code/game/objects/items/weapons/trays.dm
  html/changelogs/Ferner-190909-bugfix_trays.yml
Labels: Awaiting Merge, Bugfix

#6954 H0S Helmet
  html/changelogs/ben10083 - H0S_Helmet.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6959 Remove death alarm kit from medical
  html/changelogs/goret-remove-death-alarm-kit.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#6958 Simple Merchant Changes
  code/datums/trading/ai.dm
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/unique.dm
  html/changelogs/Naelynn-SimpleMerchAdjust.yml
Labels: Awaiting Merge

#6966 Adds aliens zombies
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/alberyk-zombie.yml
  icons/mob/human_races/zombie/r_zombie.dmi
  icons/mob/human_races/zombie/r_zombie_skrell.dmi
  icons/mob/human_races/zombie/r_zombie_tajara.dmi
  icons/mob/human_races/zombie/r_zombie_unathi.dmi
Labels: Awaiting Merge, Sprites

#6953 Adds the ballistic gauntlet
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/alberyk-fisto.yml
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Awaiting Merge, Sprites

#6956 Makes the janitor cart pushable
  code/game/machinery/doors/door.dm
  code/game/objects/structures/janicart.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/Ferner-190906-coding_janitorcart.yml
Labels: Awaiting Merge

#6974 Projectiles are now twice as fast. Updated projectile sprite.
  code/modules/projectiles/projectile.dm
  html/changelogs/mattatlas-projectiles.yml
  icons/obj/projectiles.dmi
Labels: Awaiting Merge, Sprites

#6977 You can no longer wirelessly close lockers with altclick
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  html/changelogs/mattatlas-imdumb.yml
Labels: Awaiting Merge

#6993 Bug fixes: impact wrench and breacher shoes
  code/game/objects/items/weapons/tools.dm
  html/changelogs/alberyk-powerwench.yml
  icons/mob/species/unathi/shoes.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6969 Faction-specific loadout items
  aurorastation.dme
  code/controllers/subsystems/job.dm
  code/game/jobs/faction/eridani.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/zeng_hu.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/mattatlas6969.yml
  icons/mob/head.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites, WIP

#6927 pAI Update Assembled: Redux
  code/modules/mob/living/carbon/human/stripping.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  html/changelogs/geeves-pAIFinal.yml
Labels: Awaiting Merge

#6994 Adds Alt Necropolis Research Uniform (and a few other things)
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  html/changelogs/paradoxspace-ilied.yml
  icons/mob/human_face/hair.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6997 Bug fixes: tcfl vox, impact wrench again, KA pin exploit
  code/game/objects/items/weapons/tools.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/custom_ka/core.dm
  html/changelogs/alberyk-bugfix.yml
  icons/obj/clothing/shoes.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6999 Necropolis Bugfixes
  code/game/jobs/faction/necropolis.dm
  html/changelogs/paradoxspace-necromancy.yml
  icons/mob/uniform.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6991 Adds more skrell stuff
  aurorastation.dme
  code/game/objects/items/skrell.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/religion/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/under/xenos/skrell.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/alberyk_skrell.yml
  icons/mob/human_races/markings.dmi
  icons/obj/drinks.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/library.dmi
  icons/obj/skrell_items.dmi
Labels: Awaiting Merge, Sprites

#6992 Adds an unique gun to the pra consular officer
  code/modules/background/citizenship/tajara.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/projectiles/guns/projectile/cannon.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  html/changelogs/alberyk-guntime.yml
  icons/obj/gun.dmi
Labels: Awaiting Merge, Sprites

#6996 Custom items 14/09
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synths/customhologram.dmi
  icons/obj/custom_items/likho_labcoat.dmi
  icons/obj/custom_items/muhawir_items.dmi
  icons/obj/custom_items/muhawir_wallet.dmi
  icons/obj/custom_items/nai_items.dmi
  icons/obj/custom_items/ramit_jacket.dmi
  icons/obj/custom_items/strauss_jacket.dmi
  icons/obj/custom_items/takahashi_uniform.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#7008 Bug Fix: 17/9/19
  code/datums/brain_damage/mild.dm
  code/game/machinery/constructable_frame.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/mob_grab.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/sepbugfix179.yml
  icons/mob/feet.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7010 Bugs fixes: skrell stuff and idris uniforms
  code/game/objects/items/skrell.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/hydroponics/seed_storage.dm
  html/changelogs/alberyk-bugfixesiguess.yml
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7013 A small bugfix
  code/game/machinery/constructable_frame.dm
  html/changelogs/190919-bugfix_frames.yml
Labels: Awaiting Merge, Bugfix

#6949 Death messages for non-robotic station species no longer show up after two tiles of distance.
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/slime.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/mattatlas-nocheating.yml
Labels: Awaiting Merge

#6986 IPC Barfight update: Kicks, Punches and Bites
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/geeves-ipcpowercreep.yml
Labels: Awaiting Merge

#6989 Shinobi: Geeves Destroys Game Balance: Electric Boogaloo
  code/__defines/radio.dm
  code/controllers/subsystems/statistics.dm
  code/datums/outfits/outfit_admin.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/under/syndicate.dm
  html/changelogs/geeves_duoNinja.yml
  icons/mob/hands.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7017 science shoes
  code/modules/clothing/shoes/colour.dm
  html/changelogs/shoes.yml
  icons/mob/feet.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#6970 Make Exodus Great Again
  code/game/machinery/doors/firedoor.dm
  html/changelogs/furrycactus - exodus.yml
  maps/exodus/code/exodus_shuttles.dm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-5_asteroid.dmm
Labels: Awaiting Merge, Mapping: Exodus

#6872 Adds custom annoucment with custom sound verb
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  html/changelogs/karois2011-ccsound.yml
Labels: Awaiting Merge

#7005 Makes the pra space ruin harder to loot
  aurorastation.dme
  code/game/turfs/simulated/wall_types.dm
  code/modules/mob/living/simple_animal/hostile/pra.dm
  html/changelogs/alberyk-spaceruin.yml
  icons/mob/npc/republicon.dmi
  maps/space_ruins/pra_blockade_runner.dmm
Labels: Awaiting Merge, Sprites

#7016 Some small map fixes.
  html/changelogs/Ferner-190919-mapping_roofsolarbugfix.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7023 Custom item fixes - Menown
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/muhawir_items.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#7030 Exodus fixes
  html/changelogs/190920-mapping_exodusfixes.yml
  maps/exodus/code/exodus_shuttles.dm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Exodus

#7034 Fixes the gatling laser locking up
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/gatling-skull132.yml
Labels: Awaiting Merge, Bugfix

#7033 Fixes some energy melee weapons being unable to be picked up after being dropped
  code/game/objects/items/weapons/melee/energy.dm
  html/changelogs/190921-bugfix_energy.yml
Labels: Awaiting Merge, Bugfix

#7032 Exodus Bugfixes Continued
  html/changelogs/190921-bugfix_exoduscont.yml
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-5_asteroid.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Exodus

#7028 updates README. Fixes APCs on camera.
  code/modules/power/apc.dm
  html/changelogs/apcs and photos.yml
  tools/mapcapturemerge/README.md
Labels: Awaiting Merge, Bugfix

#7014 More Reagent Fixes/Tweaks
  code/modules/mob/living/carbon/taste.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  html/changelogs/MDP-burgerpalooza.yml
Labels: Awaiting Merge, Bugfix

#7006 Adds the ability for baseline frame IPCs to change their screens; re-adds shell frame self-diagnostics
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/change_ipc_screens.yml
Labels: Awaiting Merge, Bugfix, Feature

#7011 Tweaks some codersprites
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  html/changelogs/begone_codersprites-wezzy.yml
  icons/obj/clothing/uniforms.dmi
  icons/obj/food.dmi
  icons/obj/library.dmi
  icons/obj/storage.dmi
  icons/obj/surgery.dmi
  icons/obj/trash.dmi
  icons/obj/weapons.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7019 Ninja Tweaks + Bugfix
  code/datums/outfits/outfit_admin.dm
  code/modules/clothing/spacesuits/rig/modules/computer.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  html/changelogs/geeves-ninjaOHFUCK.yml
Labels: Awaiting Merge

#7037 Returning the surgery trays to Exodus
  html/changelogs/190922-bugfix_surgerytrays.yml
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Exodus

#7042 Stops the Exodus engine from venting itself
  html/changelogs/190922-bugfix_exodusengine.yml
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Exodus

#7039 Bug fixes: cargo robusting gloves, skrell plants and idris clothing
  code/game/jobs/faction/idris.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/alberyk-fixesstuff.yml
  icons/obj/custom_items/likho_labcoat.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7041 Makes it so surgeons no longer mistake their tools for donuts
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/190922-bugfix_surgerytrays2.yml
Labels: Awaiting Merge, Bugfix

#7001 Styles basic HTML UIs
  code/__defines/vueui.dm
  code/_helpers/type2type.dm
  code/controllers/subsystems/processing/vueui.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/modules/client/asset_cache.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preference_setup/skills/skills.dm
  code/modules/client/preferences.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/mob.dm
  code/modules/vueui/ui.dm
  config/example/rules.html
  html/bug-minus.png
  html/burn-exclamation.png
  html/changelog.css
  html/changelog.html
  html/changelogs/ui theming.yml
  html/chevron-expand.png
  html/chevron.png
  html/cross-circle.png
  html/disk.png
  html/hard-hat-exclamation.png
  html/image-minus.png
  html/image-plus.png
  html/map-pencil.png
  html/music-minus.png
  html/music-plus.png
  html/retort.png
  html/scales.png
  html/shield.png
  html/spell-check.png
  html/templates/changelog_extra_header.html
  html/templates/footer.html
  html/templates/header.html
  html/tick-circle.png
  html/toolbox.png
  html/wrench-screwdriver.png
  interface/interface.dm
  vueui/.jshintrc
  vueui/src/assets/global.scss
  vueui/src/assets/theme-basic.scss
  vueui/src/main.js
Labels: Awaiting Merge, VueUi

#6985 Refactors , resprites and rebrands RCDs
  aurorastation.dme
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/defines/obj/weapon.dm
  code/game/gamemodes/newobjective.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/autolathe_datums.dm
  code/game/mecha/combat/phazon.dm
  code/game/mecha/equipment/tools/tools.dm
  code/game/objects/items/weapons/RCD.dm
  code/game/objects/items/weapons/RFD.dm
  code/game/objects/items/weapons/RSF.dm
  code/game/objects/items/weapons/RTF.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/cargo/random_stock/t3_rare.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/research/designs/mechfab_designs.dm
  html/changelogs/rfdupdate_wezzy.yml
  icons/mecha/mecha_equipment.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/ammo.dmi
  icons/obj/tools.dmi
  icons/obj/weapons.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/runtime/runtime-1.dmm
  sound/weapons/crossbow.ogg
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Mapping: Runtime, Sprites

#6773 Removes the chameleon kit from the protolathe
  code/modules/research/designs.dm
  html/changelogs/holokitbad.yml
Labels: Awaiting Merge

#7022 Cable Powercreep
  html/changelogs/geeves-cabletoil.yml
  icons/obj/power.dmi
  icons/obj/power_cond_white.dmi
Labels: Awaiting Merge, Sprites

#7038 DMM Reader now crashes upon invalid type
  code/modules/maps/reader.dm
Labels: Changelog Required, Refactor, Review Required, Waiting Period

#7051 Fixes unchanged paths in the rcd update
  maps/exodus/exodus-2_centcomm.dmm
  maps/space_ruins/listening_post.dmm
  maps/space_ruins/scrapheap.dmm
  maps/space_ruins/spacehulk.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, Mapping: Exodus

#7015 Makes the IAC vest able to store things.
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/190919-coding_iacvest.yml
Labels: Awaiting Merge

#6976 Add HoS Helmet + Oxygen Tank but it works this time
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/helmet.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/geeves-hosHelmet.yml
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Changes Required, Mapping: Aurora, Sprites

#6884 Re-adds "Roll the Dice!"
  code/game/verbs/ooc.dm
  html/changelogs/roll-the-dice.yml
Labels: Awaiting Merge

#7046 Adds back ability to view virus records.
  code/game/machinery/computer/records.dm
  html/changelogs/vuryse erecords.yml
Labels: Awaiting Merge, Bugfix

#7054 Some bugfixes
  code/_onclick/cyborg.dm
  code/game/objects/items/weapons/RFD.dm
  code/modules/materials/material_sheets.dm
  html/changelogs/190924-bugfix_rfd.yml
  icons/obj/tools.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7003 Unapologetic Noobkiller Nerfs
  code/_onclick/item_attack.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  html/changelogs/16sep19-forceglovemassacre.yml
Labels: Awaiting Merge

#7056 Fixes nonexistant path on a derelict that's causing travis errors.
  maps/space_ruins/listening_post.dmm
Labels: Bugfix, Changelog Required, Review Required

#7059 Removes the IE shocker circuit
  code/modules/integrated_electronics/subtypes/manipulation.dm
  html/changelogs/geeves-shockfuck.yml
Labels: Review Required, Waiting Period

#7040 Adds access requirements to the cloning computer
  code/game/jobs/job/medical.dm
  code/game/machinery/computer/cloning.dm
  html/changelogs/alberyk-fuckcloning.yml
Labels: Awaiting Merge

#7062 Fix issue #7004
  icons/mob/uniform.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#7035 Theming for Skin (Main skin)
  SQL/migrate/V043__Skin_Themes.sql
  aurorastation.dme
  code/controllers/subsystems/processing/vueui.dm
  code/controllers/subsystems/theming.dm
  code/modules/client/client procs.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/vueui/ui.dm
  interface/README.md
  interface/dark.dmf
  interface/dark.txt
  interface/skin.txt
Labels: Awaiting Merge, Changelog Required, VueUi

#7069 Fixes horrible oversigth in things.
  code/datums/discord/bot.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#7067 Fixes Emergency Shield Generators
  code/modules/shieldgen/emergency_shield.dm
  html/changelogs/geeves-eShieldFix.yml
Labels: Awaiting Merge, Bugfix

#7043 Makes the surgery tray inventory open when clicked.
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/190923-coding_surgerytray_click.yml
Labels: Awaiting Merge

#7058 Automania! Adds autoinhaler and autoinjector to autolathe
  code/game/machinery/autolathe_datums.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/geeves-autoBuffs.yml
Labels: Awaiting Merge

#7084 dark skin for reals
  SQL/migrate/V043__Skin_Themes.sql
  aurorastation.dme
  code/controllers/subsystems/processing/vueui.dm
  code/controllers/subsystems/theming.dm
  code/modules/client/client procs.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/vueui/ui.dm
  html/changelogs/darkskin.yml
  interface/README.md
  interface/dark.dmf
  interface/dark.txt
  interface/skin.txt
Labels: Awaiting Merge

#6915 Adds contribution guidelines to VueUI
  .github/CONTRIBUTING.md
Labels: Changelog Required, Review Required

#7070 CRYO VISION OH SHIT BOI
  code/game/machinery/cryopod.dm
  html/changelogs/geeves-cryoExamine.yml
Labels: Awaiting Merge

#7047 Changes how vaurca phoron leaking works
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/alberyk-vaurcathing.yml
Labels: Awaiting Merge, Lore Request

#7066 Unbraced drills no longer explode
  code/modules/mining/drilling/drill.dm
  html/changelogs/geeves-drillCreep.yml
Labels: Awaiting Merge

#7073 Research Crematorium
  html/changelogs/furrycactus - crematoriums.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7075 Increasing capacity for Mining APC
  html/changelogs/furrycactus-miningAPC.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7078 Fixes radio emotes when tcomms scripts are active
  code/modules/mob/language/generic.dm
  html/changelogs/geeves-tcommsNoiseFix.yml
Labels: Awaiting Merge, Bugfix

#7050 Improves partial understanding code
  code/modules/mob/language/language.dm
  html/changelogs/geeves-partialFixes.yml
Labels: Awaiting Merge

#7095 Fixes Mining EVA's APC
  html/changelogs/furrycactus-mining apc.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora
