Repository Aurorastation/Aurora.3, pull requests merged in 2019-12, with the labels that each got.

#7540 Y̵͏ò̕u ͏͟B̷ét̢҉te̸r͘ ̵Wa͟͢͠ţc̛͡h҉ ͘͟͢Òut͠ (Holiday Decor)
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/random/random.dm
  html/changelogs/furrycactus - l͠et́͜-͟i̛͟t̶̸̷-s̡̕n̢͠o̸̕w͞.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, High Priority, Mapping: Aurora, Review Required

#7509 Prevents players from joining with unackd warnings
  code/modules/admin/verbs/warning.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/arrow768-no-unack-join.yml
Labels: Awaiting Merge, Bugfix

#7552 Greeting-Window autoshow restrictions
  code/modules/client/client procs.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7546 Fixes Gemspawns
  code/modules/mining/gemstones.dm
  code/modules/mining/mine_turfs.dm
  html/changelogs/Kaedwuff- Gemspawn fix.yml
Labels: Awaiting Merge, Bugfix

#7547 Fix vox raiders not getting their proper gear
  code/game/antagonist/outsider/raider.dm
  html/changelogs/alberyk-voxstuff.yml
Labels: Awaiting Merge, Bugfix

#7551 Remove use of to_chat(alert())
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/living/carbon/alien/diona/progression.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7431 Can't speak in radios while cuffed + no more radio icons in messages
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  html/changelogs/mattatlas-7431.yml
Labels: Awaiting Merge

#7522 Rechargers charge faster
  code/game/machinery/cell_charger.dm
  code/game/machinery/mech_recharger.dm
  code/game/machinery/recharger.dm
  code/game/machinery/rechargestation.dm
  html/changelogs/27nov19-rechargers.yml
Labels: Awaiting Merge

#7531 Rainbow Footwraps
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/Kaedwuff - Colored Footwraps.yml
Labels: Awaiting Merge

#7532 Space A/C buff (People use these?)
  code/game/machinery/spaceheater.dm
  html/changelogs/doxxmedearly - spaceheater.yml
Labels: Awaiting Merge

#7553 Fixes some animal holders and familiars missing their sprites
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  html/changelogs/Ferner-191201-bugfix_animalsprites.yml
  icons/mob/diona.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_holder.dmi
  icons/mob/npc/held_mobs.dmi
  icons/mob/npc/livestock.dmi
  icons/mob/npc/pets.dmi
  icons/mob/suit.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7564 Fixes invisible surgeon shoes
  html/changelogs/wezzy_surgeonshoes_fix.yml
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7507 Surgery Overhaul
  code/__defines/mobs.dm
  code/_helpers/unsorted.dm
  code/_onclick/item_attack.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/facial_surgery.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/surgery.dm
  html/changelogs/geeves - brainmedSurgery.yml
  icons/mob/surgery.dmi
Labels: Awaiting Merge, Sprites

#7550 Fixes fancy box wrong description
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/wezzy_fancy_box_fix.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/runtime/runtime-1.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora, Mapping: Exodus, Mapping: Runtime

#7566 X-mas lights fix
  html/changelogs/wezzy_xmaslightsfix.yml
  icons/obj/christmas.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7565 Fixed species for TCFL and freelancers
  code/modules/ghostroles/spawner/human/ert.dm
  html/changelogs/Aboshehab - Response teams species adjusted.yml
Labels: Awaiting Merge, Bugfix

#7557 Fixes Some Species always spawning with Sandals
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/geeves - sandals.yml
Labels: Awaiting Merge, Bugfix

#7545 More IRU coat options.
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/clothing/suits/armor.dm
  html/changelogs/Aboshehab - More IRU coats.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#7542 Idris contractors can join forensic roles
  code/game/jobs/faction/idris.dm
  html/changelogs/Aboshehab - Idris can join as Forensics.yml
Labels: Awaiting Merge, Lore Request

#7538 Transparent gas-masks added to officer lockers
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/Aboshehab - Transparent gasmasks for officers.yml
Labels: Awaiting Merge

#7534 Adds some new mech weaponry for the legion, changes the way mech decals are applied
  code/__defines/_layers.dm
  code/modules/cargo/random_stock/t3_rare.dm
  code/modules/heavy_vehicle/components/frame.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/equipment/engineering.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/heavy_vehicle/mech_icon.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/premade/_premade.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/projectiles/guns/energy/blaster.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/designs_exosuits.dm
  html/changelogs/Ferner-191129-coding_mechdecals.yml
  icons/mecha/mech_equipment.dmi
  icons/mecha/mecha_decals.dmi
  icons/mecha/mecha_weapon_overlays.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/space_ruins/scrapheap.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#7364 Implements DNA locks and crushing to RIGs, again
  code/datums/outfits/outfit_antag.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  html/changelogs/geeves - rigCrush2.yml
Labels: Awaiting Merge

#7517 Adds a second bartender slot
  code/game/jobs/job/civilian.dm
  html/changelogs/wezzy_second_bartender_slot.yml
Labels: Awaiting Merge

#7541 R&D voidsuits + AMI resprite
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/void/station.dm
  html/changelogs/kyres1-rndsuits.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/rig_back.dmi
  icons/mob/species/machine/gloves.dmi
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/shoes.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/gloves.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/shoes.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/gloves.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/species/machine/hats.dmi
  icons/obj/clothing/species/machine/suits.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7236 Raises Loadout Points to 15
  code/__defines/misc.dm
  html/changelogs/paradoxspace-bloat.yml
Labels: Awaiting Merge

#7428 Better Parapens
  code/__defines/chemistry.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/paperwork/pen.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/Kaedwuff - Better Parapens.yml
Labels: Awaiting Merge

#7548 Adds the rosary to the loadout
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  html/changelogs/alberyk-rosary.yml
Labels: Awaiting Merge

#7588 Fixed duplicate logs from moving z-levels
  code/modules/multiz/movement.dm
  html/changelogs/Aboshehab - Tidied up z-level movement.yml
Labels: Awaiting Merge, Bugfix

#7585 black Idris duster sprite fix
  html/changelogs/Aboshehab - black duster idris coat fix.yml
  icons/mob/suit.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7543 Kataphract Team Update
  code/datums/outfits/ert/kataphract_ert.dm
  code/game/objects/effects/projectile/projectile_impact.dm
  code/game/objects/effects/projectile/projectile_muzzle.dm
  code/game/objects/effects/projectile/projectile_tracer.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/ghostroles/spawner/human/ert.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves - kataphractRedux.yml
  icons/effects/projectiles/impact.dmi
  icons/effects/projectiles/muzzle.dmi
  icons/effects/projectiles/tracer.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  icons/obj/vaurca_items.dmi
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#7597 Mixed Gems Bugfix
  code/modules/mining/gemstones.dm
  html/changelogs/Kaedwuff - Stackfix.yml
Labels: Awaiting Merge, Bugfix

#7558 Fix for Issue #7530
  code/modules/heavy_vehicle/mecha.dm
  html/changelogs/Nero-07.yml
Labels: Awaiting Merge

#7568 Additional Unathi Horns
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/paradoxspace-nicerack.yml
  icons/mob/human_face/unathi_hair.dmi
Labels: Awaiting Merge, Sprites

#7559 Bedsheet inhands and other fixes
  code/game/objects/items/devices/lighting/flare.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/paperwork/paperbin.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
  html/changelogs/wezzy_new_bedsheet_inhands.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_bedsheet.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_bedsheet.dmi
  icons/obj/bedsheets.dmi
  icons/obj/tools.dmi
  sound/items/drop/woodweapon.ogg
Labels: Awaiting Merge, Review Required, Sprites

#7571 Forced holocalls added, Holopad ID added
  code/game/machinery/hologram.dm
  html/changelogs/Nero-07-ForcedHolocalls.yml
Labels: Awaiting Merge

#7572 Ports BS12 fixes / refactor of visualnets.
  aurorastation.dme
  code/__defines/_layers.dm
  code/_helpers/global_lists.dm
  code/_helpers/lists.dm
  code/_onclick/ai.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/telekinesis.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/machinery.dm
  code/controllers/subsystems/ticker.dm
  code/datums/diseases/wizarditis.dm
  code/datums/repositories/cameras.dm
  code/game/gamemodes/sandbox/h_sandbox.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/camera/tracking.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/mob/abstract/freelook/ai/cameranet.dm
  code/modules/mob/abstract/freelook/ai/chunk.dm
  code/modules/mob/abstract/freelook/ai/eye.dm
  code/modules/mob/abstract/freelook/ai/update_triggers.dm
  code/modules/mob/abstract/freelook/chunk.dm
  code/modules/mob/abstract/freelook/eye.dm
  code/modules/mob/abstract/freelook/logging.dm
  code/modules/mob/abstract/freelook/mask/chunk.dm
  code/modules/mob/abstract/freelook/mask/cultnet.dm
  code/modules/mob/abstract/freelook/mask/eye.dm
  code/modules/mob/abstract/freelook/mask/update_triggers.dm
  code/modules/mob/abstract/freelook/update_triggers.dm
  code/modules/mob/abstract/freelook/visualnet.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/login.dm
  code/modules/nano/interaction/default.dm
  code/modules/paperwork/paper.dm
  code/modules/ventcrawl/ventcrawl.dm
  html/changelogs/johnwildkins-visualnet.yml
Labels: Awaiting Merge

#7580 Wallets can hold rings now.
  code/game/objects/items/weapons/storage/wallets.dm
  html/changelogs/doxxmedearly - putaringonit.yml
Labels: Awaiting Merge

#7581 Pumpkin Spice Season is Over
  code/game/machinery/vending_types.dm
  html/changelogs/doxxmedearly - PSremove.yml
Labels: Awaiting Merge

#7607 Donut Box Bugfix
  code/game/objects/items/weapons/storage/fancy.dm
  html/changelogs/doxxmedearly - boxxmedonuts.yml
Labels: Awaiting Merge, Bugfix

#7577 Freelancer sprites + merc resprite
  code/datums/outfits/ert/ert.dm
  code/game/machinery/suit_storage_unit.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/kyres1-freelancerbloat.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/light_overlays.dmi
  icons/mob/rig_back.dmi
  icons/mob/species/machine/gloves.dmi
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/shoes.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/gloves.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/shoes.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/gloves.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/species/machine/hats.dmi
  icons/obj/clothing/species/machine/suits.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7587 Merchant bulk buy function
  code/modules/merchant/merchant_programs.dm
  html/changelogs/MerchantBulkBuy.yml
  nano/templates/merchant.tmpl
Labels: Awaiting Merge

#7589 Adds the gigashatter proc
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/geeves - giga-shatter.yml
Labels: Awaiting Merge

#7591 Shuttle update: Part Three: The Merchants Invest
  code/game/jobs/job/outsider/merchant.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/mirror.dm
  code/game/turfs/turf_changing.dm
  code/modules/ghostroles/spawner/human/merchant.dm
  code/modules/ghostroles/spawnpoint/spawnpoint.dm
  html/changelogs/Ferner-191201-mapping_merchant.yml
  icons/obj/recycling.dmi
  icons/obj/turrets.dmi
  icons/turf/areas.dmi
  maps/_common/areas/shuttles.dm
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/code/aurora_shuttles.dm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7593 Removes the Ripley APLU construction manual from robotics
  html/changelogs/LEUDOBERCT1-PR-7593.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7576 New money sprites
  aurorastation.dme
  code/datums/trading/ai.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/biogenerator.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/economy/cash.dm
  code/modules/mining/mint.dm
  code/modules/mining/money_bag.dm
  html/changelogs/wezzy_new_money.yml
  icons/obj/cash.dmi
  icons/obj/storage.dmi
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Exodus, Sprites

#7539 Adds five new possible random asteroid dungeon spawns
  code/modules/mob/living/simple_animal/corpse.dm
  html/changelogs/Ferner-191130-mapping_leudoberctsdungeon.yml
  maps/_common/areas/special.dm
  maps/dungeon_spawns/crashed_pod_unique.dmm
  maps/dungeon_spawns/digsite_unique.dmm
  maps/dungeon_spawns/listening_post_unique.dmm
  maps/dungeon_spawns/satellite_crash_unique.dmm
  maps/dungeon_spawns/shuttle_unique.dmm
  maps/dungeon_spawns/sol_bunker_unique.dmm
  maps/dungeon_spawns/tomb_unique.dmm
Labels: Awaiting Merge

#7598 Doxx Saves Giftsmas
  code/game/objects/items/stacks/wrap.dm
  html/changelogs/doxxmedearly - wrapnerfs.yml
Labels: Awaiting Merge

#7603 Cryo time_till_despawn adjustment
  code/game/machinery/cryopod.dm
  html/changelogs/geeves - cryoGhost.yml
Labels: Awaiting Merge

#7626 Fixes the Mech RFD
  code/game/objects/items/weapons/RFD.dm
  code/modules/heavy_vehicle/equipment/engineering.dm
  html/changelogs/Ferner-191207-bugfix_mechrfd.yml
  icons/mecha/mecha_weapon_overlays.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7601 Preventing Bottle-Based Face Injuries
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/doxxmedearly - simplysmashing.yml
Labels: Awaiting Merge

#7612 Removes Soylent
  code/game/machinery/biogenerator.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/Kaedwuff - No Soylent.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#7634 Fixes AMI dmi mislabelling
  icons/mob/species/tajaran/suit.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#7630 Fix intent switching and grab reinforcement-by-click not working
  code/_onclick/hud/human.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/modules/mob/mob_grab.dm
  html/changelogs/johnwildkins-layerfix.yml
Labels: Awaiting Merge, Bugfix

#7613 Smoke if you got 'em
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/doxxmedearly - smokings_a_drag.yml
Labels: Awaiting Merge

#7636 Circuit Goggle Fixes
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  html/changelogs/paradoxspace-enveegee.yml
  icons/mob/eyes.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7640 Fixes some minor issues with space ruins
  maps/space_ruins/derelict.dmm
  maps/space_ruins/pra_blockade_runner.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7628 Custom items 08/12
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/naali_blanket.dmi
  icons/obj/custom_items/oscar_helmet.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#7610 Latex Gloves Begone
  code/datums/supplypacks.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/furrycactus - no more latex.yml
  icons/obj/storage.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7651 Fixes the airlock pumps in the digsite dungeon.
  html/changelogs/changelog.yml
  maps/dungeon_spawns/digsite_unique.dmm
Labels: Awaiting Merge, Bugfix

#7604 Military jackets sprites added
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/Aboshehab - Adding the old military jackets.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Merge Conflict, Sprites

#7644 Integrated Circuits PIN_ANY now accepts lists
  code/modules/integrated_electronics/core/pins.dm
  html/changelogs/aleksix-ic_anypin_lists.yml
Labels: Awaiting Merge, Bugfix

#7609 Horn Tweak/Add
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/paradoxspace-nitram.yml
  icons/mob/human_face/unathi_hair.dmi
Labels: Awaiting Merge, Lore Impact, Sprites

#7608 Gun prettyfication project: 2
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/dansemacabre-gunsforpeace.yml
  icons/mob/back.dmi
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
Labels: Awaiting Merge, Sprites

#7619 Makes tunnel cloaks colourable
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  html/changelogs/changelog.yml
  icons/mob/species/vaurca/back.dmi
Labels: Awaiting Merge, Sprites

#7632 Free Implanters
  code/modules/research/designs.dm
  html/changelogs/paradoxspace-stroggification.yml
Labels: Awaiting Merge

#7660 Quick gun sprite fix
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Review Required, Sprites

#7637 Adds the ability to place flags directly onto windows
  code/game/objects/structures/signs.dm
  html/changelogs/Ferner-191210-coding_windowflags.yml
Labels: Awaiting Merge

#7602 Station Safe bugfix
  code/game/objects/structures/safe.dm
  html/changelogs/StationSafeBugfix.yml
Labels: Awaiting Merge

#7633 Simple Animal Adjustments
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/carp.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/hakhma.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/friendly/rat.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/doxxmedearly - simple_animal_changes_1.yml
Labels: Awaiting Merge

#7667 Stop spraying yourself.
  code/modules/reagents/reagent_containers/spray.dm
  html/changelogs/doxxmedearly - spraymemes.yml
Labels: Awaiting Merge, Bugfix

#7646 Moves randomized hunger/thirst setup from jobs subsystem to human/initialize
  code/controllers/subsystems/job.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/Ferner-191210-coding_humanhunger.yml
Labels: Awaiting Merge

#7645 Brainmed Code Quality + Organ Scarring
  code/__defines/mobs.dm
  code/controllers/subsystems/icon_cache.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  html/changelogs/mattatlas-goodcodequestionmarjk.yml
  icons/mob/screen1_health.dmi
Labels: Awaiting Merge, Sprites

#7639 Re-introduced the min/max circuits for integrated circuitry
  code/modules/integrated_electronics/subtypes/arithmetic.dm
  html/changelogs/aleksix-ic_min_max_restoration.yml
  icons/obj/assemblies/electronic_components.dmi
Labels: Awaiting Merge, Sprites

#7641 Refactor the borg access function to account for all ID locations
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/aleksix-borg_pda_access.yml
Labels: Awaiting Merge

#7425 Adding new special pens
  code/datums/supplypacks.dm
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/paperwork/pen.dm
  html/changelogs/Sindorman-pens.yml
  icons/obj/bureaucracy.dmi
Labels: Awaiting Merge, Sprites

#7681 AI role information fix.
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/Kaed - Malfinfo.yml
Labels: Awaiting Merge, Bugfix

#7656 Properly Balanced Healing Chemicals
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/burgerbb - med improvements.yml
Labels: Awaiting Merge

#7653 Removes Cloning
  code/modules/research/designs/circuit_designs.dm
  html/changelogs/mattatlas-redcoldriver.yml
  icons/turf/areas.dmi
  maps/_common/areas/station/medical.dm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Feedback Required, Mapping: Aurora, Mapping: Exodus, Sprites

#7504 Unathi Clothing Update
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/geeves - unathiClothing.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#7664 Removes playable vox
  html/changelogs/alberyk-novox.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Feedback Required, Mapping: Aurora, Review Required, Waiting Period

#7583 Vox thrower buff - belt slot
  code/modules/projectiles/guns/alien.dm
  html/changelogs/VoxSpikeThrowerBuff-Naelynn.yml
Labels: Awaiting Merge

#7690 Fixes skeletons being immortal + removes brain damage oldcode
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/whisper.dm
  html/changelogs/mattatlas-brainfix.yml
Labels: Awaiting Merge, Bugfix, High Priority

#7693 Ruining Vaurca Christmas
  code/game/objects/items/weapons/gift_wrappaper.dm
  html/changelogs/doxxmedearly - savesgiftsmas.yml
Labels: Awaiting Merge, Bugfix

#7663 Removes pain displaying phantom wounds when examining yourself
  code/modules/mob/living/carbon/carbon.dm
  html/changelogs/alberyk-pain.yml
Labels: Awaiting Merge

#7662 Robotics upgrades: mech stuff and more rig word replacement
  aurorastation.dme
  code/game/objects/items/weapons/circuitboards/rig.dm
  code/modules/heavy_vehicle/components/legs.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/premade/_premade.dm
  code/modules/heavy_vehicle/premade/misc.dm
  code/modules/research/designs/circuit_designs.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  code/modules/research/designs/mechfab/mechs/durand.dm
  code/modules/research/designs/mechfab/mechs/gygax.dm
  code/modules/research/designs/mechfab/mechs/hermes.dm
  code/modules/research/designs/mechfab/mechs/mech_equipment/_equipment.dm
  code/modules/research/designs/mechfab/mechs/mech_equipment/tools.dm
  code/modules/research/designs/mechfab/mechs/mech_equipment/weaponry.dm
  code/modules/research/designs/mechfab/mechs/odysseus.dm
  code/modules/research/designs/mechfab/mechs/ripley.dm
  html/changelogs/alberyk-mechupdates.yml
  icons/mecha/mech_parts.dmi
Labels: Awaiting Merge, Sprites

#7701 Fixes random explosions
  code/modules/cargo/random_stock/t2_uncommon.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#7694 K'lax Bug Fixing
  code/modules/ghostroles/spawner/human/ert.dm
  html/changelogs/geeves - kataphractfixes.yml
Labels: Awaiting Merge, Bugfix

#7678 Fixes shells having a heartbeat on medhud
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mattatlas-shellfix.yml
Labels: Awaiting Merge, Bugfix

#7676 Fixes Beaker Breaking
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/glass/bottle/robot.dm
  html/changelogs/Kaedwuff - Tougher Beakers.yml
Labels: Awaiting Merge, Bugfix

#7670 Lasers now evaporate blood.
  code/__defines/damage_organs.dm
  code/__defines/dna.dm
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/game/machinery/wishgranter.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/organ_external.dm
  code/modules/spells/targeted/genetic.dm
  html/changelogs/mattatlas-laserfix.yml
Labels: Awaiting Merge

#7668 Nerfs adrenaline
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/mattatlas-adrenalinefix.yml
Labels: Awaiting Merge

#7659 Medborg Updates
  code/modules/mob/living/silicon/robot/gripper.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  html/changelogs/doxxmedearly - medborg.yml
Labels: Awaiting Merge

#7469 Z-Level Falling
  code/modules/multiz/movement.dm
  html/changelogs/geeves - fallingAAAAA.yml
Labels: Awaiting Merge

#7703 Revert "Fixes Beaker Breaking"
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/glass/bottle/robot.dm
Labels: Bugfix, Changelog Required, Waiting Period

#7675 Buffs e-pistols
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves - epistolbuff.yml
Labels: Awaiting Merge

#7623 New forensic sprites and cards
  aurorastation.dme
  code/modules/detectivework/tools/crimekit.dm
  code/modules/detectivework/tools/scene_cards.dm
  code/modules/detectivework/tools/swabs.dm
  html/changelogs/wezzy_new_forensics.yml
  icons/obj/forensics.dmi
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7672 Le Kidney Beans
  code/__defines/mobs.dm
  code/game/machinery/bioprinter.dm
  code/game/objects/items/weapons/scrolls.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/subtypes/skrell.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/research/designs/mechfab/prosthetics/internal.dm
  html/changelogs/kidneybeans.yml
Labels: Awaiting Merge

#7692 Lots of fixes for Mechs
  aurorastation.dme
  code/__defines/_macros.dm
  code/__defines/qdel.dm
  code/game/machinery/portable_turret.dm
  code/modules/heavy_vehicle/components/armor.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/equipment/_equipment.dm
  code/modules/heavy_vehicle/interface/screen_objectsa.dm
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  html/changelogs/Sindorman-mechs.yml
  maps/space_ruins/scrapheap.dmm
Labels: Awaiting Merge, Bugfix

#7677 Preparation for 513
  code/__defines/lists.dm
  code/__defines/misc.dm
  code/_helpers/text.dm
  code/_helpers/unsorted.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/status_display_snowflakes.dm
  code/game/objects/items/devices/violin.dm
  code/game/objects/items/weapons/paint.dm
  code/game/objects/structures/musician.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/flufftext/TextFilters.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/pai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/blood.dm
  code/modules/organs/organ_external.dm
  code/modules/research/xenoarchaeology/artifact/artifact_replicator.dm
  code/modules/research/xenoarchaeology/finds/finds_talkingitem.dm
  code/modules/scripting/Implementations/_Logic.dm
  code/modules/scripting/Options.dm
  code/modules/scripting/Scanner/Scanner.dm
  code/modules/surgery/generic.dm
  tools/Redirector/textprocs.dm
Labels: Awaiting Merge, Changelog Required

#7713 Unathi Clothing Colour Adjustment
  html/changelogs/geeves - unathiclothingfixes.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7716 Fixes two bugs: pod chassis and drop pods mousedrop
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  code/modules/vehicles/droppod.dm
  html/changelogs/alberyk-twbugfixes.yml
Labels: Awaiting Merge, Bugfix

#7654 Emergency Maint Access from Command Console
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/security levels/keycard authentication.dm
  code/modules/security levels/security levels.dm
  html/changelogs/arrow768-easy-emergency-access.yml
  nano/templates/communication.tmpl
Labels: Awaiting Merge

#7699 Security equip. fixes/buffs, general brainmed fixes, agony + halloss into pain
  code/__defines/damage_organs.dm
  code/controllers/configuration.dm
  code/datums/repositories/crew.dm
  code/defines/obj/weapon.dm
  code/game/machinery/crusher_piston.dm
  code/game/machinery/kitchen/gibber.dm
  code/game/machinery/mecha_fabricator.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/assembly/mousetrap.dm
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/skrell.dm
  code/modules/martial_arts/wrestling.dm
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/devour.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_grab_specials.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/power/cable.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/spells/artifacts.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/other.dm
  code/unit_tests/mob_tests.dm
  html/changelogs/mattatlas-securitybuffsbutwhy.yml
Labels: Awaiting Merge, Bugfix

#7563 Malf power creep
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_networking.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_synthetic.dm
  code/game/machinery/transformer.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/transform_procs.dm
  html/changelogs/AI_ROUGE!!!.yml
Labels: Awaiting Merge

#7727 Fixes all borgs having emags
  code/modules/mob/transform_procs.dm
  html/changelogs/nerf.yml
Labels: Bugfix, High Priority

#7725 Fixes forensics equipment going invisible
  html/changelogs/Ferner-191218-bugfix_forensics.yml
  icons/obj/forensics.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7490 Cargo more SQL Logging and a better invoice
  code/controllers/subsystems/cargo.dm
  code/datums/cargo.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_control.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  html/changelogs/arrow768-invoice.yml
Labels: Awaiting Merge

#7689 Allows crew to spawn with more mechanical or assisted organs.
  code/game/objects/items/stacks/medical.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/organs/organ.dm
  html/changelogs/mattatlas-mechanicaluprising.yml
Labels: Awaiting Merge

#7562 Resprites some accessories
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/games/cards.dm
  html/changelogs/wezzy_new_accessories.yml
  icons/mob/card.dmi
  icons/mob/ties.dmi
  icons/obj/card.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#7691 Enforces species jobs restrictions through mechanics
  code/game/jobs/job/captain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/alberyk-speciesstuff.yml
Labels: Awaiting Merge

#7741 Fixes the mercenary loadout crates not showing up on the uplink
  code/datums/outfits/outfit_antag.dm
  html/changelogs/alberyk-cratefix.yml
Labels: Awaiting Merge, Bugfix

#7686 Many devour improvements.
  aurorastation.dme
  code/__defines/mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/_onclick/item_attack.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/severe.dm
  code/datums/brain_damage/special_ed.dm
  code/datums/diseases/advance/symptoms/vomit.dm
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/cosmetics.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/soap.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/detectivework/tools/swabs.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi_subspecies.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/metroid/metroid.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/mob/living/devour.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_grab_specials.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/internal/stomach.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/reagent_containers/tooth_paste.dm
  code/modules/spells/artifacts.dm
  code/modules/surgery/face.dm
  code/modules/surgery/facial_surgery.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  html/changelogs/mattatlas-devour.yml
  icons/obj/action_buttons/organs.dmi
Labels: Awaiting Merge, Sprites

#7575 Wearable wet floor sign
  code/defines/obj/weapon.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/janicart.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/item_worth/worths_list.dm
  code/modules/research/xenoarchaeology/artifact/artifact_replicator.dm
  html/changelogs/wezzy_wearablewetfloorsign.yml
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/janitor.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/space_ruins/scrapheap.dmm
  maps/space_ruins/spacehulk.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#7730 Antagonist Age Fix
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_helpers.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  html/changelogs/geeves - antagonistFix.yml
Labels: Awaiting Merge, Bugfix, High Priority, High Risk

#7702 Removes the potential for artifacts with an effect that does nothing
  code/modules/research/xenoarchaeology/artifact/effect.dm
  html/changelogs/Leudoberct1-anomalyfix.yml
Labels: Awaiting Merge

#7723 Fixing Mechs more. The fight between armor and armour
  code/modules/heavy_vehicle/components/armor.dm
  code/modules/heavy_vehicle/components/arms.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/mech_construction.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  code/modules/research/designs/mechfab/robot/robot.dm
  html/changelogs/Sindorman-mech.yml
Labels: Awaiting Merge, Bugfix

#7751 Fixes the scraphead again
  maps/space_ruins/scrapheap.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7742 Fixes the advanced scanner not printing the brain result.
  code/game/machinery/adv_med.dm
  html/changelogs/mattatlas-tiniestfix.yml
Labels: Awaiting Merge, Bugfix

#7474 New shoe sprites
  code/datums/outfits/outfit_antag.dm
  code/game/jobs/job/outsider/merchant.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/customitems/item_defines.dm
  code/modules/ghostroles/spawner/human/pra.dm
  html/changelogs/wezzy_amoryshoes.yml
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Sprites

#7631 The Rollable Cigs and Chews Update
  code/game/machinery/vending_types.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/weapons/chewables.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/turfs/initialization/maintenance.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/wezzy_rollables.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/mob/mask.dmi
  icons/obj/cigs_lighters.dmi
  icons/obj/clothing/masks.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-7_roof.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-3_telecomms.dmm
  maps/exodus/exodus-5_asteroid.dmm
  maps/space_ruins/derelict.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#7685 Adds a stairwell
  code/game/machinery/deployable.dm
  code/game/objects/structures/signs.dm
  code/modules/shareddream/area.dm
  code/modules/vehicles/droppod.dm
  html/changelogs/Ferner-191213-mapping_staircase.yml
  icons/obj/decals.dmi
  maps/_common/areas/station/civilian.dm
  maps/_common/areas/station/hallways.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7753 Fixes missing shoes sprites
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#7752 Fixes outdated path on main level
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority, Mapping: Aurora

#7614 New masks
  aurorastation.dme
  code/defines/mutable_appearance.dm
  code/game/objects/items/weapons/chewables.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/loadout_mask.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/clothing/masks/voice.dm
  html/changelogs/wezzy_new_masks.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_masks.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_masks.dmi
  icons/mob/mask.dmi
  icons/obj/clothing/masks.dmi
Labels: Awaiting Merge, Sprites

#7761 Gunshots now show up on autopsies
  code/modules/mob/living/living_defense.dm
  html/changelogs/crosarius-autopsy-fixes.yml
Labels: Awaiting Merge, Bugfix

#7754 Fixes a cigar type missing their butt sprites
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/191221-bugfix_cigbutt2.yml
Labels: Awaiting Merge, Bugfix

#7638 Tajaran update: the war to end all wars edition
  aurorastation.dme
  code/datums/trading/weaponry.dm
  code/game/jobs/faction/necropolis.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/tajara.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/background/citizenship/citizenship.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/background/defines.dm
  code/modules/client/preference_setup/general/05_background.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/xeno/tajara.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/masks/xeno/tajara.dm
  code/modules/clothing/shoes/xeno/tajara.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/ghostroles/spawner/human/pra.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  html/changelogs/alberyk-tajaraupdate.yml
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/mob/ties.dmi
  icons/obj/cigs_lighters.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/playing_cards.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#7726 Improved Bishop Sprites
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/geeves - bishopbutsexy.yml
  icons/mob/human_face/eyes.dmi
  icons/mob/human_races/ipc/ind_bishop_preview.dmi
  icons/mob/human_races/ipc/r_ind_bishop.dmi
  icons/mob/human_races/markings_bishop.dmi
Labels: Awaiting Merge, Lore Impact, Sprites

#7728 Drill QoL Changes
  code/modules/heavy_vehicle/components/frame.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  html/changelogs/geeves - drillsbaybee.yml
Labels: Awaiting Merge

#7710 Resizes/restructures Xenoarch
  html/changelogs/Leudoberct1-xenoarchresize.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7732 Removes the cyanide pen from the traitor pen kit
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  html/changelogs/alberyk-penstuff.yml
Labels: Awaiting Merge

#7731 Adds basic research access restriction to the away site shuttle
  code/modules/shuttles/departmental.dm
  html/changelogs/alberyk-shuttle.yml
Labels: Awaiting Merge

#7700 Makes stetho scopes more modular with clearer messages.
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-youhaveligma.yml
Labels: Awaiting Merge

#7722 New Mech sprites and some other tweaks
  code/datums/trading/goods.dm
  code/game/objects/items/paintkit.dm
  code/modules/heavy_vehicle/components/_components.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/components/frame.dm
  code/modules/heavy_vehicle/components/head.dm
  code/modules/heavy_vehicle/components/legs.dm
  code/modules/heavy_vehicle/mech_icon.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/misc.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/machine_vending.dm
  html/changelogs/Ferner-191217-sprites_mecha.yml
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_parts.dmi
  icons/mecha/mecha_decals.dmi
  icons/mecha/mecha_weapon_overlays.dmi
Labels: Awaiting Merge, Sprites

#7669 Adds a breathing sound when you're in low pressure.
  code/_helpers/turfs.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/organs/internal/lungs.dm
  html/changelogs/mattatlas-breathe.yml
  sound/voice/monkey.ogg
Labels: Awaiting Merge

#7729 Adding 'Velvet Rose' to Jukebox
  code/game/machinery/jukebox.dm
  html/changelogs/Jukebox.yml
  sound/music/Velvet-Rose.ogg
  sound/serversound_list.txt
Labels: Awaiting Merge

#7258 Decrease supermatter delam rate in vacuum
  code/modules/supermatter/supermatter.dm
  html/changelogs/sm_delam_nerf.yml
Labels: Awaiting Merge

#7735 Changes how dismemberment is handled a bit
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/standard.dm
  html/changelogs/alberyk-limbgib.yml
Labels: Awaiting Merge

#7733 Goodbye nazi uniforms
  code/modules/clothing/chameleon.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/goret-aurevoiredgyness.yml
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Merge Conflict, Sprites

#7766 Fixing GC issues with pipes
  code/ATMOSPHERICS/atmospherics.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/ATMOSPHERICS/datum_pipe_network.dm
  code/ATMOSPHERICS/datum_pipeline.dm
  code/ATMOSPHERICS/pipes.dm
  html/changelogs/Sindorman-pipes.yml
Labels: Awaiting Merge, Bugfix, Performance

#7738 Buffed low pressure damage considerably.
  code/__defines/atmos.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mattatlas-happyhunting.yml
Labels: Awaiting Merge

#7769 Xenoarch fixes
  code/modules/research/xenoarchaeology/artifact/effect.dm
  html/changelogs/Leudoberct1-xenoarchatriumfix.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7740 Langserver Fixes
  code/__defines/dna.dm
  code/__defines/machinery.dm
  code/__defines/subsystem-defines.dm
  code/controllers/subsystems/processing/nanoui.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/datums/wires/vending.dm
  code/game/dna/genes/disabilities.dm
  code/game/machinery/vending.dm
  code/modules/alarm/alarm.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/economy/Events.dm
  code/modules/economy/economy_misc.dm
  code/modules/martial_arts/skrell.dm
  code/modules/mob/abstract/new_player/character_traits.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Awaiting Merge, Changelog Required

#7775 Fixes Tcfl volunteers spawning without a rank prefix
  code/modules/ghostroles/spawner/human/ert.dm
  html/changelogs/Ferner-191222-bugfix_volprefix.yml
Labels: Awaiting Merge, Bugfix

#7767 Fixes two issues with the new tajaran gear
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7747 Mech's punch sounds
  code/modules/heavy_vehicle/components/arms.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  html/changelogs/Sindorman-mechs2.yml
  sound/mecha/mech_punch.ogg
  sound/mecha/mech_punch_fast.ogg
  sound/mecha/mech_punch_slow.ogg
Labels: Awaiting Merge

#7779 Fixes missing mask sprites and summmer
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  html/changelogs/alberyk-maskfix.yml
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7776 Making Poll Window use VueUi themes
  code/modules/mob/abstract/new_player/poll.dm
  html/changelogs/Sindorman-poll.yml
Labels: Awaiting Merge, Bugfix

#7785 Shoes missing pixel fix
  html/changelogs/wezzy_shoes_fix.yml
  icons/mob/feet.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7784 Fixes white shoes missing their sprites
  code/modules/clothing/shoes/colour.dm
  html/changelogs/Ferner-191223-bugfix_whiteshoes.yml
Labels: Awaiting Merge, Bugfix
