Repository Aurorastation/Aurora.3, pull requests merged in 2019-10, with the labels that each got.

#7096 Flower crown fix
  code/game/objects/items/weapons/improvised_components.dm
  html/changelogs/aleksix-flower_crown_fix.yml
Labels: Awaiting Merge, Bugfix

#7081 Unapologetic hammer buffs
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/game/objects/items/weapons/melee/misc.dm
  html/changelogs/Fire-and-Glory-hammers.yml
Labels: Awaiting Merge

#7080 Removes the bear from the sublevel
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora

#7097 Integrated Circuits inputs fix
  code/modules/integrated_electronics/subtypes/input.dm
  html/changelogs/aleksix-ic_input_fix.yml
Labels: Awaiting Merge, Bugfix

#7082 Gravity loss is no longer falsely announced
  code/modules/events/gravity.dm
  code/modules/events/infestation.dm
  html/changelogs/geeves-sensorsNoSensing.yml
Labels: Awaiting Merge

#7061 Shock memes
  code/modules/integrated_electronics/subtypes/manipulation.dm
  html/changelogs/shooock.yml
Labels: Awaiting Merge

#7088 Skull balances all of engineering
  code/modules/shieldgen/energy_field.dm
  html/changelogs/skull132-shields.yml
Labels: Awaiting Merge

#7086 Re-adds the Seasonal Pumpkin Spice Lattes to the Coffee vendors.
  code/game/machinery/vending_types.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/190929-coding_pumpkinlattes.yml
Labels: Awaiting Merge

#5249 Vueui based modular computers
  code/controllers/subsystems/processing/vueui.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/_program.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/file_system/programs/system/client_manager.dm
  code/modules/modular_computers/file_system/programs/system/configurator.dm
  code/modules/modular_computers/file_system/programs/system/file_browser.dm
  code/modules/modular_computers/file_system/programs/system/ntdownloader.dm
  code/modules/vueui/external.dm
  code/modules/vueui/ui.dm
  html/changelogs/vueuicomputers.yml
  nano/templates/laptop_configuration.tmpl
  nano/templates/laptop_mainscreen.tmpl
  nano/templates/layout_default.tmpl
  vueui/src/assets/theme-nano.scss
  vueui/src/components/header/default.vue
  vueui/src/components/header/modular-computer.vue
  vueui/src/components/view/mcomputer/system/config.vue
  vueui/src/components/view/mcomputer/system/main.vue
  vueui/src/components/view/mcomputer/system/manager.vue
  vueui/src/components/vui/progress.vue
Labels: Awaiting Merge, Refactor, VueUi

#7091 Gives paper slight color tints, depending on their source of origin
  code/game/machinery/adv_med.dm
  code/game/machinery/requests_console.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/paperwork/photocopier.dm
  html/changelogs/geeves-paperTwerk.yml
Labels: Awaiting Merge

#7109 Fixes #7108 (Alb Man Bad)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  html/changelogs/MDP-albmanbad.yml
Labels: Awaiting Merge, Bugfix

#7105 Integrated Circuit memory sprites fix
  code/modules/integrated_electronics/subtypes/memory.dm
  html/changelogs/aleksix-ic_memory_sprite_fix.yml
Labels: Awaiting Merge, Bugfix

#7100 Additional Dionae setup choices
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/Yonnimer-newDionaeChoices.yml
Labels: Awaiting Merge, Lore Request

#7110 Makes VueUI uis update again
  code/controllers/subsystems/processing/vueui.dm
  code/modules/vueui/ui.dm
  html/changelogs/uifix.yml
Labels: Awaiting Merge, Bugfix, High Priority

#7115 Fixes newly built air alarms being non-functional
  code/game/machinery/alarm.dm
  html/changelogs/191005-bugfix_airalarm.yml
Labels: Awaiting Merge, Bugfix

#7049 Reformatting and updating in-game manuals
  html/changelogs/Sindorman-HTML.yml
  ingame_manuals/antag_contest.html
  ingame_manuals/malf_ai.html
  ingame_manuals/vampire.html
Labels: Awaiting Merge

#7064 Medical and Science Resprite
  code/controllers/subsystems/traumas.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/objects/structures/crates_lockers/closets/secure/hydroponics.dm
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/mattatlas-7064.yml
  icons/mob/back.dmi
  icons/mob/belt.dmi
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/closet.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/decals.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-5_asteroid.dmm
  maps/space_ruins/derelict.dmm
  maps/space_ruins/scrapheap.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#7102 More themed uis
  code/controllers/subsystems/theming.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/economy/ATM.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/abstract/new_player/poll.dm
  code/modules/security levels/keycard authentication.dm
  html/changelogs/more theming.yml
Labels: Awaiting Merge

#7113 Airlock and Access Tweaks
  html/changelogs/furrycactus - tweaks.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7090 Aiming at people possible when in point blank range
  code/modules/projectiles/gun.dm
  html/changelogs/geeves-pointSpank.yml
Labels: Awaiting Merge

#6877 you can finally move through medical laptops. also tweaks some sprites.
  code/game/machinery/computer/records.dm
  html/changelogs/move_laptop_wezzy.yml
  icons/obj/computer.dmi
Labels: Awaiting Merge, Sprites

#7117 Fixes bugs introduced by the medsci resprite & cable coil stitching
  code/modules/power/cable.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/belts.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#7116 Fixes a dumb stunbaton log error
  code/game/objects/items/weapons/stunbaton.dm
  html/changelogs/mattatlas-fixlog.yml
Labels: Awaiting Merge, Bugfix

#7106 Mechanically enforces minimum age requirements for jobs
  code/__defines/species_languages.dm
  code/controllers/subsystems/job.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/mattatlas-autobots.yml
Labels: Awaiting Merge, Review Required

#6679 Unapologetic Security Nerfs
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/clothing/gloves/arm_guard.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/leg_guard.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/rig/suits/terminator.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/clothing/spacesuits/void/captain.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/clothing/spacesuits/void/wizard.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/hoodies.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/utility.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/syndicate.dm
  html/changelogs/schev-decreasebaton-07july2019.yml
Labels: Awaiting Merge, Feedback Required, Test Merge Candidate

#7092 Adds powersink to default ninja rig
  code/datums/uplink/ninja_modules.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  html/changelogs/geeves-ninjaPowerCreep2.yml
Labels: Awaiting Merge

#7083 Security + Heads of Staff are less likely to become certain types of antags
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/station/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/game_mode.dm
  html/changelogs/geeves-targettingSec.yml
Labels: Awaiting Merge

#7131 Added white background to carachter preview.
  code/modules/client/preference_setup/general/03_body.dm
  html/changelogs/preview.yml
Labels: Awaiting Merge, Bugfix

#7132 RnD consoles now properly disconnect
  code/modules/research/rdconsole.dm
  html/changelogs/aleksix-rnd_console_fix.yml
Labels: Awaiting Merge, Bugfix

#7133 Grinder UI doesn't show after grinding now
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/aleksix-grinder_ui_fix.yml
Labels: Awaiting Merge, Bugfix

#7134 Farmbot UI now shows pest eradication status
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/aleksix-farmbot_ui_fix.yml
Labels: Awaiting Merge, Bugfix

#7119 Adds more dionae customization options
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/alberyk-dionae.yml
  icons/mob/human_face/dionae_hair.dmi
  icons/mob/human_races/diona/r_diona.dmi
  icons/mob/human_races/markings_diona.dmi
Labels: Awaiting Merge, Lore Request, Sprites

#7093 Sonic Buffs Traitor Borgs
  code/game/antagonist/station/traitor.dm
  code/game/machinery/computer/robot.dm
  html/changelogs/borgs?!.yml
Labels: Awaiting Merge

#7130 Fixes Alt Title Age Requirements
  code/controllers/subsystems/job.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/MDP-fineokay.yml
Labels: Awaiting Merge, Bugfix

#7135 Properly inherits Zeng-Hu xenobio outfit
  code/game/jobs/faction/zeng_hu.dm
  html/changelogs/aleksix-xenobio_suit_fix.yml
Labels: Awaiting Merge, Bugfix

#7121 Pill bottle update
  code/game/objects/items/weapons/storage/firstaid.dm
  html/changelogs/wezzy_pillbottleupgrade.yml
Labels: Awaiting Merge

#7149 Fixes an oversight with pen attack to_chat
  code/modules/paperwork/pen.dm
  html/changelogs/otatoh_penfix.yml
Labels: Awaiting Merge, Bugfix

#6987 RIGs now splint broken limbs correctly
  code/modules/organs/organ_external.dm
  html/changelogs/geeves-organDablage.yml
Labels: Awaiting Merge

#7161 Fixes Gamemodes not being selected
  code/game/gamemodes/game_mode.dm
  html/changelogs/geeves-iamsosorry.yml
Labels: Awaiting Merge, Bugfix, High Priority

#7145 Adds skrell glowing algae
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/ears/skrell.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/alberyk-skrellstuff.yml
  icons/mob/ears.dmi
  icons/obj/clothing/ears.dmi
Labels: Awaiting Merge, Lore Request, Sprites

#7156 Fix late-join not showing alt-title jobs with differing minimum ages from main job
  code/controllers/subsystems/job.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/johnwildkins-7156.yml
Labels: Awaiting Merge, Bugfix

#7112 Removed Black K'ois as a possible K'ois mutation
  code/modules/hydroponics/seed_datums.dm
  html/changelogs/geeves-removeKois.yml
Labels: Awaiting Merge, Lore Request

#7126 More Hyposprays + MedSci Aesthetic Changes
  html/changelogs/furrycactus - more hypos.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7155 Ghost roles will now respect alien whitelist restrictions
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/alberyk-nofunallowed.yml
Labels: Awaiting Merge

#7168 Copier and paper fixes
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photocopier.dm
  html/changelogs/johnwildkins-7168.yml
Labels: Awaiting Merge, Bugfix

#7164 Various oven/fryer fixes, part 1 of many
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/game/machinery/kitchen/cooking_machines/oven.dm
  html/changelogs/johnwildkins-7164.yml
Labels: Awaiting Merge, Bugfix

#7151 Diona Heat Buff
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/paradoxspace-discoinferno.yml
Labels: Awaiting Merge

#7179 Reinforced walls no longer create extra rods out of the aether.
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
  html/changelogs/geeves - wallNerf.yml
Labels: Awaiting Merge, Bugfix

#7089 Geeves buffs all of engineering
  code/modules/shieldgen/emergency_shield.dm
  html/changelogs/geeves-basedAndShieldpilled.yml
Labels: Awaiting Merge

#7175 Fixes Mounted Sleepers not injecting reagents
  code/game/mecha/equipment/tools/medical_tools.dm
  html/changelogs/geeves-odyBuff.yml
Labels: Awaiting Merge, Bugfix

#7178 Fixes refitted voidsuit in-hand sprites
  code/modules/clothing/spacesuits/void/void.dm
  html/changelogs/geeves - refitVoidsuits.yml
Labels: Awaiting Merge, Bugfix

#7187 Binoculars now zoom out if the user moves
  code/modules/mob/mob_movement.dm
  html/changelogs/johnwildkins-7187.yml
Labels: Awaiting Merge, Bugfix

#7186 Fix newscasters not identifying users with wallets, attempt 2
  code/game/machinery/newscaster.dm
  html/changelogs/johnwildkins-7186.yml
Labels: Awaiting Merge, Bugfix

#7163 ASFX toggle for arcade sounds
  code/__defines/misc.dm
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  code/modules/client/preferences_ambience.dm
  html/changelogs/arcade_sfx_toggle.yml
Labels: Awaiting Merge

#7142 Vomit Based Gameplay Addition
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-vomitComet.yml
Labels: Awaiting Merge

#7170 Remove the mob_name_prefix from the cciaa and ert commander ghost spawners
  code/modules/ghostroles/spawner/human/admin.dm
Labels: Awaiting Merge, Changelog Required

#7141 Allows diona to be some contractors
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/necropolis.dm
  code/game/jobs/faction/zeng_hu.dm
  html/changelogs/alberyk_diona.yml
Labels: Awaiting Merge, Lore Request

#7143 Give maintenance access to assistants
  code/game/jobs/job/assistant.dm
  html/changelogs/alberyk-greytide.yml
Labels: Awaiting Merge

#7127 Client FPS Tweak
  SQL/migrate/V001__Initial_schema.sql
  code/modules/client/client procs.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  html/changelogs/fps.yml
Labels: Awaiting Merge

#7194 Fix SQL migrations
  SQL/migrate/V001__Initial_schema.sql
  SQL/migrate/V044__client_fps.sql
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#7025 Machine Overload Nerf
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/modules/mob/living/silicon/ai/malf.dm
  html/changelogs/burgerbb - malf nerdf.yml
Labels: Awaiting Merge

#7087 Accessory Flipping, Wallets, Lanyards, contractor worn ID icons, ID layer switching, custom loadout names and descriptions, manbeast, hiiyah
  code/datums/outfits/outfit_admin.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/guestpass.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/human.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/lockets.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/flip_accessories.yml
  icons/mob/belt.dmi
  icons/mob/card.dmi
  icons/mob/lanyard_overlays.dmi
  icons/mob/ties.dmi
  icons/obj/card.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/storage.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7154 More MedSci Sprites
  code/controllers/subsystems/traumas.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/furrycactus - medsci sprites.yml
  icons/mob/back.dmi
  icons/mob/belt.dmi
  icons/mob/feet.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/closet.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/decals.dmi
  icons/obj/storage.dmi
  icons/obj/vending.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-5_asteroid.dmm
  maps/space_ruins/derelict.dmm
  maps/space_ruins/scrapheap.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#7193 Fix borg inflatable dispenser
  code/modules/mob/living/silicon/robot/robot_items.dm
  html/changelogs/johnwildkins-7193.yml
Labels: Awaiting Merge, Bugfix

#7182 Misc. kitchen / reagent fixes
  code/game/machinery/kitchen/cooking_machines/_cooker_output.dm
  code/game/machinery/kitchen/cooking_machines/oven.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/johnwildkins-7182.yml
Labels: Awaiting Merge, Bugfix

#7200 Moves "Adjust Mask" verb to the "Object" group
  code/modules/clothing/clothing.dm
  html/changelogs/aleksix-mask_adjust_fix.yml
Labels: Awaiting Merge, Bugfix

#7002 Hivebots: The Second Wave
  code/defines/procs/announce.dm
  code/game/area/areas.dm
  code/modules/events/event_container.dm
  code/modules/events/infestation.dm
  code/modules/events/prison_break.dm
  code/modules/mob/living/carbon/metroid/metroid.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  html/changelogs/190915-coding_hivebots.pt2.yml
  icons/mob/npc/hivebot.dmi
Labels: Awaiting Merge, Sprites

#7202 Fix intercepted PDA messages having the incorrect to/from field
  code/game/objects/items/devices/PDA/PDA.dm
  html/changelogs/johnwildkins-7202.yml
Labels: Awaiting Merge, Bugfix

#7196 Robotics spray cleaner now starts filled
  html/changelogs/johnwildkins-7196.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7153 Lingtober: Lingmania: The lingaling: Powerling: Lingcreep
  code/game/gamemodes/changeling/changeling_items.dm
  code/game/gamemodes/changeling/changeling_powers.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
  html/changelogs/geeves-REWORKNOTREMOVE.yml
Labels: Awaiting Merge

#7144 Koko Bars
  code/game/machinery/vending_types.dm
  code/game/objects/items/trash.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/koko.yml
  icons/obj/food.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites

#7152 Skull re-adds SOP
  code/controllers/subsystems/traumas.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/library/lib_items.dm
  html/changelogs/skull132-books.yml
  icons/obj/library.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/space_ruins/derelict.dmm
Labels: Awaiting Merge, Lore Request, Mapping: Aurora, Mapping: Exodus, Sprites

#7208 Adds missing shutters to the cargo bay mail room
  html/changelogs/johnwildkins-7208.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7207 Fix CMO's Office tag on destination tagger
  html/changelogs/johnwildkins-7206.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7184 'Toggle Helmet' action button for voidsuits
  code/modules/clothing/spacesuits/void/void.dm
  html/changelogs/johnwildkins-7184.yml
Labels: Awaiting Merge

#7213 Fixes mechs being moved two z-levels instead of one when walking up stairs
  code/game/mecha/mecha.dm
  html/changelogs/191020-bugfix_mechstairs.yml
Labels: Awaiting Merge, Bugfix

#7220 Fixes mech sounds and other sound tweaks
  code/game/mecha/equipment/weapons/weapons.dm
  code/game/mecha/mecha.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/sound.dm
  code/modules/projectiles/gun.dm
  html/changelogs/ferner-191021-coding_soundtweaks.yml
Labels: Awaiting Merge, Bugfix

#7209 Cent. Com. nerf
  code/game/gamemodes/game_mode.dm
  html/changelogs/johnwildkins-7209.yml
Labels: Awaiting Merge, Bugfix

#7174 Cooking appliance boards, cooking and other machine fixes
  code/game/machinery/constructable_frame.dm
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  code/game/machinery/kitchen/cooking_machines/_cooker.dm
  code/game/machinery/kitchen/cooking_machines/_mixer.dm
  code/game/machinery/kitchen/cooking_machines/candy.dm
  code/game/machinery/kitchen/cooking_machines/cereal.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/game/machinery/kitchen/cooking_machines/oven.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/machinery.dm
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/modules/research/designs/circuit_designs.dm
  html/changelogs/johnwildkins-7174.yml
Labels: Awaiting Merge

#7195 Ports Bubblegum
  aurorastation.dme
  code/game/machinery/gumball.dm
  code/game/objects/items/weapons/chewables.dm
  html/changelogs/leepicchew.yml
  icons/obj/clothing/masks.dmi
  icons/obj/vending.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7229 Skrell Glowing Algae Fix
  html/changelogs/paradoxspace-algay.yml
  icons/mob/ears.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7197 Vox sprites
  html/changelogs/Fire-and-Glory-Vox-sprites.yml
  icons/mob/species/vox/suit.dmi
Labels: Awaiting Merge, Sprites

#7140 Adding verb to empty Bags quickly
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/storage.dm
  html/changelogs/Sindorman-backpack.yml
Labels: Awaiting Merge

#7124 Ports the neural suppressor from Bay
  code/game/machinery/OpTable.dm
  html/changelogs/mattatlas-medbay_update.yml
Labels: Awaiting Merge

#7223 Makes new player panel gap consistant
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/the gap.yml
Labels: Awaiting Merge, Bugfix

#7204 Heads of staff buff (clipboard QOL + fixes)
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/paper.dm
  html/changelogs/johnwildkins-7204.yml
Labels: Awaiting Merge

#7211 Better docs for VueUI
  vueui/README.md
Labels: Awaiting Merge, Changelog Required

#7176 Tweaks some Radio channels and Staff channels to be more visible.
  code/stylesheet.dm
  html/changelogs/geeves-tweakChatColours.yml
Labels: Awaiting Merge

#6955 Tesla tweaks and bugfixes
  code/game/machinery/syndicatebeacon.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/tesla/energy_ball.dm
  html/changelogs/Sindorman-tesla.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Test Merge Candidate

#7215 Added little sound when map capture is done.
  code/modules/admin/map_capture.dm
  sound/AI/done.ogg
Labels: Awaiting Merge, Changelog Required

#7218 Fix minor typos in cultist tome
  code/game/gamemodes/cult/ritual.dm
  html/changelogs/synystersparx-7218.yml
Labels: Awaiting Merge

#7221 Water bottles (and other closed non-carbonated drinks) no longer explode when shaken
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/johnwildkins-7221.yml
Labels: Awaiting Merge

#7226 Sorted the maintenance loot list
  code/game/objects/random/random.dm
  html/changelogs/burgerbb - sorted random list.yml
Labels: Awaiting Merge

#7227 Ensured that nearly all the vending machines have premium and contraband items + readds halloween candy
  code/game/machinery/vending_types.dm
  html/changelogs/burgerbb - vending machine tweaks.yml
Labels: Awaiting Merge

#7228 Blood Loss Hunger Tweaks
  code/modules/organs/blood.dm
  html/changelogs/burgerbb - blood for the blood god.yml
Labels: Awaiting Merge

#7230 Bunch of animal trap fixes
  code/game/objects/items/weapons/traps.dm
  html/changelogs/Sindorman-traps.yml
Labels: Awaiting Merge, Bugfix

#7232 New Supply and Civilian Substations
  html/changelogs/furrycactus - substations.yml
  maps/_common/areas/station/maintenance.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7241 Fixes #7189, fixes needle thoracostomy
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/MDP-vhoroncheck.yml
Labels: Awaiting Merge, Bugfix

#7252 Fixes some bugs
  code/game/machinery/OpTable.dm
  code/modules/mob/living/say.dm
  html/changelogs/mattatlas-bobthefixer.yml
Labels: Awaiting Merge, Bugfix

#7263 Lets Vaurca breathe again
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/MDP-sorryvoa.yml
Labels: Bugfix, High Priority

#7259 Fix Hephaestus Atmos Tech not spawning with faction gear
  code/game/jobs/faction/hephaestus.dm
  html/changelogs/johnwildkins-heph.yml
Labels: Awaiting Merge, Bugfix

#7243 Improvised Sword
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/material/swords.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/geeves - improvSword.yml
  icons/mob/belt.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/weapons.dmi
  icons/obj/weapons_build.dmi
Labels: Awaiting Merge, Sprites

#7238 Remove bottled lightning touch_turf()
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
Labels: Awaiting Merge, Changelog Required

#7235 Jacket Accessory Buff
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/paradoxspace-walkwalkfashionbaby.yml
Labels: Awaiting Merge

#7192 Adds ability to print Yield Declarations to the Ore Redemption Console
  code/modules/mining/machine_processing.dm
  html/changelogs/johnwildkins-7192.yml
Labels: Awaiting Merge

#7256 Tesla Fix
  code/datums/beam.dm
  code/game/objects/effects/decals/misc.dm
  code/modules/power/tesla/energy_ball.dm
  html/changelogs/Sindorman-tesla.yml
Labels: Awaiting Merge, Bugfix

#7171 Adds *Chitter
  code/modules/mob/living/carbon/human/emote.dm
  html/changelogs/otatoh-chitter.yml
  sound/misc/zapsplat/chitter1.ogg
  sound/misc/zapsplat/chitter2.ogg
  sound/misc/zapsplat/chitter3.ogg
  sound/misc/zapsplat/license.txt
Labels: Awaiting Merge, Lore Request

#7244 Hivebots, tweaks and fixes
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/191023-bugfix_hivebotspt3.yml
Labels: Awaiting Merge, Bugfix

#7269 Killing off inconsistencies with impact wrenches / combi-tools
  code/_helpers/unsorted.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  code/game/machinery/machinery.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items.dm
  code/game/objects/items/airbubble.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/tiles/light.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/implants/implantcircuits.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/noticeboard.dm
  code/modules/custom_ka/core.dm
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/library/lib_items.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/bot/floorbot.dm
  code/modules/mob/living/bot/medbot.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/autakh.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photography.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/research/designs.dm
  code/modules/research/xenoarchaeology/chemistry.dm
  html/changelogs/johnwildkins-combitool.yml
Labels: Awaiting Merge, Bugfix

#7114 DESTROYS DISARMING
  code/modules/mob/living/carbon/human/human_attackhand.dm
  html/changelogs/geeves-geevesDisarmsDisarming.yml
Labels: Awaiting Merge, Test Merge Candidate

#7272 Fix's Therapy pods vomiting there insides out
  code/game/objects/structures/therapy.dm
  html/changelogs/charkapod.yml
Labels: Awaiting Merge, Bugfix

#7024 Explosion Config Flexibility
  code/controllers/configuration.dm
  code/controllers/subsystems/explosives.dm
  config/example/config.txt
  html/changelogs/burgerbb - explosion tweaks.yml
Labels: Awaiting Merge, Feature

#7248 Custom items 23/10
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/djikstra_items.dmi
  icons/obj/custom_items/takahashi_uniform.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#7216 Death to earmuff duping (and other fixes/tweaks)
  code/modules/clothing/clothing_accessories.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living_defines.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/projectiles/gun.dm
  html/changelogs/johnwildkins-7216.yml
Labels: Awaiting Merge

#7169 Adds distress beacons instead of the current ERT call
  aurorastation.dme
  code/__defines/gamemode.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/responseteam.dm
  code/datums/ert/nanotrasen.dm
  code/datums/ert/outsider.dm
  code/datums/ert/responseteam.dm
  code/datums/ert/tcfl.dm
  code/datums/outfits/ert/ert.dm
  code/game/antagonist/outsider/ert.dm
  code/game/antagonist/outsider/legion.dm
  code/game/jobs/access.dm
  code/game/jobs/access_datum.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/ert.dm
  code/modules/ghosttrap/trap.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/security levels/keycard authentication.dm
  code/modules/shuttles/shuttle_specops.dm
  code/unit_tests/spawner_tests.dm
  config/example/config.txt
  html/changelogs/mattatlas-mybloodpacttoskull.yml
  maps/_common/areas/shuttles.dm
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
  maps/aurora/code/aurora_shuttles.dm
  sound/effects/distressbeacon.ogg
Labels: Awaiting Merge, Changes Required, Mapping: Aurora

#7274 Skrell Glowing Algae Fix
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/clothing/ears/skrell.dm
  html/changelogs/paradoxspace-glbgolyb.yml
Labels: Awaiting Merge, Bugfix

#7285 Fixes ert merc outfit
  code/datums/outfits/ert/ert.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  html/changelogs/mattatlas-fixesoutfit.yml
Labels: Awaiting Merge, Bugfix

#7260 Misc cultist fixes
  code/game/gamemodes/cult/ritual.dm
  code/game/gamemodes/cult/runes.dm
  code/game/gamemodes/cult/talisman.dm
  html/changelogs/synystersparx-pr-7260.yml
Labels: Awaiting Merge, Bugfix

#7177 Improves Donkcode
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/geeves-DONKBASEDDONK.yml
Labels: Awaiting Merge

#7276 No More Grab Retaliation
  code/modules/mob/living/carbon/human/human_attackhand.dm
  html/changelogs/geeves - fuckingGrabs.yml
Labels: Awaiting Merge, Bugfix

#7281 Tweaks ear equipping restrictions and add food renaming limit
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-earstuff.yml
  icons/obj/custom_items/djikstra_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7266 Maint Loot Improvements + Tweaks
  code/game/objects/random/random.dm
  html/changelogs/burgerbb - loot list.yml
Labels: Awaiting Merge

#7237 Makes internal bleeding great again
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/alberyk-blood.yml
Labels: Awaiting Merge

#7289 Fixes an issue with the generic ert shuttle that lead to occupants being pulled south after exit.
  code/game/objects/effects/step_triggers.dm
  html/changelogs/191029-bugfix_freemercshuttle.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#7270 Pumps can now be unsecured by pipe wrenches
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/pipes.dm
  html/changelogs/johnwildkins-pump.yml
Labels: Awaiting Merge

#7273 Let there be DRINKS! Tea, cider, and related adjustments.
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/babysfirstPR.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#7261 Removed the Shield generator room being grille-shocked connected to the MAIN GRID
  html/changelogs/burgerbb - what the hell.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7307 Circuit Lights No Longer Have UV
  code/modules/integrated_electronics/subtypes/output.dm
  html/changelogs/paradoxspace-ultraviolet.yml
Labels: Awaiting Merge, Bugfix

#7268 Kitchen Strikes Back: The Rattening: Like a Balloon: 10000000 Rats Dead
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/mob/living/simple_animal/friendly/rat.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves - deathToRats.yml
Labels: Awaiting Merge

#7288 High heels features
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/alberyk-heels.yml
Labels: Awaiting Merge
