Repository Aurorastation/Aurora.3, pull requests merged in 2020-11, with the labels that each got.

#10394 Cyanide pills are no longer named cyanide pills
  code/modules/reagents/reagent_containers/pill.dm
  html/changelogs/alberyk-pill.yml
Labels: Awaiting Merge

#10393 Varedit remembers search (+ minor styling improvements)
  code/js/view_variables.js
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
  html/changelogs/amunak-varedit.yml
Labels: Awaiting Merge

#10430 Unapologetic Event Nerfs
  code/modules/events/blob.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/event.dm
  code/modules/events/money_hacker.dm
  code/modules/events/prison_break.dm
  code/modules/events/rescue_pod.dm
  code/modules/events/vent_clog.dm
  html/changelogs/johnwildkins-scrub.yml
Labels: Awaiting Merge, Bugfix, High Priority

#10431 Fixes the bridge research shuttle control console
  html/changelogs/Ferner-201101-bugfix_bridgeshuttle.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#10404 Nofall, Godmode, Bstech changes
  code/__defines/mobs.dm
  code/datums/brain_damage/imaginary_friend.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/silicon/robot/presets.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/multiz/movement.dm
  html/changelogs/amunak-nofall.yml
Labels: Awaiting Merge

#10400 Janitor GPS
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/telesci/gps.dm
  html/changelogs/geeves-janitor_gps.yml
  icons/obj/telescience.dmi
Labels: Awaiting Merge, Sprites

#10397 Janitor Materials
  html/changelogs/geeves-jani_mats.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10398 Janitor Belt Buff
  code/game/objects/items/weapons/storage/belt.dm
  html/changelogs/geeves-jani_belt_buff.yml
Labels: Awaiting Merge

#10399 Emagged Pest Gun
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves-emagged_pest_gun.yml
Labels: Awaiting Merge

#10401 Allows admins to override respawning failure
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/mob.dm
  html/changelogs/amunak-respawn.yml
Labels: Awaiting Merge

#10402 Wall Fungi Stuff
  aurorastation.dme
  code/game/objects/effects/overlays.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/game/turfs/simulated/wall_rot.dm
  code/modules/events/wallrot.dm
  html/changelogs/geeves-wall_fungi_stuff.yml
  icons/effects/wallrot.dmi
Labels: Awaiting Merge, Sprites

#10389 Some Sinta Clothes
  aurorastation.dme
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/clothing/suits/alien.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/geeves-more_unathi_clothes.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#10433 moar bugfixes
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/clothing/head/bandanas.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/mining/coins.dm
  html/changelogs/wezzy_moarbugfixes.yml
Labels: Awaiting Merge, Bugfix

#10434 Tajara and Unathi can be Odin Doctors and Pharmacists
  code/modules/ghostroles/spawner/human/admin.dm
  html/changelogs/flpfs-odindoc.yml
Labels: Awaiting Merge, Bugfix

#10413 Maglites in SecTech vendor
  code/game/machinery/vending_types.dm
  html/changelogs/flpfs-maglites.yml
Labels: Awaiting Merge

#10406 transmission_method could probably be enumerated through #define. Is neater.
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/binary_devices/passive_gate.dm
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/unary/outlet_injector.dm
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/__defines/radio.dm
  code/controllers/subsystems/arrivals.dm
  code/datums/radio/signal.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/bots/mulebot.dm
  code/game/machinery/computer/prisonshuttle.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/magnet.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/PDA/radio.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_control.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
Labels: Awaiting Merge, Changelog Required, Merge Conflict

#10445 Fix Zeng-hu IPC, Unathi and Tajaran movement slowdown
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/johnwildkins-movefix.yml
Labels: Awaiting Merge, Bugfix

#10437 Fix DMs showing players that have cryoed
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  html/changelogs/johnwildkins-dmfix.yml
Labels: Awaiting Merge, Bugfix

#10419 Unbranded IPC Reskin
  html/changelogs/niennab-unbrandreskin.yml
  icons/mob/human_races/ipc/robotic.dmi
Labels: Awaiting Merge, Sprites

#10418 Rescue Module update + other changes
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/mob/living/silicon/robot/items/modules/mobility_module.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  html/changelogs/rescueredone.yml
Labels: Awaiting Merge

#10450 Can no longer climb over a railing if the way is blocked
  code/game/objects/structures/railing.dm
  html/changelogs/railing_bugfix.yml
Labels: Awaiting Merge, Bugfix

#10448 Beams will now properly center on things with pixel_x and pixel_y offsets
  code/datums/beam.dm
  code/modules/modular_computers/hardware/tesla_link.dm
  html/changelogs/charging_beam_centering.yml
Labels: Awaiting Merge, Bugfix

#10420 White cane, and crutch in loadout
  code/defines/obj/weapon.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/mob/abstract/new_player/character_traits.dm
  html/changelogs/greenjoe12345-caneandcrutch.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#10449 Adds Janitor hats to the loadout
  code/modules/client/preference_setup/loadout/loadout_head.dm
  html/changelogs/wezzy_janniehats.yml
Labels: Awaiting Merge, Bugfix

#10392 Adds improvised shrapnel grenades
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/weapons/grenades/fragmentation.dm
  code/game/objects/items/weapons/landmines.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  html/changelogs/hockaa-weldercansfix.yml
  icons/obj/fuses.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#10451 Unapologetic Jacket/Coat Buffs
  html/changelogs/chevyjacketfixes.yml
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10370 Holocall Overhaul
  .travis.yml
  code/game/machinery/hologram.dm
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/silicon/say.dm
  html/changelogs/geeves-cool_holocomms.yml
Labels: Awaiting Merge

#10391 Departmental Berets
  aurorastation.dme
  code/controllers/subsystems/traumas.dm
  code/datums/outfits/ert/iac.dm
  code/datums/outfits/ert/med_eridani.dm
  code/datums/outfits/ert/tcfl.dm
  code/datums/outfits/event/outfit_nanotrasen.dm
  code/datums/outfits/outfit_antag.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/security.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/clothing/factions/gadpathur.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/mining/abandonedcrates.dm
  html/changelogs/wezzy_departmentalberets.yml
  icons/clothing/head/gadpathur_beret.dmi
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/hats/berets.dmi
  icons/obj/tajara_items.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#10414 inhand contained sprite coloration fix
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/wezzy_inhand_colora.yml
Labels: Awaiting Merge, Bugfix

#10429 Add debugger to world.dm by default
  code/world.dm
Labels: Awaiting Merge, Changelog Required, High Risk

#10435 removes uniform_fat
  code/modules/clothing/clothing.dm
  html/changelogs/wezzy_trimfat.yml
  icons/mob/uniform_fat.dmi
Labels: Awaiting Merge, Sprites

#10460 Fixes runtimes on early startup
  code/controllers/subsystems/emergency_shuttle.dm
  code/modules/mob/abstract/new_player/menu.dm
  html/changelogs/amunak-runtimes.yml
Labels: Awaiting Merge, Bugfix

#10438 Debug Mob Lists can now list frozen crew
  code/modules/admin/verbs/debug.dm
  html/changelogs/frozen_mob_debug.yml
Labels: Awaiting Merge

#10348 Windowgrille Spawner Tweak
  aurorastation.dme
  code/game/objects/items/weapons/RFD.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window_spawner.dm
  code/modules/effects/map_effects/window_spawner.dm
  icons/effects/map_effects.dmi
  icons/obj/structures.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora, Mapping: Exodus, Mapping: Runtime, Sprites

#10374 Adds Collapsible Wheelchairs
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  html/changelogs/flpfs-wheelchair.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/furniture.dmi
Labels: Awaiting Merge, Sprites

#10457 Holopad Fix
  code/game/machinery/hologram.dm
  html/changelogs/geeves-fuck.yml
Labels: Bugfix, Review Required

#10473 Solves excessive runtime production from beams being created improperly
  code/datums/beam.dm
  code/modules/power/tesla/energy_ball.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#10452 Security belts can now have disruptor pistols inside them
  code/game/objects/items/weapons/storage/belt.dm
  html/changelogs/sec_belt_disruptor.yml
Labels: Awaiting Merge

#10443 Refactors some procs from unsorted.dm helper to better places
  code/__defines/obj.dm
  code/_helpers/mobs.dm
  code/_helpers/unsorted.dm
  code/game/atoms.dm
  code/game/atoms_movable.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/airbubble.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/modules/cooking/machinery/cooking_machines/_appliance.dm
  code/modules/recycling/disposal.dm
  code/modules/research/destructive_analyzer.dm
  code/modules/tables/interactions.dm
  html/changelogs/amunak-example-refactor.yml
Labels: Awaiting Merge

#10441 Removes dead code related to "Exosuit Monitoring and Control" NanoUI program
  aurorastation.dme
  code/__defines/lists.dm
  code/datums/helper_datums/events.dm
  code/datums/helper_datums/teleport.dm
  code/datums/helper_datums/topic_input.dm
  code/modules/modular_computers/file_system/programs/research/exosuit_monitor.dm
  code/modules/nano/modules/exosuit_control.dm
Labels: Awaiting Merge, Changelog Required

#10378 Hotkey Toggle Tweak
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/login.dm
  html/changelogs/geeves-hotkey_toggle.yml
Labels: Awaiting Merge

#10478 Punctual Skrell
  code/modules/psionics/faculties/coercion.dm
  html/changelogs/geeves-punctual_skrell.yml
Labels: Awaiting Merge, Bugfix

#10468 Fixes messages for tank inlet wrenching
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/amunak-tank-wrenching.yml
Labels: Awaiting Merge, Bugfix

#10481 Fixes away mission ghostspawners not activating automatically
  code/modules/shuttles/departmental.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10471 Fixes spaces at EOL in changelog.yml
  .travis.yml
  html/changelogs/example.yml
Labels: Awaiting Merge, Bugfix

#10466 Replaces instances of ARE_Z_CONNECTED with AreConnectedZLevels
  code/__defines/subsystem-defines.dm
  code/controllers/subsystems/explosives.dm
  code/game/machinery/hologram.dm
  code/modules/modular_computers/file_system/programs/civilian/janitor.dm
  code/modules/modular_computers/file_system/programs/security/guntracker.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10465 Changes cargo defines (STOCK_ITEM_*) to fix deep recursion with eventual runtime
  code/controllers/subsystems/initialization/misc_early.dm
  code/modules/cargo/random_stock/_defs.dm
  code/modules/cargo/randomstock.dm
  html/changelogs/amunak-cargo-spawning.yml
Labels: Awaiting Merge, Bugfix

#10458 Fixes rescue borg gripper
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/flpfs-gripperfix.yml
Labels: Awaiting Merge, Bugfix

#10455 Noticeboards no longer dispense paper on the floor immediately
  code/game/objects/structures/noticeboard.dm
  html/changelogs/hockaa-noticeboardhands.yml
Labels: Awaiting Merge

#10347 Port Airlock Spawners
  aurorastation.dme
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/__defines/misc.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/modules/effects/map_effects/airlock_spawner.dm
  icons/obj/airlock_spawner.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#10490 Transmission device now counts as an ID when opening borgs
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/robot_id_card_fix.yml
Labels: Awaiting Merge, Bugfix

#10489 Fixes the field beret being invisible
  html/changelogs/Ferner-201107-bugfix_fieldberet.yml
  icons/obj/clothing/hats/berets.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10480 Total enemies now considers unique players over all modes instead of per mode
  code/game/gamemodes/game_mode.dm
  html/changelogs/multi_mode_candidate_fix.yml
Labels: Awaiting Merge, Bugfix

#10467 Makes buckets, sinks and tanks transfer more by default and adds info about changing the transfer amount
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/amunak-buckets.yml
Labels: Awaiting Merge

#10503 ANTAG_OVERRIDE_JOB antag types now select players properly
  code/game/gamemodes/game_mode.dm
  html/changelogs/job_override_antag_selection_bug.yml
Labels: Awaiting Merge, Bugfix, High Priority

#10440 Modular PDA tweaks and bugfixes
  aurorastation.dme
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/hardware.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  code/modules/modular_computers/computers/subtypes/dev_handheld.dm
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  code/modules/modular_computers/computers/subtypes/dev_silicon.dm
  code/modules/modular_computers/computers/subtypes/dev_telescreen.dm
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  code/modules/modular_computers/computers/subtypes/preset_handheld.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/research/ntmonitor.dm
  code/modules/modular_computers/file_system/programs/system/configurator.dm
  code/modules/modular_computers/hardware/hardware.dm
  code/modules/modular_computers/hardware/misc.dm
  code/modules/modular_computers/hardware/tesla_link.dm
  code/modules/research/designs/protolathe/modular_computer_designs.dm
  html/changelogs/johnwildkins-pctweaks.yml
  nano/templates/ntnet_monitor.tmpl
  vueui/src/components/header/modular-computer.vue
  vueui/src/components/view/mcomputer/system/config.vue
  vueui/src/components/vui/input/slider.vue
Labels: Awaiting Merge, VueUi

#10442 Adds proc to show variable type as string, adds this info to Varedit
  code/_helpers/unsorted.dm
  code/modules/admin/view_variables/view_variables.dm
  html/changelogs/amunak-varedit-types.yml
Labels: Awaiting Merge

#10454 Chem Effects Tweak
  code/__defines/chemistry.dm
  code/modules/reagents/Chemistry-Metabolism.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/geeves-chem_effects.yml
Labels: Awaiting Merge, Update Wiki

#10463 Rum and Coked Out
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/rumandcokedout.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#10475 CCIA and FIB agents have a new ID sprite
  code/datums/outfits/event/outfit_nanotrasen.dm
  code/game/objects/items/weapons/cards_ids.dm
  html/changelogs/wezzy_new_ccia_id.yml
  icons/mob/card.dmi
  icons/obj/card.dmi
Labels: Awaiting Merge, Sprites

#10476 Vampire Tweaks
  aurorastation.dme
  code/__defines/antagonist.dm
  code/_helpers/global_lists.dm
  code/_helpers/text.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/screen_object_types/vampire.dm
  code/game/antagonist/_antagonist_setup.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/station/vampire.dm
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/gamemodes/vampire/vampire_datum.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  html/browser/cult.css
  html/changelogs/geeves-vamp_stuff.yml
  icons/mob/screen/vampire.dmi
  ingame_manuals/vampire.html
Labels: Awaiting Merge, Sprites

#10479 Maintenance Drone Fix
  code/controllers/subsystems/ghostroles.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/modules/ghostroles/spawner/simplemob/maintdrone.dm
  code/modules/ghostroles/spawner/simplemob/rat.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  html/changelogs/geeves-maint_drone.yml
Labels: Awaiting Merge, Bugfix

#10494 Adds another fedora
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/Ferner-201108-spriting_blackfedora.yml
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#10488 Removes vision cones
  aurorastation.dme
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/client/preference_setup/global/02_settings.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/vision_cone/vision_cone.dm
  html/changelogs/remove_vision_cones.yml
  icons/mob/vision_cone.dmi
Labels: Awaiting Merge, Sprites

#10491 Robots' sensor augmentation now acts as if it were a physical hud
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/items/modules/sight.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/sensor_augmentation_fix.yml
Labels: Awaiting Merge

#10492 Drop hotkey now works for things held by grippers
  code/modules/mob/mob_movement.dm
  html/changelogs/drop_hotkey_grippers.yml
Labels: Awaiting Merge

#10493 Fountain pens start with the cursive option off by default now
  code/modules/paperwork/pen.dm
  html/changelogs/alberyk-pen.yml
Labels: Awaiting Merge

#10507 Fixes runtime when joining as AI/cyborg
  code/controllers/subsystems/job.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10509 Fixes maintenance drones not being able to travel through disposals
  code/modules/recycling/disposal.dm
  html/changelogs/amunak-dronefix.yml
Labels: Awaiting Merge, Bugfix, Review Required

#10477 Midgame Antagonist
  code/controllers/subsystems/job.dm
  html/changelogs/geeves-midgame_antag.yml
Labels: Awaiting Merge

#10506 Update VueUI dependencies
  vueui/package-lock.json
  vueui/package.json
Labels: Changelog Required, High Priority, Review Required, VueUi, dependencies

#10504 Access transmission device now also works on drones.
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/robot_access_drones.yml
Labels: Awaiting Merge, Bugfix

#10495 Species Cuff Breaking
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/resist.dm
  html/changelogs/geeves-icanbreakthesecuffs.yml
Labels: Awaiting Merge

#10500 Unique Visitor Tweak
  code/modules/ghostroles/spawner/human/visitor.dm
  html/changelogs/geeves-visitor_isnt_unique.yml
Labels: Awaiting Merge

#10497 Maintenance Room
  html/changelogs/geeves-maintenance_workshop.yml
  icons/turf/areas.dmi
  maps/_common/areas/station/maintenance.dm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#10483 show held item shows icon beside now
  code/game/objects/items.dm
  html/changelogs/wezzy_show-held-item.yml
Labels: Awaiting Merge

#10470 Categorized latejoin menu and made it into VueUI, improved crew manifest logic and made Verb manifest same as VueUI program, Job fixes
  aurorastation.dme
  code/__defines/subsystem-defines.dm
  code/_helpers/lists.dm
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/job.dm
  code/controllers/subsystems/records.dm
  code/datums/late_choices.dm
  code/game/gamemodes/game_mode.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/merchant.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/jobs/job/silicon.dm
  code/game/jobs/jobs.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/secrets/admin_secrets/show_crew_manifest.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/client/preferences.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/modular_computers/file_system/programs/generic/manifest.dm
  html/changelogs/amunak-latejoin.yml
  nano/templates/identification_computer.tmpl
  vueui/src/assets/departmental.scss
  vueui/src/assets/global.scss
  vueui/src/assets/utilities.scss
  vueui/src/assets/variables.scss
  vueui/src/components/view/late-choices.vue
  vueui/src/components/view/manifest.vue
Labels: Awaiting Merge, VueUi

#10523 Borg hyposprays can now inject people in spacesuits
  aurorastation.dme
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/unit_tests/species_tests.dm
  html/changelogs/borg_hypospray.yml
Labels: Awaiting Merge, Bugfix

#10511 Holopad Fixes
  code/game/machinery/hologram.dm
  code/modules/mob/mob.dm
  html/changelogs/geeves-holopad_fixes.yml
  icons/obj/holopad.dmi
  icons/obj/stationobjs.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10520 Fixes borg grippers not being able to use drop hotkey (Q) to drop items
  code/modules/mob/mob_movement.dm
  html/changelogs/johnwildkins-gripper.yml
Labels: Awaiting Merge, Bugfix

#10474 Adds announcer mob and uses it for autosay instead of the full-blown AI
  aurorastation.dme
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/announcer.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/say.dm
  html/changelogs/amunak-announcer.yml
Labels: Awaiting Merge

#10539 Fixes Announcer mob nonexistent var, Initialize hint and Destroy return
  code/modules/mob/living/announcer.dm
Labels: Bugfix, Changelog Required, High Priority, Review Required

#10230 Energy Drink Yokes
  aurorastation.dme
  code/modules/reagents/reagent_containers/food/drinks/yoke.dm
  html/changelogs/geeves-six_pack.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#10532 Holopad Animal Language Fix
  code/game/machinery/hologram.dm
  html/changelogs/geeves-holopad_animal_language.yml
Labels: Awaiting Merge, Bugfix

#10531 Fix RNG mecha trying to install equipment they can't
  code/modules/heavy_vehicle/premade/_premade.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10529 Fix beam runtimes and charging cable messages
  code/datums/beam.dm
  code/game/objects/items/weapons/tether.dm
  code/modules/effects/map_effects/beam_point.dm
  code/modules/modular_computers/hardware/tesla_link.dm
  html/changelogs/johnwildkins-beamfix.yml
Labels: Awaiting Merge, Bugfix

#10530 Fix the Custodial Supplies Locator
  code/modules/modular_computers/file_system/programs/civilian/janitor.dm
  html/changelogs/johnwildkins-bucketlist.yml
  vueui/src/components/view/mcomputer/janitor.vue
Labels: Awaiting Merge, Bugfix, VueUi

#10527 Aligns the crew manifest columns and makes it spawn slightly larger
  code/controllers/subsystems/records.dm
  code/modules/modular_computers/file_system/programs/generic/manifest.dm
  html/changelogs/amunak-manifest-embiggening.yml
  vueui/src/components/view/manifest.vue
Labels: Awaiting Merge, Bugfix, VueUi

#10541 Fixes VueUI not updating (or closing or working properly) when re-opening existing UI
  code/controllers/subsystems/processing/vueui.dm
  code/modules/vueui/ui.dm
  html/changelogs/amunak-vuerefresh-fix.yml
Labels: Awaiting Merge, Bugfix

#10550 Fixes excessive runtimes with beams
  code/datums/beam.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#10549 Funky Verb Fix
  code/modules/admin/verbs/debug.dm
  html/changelogs/geeves-funky_messages.yml
Labels: Bugfix, Review Required

#10513 Radiator Outpost
  html/changelogs/geeves-radiator_mapping.yml
  maps/_common/areas/station/engineering.dm
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10510 Sol uniform rework
  icons/obj/sol_uniform.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#10551 Fixes several runtimes.
  code/_onclick/hud/hud.dm
  code/_onclick/hud/robot.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mob/abstract/new_player/menu.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  html/changelogs/mattatlas-screamingeagles.yml
Labels: Awaiting Merge, Bugfix, High Priority

#10514 Golem AOOC
  aurorastation.dme
  code/__defines/gamemode.dm
  code/game/antagonist/station/wizard_golem.dm
  code/modules/mob/living/carbon/slime/items.dm
  html/changelogs/geeves-golem_aooc.yml
Labels: Awaiting Merge

#10554 Disables Sol Alliance consular officers due to lore reasons.
  code/modules/background/citizenship/human.dm
  html/changelogs/alberyk-disablesol.yml
Labels: High Priority, Review Required, Waiting Period

#10553 Maintenance Drones no longer get chat clients
  code/modules/mob/living/silicon/computer.dm
  code/modules/modular_computers/computers/subtypes/dev_silicon.dm
  html/changelogs/maint_drone_no_chat_client.yml
Labels: Awaiting Merge, Bugfix

#10552 Fixes species transformations giving people the wrong accent
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/alberyk-accentfix.yml
Labels: Awaiting Merge, Bugfix

#10556 APCs can be controlled by admins, airlock admin UI fixes
  code/game/machinery/doors/airlock.dm
  code/modules/power/apc.dm
  html/changelogs/amunak-airlock-admin.yml
Labels: Awaiting Merge, Bugfix

#10526 Changes the font size on the emitter's shot display
  code/modules/power/singularity/emitter.dm
  html/changelogs/hockaa-emitterdisplay.yml
Labels: Awaiting Merge

#10559 Fixes runtime in SSRecords causing issues with Crew Manifest
  code/controllers/subsystems/records.dm
  html/changelogs/amunak-manifest-runtime.yml
Labels: Awaiting Merge, Bugfix

#10565 Fixes engine radiator access.
  html/changelogs/hockaa-radiatorairlockfix.yml
  maps/aurora/aurora-2_under-station.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#10484 You can shove all small mobs in the glass jar now
  code/game/objects/items.dm
  code/game/objects/items/glassjar.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/wezzy_getinjar.yml
Labels: Awaiting Merge

#10534 Better Species Select
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/geeves-better_species_select.yml
Labels: Awaiting Merge

#10577 Fixes dionae not appearing on the char setup screen
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/johnwildkins-dionabuff.yml
Labels: Awaiting Merge, Bugfix, High Priority

#10575 Fixes the level 4 aurora map file being unopenable
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, Mapping: Aurora

#10544 Adds Tajara lore themed title screens
  html/changelogs/alberyk-tajscreen.yml
  icons/misc/titlescreens/aurora/tajara.dmi
  maps/aurora/code/aurora.dm
Labels: Awaiting Merge, Sprites

#10543 watertank transfer default transfer amt is 300 now
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/wezzy_watertank.yml
Labels: Awaiting Merge

#10533 Disable Click Macros
  code/_onclick/click.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  html/changelogs/geeves-disable_click_macros.yml
Labels: Awaiting Merge

#10499 Zombie Stuff
  aurorastation.dme
  code/__defines/antagonist.dm
  code/__defines/mobs.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/crusher_piston.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/wishgranter.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/structures/morgue.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/emotes/emote_define.dm
  code/modules/emotes/emote_mob.dm
  code/modules/martial_arts/plasma_fist.dm
  code/modules/martial_arts/skrell.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/martial_arts/sol_combat.dm
  code/modules/martial_arts/tajara.dm
  code/modules/martial_arts/unathi.dm
  code/modules/martial_arts/vaurca.dm
  code/modules/martial_arts/zombie.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/geeves-zombie_stuff.yml
  vueui/src/components/view/medical/bodyscanner.vue
Labels: Awaiting Merge, VueUi

#10517 Remote Mech Access
  code/controllers/subsystems/virtual_reality.dm
  html/changelogs/geeves-long_overdue.yml
Labels: Awaiting Merge

#10546 Lowers the max number of players for the burglar roundtype from 20 to 15
  code/game/gamemodes/burglars/burglars.dm
  html/changelogs/Ferner-201114-coding_burglarlimit.yml
Labels: Awaiting Merge

#10089 Martial Arts Mastery
  aurorastation.dme
  code/__defines/misc.dm
  code/_onclick/item_attack.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/datums/uplink/martial_arts.dm
  code/datums/uplink/uplink_categories.dm
  code/game/objects/items/weapons/material/swords.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/plasma_fist.dm
  code/modules/martial_arts/skrell.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/martial_arts/sol_combat.dm
  code/modules/martial_arts/tajara.dm
  code/modules/martial_arts/unathi.dm
  code/modules/martial_arts/vaurca.dm
  code/modules/martial_arts/wrestling.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/geeves-martial_arts_master.yml
Labels: Awaiting Merge

#10548 Vampire Veil Walk
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/geeves-vampire_additions.yml
Labels: Awaiting Merge

#10583 Fix emote chat commands silently failing
  code/modules/emotes/emote_mob.dm
  html/changelogs/johnwildkins-scream.yml
Labels: Awaiting Merge, Bugfix

#10584 Pick Up
  code/game/objects/items.dm
  html/changelogs/geeves-i-hate-the-playerbase.yml
Labels: High Priority, Review Required

#10547 Hydrogen Port 2: Electric Boogaloo
  code/ATMOSPHERICS/components/omni_devices/_omni_extras.dm
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/ATMOSPHERICS/components/omni_devices/omni_base.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/ATMOSPHERICS/pipes.dm
  code/ZAS/Turf.dm
  code/__defines/atmos.dm
  code/defines/gases.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmo_control.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/scrubber.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/clear_toxins.dm
  code/modules/hydroponics/seed.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/supermatter/setup_supermatter.dm
  html/changelogs/hockaa-hydrogenport2.yml
  icons/atmos/tank.dmi
  icons/obj/assemblies.dmi
  icons/obj/atmos.dmi
  icons/obj/tank.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  vueui/src/components/view/console/atmocontrol/main.vue
Labels: Awaiting Merge, Lore Impact, Mapping: Aurora, Sprites, Update Wiki, VueUi

#10557 Fixes jumper skirt shading
  html/changelogs/wezzy_jumperskirt.yml
  icons/obj/clothing/skirts.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10588 Fixes full auto one-handed penalty
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/minigun.dm
  html/changelogs/johnwildkins-fullauto.yml
Labels: Awaiting Merge, Bugfix

#10591 Can now whisper while restrained
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  html/changelogs/whisper_restrained.yml
Labels: Awaiting Merge, Bugfix

#10581 Makes Odin medical specialists/pharmacists spawn with medhuds
  code/datums/outfits/event/outfit_nanotrasen.dm
  html/changelogs/Ferner-201117-coding_odinmedhud.yml
Labels: Awaiting Merge, Bugfix

#10558 Face direction verb now behaves like the pre-vision cone version.
  code/modules/mob/mob.dm
  html/changelogs/wezzy_revert-face-direction.yml
Labels: Awaiting Merge

#10589 Adds a unit test to ensure that all game modes have a sensible required_enemies and required_players
  aurorastation.dme
  code/game/gamemodes/burglars/burglars.dm
  code/game/gamemodes/mixed/acolytes.dm
  code/game/gamemodes/mixed/infiltration.dm
  code/game/gamemodes/mixed/insurrection.dm
  code/game/gamemodes/mixed/siege.dm
  code/game/gamemodes/mixed/uprising.dm
  code/game/gamemodes/mixed/veilparty.dm
  code/game/gamemodes/mixed/visitors.dm
  code/game/gamemodes/traitor/traitor.dm
  code/unit_tests/gamemode_tests.dm
  html/changelogs/required_players_gamemodes.yml
Labels: Awaiting Merge, Bugfix

#10561 Replaces the engine cooling radiator motion sensor
  html/changelogs/hockaa-motionsensorsbgone.yml
  maps/aurora/aurora-2_under-station.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10537 pAI Encryption Keys
  code/game/objects/items/devices/paicard.dm
  code/modules/modular_computers/file_system/programs/pai/radio.dm
  html/changelogs/geeves-pai_encryption_keys.yml
  vueui/src/components/view/mcomputer/pai/radio.vue
Labels: Awaiting Merge, VueUi

#10582 Updates security processing console
  code/modules/law/laws/high_severity.dm
  code/modules/law/laws/low_severity.dm
  code/modules/law/laws/med_severity.dm
  html/changelogs/Aboshehab - regulationChanges.yml
Labels: Review Required, Waiting Period

#10570 Further scarcity
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/doxxmedearly - phornt.yml
Labels: Awaiting Merge

#10567 Smartfridges now place items in your hands if possible.
  code/modules/cooking/machinery/smartfridge.dm
  html/changelogs/MDP-chem_in_the_hand.yml
Labels: Awaiting Merge

#10569 ChemMasters now eject beakers and pill bottles to the user's hand
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/hockaa-chemmaster.yml
Labels: Awaiting Merge

#10512 Holopad Mapping
  html/changelogs/geeves-holopad_mapping.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10578 Adds Golden Deep clothes and other loadout items.
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/clothing/factions/goldendeep.dm
  code/modules/clothing/suits/hoodies.dm
  code/modules/clothing/under/accessories/armband.dm
  html/changelogs/stryker-loadout.yml
  icons/clothing/under/uniforms/goldendeep_dress.dmi
  icons/clothing/under/uniforms/goldendeep_skirtsuit.dmi
  icons/clothing/under/uniforms/goldendeep_suit.dmi
  icons/clothing/under/uniforms/goldendeep_vest.dmi
  icons/clothing/under/uniforms/goldendeep_wrap.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/hoodies.dmi
Labels: Review Required, Sprites, Waiting Period

#10587 Various post-Hydrogen tweaks
  code/game/machinery/atmoalter/canister.dm
  html/changelogs/hockaa-hydrogenfixes.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Bugfix, Mapping: Aurora, Review Required, Waiting Period

#10595 Pressure regulators will now be able to transfer gas into an empty pipe in input regulation mode
  code/ATMOSPHERICS/components/binary_devices/passive_gate.dm
  html/changelogs/input_pressure_regulation_fix.yml
Labels: Bugfix, Review Required

#10600 Fixes chameleon cap icon
  code/datums/outfits/outfit_antag.dm
  code/datums/trading/goods.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/modules/clothing/chameleon.dm
  html/changelogs/fix_chameleon_hat_icon.yml
Labels: Awaiting Merge, Bugfix

#10608 Mobs crushed by doors while inside an atom wont be forcemoved outside of the atom
  code/game/machinery/doors/airlock.dm
  html/changelogs/airlock_crush_movement_fix.yml
Labels: Awaiting Merge, Bugfix

#10580 Runtime is now always well lit
  code/modules/power/lights/fixtures.dm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-3.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Runtime

#10601 Can no longer cut the bolt cover and the bolts at once on a broken airlock
  code/game/machinery/doors/airlock.dm
  html/changelogs/airlock_bolt_cutting_fix.yml
Labels: Awaiting Merge, Bugfix

#10602 Beams will now be initially drawn properly when their origin and target turfs are equal
  code/datums/beam.dm
  code/game/objects/items/weapons/tether.dm
  code/modules/modular_computers/hardware/tesla_link.dm
  html/changelogs/charging_cable_beam_fix.yml
Labels: Awaiting Merge, Bugfix

#10566 BSTech Access Tweak
  code/modules/admin/verbs/bluespacetech.dm
Labels: Awaiting Merge, Changelog Required

#10615 Prevents some artifacts spawning mobs in non-turfs
  code/modules/mob/abstract/freelook/ai/chunk.dm
  code/modules/mob/abstract/freelook/chunk.dm
  code/modules/research/xenoarchaeology/finds/finds_special.dm
  html/changelogs/artifact_spawn_locs_fix.yml
Labels: Awaiting Merge, Bugfix

#10586 Learner Slot Increase
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  html/changelogs/geeves-apprentices.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10613 Restricts required_enemies more via unit test
  code/game/gamemodes/borer/borer.dm
  code/game/gamemodes/burglars/burglars.dm
  code/game/gamemodes/changeling/helpers/changeling.dm
  code/game/gamemodes/mixed/conflict.dm
  code/game/gamemodes/mixed/feeding.dm
  code/game/gamemodes/mixed/infestation.dm
  code/game/gamemodes/mixed/infiltration.dm
  code/game/gamemodes/mixed/intrigue.dm
  code/game/gamemodes/mixed/paranoia.dm
  code/game/gamemodes/mixed/traitorling.dm
  code/unit_tests/gamemode_tests.dm
  html/changelogs/fixes_burglar_gamemode_selection.yml
Labels: Awaiting Merge, Bugfix

#10609 Fake Death Fix
  code/game/machinery/body_scanner.dm
  html/changelogs/geeves-fake_death_meta.yml
Labels: Awaiting Merge, Bugfix

#10617 Fixes the security maintenance exterior airlock
  html/changelogs/Ferner-201120-bugfix_securitymaint-airlock.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#10611 Fixes premade combat mechs spawning without weapons
  code/modules/heavy_vehicle/premade/combat.dm
  html/changelogs/Ferner-201120-bugfix_combatmech.yml
Labels: Awaiting Merge, Bugfix

#10568 Eyepatch fix + new eyepatch
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/greenjoe12345 - patchpatch.yml
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Awaiting Merge, Sprites

#10592 Removes the toxic hivebot beacon due to balance issues.
  code/modules/events/infestation.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/mattatlas-bruhmoments.yml
Labels: Awaiting Merge

#10579 Gas Clouds
  code/ZAS/Turf.dm
  code/defines/gases.dm
  code/modules/xgm/xgm_gas_data.dm
  html/changelogs/geeves-gas_overlay.yml
  icons/effects/tile_effects.dmi
Labels: Awaiting Merge, Sprites

#10619 Removes a pick() that occurred after the antag candidate lists were carefully ordered
  code/game/antagonist/antagonist.dm
  code/game/gamemodes/game_mode.dm
  html/changelogs/dont_pick_after_sorting.yml
Labels: Awaiting Merge, Bugfix

#10563 Remote Canisters
  code/__defines/obj.dm
  code/_helpers/logging.dm
  code/controllers/configuration.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/machinery.dm
  code/global.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
  code/modules/assembly/signaler.dm
  code/modules/power/singularity/emitter.dm
  config/example/config.txt
  html/changelogs/geeves-remote_canisters.yml
  icons/obj/atmos.dmi
Labels: Awaiting Merge, Sprites
