Repository Aurorastation/Aurora.3, pull requests merged in 2020-10, with the labels that each got.

#10102 Chemistry Update Tweaks/Fixes (very overdue, sorry)
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/pill.dm
  html/changelogs/chemistry_changes.yml
Labels: Awaiting Merge

#10105 Increase shrapnel removal chances
  code/modules/surgery/implant.dm
  html/changelogs/flpfs-shrapnel.yml
Labels: Awaiting Merge

#10111 Mining Coin Fix
  code/modules/mining/machine_vending.dm
  html/changelogs/geeves-mining_coin_fix.yml
Labels: Awaiting Merge, Bugfix

#10138 UI Icon Fix
  code/_onclick/hud/human.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/geeves-ui_icon_fix.yml
  icons/mob/status_hunger.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10134 Flesh to Stone Fixes
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/spell_system/spells/spell_list/others/generic/flesh_to_stone.dm
  code/modules/spell_system/spells/spell_list/targeted_spells.dm
  html/changelogs/geeves-no_mech_statues.yml
Labels: Awaiting Merge, Bugfix

#10097 Remove Xenobotanist access to Hydroponics
  code/game/jobs/job/science.dm
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/flpfs-removebotanyfrom-xenobio.yml
Labels: Awaiting Merge, Sprites

#10136 RFD-X Fixes
  code/game/objects/items/weapons/RFD.dm
  code/modules/projectiles/gun.dm
  html/changelogs/geeves-rfdx_duplication.yml
Labels: Awaiting Merge, Bugfix

#10059 /tg/station Attack Animation
  code/modules/mob/animations.dm
  html/changelogs/geeves-tg_attack_animation.yml
Labels: Awaiting Merge

#9942 Music Metadata Update
  html/changelogs/music_update.yml
  sound/ambience/song_game.ogg
  sound/music/1.ogg
  sound/music/Velvet-Rose.ogg
  sound/music/b12_combined_start.ogg
  sound/music/battlemonsters_theme.ogg
  sound/music/main.ogg
  sound/music/space.ogg
  sound/music/title1.ogg
  sound/music/title2.ogg
  sound/music/traitor.ogg
Labels: Awaiting Merge

#10145 Fixes consular officer and corporate liaison not having the proper Tajara restrictions
  code/game/jobs/faction/nanotrasen.dm
  code/modules/background/citizenship/tajara.dm
  html/changelogs/alberyk-consular.yml
Labels: Awaiting Merge, Bugfix

#10113 Sleeper UI and Stuff
  code/game/machinery/Sleeper.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/geeves-medical_stuff.yml
  nano/templates/sleeper.tmpl
  vueui/src/components/view/medical/sleeper.vue
Labels: Awaiting Merge, VueUi

#10140 Fixes detective jacket
  code/modules/clothing/suits/jobs.dm
  html/changelogs/flpfs-detjacket.yml
  icons/mob/items/clothing/lefthand_suit.dmi
  icons/mob/items/clothing/righthand_suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10053 Fullscreen overlay rework, full-black unconsciousness overlay, overlay fadeout animations + more.
  aurorastation.dme
  bbb.dmi
  code/__defines/_layers.dm
  code/_helpers/turfs.dm
  code/_onclick/click.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/nymph_hud.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/game/gamemodes/cult/runes/stun.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/vampire/vampire_helpers.dm
  code/game/machinery/flasher.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/hallucinations/types/powers.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/parasite/meme.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/ai/login.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/pain.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/mattatlas-clicktime.yml
  icons/effects/static.dmi
  icons/mob/screen/effects.dmi
  icons/mob/screen/full.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/white.dmi
  icons/mob/screen_full.dmi
Labels: Awaiting Merge, Sprites

#10117 Electro-tethers
  aurorastation.dme
  code/datums/beam.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/tether.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  html/changelogs/geeves-tethers.yml
  icons/effects/beam.dmi
Labels: Awaiting Merge, Sprites

#10121 Balances skrellian voidsuit, balances security vest and voidsuit, EVA RIG can no longer carry toolbox.
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/suits/armor.dm
  html/changelogs/flpfs-sec-and-suit-rebalance.yml
Labels: Awaiting Merge

#10126 Ghostspawner Spawn Atom UI Fix
  code/controllers/subsystems/ghostroles.dm
  html/changelogs/geeves-ghostspawner_ui.yml
  vueui/src/components/view/misc/ghostspawner.vue
Labels: Awaiting Merge, Bugfix, VueUi

#10144 Funky Containers Fix
  code/modules/recycling/disposal.dm
  html/changelogs/geeves-funky_containers.yml
Labels: Awaiting Merge, Bugfix

#10151 Fixes the inventory by removing planes
  code/__defines/_layers.dm
  code/_onclick/hud/fullscreen.dm
  code/_onclick/hud/screen_objects.dm
Labels: Bugfix, Changelog Required, High Priority, Review Required

#10125 Unique Animal Hitzones
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/constructs/constructs/artificer.dm
  code/modules/mob/living/simple_animal/constructs/constructs/harvester.dm
  code/modules/mob/living/simple_animal/constructs/constructs/juggernaut.dm
  code/modules/mob/living/simple_animal/constructs/constructs/wraith.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/carp.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/hakhma.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/mushroom.dm
  code/modules/mob/living/simple_animal/friendly/rat.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/friendly/tomato.dm
  code/modules/mob/living/simple_animal/hostile/adhomai.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  code/modules/mob/living/simple_animal/hostile/commanded/ives.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/krampus.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/moghesfauna.dm
  code/modules/mob/living/simple_animal/hostile/morph.dm
  code/modules/mob/living/simple_animal/hostile/phoron_worm.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/pra.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  code/modules/mob/living/simple_animal/hostile/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/worm.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/geeves-unique_animal_hitzones.yml
Labels: Awaiting Merge

#10152 Fixes the AI having a perma black screen.
  code/modules/mob/living/silicon/ai/login.dm
  html/changelogs/mattatlas-aifix.yml
Labels: Bugfix, Review Required

#10157 Fix insufficient logging of PDA Console
  code/game/machinery/computer/message.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10154 Fixes the sawn-off improvised shotgun having no sprite
  code/modules/projectiles/guns/projectile/improvised.dm
  html/changelogs/alberyk-shotgunfix.yml
  icons/obj/guns/ishotgun.dmi
  icons/obj/guns/ishotgunsawn.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10139 Ghost Role Cancel Fix
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/geeves-ghost_role_cancel.yml
Labels: Awaiting Merge, Bugfix

#10131 Changes crossbow damage type
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/projectile/energy.dm
  html/changelogs/flpfs-nerf-crossbow.yml
Labels: Awaiting Merge

#10130 Simple Animals Ghostears Tweak
  code/modules/emotes/emote_mob.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  html/changelogs/geeves-the_giant_spider_chitters.yml
Labels: Awaiting Merge

#10079 Vaurca Blinders Colouring and Fix
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/geeves-colourable_blinders.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#10067 Aquaponics and Molluscs
  aurorastation.dme
  code/__defines/hydroponics.dm
  code/game/machinery/vending_items.dm
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  code/modules/hydroponics/seed_datums/aquaculture.dm
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/hydroponics/seed_datums/misc.dm
  code/modules/hydroponics/seed_datums/mushrooms.dm
  code/modules/hydroponics/seed_datums/tomato.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/random_map/drop/drop_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks/fish.dm
  html/changelogs/geeves-aquaponics.yml
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/molluscs.dmi
  icons/obj/seeds.dmi
Labels: Awaiting Merge, Sprites

#10155 Oxygen and Nitrogen Capital Fix
  code/ATMOSPHERICS/components/omni_devices/_omni_extras.dm
  code/ATMOSPHERICS/components/omni_devices/filter.dm
  code/ATMOSPHERICS/components/trinary_devices/filter.dm
  code/defines/gases.dm
  code/game/gamemodes/events.dm
  html/changelogs/geeves-oxygen_and_stuff.yml
Labels: Awaiting Merge, Bugfix

#10137 Adds an unathi shaman staff to the loadout.
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/chaplain_items.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  html/changelogs/stryker-shamanstaff.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#10063 Useful Fire Extinguishers
  code/game/objects/effects/chem/water.dm
  code/game/objects/items/weapons/extinguisher.dm
  html/changelogs/geeves-useful_extinguishers.yml
Labels: Awaiting Merge

#10109 Allows wintercoats to be hanged
  code/game/objects/structures/coathanger.dm
  html/changelogs/flpfs-fix-coathanger.yml
Labels: Awaiting Merge, Bugfix, WIP

#10167 Fixes nearsightedness and removes bbb.dmi.
  bbb.dmi
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  html/changelogs/mattatlas-bbbdmi.yml
Labels: Awaiting Merge, Bugfix, Sprites

#10141 Adds masks and gloves to Cyborgification Bay
  html/changelogs/FearTheBlackout-sterilerobotics.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10172 Wall Mounted Objects Fix
  code/game/machinery/computer/guestpass.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/recharger.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/ringer.dm
  code/game/objects/items/devices/radio/intercom.dm
  html/changelogs/geeves-newscaster_fix.yml
Labels: Awaiting Merge, Bugfix

#9990 Tajara Biology Additions: Retro Biopunk Edition
  aurorastation.dme
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  code/modules/organs/internal/species/tajara.dm
  code/modules/organs/internal/stomach.dm
  html/changelogs/alberyk-organ.yml
  icons/obj/action_buttons/organs.dmi
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Sprites

#10180 Fixes the circular saw not using the proper in hand sprite
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/alberyk-circularfix.yml
Labels: Awaiting Merge, Bugfix

#10148 Changeling lesser form tweak and fixes
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  html/changelogs/alberyk-changelingstuff.yml
Labels: Awaiting Merge

#10149 Raises IPC Max Age
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/snakebittenn-antique.yml
Labels: Awaiting Merge, Lore Impact

#10037 Full Odin Remap
  code/game/objects/structures/signs.dm
  code/game/turfs/flooring/flooring_decals.dm
  html/changelogs/TheDocOct - NuOdin.yml
  icons/obj/decals.dmi
  icons/turf/flooring/decals.dmi
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Merge Conflict, Sprites

#10185 Fixes some events taking place in the remote prison wing
  code/game/area/areas.dm
  html/changelogs/Ferner-201005-bugfix_remoteprison.yml
  maps/_common/areas/station/security.dm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/code/aurora_unittest.dm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#10187 Ship debris sanity fix
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/meteors.dm
  html/changelogs/Ferner-201005-bugfix_debrissanity.yml
  sound/AI/unknownvesseldowned.ogg
Labels: Awaiting Merge, Bugfix

#10158 Kataphract Flag
  code/game/objects/items/weapons/material/twohanded.dm
  html/changelogs/geeves-kata_flag.yml
  icons/obj/unathi_items.dmi
  maps/templates/distress/kataphracts.dmm
Labels: Awaiting Merge, Sprites

#10047 Better Icarus Drones
  aurorastation.dme
  code/_helpers/areas.dm
  code/controllers/subsystems/mob.dm
  code/controllers/subsystems/traumas.dm
  code/datums/outfits/ert/deathsquad.dm
  code/datums/outfits/event/outfit_nanotrasen.dm
  code/game/jobs/access.dm
  code/game/objects/items/devices/drop_targeter/_droptargeter.dm
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  code/modules/events/carp_migration.dm
  code/modules/events/false_alarm.dm
  code/modules/events/rogue_drones.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/ives.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/drone.dm
  html/changelogs/geeves-better_icarus_drones.yml
Labels: Awaiting Merge

#10163 Adds a mini disposals bin to medbay lobby.
  html/changelogs/FirinMaLazors-medminibin.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10165 KA Leftovers Fix
  code/modules/custom_ka/core.dm
  code/modules/custom_ka/projectiles.dm
  code/modules/mining/mine_turfs.dm
  code/modules/projectiles/gun.dm
  html/changelogs/geeves-ka_leftovers.yml
Labels: Awaiting Merge, Bugfix

#10173 Fix kebab.
  code/modules/cooking/machinery/cooking_machines/_cooker_output.dm
  code/modules/cooking/machinery/cooking_machines/container.dm
  html/changelogs/FirinMaLazors-fixkebab.yml
Labels: Bugfix, Review Required

#10175 Vaurca Breeder Health HUD Offset Fix
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/geeves-breeder_offsets.yml
Labels: Awaiting Merge, Bugfix

#9879 Teleporter Safety
  code/_helpers/game.dm
  code/datums/helper_datums/teleport.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/weapons/syndie.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/mining/mine_items.dm
  html/changelogs/geeves-teleport_safety.yml
Labels: Awaiting Merge

#10162 Compresses sounds further, for the .rsc.
  html/changelogs/FirinMaLazors-compressedsounds.yml
  sound/ambience/elevator.ogg
  sound/ambience/song_game.ogg
  sound/ambience/space/space_serithi.ogg
  sound/music/recordplayer/BooleanSisters.ogg
  sound/music/recordplayer/Cosmorot.ogg
  sound/music/recordplayer/JazzInstrumental.ogg
  sound/music/recordplayer/LeSwing.ogg
  sound/music/recordplayer/Posin.ogg
  sound/music/space_asshole.ogg
  sound/music/space_oddity.ogg
Labels: Awaiting Merge

#10000 Re-adds appendicitis
  aurorastation.dme
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/events/event_container.dm
  code/modules/events/event_dynamic.dm
  code/modules/events/spontaneous_appendicitis.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/appendix.dm
  html/changelogs/alberyk-appendicities.yml
Labels: Awaiting Merge

#10064 Vehicle Shortcuts
  code/modules/vehicles/bike.dm
  code/modules/vehicles/cargo_train.dm
  html/changelogs/geeves-vehicle_shortcuts.yml
Labels: Awaiting Merge

#10190 Modular Computer VueUI Update UIs
  code/modules/modular_computers/computers/modular_computer/core.dm
  html/changelogs/geeves-kill_program_responsiveness.yml
Labels: Awaiting Merge, Bugfix

#10028 Completely removes Vox from the game.
  aurorastation.dme
  code/__defines/species.dm
  code/controllers/subsystems/traumas.dm
  code/datums/mind.dm
  code/datums/trading/unique.dm
  code/datums/trading/vox.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/mirror.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/holder.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/misc.dm
  code/modules/organs/subtypes/xenos.dm
  code/modules/projectiles/guns/alien.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/unit_tests/mob_tests.dm
  html/changelogs/mattatlas-removevox.yml
  icons/mob/species/vox/eyes.dmi
  icons/mob/species/vox/gloves.dmi
  icons/mob/species/vox/head.dmi
  icons/mob/species/vox/masks.dmi
  icons/mob/species/vox/shoes.dmi
  icons/mob/species/vox/suit.dmi
  icons/mob/species/vox/uniform.dmi
  maps/exodus/exodus-2_centcomm.dmm
  maps/templates/asteroid_outpost.dmm
  maps/templates/backup/asteroid_outpost.dmm
Labels: Awaiting Merge, Lore Impact, Mapping: Exodus, Sprites

#10146 Assembly Code Clean-up
  code/modules/assembly/assembly.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/helpers.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/igniter.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/mousetrap.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/shock_kit.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  code/modules/assembly/voice.dm
  html/changelogs/geeves-augh_old_code.yml
  vueui/src/components/view/devices/assembly/infrared.vue
  vueui/src/components/view/devices/assembly/proximity.vue
  vueui/src/components/view/devices/assembly/signaler.vue
  vueui/src/components/view/devices/assembly/timer.vue
Labels: Awaiting Merge, VueUi

#10159 TCFL Helmet Cameras
  code/__defines/machinery.dm
  code/game/machinery/camera/presets.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  html/changelogs/geeves-tcfl_cameras.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10196 fixes cap brims
  html/changelogs/wezzy_capfixes.yml
  icons/obj/clothing/hats/soft_caps.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10171 Fixes the einstein engines uniform having no sprite
  code/datums/outfits/event/outfit_megacorps.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/Ferner-201004-bugfix_einsteinuniform.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#10174 Renames Illegal Tech
  code/modules/research/research.dm
  html/changelogs/snakebittenn-illicit.yml
Labels: Awaiting Merge

#10176 Bishop Language Slot Addition
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/snakebittenn-bishopped.yml
Labels: Awaiting Merge, Do Not Merge, Feedback Required

#10177 Kinetic Accelerator Parts Addition
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/frames.dm
  code/modules/research/designs/protolathe/mining_designs.dm
  html/changelogs/heavymining.yml
Labels: Awaiting Merge

#10181 Vaurca Phoron Inhaler Removal
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/geeves-no_more_inhaler.yml
Labels: Awaiting Merge, Lore Impact

#10179 Vaurca Night Eyes
  aurorastation.dme
  code/modules/client/client_color.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/internal/species/vaurca.dm
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/geeves-vaurca_night_eyes.yml
Labels: Awaiting Merge

#10189 Manifest Fix
  code/controllers/subsystems/records.dm
  html/changelogs/geeves-manifest_fix.yml
Labels: Awaiting Merge, Bugfix

#10188 fixes loadout photos not fitting in lockets and sweater underwear
  code/datums/underwear/undershirt.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/paperwork/photography.dm
  html/changelogs/wezzy_someloadoutfix.yml
Labels: Awaiting Merge, Bugfix

#10199 Security softcap colorations have been reverted to match their uniforms
  html/changelogs/wezzy_capfixes.yml
  icons/obj/clothing/hats/soft_caps.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10202 Fixes the colossal spider not changing sprites after using the Ceiling Climbing power
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/alberyk-spider.yml
Labels: Awaiting Merge, Bugfix

#10201 Raise admin game panel resolution
  code/modules/admin/create_object.dm
  html/changelogs/johnwildkins-gamepanel.yml
Labels: Awaiting Merge, Bugfix

#10164 Adds a lore summary button to the title menu
  code/controllers/configuration.dm
  code/modules/mob/abstract/new_player/menu.dm
  config/example/config.txt
  html/changelogs/example - Copia.yml
  icons/misc/hudmenu.dmi
Labels: Awaiting Merge, Lore Impact, Sprites

#10209 Whitepixel Borgfix
  html/changelogs/geeves-mcwhitey_fix.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10210 Fixes some area issues at Odin
  html/changelogs/Ferner-201008-bugfix_centcommareas.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#10217 Fixes Ives being spawned from gold slime reactions
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/Ferner-201009-bugfix_ives.yml
Labels: Awaiting Merge, Bugfix

#10214 Fix modular computer program creation runtimes
  code/modules/modular_computers/file_system/programs/system/client_manager.dm
  html/changelogs/johnwildkins-compfix.yml
Labels: Awaiting Merge, Bugfix

#10208 Alterable Organs and Vaurca Nighteyes Fix
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/organs/internal/species/tajara.dm
  code/modules/organs/internal/species/vaurca.dm
  html/changelogs/geeves-alterable_organs_fix.yml
Labels: Awaiting Merge, Bugfix

#10160 Ghost Spawner: Better Integration for Atoms
  aurorastation.dme
  code/__defines/ghostspawner.dm
  code/controllers/subsystems/ghostroles.dm
  code/game/atoms.dm
  code/game/gamemodes/antagspawner.dm
  code/modules/ghostroles/spawner/atom/borer.dm
  code/modules/ghostroles/spawner/atom/golem.dm
  code/modules/ghostroles/spawner/atom/mining_drone.dm
  code/modules/ghostroles/spawner/atom/posibrain.dm
  code/modules/ghostroles/spawner/atom/skeleton.dm
  code/modules/ghostroles/spawner/atom/syndicate_cyborg.dm
  code/modules/ghostroles/spawner/atom/wizard_familiar.dm
  code/modules/ghostroles/spawner/atom/wizardapprentice.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/antagonist/skeleton.dm
  code/modules/ghostroles/spawner/human/antagonist/wizard.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/golem.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/ghostroles/spawner/misc/mining_drone.dm
  code/modules/ghostroles/spawner/misc/posibrain.dm
  code/modules/ghostroles/spawner/misc/syndicate_cyborg.dm
  code/modules/ghostroles/spawner/simplemob/borer.dm
  code/modules/ghostroles/spawner/simplemob/maintdrone.dm
  code/modules/ghostroles/spawner/simplemob/rat.dm
  code/modules/ghostroles/spawner/simplemob/simplemob.dm
  code/modules/ghostroles/spawner/simplemob/spider_queen.dm
  code/modules/ghostroles/spawner/simplemob/wizard_familiar.dm
  code/modules/mining/minebot.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/mob/living/silicon/robot/syndicate_robot.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  code/modules/spell_system/artifacts/items/apprentice_pebble.dm
  code/modules/spell_system/artifacts/items/monster_manual.dm
  code/modules/spell_system/spells/spell_list/others/generic/raise_dead.dm
Labels: Awaiting Merge, Changelog Required

#10212 Emergency Grill Things
  aurorastation.dme
  code/__defines/misc.dm
  code/modules/cooking/machinery/cooking_machines/_appliance.dm
  code/modules/cooking/machinery/cooking_machines/_cooker.dm
  code/modules/cooking/machinery/cooking_machines/container.dm
  code/modules/cooking/machinery/cooking_machines/grill.dm
  code/modules/cooking/recipes/recipes_grill.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/geeves-forgodssake.yml
  icons/obj/cooking_machines.dmi
  sound/effects/meatsizzle.ogg
Labels: High Priority, Review Required, Sprites, Waiting Period

#10221 Fixes a missing include
  aurorastation.dme
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#10194 Tweaks the interior layout of the research shuttle
  html/changelogs/201007-mapping_researchshuttle.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10197 VueUI vending machines: buying space cola with aesthetics
  code/game/machinery/vending.dm
  html/changelogs/johnwildkins-vending_ui.yml
  vueui/src/components/view/machinery/vending.vue
Labels: Awaiting Merge, VueUi

#10222 Removes the Vox Trader
  aurorastation.dme
  code/datums/trading/vox.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10204 Replace ID/PDA/Wallet checks with GetID()
  code/game/gamemodes/objective.dm
  code/game/machinery/alarm.dm
  code/game/machinery/cloning.dm
  code/game/machinery/computer/camera_circuit.dm
  code/game/machinery/computer/cloning.dm
  code/game/machinery/computer/shuttle.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/turret_control.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/admin/verbs/debug.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/economy/ATM.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/bot/secbot.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/power/apc.dm
  code/modules/power/singularity/collector.dm
  code/modules/power/singularity/emitter.dm
  code/modules/shieldgen/emergency_shield.dm
  code/modules/shieldgen/shieldwallgen.dm
  html/changelogs/johnwildkins-cardholders.yml
Labels: Awaiting Merge, Bugfix

#10224 Revert "VueUI vending machines: buying space cola with aesthetics (#1…
  code/game/machinery/vending.dm
  vueui/src/components/view/machinery/vending.vue
Labels: Bugfix, Changelog Required, Review Required, VueUi

#10200 Decreases the cargo shuttle move time
  code/controllers/subsystems/cargo.dm
  html/changelogs/arrow768-cargo-shuttle-time.yml
Labels: Awaiting Merge, Do Not Merge

#10203 Converts the diona accent into Rootsong and Voidsong.
  code/modules/background/accent/diona.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/caelphon-dionaaccents.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#10205 Makes the character preview show more than the first accessory
  code/controllers/subsystems/job.dm
  html/changelogs/Ferner-201008-coding_accessorypreview.yml
Labels: Awaiting Merge

#10178 Restricts what accents synthetics can mimic
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/silicon_procs.dm
  html/changelogs/alberyk-robotaccent.yml
Labels: Lore Impact, Review Required

#10231 Fixes the sugar tree candy recipe not working properly
  code/modules/cooking/recipes/cultural/recipes_tajara.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  html/changelogs/alberyk-recipefix.yml
  icons/obj/hydroponics_products.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#10226 Force Away Mission Verb
  code/controllers/subsystems/initialization/map_finalization.dm
  code/modules/admin/admin_verbs.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#10215 Removes camera monitor from wristbounds/tablets.
  code/modules/modular_computers/file_system/programs/security/camera.dm
  html/changelogs/johnwildkins-monitornerf.yml
Labels: Awaiting Merge

#10186 Morph Gore
  aurorastation.dme
  code/__defines/mobs.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/morph.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/structures/alien/alien.dm
  code/game/objects/structures/alien/node.dm
  code/game/objects/structures/alien/resin.dm
  code/game/objects/structures/gore/core.dm
  code/game/objects/structures/gore/nest.dm
  code/game/objects/structures/gore/tendrils.dm
  code/game/objects/structures/gore/wall.dm
  code/game/objects/structures/stool_bed_chair_nest/alien_nests.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/hostile/morph.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/spell_system/spells/spell_list/self/conjure/morph_spells/create_nest.dm
  code/modules/spell_system/spells/spell_list/self/conjure/morph_spells/create_node.dm
  html/changelogs/geeves-gore_pile.yml
  icons/mob/npc/animal.dmi
  icons/mob/screen/morph.dmi
  icons/mob/screen/spells.dmi
  icons/obj/gore_structures.dmi
Labels: Awaiting Merge, Sprites

#10218 Removes nearly all medical alt titles
  code/game/jobs/job/medical.dm
  html/changelogs/alberyk-medicalmeme.yml
Labels: Awaiting Merge

#10219 ui title is white again
  html/changelogs/wezzy_uititlebakc.yml
  vueui/src/assets/theme-nano.scss
Labels: Awaiting Merge, VueUi

#10235 Z-Move Fix
  code/modules/multiz/movement.dm
  code/modules/multiz/zmimic/mimic_common.dm
  html/changelogs/geeves-z_move_fix.yml
Labels: Awaiting Merge, Bugfix

#10236 Diona Name Fix
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  html/changelogs/geeves-diona_name_fix.yml
Labels: Awaiting Merge, Bugfix

#10248 Fixes pAI atmospherics sensor.
  aurorastation.dme
  code/modules/modular_computers/file_system/programs/pai/atmosphere.dm
  html/changelogs/mattatlas-paiatmosfix.yml
Labels: Awaiting Merge, Bugfix

#10228 Tajaran Consular Officer Updates: Diplomatic Incident Edition
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/field_ration.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/background/accent/human.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/cooking/recipes/cultural/recipes_tajara.dm
  code/modules/hydroponics/seed_datums/aquaculture.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-tajconsular.yml
  icons/obj/food.dmi
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites

#10227 Admins: Super Meat
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  html/changelogs/geeves-super_meat.yml
Labels: Awaiting Merge

#10256 Backend tweaks to find issue with firearms program
  code/modules/modular_computers/file_system/programs/security/guntracker.dm
  html/changelogs/johnwildkins-firearm.yml
  vueui/src/components/view/mcomputer/security/guntracker.vue
Labels: Awaiting Merge, Bugfix, VueUi

#10240 VueUI Vending Machines
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/seed_packets.dm
  html/changelogs/johnwildkins-vend2.yml
  vueui/src/components/view/machinery/vending.vue
Labels: Awaiting Merge, VueUi

#10216 Reverts the ping subsystem, hopefully solving chat instability
  code/modules/client/asset_cache.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority, Test Merge Candidate

#10192 Unapologetic Research Buffs: A Rope of Sand
  code/game/machinery/autolathe_datums.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/research/designs/protolathe/mining_designs.dm
  code/modules/research/designs/protolathe/tool_designs.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
  html/changelogs/snakebittenn-fuckresearch.yml
Labels: Awaiting Merge, Changes Required, Feedback Required

#10265 Revert "VueUI Vending Machines"
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/seed_packets.dm
  vueui/src/components/view/machinery/vending.vue
Labels: Awaiting Merge, Bugfix, Changelog Required, VueUi

#10268 Firing pin sorting for guntracker moved to client-side.
  code/modules/modular_computers/file_system/programs/security/guntracker.dm
  html/changelogs/johnwildkins-firearmfix3.yml
  vueui/src/components/view/mcomputer/security/guntracker.vue
Labels: Awaiting Merge, Bugfix, VueUi

#10241 Removes old psych treatments
  html/changelogs/TheDocOct - PsychCleanup.yml
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#10242 Simple Mob Shields
  code/modules/mob/living/carbon/human/human_attackhand.dm
  html/changelogs/geeves-shield_stuff.yml
Labels: Awaiting Merge

#10252 Phoron bolts no longer deal organ damage
  code/modules/projectiles/projectile/energy.dm
  html/changelogs/alberyk-phoronbolt.yml
Labels: Awaiting Merge

#10266 Fixes being unable to activate low light vision while cuffed
  code/modules/organs/internal/species/tajara.dm
  html/changelogs/alberyk-eye.yml
Labels: Awaiting Merge, Bugfix

#10184 Adds a Himeo voidsuit.
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/mining/mine_items.dm
  html/changelogs/stryker-himeosuit.yml
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/mining_contained.dmi
Labels: Awaiting Merge, Sprites

#10238 (Literal) Pool Chairs
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  icons/obj/furniture.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#10271 Bugfixes and improvements for "fancy" storages
  code/game/objects/items/weapons/storage/fancy.dm
  html/changelogs/amunak-fancy-fixes.yml
Labels: Awaiting Merge, Bugfix

#10243 Up round-end time by 60 seconds
  code/controllers/configuration.dm
  code/controllers/subsystems/ticker.dm
  config/example/config.txt
  html/changelogs/TheDocOct -  More round end time.yml
Labels: Awaiting Merge

#10267 Better gFI performance, icon2html defaults to south facing.
  code/_helpers/icons.dm
  code/datums/records.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/client/asset_cache.dm
  code/modules/goonchat/_helpers.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/mattatlas-speedtime.yml
Labels: High Priority, Performance, Review Required

#10258 Ghosts can see pretty closet contents lists
  code/__defines/_macros.dm
  code/_helpers/lists.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/client/preference_setup/global/03_language.dm
  html/changelogs/amunak-lists.yml
Labels: Awaiting Merge

#10283 Fixes Odin bartenders/chefs sometimes spawning shoeless
  code/datums/outfits/event/outfit_nanotrasen.dm
  html/changelogs/Ferner-201018-bugfix_odinshoes.yml
Labels: Awaiting Merge, Bugfix

#10284 Fixes the spy bug's radio function
  code/game/objects/items/devices/spy_bug.dm
  html/changelogs/alberyk-bugfix.yml
Labels: Awaiting Merge, Bugfix

#10264 Allow observers to follow all living things on restricted levels
  code/modules/mob/abstract/observer/observer.dm
  html/changelogs/amunak-observer-follow-fix.yml
Labels: Awaiting Merge

#10279 CCIA Recorder Fix
  code/modules/cciaa/cciaa_items.dm
  html/changelogs/arrow768-ccia-recorder-fix.yml
Labels: Awaiting Merge, Bugfix

#10281 Makes the remote warden's sensors default to off
  code/modules/clothing/under/jobs/security.dm
  code/modules/mob/living/carbon/human/human_species.dm
  html/changelogs/Ferner-201018-bugfix_remoteuniform.yml
Labels: Awaiting Merge, Bugfix

#10273 Three Towns Cider
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  html/changelogs/geeves-cheers_ill_drink_to_that.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#10301 Fix labels on clothing being transferred to fibers
  code/modules/detectivework/forensics.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/detectivework/tools/sample_kits.dm
  html/changelogs/johnwildkins-fibers.yml
Labels: Awaiting Merge, Bugfix

#10274 Adds AI, telecomms, bridge consoles and some other misc. things to runtime for easier debugging
  code/game/objects/structures/crates_lockers/crates.dm
  html/changelogs/amunak-runtime-mapping.yml
  maps/runtime/code/runtime.dm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
Labels: Awaiting Merge, Mapping: Runtime

#9327 C4 (Plastique) Improvements
  aurorastation.dme
  code/game/objects/effects/plastic_explosive.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mining/mine_items.dm
  html/changelogs/geeves-c4_overlay.yml
Labels: Awaiting Merge

#10307 Fix broken accent icons
  code/modules/client/asset_cache.dm
  html/changelogs/johnwildkins-accentfix.yml
Labels: Awaiting Merge, Bugfix

#10259 Organize adminbus loadouts a bit better and a bit more
  aurorastation.dme
  code/datums/outfits/event/outfit_events.dm
  code/modules/admin/verbs/debug.dm
  html/changelogs/alberyk-solstuff.yml
  icons/obj/ammo.dmi
  icons/obj/guns/battlerifle.dmi
  icons/obj/guns/malella.dmi
Labels: Awaiting Merge, Sprites

#10308 Fixes prescription glasses not fixing nearsightedness
  code/controllers/subsystems/job.dm
  html/changelogs/mattatlas-eyent.yml
Labels: Awaiting Merge, Bugfix

#10305 NTNet Ethernet Bugfix
  code/modules/modular_computers/hardware/network_card.dm
  html/changelogs/geeves-ntnet_comp_stuff.yml
Labels: Awaiting Merge, Bugfix

#10285 Makes the rfd-m fit in the suit storage of mining rigs/voidsuits
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/clothing/spacesuits/void/station.dm
  html/changelogs/Ferner-201018-coding_miningsuitrfd.yml
Labels: Awaiting Merge

#10312 Hand labelers are no longer eaten by storage containers
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/paperwork/handlabeler.dm
  html/changelogs/johnwildkins-labeler.yml
Labels: Awaiting Merge, Bugfix

#10294 Adds zippos and a skirt suit.
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/stryker-loadout4.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/mob/uniform.dmi
  icons/obj/cigs_lighters.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#10295 Ported Map Effects
  aurorastation.dme
  code/game/sound.dm
  code/modules/effects/map_effects/beam_point.dm
  code/modules/effects/map_effects/effect_emitter.dm
  code/modules/effects/map_effects/map_effects.dm
  code/modules/effects/map_effects/perma_light.dm
  code/modules/effects/map_effects/portal.dm
  code/modules/effects/map_effects/screen_shaker.dm
  code/modules/effects/map_effects/sound_emitter.dm
  code/modules/mob/living/say.dm
  html/changelogs/geeves-thinking_with_portals.yml
  icons/effects/map_effects.dmi
Labels: Awaiting Merge, Sprites

#10292 Limits who can fire some kinetic accelerator frames
  code/modules/custom_ka/frames.dm
  html/changelogs/Ferner-201019-coding_kahandling.yml
Labels: Awaiting Merge

#10288 SMES improvements - visible hatch actions, examine to see coils, coils show rating and throughput
  code/modules/power/cell.dm
  code/modules/power/smes.dm
  code/modules/power/smes_construction.dm
  html/changelogs/amunak-smes-improvements.yml
Labels: Awaiting Merge

#10297 Makes being thrown by sudden acceleration also make you fall over
  code/modules/shuttles/shuttle.dm
  html/changelogs/Ferner-201019-coding_sudden-acceleration.yml
Labels: Awaiting Merge

#10286 Makes ghosts see contents of any storage item
  code/game/objects/items/weapons/storage/storage.dm
  html/changelogs/amunak-ghosts-see-storage-contents.yml
Labels: Awaiting Merge

#10298 Shortens shuttle transition time if both locations are on station z-levels
  code/modules/shuttles/shuttle_autodock.dm
  html/changelogs/Ferner-201019-coding_stationtransit.yml
Labels: Awaiting Merge

#10169 Makes synths not disposable
  code/modules/recycling/disposal.dm
  html/changelogs/disposalstweak.yml
Labels: Awaiting Merge

#10290 Implant Checking
  code/modules/mob/living/carbon/carbon.dm
  html/changelogs/geeves-touchy_feely.yml
Labels: Awaiting Merge

#10300 Renames Medical Resident to Medical Intern, lowers age to 18.
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/jobs.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/johnwildkins-interns.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#10302 Antags can now show as "apprehended" at end of round
  code/__defines/misc.dm
  code/datums/mind.dm
  code/game/antagonist/antagonist_print.dm
  code/game/area/areas.dm
  code/game/gamemodes/events.dm
  html/changelogs/amunak-antags-print-apprehended.yml
  maps/_common/areas/shuttles.dm
  maps/_common/areas/special.dm
  maps/_common/areas/station/security.dm
Labels: Awaiting Merge

#10320 Fixes hostile mobs attacking unraised turrets
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Ferner-201022-bugfix_hostile-turret-attack.yml
Labels: Awaiting Merge, Bugfix

#10257 Trash Piles
  aurorastation.dme
  code/game/objects/structures/trash_pile.dm
  code/modules/projectiles/guns/projectile/improvised.dm
  html/changelogs/geeves-trash_piles.yml
  icons/obj/trash_piles.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#10050 Tech Support Things
  code/game/jobs/job/civilian.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  html/changelogs/geeves-tech_support_things.yml
Labels: Awaiting Merge

#10275 Makes crew manifest pop-up use a single proc, makes it prettier
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/controllers/subsystems/records.dm
  code/modules/admin/secrets/admin_secrets/show_crew_manifest.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  html/changelogs/amunak-crewmanifest.yml
Labels: Awaiting Merge

#10206 Modular Wristbound Sprite Revert
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  html/changelogs/geeves-wristbound_sprite_revert.yml
  icons/obj/modular_wristbound.dmi
Labels: Awaiting Merge, Feedback Required, Sprites

#10289 Extraction Tweaks
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/material/knives.dm
  html/changelogs/geeves-ghetto_extraction.yml
Labels: Awaiting Merge

#10287 Tracking Slugs
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implantpad.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
  html/changelogs/geeves-tracking_shot.yml
  icons/obj/ammo.dmi
  icons/obj/storage.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#10337 Fixes some shuttles sometimes bringing bluespace turfs with them
  code/game/atoms_movable.dm
  html/changelogs/Ferner-201024-bugfix_bluespaceremains.yml
  maps/aurora/code/aurora_shuttles.dm
Labels: Awaiting Merge, Bugfix

#10339 Migration event fixes
  code/_helpers/turfs.dm
  code/modules/events/carp_migration.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  html/changelogs/Ferner-201024-bugfix_carpsight.yml
Labels: Awaiting Merge, Bugfix

#10333 some bugfixes
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/materials/material_recipes.dm
  code/modules/tables/rack.dm
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#10314 Improved UI Icons
  html/changelogs/geeves-improve_ui_icons.yml
  icons/mob/status_indicators.dmi
Labels: Awaiting Merge, Sprites

#10291 Improved Implant Tracker
  aurorastation.dme
  code/_helpers/text.dm
  code/game/gamemodes/changeling/implements/powers/hivemind.dm
  code/game/machinery/computer/prisoner.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/security/implant_tracker.dm
  code/modules/research/designs/circuit/computer_circuits.dm
  html/changelogs/geeves-better_tracking.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  vueui/src/components/view/mcomputer/security/implanttracker.vue
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, VueUi
