Repository Aurorastation/Aurora.3, pull requests merged in 2020-01, with the labels that each got.

#7846 Give cyborgs the possibility to open morgue trays
  code/game/objects/structures/morgue.dm
  html/changelogs/goret-robots-body-right.yml
Labels: Awaiting Merge

#7848 Allow virus samples being picked up by medical borgs
  code/modules/mob/living/silicon/robot/gripper.dm
  html/changelogs/goret-robotto-virus-dishes.yml
Labels: Awaiting Merge

#7844 Add the roller bed rack to the medical module
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/goret-med-borgo-buff.yml
Labels: Awaiting Merge

#7827 Robolimb Durability Buff
  code/modules/organs/organ_external.dm
  code/modules/surgery/robotics.dm
  html/changelogs/paradoxspace-fleshisweak.yml
Labels: Awaiting Merge

#7849 War on Christmas: Endgame, Removes some leftover cloning circuits
  html/changelogs/Ferner-191229-mapping_endingchristmas.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7739 Rudimentary Mech Z-level Travel and Hoverpods
  aurorastation.dme
  code/modules/heavy_vehicle/components/legs.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/premade/hoverpod.dm
  code/modules/heavy_vehicle/premade/misc.dm
  code/modules/multiz/movement.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  html/changelogs/geeves - hoverpods.yml
  icons/mecha/mech_parts.dmi
Labels: Awaiting Merge, Sprites

#7839 Custom items 28/12
  code/modules/clothing/head/misc_special.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/ioraks_cape.dmi
  icons/obj/custom_items/sentiment_bouquet.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#7877 Fixe the brown hip holster having no icon
  code/modules/clothing/under/accessories/holster.dm
  html/changelogs/alberyk-holsterfix.yml
Labels: Awaiting Merge, Bugfix

#7750 Added Synthetics to the Manifest
  code/_helpers/text.dm
  code/controllers/subsystems/records.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/geeves - manifesto.yml
Labels: Awaiting Merge

#7758 Forensics QOL Changes
  code/game/machinery/Sleeper.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/power/apc.dm
  html/changelogs/crosarius-forensics-QOL.yml
Labels: Awaiting Merge

#7889 Hoverpod Chassis Fix
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  html/changelogs/geeves - mechfabhoverpodfix.yml
Labels: Awaiting Merge, Bugfix

#7857 Big Unathi Update
  code/datums/outfits/ert/kataphract_ert.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/geeves - unathiarmoursprites.yml
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/suit.dmi
  icons/obj/clothing/species/unathi/hats.dmi
  icons/obj/clothing/species/unathi/suits.dmi
  icons/obj/kneehammer.dmi
  icons/obj/unathi_items.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#7858 Tabling Changes
  code/modules/tables/interactions.dm
  html/changelogs/geeves - tabling.yml
Labels: Awaiting Merge

#7887 Devour fixes and improvements. Allows dionae to devour.
  aurorastation.dme
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/organs/internal/species/diona.dm
  code/modules/organs/internal/stomach.dm
  code/modules/organs/subtypes/diona.dm
  html/changelogs/mattatlas-devourfixes.yml
Labels: Awaiting Merge, Bugfix

#7869 Adds an engineer role for the freelancer mercenaries, purges a lot of their access
  code/datums/outfits/ert/ert.dm
  code/game/jobs/access.dm
  code/modules/ghostroles/spawner/human/ert.dm
  html/changelogs/Ferner-191231-coding_freelancerengineer.yml
Labels: Awaiting Merge

#7870 Port the T-ray scanner from Bay
  code/game/objects/items/devices/t_scanner.dm
  html/changelogs/goret-tray-port.yml
Labels: Awaiting Merge

#7896 Fixes scream spam.
  code/modules/mob/living/carbon/human/emote.dm
  html/changelogs/mattatlas-screams.yml
Labels: Awaiting Merge, Bugfix

#7891 Misc Hoverpod Fixes
  code/modules/heavy_vehicle/mech_movement.dm
  code/modules/heavy_vehicle/premade/hoverpod.dm
  html/changelogs/geeves - hoverpodfixes.yml
  icons/mecha/mech_parts.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7854 IPC rework
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/Aboshehab - IPC Rework.yml
Labels: Awaiting Merge, Lore Impact

#7861 More harddel fixes.
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/brain/death.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/organs/internal/brain.dm
  html/changelogs/mattatlas-delfixes.yml
Labels: Awaiting Merge

#7817 Ports sensor monitoring program to VueUI.
  code/controllers/subsystems/theming.dm
  code/datums/repositories/crew.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  html/changelogs/example copy.yml
  nano/templates/crew_monitor.tmpl
  vueui/src/components/view/mcomputer/medical/sensors.vue
  vueui/src/components/vui/progress.vue
Labels: Awaiting Merge, VueUi

#7798 Replaces Subsystems (mostly) with internal computing device
  aurorastation.dme
  code/__defines/misc.dm
  code/_onclick/hud/ai.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/modules/mob/living/silicon/computer.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/power.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/computers/subtypes/dev_silicon.dm
  code/modules/modular_computers/computers/subtypes/preset_silicon.dm
  code/modules/modular_computers/file_system/programs/engineering/_engineering.dm
  code/modules/modular_computers/file_system/programs/games/arcade.dm
  code/modules/modular_computers/file_system/programs/games/sudoku/sudoku.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  code/modules/modular_computers/file_system/programs/security/camera.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge

#7908 Fixes integrated computing device's hud icon
  code/modules/modular_computers/computers/subtypes/dev_silicon.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, Bugfix

#7744 Adds a new away site with playable ghost roles, Kataphract Chapter
  aurorastation.dme
  code/game/jobs/access_datum.dm
  code/modules/ghostroles/spawner/human/kataphract.dm
  config/example/space_ruins.json
  html/changelogs/Leudoberct1-kataphractchaptermap.yml
  maps/_common/areas/special.dm
  maps/space_ruins/kataphract_chapter.dmm
Labels: Awaiting Merge

#7698 Adds Bughunt, Incursion, Spy vs Spy, Tower Defense
  aurorastation.dme
  code/__defines/species_languages.dm
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/station/renegade.dm
  code/game/gamemodes/mixed/bughunt.dm
  code/game/gamemodes/mixed/incursion.dm
  code/game/gamemodes/mixed/spyvspy.dm
  code/game/gamemodes/mixed/towerdefense.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/misc.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/psionics/faculties/psychokinesis.dm
  code/modules/surgery/implant.dm
  html/changelogs/mattatlasgeeves-gamemodeboogaloo.yml
Labels: Awaiting Merge

#7911 fixes tableslamming being instantly repeatable
  code/modules/tables/interactions.dm
  html/changelogs/geeves - tablesmash_cooldown.yml
Labels: Awaiting Merge, Bugfix

#7913 Adjusts suit sensor monitor layout when tracking is binary.
  vueui/src/components/view/mcomputer/medical/sensors.vue
Labels: Awaiting Merge, Bugfix, Changelog Required, VueUi

#7918 Ports a fix from TG
  code/modules/admin/IsBanned.dm
  code/world.dm
Labels: Changelog Required, High Priority, Review Required

#7917 Fixes borers and antag spawning.
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/antagonist_add.dm
  code/game/antagonist/station/renegade.dm
  code/game/gamemodes/mixed/bughunt.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/misc.dm
  html/changelogs/mattatlas-borerfixesagain.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, High Priority, Mapping: Aurora

#7920 Cargo Bowman Headset Fix
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  html/changelogs/paradoxspace-scout.yml
Labels: Awaiting Merge, Bugfix

#7885 Dominate now posts to the chat window.
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/Kaedwuff - Dominate Buff.yml
Labels: Awaiting Merge

#7924 Fixes exosuit designs being unticked in the dme.
  aurorastation.dme
  html/changelogs/mattatlas-dmefix.yml
Labels: Awaiting Merge, Bugfix

#7927 Fixes AOOC not being given to people properly.
  code/game/antagonist/antagonist_add.dm
  html/changelogs/mattatlas-thememesneverend.yml
Labels: Bugfix, High Priority, Review Required

#7925 Fail2topic
  aurorastation.dme
  code/_helpers/logging.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/fail2topic.dm
  code/world.dm
  config/example/config.txt
Labels: Changelog Required, High Priority, Review Required, Waiting Period

#7886 Give AI LOOC powers
  code/game/verbs/ooc.dm
  html/changelogs/geeves - loocforai.yml
Labels: Awaiting Merge

#7884 Attemps to make vampire draining a bit less lethal
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/alberyk-vampirefix.yml
Labels: Awaiting Merge

#7882 Hostile mobs update and tweaks
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/Sindorman-carps.yml
Labels: Awaiting Merge

#7900 Removes DNAChange Effect from the list of possible artifact effects.
  aurorastation.dme
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_dnaswitch.dm
  html/changelogs/aticius-greenandpinksyndrome.yml
Labels: Awaiting Merge

#7904 Checking Injuries now shows Bleeding
  code/modules/mob/living/carbon/carbon.dm
  html/changelogs/geeves - self-examination.yml
Labels: Awaiting Merge

#7902 Adds a first aid closet to Red Dock.
  html/changelogs/Leudoberct1-reddockfirstaid.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7892 Ports Baystation's handling of monkey/human NPCs.
  code/_helpers/turfs.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  html/changelogs/mattatlas-monkey.yml
  icons/mob/human_races/masks/blood_resomi.dmi
  icons/mob/human_races/masks/dam_mask_resomi.dmi
  icons/mob/human_races/masks/dam_resomi.dmi
  icons/mob/human_races/monkeys/monkey_body.dmi
Labels: Awaiting Merge, Sprites

#7890 Exosuit Passenger Compartments
  code/game/machinery/Sleeper.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  html/changelogs/geeves - mechdiddle.yml
  icons/mecha/mech_equipment.dmi
  icons/mecha/mecha_weapon_overlays.dmi
Labels: Awaiting Merge, Sprites

#7930 Miscellaneous borer/bughunt fixes.
  code/game/gamemodes/mixed/bughunt.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  html/changelogs/mattatlas-borerfix.yml
Labels: Awaiting Merge, Bugfix

#7931 Fixes age restrictions not working when jobs were restricted by species
  code/modules/client/preference_setup/occupation/occupation.dm
  html/changelogs/alberyk-restrictionjob.yml
Labels: Awaiting Merge, Bugfix

#7943 Fixes Borer spawns again
  code/game/antagonist/alien/borer.dm
  html/changelogs/geeves - fuckpissshit.yml
Labels: Awaiting Merge, Bugfix

#7936 Fixes suit sensor monitor not auto updating.
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  html/changelogs/autoupdate.yml
Labels: Awaiting Merge, Bugfix

#7926 Character set up issues for IPC's bugfix
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/Aboshehab - Bugfix for IPC rework.yml
Labels: Awaiting Merge, Bugfix

#7909 More Kataphract Stuff
  code/datums/outfits/ert/kataphract_ert.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/clothing/shoes/magboots.dm
  html/changelogs/geeves - kataphract_satchel.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/tank.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#7901 Removes Bedhead 5.
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/mattatlas-bedheadfive.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#7945 Fixes Pun Pun causing runtimes by knocking on windows.
  code/game/objects/structures/window.dm
  html/changelogs/mattatlas-cursedcodeactually.yml
Labels: Bugfix, Review Required

#7960 Projectiles will no longer lag the server to death
  code/modules/projectiles/projectile.dm
  html/changelogs/skull132-fixes_projectile_lag.yml
Labels: Awaiting Merge, Bugfix, High Priority

#7954 Fixes HoP laptop not spawning with Card Slot
  code/modules/modular_computers/computers/subtypes/preset_laptop.dm
  html/changelogs/geeves - hoptopfix.yml
Labels: Awaiting Merge, Bugfix

#7907 Adds Recolorable Aprons
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/Kaedwuff - Colored Aprons.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Review Required, Sprites

#7878 Revolution Improvements
  aurorastation.dme
  code/datums/outfits/outfit_antag.dm
  code/datums/trading/ai.dm
  code/datums/uplink/revolution.dm
  code/datums/uplink/uplink_categories.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/objects/items/devices/drilldroptargetter.dm
  code/game/objects/items/devices/drop_targeter/_droptargeter.dm
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/uplink.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/items/weapons/implants/implantcase.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  html/changelogs/geeves - bigdaddyrev.yml
  maps/templates/orbital/combat-mecha.dmm
  maps/templates/orbital/drill.dmm
  maps/templates/orbital/mini-armory.dmm
Labels: Awaiting Merge

#7955 Fixes bluespace borg phase out typos
  code/modules/mob/living/silicon/robot/presets.dm
  html/changelogs/Arturlang-PR-7955.yml
Labels: Awaiting Merge, Bugfix

#7935 Replace the bee smoker sprite
  html/changelogs/goret-removal-of-uglyness.yml
  icons/obj/beekeeping.dmi
Labels: Awaiting Merge, Sprites

#7939 Unathi Resprite
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/Aticius-UnathiSprites-SHT.yml
  icons/mob/human_races/markings.dmi
  icons/mob/human_races/unathi/r_lizard.dmi
Labels: Awaiting Merge, Sprites

#7953 Adds sanity checks to hair styling
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/Arturlang-PR-#7953.yml
Labels: Awaiting Merge, Bugfix

#7977 Fixes Larger than Small Gemstones Not Spawning
  code/modules/mining/gemstones.dm
  html/changelogs/geeves - kaedshitcode.yml
Labels: Awaiting Merge, Bugfix

#7916 Welding Mask Fix
  code/modules/clothing/head/misc_special.dm
  html/changelogs/geeves - weldingmask_tweak.yml
Labels: Awaiting Merge, Bugfix

#7970 Fixes glasses not having their on-mob sprite color overriden when changed via gear_tweak
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/200110-bugfix_glassescolor.yml
Labels: Awaiting Merge, Bugfix

#7956 Set Pose Big Box
  code/modules/mob/living/carbon/human/emote.dm
  html/changelogs/wezzy_setpose_bigbox.yml
Labels: Awaiting Merge

#7897 rustg for UDP shipping
  UDPShipper.dll
  code/__defines/rust_g.dm
  code/_helpers/logging.dm
  code/controllers/configuration.dm
  code/modules/udp/ship_udp.dm
  config/example/config.txt
  html/changelogs/skull132-udp_updates.yml
  lib/UDPShipper/UDPShipper.cpp
  rust_g.dll
Labels: Review Required

#7978 Fixes tcfl rig shoes sprites
  html/changelogs/alberyk-shoefix.yml
  icons/mob/feet.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7963 Adds fib agents as ghost roles
  code/datums/outfits/outfit_admin.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/ghostroles/spawner/human/admin.dm
  icons/mob/suit.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#7961 Add a recharge station for borgs in medical
  html/changelogs/goret-borgie-station-medical.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#7982 Renegades now have their guns put in their backpack.
  code/game/antagonist/station/renegade.dm
  html/changelogs/mattatlas-revguns.yml
Labels: Awaiting Merge, Bugfix

#7991 Prevents shuttle from moving if there is no destination.
  code/__defines/misc.dm
  code/modules/overmap/ships/computers/shuttle.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_console.dm
  code/modules/shuttles/shuttle_emergency.dm
  code/modules/shuttles/shuttle_ferry.dm
  html/changelogs/neexplody.yml
  nano/templates/shuttle_control_console.tmpl
Labels: Bugfix, Review Required

#7984 Fixes a whole bunch of bugs.
  code/game/objects/structures/flora.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/modular_computers/computers/subtypes/dev_silicon.dm
  code/modules/modular_computers/computers/subtypes/preset_silicon.dm
  code/modules/organs/internal/_internal.dm
  code/modules/psionics/complexus/complexus_process.dm
  code/modules/surgery/organs_internal.dm
  html/changelogs/mattatlas-miscfixes.yml
Labels: Awaiting Merge, Bugfix

#7975 Jetpack Expectation Fix
  code/game/objects/items/weapons/tanks/jetpack.dm
  html/changelogs/geeves - jetpackfix.yml
Labels: Awaiting Merge, Bugfix

#7523 VR, Remote Mechs and Remote Robots
  aurorastation.dme
  code/controllers/subsystems/virtual_reality.dm
  code/game/objects/structures/vr/_remote_chair.dm
  code/game/objects/structures/vr/mech_chair.dm
  code/game/objects/structures/vr/robot_chair.dm
  code/modules/heavy_vehicle/interface/screen_objectsa.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/premade/_premade.dm
  code/modules/heavy_vehicle/premade/miner.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/living_defines.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/projectiles/targeting/targeting_mob.dm
  html/changelogs/geeves - remoteMechs.yml
  icons/obj/furniture.dmi
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#7994 Fixes the FIB agent spawner.
  code/modules/ghostroles/spawner/human/admin.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7965 Nerfs pressure damage.
  code/__defines/atmos.dm
  html/changelogs/mattatlas-pressureadjustments.yml
Labels: Awaiting Merge

#7996 Makes orbital droppers use map_templates.
  aurorastation.dme
  code/game/objects/items/devices/drop_targeter/_droptargeter.dm
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  html/changelogs/mattatlas-maploader.yml
  maps/templates/orbital/orbital_templates.dm
Labels: Awaiting Merge, Bugfix

#7967 Many brainmed changes.
  code/__defines/damage_organs.dm
  code/game/machinery/iv_drip.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/metroid/powers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/subtypes/vaurca.dm
  code/modules/organs/subtypes/xenos.dm
  html/changelogs/mattatlas-braincase.yml
Labels: Awaiting Merge

#7997 FIB escort fixes.
  code/datums/outfits/outfit_admin.dm
  code/modules/ghostroles/spawner/human/admin.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7998 Quick round of fail2topic fixes
  code/controllers/subsystems/fail2topic.dm
  code/world.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#7972 Add flowercrowns to the loadout
  code/modules/client/preference_setup/loadout/loadout_head.dm
  html/changelogs/goret-crown-for-the-queen.yml
Labels: Awaiting Merge

#7947 Rename Emergency Physician to Trauma Physician
  code/game/jobs/job/medical.dm
  html/changelogs/sierrakomodo - rename emergency physician.yml
Labels: Awaiting Merge

#7971 Adds a Frontier Cowboy Gear Crate
  code/datums/uplink/gear loadout.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  html/changelogs/geeves - 18nakedcowboys.yml
Labels: Awaiting Merge

#7999 Fixes AI track button + extra
  html/changelogs/track fix.yml
  vueui/package.json
  vueui/src/components/view/mcomputer/medical/sensors.vue
Labels: Awaiting Merge, Bugfix, VueUi

#7973 New Trauma Physician Uniform
  code/game/jobs/job/medical.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/furrycactus - ep uniform.yml
  icons/mob/feet.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#7976 Adds borer as its own gamemode. Switches some psionics around.
  aurorastation.dme
  code/game/antagonist/alien/borer.dm
  code/game/gamemodes/borer/borer.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/psionics/faculties/energistics.dm
  html/changelogs/mattatlas-borering.yml
  sound/effects/psi/thunderstrike.ogg
Labels: Awaiting Merge, Balance

#8007 Fixes Powered Hammer Sprites
  html/changelogs/geeves - hammertime.yml
  icons/obj/kneehammer.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8014 Adds an internal affairs stamp icon
  html/changelogs/intaff_stamp.yml
  icons/obj/bureaucracy.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7983 Makes Reishi and Ambrosia More Easily Obtainable
  code/game/machinery/vending_types.dm
  html/changelogs/furrycactus - reishi.yml
Labels: Awaiting Merge

#7988 Industrial Drills: Text update edition
  code/modules/mining/drilling/drill.dm
  html/changelogs/doxx - drills.yml
Labels: Awaiting Merge

#8018 Criminal status editing now uses a dropdown menu
  code/datums/records.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  html/changelogs/arrest_dropdown.yml
  vueui/src/components/view/records/security.vue
Labels: Awaiting Merge, Bugfix, VueUi

#8015 Allows sending mindless mobs via the cargo shuttle if they are part of a bounty
  code/controllers/subsystems/cargo.dm
  html/changelogs/bounty_mobs.yml
Labels: Awaiting Merge, Bugfix

#7995 Tweaks mech examine to be a lot more readable.
  code/modules/heavy_vehicle/mecha.dm
  html/changelogs/mattatlas-mechxamine.yml
Labels: Awaiting Merge

#8017 Advanced pinpointer now indicates z-direction to its target
  code/game/gamemodes/nuclear/pinpointer.dm
  code/modules/multiz/basic.dm
  html/changelogs/point_me_to_the_coffee.yml
  icons/obj/device.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#7974 Uplink Revamp
  aurorastation.dme
  code/datums/uplink/ammunition.dm
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/exosuit.dm
  code/datums/uplink/exosuit_equipment.dm
  code/datums/uplink/grenades.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/revolution.dm
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/datums/uplink/uplink_categories.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/geeves - tatorrifle.yml
  maps/templates/orbital/heavy-mecha.dmm
  maps/templates/orbital/light-mecha.dmm
  maps/templates/orbital/orbital_templates.dm
  maps/templates/orbital/powerloader-mecha.dmm
Labels: Awaiting Merge

#8023 Remote Species Fix
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/geeves - fuckspeciescode.yml
Labels: Awaiting Merge, Bugfix

#8000 pAI improvements and fixes
  code/controllers/subsystems/pai.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/vueui/ui.dm
  html/changelogs/fsdfsf.yml
  vueui/README.md
  vueui/src/components/view/misc/pai/recruit.vue
Labels: Awaiting Merge, VueUi

#8001 Mandatory yearly gun pr: 2020 edition
  aurorastation.dme
  code/datums/trading/weaponry.dm
  code/game/antagonist/outsider/raider.dm
  code/game/objects/items/weapons/material/misc.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/projectiles/guns/launcher/harpoon.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/alberyk-gunsstuff.yml
  icons/mob/items/lefthand_guns.dmi
  icons/mob/items/righthand_guns.dmi
  icons/obj/gun.dmi
  sound/weapons/gunshot/gunshot_suppressed.ogg
Labels: Awaiting Merge, Sprites

#8003 Additional TCFL Loadout Bits
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/paradoxspace-oorah.yml
Labels: Awaiting Merge

#8002 Custom items 12/01
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/cress_items.dmi
  icons/obj/custom_items/harrow_laptop.dmi
  icons/obj/custom_items/solozel_items.dmi
  icons/obj/custom_items/suul_staff.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#7937 Warbling Earwigs
  code/game/objects/items/skrell.dm
  icons/obj/skrell_items.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#8020 Fixes Klaxan Vaurca Selection
  code/modules/ghostroles/spawner/human/ert.dm
  html/changelogs/geeves - klax_vaurca_fix.yml
Labels: Awaiting Merge, Bugfix

#8026 Pioneer scarf adjustment
  code/modules/clothing/masks/miscellaneous.dm
  html/changelogs/doxx - scarf powercreep.yml
Labels: Awaiting Merge, Bugfix

#8009 Music for the bar
  html/changelogs/goret-music-for-the-bar.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#8027 Skrell Srom oversight fixes for brain damage + vampire blood drain
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/organs/internal/brain.dm
  html/changelogs/dreams_of_head_trauma_and_vampire_bites.yml
Labels: Awaiting Merge, Bugfix

#8028 Nitroglycerin Explosion Fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  html/changelogs/MDP-nitrofix.yml
Labels: Awaiting Merge, Bugfix

#8034 Fixes spoon right-hand icon direction
  html/changelogs/spoon_icon_bugfix.yml
  icons/mob/items_righthand.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8010 Numeric input improvements
  code/game/machinery/atmo_control.dm
  html/changelogs/giodjsgijdfhjdfkhfd.yml
  vueui/src/components/view/console/atmocontrol/injector.vue
  vueui/src/components/view/console/atmocontrol/supermatter.vue
  vueui/src/components/view/console/atmocontrol/tank.vue
  vueui/src/components/vui/input/numeric.vue
Labels: Awaiting Merge, VueUi

#8035 Manifested ghosts can now toggle visibility properly
  code/modules/mob/abstract/observer/observer.dm
  html/changelogs/ghost_toggle_visibility_fix.yml
Labels: Awaiting Merge, Bugfix

#8032 Protolathe and Circuit Printer check for adjacency when adding sheets
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  html/changelogs/adding_sheets_adjacency_check.yml
Labels: Awaiting Merge, Bugfix

#8012 Suit Cooler Adjustments
  code/datums/trading/ai.dm
  code/datums/uplink/devices and tools.dm
  code/game/machinery/autolathe_datums.dm
  code/game/objects/items/devices/suit_cooling.dm
  html/changelogs/geeves - suitcoolah.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#7966 Add more briefcases to the loadout and rework some icons
  code/game/objects/items/weapons/storage/briefcase.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  html/changelogs/goret-fresh-briefcases.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/storage.dmi
Labels: Awaiting Merge, Sprites

#8016 Un-nerfing Medical's Supplies
  html/changelogs/furrycactus - medical supplies.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#8039 Diona can now have viruses cured by radiation exposure or radium injections
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/virus2/disease2.dm
  html/changelogs/doona_virus_cures.yml
Labels: Awaiting Merge, Bugfix

#8024 Adds ported clothes from Polaris
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/BoryaTheSlayer-dresspolaris.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#8044 Contractor CSI Fix
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/necropolis.dm
  html/changelogs/neworiginalschwann - spellcheck.yml
Labels: Awaiting Merge, Bugfix

#8029 Unathi Claw Markings (& Bugfixes)
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/paradoxspace-nailpolish.yml
  icons/mob/human_face/unathi_hair.dmi
  icons/mob/human_races/markings.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#8063 Maybe fix travis
  .travis.yml
Labels: Changelog Required, High Priority, Waiting Period

#8053 Dead people don't have heartbeats
  code/modules/organs/internal/heart.dm
  html/changelogs/no_pulse_if_dead.yml
Labels: Awaiting Merge, Bugfix

#8048 Limits guest pass name length to 26
  code/game/machinery/computer/guestpass.dm
  html/changelogs/guest_pass_name_sanitize.yml
Labels: Awaiting Merge, Bugfix

#7893 Department Jacket Tweaks
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/paradoxspace-forgotten.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Review Required, Sprites

#8046 Fixes diona regeneration bug (the re-fixening)
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/doona_regen_fix.yml
Labels: Awaiting Merge, Bugfix

#8056 Latespawn AI will have their eye spawn in the correct location
  code/modules/mob/abstract/freelook/ai/eye.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/ai_eye_loc_spawn.yml
Labels: Bugfix, Review Required

#8059 Some small mapfixes and tweaks
  html/changelogs/Ferner-200120-bugfix_miscmapfixes.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#8054 Allows dionae to join younger then 17.
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/Yonnimer-dionaeage.yml
Labels: Awaiting Merge, Lore Impact

#8062 Fixes Unathi Claw Markings
  html/changelogs/paradoxspace-fingernails.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8061 Hot Chocolate Sprite Tweak and Buffs
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  html/changelogs/furrycactus - hot chocolate.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#8047 Bolt the phonograph in the bar
  html/changelogs/goret-phonograph-fix.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#8074 Fixes bug with exosuits leaving an invisible mob after dismantling.
  code/modules/heavy_vehicle/mecha.dm
  html/changelogs/no_exosuit_ghosts.yml
Labels: Awaiting Merge, Bugfix

#8025 Removes slowdown due to lack of shoes
  code/__defines/items_clothing.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/miscellaneous.dm
  config/example/game_options.txt
  html/changelogs/no_shirt_no_shoes_no_slowdown.yml
Labels: Awaiting Merge

#8079 Fixed the wiki link on the changelog
  html/changelog.html
  html/changelogs/changelog_wiki_link.yml
Labels: Awaiting Merge, Bugfix

#8078 Adds check for cryopods for buckled mobs being moved in.
  code/game/machinery/cryopod.dm
  html/changelogs/cryopod_buckle_check.yml
Labels: Awaiting Merge, Bugfix

#7993 Xenobio Touch-ups
  aurorastation.dme
  code/_onclick/other_mobs.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/implants/implantchair.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/ghostroles/spawner/human/golem.dm
  code/modules/item_worth/Value_procs/obj/items.dm
  code/modules/mob/living/carbon/metroid/death.dm
  code/modules/mob/living/carbon/metroid/emote.dm
  code/modules/mob/living/carbon/metroid/examine.dm
  code/modules/mob/living/carbon/metroid/items.dm
  code/modules/mob/living/carbon/metroid/life.dm
  code/modules/mob/living/carbon/metroid/login.dm
  code/modules/mob/living/carbon/metroid/metroid.dm
  code/modules/mob/living/carbon/metroid/powers.dm
  code/modules/mob/living/carbon/metroid/say.dm
  code/modules/mob/living/carbon/metroid/update_icons.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/slime.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/ventcrawl/ventcrawl.dm
  html/changelogs/geeves - slime_fix.yml
Labels: Awaiting Merge

#8064 Yet Another Clothing PR
  code/datums/outfits/ert/ert.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirts.dm
  html/changelogs/paradoxspace-trousers.yml
  icons/mob/head.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/uniforms.dmi
  icons/obj/pants.dmi
Labels: Awaiting Merge, Sprites

#8006 You can now damage walls and girders with weapons + misc tweaks.
  code/__defines/misc.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mining/mine_items.dm
  html/changelogs/mattatlas-wallshenanigans.yml
Labels: Awaiting Merge

#8058 Adds new space ruin content and changes how space ruin away roles works
  aurorastation.dme
  code/game/objects/effects/spiders.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/kataphract.dm
  code/modules/ghostroles/spawner/human/pra.dm
  code/modules/ghostroles/spawner/human/zenghu.dm
  code/modules/ghostroles/spawner/simplemob/spider.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  code/modules/shuttles/departmental.dm
  html/changelogs/alberyk-spaceruinstuff.yml
  icons/mob/npc/spider_queen.dmi
  icons/mob/screen/spells.dmi
  maps/_common/areas/shuttles.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/code/aurora_shuttles.dm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#8085 Fixes Classic Cowboy Boots
  html/changelogs/paradoxspace-colfer.yml
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8066 Glasses Resprite & Inhands
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  html/changelogs/wezzy_glasses_resprite.yml
  icons/mob/eyes.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_glasses.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_glasses.dmi
  icons/obj/clothing/glasses.dmi
Labels: Awaiting Merge, Sprites

#7986 Medbay Job Reshuffling
  code/game/gamemodes/epidemic/epidemic.dm
  code/game/jobs/faction/necropolis.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/jobs.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/implants/implantcircuits.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/client/preferences.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/integrated_electronics/subtypes/input.dm
  code/modules/mob/living/carbon/brain/death.dm
  config/example/jobs.txt
  config/example/tips.txt
  html/archivedchangelog.html
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/mattatlas-medbayreshuffle.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Feedback Required, Mapping: Aurora, Mapping: Exodus

#8087 Fixes AI damage.
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/ai/malf.dm
  html/changelogs/mattatlas-aifix.yml
Labels: Awaiting Merge, Bugfix

#8069 Data File Tweak
  code/modules/modular_computers/file_system/data.dm
  html/changelogs/geeves-harddrivebuff.yml
Labels: Awaiting Merge

#8088 Fixes surgeons not being in the contractor list.
  code/game/jobs/faction/necropolis.dm
  code/game/jobs/faction/zeng_hu.dm
  html/changelogs/mattatlas-contractorfix.yml
Labels: Awaiting Merge, Bugfix

#8033 Adds unique bantypes to a bunch of antag roles
  code/game/antagonist/outsider/commando.dm
  code/game/antagonist/outsider/deathsquad.dm
  code/game/antagonist/station/highlander.dm
  code/game/antagonist/station/renegade.dm
  code/game/antagonist/station/rogue_ai.dm
  code/game/antagonist/station/traitor.dm
  html/changelogs/overzealous_banning.yml
Labels: Awaiting Merge, Bugfix, Sprites

#8052 Added the IAC response team
  aurorastation.dme
  code/datums/ert/outsider.dm
  code/datums/outfits/ert/deathsquad.dm
  code/datums/outfits/ert/ert.dm
  code/datums/outfits/ert/iac.dm
  code/datums/outfits/ert/kataphract.dm
  code/datums/outfits/ert/mercenary.dm
  code/datums/outfits/ert/nt_ert.dm
  code/datums/outfits/ert/syndicate.dm
  code/datums/outfits/ert/tcfl.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/ghostroles/spawner/human/ert.dm
  code/modules/ghostroles/spawner/human/responseteams/deathsquad.dm
  code/modules/ghostroles/spawner/human/responseteams/iac.dm
  code/modules/ghostroles/spawner/human/responseteams/kataphracts.dm
  code/modules/ghostroles/spawner/human/responseteams/mercenary.dm
  code/modules/ghostroles/spawner/human/responseteams/nt_ert.dm
  code/modules/ghostroles/spawner/human/responseteams/response_team.dm
  code/modules/ghostroles/spawner/human/responseteams/syndicate.dm
  code/modules/ghostroles/spawner/human/responseteams/tcfl.dm
  html/changelogs/geeves - responseteams.yml
Labels: Awaiting Merge, Lore Impact

#8106 Fix girders not being destroyed by mobs that can break walls
  code/game/objects/structures/girders.dm
  html/changelogs/alberyk-wallbreak.yml
Labels: Awaiting Merge, Bugfix

#8084 Monkeys no longer interact with or throw things.
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  html/changelogs/mattatlas-nerfmonkey.yml
Labels: Awaiting Merge

#8083 Nerfs the Cyndie Kate merchant.
  code/datums/trading/unique.dm
  html/changelogs/mattatlas-nerfmerchant.yml
Labels: Awaiting Merge

#8080 Dionae Speed Nerf
  code/modules/mob/living/carbon/diona_base.dm
  html/changelogs/paradoxspace-fucktrees.yml
Labels: Awaiting Merge, Lore Impact

#8070 Strip Menu Additions
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/stripping.dm
  html/changelogs/geeves-stripmenuthings.yml
Labels: Awaiting Merge

#8072 Reimplements old Unathi devour with some miscellaneous improvements.
  aurorastation.dme
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/carbon_powers.dm
  code/modules/mob/living/carbon/human/devour.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/organs/internal/stomach.dm
  html/changelogs/mattatlas-ihatelore.yml
Labels: Awaiting Merge

#7674 Adding admin verb to load templates(maps) during runtime.
  code/datums/supplypacks.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/maps/map_template.dm
  config/example/templates_list.json
  html/changelogs/Sindorman-templates.yml
  icons/misc/buildmode.dmi
  maps/templates/asteroid_outpost.dmm
  maps/templates/backup/asteroid_outpost.dmm
  maps/templates/backup/syndicate_base.dmm
  maps/templates/pra.dmm
  maps/templates/sol.dmm
  maps/templates/syndicate_base.dmm
  maps/templates/syndicate_shuttle.dmm
  tools/mapmerge2/Prepare Maps - Templates.bat
  tools/mapmerge2/PrepareMaps-Templates.sh
  tools/mapmerge2/requirements.txt
Labels: Awaiting Merge, Sprites

#8109 Adds Si'akh as a religion option for Unathi.
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/Leudoberct1-siakhoptions.yml
Labels: Awaiting Merge, Bugfix

#8081 Adds organ cooler
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/organz.yml
  icons/obj/storage.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites
