Repository Aurorastation/Aurora.3, pull requests merged in 2020-06, with the labels that each got.

#8961 You now get blood on your clothes more often when you attack people
  code/modules/mob/living/carbon/human/human_defense.dm
  html/changelogs/mattatlas-bloodmoment.yml
Labels: Awaiting Merge

#8972 Iorakian Mask Update
  icons/obj/custom_items/ioraks_cape.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#8999 Fixes augment spawning and tweaks names of language processors slightly
  code/controllers/subsystems/job.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/MDP-fixes_bug_bugs.yml
Labels: Awaiting Merge, Bugfix

#8978 Fire Alarms
  code/game/machinery/alarm.dm
  code/game/machinery/firealarm.dm
  html/changelogs/Afya_Alarm.yml
Labels: Awaiting Merge

#8984 Adds pickup animations
  code/game/atoms_movable.dm
  code/modules/mob/inventory.dm
  html/changelogs/wezzy_pickup_animation.yml
Labels: Awaiting Merge

#9001 Tape Deletion
  code/game/objects/items/devices/taperecorder.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#8979 Adminverbs - Hide Most
  code/modules/admin/admin_verbs.dm
  html/changelogs/Afya_Adminverbs.yml
Labels: Awaiting Merge

#8986 Diona Cult Manifestation Tweak
  aurorastation.dme
  code/game/gamemodes/cult/runes/manifest_ghost.dm
  code/modules/mob/living/carbon/human/species/species_damage.dm
  html/changelogs/geeves-diona_ruin_everything.yml
Labels: Awaiting Merge

#8974 Map Optimization
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
  maps/dungeon_spawns/crashed_pod_unique.dmm
  maps/dungeon_spawns/digsite_unique.dmm
  maps/dungeon_spawns/listening_post_unique.dmm
  maps/dungeon_spawns/shrine_unique.dmm
  maps/dungeon_spawns/shuttle_unique.dmm
  maps/dungeon_spawns/sol_bunker_unique.dmm
  maps/dungeon_spawns/syndie_unique.dmm
  maps/dungeon_spawns/vault_unique.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-3_telecomms.dmm
  maps/exodus/exodus-4_derelict.dmm
  maps/exodus/exodus-5_asteroid.dmm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-3.dmm
  maps/templates/asteroid_outpost.dmm
  maps/templates/orbital/combat-mecha.dmm
  maps/templates/orbital/drill.dmm
  maps/templates/orbital/heavy-mecha.dmm
  maps/templates/orbital/light-mecha.dmm
  maps/templates/orbital/mini-armory.dmm
  maps/templates/orbital/powerloader-mecha.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora, Mapping: Exodus, Mapping: Runtime

#9010 Fixes blobs, vines and hacktool
  code/_helpers/functional.dm
  code/game/objects/effects/spiders.dm
  code/game/objects/items/devices/hacktool.dm
  code/modules/blob/blob.dm
  code/modules/hydroponics/spreading/spreading.dm
  html/changelogs/mattatlas-eventfixes.yml
Labels: Awaiting Merge, Bugfix

#8958 Custom items 26/05
  code/game/objects/items/devices/megaphone.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/akinyi_symphette.dmi
  icons/obj/custom_items/mekesatis_holocoat.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#8981 Switches most common visible_messages to look like emotes, inc. surgery.
  code/game/machinery/buttons.dm
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  code/game/objects/buckling.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/facial_surgery.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/turbolift/turbolift_console.dm
  html/changelogs/mattatlas-alotofmessages.yml
Labels: Awaiting Merge

#9013 Fixes combat shotgun suit storage onmob sprite
  html/changelogs/wezzy_combatshotgunfix.yml
  icons/obj/guns/cshotgun.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8983 Send to lobby
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  html/changelogs/Afya_Lobby.yml
Labels: Awaiting Merge

#8989 Crucial Stationbound information added to show laws.
  code/modules/mob/living/silicon/robot/laws.dm
  html/changelogs/showlawsinfo.yml
Labels: Awaiting Merge

#8991 Slime tweak
  code/modules/mob/living/carbon/slime/slime.dm
  html/changelogs/slimetweak-30.05.20.yml
Labels: Awaiting Merge

#8941 Removes useless uniforms
  aurorastation.dme
  code/datums/outfits/event/outfit_pirate.dm
  code/datums/outfits/event/outfit_soviet.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/outfits/outfit_antag.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/game/antagonist/outsider/raider.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/merchant.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/admin/verbs/debug.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/spacesuits/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/simple_animal/corpse.dm
  html/changelogs/wezzy_remove_kebab.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#8769 RFD animations for building stuff
  code/__defines/_layers.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/effects/misc.dm
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/wezzy_RFD_anims.yml
  icons/effects/effects_rfd.dmi
Labels: Awaiting Merge, Sprites

#8964 Bigger ready up panel
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/wezzy_better_newplayer.yml
  maps/aurora/code/aurora.dm
Labels: Awaiting Merge

#9003 Drill Bracing Fix
  code/modules/mining/drilling/drill.dm
  html/changelogs/geeves-drill_deletion.yml
Labels: Awaiting Merge, Bugfix

#9000 Mechfab (and More) Changes
  aurorastation.dme
  code/game/machinery/mecha_fabricator.dm
  code/modules/research/circuitprinter.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  code/modules/research/message_server.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  code/modules/research/rdmachines.dm
  code/modules/research/server.dm
  code/modules/research/weaponsanalyzer.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/research/xenoarchaeology/machinery/artifact_harvester.dm
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
  code/modules/research/xenoarchaeology/tools/ano_device_battery.dm
  html/changelogs/geeves-null_category.yml
Labels: Awaiting Merge

#9002 Replaced Biogenerator sound
  html/changelogs/biogensounds.yml
  sound/machines/juicer.ogg
Labels: Awaiting Merge

#9032 Fixes a runtime during roundstart
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9018 Newscaster ID Grabbing
  code/game/machinery/newscaster.dm
  html/changelogs/geeves-newscaster_wristbound.yml
Labels: Awaiting Merge, Bugfix

#9008 Smokepops
  code/datums/uplink/stealth and camouflage items.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/geeves-smokepops.yml
Labels: Awaiting Merge

#8842 pAI Computer Piloting
  aurorastation.dme
  code/modules/mob/living/silicon/computer.dm
  code/modules/mob/living/silicon/pai/death.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/modular_computers/computers/modular_computer/hardware.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/pai/access_lock.dm
  code/modules/modular_computers/file_system/programs/system/ntdownloader.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  code/modules/nano/interaction/default.dm
  html/changelogs/geeves-pAI_modular_comp.yml
  vueui/src/components/view/mcomputer/system/downloader.vue
Labels: Awaiting Merge, VueUi

#9011 Hephaestus CTs
  code/game/jobs/faction/hephaestus.dm
  html/changelogs/paradoxspace-godoftheforge.yml
Labels: Awaiting Merge

#9015 Quite a few brainmed changes + fixes.
  code/__defines/damage_organs.dm
  code/game/objects/items/bodybag.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-bloodandfury.yml
Labels: Awaiting Merge

#9020 Remote Mecha Die Fix
  code/modules/heavy_vehicle/mech_life.dm
  html/changelogs/geeves-mecha_die.yml
Labels: Awaiting Merge, Bugfix

#9014 Removes spy vs. spy as a playable gamemode.
  aurorastation.dme
  code/game/gamemodes/mixed/spyvspy.dm
  html/changelogs/mattatlas-nospy.yml
Labels: Awaiting Merge

#9035 Removes useless code for deleted uniform
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/wezzy_femsuit.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora, Mapping: Exodus

#9048 Makes stasis bags not instantly kill you
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mattatlas-whoops.yml
Labels: Awaiting Merge, Bugfix

#9030 Makes skirt outlines more obvious, adds pleated skirt
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/skirts.dm
  html/changelogs/wezzy_skirt_outlines.yml
  icons/obj/clothing/skirts.dmi
Labels: Awaiting Merge, Sprites

#9043 Fixes flashbangs stunning people.
  code/game/objects/items/weapons/grenades/flashbang.dm
  html/changelogs/mattatlas-flashbangs.yml
Labels: Awaiting Merge, Bugfix

#9019 Borer Psi Oversight Fix
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/psionics/faculties/coercion.dm
  html/changelogs/geeves-borer_psi_oversight.yml
Labels: Awaiting Merge, Bugfix

#8996 Cult backend rework + new features.
  aurorastation.dme
  code/_helpers/global_lists.dm
  code/controllers/subsystems/cult.dm
  code/controllers/subsystems/garbage-debug.dm
  code/game/gamemodes/cult/hell_universe.dm
  code/game/gamemodes/cult/items/talisman.dm
  code/game/gamemodes/cult/items/tome.dm
  code/game/gamemodes/cult/runes/_runes.dm
  code/game/gamemodes/cult/runes/armor.dm
  code/game/gamemodes/cult/runes/blind_others.dm
  code/game/gamemodes/cult/runes/blood_boil.dm
  code/game/gamemodes/cult/runes/blood_drain.dm
  code/game/gamemodes/cult/runes/communicate.dm
  code/game/gamemodes/cult/runes/convert.dm
  code/game/gamemodes/cult/runes/create_construct.dm
  code/game/gamemodes/cult/runes/create_talisman.dm
  code/game/gamemodes/cult/runes/deafen_others.dm
  code/game/gamemodes/cult/runes/emp.dm
  code/game/gamemodes/cult/runes/free_cultist.dm
  code/game/gamemodes/cult/runes/ghost_mode.dm
  code/game/gamemodes/cult/runes/hide_runes.dm
  code/game/gamemodes/cult/runes/manifest_ghost.dm
  code/game/gamemodes/cult/runes/raise_dead.dm
  code/game/gamemodes/cult/runes/reveal_runes.dm
  code/game/gamemodes/cult/runes/rune.dm
  code/game/gamemodes/cult/runes/sacrifice.dm
  code/game/gamemodes/cult/runes/see_invisible.dm
  code/game/gamemodes/cult/runes/stun.dm
  code/game/gamemodes/cult/runes/summon_cultist.dm
  code/game/gamemodes/cult/runes/summon_narsie.dm
  code/game/gamemodes/cult/runes/summon_soulstone.dm
  code/game/gamemodes/cult/runes/summon_tome.dm
  code/game/gamemodes/cult/runes/teleport.dm
  code/game/gamemodes/cult/runes/wall.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items/weapons/chaplain_items.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/spell_system/spells/spell_list/self/generic/rune_write.dm
  html/changelogs/mattatlas-cultboys.yml
  icons/obj/rune.dmi
Labels: Awaiting Merge, Sprites

#9005 More Mech Equipment
  code/datums/wires/autolathe.dm
  code/game/machinery/autolathe.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/heavy_vehicle/equipment/_equipment.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/heavy_vehicle/mech_icon.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/geeves-more_mech_equipment.yml
  icons/mecha/mech_equipment.dmi
  icons/mecha/mecha_weapon_overlays.dmi
Labels: Awaiting Merge, Sprites

#9009 Kataphract K'lax Augments
  code/datums/outfits/ert/kataphract.dm
  code/modules/ghostroles/spawner/human/kataphract.dm
  html/changelogs/geeves-hopeful_speaks.yml
Labels: Awaiting Merge

#9017 Full Auto Thermal Drill
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/geeves-burst_laser.yml
Labels: Awaiting Merge

#9037 Restricts more lore related items from being renamed
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  html/changelogs/alberyk-nofunallowed.yml
Labels: Awaiting Merge

#9057 Fix changeling sting forensics + laser AB
  code/game/gamemodes/changeling/implements/powers/suck.dm
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-suuuuck.yml
Labels: Awaiting Merge, Bugfix

#9061 Fixes the fryer and shower looping sounds.
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/game/objects/structures/watercloset.dm
  html/changelogs/mattatlas-loopingsounds.yml
Labels: Awaiting Merge, Bugfix

#9060 Fixes the last wrong take_damage proc
  code/game/objects/items/weapons/handcuffs.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9059 Fixes pointblank spacing + fire delay issues
  code/modules/projectiles/gun.dm
  html/changelogs/mattatlas-gundelay.yml
Labels: Awaiting Merge, Bugfix

#9033 Laser Shotguns
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/pins.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/research/designs/protolathe/modular_gun_designs.dm
  html/changelogs/geeves-laser_shotgun.yml
  icons/obj/guns/lasershotgun.dmi
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#9036 Removes the roof level
  html/changelogs/alberyk-removesroof.yml
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
  maps/aurora/code/aurora.dm
  maps/aurora/code/aurora_shuttles.dm
Labels: Awaiting Merge, Mapping: Aurora

#8966 Diona Pain
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/pain.dm
  code/unit_tests/mob_tests.dm
  html/changelogs/geeves-diona_pain.yml
Labels: Awaiting Merge, Lore Impact, Test Merge Candidate

#9047 Unapologetic Ladder Nerfs
  code/modules/multiz/structures.dm
  html/changelogs/alberyk-ladder.yml
Labels: Awaiting Merge

#9074 RFD-P Now properly dispenses bent pipes
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, Bugfix

#9021 Unconscious Brainblasts
  code/modules/psionics/faculties/coercion.dm
  html/changelogs/geeves-brainblast_unconscious.yml
Labels: Awaiting Merge

#9051 Implements extool's memory profiler
  aurorastation.dme
  byond-extools.dll
  code/__defines/_common.dm
  code/__defines/callback.dm
  code/__defines/extools.dm
  code/modules/admin/admin_verbs.dm
  html/changelogs/skull132_memory-dumps.yml
Labels: Awaiting Merge

#9072 Borg wire message shows wires being covered.
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/borg_wire_msg-aleksix.yml
Labels: Awaiting Merge, Bugfix

#9066 Fixes bodybag examine text
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  html/changelogs/wezzy_bodybag_fixes.yml
  icons/obj/bodybag.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#9053 Automated Profiler
  aurorastation.dme
  code/__defines/subsystem-priority.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/profiler.dm
  html/changelogs/skull132_profiler.yml
Labels: Awaiting Merge

#9007 Stationbound RPDs
  code/game/objects/items/weapons/RFD.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/geeves-maint_drone_rpd.yml
Labels: Awaiting Merge

#9058 Fixes firemodes being a footgun
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/lawgiver.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/improvised.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/sniper.dm
Labels: Awaiting Merge, Changelog Required

#9081 Fixes runes not having DNA.
  code/game/gamemodes/cult/items/tome.dm
  html/changelogs/mattatlas-bugfixes.yml
Labels: Awaiting Merge, Bugfix

#9087 Fixes a bug disallowing trees from picking azaziba as a language.
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/treelizard.yml
Labels: Awaiting Merge, Bugfix

#9085 Fixes Bones death description
  code/modules/mob/living/simple_animal/friendly/cat.dm
  html/changelogs/wezzy_bonesdeathdescfix.yml
Labels: Awaiting Merge, Bugfix

#9070 Heavy Armour Kits
  code/datums/uplink/devices and tools.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/gloves/arm_guard.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/leg_guard.dm
  code/modules/clothing/suits/armor.dm
  html/changelogs/geeves-heavy_armour.yml
  icons/clothing/kit/heavy_armor.dmi
Labels: Awaiting Merge, Sprites

#9083 Hydrogen ore processing fix
  code/modules/mining/ore_datum.dm
  html/changelogs/hydrogen_processing-aleksix.yml
Labels: Awaiting Merge, Bugfix

#9064 Change Diona dishes flavour
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/dionaedelicious.yml
Labels: Awaiting Merge

#9042 Enlightening Update
  code/game/objects/items/devices/lighting/flare.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/devices/lighting/glowstick.dm
  code/game/objects/items/devices/lighting/lamp.dm
  code/game/objects/items/weapons/candle.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/power/lights/bulbs.dm
  code/modules/power/lights/construction.dm
  code/modules/power/lights/fixtures.dm
  html/changelogs/geeves-no_flare.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#9095 Antag Autodrobe Shenanigans
  code/game/antagonist/station/traitor.dm
  html/changelogs/geeves-antag_uplink_fix.yml
Labels: Awaiting Merge, Bugfix

#8786 Refactors tool colors + new sprites
  code/__defines/misc.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/power/cable.dm
  html/changelogs/wezzy_tool_color_refactor.yml
  icons/mob/items/lefthand_hydro.dmi
  icons/mob/items/lefthand_tools.dmi
  icons/mob/items/righthand_hydro.dmi
  icons/mob/items/righthand_tools.dmi
  icons/mob/items/stacks/lefthand_materials.dmi
  icons/mob/items/stacks/righthand_materials.dmi
  icons/obj/items.dmi
  icons/obj/power.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#9105 Fixes personal shield icons
  code/game/objects/items/devices/personal_shield.dm
  html/changelogs/alberyk-shieldspritefix.yml
Labels: Awaiting Merge, Bugfix

#9108 AI Synth Access Fix
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/geeves-ai_synth_access.yml
Labels: Awaiting Merge, Bugfix

#9097 Weapons Analyzer Fix
  code/modules/projectiles/modular/laser_base.dm
  code/modules/research/weaponsanalyzer.dm
  html/changelogs/geeves-weapons_analyzer_fixes.yml
Labels: Awaiting Merge, Bugfix

#9099 Grab Stripping Fix
  code/modules/mob/living/carbon/human/stripping.dm
  html/changelogs/geeves-grab_stripping_fix.yml
Labels: Awaiting Merge, Bugfix

#9111 Fixes the rapid pipe fabricator
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/Printer16-RFDPFix.yml
Labels: Awaiting Merge, Bugfix

#9117 Fixes a runtime in windowdoor.dm
  code/game/machinery/doors/windowdoor.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9093 Some Psionics Tweakery
  code/modules/psionics/faculties/coercion.dm
  code/modules/psionics/faculties/energistics.dm
  code/modules/psionics/faculties/psychokinesis.dm
  code/modules/psionics/faculties/redaction.dm
  html/changelogs/geeves-some_psionics_tweakery.yml
Labels: Awaiting Merge, Bugfix

#9063 Cooking and combitool radials.
  code/_onclick/hud/radial.dm
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  code/game/objects/items/weapons/tools.dm
  html/changelogs/mattatlas-radials.yml
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Exodus, Sprites

#9110 Fixes an air damage runtime and whisper verb printing
  code/ZAS/Airflow.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/organs/blood.dm
  html/changelogs/mattatlas-whisper.yml
Labels: Awaiting Merge, Bugfix

#9084 Mining Mech Equipment
  aurorastation.dme
  code/modules/heavy_vehicle/equipment/mining.dm
  code/modules/mining/drilling/drill.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/geeves-even_more_mech_equipment.yml
  icons/mecha/mech_equipment.dmi
Labels: Awaiting Merge, Sprites

#9026 Removes the species listing in pda records
  html/changelogs/pdaspecies.yml
  nano/templates/pda.tmpl
Labels: Awaiting Merge

#9082 Look Up
  code/_onclick/hud/screen_objects.dm
  html/changelogs/geeves-look_up.yml
  icons/mob/screen/generic.dmi
Labels: Awaiting Merge, Sprites

#9086 Tajaran Update: A Clockwork Earthen-Root
  code/game/objects/items/tajara.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  code/modules/food/recipes_microwave.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-coolloadoutstuff.yml
  icons/mob/ties.dmi
  icons/obj/cigs_lighters.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/food.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#9126 Kitchen Appliance Fix
  code/game/machinery/kitchen/cooking_machines/_appliance.dm
  html/changelogs/geeves-oven_fix.yml
Labels: Awaiting Merge, Bugfix

#9120 AI Law Message Fix
  code/datums/ai_laws.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/modules/mob/living/silicon/ai/laws.dm
  html/changelogs/geeves-ai_vr_laws_fix.yml
Labels: Awaiting Merge, Bugfix

#9130 Fixes some issues with the latest xeno loadout update
  code/game/objects/items/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9129 fixes tool colors
  code/game/atoms.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/power/cable.dm
  code/modules/power/cable_heavyduty.dm
  html/changelogs/wezzy_tool_colorfix.yml
  icons/mob/items/lefthand_tools.dmi
  icons/mob/items/righthand_tools.dmi
  icons/mob/items/stacks/lefthand_materials.dmi
  icons/mob/items/stacks/righthand_materials.dmi
  icons/obj/robot_items.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#9092 Fireball Tweak
  code/modules/spell_system/spells/spell_list/others/projectile/fireball.dm
  html/changelogs/geeves-lich_players_suck_ass.yml
Labels: Awaiting Merge

#9094 Square Shield
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/shields.dm
  html/changelogs/geeves-square_shields.yml
  icons/obj/square_shield.dmi
Labels: Awaiting Merge, Sprites

#9142 Fixes lock-up in manifest ghost
  code/game/gamemodes/cult/runes/manifest_ghost.dm
  html/changelogs/skull132_fix-manifest-ghost.yml
Labels: Awaiting Merge, Bugfix, High Priority

#9100 Unrecognizable Messes
  code/modules/mob/living/carbon/human/death.dm
  html/changelogs/geeves-unrecognizable_messes.yml
Labels: Awaiting Merge

#9098 Signaler Alt Click
  code/modules/assembly/signaler.dm
  html/changelogs/geeves-signaler_alt_click.yml
Labels: Awaiting Merge

#9104 Allows the cancellation of teleportation for wizards using teleport scroll
  code/game/objects/items/weapons/scrolls.dm
  html/changelogs/printer16-cancelbooyah.yml
Labels: Awaiting Merge

#9144 fixes missing glasses in loadout
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  html/changelogs/wezzy_loadout_glasses_fix.yml
Labels: Awaiting Merge, Bugfix

#9145 Deletes the atropine recipe, because I forgot to
  code/modules/reagents/Chemistry-Recipes.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9122 Bluespace Sprite Update
  code/game/gamemodes/endgame/supermatter_cascade/blob.dm
  code/game/turfs/space/transit.dm
  html/changelogs/geeves-bluespace.yml
  icons/turf/space.dmi
Labels: Awaiting Merge, Sprites

#9123 Mech Health Buff
  code/modules/heavy_vehicle/components/_components.dm
  code/modules/heavy_vehicle/components/arms.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/hoverpod.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/misc.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/mob/living/silicon/robot/component.dm
  html/changelogs/geeves-mech_components.yml
Labels: Awaiting Merge

#9119 Middle Mouse Control Point
  code/_onclick/click.dm
  html/changelogs/geeves-middle_control_mouse_point.yml
Labels: Awaiting Merge

#8529 Kataphract Supplies
  code/datums/ert/outsider.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/geeves-kataphract_supplies.yml
  icons/obj/ammo.dmi
  icons/obj/guns/unathi_slugger.dmi
  maps/templates/distress/distress_equipment.dm
  maps/templates/distress/kataphracts.dmm
Labels: Awaiting Merge, Sprites

#9068 Renaming paper now adds the new name to the end of the paper's name.
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photography.dm
  html/changelogs/mattatlas-paper.yml
Labels: Awaiting Merge

#8921 Nymph changes/fixes
  aurorastation.dme
  code/_onclick/hud/nymph_hud.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/alien/life.dm
  html/changelogs/Yonnimer - nymph_hud.yml
  icons/hud/diona_health.dmi
Labels: Awaiting Merge, Sprites

#9133 Changes up a lot more messages to look like emotes.
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/adv_med.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/hologram.dm
  code/game/machinery/kitchen/cooking_machines/fryer.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/vending.dm
  code/game/objects/buckling.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/watercloset.dm
  code/game/objects/structures/window.dm
  code/modules/clothing/clothing.dm
  code/modules/custom_ka/core.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mining/coins.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/give.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/modular_computers/laptop_vendor.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/generic.dm
  html/changelogs/mattatlas-morepropermessages.yml
Labels: Awaiting Merge

#9165 Remove z8 from accessible z level list
  maps/aurora/code/aurora.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#8805 Ports Bay's stamina/sprinting intent system.
  aurorastation.dme
  code/__defines/chemistry.dm
  code/__defines/mobs.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/nymph_hud.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/configuration.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/severe.dm
  code/datums/move_intent/move_intent.dm
  code/game/area/areas.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/material/caltrops.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/living/logout.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/tables/interactions.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/vehicle.dm
  config/example/game_options.txt
  html/changelogs/mattatlas-sprint.yml
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  interface/dark.dmf
  interface/skin.dmf
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#9149 Check Pulse Improvements
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/paradoxspace-pulsating.yml
Labels: Awaiting Merge

#9156 Headphones toggle
  code/modules/clothing/ears/earmuffs.dm
  html/changelogs/Doxxmedearly - Beets.yml
Labels: Awaiting Merge

#9148 (Syndicate) Cyborg Improvements
  code/_onclick/cyborg.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  code/game/antagonist/antagonist_equip.dm
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/ninja.dm
  code/game/antagonist/outsider/raider.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/gamemodes/antagspawner.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/robot/robot_items.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/custom_ka/core.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/living/silicon/robot/syndicate_robot.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  html/changelogs/geeves-syndicate_borg_betterness.yml
  icons/mob/screen/robot.dmi
Labels: Awaiting Merge, Sprites

#9157 Stops vampires from draining blood if their mouth is blocked
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/alberyk-vampirenerf.yml
Labels: Awaiting Merge

#9118 Pointing Filters
  code/modules/mob/living/living.dm
  html/changelogs/geeves-pointing_filter.yml
Labels: Awaiting Merge

#9102 Better Client Colors and Drugs
  code/_onclick/hud/hud.dm
  code/modules/client/client_color.dm
  code/modules/mob/living/carbon/brain/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/life.dm
  html/changelogs/geeves-drug_lord.yml
Labels: Awaiting Merge

#9096 Round End Summary Fixes
  code/controllers/subsystems/ticker.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/antagonist_print.dm
  code/game/antagonist/outsider/wizard.dm
  code/modules/admin/admin_verbs.dm
  code/modules/spell_system/artifacts/items/apprentice_pebble.dm
  code/modules/spell_system/spells/spells.dm
  html/changelogs/geeves-wizard_roundend_report.yml
Labels: Awaiting Merge

#9158 Removes kitty ears from the game.
  code/controllers/subsystems/icon_cache.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/random/random.dm
  code/modules/clothing/head/collectable.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/mining/abandonedcrates.dm
  html/changelogs/mattatlas-noccat.yml
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#9183 Fixes point spamming creating super saiyan mobs and items.
  code/modules/mob/living/living.dm
  html/changelogs/mattatlas-pointcd.yml
Labels: Awaiting Merge, Bugfix

#9162 Removes shell fake BPM + blood oxygenation.
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mattatlas-shellbadshell.yml
Labels: Awaiting Merge

#9163 Async news loading.
  code/controllers/subsystems/news.dm
Labels: Awaiting Merge, Changelog Required

#9169 Job Outfits
  code/modules/admin/verbs/debug.dm
  html/changelogs/geeves-admin_jobs_outfits.yml
Labels: Awaiting Merge, Bugfix

#9127 Synthskin Limb/Shell Changes
  code/__defines/damage_organs.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/paradoxspace-skynet.yml
Labels: Awaiting Merge

#9168 Prevents antags from being converted by the cult
  code/game/gamemodes/cult/runes/convert.dm
  html/changelogs/alberyk-antagcult.yml
Labels: Awaiting Merge

#9170 Reduces the amount of evolution points changelings get when absorbing dna
  code/game/gamemodes/changeling/implements/powers/suck.dm
  html/changelogs/alberyk-lingpowercreepbegone.yml
Labels: Awaiting Merge

#9187 Makes ATKs work again
  code/game/objects/items/stacks/medical.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9184 Drill Fix
  code/modules/mining/drilling/drill.dm
  html/changelogs/geeves-drill_fix.yml
Labels: Awaiting Merge, Bugfix

#9180 Synth Recharging Fix
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/geeves-synth_recharging.yml
Labels: Awaiting Merge, Bugfix

#8953 Borg utility changes
  code/modules/mob/living/silicon/robot/robot_items.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/borgo_utility_changes.yml
Labels: Awaiting Merge

#9176 Adds vysokan/himean clothing to loadout
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/factions/himeo.dm
  code/modules/clothing/factions/vysoka.dm
  html/changelogs/kyres1-#9176.yml
  icons/clothing/head/himeo_cap.dmi
  icons/clothing/head/vysoka_cap.dmi
  icons/clothing/suits/coats/himeo_coat.dmi
  icons/clothing/suits/coats/vysoka_chokha_female.dmi
  icons/clothing/suits/coats/vysoka_chokha_male.dmi
Labels: Awaiting Merge, Sprites

#9115 Card Tooltips and Improvements
  code/controllers/subsystems/battle_monsters.dm
  code/modules/battlemonsters/items/card.dm
  code/modules/games/cards.dm
  html/changelogs/geeves-card_tooltips.yml
Labels: Awaiting Merge

#9153 Mecha Improvements
  aurorastation.dme
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/heavy_vehicle/interface/_interface.dm
  code/modules/heavy_vehicle/interface/screen_objects.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  html/changelogs/geeves-mecha_improvements.yml
Labels: Awaiting Merge

#9175 EMT Default
  code/datums/uplink/specialty.dm
  code/game/jobs/access_datum.dm
  code/game/jobs/faction/eridani.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/jobs.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/geeves-emt_default.yml
Labels: Awaiting Merge

#9181 Multi-Z Warehouse
  code/modules/cargo/randomstock.dm
  code/modules/tables/presets.dm
  code/modules/tables/rack.dm
  html/changelogs/geeves-multiz_warehouse.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9182 Revert "Ports Bay's stamina/sprinting intent system."
  aurorastation.dme
  code/__defines/chemistry.dm
  code/__defines/mobs.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/nymph_hud.dm
  code/_onclick/hud/other_mobs.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/configuration.dm
  code/datums/brain_damage/mild.dm
  code/datums/brain_damage/severe.dm
  code/datums/move_intent/move_intent.dm
  code/game/area/areas.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/material/caltrops.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/carbon/resist.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_powers.dm
  code/modules/mob/living/logout.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/tables/interactions.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/vehicle.dm
  config/example/game_options.txt
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old-noborder.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
  interface/dark.dmf
  interface/skin.dmf
Labels: Awaiting Merge, Changelog Required, Sprites

#9147 Unapologetic Skrell Nerfs
  code/__defines/mobs.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/psionics/faculties/coercion.dm
  html/changelogs/paradoxspace-sonar.yml
Labels: Awaiting Merge

#9197 Synthskin Limb Fix
  code/modules/organs/organ_external.dm
  html/changelogs/snakebitten-skynetfix.yml
Labels: Awaiting Merge, Bugfix

#9091 Some Antag Things
  code/datums/uplink/stealth and camouflage items.dm
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/turfs/simulated/wall_attacks.dm
  html/changelogs/geeves-sneaky_antag_items.yml
Labels: Awaiting Merge

#9185 Stops people from messing with the arrivals' shuttle control
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  html/changelogs/alberyk-arrivals.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9194 Remove potential edgecases from gravity/slip code
  code/modules/mob/mob_movement.dm
  html/changelogs/skull132_gravity.yml
Labels: Awaiting Merge, Bugfix

#9201 Cargo Spawn Fix
  code/__defines/misc.dm
  html/changelogs/geeves-cargo_spawn_fix.yml
Labels: Awaiting Merge, Bugfix

#9172 Web Overlays
  code/game/objects/effects/spiders.dm
  html/changelogs/geeves-webbing_overlays.yml
  icons/effects/effects.dmi
Labels: Awaiting Merge, Sprites

#9189 Skeleton minions don't get wizard names anymore
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  html/changelogs/alberyk-bruhskeleton.yml
Labels: Awaiting Merge

#9190 Adds Elyran holoclothing to the loadout
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/factions/elyra.dm
  html/changelogs/Ferner-200622-sprites_elyraholo.yml
  icons/clothing/under/uniforms/elyra_holoclothes.dmi
Labels: Awaiting Merge, Sprites

#9205 Fixes invisible argyle turtlenecks and tubenecks
  html/changelogs/wezzy_argylefix.yml
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#9178 Adds a verb for nymphs to remove their hat.
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  html/changelogs/nymph_hat.yml
Labels: Awaiting Merge

#9208 Fixes loadout slot buttons
  code/controllers/configuration.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  config/example/config.txt
  html/changelogs/wezzy_loadoutbutton_fixes.yml
Labels: Awaiting Merge, Bugfix

#9214 Fixes species not respecting total_health when checking if they should die
  code/game/dna/dna_modifier.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/mattatlas-species.yml
Labels: Awaiting Merge, Bugfix

#9173 Overhauls pain message/status displaying, fixes oxyloss.
  code/modules/mob/living/carbon/breathe.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/mob.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/pain.dm
  html/changelogs/mattatlas-painpainpain.yml
  icons/mob/screen/full.dmi
  icons/mob/screen/generic.dmi
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#9199 Shotgun Powercreep
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/geeves-shotgun_powercreep.yml
Labels: Awaiting Merge

#9223 fix instadeath bug
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
Labels: Bugfix, Changelog Required, High Priority

#9224 EMT Fix
  code/game/jobs/jobs.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  html/changelogs/geeves-emt_fix.yml
Labels: Awaiting Merge, Bugfix

#9219 Some hivebot tweaks and fixes
  code/modules/mob/living/simple_animal/hostile/hivebot.dm
  html/changelogs/Ferner-200627-bugfix_hivebotfixes.yml
Labels: Awaiting Merge, Bugfix

#9079 Reworks aut'akh augments
  code/__defines/mobs.dm
  code/game/objects/items.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/organs/subtypes/autakh.dm
  html/changelogs/alberyk-autakhaugs.yml
  icons/obj/action_buttons/organs.dmi
Labels: Awaiting Merge, Lore Impact, Sprites, Test Merge Candidate

#9229 Fixes pain making you blind
  code/_onclick/hud/hud.dm
Labels: Bugfix, Changelog Required, High Priority, Review Required

#9233 Droppod Fixes
  code/modules/vehicles/droppod.dm
  html/changelogs/geeves-droppod_launching.yml
  nano/templates/droppod.tmpl
Labels: Awaiting Merge, Bugfix

#9226 Fixes grues dying instantly
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9193 Lowpop Antag: Burglar
  aurorastation.dme
  code/__defines/gamemode.dm
  code/__defines/radio.dm
  code/controllers/subsystems/statistics.dm
  code/datums/outfits/outfit_antag.dm
  code/datums/uplink/uplink_categories.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/outsider/burglar.dm
  code/game/gamemodes/burglars/burglars.dm
  code/game/gamemodes/mixed/conflict.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/_radio_defines.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/uplink.dm
  code/game/objects/items/weapons/syndie.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/say.dm
  code/modules/shuttles/antagonist.dm
  html/changelogs/geeves-lowpop_antag.yml
  icons/mob/hud.dmi
  icons/mob/mob.dmi
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/code/aurora.dm
  maps/aurora/code/aurora_shuttles.dm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#9198 (Optional) Acting Captain Gear
  aurorastation.dme
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/sets/acting_captain.dm
  html/changelogs/geeves-acting_captain_gear.yml
  icons/clothing/kit/acting_captain.dmi
Labels: Awaiting Merge, Sprites

#9209 Intercom buttons are red when off (but still powered)
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/spy_bug.dm
  code/game/objects/items/weapons/implants/implantpad.dm
  code/game/objects/items/weapons/teleportation.dm
  code/modules/assembly/voice.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  html/changelogs/wezzy_intercombuttons.yml
  icons/obj/radio.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#9213 Adhomian dice: Suns and Moon edition
  aurorastation.dme
  code/game/objects/items/tajara.dm
  code/game/objects/items/weapons/dice.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  html/changelogs/alberyk-dicestuff.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites
