Repository Aurorastation/Aurora.3, pull requests merged in 2020-04, with the labels that each got.

#8574 Prosthetic stomach name/sprite/mechfab
  code/modules/organs/internal/stomach.dm
  code/modules/research/designs/mechfab/prosthetics/internal.dm
  html/changelogs/doxxmedearly - MECHASTOMACH.yml
Labels: Awaiting Merge, Bugfix

#8545 TacShield Sprite Revert
  html/changelogs/geeves-tacshield_sprite.yml
  icons/obj/tactshield.dmi
Labels: Awaiting Merge, Sprites

#8540 Visitor Ghostrole Improvements
  code/modules/ghostroles/spawner/human/visitor.dm
  html/changelogs/geeves-visitor_ghost_role_desc.yml
Labels: Awaiting Merge

#8552 Increases scientist, xenobiologist and RD minimum age
  code/game/jobs/job/science.dm
  html/changelogs/alberyk_raiseage.yml
Labels: Awaiting Merge

#8554 Chem Adjustments, Fixes, and Additions
  code/datums/outfits/ert/iac.dm
  code/datums/outfits/outfit_admin.dm
  code/game/machinery/vending_types.dm
  code/game/modifiers/modifiers_chem.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/human/MedicalSideEffects.dm
  code/modules/mob/living/carbon/human/chem_side_effects.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/doxxmedearly - chemshift.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#8577 Misc Cult Fix
  code/game/gamemodes/cult/runes/hide_runes.dm
  code/game/gamemodes/cult/runes/reveal_runes.dm
  code/game/gamemodes/cult/runes/rune.dm
  code/game/turfs/turf.dm
  html/changelogs/geeves-talisman_fix.yml
Labels: Awaiting Merge, Bugfix

#8573 Powered Crossbow Fixes
  code/modules/projectiles/guns/launcher/crossbow.dm
  html/changelogs/geeves-powered_crossbow_sprite.yml
  icons/obj/guns/crossbow.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8569 Janitorial Hologram Cleaning Fix
  code/game/machinery/hologram.dm
  code/game/objects/effects/overlays.dm
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/geeves-clean_holograms.yml
Labels: Awaiting Merge, Bugfix

#8553 Adds sec stuff to loadout and removes green trenchcoat.
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/YourDaddy117-Investigation_clothes.yml
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#8572 Chair Rotate Fix
  code/__defines/obj.dm
  code/game/objects/objs.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  html/changelogs/geeves-comfy_chair_rotate.yml
Labels: Awaiting Merge, Bugfix

#8537 Medical Stock Buffs
  code/game/machinery/vending_types.dm
  html/changelogs/furrycactus - medical stuff.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#8588 Fixes get_total_health
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/geeves-get_totally_fixed.yml
Labels: Awaiting Merge, Bugfix

#8548 New RPD and RFD derivative sprites
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/Ferner-200312-mapping_emperorsnewturfs.yml
  html/changelogs/wezzy_new_rfd_sprites.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#8571 Big Mining Update
  code/game/jobs/job/civilian.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/core.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mine_items.dm
  code/modules/mining/ore_satchel.dm
  html/changelogs/geeves-drill_technician.yml
  icons/obj/toolbox/mining.dmi
Labels: Awaiting Merge, Sprites

#8592 Alt Click Turf Menu Fix
  code/game/objects/objs.dm
  html/changelogs/geeves-alt_turf_view.yml
Labels: Awaiting Merge, Bugfix

#8593 Modular Prototype Sprite Fix
  code/modules/projectiles/guns/energy/modular.dm
  html/changelogs/geeves-prototype_sprite_fix.yml
Labels: Awaiting Merge, Bugfix

#8576 Add a Chem Master in the surface garden
  html/changelogs/thegoret-chemmaster.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#8463 New mining rig sprites
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/Ferner-200317-sprites_miningrig.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/rig_back.dmi
  icons/mob/species/machine/gloves.dmi
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/shoes.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/gloves.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/shoes.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/gloves.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
Labels: Awaiting Merge, Sprites

#8599 Tacshield Sprite Fix
  html/changelogs/geeves-tacshield_sprite_fix.yml
  icons/obj/tactshield.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8508 Vaurca Bite Nerf
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/geeves-vaurca_grab_bite_nerf.yml
Labels: Awaiting Merge

#8580 Goggle HUD QoL
  code/_onclick/hud/hud.dm
  html/changelogs/geeves-goggle_QoL.yml
  icons/obj/hud_full.dmi
  icons/obj/hud_tiled.dmi
Labels: Awaiting Merge, Sprites

#8603 Fixes the custom sprites added in #8533
  icons/obj/custom_items/ozuha_cape.dmi
  icons/obj/custom_items/ulmari_coat.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#8524 Ports Railings
  aurorastation.dme
  code/game/objects/structures.dm
  code/game/objects/structures/railing.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/geeves-railing.yml
  icons/obj/railing.dmi
Labels: Awaiting Merge, Sprites

#8584 Lexorin recipe + new ODs
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/doxxmedearly - chemrecipes.yml
Labels: Awaiting Merge

#8458 Xenobio Slime Extract Improvements
  code/game/objects/effects/portals.dm
  code/game/objects/items/weapons/power_cells.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/geeves-xenobio_core_improvements.yml
Labels: Awaiting Merge

#8585 Cold War Arc Release: Hearts of Plasteel Edition
  aurorastation.dme
  code/datums/ai_law_sets.dm
  code/datums/trading/misc.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/game/objects/items/weapons/grenades/dynamite.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/cargo/random_stock/large.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  code/modules/food/recipes_oven.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/multiz/movement.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/vehicle.dm
  html/changelogs/alberyk-tajarastuff.yml
  icons/mob/npc/livestock.dmi
  icons/obj/barsigns.dmi
  icons/obj/bike.dmi
  icons/obj/food.dmi
  icons/obj/grenade.dmi
  icons/obj/reagent_dispensers.dmi
  icons/obj/stacks/tiles.dmi
  icons/obj/storage.dmi
  icons/obj/trash.dmi
  icons/turf/flooring/carpet.dmi
  sound/effects/creatures/ough.ogg
Labels: Awaiting Merge, Sprites

#8594 Cryogenics Fixes
  code/game/machinery/cryopod.dm
  html/changelogs/geeves-cryogenics_fixes.yml
Labels: Awaiting Merge, Bugfix

#8547 Succumb Fix
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/geeves-succumb_fix.yml
Labels: Awaiting Merge, Bugfix

#8589 More Zeng-Hu Contractor Items
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/furrycactus - zeng stuff.yml
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#8544 Stock Parts Box
  code/game/machinery/autolathe_datums.dm
  code/modules/research/stockparts.dm
  html/changelogs/geeves-stock_parts_box.yml
  icons/obj/stock_parts.dmi
Labels: Awaiting Merge, Sprites

#8541 Common and Entertainment Keys
  aurorastation.dme
  code/game/objects/items/devices/radio/_radio_defines.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/say.dm
  html/changelogs/geeves-entertainment_channel_add.yml
Labels: Awaiting Merge

#8610 Fixes the research shuttle having the wrong console tag
  code/modules/shuttles/departmental.dm
  html/changelogs/Ferner-200405-bugfix_researchshuttleconsole.yml
Labels: Awaiting Merge, Bugfix

#8595 Golem Name Things
  code/modules/mob/living/carbon/human/species/station/golem.dm
  html/changelogs/geeves-golem_things.yml
Labels: Awaiting Merge

#8613 White Zeng-Hu Beret Fix
  html/changelogs/furrycactus - zeng beret fix.yml
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8614 Unathi and Tajara Nitrile Gloves Fix
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/furrycactus - gloves for the furries.yml
Labels: Awaiting Merge, Bugfix

#8568 Inventory Click Drag QoL
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/devices/PDA/PDA.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/clothing_accessories.dm
  html/changelogs/geeves-click_drag_QoL.yml
Labels: Awaiting Merge

#8618 KA fix and small refactor
  code/modules/custom_ka/core.dm
  code/modules/custom_ka/projectiles.dm
  html/changelogs/Sindorman.yml
Labels: Awaiting Merge, Bugfix, Refactor

#8619 fixes inventory
  code/_onclick/hud/screen_objects.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#8622 Less sensitive explosive implants
  code/game/objects/items/weapons/implants/implant.dm
  html/changelogs/doxxmedearly - bombedthatcode.yml
Labels: Awaiting Merge, Bugfix

#8605 Sheet Loader Changes
  code/modules/mob/living/silicon/robot/gripper.dm
  html/changelogs/houseofsynth-sheetloaderchange.yml
Labels: Awaiting Merge

#8559 GrateBalance
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/lattice.dm
  html/changelogs/averythepanda-changelog.yml
Labels: Awaiting Merge

#8598 Drill Additions
  code/modules/mining/drilling/drill.dm
  code/modules/random_map/noise/ore.dm
  html/changelogs/geeves-drill_additions.yml
Labels: Awaiting Merge

#8627 Heph Drill Tech Fixes
  code/game/jobs/faction/hephaestus.dm
  html/changelogs/geeves-heph_drillers.yml
Labels: Awaiting Merge, Bugfix

#8534 Better Mech Clamps
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-better_clamps.yml
Labels: Awaiting Merge

#8612 Adds Coalition of Colonies flags to loadout
  code/game/objects/random/random.dm
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/FearTheBlackout-coalitionflags.yml
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites

#8617 More Contractor Clothing Options
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/furrycactus - more contractor fashion.yml
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#8637 Fixes the research shuttle leaving the wrong turfs behind
  html/changelogs/Ferner-200409-bugfix_researchshuttleturfs.yml
  maps/aurora/code/aurora_shuttles.dm
Labels: Awaiting Merge, Bugfix

#8620 Schlorrgo Kicking
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/geeves-schlorrgo_kicking.yml
Labels: Awaiting Merge

#8640 Misc small shuttle fixes
  code/controllers/subsystems/responseteam.dm
  code/modules/shuttles/departmental.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_emergency.dm
  html/changelogs/Ferner-200411-bugfix_miscshuttlestuff.yml
Labels: Awaiting Merge, Bugfix

#8628 Minor Map Suggestions Update + Minor Map Bug Fixes
  html/changelogs/furrycactus - map suggestions update.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#8623 Allows shaking of salt, pepper and space spices w/ sound
  code/modules/reagents/reagent_containers/food/condiment.dm
  html/changelogs/houseofsynth - shakethatsalt.yml
  sound/items/condiment_shaking.ogg
Labels: Review Required, Waiting Period

#8630 Edit and add new hairstyles
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/thegoret-new-hairstyles.yml
  icons/mob/human_face/hair.dmi
  icons/mob/human_face/hair_multiply.dmi
Labels: Awaiting Merge, Sprites

#8633 Adds inhands for some welders, drills, and combitools.
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/mining/mine_items.dm
  code/modules/organs/subtypes/autakh.dm
  html/changelogs/wezzy_tool_inhands_again.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_mining.dmi
  icons/mob/items/lefthand_nanopaste.dmi
  icons/mob/items/lefthand_sheets.dmi
  icons/mob/items/lefthand_tools.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_mining.dmi
  icons/mob/items/righthand_sheets.dmi
  icons/mob/items/righthand_tools.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#8647 Runtime Runtime Fix
  code/controllers/subsystems/emergency_shuttle.dm
  html/changelogs/geeves-runtime_shuttle_fix.yml
Labels: Awaiting Merge, Bugfix

#8639 Changes that the emergency shuttle can only be called after one hour
  code/controllers/configuration.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  config/example/config.txt
  html/changelogs/alberyk-shuttle.yml
Labels: Awaiting Merge

#8645 Slime Core Fix
  code/game/objects/items/weapons/power_cells.dm
  html/changelogs/geeves-slime_core_fix.yml
Labels: Awaiting Merge, Bugfix

#8664 Crystal artifact icon fix
  code/modules/research/xenoarchaeology/artifact/artifact_crystal.dm
  html/changelogs/thegoret-missing-crystals.yml
Labels: Awaiting Merge, Bugfix

#8667 Thetamycin works again
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/thegoret-fix-theta.yml
Labels: Awaiting Merge, Bugfix, Changes Required

#8666 fix the CCIA shuttle launch verb
  code/modules/cciaa/cciaa.dm
  html/changelogs/mattatlas-tinybrain.yml
Labels: Awaiting Merge, Bugfix

#8673 Fix another missing fork
  code/game/antagonist/station/revolutionary.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority

#8655 Allows drones to open windoors by walking into them
  code/game/machinery/doors/windowdoor.dm
  html/changelogs/drone_windoor_fix.yml
Labels: Awaiting Merge

#8652 Allows drones to pull pipe meters. Fixes #2497
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/fix_drone_pipe_meter_pulling.yml
Labels: Awaiting Merge

#8651 Allows drones to screw things. Fixes #8650
  code/modules/mob/living/silicon/robot/robot_items.dm
  html/changelogs/fix_drone_screwdrivers.yml
Labels: Awaiting Merge

#8629 Opaque Elevator Doors
  code/modules/turbolift/turbolift_door.dm
  html/changelogs/geeves-opaque_elevator_doors.yml
  icons/obj/doors/doorlift.dmi
Labels: Awaiting Merge, Sprites

#8656 Gives the leather jacket pockets
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/houseofsynth - leatherjacketpockets.yml
Labels: Awaiting Merge

#8657 Hallucinations part 2: Chem Factor
  code/__defines/chemistry.dm
  code/modules/hallucinations/hallucinations.dm
  code/modules/hallucinations/mob.dm
  code/modules/hallucinations/types/basic.dm
  code/modules/hallucinations/types/powers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/Doxxmedearly - Hallucinations_Chems.yml
Labels: Awaiting Merge

#8641 Glow In the dark 'borgo eyes.
  code/__defines/_layers.dm
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/BorgGlowEyes.yml
Labels: Awaiting Merge

#8661 Ports recoil improvements from Nebula.
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/gun.dm
  html/changelogs/mattatlas-recoil.yml
Labels: Awaiting Merge

#8665 Fix the two intercoms in the captain's office
  html/changelogs/thegoret-fix-intercoms.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#8660 Removes engineering alt titles
  code/game/jobs/job/engineering.dm
  html/changelogs/alberyk-engineeringaccess.yml
Labels: Awaiting Merge

#8663 Increase bullets speed
  code/modules/projectiles/projectile.dm
  html/changelogs/thegoret-bulletspeedo.yml
Labels: Awaiting Merge

#8679 Stops Mine Drones from bleeding
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  html/changelogs/cursed_drone.yml
Labels: Awaiting Merge, Bugfix

#8471 Tray QoL
  code/game/objects/items/weapons/trays.dm
  html/changelogs/geeves-tray_qol.yml
Labels: Awaiting Merge

#8687 Tray Fix
  code/game/objects/items/weapons/trays.dm
  html/changelogs/geeves-tray_fix.yml
Labels: Awaiting Merge, Bugfix

#8686 Fixes gunfire text errors
  code/modules/projectiles/gun.dm
  html/changelogs/mattatlas-youfir.yml
Labels: Awaiting Merge, Bugfix

#8634 Detective Gun Rebalance - Flash ammo edition.
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/dansemacabre-detgun2.yml
Labels: Awaiting Merge

#8689 Off brand mad hotfix
  html/changelogs/offbrandhotfix.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8675 Ports scanline HUDs from nebula.
  code/_onclick/hud/hud.dm
  html/changelogs/mattatlas-scanline.yml
  icons/obj/hud_tiled.dmi
Labels: Awaiting Merge, Sprites

#8615 More combat/gun/medical tweaks.
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/mob_grab.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/wound.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/mattatlas-brainmeddening.yml
Labels: Awaiting Merge, Test Merge Candidate

#8668 Makes loadout gear tweaks a bit more modular
  aurorastation.dme
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_mask.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/human.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  html/changelogs/alberyk-namestuff.yml
Labels: Awaiting Merge, Lore Impact

#8680 Removes deadly stuff from the vent clog event
  code/modules/events/vent_clog.dm
  html/changelogs/alberyk-ventclog.yml
Labels: Awaiting Merge

#8669 Causes remains to crumble when touched by a robot or pulled by anyone.
  code/game/objects/effects/decals/remains.dm
  html/changelogs/drone_skele_crumble.yml
Labels: Awaiting Merge

#8698 Fixes the pioneer scarf not being colorable
  code/modules/client/preference_setup/loadout/loadout_xeno/human.dm
  html/changelogs/alberyk-scarfix.yml
Labels: Bugfix, Review Required

#8642 Power Cell Backpacks
  aurorastation.dme
  code/game/objects/items/weapons/storage/cell_backpack.dm
  code/modules/mining/machine_vending.dm
  code/modules/research/designs/protolathe/tool_designs.dm
  html/changelogs/geeves-cell_backpack.yml
  icons/obj/cell_backpack.dmi
Labels: Awaiting Merge, Sprites

#8692 Station Blueprint Hotfix
  code/game/machinery/wall_frames.dm
  code/game/objects/items/blueprints.dm
  code/modules/power/apc.dm
  html/changelogs/geeves-station_blueprints.yml
Labels: Awaiting Merge, Bugfix

#8703 Bumps the byond version used by travis
  .travis.yml
Labels: Changelog Required, Review Required

#8702 Fixes various runtimes
  code/game/machinery/kitchen/microwave.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#8705 Refactoring 'borg overlay stuff back to add_overlay
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/borgeyerefactor.yml
Labels: Awaiting Merge, Bugfix

#8688 Nightlight
  code/controllers/subsystems/job.dm
  code/game/area/areas.dm
  code/game/machinery/lightswitch.dm
  html/changelogs/geeves-non_essential_lights.yml
  maps/_common/areas/station/civilian.dm
  maps/_common/areas/station/engineering.dm
  maps/_common/areas/station/hallways.dm
  maps/_common/areas/station/medical.dm
  maps/_common/areas/station/research.dm
  maps/_common/areas/station/security.dm
Labels: Awaiting Merge

#8709 Fixes broken timers by finishing the Bay timer SS port
  code/controllers/subsystems/timer.dm
  code/game/objects/structures/watercloset.dm
Labels: Bugfix, Changelog Required, High Priority, Review Required, Test Merge Candidate

#8690 Footprints
  code/__defines/color.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated.dm
  code/game/turfs/turf.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/multiz/turfs/open_space.dm
  html/changelogs/geeves-footprints.yml
Labels: Awaiting Merge

#8648 Wristbound Computer Introduction
  aurorastation.dme
  code/game/jobs/access.dm
  code/game/jobs/job/civilian.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/subtypes/dev_tablet.dm
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  html/changelogs/geeves-wristbound_computers.yml
  icons/obj/modular_wristbound.dmi
Labels: Awaiting Merge, Sprites

#8636 Borgo sprite selection animation update.
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/BorgIconSelectAnim.yml
Labels: Awaiting Merge

#8713 Fixes death reporting
  code/controllers/subsystems/statistics.dm
  maps/_common/areas/ai.dm
  maps/_common/areas/derelict.dm
  maps/_common/areas/holodeck.dm
  maps/_common/areas/shuttles.dm
  maps/_common/areas/special.dm
  maps/_common/areas/station/civilian.dm
  maps/_common/areas/station/command.dm
  maps/_common/areas/station/engineering.dm
  maps/_common/areas/station/hallways.dm
  maps/_common/areas/station/maintenance.dm
  maps/_common/areas/station/medical.dm
  maps/_common/areas/station/research.dm
  maps/_common/areas/station/security.dm
  maps/_common/areas/station/storage.dm
  maps/_common/areas/telecomms.dm
  maps/exodus/code/exodus_areas.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#8719 Bugfixes: wrist computers, candy reagent, pAI double cards and borg icon
  code/modules/food/recipes_oven.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  html/changelogs/alberyk-morefixes.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8691 Machine Blueprint Slave Labour
  code/game/machinery/constructable_frame.dm
  html/changelogs/machine_blueprint_multitoolstep.yml
Labels: Awaiting Merge

#8695 Removes some words to avoid possible problems with github terms of service
  code/__defines/atmos.dm
  code/datums/diseases/brainrot.dm
  code/datums/diseases/wizarditis.dm
  code/game/machinery/doors/checkForMultipleDoors.dm
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/therapy.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mining/mine_turfs.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/virus2/helpers.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: Awaiting Merge, Changelog Required

#8725 Replaces addtimers with zero as their time
  code/datums/trading/trade.dm
  code/game/machinery/computer/slotmachine.dm
  code/game/machinery/kitchen/microwave.dm
  code/game/machinery/newscaster.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/library/lib_items.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/simple_animal/hostile/krampus.dm
  code/modules/projectiles/guns/projectile/minigun.dm
  code/modules/projectiles/projectile/change.dm
  html/changelogs/alberyk-eatingshoes.yml
Labels: Awaiting Merge, Bugfix

#8697 Custom loadout bloat: clog edition
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/alberyk-moreloadoutstuff.yml
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Sprites

#8731 Fixes laser rifle fire delay + fixes safety overlays
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/rifle.dm
  html/changelogs/mattatlas-destroysecmains.yml
Labels: Awaiting Merge, Bugfix

#8706 Simple animals forbidden foods
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/doxxmedearly - no_eggs_for_cows.yml
Labels: Awaiting Merge

#8722 Unsimulated Footprints Fix
  code/game/turfs/simulated.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  html/changelogs/geeves-footprints_fix.yml
Labels: Awaiting Merge, Bugfix

#8735 Modular Computer Quickfix
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  html/changelogs/geeves-modular_comp_fixes.yml
Labels: Awaiting Merge, Bugfix

#8746 Shell Augment Fix
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/paradoxspace-schwann.yml
Labels: Awaiting Merge, Bugfix

#8710 Radials, Tooltips, RCD and Borg Selection
  SQL/migrate/V046__radials.sql
  aurorastation.dme
  code/_helpers/lists.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/radial_persistent.dm
  code/game/objects/items/weapons/RFD.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/client/client defines.dm
  code/modules/client/client procs.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/client/ui_style.dm
  code/modules/heavy_vehicle/mech_movement.dm
  code/modules/mob/living/silicon/robot/login.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/tooltip/tooltip.dm
  code/modules/tooltip/tooltip.html
  html/changelogs/mattatlas-radials.yml
  icons/mob/screen/radial.dmi
  icons/obj/rfd.dmi
  icons/obj/tools.dmi
  interface/skin.dmf
Labels: Awaiting Merge, Sprites

#8734 Custom 'borg sprite fixes
  html/changelogs/orbular.yml
  icons/mob/custom_synthetic.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#8750 Fixes the cult sword having no sprites
  code/game/gamemodes/cult/items/sword.dm
  html/changelogs/alberyk-cultswordfix.yml
Labels: Awaiting Merge, Bugfix

#8723 Enabled communication with Subspace transmitters and squashed bugs
  code/modules/integrated_electronics/subtypes/data_transfer.dm
  code/modules/modular_computers/file_system/programs/generic/ntsl2_interpreter.dm
  code/modules/ntsl2/ntsl2.dm
  code/modules/ntsl2/telecomms.dm
  html/changelogs/tehflamintaco - ntsl2fix.yml
Labels: Awaiting Merge

#8677 Ghosts can now jump to emotes, better follow links, ghosts can now see where someone ghosted.
  code/game/machinery/mecha_fabricator.dm
  code/game/objects/items.dm
  code/game/verbs/ooc.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/emote.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/mattatlas-ghosts.yml
Labels: Awaiting Merge

#8528 IACDefense
  code/datums/outfits/ert/iac.dm
  html/changelogs/averythepanda-changelog.yml
Labels: Awaiting Merge

#8724 Floating Messages
  aurorastation.dme
  code/__defines/misc.dm
  code/modules/client/preference_setup/global/02_settings.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_toggles.dm
  code/modules/hallucinations/mob.dm
  code/modules/mob/floating_messages.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  html/changelogs/geeves-floating_messages.yml
Labels: Awaiting Merge

#8403 Unapologetic Diona Nerfs: Part 2 of 8274
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  html/changelogs/paradoxspace-botanicpanic.yml
Labels: Awaiting Merge

#8759 Fixes ghost follow links
  code/modules/mob/hear_say.dm
  html/changelogs/mattatlas-ghostlink.yml
Labels: Bugfix, Review Required

#8742 Removes hulk green overlay and makes them properly immune to pain
  code/game/dna/genes/powers.dm
  code/modules/mob/living/carbon/carbon.dm
  html/changelogs/alberyk-hulkstuff.yml
Labels: Awaiting Merge

#8756 Floating Messages Layering Fix
  code/modules/mob/floating_messages.dm
  html/changelogs/geeves-floating_messages_darkness_fix.yml
Labels: Awaiting Merge, Bugfix

#8747 Complete Revolution gamemode reflavor
  code/game/antagonist/antagonist_factions.dm
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/gamemodes/revolution/revolution.dm
  html/changelogs/revreflavor.yml
  icons/mob/hud.dmi
  icons/mob/mob.dmi
Labels: Awaiting Merge, Sprites

#8741 Adds dust when breaking mineral walls
  code/modules/mining/mine_turfs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  html/changelogs/alberyk-dustmining.yml
Labels: Awaiting Merge

#8726 Restores armor fullblock RNG.
  code/modules/mob/living/living_defense.dm
  html/changelogs/mattatlas-armorblock.yml
Labels: Awaiting Merge

#8767 fixes republicons bleeding
  code/modules/mob/living/simple_animal/hostile/pra.dm
  html/changelogs/mattatlas-republicon.yml
Labels: Awaiting Merge, Bugfix

#8748 Replaces the mateba sprite, name and description
  code/modules/projectiles/guns/projectile/revolver.dm
  html/changelogs/alberyk-mateba.yml
  icons/obj/guns/autorevolver.dmi
  icons/obj/guns/mateba.dmi
Labels: Awaiting Merge, Sprites

#8732 Removes fines for medium crimes
  code/game/machinery/computer/sentencing.dm
  code/modules/law/laws/high_severity.dm
  code/modules/law/laws/med_severity.dm
  html/changelogs/skull132_crimes.yml
Labels: Awaiting Merge

#8766 Fixes ghosts always seeing bolded emotes.
  code/modules/mob/emote.dm
  html/changelogs/mattatlas-emotemoment.yml
Labels: Awaiting Merge, Bugfix

#8749 Radial borgo tweaks
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/BorgoRadialTweaks.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Sprites

#8649 IPC Tag Project
  SQL/migrate/V047__IPC_tag_project.sql
  aurorastation.dme
  code/__defines/mobs.dm
  code/_helpers/lists.dm
  code/controllers/configuration.dm
  code/datums/wires/ipc_tag_scanner.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/ipc_scanner.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/research/designs/protolathe/tool_designs.dm
  code/unit_tests/sql_tests.dm
  config/example/config.txt
  html/changelogs/geeves-ipc_tag_project.yml
  icons/obj/ipc_utilities.dmi
Labels: Awaiting Merge, Do Not Merge, Lore Impact, Sprites

#8733 Above light layer conversion
  code/_helpers/overlay.dm
  code/datums/beam.dm
  code/game/gamemodes/endgame/supermatter_cascade/blob.dm
  code/game/machinery/station_holomap.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/items/skrell.dm
  code/modules/mob/living/simple_animal/constructs/constructs/cult_construct.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/power/tesla/energy_ball.dm
  html/changelogs/lightlayerconversion.yml
Labels: Awaiting Merge

#8737 Modular Computer Examine Fix(?)
  code/game/jobs/access.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/geeves-modular_comp_examine.yml
Labels: Awaiting Merge, Bugfix

#8740 Tape Recorder Buffs
  code/game/objects/items/devices/taperecorder.dm
  code/modules/cciaa/cciaa_items.dm
  html/changelogs/geeves-recorder_drive.yml
Labels: Awaiting Merge

#8611 Custodian borg mop changes
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/houseofsynth - Janiborgverb.yml
Labels: Awaiting Merge

#8754 fixes preferences not accepting flags > 1 << 16
  code/_helpers/lists.dm
  code/datums/wires/wires.dm
  code/modules/client/preference_setup/global/02_settings.dm
Labels: Awaiting Merge, Changelog Required

#8744 Modular Computer Buffs
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/games/arcade.dm
  code/modules/modular_computers/file_system/programs/games/sudoku/sudoku.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  code/modules/modular_computers/file_system/programs/system/ntdownloader.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  html/changelogs/paradoxspace-torrent.yml
Labels: Awaiting Merge

#8761 Replaces the chemistry machine sprites
  html/changelogs/nonno - changelog.yml
  icons/obj/chemical.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#8764 Tweaks dark tile sprite
  html/changelogs/wezzy_newdarktile.yml
  icons/turf/flooring/tiles.dmi
Labels: Awaiting Merge, Sprites

#8672 Remove sharp/edge in procs and consolidate them into damage flags.
  code/__defines/damage_organs.dm
  code/_helpers/unsorted.dm
  code/datums/helper_datums/teleport.dm
  code/game/gamemodes/cult/items/sword.dm
  code/game/machinery/iv_drip.dm
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/tajara.dm
  code/modules/martial_arts/vaurca.dm
  code/modules/mining/drilling/drill.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/drone/drone_damage.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/spell_system/artifacts/items/poppet.dm
  code/modules/spell_system/artifacts/items/rune_sword.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/facial_surgery.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  html/changelogs/mattatlas-damageflaggening.yml
Labels: Awaiting Merge

#8762 VueUI documentation
  vueui/docs/data.md
Labels: Awaiting Merge, Changelog Required

#8770 Adds new shuttle sprites
  code/game/turfs/simulated/shuttle_turfs.dm
  code/modules/shuttles/shuttle.dm
  html/changelogs/alberyk-newshuttles.yml
  icons/turf/shuttles_unique/arrivals_shuttle.dmi
  icons/turf/shuttles_unique/aurora_research_shuttle.dmi
  icons/turf/shuttles_unique/cargo_shuttle.dmi
  icons/turf/shuttles_unique/ccia_shuttle.dmi
  icons/turf/shuttles_unique/distress_shuttle.dmi
  icons/turf/shuttles_unique/ert_shuttle.dmi
  icons/turf/shuttles_unique/escape_pod.dmi
  icons/turf/shuttles_unique/hapt_shuttle.dmi
  icons/turf/shuttles_unique/merc_shuttle.dmi
  icons/turf/shuttles_unique/merchant_shuttle.dmi
  icons/turf/shuttles_unique/raider_shuttle.dmi
  icons/turf/shuttles_unique/tcfl_shuttle.dmi
  icons/turf/shuttles_unique/transfer_shuttle.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/aurora-7_roof.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#8772 Fire alarm recolors!
  code/game/machinery/firealarm.dm
  html/changelogs/firealarmrecolor.yml
  icons/obj/monitors.dmi
Labels: Awaiting Merge, Sprites
