Repository Aurorastation/Aurora.3, pull requests merged in 2020-08, with the labels that each got.

#9502 Table Layering
  code/_helpers/mouse.dm
  code/modules/tables/interactions.dm
  html/changelogs/geeves-table_layering.yml
Labels: Awaiting Merge

#9499 Hardsuit Things
  code/game/machinery/suit_cycler.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  html/changelogs/geeves-suit_on.yml
Labels: Awaiting Merge

#9498 Lung Grace period
  code/modules/organs/internal/lungs.dm
  html/changelogs/geeves-grace_period.yml
Labels: Awaiting Merge

#9493 Positronic Brain no longer a unique ghost role
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/misc/posibrain.dm
  html/changelogs/Aboshehab - Ghost Spawner Posi.yml
Labels: Awaiting Merge

#9543 Radio Accents Fix
  code/game/machinery/telecomms/broadcaster.dm
  html/changelogs/geeves-accent_fix.yml
Labels: Bugfix, Review Required

#9519 Pipe painters can be used on pipes that are not secured to the floor
  code/game/objects/items/devices/pipe_painter.dm
  html/changelogs/pipe_painter_paints_pipes.yml
Labels: Awaiting Merge, Bugfix

#9553 Restores 'Print Logout Report' verb for R_MOD
  code/modules/admin/admin_verbs.dm
  html/changelogs/restore_print_logout_report.yml
Labels: Awaiting Merge, Bugfix

#9556 Fixes nutriment subtypes not having proper taste
  code/modules/mob/living/carbon/taste.dm
  html/changelogs/alberyk-tastefix.yml
Labels: Awaiting Merge, Bugfix

#9560 Fixes the mounted RFD-C not working.
  code/game/objects/items/weapons/RFD.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  html/changelogs/mattatlas-rfdc.yml
Labels: Awaiting Merge, Bugfix

#9511 Drones now get a timer for their self-destruct
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  html/changelogs/robot_self_destruct_timer.yml
Labels: Awaiting Merge

#9552 Labourer's Choice cigarette packet doesn't go invisible when opened
  code/game/objects/items/tajara.dm
  html/changelogs/labourers_choice.yml
Labels: Awaiting Merge, Bugfix

#9566 Fixes all invalid origin_techs
  code/modules/integrated_electronics/subtypes/insert_slot.dm
  code/modules/integrated_electronics/subtypes/reagents.dm
  code/modules/research/stockparts.dm
  html/changelogs/fix_origin_tech.yml
Labels: Awaiting Merge, Bugfix

#9517 Adds megacorps troopers loadout
  aurorastation.dme
  code/datums/outfits/event/outfit_megacorps.dm
  code/modules/admin/verbs/debug.dm
  code/modules/ghostroles/spawner/human/responseteams/med_eridani.dm
  html/changelogs/alberyk-loadout.yml
Labels: Awaiting Merge

#9514 Ports cartridge sprite from Baystation
  html/changelogs/chem_cartridge_sprite.yml
  icons/obj/chemical.dmi
Labels: Awaiting Merge, Sprites

#9567 AI no longer call atom/proc/AltClick twice on AltClicks
  code/_onclick/ai.dm
  html/changelogs/ai_alt_click.yml
Labels: Awaiting Merge, Bugfix

#9520 Adds Additional Jackboot Styles
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/snakebittenn-madeforwalking.yml
  icons/mob/feet.dmi
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Sprites

#9572 Xenowear Boot Fix
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/shoes/jobs.dm
  html/changelogs/snakebittenn-whoops.yml
Labels: Bugfix, Review Required

#9558 Adds a unit test to ensure that all flooring has a unique or null build_type
  code/game/turfs/flooring/flooring.dm
  code/unit_tests/object_tests.dm
  html/changelogs/floor_building.yml
Labels: Awaiting Merge, Bugfix

#9559 Fix Powernet Cross Between Main Grid & Civillian Surface Subnet
  html/changelogs/Crosarius-PR-PowerNetFix.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#9515 Slime Clean-up
  aurorastation.dme
  code/game/objects/effects/portals.dm
  code/modules/mob/living/carbon/slime/death.dm
  code/modules/mob/living/carbon/slime/helpers.dm
  code/modules/mob/living/carbon/slime/life.dm
  code/modules/mob/living/carbon/slime/powers.dm
  code/modules/mob/living/carbon/slime/say.dm
  code/modules/mob/living/carbon/slime/slime.dm
  html/changelogs/geeves-slime_cleanup.yml
Labels: Awaiting Merge

#9550 Fixes sending signals with arguments
  code/datums/components/_component.dm
  html/changelogs/send_signal_args.yml
Labels: Awaiting Merge, Bugfix

#9581 Makes sure cigarette consumption rate is higher than MINIMUM_CHEMICAL_VOLUME
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/smoking_taste_bugfix.yml
Labels: Awaiting Merge, Bugfix

#9582 Moves amputation to be a basic surgery step
  code/modules/surgery/generic.dm
  code/modules/surgery/other.dm
  html/changelogs/amputation_bugfix.yml
Labels: Awaiting Merge, Bugfix

#9537 Are ya feelin' the scarcity now, supply?
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/doxxmedearly - phoron_arc.yml
Labels: Awaiting Merge

#9591 Repairing robotic organs is now of type /decl/surgery_step/internal because they can be inside meat
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  html/changelogs/fix_robot_organs.yml
Labels: Awaiting Merge, Bugfix

#9604 Splitting obj/item/stack/.../full stacks no longer makes the new stack full
  code/game/objects/items/stacks/stack.dm
  html/changelogs/full_steel_stacks.yml
Labels: Awaiting Merge, Bugfix, High Priority

#9583 Makes antagonist candidate searching work better for multi-modes
  code/_helpers/lists.dm
  code/game/gamemodes/game_mode.dm
  html/changelogs/sorts_antag_candidates.yml
Labels: Awaiting Merge, Bugfix

#9588 Bug Mask Bug Fix
  code/datums/outfits/ert/kataphract.dm
  code/datums/outfits/ert/tcfl.dm
  code/modules/ghostroles/spawner/human/kataphract.dm
  html/changelogs/geeves-vaurca_mask.yml
Labels: Awaiting Merge, Bugfix

#9605 Rats no longer spawn in areas covered by turrets
  code/modules/mob/abstract/observer/observer.dm
  html/changelogs/arrow768-ratfix.yml
Labels: Awaiting Merge, Bugfix

#9598 Lyodsuit Hoodie Fix
  code/modules/clothing/factions/dominia.dm
  html/changelogs/geeves-better_lyodsuit.yml
  icons/clothing/under/uniforms/lyodsuit_hoodie.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#9573 Gibber Quality of Life
  code/game/machinery/kitchen/gibber.dm
  html/changelogs/Crosarius-GibberQOL.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9606 Fixes issues with the SQL Persistence of cargo errors.
  code/controllers/subsystems/cargo.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9585 Prevents unintentional player kills with conversion
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/runes/convert.dm
  html/changelogs/appraise_offering.yml
Labels: Awaiting Merge

#9614 Fixes name of intercom in custodial closet
  html/changelogs/custodial_intercom_name.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#9616 Vendors no longer teleport items into your hand if you're not nearby
  code/game/machinery/vending.dm
  html/changelogs/hockaa-vendors.yml
Labels: Awaiting Merge, Bugfix

#9547 Capitalizes item names for cargo programs for consistency
  html/changelogs/example - Copy.yml
  nano/templates/cargo_control.tmpl
  nano/templates/cargo_delivery.tmpl
  nano/templates/cargo_order.tmpl
Labels: Awaiting Merge

#9589 Do You Like Fishsticks?
  aurorastation.dme
  code/game/machinery/biogenerator.dm
  code/modules/food/recipes_fryer.dm
  code/modules/food/recipes_microwave.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/carp.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/fish.dm
  html/changelogs/Crosarius-Fishsticks.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9597 Borg Unbuckle
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/geeves-gripper_unbuckle.yml
Labels: Awaiting Merge

#9612 Bumps rust_g version
  .travis.yml
Labels: Changelog Required, High Priority, Review Required, Waiting Period

#9487 Radio Things
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/admin/verbs/bluespacetech.dm
  html/changelogs/geeves-more_keys.yml
  icons/obj/radio.dmi
Labels: Awaiting Merge, Sprites

#9600 Hoodies stay unzipped/zipped
  code/modules/clothing/suits/hoodies.dm
  html/changelogs/Hockaa-MoreAurora.yml
Labels: Awaiting Merge, Bugfix

#9435 Telepathy Tweaks
  aurorastation.dme
  code/modules/psionics/faculties/coercion.dm
  code/modules/psionics/mob/mob_helpers.dm
  html/changelogs/snakebittenn-mindmeld.yml
Labels: Review Required

#9579 Fixes cigarette pipes spawning infinte ashes and no more lighter spam
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/wezzy_pipefix.yml
Labels: Awaiting Merge, Bugfix

#9570 In-line primary SMES
  html/changelogs/Crosarius-InlineSMES.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9607 Tweaks to Eridani Cap sprite
  html/changelogs/Aboshehab - EPMCHatChange.yml
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#9609 You now only shout if you use !! instead of ! + apostrophe autopunctuation.
  code/modules/mob/language/generic.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/monkey.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/language/station.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/say.dm
  html/changelogs/mattatlas-exclamationmark.yml
Labels: Review Required

#9620 Allows air analyzers to scan pipes and also shows moles on readout
  code/ATMOSPHERICS/pipes.dm
  code/_helpers/atmospherics.dm
  html/changelogs/hockaa-airanalyzers.yml
Labels: Awaiting Merge, Bugfix

#9610 Gluttony
  code/modules/organs/internal/stomach.dm
  html/changelogs/Crosarius-Gluttony.yml
Labels: Awaiting Merge

#9636 Revert "Modular Computer Screens (#8646)"
  code/modules/modular_computers/computers/modular_computer/core.dm
  html/changelogs/wezzy_revert_scanline.yml
Labels: Awaiting Merge, Bugfix

#9629 Fixes IPCs/dionae/etc not calculating brainloss for death.
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/mattatlas-whenwillitend.yml
Labels: Awaiting Merge, Bugfix

#9632 fixes bottleflipping not actually making the sprite upright
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/wezzy_bottleflip_fix.yml
Labels: Awaiting Merge, Bugfix

#9575 adds rfd-s radials
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/rfd_radials.yml
Labels: Awaiting Merge

#9642 Fixes italics and bold being autopunctuated
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  html/changelogs/mattatlas-boldpunctuate.yml
Labels: Awaiting Merge, Bugfix

#9637 Spawning as someone who needs wheelchairs on the Odin spawns you in a wheelchair
  code/controllers/subsystems/job.dm
  html/changelogs/Hockaa-wheelchairs.yml
Labels: Awaiting Merge, Bugfix

#9643 Huniefix
  code/game/objects/items/bees_items.dm
  code/modules/food/recipes_microwave.dm
  code/modules/food/recipes_oven.dm
  code/modules/hydroponics/beekeeping/honey_extractor.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums.dm
  code/modules/hydroponics/trays/tray_apiary.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/doxxmedearly - honey.yml
Labels: Awaiting Merge, Bugfix

#9646 Random item spawners no longer spawn documents
  code/game/objects/random/random.dm
  html/changelogs/ssdocs_errors.yml
  maps/dungeon_spawns/sol_bunker_unique.dmm
Labels: Awaiting Merge, Bugfix

#9623 Makes the Ore Redemption Console more liberal about ejecting the ID to inactive hand
  code/modules/mining/machine_processing.dm
  html/changelogs/hockaa-oreredemption.yml
Labels: Awaiting Merge

#9648 Fully broken airlocks can now be deconstructed without using an RFD
  code/game/machinery/doors/airlock.dm
  html/changelogs/hockaa-airlocks.yml
Labels: Awaiting Merge, Bugfix

#9527 Adds LDAP but for 2d spessmen
  SQL/migrate/V056__sql_admins_table.sql
  aurorastation.dme
  code/controllers/configuration.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/http/forumuser_api.dm
  code/modules/world_api/commands/server_management.dm
  code/world.dm
  config/example/admin_ranks.json
  config/example/admin_ranks.txt
  config/example/config.txt
  html/changelogs/skull132-forumuser_api.yml
  vueui/src/components/view/admin/permissions-panel.vue
  vueui/src/components/view/admin/player-panel.vue
Labels: Awaiting Merge, High Risk, VueUi

#9655 Fix SQL Error in AdminRanks
  code/modules/admin/admin_ranks.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9631 adds ninja hardsuit selection
  aurorastation.dme
  code/datums/outfits/event/outfit_megacorps.dm
  code/datums/uplink/ninja_rigs.dm
  code/datums/uplink/uplink_categories.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/suits/alien.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/clothing/spacesuits/rig/suits/light.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/projectiles/guns/projectile/plasma.dm
  html/changelogs/kyres1-#9631.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/rig_back.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
Labels: Awaiting Merge, Sprites

#9633 Renames Data Crystals
  code/modules/modular_computers/hardware/portable_hard_drive.dm
  html/changelogs/furrycactus - floppy disks.yml
Labels: Awaiting Merge

#9660 Makes centcom airlocks unhackable via door hacking tools, be affected by ex_act or emps
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/devices/hacktool.dm
  html/changelogs/Ferner-200811-bugfix_centcomhack.yml
Labels: Awaiting Merge, Bugfix

#9594 Hardsuit and Pickaxe Bugfixes
  code/_onclick/item_attack.dm
  code/_onclick/rig.dm
  code/game/jobs/access.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/computer.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/clothing/spacesuits/rig/modules/vision.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/projectiles/gun.dm
  html/changelogs/geeves-hardsuit_activation.yml
Labels: Awaiting Merge, Bugfix

#9661 Fixes auto pain emotes + groan/scream spam.
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-seccomplainedabouttheircharactercrying.yml
Labels: Awaiting Merge, Bugfix

#9664 .45 caliber ammo magazine fix
  code/modules/projectiles/ammunition/boxes.dm
  html/changelogs/wezzy_45ammofix.yml
Labels: Awaiting Merge, Bugfix

#9561 Shrinks Tesla Room and Containment Slightly
  html/changelogs/furrycactus - teslashrink.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9644 Shells can have amputated limbs in the character setup
  code/modules/client/preference_setup/general/03_body.dm
  html/changelogs/shells_amputated_limbs.yml
Labels: Awaiting Merge

#9641 Update itanimulli-COFFIN SENTINEL custom item sprite
  icons/mob/custom_synthetic.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#9669 Fixes some stuff being layered under grilles and other objects
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/flasher.dm
  code/game/machinery/status_display.dm
  html/changelogs/Ferner-200812-bugfix_machinerylayers.yml
Labels: Awaiting Merge, Bugfix

#9649 Move largest Greetings Window assets to cloudflare CDN
  code/modules/client/asset_cache.dm
  html/bootstrap/css/bootstrap-theme.min.css
  html/bootstrap/css/bootstrap.min.css
  html/bootstrap/js/bootstrap.min.js
  html/changelogs/skull132_cdning-welcome-screen.yml
  html/jquery/jquery-2.0.0.min.js
  html/templates/welcome_screen.html
Labels: Awaiting Merge

#9650 Moves NanoUI to use CDN
  code/modules/nano/nanoui.dm
  html/changelogs/skull132-cdn_nanoui.yml
  nano/js/libraries.min.js
  nano/js/libraries/jquery-ui.js
  nano/js/libraries/jquery.js
Labels: Awaiting Merge

#9663 Having something in the uniform slot in your loadout now puts your job uniform into your backpack when you spawn
  code/controllers/subsystems/job.dm
  code/modules/clothing/factions/dominia.dm
  html/changelogs/hockaa-uniforms.yml
Labels: Awaiting Merge, Bugfix

#9628 Adds a ray filter effect to the supermatter crystal
  code/modules/supermatter/supermatter.dm
  html/changelogs/supermatter_rays.yml
Labels: Awaiting Merge

#9595 Alt title display on the character setup menu now looks different.
  code/modules/client/preference_setup/occupation/occupation.dm
  html/changelogs/alt_title_display.yml
Labels: Awaiting Merge

#9685 Turrets create less unnecessary timers
  code/game/machinery/portable_turret.dm
  html/changelogs/less_turret_timers.yml
Labels: Awaiting Merge, Bugfix

#9653 Removes Officer Beepsky at Roundstart
  html/changelogs/furrycactus - beepsky is lrp.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9652 States when a player is winded when examined.
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/houseofsynth - WindDescriptor.yml
Labels: Awaiting Merge

#9667 Space movement is no longer faster, and now counts lattices / structures
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/openspace_mov.yml
Labels: Awaiting Merge, Bugfix

#9678 Civilian rig deconstruct returns steel
  code/modules/clothing/spacesuits/rig/rig_construction.dm
  html/changelogs/civilian_rig_steel.yml
Labels: Awaiting Merge, Bugfix

#9676 Modular computers no longer use power when shutdown.
  code/modules/modular_computers/computers/modular_computer/core.dm
  html/changelogs/modular_no_power_off.yml
Labels: Bugfix, Review Required

#9677 Pap bounty bugfix
  code/modules/cargo/bounties/engineer.dm
  html/changelogs/pap_bounty.yml
Labels: Bugfix, Review Required

#9670 Fixes delay on IPC screens.
  html/changelogs/nienna-screens.yml
  icons/mob/human_face/ipc_screens.dmi
Labels: Awaiting Merge, Sprites

#9665 Adds zippo lighters and a colorable trenchcoat to the loadout.
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/stryker-loadoutitems.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/mob/suit.dmi
  icons/obj/cigs_lighters.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#9674 Pulling a human mob with a slowdown greater than yours now puts you to their speed.
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/hocka-Pullingtweak.yml
Labels: Awaiting Merge

#9697 Fixes path for nano quik-pay ui
  code/modules/economy/quikpay.dm
  html/changelogs/nt_quikpay_fix.yml
Labels: Awaiting Merge, Bugfix

#9680 fix(text): refact text.dm for Unicode support
  code/_helpers/text.dm
Labels: Awaiting Merge, Changelog Required

#9657 Adds & updates Vaurca accents
  aurorastation.dme
  code/modules/background/accent/silicon.dm
  code/modules/background/accent/vaurca.dm
  code/modules/background/defines.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/silicon/silicon.dm
  html/changelogs/hockaa-vaurcaaccents.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#9651 EMT Uniform
  code/game/jobs/job/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/geeves-emt_clothing.yml
  icons/clothing/kit/emt.dmi
Labels: Awaiting Merge, Sprites

#9668 fix(db): some fixes for latest MySQL compatibility
  SQL/migrate/V045__underwear_updates.sql
  code/modules/admin/admin_ranks.dm
Labels: Awaiting Merge, Changelog Required

#9568 VueUI ports: part 84.1
  code/ATMOSPHERICS/components/unary/cold_sink.dm
  code/ATMOSPHERICS/components/unary/heat_source.dm
  code/game/machinery/kitchen/smartfridge.dm
  code/game/objects/items/devices/aicard.dm
  code/modules/vehicles/droppod.dm
  html/changelogs/skull132_vueui.yml
  nano/templates/aicard.tmpl
  nano/templates/droppod.tmpl
  nano/templates/freezer.tmpl
  nano/templates/smartfridge.tmpl
  vueui/src/components/view/devices/aicard.vue
  vueui/src/components/view/machinery/atmospherics/freezer.vue
  vueui/src/components/view/machinery/smartfridge.vue
  vueui/src/components/view/vehicles/droppod.vue
Labels: Awaiting Merge, VueUi

#9699 Spawning on the Odin now gives you your job uniform
  code/controllers/subsystems/job.dm
  html/changelogs/hockaa-uniformfix.yml
Labels: Awaiting Merge, Bugfix

#9712 removes yoink debug log
  code/game/machinery/kitchen/smartfridge.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#9692 No more G2 paramedics.
  code/game/jobs/job/medical.dm
  html/changelogs/mattatlas-niennarequest.yml
Labels: Awaiting Merge

#9688 prosthetic pick up and drop sounds
  code/modules/organs/organ_external.dm
  html/changelogs/wezzy_prosthetic_dropsounds.yml
  sound/items/drop/prosthetic.ogg
  sound/items/pickup/prosthetic.ogg
Labels: Awaiting Merge

#9714 Fixes droppod UI
  html/changelogs/droppod_ui_fix.yml
  vueui/src/components/view/vehicles/droppod.vue
Labels: Awaiting Merge, Bugfix, VueUi

#9691 Reducing overall lethality and nerfing lasers a bit.
  code/__defines/misc.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-itstimeforyoutonotdie.yml
Labels: Awaiting Merge, Test Merge Candidate

#9615 Rev changes v2
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/gamemodes/revolution/revolution.dm
  html/changelogs/revtweaks.yml
Labels: Awaiting Merge

#9698 Kitchen additions
  html/changelogs/kitchenupdoot.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9710 Any type of wirecutter can now be used to carve a bucket into a hat
  code/modules/reagents/reagent_containers/glass.dm
  html/changelogs/bucket_carving.yml
Labels: Awaiting Merge, Bugfix

#9596 Fixes condimaster to use the proper condiment_name and condiment_description variables. also makes frost oil blue
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  html/changelogs/wezzy_condimaster_fixes.yml
Labels: Awaiting Merge, Bugfix

#9532 Factions may now have their own specific job blacklists for species + some blacklists
  code/game/jobs/faction/eridani.dm
  code/game/jobs/faction/faction.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/nanotrasen.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/jobs.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  html/changelogs/paradoxspace-t1000.yml
Labels: Awaiting Merge, Lore Impact, Review Required

#9730 Fixes invalid condiment names
  code/modules/reagents/reagent_containers/food/condiment.dm
  html/changelogs/fixes-condiment-names.yml
Labels: Awaiting Merge, Bugfix

#9766 Fixes pointing at SM
  code/modules/supermatter/supermatter.dm
  html/changelogs/fixes_pointing_at_SM.yml
Labels: Awaiting Merge, Bugfix, High Priority

#9750 Pneumalin and Adipemcina fix organ damage
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/doxxmedearly - medfix.yml
Labels: Awaiting Merge, Bugfix

#9755 Fixes ghostspawner uis with defined spawnpoints
  html/changelogs/ghostspawner_spawnpoint.yml
  vueui/src/components/view/misc/ghostspawner.vue
Labels: Awaiting Merge, Bugfix, VueUi

#9732 Tweaks some asteroid dungeons, adds a new one
  code/game/objects/effects/burnt_wall.dm
  code/game/turfs/flooring/flooring_premade.dm
  html/changelogs/Ferner-200821-mapping_dungeontweaks.yml
  maps/_common/areas/special.dm
  maps/dungeon_spawns/crashed_pod_unique.dmm
  maps/dungeon_spawns/escape_pod_unique.dmm
  maps/dungeon_spawns/listening_post_unique.dmm
  maps/dungeon_spawns/shuttle_unique.dmm
  maps/dungeon_spawns/skrell_crash_unique.dmm
  maps/dungeon_spawns/sol_bunker_unique.dmm
  maps/dungeon_spawns/syndie_unique.dmm
  maps/dungeon_spawns/vault_unique.dmm
Labels: Awaiting Merge

#9726 Removes mesons and material scanners from the station
  code/datums/uplink/devices and tools.dm
  code/game/machinery/vending_types.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  code/modules/mining/machine_rigpress.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/singularity/singularity.dm
  code/modules/research/designs/mechfab/hardsuit/modules.dm
  code/modules/research/designs/protolathe/hud_glasses_designs.dm
  code/modules/research/xenoarchaeology/misc.dm
  code/modules/supermatter/supermatter.dm
  html/changelogs/alberyk-nomesons.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#9725 Makes so that vr chairs don't work without power
  code/game/machinery/deployable.dm
  code/game/objects/structures/vr/_remote_chair.dm
  html/changelogs/alberyk-thefunendshere.yml
Labels: Awaiting Merge

#9711 Uplink chem cost reductions #2
  code/datums/uplink/medical.dm
  html/changelogs/reducedchemtc.yml
Labels: Awaiting Merge

#9675 Adds new push sounds, makes all punch sounds use the proper one in sound.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/hallucinations/types/basic.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/plasma_fist.dm
  code/modules/martial_arts/sleeping_carp.dm
  code/modules/martial_arts/sol_combat.dm
  code/modules/martial_arts/unathi.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/mob_grab_specials.dm
  html/changelogs/wezzy_pushnpunch.yml
  sound/weapons/punchmiss2.ogg
  sound/weapons/push.ogg
  sound/weapons/push_connect.ogg
Labels: Awaiting Merge

#9769 Fixes slapping atoms + range checks.
  code/modules/emotes/definitions/audible.dm
  code/modules/emotes/emote_define.dm
  html/changelogs/mattatlas-nofunallowed.yml
Labels: Awaiting Merge, Bugfix

#9768 Some additional shuttle/z-level 1 fixes
  code/game/atoms_movable.dm
  code/modules/shuttles/shuttle.dm
  html/changelogs/Ferner-200824-bugfix_shuttlefixes2.yml
  icons/turf/shuttles_unique/merc_shuttle.dmi
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora, Sprites

#9571 Airlock safety first
  code/game/machinery/doors/airlock.dm
  html/changelogs/doxxmedearly - synth_safety.yml
  vueui/src/components/view/misc/doors.vue
Labels: Awaiting Merge, VueUi

#9377 Material Deconstruction
  aurorastation.dme
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/firedoor_assembly.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/coffin.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/curtains.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/simple_doors.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/customitems/item_defines.dm
  code/modules/library/lib_items.dm
  code/modules/makeshift/makeshift_reagents.dm
  code/modules/materials/_material_def.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/materials/~material_def.dm
  code/modules/mining/satchel_ore_boxdm.dm
  code/modules/tables/presets.dm
  code/modules/tables/rack.dm
  code/modules/tables/tables.dm
  html/changelogs/geeves-chair_decon.yml
Labels: Awaiting Merge

#9780 Fixes pronoun issues.
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/emotes/emote_define.dm
  code/modules/mob/gender.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/MDP-gender-ii-2-still-genderin.yml
Labels: Awaiting Merge, Bugfix

#9754 adds king of the world title screens
  html/changelogs/kyres1-#9754.yml
  icons/misc/titlescreens/aurora/king_of_the_world.dmi
  maps/aurora/code/aurora.dm
  maps/exodus/code/exodus.dm
Labels: Awaiting Merge, Sprites

#9630 Adds more quality of life for bartending.
  code/game/atoms.dm
  code/game/objects/objs.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/mob/living/carbon/taste.dm
  code/modules/reagents/dispenser/dispenser2.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  html/changelogs/mattatlas-bartendingtime.yml
Labels: Awaiting Merge

#9463 Adds onmob sprites for wristbound computers
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  html/changelogs/wezzy_onmob_wristbound.yml
  icons/obj/modular_wristbound.dmi
Labels: Awaiting Merge, Sprites

#9787 Fixes being unable to dismantle girders, tables and the like
  code/game/objects/structures.dm
  html/changelogs/alberyk_descontruct.yml
Labels: Awaiting Merge, Bugfix

#9756 Drone self-destruct only gibs
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/doxxmedearly - dronesplode.yml
Labels: Awaiting Merge

#9748 New lore names and descriptions for drink bottles.
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/mattven-lunarclock.yml
Labels: Awaiting Merge

#9773 Raider random vendors will spawn without their scan_id lights on
  code/game/objects/random/random.dm
  html/changelogs/raider-base-vendors.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#9788 Fixes human ghostspawners spawning humans with broken bones sometimes
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/200826-bugfix_ghostboneexplosions.yml
Labels: Awaiting Merge, Bugfix, High Priority

#9759 Revert "Adds new sounds for RIGs."
  code/__defines/items_clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  sound/machines/rig/rigdown.ogg
  sound/machines/rig/rigerror.ogg
  sound/machines/rig/rigonline.ogg
  sound/machines/rig/rigstarted.ogg
  sound/machines/rig/rigstep.ogg
Labels: Awaiting Merge, Changelog Required

#9791 Fixes a problem with weapon_and_ammo
  code/game/objects/random/random.dm
  html/changelogs/Ferner-200826-bugfix_weapon_and_ammo.yml
Labels: Awaiting Merge, Bugfix

#9794 Lowers roundstart strain on SStimers
  code/ATMOSPHERICS/components/binary_devices/dp_vent_pump.dm
  code/ATMOSPHERICS/components/binary_devices/passive_gate.dm
  code/ATMOSPHERICS/components/binary_devices/pump.dm
  code/ATMOSPHERICS/components/unary/outlet_injector.dm
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/game/machinery/newscaster.dm
  html/changelogs/skull132-less_timers.yml
Labels: Awaiting Merge, Bugfix

#9792 Fixe Flag Burning
  code/game/objects/structures/signs.dm
  html/changelogs/WilliamMurdoch-flagburnfix.yml
Labels: Awaiting Merge, Bugfix

#9023 Psipower Tweakery
  code/modules/psionics/equipment/psipower.dm
  code/modules/psionics/equipment/psipower_tinker.dm
  code/modules/psionics/equipment/psipower_tk.dm
  html/changelogs/geeves-psipower_tweakery.yml
  icons/obj/psychic_powers.dmi
Labels: Awaiting Merge, Sprites

#9793 IPC Posibrain Name Fix
  code/modules/organs/subtypes/machine.dm
  html/changelogs/WilliamMurdoch-IPCPosibrainNameFix.yml
Labels: Awaiting Merge, Bugfix

#9775 Adds scanner pads to mining borgs
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/alberykborg.yml
Labels: Awaiting Merge

#9770 General and Diona Pain Tweaks
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/species/diona.dm
  code/modules/organs/pain.dm
  html/changelogs/geeves-diona_pain_buff.yml
Labels: Awaiting Merge

#9806 Research Module Gripper Fix
  code/modules/mob/living/silicon/robot/items/gripper.dm
  html/changelogs/WilliamMurdoch-SciborgGripperFix.yml
Labels: Awaiting Merge, Bugfix

#9781 Cargo Fluff
  code/__defines/misc.dm
  code/controllers/subsystems/cargo.dm
  code/datums/cargo.dm
  html/changelogs/geeves-cargo_stuff.yml
Labels: Awaiting Merge, Cargo DB

#9802 Fix Records
  html/changelogs/geeves-fix_records.yml
  vueui/src/components/view/records/list.vue
Labels: Awaiting Merge, Bugfix, VueUi

#9782 Adds dionae bites to the snack vending machine
  code/game/machinery/vending_types.dm
  html/changelogs/alberyk-food.yml
Labels: Awaiting Merge, Lore Impact

#9785 Pulling lockers, chairs, etc. now gives you a slowdown.
  code/game/objects/items/airbubble.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/mob.dm
  html/changelogs/pulling-structures-slowdown.yml
Labels: Awaiting Merge

#9817 Re-add the butcher's cleaver in-hand sprite
  code/game/objects/items/weapons/material/misc.dm
  html/changelogs/goret-cleaverfix.yml
Labels: Awaiting Merge, Bugfix

#9814 Fixes broken drone hatches on doors (finally)
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/multi_tile.dm
  code/game/objects/structures/door_assembly.dm
  html/changelogs/wezzy_ledoorfix.yml
Labels: Awaiting Merge, Bugfix

#9816 Matt's Bugfix Galore
  aurorastation.dme
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/game/gamemodes/changeling/implements/items.dm
  code/game/gamemodes/cult/runes/blind_others.dm
  code/game/gamemodes/cult/runes/wall.dm
  code/game/objects/effects/spiders.dm
  code/modules/admin/secrets/admin_secrets/prison_warp.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/heavy_vehicle/mech_life.dm
  code/modules/heavy_vehicle/mech_wreckage.dm
  code/modules/materials/materials.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/species/outsider/shadow.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/outsider/vox.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/slime.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/mob/living/silicon/robot/items/robot_parts.dm
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/subtypes/diona.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/projectiles/projectile/force.dm
  code/modules/random_map/automata/diona.dm
  html/changelogs/mattatlas-bugfixgalore.yml
  icons/mob/ears.dmi
  icons/obj/guns/lasershotgun.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#9790 Stamp Bonanza
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/modules/background/citizenship/human.dm
  code/modules/paperwork/stamps.dm
  html/changelogs/Ferner-200826-coding_stampfiesta.yml
  icons/obj/bureaucracy.dmi
Labels: Awaiting Merge, Sprites

#9821 Species inherent spells now get properly removed when changing species
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/remove_inherent_spells.yml
Labels: Awaiting Merge, Bugfix

#9822 Returning human and synthetic title screens to rotation.
  html/changelogs/Aboshehab - imagesBackToRotation.yml
  maps/aurora/code/aurora.dm
  maps/exodus/code/exodus.dm
Labels: Awaiting Merge, Bugfix, Lore Impact

#9819 Emagged airlocks can now be repaired + some other airlock code tidying.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  html/changelogs/hockaa-airlocksagain.yml
Labels: Awaiting Merge, Bugfix

#9783 Cargo Vaurca
  code/__defines/mobs.dm
  code/_onclick/hud/screen_object_types/internals.dm
  code/datums/outfits/ert/kataphract.dm
  code/datums/outfits/ert/tcfl.dm
  code/modules/ghostroles/spawner/human/kataphract.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/subtypes/vaurca.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/geeves-breathing_drones.yml
Labels: Awaiting Merge, Database

#9803 Unapologetic M'sai Buffs
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/snakebittenn-overgrowth.yml
  icons/mob/human_face/msai_hair.dmi
Labels: Awaiting Merge, Sprites

#9836 Tapping Gender Fix
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/snakebittenn-androgynous.yml
Labels: Awaiting Merge, Bugfix

#9774 fixes #9758, #9684, #7803
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/MDP-bugfixxes.yml
Labels: Awaiting Merge, Bugfix

#9818 Adds three new accents.
  code/modules/background/accent/human.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human/human_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/schwannaccents.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#9810 Adds new flags to the loadout.
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/extraflags.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites
