Repository Aurorastation/Aurora.3, pull requests merged in 2021-09, with the labels that each got.

#12422 Punching bags have sound again
  code/modules/mining/mine_items.dm
  html/changelogs/Shadow Quill-Punching Bag SoundFix.yml
Labels: Awaiting Merge, Bugfix

#12415 Turrets no longer target AIs when set to neutralize Silicons
  code/game/machinery/portable_turret.dm
  html/changelogs/Shadow Quill-PR-12415.yml
Labels: Awaiting Merge, Bugfix

#12423 Account numbers that reach 999999 will wrap to 111111
  code/controllers/subsystems/economy.dm
  html/changelogs/Shadow Quill-Account Number Fix.yml
Labels: Awaiting Merge, Bugfix

#12368 Adds Citizenship and Religion to the Agent ID
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  html/changelogs/desven-citizenshipid.yml
Labels: Awaiting Merge

#12414 No-Handed humans can no longer strip people
  code/modules/mob/living/carbon/human/stripping.dm
  html/changelogs/Shadow Quill-PR-12414.yml
Labels: Awaiting Merge

#12431 Adds description to wrist radios and double headsets
  code/game/objects/items/devices/radio/headset.dm
  html/changelogs/radiodesc.yml
Labels: Awaiting Merge, Bugfix

#12437 Standardizes M'sai Ears
  html/changelogs/wickedcybs_msaiears.yml
  icons/mob/hair_gradients.dmi
  icons/mob/human_face/msai_hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12419 Trims the spawn-in job gear for first responders
  code/game/jobs/job/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  html/changelogs/omicega-respondermoment.yml
Labels: Awaiting Merge

#12435 Fixes drinks not matching their colors
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/desven-drinkfixes.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12395 Adds in-hand sprites for V'krexi snax
  code/game/machinery/vending_types.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/desven-vkrexisprite.yml
  icons/mob/items/lefthand_food.dmi
  icons/mob/items/righthand_food.dmi
Labels: Awaiting Merge, Sprites

#12410 Technomancer tesla armor adjustments, blink removal.
  aurorastation.dme
  code/game/gamemodes/technomancer/devices/tesla_armor.dm
  code/game/gamemodes/technomancer/instability.dm
  code/game/gamemodes/technomancer/spells/blink.dm
  code/game/gamemodes/technomancer/spells/projectile/lightning.dm
  html/changelogs/mattatlas-teslaarmor.yml
Labels: Awaiting Merge

#12426 Replaces Investigator's pcarrier with Sec pcarrier
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/nerocavalier-platecarrierchange.yml
Labels: Awaiting Merge

#12424 typo fix
  html/changelogs/nerocavalier-typofix.yml
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12420 AIs can once again toggle turrets on/off (as well as lethality)
  code/_onclick/ai.dm
  html/changelogs/Shadow Quill - AI TurretControl Clickage.yml
Labels: Awaiting Merge, Bugfix

#12436 V-Neck Alt Dress Shirt
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/wickedcybs_shirtv.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#12425 Skrellmet
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/nerocavalier-skrellmet.yml
  icons/clothing/kit/modular_armor.dmi
Labels: Awaiting Merge, Sprites

#11853 TCFL Dress Beret Resprite
  html/changelogs/wickedcybs_legionberet.yml
  icons/obj/clothing/hats/berets.dmi
Labels: Awaiting Merge, Sprites

#12417 Synthetic Smörgåsbord
  aurorastation.dme
  code/controllers/subsystems/garbage-debug.dm
  code/datums/trading/goods.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/circuitboards/broken.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/component.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/cable.dm
  code/modules/recycling/disposal.dm
  html/changelogs/geeves-drone_buffs.yml
  icons/obj/doors/door_assembly.dmi
  icons/obj/robot_items.dmi
  icons/obj/trash.dmi
  maps/dungeon_spawns/vault_unique.dmm
Labels: Awaiting Merge, Sprites

#12453 Fixes some bar sign icons not having all directional sprites
  html/changelogs/alberyk-barsign.yml
  icons/obj/barsigns.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12456 RFD-C's Can Now Build Flooring on Open Space
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/wickedcybs_RFDspace.yml
Labels: Awaiting Merge, Bugfix

#12447 fixes various softcaps
  code/modules/clothing/head/soft_caps.dm
  html/changelogs/SoftcapFix.yml
Labels: Awaiting Merge, Bugfix

#12442 Adds gasmask to hos locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/nerocavalier-hosgasmask.yml
Labels: Awaiting Merge

#12444 Faster oxygen loss decay, liver damage nerf.
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  html/changelogs/mattatlas-brainmedstuff.yml
Labels: Awaiting Merge

#12445 Ports Bay's updated evacuation controller and bluespace jump.
  aurorastation.dme
  code/__defines/subsystem-priority.dm
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/controllers/subsystems/emergency_shuttle.dm
  code/controllers/subsystems/evac.dm
  code/controllers/subsystems/evacuation/evacuation.dm
  code/controllers/subsystems/evacuation/evacuation_eta.dm
  code/controllers/subsystems/evacuation/evacuation_helpers.dm
  code/controllers/subsystems/evacuation/evacuation_lifepods.dm
  code/controllers/subsystems/evacuation/evacuation_option.dm
  code/controllers/subsystems/evacuation/evacuation_pods.dm
  code/controllers/subsystems/evacuation/evacuation_predicate.dm
  code/controllers/subsystems/evacuation/evacuation_shuttle.dm
  code/controllers/subsystems/evacuation/~evac.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/ticker.dm
  code/datums/discord/webhook.dm
  code/datums/late_choices.dm
  code/datums/observation/dir_set.dm
  code/datums/observation/helpers.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/narsie.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/endgame/endgame.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/game_mode_latespawn.dm
  code/game/gamemodes/newobjective.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/objective.dm
  code/game/gamemodes/sandbox/sandbox.dm
  code/game/machinery/computer/shuttle.dm
  code/game/machinery/status_display.dm
  code/modules/admin/player_panel.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/wrists/watches.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/admin/admin.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/shuttles/escape_pods.dm
  code/modules/shuttles/shuttle_emergency.dm
  code/modules/world_api/commands/server_query.dm
  html/changelogs/mattatlas-gekkousurvive.yml
  maps/_common/mapsystem/map.dm
  maps/aurora/code/aurora.dm
  maps/aurora/code/aurora_shuttles.dm
  maps/exodus/code/exodus.dm
  maps/runtime/code/runtime.dm
  nano/templates/communication.tmpl
  sound/effects/Evacuation.ogg
Labels: Awaiting Merge, NBT

#12449 Adjusts Plasma Pistol and Bolter
  code/modules/projectiles/guns/projectile/plasma.dm
  code/modules/projectiles/projectile/special.dm
  html/changelogs/connorjg1.yml
Labels: Awaiting Merge

#12412 Journal Tweaks
  code/modules/paperwork/folders.dm
  code/modules/paperwork/journal.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photography.dm
Labels: Awaiting Merge, Changelog Required

#12430 Gives lockers a glow up
  html/changelogs/desven-lockers.yml
  icons/obj/closet.dmi
  icons/obj/guncabinet.dmi
  icons/obj/sciguncabinet.dmi
Labels: Awaiting Merge, Sprites

#12450 Condenses Medical Outerwear Into Its Own Selection + A First Responder Jacket Change
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/wickedcybs_emtjacket.yml
  icons/clothing/kit/first_responder.dmi
Labels: Awaiting Merge, Sprites

#12452 adds tcfl softcaps
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/soft_caps.dm
  html/changelogs/tcflcap.yml
  icons/obj/clothing/hats/soft_caps.dmi
Labels: Awaiting Merge, Sprites

#12461 Ports CM's click on nearby tile to deploy roller bed.
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/nerocavalier-rollerbed.yml
Labels: Awaiting Merge

#12457 Revert "Cryo no longer heals organ damage."
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/connorjg1.yml
Labels: Awaiting Merge

#12446 Splits the integrated HUD sensors augment into an integrated security HUD and integrated medical HUD augment.
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/omicega-fdsfsdfdsfgdsfg432423.yml
Labels: Awaiting Merge

#12465 Surgery safety check
  code/modules/surgery/surgery.dm
  html/changelogs/nerocavalier-surgerysafety.yml
Labels: Awaiting Merge

#12398 Visor Sunglasses + HUDs
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/wickedcybs_medvisor.yml
  icons/mob/eyes.dmi
  icons/mob/items/clothing/lefthand_glasses.dmi
  icons/mob/items/clothing/righthand_glasses.dmi
  icons/obj/clothing/glasses.dmi
Labels: Awaiting Merge, Sprites

#12467 Patient monitoring console QoL
  code/game/machinery/computer/Operating.dm
  html/changelogs/nerocavalier-examineconsole.yml
Labels: Awaiting Merge

#12470 Fixes recharger grammar issue
  code/game/machinery/recharger.dm
  html/changelogs/nerocavalier-rechargergrammar.yml
Labels: Awaiting Merge

#12489 Revert "Surgery safety check"
  code/modules/surgery/surgery.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#12479 Fixes a typo in the zeng-hu description
  code/game/jobs/faction/zeng_hu.dm
  html/changelogs/Megarop-zenghutypo.yml
Labels: Awaiting Merge

#12478 Tesla Spine Price Reduction
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  html/changelogs/wickedcybs_tesla.yml
Labels: Awaiting Merge

#12476 Adds name and desc to holodeck baby penguins
  code/modules/holodeck/HolodeckObjects.dm
  html/changelogs/nerocavalier-holographicpenguin.yml
Labels: Awaiting Merge

#12471 Suraya custom item
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/suraya_dice.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#12483 Updates meat sprites
  html/changelogs/desven-meats.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#12481 Handcuff teamwork
  code/game/objects/items/weapons/handcuffs.dm
  html/changelogs/nerocavalier-teamwork.yml
Labels: Awaiting Merge

#12480 Yes, Another Taj Hair PR
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_iaminagony.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Sprites

#12462 Glare Dampeners
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/geeves-glare_dankeners.yml
  icons/clothing/eyes/welding_goggles.dmi
Labels: Awaiting Merge, Sprites

#12459 Adds ribbons to the loadout
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/desven-ribbons.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#12458 Adds new body marks, allows Skrell and Vaurca to use hair fade options
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/desven-marks.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites

#12439 Adds a Vysokan flag and banner
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/lucaken_vysokaflags.yml
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites

#12411 Suit Cooler Stuff
  code/game/objects/items/devices/suit_cooling.dm
  html/changelogs/geeves-suit_cooler_stuff.yml
  icons/obj/contained_items/tools/suitcooler.dmi
  icons/obj/suitcooler.dmi
Labels: Awaiting Merge, Sprites

#12308 Drone Speech Refactor and Tweak
  aurorastation.dme
  code/__defines/species_languages.dm
  code/datums/ai_law_sets.dm
  code/modules/mining/minebot.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/silicon/silicon.dm
  html/changelogs/geeves-drone_speech_refactor.yml
Labels: Awaiting Merge

#12486 Kills spesscafe
  code/modules/reagents/dispenser/coffeebeans.dm
  html/changelogs/geeves-killspesscafe_redux.yml
Labels: Awaiting Merge

#12443 Ports Water Coolers holding paper cups from Bay
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/nerocavalier-watercoolercupport.yml
Labels: Awaiting Merge

#12498 fixes camera console map mode
  html/changelogs/CameraMapFix.yml
  nano/images/Aurora-3.png
  nano/images/Aurora-4.png
  nano/images/Aurora-5.png
  nano/images/Aurora-6.png
Labels: Awaiting Merge, Bugfix

#12492 Fixes atmos jumpsuit
  html/changelogs/dessven-atmospixel.yml
  icons/mob/uniform.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12488 Symmetrical Garden
  html/changelogs/nerocavalier-gardensymmetry.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12454 Adds university sweatshirts
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/desven-sweatshirts.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#12464 New tunnel cloaks
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  html/changelogs/desven-cloaks.yml
  icons/mob/species/vaurca/back.dmi
  icons/obj/storage.dmi
Labels: Awaiting Merge, Sprites

#12455 Slicing up and Removing Underplating Without an RFD-C
  code/game/turfs/simulated/floor_attackby.dm
  html/changelogs/wickedcybs_floorslice.yml
Labels: Awaiting Merge

#12463 Modular Plate Storage
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under/accessories/holster.dm
  html/changelogs/geeves-even_more_modular.yml
  icons/clothing/kit/modular_armor.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12484 Lights: The Aurora
  html/changelogs/nerocavalier-lighttube.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12491 Adds skrell beards
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/SkrellBeards.yml
  icons/mob/human_face/skrell_beards.dmi
Labels: Awaiting Merge, Sprites

#12495 Amputation Confirmation
  code/modules/surgery/other.dm
  html/changelogs/nerocavalier-ptsd.yml
Labels: Awaiting Merge

#12475 Adds more sec belt overlays
  html/changelogs/desven-secbelt.yml
  icons/obj/clothing/belt_overlays.dmi
Labels: Awaiting Merge, Sprites

#12499 [s] fail2topic vulnerability
  code/controllers/subsystems/fail2topic.dm
  code/modules/admin/verbs/SDQL_2.dm
  code/modules/admin/view_variables/view_variables.dm
Labels: High Priority, Changelog Required, Review Required

#12490 Removes Columbo's hat
  html/changelogs/DogHat.yml
  icons/mob/npc/pets.dmi
Labels: Awaiting Merge, Sprites

#12482 Moves Kitchen ATM closer to Bar
  html/changelogs/nerocavalier-jointATM.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12434 Adds new full windows
  aurorastation.dme
  code/game/objects/structures/full_window_frame.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/effects/map_effects/window_spawner.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/Alberyk-newwindows.yml
  icons/effects/map_effects.dmi
  icons/obj/smooth/full_window.dmi
  icons/obj/smooth/phoron_full_window.dmi
Labels: Awaiting Merge, Sprites

#12451 Resprites the condiment bottles
  html/changelogs/desven-foodbottles.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#12438 Updates fridges sprites, standarizes panel sprites
  html/changelogs/desven-fridge.yml
  icons/obj/vending.dmi
Labels: Awaiting Merge, Sprites

#12497 Fixes loadout renaming runtimes
  aurorastation.dme
  code/datums/components/base_name/base_name.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/detectivework/tools/rag.dm
  code/modules/reagents/reagent_containers/glass.dm
  html/changelogs/LoadoutRuntimeFix.yml
Labels: Awaiting Merge, Bugfix

#12473 Drone Machine Interaction
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/geeves-drone_ore_console.yml
Labels: Awaiting Merge

#12524 Dionae can now use the check light level verb. Removes dead dionastats code.
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  html/changelogs/mattatlas-dionafix.yml
Labels: Awaiting Merge, Bugfix

#12523 Fixes the duplicate announcement once the shuttle arrives at the Odin.
  code/modules/shuttles/shuttle_emergency.dm
  html/changelogs/mattatlas-shuttlefix.yml
Labels: Awaiting Merge, Bugfix

#12530 Please merge ASAP - Vannatusk sound Reduction
  html/changelogs/nerocavalier-vannatusk.yml
  sound/effects/creatures/vannatusk_attack.ogg
Labels: Awaiting Merge, Bugfix

#12522 Deep V-Neck Dress Shirts
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/wickedcybs_cythereanv.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#12513 Security Lobby Waste Bin
  html/changelogs/example copy.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12510 Surgery safety check but with travis
  code/modules/surgery/surgery.dm
  html/changelogs/nerocavalier-take3.yml
Labels: Awaiting Merge

#12508 Readds wooden floor under garden tile
  html/changelogs/nerocavalier-gardenfix.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#12518 Expands Unmarked Visitor Species Selection
  code/modules/ghostroles/spawner/human/visitor.dm
  html/changelogs/wickedcybs__visitor.yml
Labels: Awaiting Merge

#12502 updates unathi caligae sprites
  html/changelogs/UnathiCaligae.yml
  icons/mob/species/unathi/shoes.dmi
Labels: Awaiting Merge, Sprites

#12485 Grapes, wine, mint, tea, coffee
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/hydroponics/seed_datums/herbs.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/xxxxyobdab-PR-#12485.yml
  icons/obj/doors/material_doors.dmi
  icons/obj/drinks.dmi
  icons/obj/food.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Awaiting Merge, Sprites

#12519 Expands Burglar Ghost Role Species Selection
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/wickedcybs_burglar.yml
Labels: Awaiting Merge

#12515 Updates the sterile bottle sprite
  html/changelogs/desven-steribottle.yml
  icons/obj/janitor.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12514 Changes the sprites of two chem bottles
  html/changelogs/desven-chembottles.yml
  icons/obj/chemical.dmi
  icons/obj/reagentfillings.dmi
Labels: Awaiting Merge, Sprites

#12525 Electrifies armory desk window
  html/changelogs/nerocavalier-armory-shock.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12329 Event Map Refactor
  .drone.yml
  .travis.yml
  aurorastation.dme
  code/__defines/_macros.dm
  code/_helpers/global_lists.dm
  code/controllers/subsystems/job.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/world.dm
  maps/_common/mapsystem/map.dm
  maps/event/code/event.dm
  maps/runtime/code/runtime.dm
  maps/runtime/runtime-1.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Runtime

#12526 Gamebreaking sec buffs.
  code/game/machinery/vending_types.dm
  html/changelogs/nerocavalier-secbuff.yml
Labels: Awaiting Merge

#12548 Fixes the sterilizine hand sprite not matching the new icon
  code/modules/reagents/reagent_containers/spray.dm
  html/changelogs/desven-cleanerfix.yml
Labels: Awaiting Merge, Bugfix

#12531 Adds "30" "60" buttons to ChemMaster
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/nerocavalier- 30 60.yml
Labels: Awaiting Merge

#12509 Vanilla plant, extract, syrup
  code/game/machinery/vending_types.dm
  code/modules/hydroponics/seed_datums/flowers.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/xxxxyobdab-PR-#12509.yml
Labels: Awaiting Merge

#12536 No More Mrowmbles When Taj Sing
  code/modules/mob/language/station.dm
  html/changelogs/wickedcybs_nomore.yml
Labels: Awaiting Merge

#12551 fixes the sockless caligae sprite for unathi
  html/changelogs/CaligaeFix.yml
  icons/mob/species/unathi/shoes.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12550 Fixes stethoscopes, inhalers, and breath analysers not working on rollerbed.
  code/modules/surgery/surgery.dm
  html/changelogs/nerocavalier-safetycheckfix.yml
Labels: Awaiting Merge, Bugfix

#12533 Rejuv proc fully restores stamina.
  code/modules/mob/living/living.dm
  html/changelogs/nerocavalier-rejuv.yml
Labels: Awaiting Merge

#12494 Icelance capacity + laser change
  code/modules/projectiles/guns/energy/crank.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/nerocavalier-icelance.yml
Labels: Awaiting Merge, Balance

#12535 Adds a few more hand sprites
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass/coffeecup.dm
  html/changelogs/desven-morehandsprites.yml
  icons/mob/items/lefthand_food.dmi
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_food.dmi
  icons/mob/items/righthand_medical.dmi
Labels: Awaiting Merge, Sprites

#12528 Fixes warden's buttons clipping through wall.
  html/changelogs/nerocavalier-buttonclipfix.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#12527 Suit sensors altclick
  code/modules/clothing/clothing.dm
  html/changelogs/nerocavalier-suitsensoraltclick.yml
Labels: Awaiting Merge

#12546 Tea recipe
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/xxxxyobdab-PR-#12546.yml
Labels: Awaiting Merge

#12544 Adds Vaurca nitrile and botany gloves
  code/game/objects/items/weapons/storage/nitrilebox.dm
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/desven-vaurcagloves.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12511 Adds a new skrell subspecies: Axiori
  aurorastation.dme
  code/__defines/species.dm
  code/game/antagonist/antagonist.dm
  code/game/machinery/body_scanner.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/modules/background/citizenship/human.dm
  code/modules/background/citizenship/ipc.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/background/citizenship/unathi.dm
  code/modules/background/citizenship/vaurca.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/clothing/ears/skrell.dm
  code/modules/ghostroles/spawner/human/admin/admin.dm
  code/modules/ghostroles/spawner/human/admin/ccia.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/ghostroles/spawner/human/merchant.dm
  code/modules/ghostroles/spawner/human/responseteams/ap_eridani.dm
  code/modules/ghostroles/spawner/human/responseteams/iac.dm
  code/modules/ghostroles/spawner/human/responseteams/mercenary.dm
  code/modules/ghostroles/spawner/human/responseteams/nt_ert.dm
  code/modules/ghostroles/spawner/human/responseteams/response_team.dm
  code/modules/ghostroles/spawner/human/responseteams/tcfl.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/ghostroles/spawner/human/zenghu.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell_subspecies.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/robolimbs.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/SkrellSubspecies.yml
  icons/effects/species.dmi
  icons/mob/human_face/eyes.dmi
  icons/mob/human_races/skrell/skrell_axiori_preview.dmi
Labels: Awaiting Merge, Sprites

#12560 Fixes skrell whitelist
  code/__defines/species.dm
  html/changelogs/SkrellFix.yml
Labels: Awaiting Merge, Bugfix

#12539 Latejoin cryo changes
  code/controllers/subsystems/job.dm
  code/game/machinery/megavend.dm
  code/modules/client/preferences_spawnpoints.dm
  html/changelogs/CryoChange.yml
  icons/obj/stationobjs.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites, NBT

#12564 Adds sprites for the Vaurca atmos suit
  html/changelogs/desven-vaurcatmos.yml
  icons/mob/species/vaurca/helmet.dmi
  icons/mob/species/vaurca/suit.dmi
  icons/obj/clothing/species/vaurca/hats.dmi
  icons/obj/clothing/species/vaurca/suits.dmi
Labels: Awaiting Merge, Sprites, Bugfix
