Repository Aurorastation/Aurora.3, pull requests merged in 2021-05, with the labels that each got.

#11773 Datumize tendon behavior, make tendon snapping more consistent
  aurorastation.dme
  code/__defines/damage_organs.dm
  code/game/gamemodes/cult/structures/altar.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/body_scanner.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/organs/tendons.dm
  code/modules/psionics/complexus/complexus_process.dm
  code/modules/psionics/faculties/redaction.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/spell_system/spells/spell_list/others/generic/mend.dm
  code/modules/surgery/other.dm
Labels: Awaiting Merge, Changelog Required, Refactor

#11777 Removes Dominian Skrell Consular Officers
  code/modules/background/citizenship/human.dm
  html/changelogs/changelog.yml
Labels: Awaiting Merge

#11774 Blueprint Blueprints
  code/ATMOSPHERICS/components/unary/vent_pump.dm
  code/ATMOSPHERICS/components/unary/vent_scrubber.dm
  code/ATMOSPHERICS/pipes.dm
  code/game/objects/items.dm
  code/game/objects/items/blueprints.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_changing.dm
  code/modules/power/cable.dm
  code/modules/recycling/disposal.dm
  html/changelogs/geeves-blueprint_blueprints.yml
Labels: Awaiting Merge

#11772 Phoron Shizz
  code/ZAS/Phoron.dm
  code/game/objects/objs.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/geeves-phoron_shizz.yml
Labels: Awaiting Merge

#11780 Laser and Carbine Dangerous Weapons
  code/datums/uplink/highly visible and dangerous weapons.dm
  html/changelogs/geeves-laser_rifle.yml
Labels: Awaiting Merge

#11798 Fixes cooker toggle message
  code/modules/cooking/machinery/cooking_machines/_cooker.dm
  html/changelogs/MDP-togglefix.yml
Labels: Awaiting Merge, Bugfix

#11659 Modular Computer Message Slider
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/system/configurator.dm
  html/changelogs/geeves-message_slider.yml
  vueui/src/components/view/mcomputer/chat/index.vue
  vueui/src/components/view/mcomputer/system/config.vue
Labels: Awaiting Merge, VueUi

#11778 Table Sliding
  code/_onclick/drag_drop.dm
  code/modules/mob/inventory.dm
  code/modules/tables/interactions.dm
  html/changelogs/geeves-table_sliding.yml
Labels: Awaiting Merge

#11803 Plant Analyzer Fix
  code/modules/hydroponics/trays/tray_tools.dm
  html/changelogs/geeves-plant_analyzer_fix.yml
  icons/obj/contained_items/tools/plant_analyzer.dmi
  icons/obj/device.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11799 Obfuscation Fix
  code/modules/mob/mob.dm
  html/changelogs/geeves-obfuscation_fix.yml
Labels: Awaiting Merge, Bugfix

#11790 Adds the idris rag to the loadout
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/detectivework/tools/rag.dm
  html/changelogs/IdrisRag.yml
  icons/obj/janitor.dmi
Labels: Awaiting Merge, Sprites

#11781 Fiber & print collection drag & drop
  code/modules/detectivework/tools/sample_kits.dm
  html/changelogs/EvidenceCollector.yml
Labels: Awaiting Merge

#11810 TCFL Pilot Jacket Fix
  code/datums/outfits/ert/tcfl.dm
  html/changelogs/wickedcybs_pilot.yml
Labels: Awaiting Merge, Bugfix

#11813 Hardsuit Injection Ports
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  html/changelogs/geeves-hardsuit_injection.yml
Labels: Awaiting Merge, Bugfix

#11825 Fixes standard weapon effects runtimes.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  html/changelogs/mattatlas-fuckup.yml
Labels: Awaiting Merge, Bugfix

#11791 Adds a preference for floating chat color.
  SQL/migrate/V067__floatiing_chat_color.sql
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/floating_messages.dm
  html/changelogs/mattatlas-floatingchatcolor.yml
  interface/skin.dmf
Labels: Awaiting Merge

#11800 Limbs no longer auto-fracture at the damage threshold
  code/modules/organs/organ_external.dm
  html/changelogs/johnwildkins-fracture.yml
Labels: Awaiting Merge

#11804 Yet More Infection Tweaks
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/Doxxmedearly - infection_tweaks_again.yml
Labels: Awaiting Merge

#11809 Rescue Poddie Addition - TCFL Member
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/wickedcybs_FORTHEREUPBLIC!.yml
Labels: Awaiting Merge

#11846 Melee weapons now actually apply armor penetration.
  code/modules/mob/living/living_defense.dm
  html/changelogs/mattatlas-meleearmorpen.yml
Labels: Awaiting Merge, Bugfix

#11808 Some Bonus Taj Hair
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_hair2.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Sprites

#11847 Fixes taj uniforms
  html/changelogs/RollUniform.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11837 Fixes a runtime in /datum/preference/New().
  code/modules/client/preferences.dm
  html/changelogs/MDP-fixes-prefs-runtime-1.yml
Labels: Awaiting Merge, Bugfix

#11838 Fixes Aurora Map CI
  scripts/dm.sh
Labels: Awaiting Merge, Bugfix, Changelog Required

#11787 Removes meme hairstyle.
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/dansemacabre-hairbegone.yml
  icons/mob/human_face/facial_hair_multiply.dmi
Labels: Awaiting Merge, Sprites

#11849 Fixes circuit imprinter from displaying reagent path instead of name
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  html/changelogs/Doxxmedearly - reagent_name_4_science.yml
Labels: Awaiting Merge, Bugfix

#11789 Adds Skrell Seeds to the Seed Servitor
  code/game/machinery/vending_types.dm
  html/changelogs/changelog.yml
Labels: Awaiting Merge, Merge Conflict

#11689 VueUI viewer for large lists in VV
  aurorastation.dme
  code/modules/admin/verbs/viewlist.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
  vueui/src/components/view/admin/extended-list.vue
Labels: Changelog Required, Review Required, VueUi

#11811 Energy Utility Knives for the Rest of the TCFL
  html/changelogs/wickedcybs_knifey.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11820 Himeo Voidsuit Variants - Free Tajaran Council Edition
  code/game/objects/items/devices/modkit.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/example - Copy.yml
  icons/obj/contained_items/voidsuits/himeotaj.dmi
Labels: Awaiting Merge, Sprites

#11855 Melee now applies AP to humans too, mech EMP armor fix.
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/living_defense.dm
  html/changelogs/mattatlas-armorfixesagain.yml
Labels: Awaiting Merge, Bugfix

#11831 Welding Tool Alignment Fix
  html/changelogs/geeves-welding_tool_alignment.yml
  icons/obj/contained_items/tools/welding_tools.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11824 Gives moderators respawn and change name from VV.
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/view_variables/topic.dm
  html/changelogs/mattatlas-mod.yml
Labels: Awaiting Merge

#11865 Fix more preference runtimes
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#11868 Fixes the central command map
  maps/aurora/aurora-1_centcomm.dmm
Labels: Bugfix, Changelog Required, Mapping: Aurora, Review Required

#11835 Fixes #11817
  code/__defines/subsystem-priority.dm
  code/modules/client/asset_cache.dm
  html/changelogs/MDP-11817.yml
Labels: Awaiting Merge, Bugfix

#11850 Fixes germ_level going negative
  code/modules/organs/organ.dm
  html/changelogs/doxxmedearly - negative_infections.yml
Labels: Awaiting Merge, Bugfix

#11836 FSF ERT gear fixes.
  code/datums/outfits/ert/fsf.dm
Labels: Awaiting Merge, Changelog Required, Sprites

#11821 Tesla Equipment Sprites
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/generator.dm
  code/modules/power/tesla/coil.dm
  html/changelogs/geeves-tesla_clamps.yml
  icons/obj/machines/field_generator.dmi
  icons/obj/singularity.dmi
  icons/obj/tesla_engine/tesla_coil.dmi
  icons/obj/tesla_engine/tesla_generator.dmi
Labels: Awaiting Merge, Sprites

#11812 Eyestab Stuff
  code/game/objects/items.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/species/tajara.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  html/changelogs/geeves-eyestab_stuff.yml
Labels: Awaiting Merge

#11818 Some TCFL Projectile Rebalances
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  html/changelogs/wickedcybs_blaster.yml
Labels: Awaiting Merge

#11819 Adds the dominian tribunalist medical beret
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/clothing/factions/dominia.dm
  html/changelogs/TribunalMedic.yml
  icons/clothing/head/dominia_beret_hospital.dmi
Labels: Awaiting Merge, Sprites

#11833 Impact Wrench Maptext & Soundfix
  code/game/objects/items/weapons/tools.dm
  html/changelogs/geeves-powerdrill_maptext.yml
Labels: Awaiting Merge

#11840 Unabashed Unathi Clothes Update: Part 1
  aurorastation.dme
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/gloves/xeno/unathi.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/clothing/masks/xeno/unathi.dm
  code/modules/clothing/suits/xeno/unathi.dm
  code/modules/clothing/suits/xeno/vaurca.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  code/modules/clothing/wrists/xeno/unathi.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/changelog.yml
  html/changelogs/unathi_clothes_one_changelog.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#11805 Pyromania Update
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tools.dm
  code/game/sound.dm
  html/changelogs/geeves-flamethrower_stuff.yml
  icons/obj/contained_items/weapons/flamethrower.dmi
  sound/attributions.txt
  sound/effects/fleshburn1.ogg
  sound/effects/fleshburn2.ogg
  sound/weapons/flamethrower.ogg
Labels: Awaiting Merge, Sprites

#11785 Science Tapes
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/research/xenoarchaeology/misc.dm
  html/changelogs/geeves-science_tapes.yml
  icons/policetape.dmi
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#11784 Drag Tracks and Footwraps
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/geeves-drag_tracks.yml
  icons/effects/fluidtracks.dmi
Labels: Awaiting Merge, Sprites

#11684 Triage Tags
  code/__defines/misc.dm
  code/__defines/mobs.dm
  code/defines/procs/hud.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/geeves-triage_tags.yml
  icons/mob/hud_med.dmi
  icons/mob/screen/triage_tag.dmi
Labels: Awaiting Merge, Sprites

#11667 Remote Listening Stuff
  code/_helpers/game.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/mob_helpers.dm
  code/modules/shareddream/brainghost.dm
  code/modules/shareddream/dream_entry.dm
  html/changelogs/geeves-srom_listening.yml
  maps/runtime/runtime-2.dmm
Labels: Awaiting Merge, Mapping: Runtime

#11848 Adds some extra food & utensil to lunchboxes
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/LunchboxUtensil.yml
Labels: Awaiting Merge

#11852 Species Insulated Gloves for Raiders & Distress Teams
  html/changelogs/wickedcybs_ertglove.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11832 Stock Parts Resprite
  code/modules/research/stockparts.dm
  html/changelogs/geeves-stock_parts_sprite.yml
  icons/obj/stock_parts.dmi
Labels: Awaiting Merge, Sprites

#11829 Plasma Cutter Resprite
  code/modules/projectiles/guns/energy/mining.dm
  html/changelogs/geeves-plasma_cutter_stuff.yml
  icons/obj/guns/plasma_cutter.dmi
  icons/obj/mining_contained.dmi
Labels: Awaiting Merge, Sprites

#11858 Vote Logging
  code/controllers/subsystems/vote.dm
  html/changelogs/geeves-vote_logging.yml
Labels: Awaiting Merge

#11690 Revamps the Eridani Beacon Responders: Introducing the EPMC Asset Protection Team
  aurorastation.dme
  code/datums/ert/outsider.dm
  code/datums/outfits/ert/ap_eridani.dm
  code/datums/outfits/ert/med_eridani.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/ghostroles/spawner/human/responseteams/ap_eridani.dm
  code/modules/ghostroles/spawner/human/responseteams/med_eridani.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/rifle.dm
  html/changelogs/wickedcybs_yourmovecreep.yml
  vueui/uitests/ghost_spawners.json
Labels: Awaiting Merge

#11830 More Tool Sprites
  code/__defines/color.dm
  code/game/jobs/job/engineering.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/tools.dm
  html/changelogs/geeves-more_tool_sprites.yml
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#11872 Revisiting the Freelancers: A Rebalance
  code/datums/ert/outsider.dm
  code/datums/outfits/ert/mercenary.dm
  html/changelogs/wickedcybs_freelancerwep.yml
  maps/templates/distress/distress_equipment.dm
  maps/templates/distress/freelancers.dmm
Labels: Awaiting Merge

#11883 Radhood Left Facing Alignment Fix
  html/changelogs/wickedcybs_radhood.yml
  icons/mob/head.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11857 Blood Splatters
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/blood.dm
  html/changelogs/geeves-blood_splatter.yml
Labels: Awaiting Merge

#11834 Flight Helmets
  aurorastation.dme
  code/controllers/subsystems/processing/shuttle.dm
  code/datums/outfits/ert/tcfl.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/pilot_helmet.dm
  code/modules/shuttles/shuttle.dm
  code/modules/shuttles/shuttle_autodock.dm
  code/modules/shuttles/shuttle_console.dm
  html/changelogs/geeves-pilot_helmet.yml
  icons/clothing/head/pilot_helmets.dmi
Labels: Awaiting Merge, Sprites

#11863 Adds taj cigs to the vending machines
  code/game/machinery/vending_types.dm
  html/changelogs/SmokeLungs.yml
Labels: Awaiting Merge

#11856 Telescopic Cane and loadout condensing
  code/defines/obj/weapon.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  html/changelogs/William Murdoch - Telecopic Cane.yml
  icons/obj/contained_items/weapons/telebaton.dmi
  icons/obj/contained_items/weapons/telecane.dmi
Labels: Awaiting Merge, Sprites

#11814 Shoe Layer Gear Tweak
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  html/changelogs/geeves-shoe_tweak.yml
Labels: Awaiting Merge

#11878 More Recolourable Pants
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/shorts.dm
  html/changelogs/wickedcybs_jeanist.yml
  icons/obj/pants.dmi
Labels: Awaiting Merge, Sprites

#11861 Swimstars! Now available in the loadout
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/Swimstars.yml
  icons/obj/lunchbox.dmi
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#11870 Adds three new rescue pod roles.
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/dansemacabre-podpeople.yml
Labels: Awaiting Merge

#11884 Yet Again, More Taj Hair
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_wowmorehair.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Sprites

#11647 Modifies modular computer programs & loadout
  code/game/jobs/job/civilian.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/modular_computers/computers/subtypes/dev_handheld.dm
  code/modules/modular_computers/computers/subtypes/preset_handheld.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  html/changelogs/computerLoadout.yml
Labels: Awaiting Merge, Do Not Merge

#11882 Tajaclavas - Redone
  html/changelogs/wickedcybs_clava.yml
  icons/mob/species/tajaran/mask.dmi
Labels: Awaiting Merge, Sprites

#11886 Run only confusion
  code/modules/mob/mob_movement.dm
  html/changelogs/RunConfusion.yml
Labels: Awaiting Merge

#11889 More Visible Triage Tags
  html/changelogs/wickedcybs_tag.yml
  icons/mob/hud_med.dmi
Labels: Awaiting Merge, Sprites

#11873 Quick and dirty technomancer den rework
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora

#11898 Apologetic Booze Nerfs 1: No Boogaloo
  code/modules/mob/living/carbon/human/intoxication.dm
  html/changelogs/doxxmedearly - buzzed_speeddown.yml
Labels: Awaiting Merge

#11902 Some More Human Hairstyle Variations
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_emofringe.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#11908 makes steramycin detectable to scanners
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/SteramycinScan.yml
Labels: Awaiting Merge, Bugfix

#11892 Adds language colours for Tradeband and Freespeak.
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/modules/mob/language/generic.dm
  code/stylesheet.dm
  html/changelogs/omicega-colourtime.yml
Labels: Awaiting Merge

#11822 Skrellian Social Credit
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/geeves-social_credit.yml
Labels: Awaiting Merge, Lore Impact

#11912 Fixing an Unintentionally Asymmetrical Hairstyle
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#11916 Fixes an Asymmetrical Hairstyle, Again
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#11913 Technomancer bugfixes.
  code/_onclick/hud/ability_screen_objects.dm
  code/game/gamemodes/mixed/visitors.dm
  code/game/gamemodes/technomancer/spells/aura/shock_aura.dm
  code/game/gamemodes/technomancer/spells/aura/unstable_aura.dm
  code/game/gamemodes/technomancer/spells/mend_organs.dm
  code/game/gamemodes/technomancer/spells/modifier/mend_all.dm
  code/game/gamemodes/technomancer/spells/modifier/mend_life.dm
  code/game/gamemodes/technomancer/spells/modifier/mend_synthetic.dm
  code/game/gamemodes/technomancer/spells/modifier/modifier.dm
  code/game/gamemodes/technomancer/spells/spawner/destablize.dm
  code/game/gamemodes/technomancer/spells/spawner/fire_blast.dm
  html/changelogs/mattatlas-technoligma.yml
Labels: Awaiting Merge, Bugfix

#11918 Fixes Skrell Plant Prices
  code/game/machinery/vending_types.dm
  html/changelogs/skrell_fix_changelog.yml
Labels: Awaiting Merge, Bugfix

#11909 Cleaning up the Taj Shoe DMI to Fix an Issue + an Extra
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/shoes/xeno/tajara.dm
  html/changelogs/wickedcybs_shoe.yml
  icons/mob/species/tajaran/shoes.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11904 Radios no longer sense when you're handcuffed
  code/game/objects/items/devices/radio/radio.dm
  html/changelogs/Doxxmedearly - Radio_Cuff_Fix.yml
Labels: Awaiting Merge, Bugfix

#11894 Skrell Combat Hardsuit
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  html/changelogs/geeves-skrell_combat_hardsuit.yml
  icons/clothing/rig/combat.dmi
Labels: Awaiting Merge, Sprites

#11900 Neck Examines
  code/game/objects/items.dm
  code/game/objects/items/tajara.dm
  code/modules/clothing/ears/bandanna.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/lockets.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/geeves-show_on_neck.yml
Labels: Awaiting Merge

#11895 Vampire Blood Heal: The New Antibiotic
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/doxxmedearly - vampire_infect_heal.yml
Labels: Awaiting Merge

#11929 Fixes master compile not working
  code/game/machinery/vending_types.dm
Labels: Awaiting Merge, Bugfix, Changelog Required, High Priority, High Risk

#11915 Removes full explosion from the explosive implant
  code/datums/uplink/implants.dm
  code/game/objects/items/weapons/implants/implant.dm
  html/changelogs/alberyk_implant.yml
Labels: Awaiting Merge

#11910 Adds Tape Rolls to Tool Vendors
  code/game/machinery/vending_types.dm
  html/changelogs/wickedcybs_tape.yml
Labels: Awaiting Merge

#11934 Extended Events Bugfix
  code/modules/events/event.dm
  html/changelogs/geeves-no_extended_events.yml
Labels: Awaiting Merge, Bugfix

#11897 Kathira El-Hashem Custom Item
  code/modules/customitems/item_defines.dm
  code/modules/customitems/item_spawning.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/subtypes/augment.dm
  icons/obj/custom_items/kathira_legbrace.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#11887 Holo-Menu
  aurorastation.dme
  code/_helpers/text.dm
  code/game/objects/items.dm
  code/game/objects/items/holomenu.dm
  html/changelogs/geeves-holomenu.yml
  icons/obj/holomenu.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#11906 Defines Hair Lengths for Taj & Gives Them the Tie Hair Verb
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  html/changelogs/wickedcybs_tied.yml
Labels: Awaiting Merge

#11903 Drying Rack Tweak
  code/modules/cooking/machinery/smartfridge.dm
  html/changelogs/Doxxmedearly - Drying_Fixes.yml
Labels: Awaiting Merge

#11899 Flavor Text Showing
  aurorastation.dme
  code/__defines/_compile_helpers.dm
  code/__defines/items_clothing.dm
  code/modules/clothing/head/berets.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/geeves-show_flavor_text.yml
Labels: Awaiting Merge

#11796 Accessory Attach Fix
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/geeves-unathi_mantle_fix.yml
Labels: Awaiting Merge, Bugfix

#11891 Adds new gadpathurian loadout options
  code/modules/background/accent/human.dm
  code/modules/background/religion/human.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/clothing/factions/gadpathur.dm
  code/modules/mining/mine_items.dm
  html/changelogs/alberyk_gadpathurclothing.yml
  icons/clothing/accessories/dogtags.dmi
  icons/clothing/head/gadpathur_beret.dmi
  icons/clothing/head/gadpathur_cap.dmi
  icons/clothing/suits/coats/gadpathur_coat.dmi
  icons/mob/items/lefthand_mining.dmi
  icons/mob/items/righthand_mining.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#11907 Fixes taj overheating in their clothes
  code/game/antagonist/outsider/wizard.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/TajClothHeat.yml
Labels: Awaiting Merge, Bugfix

#11881 TCFL Service & Veteran Cards
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/wickedcybs_servicecard.yml
Labels: Awaiting Merge

#11911 An Addition to the Revenant Rift Announcement
  code/modules/ghostroles/spawner/antagonist/revenant.dm
  html/changelogs/wickedcybs_rift.yml
Labels: Awaiting Merge

#11939 Contractor uniforms now actually show in the preview.
  code/game/jobs/job/job.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  html/changelogs/mattatlas-thisisshitcodehonestly.yml
Labels: Awaiting Merge, Bugfix

#11924 TCFL Medical Belt Tweaks
  html/changelogs/wickedcybs_tcflmed.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11923 Cult Sword Buff
  code/game/gamemodes/cult/items/sword.dm
  html/changelogs/wickedcybs_APmob.yml
Labels: Awaiting Merge

#11875 Species specific blood pressure & pulse
  code/__defines/mobs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/BloodyDay.yml
Labels: Awaiting Merge

#11927 Gives First Responders OR Access
  code/game/jobs/job/medical.dm
  html/changelogs/wickedcybs_medicalor.yml
Labels: Awaiting Merge

#11928 Veilwalk tweaks
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/alberyk-vampirenerfs.yml
Labels: Awaiting Merge

#11930 Adds several new taj food & recipes
  code/game/machinery/vending_types.dm
  code/modules/cooking/recipes/cultural/recipes_tajara.dm
  code/modules/hydroponics/seed_datums/aquaculture.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/fish.dm
  html/changelogs/TajFood.yml
  icons/obj/food.dmi
  icons/obj/molluscs.dmi
Labels: Awaiting Merge, Sprites

#11931 Borscht Name Retirement
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/doxxmedearly - borscht-or-borchschst.yml
Labels: Awaiting Merge

#11933 Reagent Scanner Stuff
  code/game/objects/items/devices/scanners.dm
  html/changelogs/geeves-reagent_scanner_stuff.yml
  icons/obj/device.dmi
Labels: Awaiting Merge, Sprites

#11921 Custom items 18/05
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/mob/custom_synths/customhologram.dmi
  icons/obj/custom_items/andersen_goggles.dmi
  icons/obj/custom_items/kennard_ledger.dmi
  icons/obj/custom_items/mahir_glasses.dmi
  icons/obj/custom_items/sezrak_zippo.dmi
  icons/obj/custom_items/valetzrhonaja_cloak.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#11806 Firefighting Gear
  code/__defines/items_clothing.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  html/changelogs/geeves-firefighting_gear.yml
  icons/clothing/kit/firefighter.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#11885 Loadout Laptop ID Slot
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/modular_computers/computers/subtypes/preset_laptop.dm
  html/changelogs/geeves-id_slot.yml
Labels: Awaiting Merge

#11946 Luceism Book Sprite Fix
  code/modules/background/religion/human.dm
  html/changelogs/doxxmedearly - luceism_book_fix.yml
Labels: Awaiting Merge, Bugfix

#11949 Adds dirtberries to the creamice recipe
  code/modules/cooking/recipes/cultural/recipes_tajara.dm
  html/changelogs/creamiceFix.yml
Labels: Awaiting Merge, Bugfix

#11932 Adds knitting supplies to the loadout
  aurorastation.dme
  code/game/objects/items/knitting.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/PublicKnitting.yml
  icons/obj/contained_items/tools/knitting.dmi
Labels: Awaiting Merge, Sprites

#11826 Tendon Health
  code/__defines/damage_organs.dm
  code/game/gamemodes/cult/structures/altar.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/body_scanner.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/organs/tendons.dm
  code/modules/psionics/complexus/complexus_process.dm
  code/modules/psionics/faculties/redaction.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/spell_system/spells/spell_list/others/generic/mend.dm
  code/modules/surgery/other.dm
  html/changelogs/johnwildkins-tendon2.yml
Labels: Awaiting Merge

#11917 Weapon Tweaks - Ballistic Penetration & X-Ray Firing Speed
  code/game/machinery/portable_turret.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/rifle.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/wickedcybs_pent.yml
Labels: Awaiting Merge

#11925 Legionnaires! Affix Bayonets!
  code/datums/outfits/ert/tcfl.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/projectiles/guns/energy/blaster.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  html/changelogs/wickedcybs_affixbayonets.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11938 Vaurca darkvision color update
  code/modules/client/client_color.dm
  html/changelogs/VaurcaVision.yml
Labels: Awaiting Merge

#11936 Adds a suit cooling module to the rescue RIG
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/omicega-suitcooling.yml
Labels: Awaiting Merge

#11864 Siemens Checking
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/trash_pile.dm
  code/modules/clothing/gloves/attackby.dm
  code/modules/clothing/gloves/color.dm
  code/modules/item_worth/worths_list.dm
  code/modules/power/cell.dm
  html/changelogs/geeves-siemens_checking.yml
Labels: Awaiting Merge

#11845 Long Range Holopads
  code/game/machinery/hologram.dm
  html/changelogs/geeves-long_range_holopads.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11776 Refactors biogenerator recipes
  code/game/machinery/biogenerator.dm
  html/changelogs/MDP-biorecipes.yml
Labels: Awaiting Merge

#11926 Adds new IRU coats and Trinary Perfection capes.
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/clothing/factions/idris.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/nienna_irucoats.yml
  icons/clothing/suits/coats/idris_iru_coats.dmi
  icons/mob/ties.dmi
Labels: Awaiting Merge, Sprites

#11955 compile error fix
  code/datums/outfits/ert/tcfl.dm
  code/game/gamemodes/technomancer/spells/mend_organs.dm
Labels: Bugfix, Changelog Required, Review Required

#11958 Fix synthetic limbs being permanently tendonsnapped
  code/game/gamemodes/technomancer/spells/mend_organs.dm
  code/modules/organs/organ_external.dm
  html/changelogs/johnwildkins-tendonfix.yml
Labels: Awaiting Merge, Bugfix

#11947 Gardening and Janitor QoL Buff
  code/game/objects/structures/mop_bucket.dm
  code/modules/reagents/reagent_containers/glass.dm
  html/changelogs/furrycactus - buckets.yml
Labels: Awaiting Merge

#11943 AI Loadout Hologram
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/geeves-ai_loadout_hologram.yml
Labels: Awaiting Merge

#11951 Googly Eyes
  aurorastation.dme
  code/__defines/_macros.dm
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/game/atoms_movable.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/vending.dm
  code/game/objects/items/sticker.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/geeves-thanks_goon.yml
  icons/obj/sticker.dmi
Labels: Awaiting Merge, Sprites

#11948 Chem Dispenser Safety Standards
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
  html/changelogs/doxxmedearly - bucket_chemistry.yml
Labels: Awaiting Merge

#11963 Fixes bugs with IRU coats and Trinary Perfection capes.
  code/modules/clothing/factions/idris.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/niennairucoats-bugfix.yml
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11968 Aphy plushie
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/aphy.yml
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#11960 Greimorians & Aliens Get Green Blood
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/wickedcybs_bugblood.yml
  icons/mob/npc/greimorian.dmi
  icons/mob/npc/spider_queen.dmi
Labels: Awaiting Merge, Sprites

#11957 Alcoholism Buff
  code/__defines/chemistry.dm
  code/modules/organs/internal/liver.dm
  html/changelogs/doxxmedearly - longer_intoxication.yml
Labels: Awaiting Merge

#11801 Where No Spaceman Has Gone Before: a space sector system
  aurorastation.dme
  code/__defines/space_sectors.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/initialization/atlas.dm
  code/controllers/subsystems/initialization/map_finalization.dm
  code/controllers/subsystems/job.dm
  code/controllers/subsystems/responseteam.dm
  code/controllers/subsystems/trade.dm
  code/datums/ert/nanotrasen.dm
  code/datums/ert/outsider.dm
  code/datums/ert/responseteam.dm
  code/datums/ert/tcfl.dm
  code/datums/helper_datums/away_mission.dm
  code/datums/trading/trade.dm
  code/datums/trading/unique.dm
  code/datums/trading/weaponry.dm
  code/modules/background/space_sectors/space_sector.dm
  code/modules/background/space_sectors/tauceti.dm
  code/modules/mob/mob.dm
  config/example/config.txt
  html/changelogs/alberyk-sector.yml
  maps/_common/mapsystem/map.dm
  maps/aurora/code/aurora.dm
  maps/exodus/code/exodus.dm
  maps/runtime/code/runtime.dm
Labels: Review Required

#11978 Fixes the adhomian watch hour
  code/game/objects/items/tajara.dm
  html/changelogs/AdhomianWatchFix.yml
Labels: Awaiting Merge, Bugfix

#11971 Adds a Luceian Zippo Lighter
  code/__defines/lighting.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  html/changelogs/wickedcybs_zippo2.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/obj/cigs_lighters.dmi
Labels: Awaiting Merge, Sprites

#11952 Idris Ordering Terminals
  aurorastation.dme
  code/modules/economy/OrderTerminal.dm
  html/changelogs/OrderTerminal.yml
  icons/obj/terminals.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  vueui/src/components/view/machinery/orderterminal/editconfirmation.vue
  vueui/src/components/view/machinery/orderterminal/orderconfirmation.vue
  vueui/src/components/view/machinery/orderterminal/ordering.vue
Labels: Awaiting Merge, Mapping: Aurora, Sprites, VueUi

#11950 Minor Mapping Suggestions Stuff
  html/changelogs/furrycactus - map thread 1.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11815 Xenoarch Stuff
  aurorastation.dme
  code/controllers/subsystems/initialization/xenoarch.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/mining/mine_turfs.dm
  code/modules/research/xenoarchaeology/artifact/artifact.dm
  code/modules/research/xenoarchaeology/geosample.dm
  code/modules/research/xenoarchaeology/machinery/geosample_scanner.dm
  code/modules/research/xenoarchaeology/tools/anomaly_container.dm
  code/modules/research/xenoarchaeology/tools/suspension_generator.dm
  code/modules/research/xenoarchaeology/tools/tools_coresampler.dm
  html/changelogs/geeves-xenoarch_cleanup.yml
  icons/obj/mining.dmi
  icons/obj/xenoarchaeology.dmi
  maps/aurora/aurora-3_sublevel.dmm
  vueui/src/components/view/machinery/xenoarchaeology/suspensiongenerator.vue
Labels: Awaiting Merge, Mapping: Aurora, Sprites, VueUi

#11935 Ports Auto-Compressors from Bay
  aurorastation.dme
  code/game/objects/items/devices/auto_cpr.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  html/changelogs/suethecake-cprshenanigans.yml
  icons/mob/suit.dmi
  icons/obj/auto_cpr.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  sound/machines/pump.ogg
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#11984 Fixes the auto compressor not showing up in FR lockers
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  html/changelogs/CPRMachineLocker.yml
Labels: Awaiting Merge, Bugfix

#11972 Changes the taskbar logo for SS13.
  html/changelogs/mattatlas-logochange.yml
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Awaiting Merge

#11959 Tentacle Tie Auto-Adaption
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/ears/skrell.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/geeves-scrunchy_buff.yml
Labels: Awaiting Merge
