Repository Aurorastation/Aurora.3, pull requests merged in 2021-11, with the labels that each got.

#12707 Some Vaurca Breeder selection fixes
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/desven-tafixes.yml
Labels: Awaiting Merge, Bugfix

#12704 Bulwark & taj clothing sprite fixes
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/shoes/jobs.dm
  html/changelogs/SpriteFix.yml
Labels: Awaiting Merge, Bugfix

#12374 Adds nymph-limbs: The Return
  aurorastation.dme
  code/__defines/damage_organs.dm
  code/__defines/mobs.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/nymph_limbs.dm
  code/modules/surgery/surgery.dm
  html/changelogs/alberyk-dionalimb.yml
  icons/mob/human_races/limbs_nymph.dmi
Labels: Awaiting Merge, Sprites

#12699 Changes Dionae taste to numb
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/desven-numbdumbtree.yml
Labels: Awaiting Merge

#12673 Changes how Basic Vaurca autohiss works
  code/modules/mob/living/autohiss.dm
  html/changelogs/desven-vaurcahiss.yml
Labels: Awaiting Merge

#12668 Makes the grumble and mumble emotes use a full stop instead of an exclamation mark
  code/modules/emotes/definitions/audible.dm
  html/changelogs/Forester40-grumbles.yml
Labels: Awaiting Merge

#12682 Fix lights for firefighter helmets
  code/modules/clothing/head/hardhat.dm
  html/changelogs/ml_fe_fix.yml
  icons/obj/light_overlays.dmi
Labels: Awaiting Merge, Sprites

#12708 fixes the faction loadout display & spawn
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  html/changelogs/FactionLoadoutFix.yml
Labels: Awaiting Merge, Bugfix

#12711 Fixes Taj Tail Gap
  html/changelogs/wickedcybs_tailfix.yml
  icons/mob/human_races/tajara/r_tajaran.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12712 Tajara Sideparted/Shoulderlength Shading Fixes
  html/changelogs/wickedcybs_fixhair.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12684 Adds idris labcoats
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/IdrisCoat.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/coatrack.dmi
Labels: Awaiting Merge, Sprites

#12717 Matriarch Fixes
  code/controllers/subsystems/ghostroles.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/geeves-matriarch_fixes.yml
Labels: Awaiting Merge, Bugfix

#12718 Custom Item Spritesheet Fix
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-ioraks_helmet_fix.yml
Labels: Awaiting Merge, Bugfix

#12683 adds epmc labcoat and taj cloak coatrack sprites
  code/game/objects/structures/coathanger.dm
  html/changelogs/CoatrackSprite.yml
  icons/obj/coatrack.dmi
Labels: Awaiting Merge, Sprites

#12721 Custom Accessory Fix
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/geeves-fix_custom_accessories.yml
Labels: Awaiting Merge, Bugfix

#12705 Gives some corkboards a little spin
  html/changelogs/desven-corkboard.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12706 Adds robotic Vaurca limbs
  code/__defines/mobs.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/desven-robobug.yml
  icons/mob/human_races/vaurca/r_vaurcalimbs.dmi
Labels: Awaiting Merge, Sprites

#12722 Bulwark Icon Fix
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-bulwark_glasses_shift.yml
Labels: Awaiting Merge, Bugfix

#12724 Radio message fixes
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/carbon/human/say.dm
  html/changelogs/RadioFixes.yml
Labels: Awaiting Merge, Bugfix

#12710 bandages and heterochomia markings
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/greenjoe12345-markings.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites

#12713 Reopens Adds IAC berets to the loadout
  code/modules/client/preference_setup/loadout/loadout_head.dm
  html/changelogs/Forester40-iachat.yml
Labels: Awaiting Merge

#12728 Forum-Auth-Fixes
  code/modules/world_api/commands/api_helpers.dm
  code/modules/world_api/commands/misc.dm
  html/changelogs/arrow768-server-auth-fixes.yml
Labels: Awaiting Merge, Bugfix

#12615 Adds Deksers custom augment
  code/__defines/mobs.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/subtypes/augment.dm
Labels: Awaiting Merge, Changelog Required

#12529 Fixes camera bug
  html/changelogs/nerocavalier-typo fix.yml
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#12709 Drone Matrix Things
  aurorastation.dme
  code/__defines/_macros.dm
  code/__defines/misc.dm
  code/__defines/species_languages.dm
  code/game/machinery/rechargestation.dm
  code/modules/ghostroles/spawner/atom/matriarchmaintdrone.dm
  code/modules/ghostroles/spawner/atom/mining_drone.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/robot/drone/_defines.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/living/silicon/robot/drone/matrix_hive.dm
  code/modules/mob/living/silicon/robot/drone/matrix_powers.dm
  code/modules/mob/living/silicon/robot/drone/~defines.dm
  html/changelogs/geeves-the_hive.yml
Labels: Do Not Merge, Changes Required

#12733 Fixes the examine text for Bulwark horns
  code/game/objects/items.dm
  code/modules/clothing/ears/bulwark.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/desven-horn_ex_fix.yml
Labels: Awaiting Merge, Bugfix

#12727 Update contributing guidelines
  .github/CONTRIBUTING.md
Labels: Awaiting Merge, Changelog Required

#12723 fixes vaurca surgery and permanent blindess
  code/modules/organs/internal/species/vaurca.dm
  code/modules/organs/subtypes/vaurca.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/VaurcaSurgeryFix.yml
Labels: Awaiting Merge, Bugfix

#12736 Reconstructible Research Shuttle Console
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/shuttles/departmental.dm
  html/changelogs/arrow768-deconstructable-research-shuttle-console.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#12719 Adds Bulwark hairstyles
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/desven-bullyhair.yml
  icons/mob/base_32.dmi
  icons/mob/base_48.dmi
  icons/mob/human_face/bulwark_hair.dmi
  icons/mob/human_races/vaurca/r_vaurcae.dmi
  icons/mob/species/bulwark/accessories.dmi
  icons/mob/species/bulwark/back.dmi
  icons/mob/species/bulwark/fire.dmi
  icons/mob/species/bulwark/head.dmi
  icons/mob/species/bulwark/hoodie.dmi
  icons/mob/species/bulwark/shoes.dmi
  icons/mob/species/bulwark/suit.dmi
  icons/mob/species/bulwark/uniform.dmi
Labels: Awaiting Merge, Sprites

#12729 Adds Vaurca appendix and unique Vaurca stomach sprite
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/desven-vaurcaappendix.yml
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Sprites

#12739 Unit-test kitchen tags in fruits & recipes
  aurorastation.dme
  code/modules/cooking/recipes/recipes_soup.dm
  code/modules/hydroponics/seed_datums/tomato.dm
  code/unit_tests/cooking_tests.dm
  html/changelogs/ml_cooking_ut.yml
Labels: Awaiting Merge, Bugfix

#12741 Fixes for Bulwark antennae
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/ml_des_antennae.yml
Labels: Awaiting Merge, Bugfix

#12742 stops ghosts from interacting with the shield generator
  code/modules/shieldgen/shield_gen.dm
  html/changelogs/ShieldFix.yml
Labels: Awaiting Merge, Bugfix

#12680 Telecomms Stuff
  code/game/machinery/telecomms/machine_interactions.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-tcomms_stuff.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12735 Kathira Custom Cloak
  code/modules/customitems/item_defines.dm
  icons/obj/coatrack.dmi
  icons/obj/custom_items/kathira_cloak.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#12738 Headtail examine
  code/modules/clothing/ears/skrell.dm
  html/changelogs/desven-headtailex.yml
Labels: Awaiting Merge

#12720 Gives atmos canisters a glow up
  html/changelogs/desven-canisterglow.yml
  icons/obj/atmos.dmi
Labels: Awaiting Merge, Sprites

#12740 Ghost Menu Filtering
  code/modules/nano/modules/ghost_menu.dm
  html/changelogs/arrow768-ghost-menu-filter.yml
  vueui/src/components/view/misc/ghostmenu.vue
Labels: Awaiting Merge, VueUi

#12744 Skrell Chest Sprite Fix
  html/changelogs/Chest_Sprite_Fix.yml
  icons/mob/human_races/skrell/r_skrell.dmi
Labels: Awaiting Merge, Sprites

#12734 Adds unique Unathi organ Sprites
  aurorastation.dme
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/organs/internal/species/unathi.dm
  html/changelogs/dekser-unathi_organ_sprites.yml
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Sprites

#12746 Adds Vaurca Warrior mandible styles
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/desven-vaurcabeards.yml
  icons/mob/human_face/vaurca_facial_hair.dmi
Labels: Awaiting Merge, Sprites

#12745 Makes dexalin always dangerous to vaurca
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/OxygenBugs.yml
Labels: Awaiting Merge

#12748 Makes vaurca not suffocate when hanged
  code/modules/power/cable.dm
  html/changelogs/VaurcaBreathing.yml
Labels: Awaiting Merge

#12749 Fixes even more Bulwark sprites
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/wrists/watches.dm
  code/modules/clothing/wrists/wrists.dm
  html/changelogs/desven-moremorebullyfixes.yml
  icons/mob/human_face/bulwark_hair.dmi
  icons/mob/species/bulwark/eyes.dmi
  icons/mob/species/bulwark/wrist.dmi
  icons/mob/wrist.dmi
Labels: Awaiting Merge, Sprites

#12725 adds paperwork tools to several borg modules
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/PaperBorg.yml
Labels: Awaiting Merge

#12757 Jargon Lore Blurb and Dionae Consular Changes
  code/modules/background/citizenship/skrell.dm
  html/changelogs/blurb_fix.yml
Labels: Awaiting Merge

#12769 Airlock Hammer Fix
  code/game/machinery/doors/door.dm
  html/changelogs/geeves-hammer_time_again.yml
Labels: Awaiting Merge, Bugfix

#12765 Fixes some body marks not showing
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/desven-markfix.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12714 More informative mixing-cooking
  code/_helpers/text.dm
  code/modules/cooking/machinery/cooking_machines/container.dm
  html/changelogs/ml_food_span.yml
Labels: Awaiting Merge

#12768 More dionae limb fixes
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/nymph_limbs.dm
  html/changelogs/Alberyk-moredionalimbfixes.yml
Labels: Awaiting Merge, Bugfix

#12773 fixes the sun sister veil not showing properly on tajara
  code/modules/clothing/masks/xeno/tajara.dm
  html/changelogs/SisterVeil.yml
Labels: Awaiting Merge, Bugfix

#12777 fixes urns being unable to pick up ashes
  code/game/objects/items/weapons/chaplain_items.dm
  html/changelogs/AshUrns.yml
Labels: Awaiting Merge, Bugfix

#12766 Phoron bounty tweak
  code/modules/cargo/bounties/special.dm
  html/changelogs/desven-bountyweak.yml
Labels: Awaiting Merge

#12487 Teleportation Tweaks
  code/game/machinery/teleporter.dm
  code/game/objects/items/weapons/teleportation.dm
  html/changelogs/geeves-teleportation_kneecapping.yml
  vueui/src/components/view/machinery/teleporter.vue
  vueui/src/components/view/mcomputer/command/teleporter.vue
Labels: Awaiting Merge, VueUi

#12743 adds helpful descriptions to certain items
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/economy/OrderTerminal.dm
  code/modules/mining/machine_rigpress.dm
  code/modules/multiz/hoist.dm
  code/modules/paperwork/journal.dm
  html/changelogs/DescHelperFix.yml
Labels: Awaiting Merge

#12759 Toggling Headgear Hair Blocking
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/helmet.dm
  html/changelogs/geeves-readd_flb.yml
Labels: Awaiting Merge

#12770 Thermal Drill Tweaks
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves-thermal_drill_damage.yml
Labels: Awaiting Merge

#12774 fixes runtime errors and let bodybags be placed adjacent
  code/game/objects/buckling.dm
  code/game/objects/items/bodybag.dm
  html/changelogs/BodyBagFix.yml
Labels: Awaiting Merge

#12611 Adds two procs to merge lists and to unpack nested lists
  code/_helpers/lists.dm
Labels: Awaiting Merge, Changelog Required

#12776 Fixes tendons not deleting properly when the limbs is destroyed
  code/modules/organs/organ_external.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#12772 Powered Crossbow Bounty
  code/modules/cargo/bounties/engineer.dm
  code/modules/cargo/bounty.dm
  html/changelogs/geeves-crossbow_bounty.yml
Labels: Awaiting Merge

#12790 Binary Fix
  code/modules/mob/language/synthetic.dm
  html/changelogs/geeves-borg_binary_fix.yml
Labels: Awaiting Merge, Bugfix

#12789 fixes the adhomian divination cards
  code/datums/trading/goods.dm
  code/modules/games/tarot.dm
  html/changelogs/DivinationCards.yml
Labels: Awaiting Merge, Bugfix

#12786 Fixes red nightshade
  code/modules/client/client_color.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/ShadyNights.yml
Labels: Awaiting Merge, Bugfix

#12780 Fixes the vaurca vending machine panel sprite
  html/changelogs/VaurcaVendingFix.yml
  icons/obj/vending.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12779 fixes the venus service drone lights
  html/changelogs/VenusFix.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12791 Adds two new Tajaran accents
  code/modules/background/accent/tajara.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/alberyk-accents.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites
