Repository Aurorastation/Aurora.3, pull requests merged in 2021-06, with the labels that each got.

#11977 Fixes pod survivors not being able to customise their name on spawn in
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/omicega-renamebugfix.yml
Labels: Awaiting Merge

#11974 Robotics O2
  html/changelogs/geeves-robotics_o2.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11979 Makes photos size tiny
  code/modules/paperwork/photography.dm
  html/changelogs/TinyPhotos.yml
Labels: Awaiting Merge

#11962 Fixes the SCC Agent Uniform Sprite.
  html/changelogs/wickedcybs_scc.yml
  icons/clothing/under/uniforms/scc.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11981 Tajara loadout options expansion: literature and badges edition
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/structures/signs.dm
  code/modules/background/accent/tajara.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/background/defines.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/customitems/item_defines.dm
  code/modules/games/tarot.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/alberyk-loadoutexpansion.yml
  html/changelogs/unathi_clothes_one_changelog.yml
  icons/accent_tags.dmi
  icons/obj/clothing/species/tajaran/raakti_shariim.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#11677 Reflective Mirrors
  aurorastation.dme
  code/datums/observation/entered.dm
  code/datums/observation/exited.dm
  code/game/objects/structures/mirror.dm
  html/changelogs/geeves-mirrors.yml
  icons/obj/watercloset.dmi
Labels: Awaiting Merge, Sprites

#11997 Fixes Light Replacer Bug
  code/game/objects/items/devices/lightreplacer.dm
  html/changelogs/doxxmedearly - lightreplacer_catch.yml
Labels: Awaiting Merge, Bugfix

#11983 Adds comfy sofas to kitchen, diner & security break room
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  html/changelogs/SofaAdditions.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12001 Bug fixes: asteroid deletation and smokebomb edition
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/background/accent/tajara.dm
  code/modules/background/defines.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/alberyk-threebugfixes.yml
Labels: Awaiting Merge, Bugfix

#11988 Adds a unique hazard vest to the chief engineer's locker
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/HazardVest.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#11986 Cool New Dress Shirt! Featuring Rollable Sleeves!
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/wickedcybs_dresshirt.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#11992 renames DIA badge to investigator badge
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/DIABadge.yml
  icons/mob/belt.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#11987 Adds gold star stickers to the QM and HoP's lockers
  code/game/objects/items/sticker.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/goldstar.yml
  icons/obj/sticker.dmi
Labels: Awaiting Merge, Sprites

#11692 GPS Stuff
  aurorastation.dme
  code/__defines/_layers.dm
  code/_helpers/game.dm
  code/_helpers/unsorted.dm
  code/game/objects/items.dm
  code/modules/compass/_compass.dm
  code/modules/compass/compass_holder.dm
  code/modules/compass/compass_waypoint.dm
  code/modules/compass/~compass.dm
  code/modules/mob/inventory.dm
  code/modules/telesci/gps.dm
  html/changelogs/geeves-gps_stuff.yml
  icons/obj/telescience.dmi
  vueui/src/components/view/devices/gps/gps.vue
Labels: Awaiting Merge, Sprites, VueUi

#11998 Makes badges comply with the server rules
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/BadgeName.yml
Labels: Awaiting Merge

#11991 Makes forensic jacket suit storage equal to detective jacket
  code/modules/clothing/suits/jobs.dm
  html/changelogs/ForensicJacket.yml
Labels: Awaiting Merge

#12013 Technomancer Apprentice Teleporter Fix
  code/game/gamemodes/antagspawner.dm
  html/changelogs/geeves-apprentice_fix.yml
Labels: Awaiting Merge, Bugfix

#12004 Idris ATM and Terminal Recolouring
  html/changelogs/wickedcybs_next.yml
  icons/obj/terminals.dmi
Labels: Awaiting Merge, Sprites

#12005 MMI: Braincase
  code/game/machinery/computer/ai_core.dm
  code/game/machinery/transformer.dm
  code/game/objects/structures/therapy.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
  code/modules/mob/living/carbon/brain/robot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/items/robot_parts.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/surgery/organs_internal.dm
  html/changelogs/geeves-braincase.yml
  icons/obj/assemblies.dmi
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Lore Impact, Sprites

#11999 Maintenance Chessboard
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/toys.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/geeves-maintenance_chessboard.yml
  icons/obj/contained_items/misc/chess.dmi
  icons/obj/stacks/tiles.dmi
  icons/turf/flooring/tiles.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#11990 Makes the investigator program selectable in computer setup
  code/modules/modular_computers/file_system/programs/app_presets.dm
  html/changelogs/InvestProgram.yml
Labels: Awaiting Merge

#12007 Track Jacket Sprite Tweaks - Refitting the Shoulders & Minor Changes
  html/changelogs/wickedcybs_track.yml
  icons/obj/tracksuit.dmi
Labels: Awaiting Merge, Sprites

#12021 somethign -> something
  code/game/objects/items/weapons/tape.dm
  html/changelogs/somethign.yml
Labels: Awaiting Merge, Bugfix

#12015 Parrot pAI
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/pai/pai.dm
  html/changelogs/geeves-parrot_pai.yml
  icons/mob/npc/pai.dmi
Labels: Awaiting Merge, Sprites

#12027 fixes the anomaly container
  code/modules/research/xenoarchaeology/tools/anomaly_container.dm
  html/changelogs/ContainmentAnomaly.yml
Labels: Bugfix, Review Required

#12012 Gives more cc access to CCIA agents
  html/changelogs/ccia-access.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12009 Borgs Can Collapse Rollerbeds
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/Doxxmedearly - borg_rollerbeds.yml
Labels: Awaiting Merge, Bugfix

#12010 Unarmed Damage Affects Simplemobs Again
  code/modules/mob/living/simple_animal/constructs/constructs/artificer.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/hostile/adhomai.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_harvester.dm
  code/modules/mob/living/simple_animal/hostile/phoron_worm.dm
  code/modules/mob/living/simple_animal/hostile/pra.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/Doxxmedearly - simplemob_unarmed.yml
Labels: Awaiting Merge, Bugfix

#12019 Missing hand equip bugfix
  code/datums/outfits/outfit.dm
  code/game/objects/items.dm
  code/modules/organs/organ_external.dm
  html/changelogs/doxxmedearly - one_handed_equips.yml
Labels: Awaiting Merge, Bugfix

#12011 Filing Cabinets store more item types
  code/modules/paperwork/filingcabinet.dm
  html/changelogs/Doxxmedearly - filing_cabinet_QOL.yml
Labels: Awaiting Merge

#12025 Stationbound Bugfix Bundle
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/papershredder.dm
  html/changelogs/Doxxmedearly - Borg_Bugfixes_0611.yml
Labels: Awaiting Merge, Bugfix

#12029 fixes PRA cig packet
  code/game/objects/items/tajara.dm
  html/changelogs/CigFix.yml
Labels: Awaiting Merge, Bugfix

#12043 Fixes borg gripper issue
  code/modules/mob/living/silicon/robot/inventory.dm
  html/changelogs/doxxmedearly - borg_item_drop.yml
Labels: Awaiting Merge, Bugfix

#12037 Fix CCIA Access on CentCom
  code/game/jobs/access.dm
  code/game/jobs/access_datum.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/economy/EFTPOS.dm
  code/modules/modular_computers/file_system/programs/command/account_database.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Bugfix, Changelog Required, Mapping: Aurora, Mapping: Exodus

#12006 TCFL & FSF ERT Pilot Changes + Harnesses for All
  code/datums/outfits/ert/fsf.dm
  code/datums/outfits/ert/tcfl.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/projectiles/guns/energy/blaster.dm
  html/changelogs/wickedcybs_harness.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/templates/distress/freelancers.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#11975 Hydroponics Animal Husbandry
  html/changelogs/furrycactus - hydro farm.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11922 Qipao addition
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/dansemacabre-qing.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#11871 A minor gun refluff.
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/dansemacabre-johnmosesbrowning.yml
  icons/obj/guns/colt.dmi
Labels: Awaiting Merge, Sprites

#12034 Mapped light bugfix
  html/changelogs/doxxmedearly - tube_mapping.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#12031 Corrects revenant announcement grammar
  code/modules/ghostroles/spawner/antagonist/revenant.dm
  html/changelogs/bluecheck.yml
Labels: Awaiting Merge

#12033 Neck Cover Body Pattern Tweak
  html/changelogs/wickedcybs_neck.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites

#12035 Surgery Step title and message fix
  code/modules/surgery/encased.dm
  html/changelogs/doxxmedearly - surgery_message_fix.yml
Labels: Awaiting Merge, Bugfix

#12040 Farmbot Bugfix
  code/modules/mob/living/bot/farmbot.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/doxxmedearly - farmbot_unstuck.yml
Labels: Awaiting Merge, Bugfix

#12046 Add missing chameleon cap icon.
  code/modules/clothing/chameleon.dm
  html/changelogs/SpaceBaa-ChameleonCapFix.yml
Labels: Awaiting Merge, Bugfix

#12048 Goonchat Spacing Fix
  code/modules/goonchat/browserOutput.dm
  html/changelogs/geeves-goonchat_spacing.yml
Labels: Awaiting Merge, Bugfix

#12049 Tau Ceti Typo Fix
  code/modules/background/space_sectors/tauceti.dm
  html/changelogs/geeves-tau_ceti_typo.yml
Labels: Awaiting Merge, Bugfix

#12050 Infrared Sensor bugfixes
  code/game/objects/items/devices/radio_jammer.dm
  code/game/objects/objs.dm
  code/modules/assembly/bomb.dm
  code/modules/assembly/holder.dm
  code/modules/assembly/infrared.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/doxxmedearly - infrared_fixes.yml
Labels: Awaiting Merge, Bugfix

#12054 Door Roundstart Sleep Fix
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  html/changelogs/geeves-roundstart_sleep_fix.yml
Labels: Awaiting Merge, Bugfix

#12057 Borg Gripper Fixes, The Sequel (The ride never ends)
  code/modules/mob/living/silicon/robot/inventory.dm
  html/changelogs/Doxxmedearly - gripper_fix_part2.yml
Labels: Awaiting Merge, Bugfix

#11989 Reorganise the forensic lab
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/detectivework/tools/crimekit.dm
  code/modules/paperwork/photography.dm
  html/changelogs/ForensicMap.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12039 Gimme Some Sugar - Fixes sugar melting in recipes
  code/modules/cooking/machinery/cooking_machines/_cooker.dm
  html/changelogs/MDP-gimmesomesugar.yml
Labels: Awaiting Merge

#12074 Shield Fix
  code/__defines/misc.dm
  code/defines/obj/weapon.dm
  code/game/gamemodes/technomancer/devices/shield_armor.dm
  code/game/gamemodes/technomancer/devices/tesla_armor.dm
  code/game/gamemodes/technomancer/spells/reflect.dm
  code/game/gamemodes/technomancer/spells/shield.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/suits/armor.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/geeves-shield_fix.yml
Labels: Awaiting Merge, Bugfix

#12053 pAI Chassis Radial Menu
  code/modules/mob/living/silicon/pai/pai.dm
  html/changelogs/geeves-pai_radial_chassis.yml
Labels: Awaiting Merge

#12052 Fox pAI Chassis
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/pai/pai.dm
  html/changelogs/geeves-fox_pai.yml
  icons/mob/npc/pai.dmi
Labels: Awaiting Merge, Sprites

#12063 Stamina Exhaustion Adjustments
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/Doxxmedearly - stamina_related_changes.yml
Labels: Awaiting Merge

#12030 Fortune Cookies can be made with blank fortunes
  code/modules/cooking/recipes/recipes_pastries.dm
  html/changelogs/doxxmedearly - blank_cookies.yml
Labels: Awaiting Merge

#12036 Emote fix and cleanup
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/human.dm
  code/modules/emotes/definitions/visible.dm
  code/modules/mob/living/silicon/robot/emote.dm
  html/changelogs/doxxmedearly - emote_QOL.yml
Labels: Awaiting Merge

#12044 Bee updates
  code/modules/mob/living/simple_animal/bees.dm
  html/changelogs/doxxmedearly - bee_changes.yml
Labels: Awaiting Merge

#12065 Small Map Tweaks
  html/changelogs/smallmaptweaks.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12024 Grants janitors access to medical's custodial room
  html/changelogs/doxxmedearly - custodial_access.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12016 Non-Hostile Migrations and Angry Goats
  aurorastation.dme
  code/modules/events/carp_migration.dm
  code/modules/events/event_container.dm
  code/modules/mob/living/simple_animal/friendly/cosmozoan.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks/fish.dm
  html/changelogs/geeves-cozmozoans.yml
  icons/mob/npc/animal.dmi
  icons/obj/food.dmi
  sound/AI/cozmo_migration.ogg
  tools/Event Probabilities/Event Probabilities.xlsx
Labels: Awaiting Merge, Sprites

#12058 Various Hat-Related Bugfixes
  code/modules/clothing/head/soft_caps.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  html/changelogs/example - Copy.yml
  icons/clothing/head/himeo_cap.dmi
  icons/clothing/head/vysoka_cap.dmi
  icons/mob/head.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12051 Filter Helpers and Heat Exchanging Pipes
  aurorastation.dme
  code/ATMOSPHERICS/he_pipes.dm
  code/_helpers/visual_filters.dm
  code/modules/mob/living/living.dm
  html/changelogs/geeves-filter_helpers_and_pipe.yml
Labels: Awaiting Merge

#12028 Adds several new bag types
  code/_helpers/global_lists.dm
  code/datums/outfits/outfit.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/client/preferences.dm
  html/changelogs/BagsBagsBags.yml
  icons/mob/back.dmi
  icons/mob/items/storage/lefthand_backpacks.dmi
  icons/mob/items/storage/righthand_backpacks.dmi
  icons/obj/storage.dmi
Labels: Awaiting Merge, Sprites

#12068 Custom items 18/06
  code/modules/customitems/item_defines.dm
  icons/obj/action_buttons/organs.dmi
  icons/obj/custom_items/bian_flag.dmi
  icons/obj/custom_items/goldman_eye.dmi
  icons/obj/decals.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#12069 Sinta'azaziba now displays accents
  code/modules/mob/language/station.dm
  html/changelogs/alberyk-azaziba.yml
Labels: Awaiting Merge, Lore Impact

#12084 ED209 Recipe Fix
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/bot/ed209bot.dm
  html/changelogs/doxxmedearly - ed209_update.yml
Labels: Awaiting Merge, Bugfix, Update Wiki

#12087 Grenade Launcher Fixes
  code/game/objects/items/weapons/grenades/grenade.dm
  html/changelogs/doxxmedearly - launcher_fixes.yml
Labels: Awaiting Merge, Bugfix

#11996 Drowsiness Changes
  code/game/objects/structures/therapy.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/mob_defines.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/research/xenoarchaeology/artifact/effects/unknown_effect_physical.dm
  html/changelogs/doxxmedearly - drowsy_changes.yml
Labels: Awaiting Merge

#12071 Technostake
  aurorastation.dme
  code/__defines/gamemode.dm
  code/datums/outfits/outfit_antag.dm
  code/game/antagonist/outsider/raider_techno.dm
  code/game/antagonist/outsider/technomancer.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/technomancer/catalog.dm
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/gamemodes/technomancer/spell_objs_helpers.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-techomancer_magistake.yml
Labels: Awaiting Merge

#12076 Phoron Immune Tweak
  code/ZAS/Phoron.dm
  code/__defines/species_languages.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/geeves-phoron_immune.yml
Labels: Awaiting Merge

#12088 Borg Light Alignment Fix
  html/changelogs/doxxmedearly - service_drone_spritefix.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12095 Skrell Stuff
  aurorastation.dme
  code/game/objects/effects/temporary_visuals/teleport_visuals.dm
  code/game/objects/effects/temporary_visuals/temporary_visual.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/suits/skrell.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves-tup_suit.yml
  icons/clothing/rig/jargon.dmi
  icons/clothing/rig/tup.dmi
  icons/mob/light_overlays.dmi
  icons/obj/guns/jargonpistol.dmi
  icons/obj/guns/jargonsmg.dmi
  icons/obj/light_overlays.dmi
  icons/obj/rig_modules.dmi
Labels: Lore Impact, Review Required, Sprites, Waiting Period

#12083 Animal Hide Updates
  code/__defines/materials.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  html/changelogs/doxxmedearly - hide_leather_fixes.yml
Labels: Awaiting Merge

#12082 Darkens Greimorian Blood
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/wickedcybs_bugblood2.yml
Labels: Awaiting Merge

#12081 Makes nal'rasan more different from sign
  code/modules/mob/hear_say.dm
  code/modules/mob/language/language.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/say.dm
  html/changelogs/NalrasanUpgrade.yml
Labels: Awaiting Merge

#12080 Very Minor Continuation of Drag Tracks and Footwraps
  code/modules/clothing/shoes/xeno/tajara.dm
  html/changelogs/wickedcybs_wrap.yml
Labels: Awaiting Merge

#12066 Makes the photocopier able to copy business cards
  code/modules/paperwork/photocopier.dm
  html/changelogs/BusinessTime.yml
Labels: Awaiting Merge

#12085 Adds some new Adhomian drinks
  code/game/machinery/vending_types.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/alberyk-drinks.yml
  icons/obj/drinks.dmi
  icons/obj/drinks_empty.dmi
Labels: Awaiting Merge, Sprites

#12096 Toggling Jets While Dead Fix
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  html/changelogs/doxxmedearly - hardsuit_deadmob.yml
Labels: Awaiting Merge, Bugfix

#12107 Bug fixes: vampire bite hud, winding message, and drink sprites
  code/_onclick/hud/_defines.dm
  code/modules/admin/admin.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/alberyk-fixes.yml
Labels: Awaiting Merge, Bugfix

#12089 adds a denied stamp to HoP office
  html/changelogs/DeniedStamp.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12092 Chem Cartridge Spawning Search
  code/modules/reagents/dispenser/cartridge_spawn.dm
  html/changelogs/doxxmedearly - chemdisp_spawn_search.yml
Labels: Awaiting Merge

#12108 fixes fatshouter fillet slicing
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/fatshouterfillet.yml
Labels: Awaiting Merge, Bugfix

#11966 Dispenser/Layer Stuff
  aurorastation.dme
  code/game/machinery/CableLayer.dm
  code/game/machinery/floorlayer.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/pipe/pipelayer.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor_attackby.dm
  html/changelogs/geeves-disposal_pipe_stuff.yml
  icons/obj/cable_layer.dmi
  icons/obj/floor_layer.dmi
  icons/obj/pipe_dispenser.dmi
  icons/obj/stationobjs.dmi
  maps/templates/pra.dmm
Labels: Awaiting Merge, Sprites

#12106 Cozmo Reverb Fix
  html/changelogs/geeves-reverb_fix.yml
  sound/AI/Voice how-to.txt
  sound/AI/cozmo_migration.ogg
Labels: Awaiting Merge, Bugfix

#12104 Sleepy Ring Clarification & Tweak
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/modules/clothing/rings/rings.dm
  html/changelogs/wickedcybs_sleepy.yml
Labels: Awaiting Merge

#12103 Teleportation Fixes and Tweaks
  code/datums/helper_datums/teleport.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/crates_lockers/closets.dm
  html/changelogs/doxxmedearly - teleporter_stuff.yml
Labels: Awaiting Merge

#12101 Tape recorder emag change
  code/game/objects/items/devices/taperecorder.dm
  html/changelogs/SelfDestruct.yml
Labels: Awaiting Merge

#12100 photo cameras alt click to change photo size
  code/modules/paperwork/photography.dm
  html/changelogs/photocamera.yml
Labels: Awaiting Merge

#12091 Tool Quality: Surgery and RIG Assembly
  code/__defines/obj.dm
  code/datums/helper_datums/construction_datum.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/clothing/spacesuits/rig/rig_construction.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
  html/changelogs/geeves-tool_quality_improvements.yml
Labels: Awaiting Merge, Update Wiki

#12115 Rikazu taste spellcheck
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/RikasuSpellcheck.yml
Labels: Awaiting Merge, Bugfix

#12116 fixes sechud icons
  html/changelogs/SecHudFix.yml
  icons/hud/hud_security.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12117 stops some clothing from giving overheating messages
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/Apronheat.yml
Labels: Awaiting Merge, Bugfix

#12123 Dispenser Anchor Fix
  code/game/machinery/pipe/pipe_dispenser.dm
  html/changelogs/doxxmedearly - dispenser_unanchor_fix.yml
Labels: Awaiting Merge, Bugfix
