Repository Aurorastation/Aurora.3, pull requests merged in 2021-07, with the labels that each got.

#12137 Fixes mech immortality
  code/modules/heavy_vehicle/mech_damage.dm
  html/changelogs/MechFix.yml
Labels: Awaiting Merge, Bugfix

#12121 Makes department lockers less random
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/LockerConsistency.yml
Labels: Awaiting Merge

#12119 Adds encryption keys to HoP locker
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/SpareEncryption.yml
Labels: Awaiting Merge

#12118 Clarifies banshee use
  code/datums/uplink/corporate_equipment.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/BansheeName.yml
Labels: Awaiting Merge

#12120 adds icecream flavors
  code/modules/cooking/machinery/icecream.dm
  html/changelogs/IceCreamFlavors.yml
Labels: Awaiting Merge

#12111 Grabs no longer force the person being grabbed to attack themselves
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  html/changelogs/Alberyk-grabautoattack.yml
Labels: Awaiting Merge

#12127 Fixes some issues with loadout wristbounds & tablets
  code/game/jobs/job/civilian.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/modular_computers/computers/subtypes/preset_handheld.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  html/changelogs/ModularFixAgain.yml
Labels: Awaiting Merge, Bugfix

#12097 Canister Bounty Update
  code/modules/cargo/bounties/special.dm
  html/changelogs/doxxmedearly - canister_bounty_update.yml
Labels: Awaiting Merge

#12094 Multi-Purpose Throwing
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/give.dm
  html/changelogs/geeves-item_placing.yml
Labels: Awaiting Merge

#12090 Tripwire Trap and Wired Rod Colors
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/improvised_components.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/items/weapons/traps.dm
  html/changelogs/geeves-tripwire_trap.yml
  icons/obj/contained_items/weapons/traps.dmi
  icons/obj/items.dmi
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#12000 Ghost Menu
  aurorastation.dme
  code/game/antagonist/_antagonist_setup.dm
  code/game/antagonist/alien/borer.dm
  code/game/antagonist/antagonist_helpers.dm
  code/game/antagonist/outsider/revenant.dm
  code/game/antagonist/outsider/technomancer.dm
  code/game/antagonist/station/changeling/changeling.dm
  code/game/antagonist/station/changeling/morph.dm
  code/game/antagonist/station/cultist.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/nano/modules/ghost_menu.dm
  html/changelogs/geeves-orbit_menu.yml
  vueui/src/components/view/misc/ghostmenu.vue
Labels: Awaiting Merge, VueUi

#12098 Adds new menu buttons icons and a new title screen
  code/modules/mob/abstract/new_player/menu.dm
  html/changelogs/alberyk-menubuttons.yml
  icons/misc/hudmenu.dmi
  icons/misc/titlescreens/aurora/nss_aurora.dmi
  icons/misc/titlescreens/aurora/synthetics.dmi
  icons/misc/titlescreens/aurora/tajara.dmi
  icons/misc/titlescreens/overlay_template.dmi
  maps/aurora/code/aurora.dm
Labels: Awaiting Merge, Sprites

#12126 Makes the wristbound spawn in the wrist slot
  code/datums/outfits/outfit.dm
  html/changelogs/WristPdaSlot.yml
Labels: Awaiting Merge

#12130 Small Tweak to the Sleepy Ring's Antag Flavour Text
  code/modules/clothing/rings/rings.dm
  html/changelogs/wickedcybs_formatting.yml
Labels: Awaiting Merge

#12135 Several Diona Fixes
  code/modules/emotes/definitions/_mob.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/doxxmedearly - dionamedearly.yml
Labels: Awaiting Merge, Bugfix

#12125 Changes aggressive grab text size
  code/modules/mob/mob_grab.dm
  html/changelogs/GrabChange.yml
Labels: Awaiting Merge

#12129 Adds Long Blazers
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/wickedcybs_longcoat.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#12131 Icarus Combat Drones Now Illuminate Their Surroundings to a Small Extent
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  html/changelogs/wickedcybs_dronelight.yml
Labels: Awaiting Merge

#12133 Adds new drinking glasses and coffee cups
  aurorastation.dme
  code/game/machinery/autolathe/autolathe_datums.dm
  code/game/machinery/vending_types.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass/coffeecup.dm
  code/modules/reagents/reagent_containers/glass/newdrinkingglas.dm
  html/changelogs/CoffeeMugs.yml
  icons/obj/drink_glasses/carafe.dmi
  icons/obj/drink_glasses/cocktail.dmi
  icons/obj/drink_glasses/coconut.dmi
  icons/obj/drink_glasses/coffecup.dmi
  icons/obj/drink_glasses/coffecup_tall.dmi
  icons/obj/drink_glasses/cognac.dmi
  icons/obj/drink_glasses/fitness.dmi
  icons/obj/drink_glasses/flute.dmi
  icons/obj/drink_glasses/goblet.dmi
  icons/obj/drink_glasses/mug.dmi
  icons/obj/drink_glasses/pint.dmi
  icons/obj/drink_glasses/rocks.dmi
  icons/obj/drink_glasses/shake.dmi
  icons/obj/drink_glasses/shot.dmi
  icons/obj/drink_glasses/square.dmi
  icons/obj/drink_glasses/teacup.dmi
  icons/obj/drink_glasses/wine.dmi
  icons/obj/drinks.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12134 Minor torch upgrade
  code/game/objects/items/devices/lighting/flare.dm
  html/changelogs/TorchLight.yml
Labels: Awaiting Merge

#12136 RnD Tech Processors
  aurorastation.dme
  code/game/machinery/door_control.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/radio/_radio_defines.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/global.dm
  code/modules/research/designs/circuit/machine_circuits.dm
  code/modules/research/rdconsole.dm
  code/modules/research/research.dm
  code/modules/research/server.dm
  code/modules/research/tech_processor.dm
  html/changelogs/geeves-fun_research.yml
  icons/obj/machines/research.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12139 Adds a radial menu for removing accessories
  code/modules/clothing/clothing_accessories.dm
  code/modules/mob/living/carbon/human/stripping.dm
  html/changelogs/RadialAccessory.yml
Labels: Awaiting Merge

#12140 Adds paper to the uplink clerical kit
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/paperwork/folders.dm
  html/changelogs/ClericalKit.yml
Labels: Awaiting Merge

#12141 Hair Combs Can Now Be Recoloured + Rearranges the Cosmetics Ordering
  code/modules/client/preference_setup/loadout/loadout_cosmetics.dm
  html/changelogs/wickedcybs_comb.yml
Labels: Awaiting Merge

#12146 Overmap Runtime
  aurorastation.dme
  maps/runtime/code/runtime.dm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime_overmap.dm
Labels: Awaiting Merge, Changelog Required, Mapping: Runtime

#12145 Radsuit Resprite
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/modules/clothing/suits/utility.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  html/changelogs/geeves-radsuit_tweak.yml
  icons/clothing/kit/radsuit.dmi
  icons/mob/head.dmi
  icons/mob/items/clothing/lefthand_suit.dmi
  icons/mob/items/clothing/righthand_suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#12150 fixes taj and vaurca nightvision
  code/_onclick/hud/action.dm
  code/modules/organs/internal/species/tajara.dm
  html/changelogs/NightvisionFix.yml
Labels: Awaiting Merge, Bugfix

#12156 Machinery Stack Spawning Fix
  code/game/machinery/machinery.dm
  html/changelogs/geeves-machinery_stack_spawning.yml
Labels: Awaiting Merge, Bugfix

#12166 Fixes coffee cup bugs
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass/coffeecup.dm
  code/modules/reagents/reagent_containers/glass/newdrinkingglas.dm
  html/changelogs/CoffeeFix.yml
Labels: Awaiting Merge, Bugfix

#12165 Fixes issues with two custom items
  code/game/objects/structures/coathanger.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/ana_clothing.dmi
  icons/obj/decals.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#12144 Pen Charge
  code/_helpers/text.dm
  code/game/objects/items/weapons/syndie.dm
  html/changelogs/geeves-pen_charge.yml
Labels: Awaiting Merge

#12138 Makes ashtrays smaller
  code/game/objects/items/weapons/material/ashtray.dm
  html/changelogs/AshtraySize.yml
Labels: Awaiting Merge

#12174 Fix external auth menu
  code/modules/mob/abstract/unauthed/login.dm
  html/changelogs/skull132_external_auth_window.yml
Labels: Bugfix, Review Required

#12167 Material Initialize Fix
  code/game/objects/items/weapons/material/ashtray.dm
  code/game/objects/items/weapons/material/bats.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/material/thrown.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/lock/lock_construct.dm
  html/changelogs/geeves-material_initialize_fix.yml
Labels: Awaiting Merge, Bugfix

#12160 Standardizes Loadout Path Gear Tweak
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/client/preference_setup/loadout/loadout_cosmetics.dm
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_mask.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/client/preference_setup/loadout/loadout_wrists.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/human.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
Labels: Awaiting Merge, Changelog Required

#12171 New laser, blaster and muzzle effects for guns
  html/changelogs/kyres1-#12171.yml
  icons/effects/blaster_hit.dmi
  icons/effects/projectiles/impact.dmi
  icons/effects/projectiles/muzzle.dmi
  icons/effects/projectiles/tracer.dmi
Labels: Awaiting Merge, Sprites

#12153 Reflavours the Cytherean and Jintarian Accents
  code/modules/background/accent/human.dm
  html/changelogs/wickedcybs_accent.yml
Labels: Awaiting Merge

#12159 Exosuit Convenience
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-exosuit_convenience.yml
Labels: Awaiting Merge

#12157 Exosuit Phazon Module
  aurorastation.dme
  code/__defines/mobs.dm
  code/game/objects/effects/temporary_visuals/incorporeal_mech.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/heavy_vehicle/mech_helpers.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mech_life.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/mob/mob_movement.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/geeves-phazon_module.yml
  icons/mecha/mech_equipment.dmi
Labels: Awaiting Merge, Sprites

#12188 Beartrap Sprite Fix
  html/changelogs/geeves-beartrap_sprite_fix.yml
  icons/obj/contained_items/weapons/traps.dmi
  icons/obj/items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12189 Idris trenchcoat fix
  html/changelogs/idriscoatfix.yml
  icons/clothing/suits/coats/idris_iru_coats.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12149 gives investigators access to security bags
  code/game/jobs/job/security.dm
  html/changelogs/InvestigatorBags.yml
Labels: Awaiting Merge

#12173 Recolourable Kneepads
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  html/changelogs/wickedcybs_kneepad.yml
Labels: Awaiting Merge

#12186 Overmap Helm Update Fix
  code/modules/overmap/ships/computers/helm.dm
  html/changelogs/geeves-overmap_helm_usr_dialog.yml
Labels: Awaiting Merge, Bugfix

#12194 Fixes the sun sister veils
  html/changelogs/SistersVeiled.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12038 Ports ecigs
  aurorastation.dme
  code/game/machinery/recharger.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/power_cells.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/Ecig.yml
  icons/obj/ecig.dmi
Labels: Awaiting Merge, Sprites

#12170 Mob Sprite Item Pixelshifting
  aurorastation.dme
  code/__defines/_macros.dm
  code/__defines/items_clothing.dm
  code/game/objects/items/items_icon.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/shirts.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-item_icon_stuff.yml
  icons/mob/human_races/monkeys/r_monkey.dmi
Labels: Awaiting Merge, Sprites

#12147 Cargo suppliers can now have their prices influenced by the current space sector
  code/datums/cargo.dm
  code/modules/background/space_sectors/space_sector.dm
  code/modules/background/space_sectors/tauceti.dm
  html/changelogs/alberyk-pricestuff.yml
Labels: Awaiting Merge

#12161 Throw Mode QoL
  code/_onclick/click.dm
  code/modules/mob/inventory.dm
  html/changelogs/geeves-throwmode_qol.yml
Labels: Awaiting Merge

#12162 Station Tag
  code/_helpers/text.dm
  html/changelogs/geeves-station_tag.yml
Labels: Awaiting Merge

#12168 Recyclable Stock Parts
  code/modules/research/stockparts.dm
  html/changelogs/geeves-recycling_stock_parts.yml
Labels: Awaiting Merge

#12148 Ports new supermatter sprite
  code/game/gamemodes/meteor/meteors.dm
  code/modules/supermatter/supermatter.dm
  html/changelogs/SupermatterChange.yml
  icons/obj/engine.dmi
  icons/obj/supermatter.dmi
Labels: Awaiting Merge, Sprites

#12202 Accessory Color Fix
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/geeves-fuck3.yml
Labels: Awaiting Merge, Bugfix

#12197 More Borg Gripper Bugfixes
  code/game/machinery/doors/airlock_electronics.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/mob/living/silicon/robot/items/robot_parts.dm
  html/changelogs/doxxmedearly - borg_gripper_hell.yml
Labels: Awaiting Merge, Bugfix

#12179 Knitting upgrade
  code/game/objects/items/knitting.dm
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/clothing/ears/bandanna.dm
  code/modules/clothing/gloves/color.dm
  html/changelogs/KnittingUpgrade.yml
Labels: Awaiting Merge

#12207 fixes interrogation intercom in engineering
  html/changelogs/EngieRadio.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#12191 Makes loadout passports free
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  html/changelogs/PassportFree.yml
Labels: Awaiting Merge

#12206 More sun sister veil bugfixes
  code/modules/clothing/masks/xeno/tajara.dm
  html/changelogs/SunSisters.yml
Labels: Awaiting Merge, Bugfix

#12184 Move Forensics Lab Light Switch
  html/changelogs/forensicslight.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12183 Fireman Carrying
  code/__defines/mobs.dm
  code/game/objects/effects/portals.dm
  code/modules/mob/living/carbon/alien/alien_attacks.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/slime/slime.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/geeves-fireman_carrying.yml
Labels: Awaiting Merge

#12213 fixes ecig pricing
  code/game/machinery/vending_types.dm
  html/changelogs/EcigFix.yml
Labels: Bugfix, Review Required

#12152 Corporate IDs and Manifest
  code/controllers/subsystems/records.dm
  code/datums/mind.dm
  code/datums/records.dm
  code/defines/obj.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  html/changelogs/geeves-trim_corp.yml
Labels: Awaiting Merge

#12143 Buddy Tag Options
  code/__defines/_macros.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/clothing/under/accessories/buddy_tag.dm
  html/changelogs/geeves-buddytag_options.yml
Labels: Awaiting Merge

#12178 Ghost Menu Sorting
  code/modules/nano/modules/ghost_menu.dm
  html/changelogs/geeves-ghost_menu_improvements.yml
Labels: Awaiting Merge

#12185 Overmap Pilot Helmets
  code/modules/clothing/head/pilot_helmet.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
  code/modules/shuttles/shuttle_console.dm
  html/changelogs/geeves-overmap_pilot_helm.yml
Labels: Awaiting Merge

#12142 Easel and Canvas
  aurorastation.dme
  code/game/objects/items/canvas.dm
  code/game/objects/items/easel.dm
  code/modules/library/lib_items.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/geeves-painting_time.yml
  icons/obj/canvas.dmi
Labels: Awaiting Merge, Sprites

#12062 Sparring Remaster
  code/game/sound.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  html/changelogs/geeves-martial_arts_remaster.yml
  sound/weapons/punch1_bass.ogg
  sound/weapons/punch2_bass.ogg
  sound/weapons/punch3_bass.ogg
  sound/weapons/punch4_bass.ogg
Labels: Awaiting Merge

#12199 RnD Inductive Chargers
  code/game/machinery/recharger.dm
  code/modules/mob/living/silicon/robot/items/inductive_charger.dm
  code/modules/research/designs/protolathe/tool_designs.dm
  html/changelogs/geeves-inductive_charger_rnd.yml
  icons/obj/contained_items/tools/inductive_charger.dmi
  icons/obj/robot_items.dmi
Labels: Awaiting Merge, Sprites

#12099 Allows picking how much food is picked up with utensil
  code/game/objects/items/weapons/material/kitchen.dm
  html/changelogs/utensilchange.yml
Labels: Awaiting Merge

#12086 SPAN_ macro improvement (999% speed) (not benched)
  code/__defines/_macros.dm
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Awaiting Merge, Changelog Required

#12072 Technomancer Golem
  aurorastation.dme
  code/__defines/species.dm
  code/datums/outfits/outfit_antag.dm
  code/game/gamemodes/antagspawner.dm
  code/game/gamemodes/technomancer/assistance/assistance.dm
  code/game/gamemodes/technomancer/catalog.dm
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/gamemodes/technomancer/spells/shield.dm
  code/modules/ghostroles/spawner/atom/technomancer_apprentice.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_hud.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/techno_golem.dm
  html/changelogs/geeves-techno_golem.yml
  icons/mob/human_races/golem/r_techno.dmi
  icons/mob/items/lefthand_spells.dmi
  icons/mob/items/righthand_spells.dmi
Labels: Awaiting Merge, Sprites

#12020 Balloon Alerts
  aurorastation.dme
  code/_helpers/game.dm
  code/_helpers/text.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/geeves-balloon_alerts.yml
Labels: Awaiting Merge

#12026 Primary Radio Selection
  SQL/migrate/V068__primary_radio_slot.sql
  code/_helpers/global_lists.dm
  code/modules/client/preference_setup/general/04_equipment.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-default_radio.yml
Labels: Awaiting Merge

#12218 Manifest Fix
  code/controllers/subsystems/job.dm
  code/game/jobs/faction/unaffiliated.dm
  html/changelogs/geeves-fuck4.yml
Labels: Awaiting Merge, Bugfix

#12217 Removes nutrition from IPCs.
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/mattatlas-lmaokillme.yml
Labels: Awaiting Merge, Bugfix

#12209 Ports tgstation bread and burger sprites
  html/changelogs/listerla - bread_and_burger.yml
  icons/obj/food.dmi
  icons/obj/food_custom.dmi
  icons/obj/food_ingredients.dmi
Labels: Awaiting Merge, Sprites

#11993 Trace Chemicals and Mass Spectrometers
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/blood.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/geeves-mass_spectrometer.yml
  icons/obj/device.dmi
Labels: Awaiting Merge, Sprites

#12211 Turrets now emit light
  code/game/machinery/portable_turret.dm
  html/changelogs/alberyk-turret.yml
Labels: Awaiting Merge

#12214 Makes the vaurca mantle into an accessory
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/suits/xeno/vaurca.dm
  code/modules/clothing/under/accessories/xeno/vaurca.dm
  html/changelogs/VaurcaMantle.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#12215 Skrell accents, religions, and citizenship updates.
  code/modules/background/accent/skrell.dm
  code/modules/background/defines.dm
  code/modules/background/religion/skrell.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/listerla - Skrell_Lore.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#12224 Fixes IPC subspecies still having nutrition.
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/mattatlas-fixipcsubspecies.yml
Labels: Awaiting Merge, Bugfix

#12177 Adds a preference to toggle Goonchat off.
  SQL/migrate/V069__goonchat_pref.sql
  code/__defines/misc.dm
  code/modules/client/preference_setup/global/02_settings.dm
  code/modules/goonchat/browserassets/js/browserOutput.js
  code/modules/mob/abstract/unauthed/login.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_helpers.dm
  code/stylesheet.dm
  html/changelogs/mattatlas-goonchatpref.yml
Labels: Review Required

#12208 Hand-Tele Tweak
  code/game/objects/items/weapons/teleportation.dm
  html/changelogs/geeves-hand_tele_tweak.yml
Labels: Awaiting Merge

#12192 Stronger Mechs
  code/modules/heavy_vehicle/components/_components.dm
  code/modules/heavy_vehicle/components/armor.dm
  code/modules/heavy_vehicle/components/arms.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/components/head.dm
  code/modules/heavy_vehicle/components/legs.dm
  code/modules/heavy_vehicle/premade/military.dm
  html/changelogs/geeves-stronger_mechs.yml
Labels: Awaiting Merge

#12093 Hardsuit Construction Improvements
  code/datums/helper_datums/construction_datum.dm
  code/modules/clothing/spacesuits/rig/rig_construction.dm
  html/changelogs/geeves-rig_construction_improvements.yml
Labels: Awaiting Merge

#12232 fixes the vaurca mantle sprite
  code/modules/clothing/under/accessories/xeno/vaurca.dm
  html/changelogs/MantleFix.yml
Labels: Awaiting Merge, Bugfix

#12222 Makes taking the remote controlled warden out of the security mining prison harder
  html/changelogs/alberyk-prisonrobot.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12256 Fixes radiation storm lights ending too late
  code/modules/events/radiation_storm.dm
  html/changelogs/RadiationLight.yml
Labels: Awaiting Merge, Bugfix

#12257 fixes taj ear markings
  html/changelogs/TajHatFixes.yml
  icons/mob/human_races/markings_tajara.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12255 fixes the emotional manipulator
  code/modules/organs/subtypes/augment.dm
  html/changelogs/EmotionManipulator.yml
Labels: Awaiting Merge, Bugfix

#12226 Adds Vaurca food, drink, and cup.
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/cooking/recipes/cultural/recipes_vaurca.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass/coffeecup.dm
  html/changelogs/listerla - vaurcafood.yml
  icons/obj/drink_glasses/coffecup.dmi
  icons/obj/drinks.dmi
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#12245 Added crayons and canvases to the paperwork gripper.
  code/modules/mob/living/silicon/robot/items/gripper.dm
  html/changelogs/ArtisticCyborgs.yml
Labels: Awaiting Merge

#12247 Added inhalers and injectors to the medical grippers.
  code/modules/mob/living/silicon/robot/items/gripper.dm
  html/changelogs/VersatileMedicalCyborgs.yml
Labels: Awaiting Merge

#11969 Raises pain thresholds, hopefully reduces lethality a bit, nerfs painkillers.
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/organs/wound.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/mattatlas-shootmealready.yml
Labels: Awaiting Merge, Test Merge Candidate

#12268 Fixes some bugs with the Vaurcesian food
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/desven_kois.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12244 Light Replacer QoL
  code/game/objects/items/devices/lightreplacer.dm
  html/changelogs/geeves-light_transfer.yml
  icons/obj/janitor.dmi
Labels: Awaiting Merge, Sprites

#12243 Rotatable Drink Machines
  code/modules/reagents/dispenser/dispenser2.dm
  html/changelogs/geeves-rotate_drinks.yml
Labels: Awaiting Merge

#12234 Fixes some cameras and adds lights to the brig control room
  html/changelogs/CameraFixes.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12225 Wrist & headphone radios
  code/_helpers/global_lists.dm
  code/datums/outfits/outfit.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/civilian_chaplain.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/say.dm
  html/changelogs/WristComms.yml
  icons/mob/l_ear.dmi
  icons/mob/r_ear.dmi
  icons/mob/wrist.dmi
  icons/obj/radio.dmi
Labels: Awaiting Merge, Sprites

#12223 Fluff based augments
  code/__defines/mobs.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/AugmentUpgrade.yml
Labels: Awaiting Merge

#12155 Better Screen Tints
  code/_onclick/hud/fullscreen.dm
  code/game/objects/items/weapons/candle.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/life.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-better_screen_tints.yml
  icons/mob/screen/full.dmi
  icons/mob/screen_full.dmi
Labels: Awaiting Merge, Sprites

#12219 Various Synthetic Helper Fixes and 1 (One) add-on
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/ghostroles/spawner/atom/posibrain.dm
  code/modules/mob/floating_messages.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/carbon/brain/posibrain.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/geeves-unshit_posibrain.yml
Labels: Awaiting Merge, Bugfix

#12242 Better Teleportation Accidents
  code/game/machinery/teleporter.dm
  code/game/objects/effects/portals.dm
  html/changelogs/geeves-better_teleportation_accidents.yml
Labels: Awaiting Merge

#12248 Sofa Physics
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  html/changelogs/geeves-sofa_physics.yml
Labels: Awaiting Merge

#12249 Multi-tile Airlock Fixes | Airlock QoL
  code/game/machinery/doors/airlock_control.dm
  code/game/objects/structures/door_assembly.dm
  html/changelogs/geeves-multitile_airlock_bounds.yml
Labels: Awaiting Merge

#12190 Long-Range Holopads
  code/game/machinery/hologram.dm
  code/game/machinery/machinery.dm
  code/modules/awaymissions/gateway.dm
  code/modules/overmap/ships/computers/ship.dm
  html/changelogs/geeves-long_range_holopads_redux.yml
  icons/obj/holopad.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  vueui/src/components/view/misc/holopad.vue
Labels: Awaiting Merge, Mapping: Aurora, Sprites, VueUi

#12280 Fixes wrist radio issues
  code/game/objects/items/devices/radio/headset.dm
  html/changelogs/WristRadioFix.yml
Labels: Awaiting Merge, Bugfix
