Repository Aurorastation/Aurora.3, pull requests merged in 2021-08, with the labels that each got.

#12229 Togglable Tajara Coats
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/suits/xeno/tajara.dm
  html/changelogs/tajcoat.yml
  icons/obj/tajara_items.dmi
  maps/templates/pra.dmm
Labels: Awaiting Merge, Sprites

#12263 Removes several sounds with incompatible license
  code/game/objects/items/weapons/flamethrower.dm
  code/game/objects/items/weapons/tools.dm
  code/game/sound.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/hallucinations/types/basic.dm
  code/modules/hallucinations/types/sound.dm
  html/changelogs/SoundLicenseFix.yml
  sound/attributions.txt
  sound/effects/fleshburn1.ogg
  sound/effects/fleshburn2.ogg
  sound/misc/zapsplat/chitter1.ogg
  sound/misc/zapsplat/chitter2.ogg
  sound/misc/zapsplat/chitter3.ogg
  sound/misc/zapsplat/license.txt
  sound/voice/LizardHiss.ogg
  sound/voice/LizardHissShort.ogg
  sound/voice/chitter1.ogg
  sound/voice/chitter2.ogg
  sound/voice/chitter3.ogg
  sound/weapons/flamethrower.ogg
Labels: Awaiting Merge

#12282 Trace Chems Runtime Fix
  code/modules/mob/living/carbon/human/life.dm
  code/modules/reagents/Chemistry-Reagents.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#12264 Upgrades the coat racks and adds security labcoats
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/LabCoatRack.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/coatrack.dmi
Labels: Awaiting Merge, Sprites

#12274 Fixed empty anomaly power utilizers being invisible.
  code/modules/research/xenoarchaeology/tools/ano_device_battery.dm
  html/changelogs/AnomalyPowerUtelizers.yml
Labels: Awaiting Merge

#12273 Adds *click and *clack
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  html/changelogs/flpfs-clickclack.yml
  sound/voice/bugclack.ogg
  sound/voice/bugclick.ogg
Labels: Awaiting Merge

#12270 Revert "Adds a preference to toggle Goonchat off."
  code/__defines/misc.dm
  code/modules/client/preference_setup/global/02_settings.dm
  code/modules/goonchat/browserassets/js/browserOutput.js
  code/modules/mob/login.dm
  code/modules/mob/mob_helpers.dm
  code/stylesheet.dm
  html/changelogs/mattatlas-revertgcpref.yml
Labels: Awaiting Merge

#12172 AI shells
  aurorastation.dme
  code/__defines/mobs.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/virtual_reality.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/blast_door.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_remote_control.dm
  code/modules/mob/living/silicon/robot/items/robot_parts.dm
  code/modules/mob/living/silicon/robot/items/upgrades/robot_upgrades.dm
  code/modules/research/designs/protolathe/tool_designs.dm
  html/changelogs/AI shell.yml
  icons/mob/robots.dmi
  icons/obj/contained_items/weapons/jawsoflife.dmi
  icons/obj/module.dmi
  maps/aurora/aurora-3_sublevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12278 Adds a Synthetic Residence Card
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/stryker-syntheticcard.yml
  icons/clothing/accessories/passcards.dmi
Labels: Awaiting Merge, Sprites

#12276 Nerfs Hallucination Sting Duration + It Injects Mindbreaker Now
  code/game/gamemodes/changeling/implements/powers/stings.dm
  html/changelogs/wickedcybs_halluchungus.yml
Labels: Awaiting Merge

#12290 Fixes click and clack emotes being inverted
  html/changelogs/desven-clickclackfix.yml
  sound/voice/bugclack.ogg
  sound/voice/bugclick.ogg
Labels: Awaiting Merge, Bugfix

#12286 Fixes carpet icons not updating properly when you place them down
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/simulated/floor_attackby.dm
  html/changelogs/alberyk-carpeticon.yml
  icons/obj/stacks/tiles.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#12284 New scc shuttle walls and windows
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  html/changelogs/alberyk-newshuttlewalls.yml
  icons/turf/shuttles_unique/scc_shuttle_pieces.dmi
  icons/turf/smooth/scc_shuttle.dmi
Labels: Awaiting Merge, NBT, Sprites

#12220 Robobrain Alert
  code/modules/mob/living/carbon/brain/posibrain.dm
  html/changelogs/geeves-robobrain_alert.yml
Labels: Awaiting Merge

#12285 Custom items 01/08/21
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/azaroz_staff.dmi
  icons/obj/custom_items/eri_robes.dmi
  icons/obj/custom_items/krin_clothing.dmi
  icons/obj/custom_items/pax_bag.dmi
  icons/obj/custom_items/rajjurl_uniform.dmi
  icons/obj/custom_items/solozel_items.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#12287 Removes Random Golems
  code/modules/events/event_container.dm
  code/modules/events/supply_drop.dm
  html/changelogs/golembegone.yml
  tools/Event Probabilities/Event Probabilities.xlsx
Labels: Awaiting Merge

#12260 Adds another Qipao
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/dansemacabre-qipao2.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Changes Required, Sprites

#12275 Matriarch Drones
  aurorastation.dme
  code/datums/ai_law_sets.dm
  code/modules/ghostroles/spawner/atom/matriarchmaintdrone.dm
  code/modules/materials/material_sheets.dm
  code/modules/mob/language/synthetic.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/mob/living/silicon/robot/drone/drone_say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/power/cable.dm
  html/changelogs/geeves-queen_drone.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12265 Adds autopsy tool trays
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/AutopsyTray.yml
  icons/obj/surgery.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12246 Empty Magazine Recycling
  code/modules/projectiles/ammunition.dm
  html/changelogs/geeves-empty_magazine_recycling.yml
Labels: Awaiting Merge

#12240 Off-station RFD-C
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/geeves-player_freedom.yml
Labels: Awaiting Merge

#12221 Strong Rezadone
  code/__defines/chemistry.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/internal/_internal.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/geeves-rezadone_healing.yml
Labels: Awaiting Merge

#12212 Constructable Mining Machines
  aurorastation.dme
  code/game/objects/items/weapons/circuitboards/machinery/mining_machines.dm
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mining/machine_unloading.dm
  code/modules/research/designs/circuit/machine_circuits.dm
  code/modules/research/designs/circuit/mining_circuits.dm
  html/changelogs/geeves-constructable_mining_machines.yml
Labels: Awaiting Merge

#12196 Experimental Welding Tool Upgrades
  code/game/objects/items/weapons/tools.dm
  code/modules/research/designs/protolathe/tool_designs.dm
  html/changelogs/geeves-welding_tool_upgrades.yml
  icons/obj/contained_items/tools/welding_tools.dmi
Labels: Awaiting Merge, Sprites

#11985 Space Sector: Badlands
  aurorastation.dme
  code/__defines/space_sectors.dm
  code/datums/ert/outsider.dm
  code/datums/outfits/ert/elyra.dm
  code/datums/outfits/ert/kosmostrelki.dm
  code/datums/trading/trade.dm
  code/datums/trading/weaponry.dm
  code/modules/admin/verbs/debug.dm
  code/modules/background/space_sectors/badlands.dm
  code/modules/background/space_sectors/tauceti.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/ghostroles/spawner/human/responseteams/human/elyra.dm
  code/modules/ghostroles/spawner/human/responseteams/human/fsf.dm
  code/modules/ghostroles/spawner/human/responseteams/tajara/kosmostrelki.dm
  code/modules/ghostroles/spawner/human/responseteams/unathi/kataphracts.dm
  html/changelogs/alberyk-badlands.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites, Lore Impact, NBT

#12281 Dionae organ removal and eating tweak
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/organs/internal/species/diona.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk-dionaechange.yml
Labels: Awaiting Merge, Lore Impact

#12272 Adds a new mining dungeon
  aurorastation.dme
  code/game/turfs/simulated/wall_types.dm
  code/modules/mob/living/simple_animal/hostile/vannatusk.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  html/changelogs/Alberyk-newdungeon.yml
  icons/mob/npc/vannatusk.dmi
  icons/obj/projectiles.dmi
  maps/_common/areas/special.dm
  maps/dungeon_spawns/vannatusk_unique.dmm
  sound/attributions.txt
  sound/effects/creatures/vannatusk_attack.ogg
  sound/effects/creatures/vannatusk_sound.ogg
  sound/effects/creatures/vannatusk_sound_2.ogg
Labels: Awaiting Merge, Sprites

#12230 Roundstart SMES
  code/modules/power/smes_construction.dm
  html/changelogs/geeves-roundstart_smes.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12227 Bring any drink in flasks
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge

#12299 Mining Fix
  html/changelogs/geeves-shitcode.yml
  icons/obj/machines/mining_machines.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Review Required, Mapping: Aurora, Sprites, Bugfix

#12298 fixes the jaws of life being unclear on when it works
  code/modules/mob/living/silicon/ai/ai_remote_control.dm
  html/changelogs/JawsofLife.yml
Labels: Awaiting Merge, Bugfix

#12294 Changes up the IPC loading screens.
  html/changelogs/niennab-ipcloadingscreens.yml
  icons/misc/titlescreens/aurora/synthetics.dmi
Labels: Awaiting Merge, Sprites

#12301 Matriarch Maintenance Drone Fix
  code/controllers/subsystems/initialization/misc_late.dm
  code/game/atoms.dm
  code/game/jobs/whitelist.dm
  code/modules/effects/maze_generation/maze_generator.dm
  code/modules/ghostroles/spawner/atom/matriarchmaintdrone.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-more_shitcode.yml
Labels: Awaiting Merge, Bugfix

#11967 Change NT relation into economic status: Round 3
  SQL/migrate/V070__economic_status.sql
  code/__defines/mobs.dm
  code/game/antagonist/station/traitor.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/meme/meme.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/general/05_background.dm
  code/modules/client/preferences.dm
  html/changelogs/Economy.yml
Labels: Awaiting Merge

#12262 lowers emotional manipulator message frequency
  code/modules/organs/subtypes/augment.dm
  html/changelogs/EmotionFreq.yml
Labels: Awaiting Merge

#12296 Adds an in-hand sprite for the k'ois donut
  html/changelogs/desven-donut.yml
  icons/mob/items/lefthand_food.dmi
  icons/mob/items/righthand_food.dmi
Labels: Awaiting Merge, Sprites

#12305 Another Matriarch Fix
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/geeves-another_matriarch_fix.yml
Labels: Awaiting Merge, Bugfix

#12306 Round # ?? of Borg Gripper Fixes
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/vending.dm
  code/game/machinery/wall_frames.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  html/changelogs/Doxxmedearly - Gripper_Fixes_Part_Whoknowsanymore.yml
Labels: Awaiting Merge, Bugfix

#12311 Adds general departmental access (security, engineering, research) to first responders.
  code/game/jobs/job/medical.dm
  html/changelogs/dsfd45454gdgfdsfsd.yml
Labels: Awaiting Merge

#12325 Long Blazer Button Fix
  html/changelogs/wickedcybs_coatfix.yml
  icons/mob/suit.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12324 Bishop Sprite Trimming to Resolve Clipping
  html/changelogs/wickedcybs_bishop.yml
  icons/mob/human_races/ipc/r_ind_bishop.dmi
  icons/mob/human_races/markings_bishop.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12297 Allows some more stuff to go in the emergency survival box
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/dfsfdgfdhgfophgf.yml
Labels: Awaiting Merge

#12304 Adds a huge warning label to the Phoron Punch
  code/modules/reagents/reagent_containers/food/cans.dm
  html/changelogs/desven-phoron.yml
Labels: Awaiting Merge

#12318 Updates the Crevan Creole accent tag.
  html/changelogs/chrerfesfsfesf.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#12303 Adds new drinks and tweaks
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/desven-drinks.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#12322 More Visible Wrists on Hoodies
  html/changelogs/wickedcybs_hoodie1.yml
  icons/obj/hoodies.dmi
Labels: Awaiting Merge, Sprites

#12321 Added a rainbow crayon to the vault maintenance area.
  html/changelogs/RainbowCrayonPlacement.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12340 Eridani ERT Access Fix
  code/datums/outfits/ert/ap_eridani.dm
  code/game/objects/items/weapons/cards_ids.dm
  html/changelogs/wickedcybs_strike.yml
Labels: Awaiting Merge, Bugfix

#12317 Adds an SCC logo to paperwork
  code/_helpers/text.dm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/paper.dm
  html/changelogs/desven-logo.yml
  html/images/scclogo.png
Labels: Awaiting Merge

#12330 Fixes the bite sizes for the new k'ois food
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/desven-fixbites.yml
Labels: Awaiting Merge, Bugfix

#12295 Give me the peac gun
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/cannon.dm
  code/modules/projectiles/guns/projectile/musket.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/alberyk-antitank.yml
  icons/obj/ammo.dmi
  icons/obj/guns/peac.dmi
  icons/obj/guns/recoilless_rifle.dmi
  icons/obj/projectiles.dmi
  sound/weapons/gunshot/cannon.ogg
  sound/weapons/mortar.ogg
  sound/weapons/recoilless_rifle.ogg
Labels: Awaiting Merge, Sprites

#12312 Slice custom cakes
  code/modules/cooking/machinery/cooking_machines/_cooker_output.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/sliceablecustomcakes.yml
  icons/obj/food_custom.dmi
Labels: Awaiting Merge, Sprites

#12279 Adds alternative wrist layers
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/wrists/wrists.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/LayerChanges.yml
Labels: Awaiting Merge

#12332 Changes the premium item of the Dinnerware from an NT lunchbox to a SCC one
  code/game/machinery/vending_types.dm
  html/changelogs/desven-scclunchbox.yml
Labels: Awaiting Merge

#12336 Adds two new watches to the loadout
  code/datums/outfits/outfit_antag.dm
  code/modules/client/preference_setup/loadout/loadout_wrists.dm
  code/modules/clothing/wrists/watches.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/desven-watches.yml
  icons/mob/items/clothing/lefthand_wrists.dmi
  icons/mob/items/clothing/righthand_wrists.dmi
  icons/mob/wrist.dmi
  icons/obj/clothing/wrists.dmi
Labels: Awaiting Merge, Sprites

#12241 Turret and Solar Panel Rotation
  code/_helpers/unsorted.dm
  code/game/atoms.dm
  code/game/machinery/portable_turret.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
  html/changelogs/geeves-cool_rotation.yml
  icons/obj/power.dmi
  icons/obj/turrets.dmi
Labels: Awaiting Merge, Sprites

#12328 Merc heavy armor recolor
  html/changelogs/dansemacabre-recolor.yml
  icons/clothing/kit/modular_armor.dmi
Labels: Awaiting Merge, Sprites

#12334 Wiping Cutlery Clears Food
  code/game/objects/items/weapons/material/kitchen.dm
  html/changelogs/wipecutlery.yml
Labels: Awaiting Merge

#12346 Taj Colour Patches Trimming
  html/changelogs/wickedcybs_patternfix.yml
  icons/mob/human_races/markings_tajara.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12307 Cloth Synths
  code/game/objects/items/stacks/matter_synth.dm
  code/modules/materials/material_synth.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/geeves-cloth_synths.yml
Labels: Awaiting Merge

#12302 Drone Designators
  code/modules/ghostroles/spawner/atom/mining_drone.dm
  code/modules/ghostroles/spawner/simplemob/maintdrone.dm
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/mob/living/silicon/robot/drone/drone_manufacturer.dm
  html/changelogs/geeves-maint_drone_designators.yml
Labels: Awaiting Merge

#12352 Hoodie Sprite Fixes - Unzipped and Hood Up
  html/changelogs/wickedcybs_hoodiefix.yml
  icons/obj/hoodies.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12344 Changes Vaurca to spawn with the filter port, allows Vaurca to select mechanical organs
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/desven-filter.yml
Labels: Awaiting Merge

#12354 Fixes the can of pineapple rings having the same sounds and descriptions as a regular can
  code/game/objects/items/weapons/storage/misc.dm
  html/changelogs/desven-pineapples.yml
Labels: Awaiting Merge, Bugfix

#12360 More Sprite Trimming - T-Shirt and Binders
  html/changelogs/wickedcybs_binder.yml
  icons/mob/ties.dmi
  icons/mob/underwear.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12347 Removes the infiltration suit from the antag uplink.
  code/datums/uplink/devices and tools.dm
  html/changelogs/mattatlas-noinfil.yml
Labels: Awaiting Merge

#12313 Ore bags now automatically collect ores when you walk over them
  code/modules/mining/ore.dm
  html/changelogs/alberyk-orecollection.yml
Labels: Awaiting Merge

#12355 Taj Hairstyles - Mostly Variations & Tweaks With Some Additions
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_tajhair.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
  icons/mob/human_races/tajara/r_tajaran.dmi
Labels: Awaiting Merge, Sprites

#12351 Adds bugsnax
  code/game/machinery/vending_types.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/desven-bugsnax.yml
  icons/obj/food.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites

#12358 Allows quartermasters, cargo techs, and shaft miners to spawn with hard hats from the loadout.
  code/modules/client/preference_setup/loadout/loadout_head.dm
  html/changelogs/omicega-oshamoment.yml
Labels: Awaiting Merge

#12357 Tajaran accent sharpening/updates
  html/changelogs/omicega-sharptime.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#12356 Fixes gradient type transfering between species in char setup
  code/modules/client/preference_setup/general/03_body.dm
  html/changelogs/GradientFix.yml
Labels: Awaiting Merge, Bugfix

#12373 Fixed grey jeans shorts & grey jeans short shorts being broken.
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/shorts.dm
  html/changelogs/omicega-iahtethistwhd.yml
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12370 Fixes the pineapple sound for real this time
  code/game/objects/items/weapons/storage/misc.dm
  html/changelogs/desven-morepineapples.yml
Labels: Awaiting Merge, Bugfix

#12383 Airlock Electronics Fix
  code/game/machinery/doors/airlock.dm
  html/changelogs/geeves-airlock_electronics_fix.yml
Labels: Awaiting Merge, Bugfix

#12348 Addresses limb meta with a few balance changes.
  code/__defines/armor.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/standard.dm
  html/changelogs/mattatlas-limbmeta.yml
Labels: Awaiting Merge, Test Merge Candidate

#12359 Modifies some security loadouts for QOL.
  code/game/jobs/job/security.dm
  code/game/machinery/vending_types.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/omicega-fdsfdsfdsfdsdsdfs.yml
Labels: Awaiting Merge

#12379 Inductive Charger Fix
  code/modules/mob/living/silicon/robot/items/inductive_charger.dm
  code/modules/power/apc.dm
  code/modules/power/cell.dm
  html/changelogs/geeves-inducer_fix.yml
Labels: Awaiting Merge, Bugfix

#12366 The Lii'dra update
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/background/accent/vaurca.dm
  code/modules/background/defines.dm
  code/modules/clothing/masks/voice.dm
  code/modules/organs/subtypes/parasite.dm
  html/changelogs/desven-liidra.yml
  icons/accent_tags.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites, Lore Impact

#12361 Nerfs Zeng-Hu Mobility Frames and removes them from Security, makes IPCs use more charge when running.
  code/game/jobs/job/security.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/organs/subtypes/machine.dm
  html/changelogs/mattatlas-zenghunerf.yml
Labels: Awaiting Merge

#12320 Ports paperbags from tg
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/head/misc.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/desven-papersacks.yml
  icons/mob/head.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/storage.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12350 Adds sprites for when holding the ZH scanner
  code/game/objects/items/devices/scanners.dm
  html/changelogs/desven-zh sprites.yml
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/righthand_device.dmi
Labels: Awaiting Merge, Sprites

#12349 Updates the icon sprite for the cat
  html/changelogs/desven-runtime.yml
  icons/mob/items/lefthand_holder.dmi
  icons/mob/items/righthand_holder.dmi
  icons/mob/npc/pets.dmi
Labels: Awaiting Merge, Sprites

#12367 Kathira Custom Item
  aurorastation.dme
  code/modules/customitems/item_defines.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/journal.dm
  code/modules/paperwork/paper.dm
  icons/obj/contained_items/misc/journal.dmi
  icons/obj/custom_items/kathira_journal.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#12386 Sets the default bite size/transfer amount on all utensils to be the minimum.
  code/game/objects/items/weapons/material/kitchen.dm
  html/changelogs/omicega-biterrewrfesfsof.yml
Labels: Awaiting Merge

#12387 Resprites/renames the vintage .45 and adds two new .45 pistols.
  code/datums/outfits/outfit_antag.dm
  code/game/objects/random/random.dm
  code/modules/background/citizenship/human.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/BLUNTFORCE420 - TWOWORLDWARS.yml
  icons/obj/ammo.dmi
  icons/obj/guns/colt.dmi
  icons/obj/guns/coltauto.dmi
  icons/obj/guns/coltsuper.dmi
Labels: Awaiting Merge, Sprites

#12404 Fixes the ZH scanner facing the wrong way
  html/changelogs/desven-zhfix.yml
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/righthand_device.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12390 Adds a new fruity cocktail
  code/modules/cargo/bounties/reagent.dm
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/omicega-fdfdsfdsfre54353434sd.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#12391 Resprites the automatic .45.
  code/datums/outfits/ert/ap_eridani.dm
  code/datums/outfits/ert/iac.dm
  code/datums/outfits/event/outfit_nanotrasen.dm
  code/datums/outfits/outfit_antag.dm
  code/datums/trading/weaponry.dm
  code/game/machinery/vending_types.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/BLUNTFORCE420 - B&T.yml
  icons/obj/ammo.dmi
  icons/obj/guns/x9.dmi
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12389 adds a new elyran gun for the elyran consular
  code/modules/background/citizenship/human.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/plasma.dm
  html/changelogs/ElyranConGun.yml
  icons/obj/guns/plasma_pistol.dmi
Labels: Awaiting Merge, Sprites

#12399 Adds short-barreled AR to random weapons and FL ERT leader
  code/datums/outfits/ert/mercenary.dm
  code/game/objects/random/random.dm
  html/changelogs/BLUNTFORCE420 - Shorty.yml
Labels: Awaiting Merge

#12409 Adds a Long Fisanduhian Jacket and a Green Trenchcoat
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/wickedcybs_longcoats.yml
  icons/clothing/suits/coats/dominia_bomber.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#12413 Revenant Night Eyes
  code/_onclick/hud/action.dm
  code/modules/mob/living/carbon/human/species/outsider/revenant.dm
  code/modules/organs/internal/species/tajara.dm
  html/changelogs/geeves-revenant_night_eyes.yml
  icons/obj/action_buttons/organs.dmi
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12407 Added hair fade options to the Tajara
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/alberyk-fadehair.yml
Labels: Awaiting Merge

#12405 Makes kois lunchbox products vaurca only
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/VaurcaLunch.yml
Labels: Awaiting Merge

#12402 Adds the Golden Deep logo for paperwork
  code/_helpers/text.dm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/paper.dm
  html/changelogs/lucaken-goldendeep.yml
  html/images/goldenlogo.png
Labels: Awaiting Merge

#12397 Fingerwave Hairstyle for Humans
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_okschwan.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#12403 Adds virtual reality human bodies
  aurorastation.dme
  code/controllers/subsystems/virtual_reality.dm
  code/datums/outfits/outfit_admin.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/structures/vr/human_chair.dm
  code/global.dm
  code/modules/clothing/chameleon.dm
  code/modules/mob/living/carbon/human/virtual_reality_mob.dm
Labels: Awaiting Merge, Changelog Required

#12401 Adds abyss turfs
  aurorastation.dme
  code/game/turfs/simulated/abyss.dm
  html/changelogs/alberyk-abyss.yml
  icons/turf/smooth/abyss.dmi
Labels: Awaiting Merge, Sprites

#12323 Gives vending machines a glow up
  code/game/machinery/vending_types.dm
  html/changelogs/desven-vendingboogaloo.yml
  icons/obj/vending.dmi
Labels: Awaiting Merge, Sprites

#12181 Ports arcade sprites from Polaris
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  code/game/machinery/computer/computer.dm
  html/changelogs/desven.yml
  icons/obj/computer.dmi
Labels: Awaiting Merge, Sprites

#12396 Helmets can be stored in armor suit storage
  code/modules/clothing/suits/armor.dm
Labels: Awaiting Merge, Changelog Required

#12406 adds an upper player limit to solo techno in secret
  code/game/gamemodes/technomancer/technomancer.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge

#12365 Pipegun Buff
  code/__defines/items_clothing.dm
  code/game/objects/items.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/geeves-pipegun_buff.yml
  icons/obj/ammo.dmi
Labels: Awaiting Merge, Sprites

#12193 Powerful Mechs
  aurorastation.dme
  code/__defines/projectiles.dm
  code/datums/outfits/ert/ap_eridani.dm
  code/datums/outfits/ert/deathsquad.dm
  code/datums/outfits/ert/fsf.dm
  code/datums/outfits/ert/iac.dm
  code/datums/outfits/ert/kataphract.dm
  code/datums/outfits/ert/mercenary.dm
  code/datums/outfits/ert/syndicate.dm
  code/datums/outfits/ert/tcfl.dm
  code/datums/outfits/event/outfit_events.dm
  code/datums/outfits/event/outfit_killers.dm
  code/datums/outfits/event/outfit_megacorps.dm
  code/datums/outfits/event/outfit_tfcl.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/outfit_antag.dm
  code/game/antagonist/outsider/commando.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/mech_helpers.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/silicon/robot/syndicate_robot.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/geeves-powerful_mechs.yml
Labels: Awaiting Merge

#12385 Schlorrgo Evolution Expanded
  aurorastation.dme
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/schlorrgo.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/alberyk_schlorrgo.yml
  icons/mob/npc/colossal_schlorrgo.dmi
  icons/mob/npc/livestock.dmi
  icons/mob/npc/schlorrgo.dmi
  icons/obj/food.dmi
  sound/effects/creatures/schlorrgo_scream.ogg
Labels: Awaiting Merge, Sprites
