Repository Aurorastation/Aurora.3, pull requests merged in 2021-12, with the labels that each got.

#12771 Cargo Bounty Tweaks
  aurorastation.dme
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/bounty.dm
  code/modules/cargo/exports/phoron.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_control.dm
  html/changelogs/geeves-bounty_tweaks.yml
Labels: Awaiting Merge

#12799 Captain gear briefcases no longer show up in the warehouse loot
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/alberyk-captainrbriefcase.yml
Labels: Awaiting Merge, Bugfix

#12783 Taj Swoop Hairstyle Variations
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_zhair.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Sprites

#12804 fixes paperbags becoming invisible
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/PaperbagFix.yml
Labels: Awaiting Merge, Bugfix

#12798 Adds toasting
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  html/changelogs/Toasting.yml
  sound/items/glass_clink_1.ogg
  sound/items/glass_clink_2.ogg
  sound/items/glass_clink_3.ogg
Labels: Awaiting Merge

#12793 Adds an ion rifle to the uplink
  code/datums/uplink/highly visible and dangerous weapons.dm
  html/changelogs/IonRifleLink.yml
Labels: Awaiting Merge

#12781 Allows the holomenu to be read from any distance
  code/game/objects/items/holomenu.dm
  html/changelogs/HoloMenuChanges.yml
Labels: Awaiting Merge

#12807 Antag Teleporter Fix
  code/game/machinery/teleporter.dm
  html/changelogs/geeves-ninja_teleporter_fix.yml
Labels: Awaiting Merge, Bugfix

#12787 makes neck bandannas into accessories
  code/game/objects/items/knitting.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/clothing/ears/bandanna.dm
  code/modules/customitems/item_defines.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/NeckBandannaAcc.yml
  icons/mob/mask.dmi
  icons/mob/ties.dmi
  icons/obj/custom_items/kir_bandanna.dmi
Labels: Awaiting Merge, Sprites

#12794 removes name tags on food and fruits when examined
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/FoodTag.yml
Labels: Awaiting Merge

#12800 No more paint in backpressure surges.
  code/modules/events/vent_clog.dm
  html/changelogs/wezzy_nomorepaint.yml
Labels: Awaiting Merge

#12808 Nralakk projector typo fix
  code/game/objects/items/skrell.dm
  html/changelogs/lly2-nralakk_typo_fix.yml
Labels: Awaiting Merge, Bugfix

#12802 Away Mission Events
  aurorastation.dme
  code/controllers/configuration.dm
  code/controllers/subsystems/arrivals.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/shuttles/shuttle_arrival.dm
  icons/obj/smooth/scc_space_ship.dmi
  icons/turf/smooth/scc_ship.dmi
  maps/event/odin_departure/code/odin_departure_areas.dm
  maps/event/odin_departure/code/odin_depature.dm
  maps/event/odin_departure/odin_depature-1.dmm
Labels: Awaiting Merge, Changelog Required, Sprites

#12691 Telecomms Lounge
  html/changelogs/geeves-telecomms_lounge.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12812 Wheelchair fix
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  html/changelogs/wezzy_wheelchairs_fix.yml
Labels: Awaiting Merge, Bugfix

#12805 adds the short reef headtail style to skrell
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/SkrellShortReef.yml
  icons/mob/human_face/skrell_hair.dmi
Labels: Awaiting Merge, Sprites

#12806 adds the qeblak mantle to the skrell loadout
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/SkrellMantle.yml
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#12822 Bad Paths Fix
  maps/aurora/aurora-6_surface.dmm
Labels: Changelog Required, Review Required, Mapping: Aurora, Bugfix

#12813 Updates wheelchair code for the new chair-lennium.
  code/controllers/subsystems/job.dm
  code/game/machinery/doors/door.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/wezzy_wheelchair_work.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_chairs.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_chairs.dmi
  icons/obj/furniture.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/exodus/exodus-1_station.dmm
Labels: Awaiting Merge, Refactor, Mapping: Aurora, Sprites, Mapping: Exodus

#12796 Conveyor Timer Lock
  code/modules/recycling/conveyor2.dm
  html/changelogs/arrow768-conveyor-no-timer.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#12857 Replacement github actions
  .github/workflows/byond.yml
  .versions.sh
  SQL/migrate/V056__sql_admins_table.sql
  SQL/migrate/V057__cargo_logging_table.sql
  SQL/migrate/V058__autohiss_setup.sql
  code/modules/mob/living/silicon/robot/custom_sprites.dm
  config/ut/dbconfig.txt
  scripts/sourcedm.sh
  tools/ci/install_byond.sh
  tools/ci/install_spaceman_dmm.sh
Labels: High Priority, Changelog Required, Review Required

#12858 Fixes a set of reversed pain checks in sensitive hearing
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/SensitiveHearingHalloss.yml
Labels: Awaiting Merge, Bugfix

#12856 Fixes chairs being righted with wrong material
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  html/changelogs/wezzy_chairdeployfix.yml
Labels: Awaiting Merge, Bugfix

#12852 fixes chair movement with mobs
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  html/changelogs/ChairMovementFix.yml
Labels: Awaiting Merge, Bugfix

#12849 fixes railing jumping
  code/game/objects/structures/railing.dm
  html/changelogs/RailingFix.yml
Labels: Awaiting Merge, Bugfix

#12845 fixes folders not being renamable when standing next to them
  code/modules/paperwork/folders.dm
  html/changelogs/FolderNameFix.yml
Labels: Awaiting Merge, Bugfix

#12843 Fixes the sofa in security
  html/changelogs/SofaFix.yml
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#12841 fixes chair dismantling being reversed
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/ChairDismantle.yml
Labels: Awaiting Merge, Bugfix

#12840 fixes cult communication rune sender identity
  code/game/gamemodes/cult/runes/communicate.dm
  html/changelogs/CultTalk.yml
Labels: Awaiting Merge, Bugfix

#12839 fixes problems with the sechud record
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/SecHudFix.yml
Labels: Awaiting Merge, Bugfix

#12838 restricts eridani from being consulars
  code/modules/background/citizenship/human.dm
  html/changelogs/EriConsular.yml
Labels: Awaiting Merge, Bugfix

#12837 Changes vomitting to take from nutrients too
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/VomitStuff.yml
Labels: Awaiting Merge

#12830 VueUI actions and things using GitHub Actions
  .github/workflows/vueui.yml
  tools/vueui-report/index.js
  tools/vueui-report/package.json
  tools/vueui-report/stages/01_build/index.js
  tools/vueui-report/stages/02_lint/index.js
  tools/vueui-report/stages/03_puppeteer/index.js
  tools/vueui-report/stages/03_puppeteer/run.js
  vueui/package-lock.json
Labels: Awaiting Merge, Changelog Required

#12859 Modifies Kathira's custom augment
  code/modules/customitems/item_defines.dm
Labels: Awaiting Merge, Changelog Required

#12860 Adds hairnets
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/jobs.dm
  html/changelogs/Hairnets.yml
  icons/mob/head.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#12851 Fixes borer & glass jar interaction and adds identifying numbers to borer names
  code/game/objects/items/glassjar.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  html/changelogs/BorerFix.yml
Labels: Awaiting Merge, Bugfix

#12836 Increases the time for unathi to break handcuffs to 10 seconds
  code/modules/mob/living/carbon/resist.dm
  html/changelogs/RageBreakTime.yml
Labels: Awaiting Merge, Balance

#12825 Updates several paperwork logos
  html/changelogs/PaperWorkLogos.yml
  html/images/eridanilogo.png
  html/images/hplogo.png
  html/images/idrislogo.png
  html/images/ntlogo_small.png
  html/images/zavodlogo.png
  html/images/zhlogo.png
Labels: Awaiting Merge

#12823 My Pharmaceutical Romance (Labcoat sprite 2nd pass)
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/wezzy_labcoat_2ndpass.yml
  icons/mob/clothing/suit/labcoat.dmi
  icons/mob/human_races/human/human_preview.dmi
  icons/mob/species/bulwark/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/coatrack.dmi
Labels: Awaiting Merge, Sprites

#12737 Allows QM to choose Cargo shorts
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  html/changelogs/desven-qmshorts.yml
Labels: Awaiting Merge

#12732 Full Window Blending
  code/_helpers/icon_smoothing.dm
  code/_helpers/lists.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/game/turfs/simulated/wall_icon.dm
  code/game/turfs/simulated/walls.dm
  html/changelogs/geeves-full_window_blending.yml
  icons/obj/smooth/full_window.dmi
  icons/obj/smooth/phoron_full_window.dmi
  maps/runtime/runtime-1.dmm
Labels: Awaiting Merge, Sprites, Mapping: Runtime

#12731 Grab Stuff
  code/__defines/mobs.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/projectiles/gun.dm
  html/changelogs/geeves-bulwark_fireman.yml
Labels: Awaiting Merge

#12075 Some new tips
  config/example/tips.txt
  html/changelogs/SpaceBaa-12075.yml
Labels: Awaiting Merge

#12831 Code clean up, makes use of states PROPERLY
  code/game/machinery/atmoalter/canister.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/player_panel.dm
  code/modules/cooking/machinery/smartfridge.dm
  code/modules/nano/interaction/admin.dm
  code/modules/shieldgen/shield_gen.dm
  code/modules/supermatter/supermatter.dm
  html/changelogs/gghyrhnhrs.yml
Labels: Awaiting Merge

#12810 Business card buffs
  code/game/objects/items/weapons/storage/business_card.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/paperwork/carbonpaper.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/paper_bundle.dm
  html/changelogs/wezzy_businesscardbuffs.yml
  icons/obj/bureaucracy.dmi
  icons/obj/office_supplies.dmi
  icons/obj/storage.dmi
Labels: Review Required, Sprites

#12842 Minor forensic additions
  code/modules/detectivework/microscope/microscope.dm
  code/modules/detectivework/microscope/slides.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/detectivework/tools/swabs.dm
  html/changelogs/ForensicHelp.yml
Labels: Awaiting Merge

#12866 Chair fixes again
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/objects/structures/vr/_remote_chair.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  html/changelogs/wezzy_wheelchair2.yml
Labels: Awaiting Merge, Bugfix

#12835 Makes skrell psi ping detect most simplemobs
  code/modules/mob/living/simple_animal/constructs/constructs/cult_construct.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/hostile/commanded/ives.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_beacon.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_harvester.dm
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  code/modules/mob/living/simple_animal/hostile/krampus.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/living/simple_animal/hostile/rogue_maint_drone.dm
  code/modules/mob/living/simple_animal/hostile/tree.dm
  code/modules/mob/living/simple_animal/hostile/vannatusk.dm
  code/modules/mob/living/simple_animal/hostile/viscerator.dm
  code/modules/mob/living/simple_animal/illusion.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/psionics/faculties/coercion.dm
  code/modules/psionics/mob/mob_helpers.dm
  html/changelogs/PsiPingMobs.yml
Labels: Awaiting Merge

#12853 targets of mind reading now gets informed how long they got to respond
  code/modules/psionics/faculties/coercion.dm
  html/changelogs/MindReadFix.yml
Labels: Awaiting Merge

#12844 Adds a new colorable waistcoat variant to the loadout
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/NewWaistCoat.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#12829 If it rains, you put on a coat. Rack. (Coatrack buffs.)
  aurorastation.dme
  code/game/objects/structures/coathanger.dm
  code/game/objects/structures/coatrack.dm
  html/changelogs/wezzy_coatrack.yml
  icons/obj/coatrack.dmi
Labels: Awaiting Merge, Sprites

#12855 Allows painting of padded stools, chairs and beds.
  code/__defines/materials.dm
  code/game/objects/items/devices/floor_painter.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  html/changelogs/wezzy_paint_stuff.yml
Labels: Awaiting Merge

#12690 Adds Unathi hissing sounds
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  html/changelogs/dekser-Unathisounds.yml
  sound/voice/Lizardhiss2.ogg
  sound/voice/lizardgrowl.ogg
Labels: Awaiting Merge

#12755 Whispering Refactor
  aurorastation.dme
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/mob/abstract/observer/say.dm
  code/modules/mob/language/language.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/human/whisper.dm
  code/modules/mob/living/carbon/slime/say.dm
  code/modules/mob/living/parasite/meme.dm
  code/modules/mob/living/parasite/meme_captive.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/whisper.dm
  code/modules/mob/say.dm
  code/modules/shareddream/brainghost.dm
  code/modules/spell_system/spells/spell_code.dm
  html/changelogs/geeves-borg_whispering.yml
Labels: Awaiting Merge

#12876 Fixes evac shuttles being called as transfer shuttles, fixes shuttle arrive time announcement.
  code/controllers/subsystems/evac.dm
  code/controllers/subsystems/evacuation/evacuation_shuttle.dm
  code/controllers/verbs.dm
  code/game/machinery/case_button.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  code/modules/shuttles/shuttle_emergency.dm
  html/changelogs/mattatlas-shuttlestuff.yml
  maps/aurora/code/aurora.dm
  maps/exodus/code/exodus.dm
  maps/runtime/code/runtime.dm
Labels: Awaiting Merge, Bugfix
