Repository Aurorastation/Aurora.3, pull requests merged in 2021-02, with the labels that each got.

#11095 Golden Apple and transmutation bugfix
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/doxxmedearly-material_declchem_fix.yml
Labels: Awaiting Merge, Bugfix

#10892 megaphone inhands and some cleanup
  code/defines/obj/weapon.dm
  code/game/machinery/autolathe_datums.dm
  code/game/machinery/vending.dm
  code/game/machinery/vending_items.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/secure_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/research/xenoarchaeology/misc.dm
  code/modules/vehicles/vehicle.dm
  html/changelogs/wezzy_megaphone_inhands.yml
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/lefthand_megaphone.dmi
  icons/mob/items/device/righthand_device.dmi
  icons/mob/items/device/righthand_megaphone.dmi
  icons/mob/items/lefthand_device.dmi
  icons/mob/items/righthand_device.dmi
  icons/mob/items_lefthand.dmi
  icons/mob/items_righthand.dmi
  icons/obj/device.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#10343 Weapon Analysis Printing
  code/game/objects/items.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/modular.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/modular/laser_base.dm
  code/modules/projectiles/projectile.dm
  code/modules/research/weaponsanalyzer.dm
  html/changelogs/geeves-print_report_wa.yml
  vueui/src/components/view/wanalyzer/analyzer.vue
Labels: Awaiting Merge, VueUi

#10885 Cremation animation + refactors and improvements
  code/_helpers/matrices.dm
  code/game/atoms.dm
  code/game/machinery/deployable.dm
  code/game/objects/effects/chem/foam.dm
  code/game/objects/items/airbubble.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/simple_doors.dm
  code/modules/global_listener/devices.dm
  code/modules/item_worth/worths_list.dm
  code/modules/organs/organ_external.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/wezzy_crema_morgue_update.yml
  icons/obj/stationobjs.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/templates/backup/syndicate_base.dmm
  maps/templates/syndicate_base.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#11099 Your are -> You are
  code/_onclick/hud/human.dm
  html/changelogs/listerla_your_are.yml
Labels: Awaiting Merge, Bugfix

#11107 Wrist fixes
  code/_onclick/hud/screen_objects.dm
  code/modules/assembly/mousetrap.dm
  html/changelogs/wezzy_wristfixes.yml
  icons/mob/screen/white.dmi
Labels: Bugfix, Review Required, Sprites

#11091 Removes the adult section of the library
  code/modules/library/lib_items.dm
  html/changelogs/Ferner-210129-mapping_adult.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11111 fixes fisanduhian ushanka and pda inhands
  code/modules/clothing/factions/dominia.dm
  code/modules/modular_computers/computers/subtypes/dev_pda.dm
  html/changelogs/wezzy_somebugfixes.yml
Labels: Awaiting Merge, Bugfix

#11110 Potential goonchat fix
  code/modules/goonchat/browserOutput.dm
  html/changelogs/Sindorman-goonchat.yml
Labels: Awaiting Merge, Bugfix, Test Merge Candidate

#11100 Raises the nicotine overdose threshold to 15 units.
  aurorastation.dme
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/alberyk-nicotine.yml
Labels: Awaiting Merge

#9825 Bluespace Items and Accent
  aurorastation.dme
  code/__defines/radio.dm
  code/controllers/subsystems/radio.dm
  code/controllers/subsystems/statistics.dm
  code/datums/outfits/outfit_antag.dm
  code/defines/procs/radio.dm
  code/game/antagonist/antagonist.dm
  code/game/antagonist/antagonist_create.dm
  code/game/antagonist/outsider/wizard.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/telecomms/broadcaster.dm
  code/game/objects/items/devices/radio/_radio_defines.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/modules/background/accent/misc.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/mob/living/carbon/slime/slime.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/friendly/slime.dm
  code/modules/mob/mob_helpers.dm
  code/stylesheet.dm
  html/changelogs/geeves-golem_stuff.yml
  icons/accent_tags.dmi
  icons/obj/card.dmi
  icons/obj/radio.dmi
  nano/templates/radio_basic.tmpl
Labels: Awaiting Merge, Sprites

#11122 Wristbound Cargo Fix
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/geeves-no_spooky_wristbound.yml
Labels: Awaiting Merge, Bugfix

#11123 Dead mobs no longer hold up the arrivals shuttle.
  code/modules/shuttles/shuttle_arrival.dm
  html/changelogs/mattatlas-carpociety.yml
Labels: Awaiting Merge, Bugfix

#9321 NTSL2++ sucessor to NTSL2+
  aurorastation.dme
  code/_helpers/maths.dm
  code/controllers/subsystems/processing/ntsl2.dm
  code/datums/radio/signal.dm
  code/game/machinery/telecomms/telecomunications.dm
  code/game/objects/items/weapons/manuals.dm
  code/modules/admin/verbs/ntsl.dm
  code/modules/integrated_electronics/subtypes/data_transfer.dm
  code/modules/modular_computers/file_system/programs/generic/ntsl2_interpreter.dm
  code/modules/modular_computers/file_system/programs/system/file_browser.dm
  code/modules/modular_computers/file_system/script.dm
  code/modules/ntsl2/guide.dm
  code/modules/ntsl2/ntsl2.dm
  code/modules/ntsl2/ntsl2_program.dm
  code/modules/ntsl2/ntsl2_types.dm
  code/modules/ntsl2/program.dm
  code/modules/ntsl2/telecomms.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/scripting/Implementations/Telecomms.dm
  code/modules/scripting/Implementations/_Logic.dm
  html/changelogs/alberyk-love.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/runtime/runtime-2.dmm
  nano/templates/file_manager.tmpl
  vueui/package.json
  vueui/src/components/view/console/atmocontrol/supermatter.vue
  vueui/src/components/view/console/atmocontrol/tank.vue
  vueui/src/components/view/devices/quikpay/main.vue
  vueui/src/components/view/mcomputer/ntsl/edit.vue
  vueui/src/components/view/mcomputer/ntsl/list.vue
  vueui/src/components/view/mcomputer/ntsl/main.vue
  vueui/src/components/view/mcomputer/ntsl/program.vue
  vueui/src/components/view/records/field.vue
  vueui/src/components/view/records/medical.vue
  vueui/src/components/view/records/security.vue
  vueui/src/components/vui/button.vue
  vueui/src/components/vui/input/numeric.vue
Labels: Mapping: Aurora, Mapping: Runtime, Review Required, VueUi

#11145 Fixes suitsensors not working
  code/game/machinery/telecomms/telecomunications.dm
  html/changelogs/skull132_fixsensors.yml
Labels: Awaiting Merge, Bugfix, High Priority

#11125 Doppler Fix
  code/game/machinery/doppler_array.dm
  html/changelogs/geeves-doppler_fix.yml
Labels: Awaiting Merge, Bugfix

#11130 wrist examine fix
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/wezzy_wristexaminefix.yml
Labels: Awaiting Merge, Bugfix

#11139 Fixes IDs not reading from wristbounds
  code/game/jobs/access.dm
  html/changelogs/wezzy_wristidfix.yml
Labels: Awaiting Merge, Bugfix

#11112 Some Odin tweaks
  html/changelogs/Ferner-210202-mapping_escortreadyroom.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11059 Custom rolls
  aurorastation.dme
  code/modules/reagents/reagent_containers/food/custom_rolls.dm
  code/modules/reagents/reagent_containers/food/sandwich.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/rolls.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#11128 Better Molotoovs
  code/modules/detectivework/tools/rag.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/geeves-better_molotoovs.yml
Labels: Awaiting Merge, Bugfix

#11114 Adds a freeze ray gun
  aurorastation.dme
  code/datums/trading/weaponry.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/modules/projectiles/guns/energy/freezeray.dm
  code/modules/projectiles/modular/laser_components.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/special.dm
  code/modules/research/designs/protolathe/modular_gun_designs.dm
  html/changelogs/alberyk-freeze.yml
  icons/obj/guns/freezeray.dmi
  icons/obj/projectiles.dmi
  icons/obj/statue.dmi
Labels: Awaiting Merge, Sprites

#11132 Smart Mob Grab Fix
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/geeves-hold_on.yml
Labels: Awaiting Merge, Bugfix

#11149 ACTUALLY fixes the Fisanduhian ushanka
  icons/mob/head.dmi
Labels: Awaiting Merge, Bugfix, Changelog Required, Sprites

#11082 Animal Renaming
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/npcs.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/constructs/constructs/cult_construct.dm
  code/modules/mob/living/simple_animal/familiars/familiars.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  code/modules/mob/living/simple_animal/friendly/ratking.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/hostile/commanded/bear_companion.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  code/modules/mob/living/simple_animal/hostile/commanded/ives.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/worm.dm
  html/changelogs/doxxmedearly - animal_rename.yml
Labels: Awaiting Merge

#11050 Belt colors
  aurorastation.dme
  code/__defines/items_clothing.dm
  code/__defines/mobs.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/loadout_belt.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/wezzy_belt_colors.yml
  icons/clothing/belts/fannypacks.dmi
  icons/mob/belt.dmi
  icons/obj/clothing/belts.dmi
Labels: Awaiting Merge, Sprites

#11137 New Dominian dresses and red cape update.
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/mattatlas-thiswasmoreworkthanbrainmed.yml
  icons/clothing/suits/capes/dominia_doublecape.dmi
  icons/clothing/suits/capes/dominia_red.dmi
  icons/clothing/under/uniforms/dominia_dresses.dmi
Labels: Awaiting Merge, Sprites

#11162 Belt Fix
  aurorastation.dme
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-belt_fix.yml
Labels: Bugfix, Review Required

#11148 Update TGS API to 6.0.2
  code/__defines/tgs.dm
  code/datums/helper_datums/getrev.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/undefs.dm
  code/world.dm
Labels: Awaiting Merge, Changelog Required

#11147 Add capability to toggle permission sync for specific users.
  code/modules/admin/admin_ranks.dm
  code/modules/http/forumuser_api.dm
Labels: Awaiting Merge, Changelog Required

#11136 Chem Dispenser Table Tweak
  code/modules/reagents/dispenser/dispenser_presets.dm
  html/changelogs/geeves-chem_dispenser_table.yml
Labels: Awaiting Merge

#11129 Cloth Bedsheets
  code/game/objects/structures/bedsheet_bin.dm
  html/changelogs/geeves-in_the_sheets.yml
Labels: Awaiting Merge

#11101 Kitchen Chem Heater
  html/changelogs/geeves-kitchen_chem_heater.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11133 Maglock Storage
  html/changelogs/geeves-maglock_storage.yml
  maps/aurora/aurora-3_sublevel.dmm
Labels: Mapping: Aurora, Review Required

#8328 Ports Bay Blob
  code/__defines/_layers.dm
  code/__defines/color.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/blob/blob.dm
  html/changelogs/geeves-blob_tweaks.yml
  icons/mob/npc/blob.dmi
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#11170 Fixes the sleeved Morozi dress not being in the loadout.
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  html/changelogs/mattatlas-schwannlikeshisnoblewomanwaifusabittoomuch.yml
Labels: Awaiting Merge, Bugfix

#11154 Greimorians - spider reflavor
  code/game/objects/effects/spiders.dm
  code/modules/events/infestation.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/kyres1-#11154.yml
  icons/effects/effects.dmi
  icons/mob/npc/animal.dmi
  icons/mob/npc/spider_queen.dmi
Labels: Awaiting Merge, Sprites

#11146 More Revenant Tweaks
  aurorastation.dme
  code/__defines/misc.dm
  code/game/antagonist/outsider/revenant.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/martial_arts/revenant.dm
  code/modules/mob/living/carbon/human/species/outsider/revenant.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/geeves-more_revenant_tweaks.yml
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11163 Oxygen Deprivation Kit In-Hand Fix
  html/changelogs/wickedcybs-oxykit.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11165 Tajara Flats & Bonus Xeno Boots
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/shoes/xeno/tajara.dm
  html/changelogs/wickedcybs_tajflats.yml
  icons/mob/species/tajaran/shoes.dmi
Labels: Awaiting Merge, Sprites

#11164 Thetamycin Tweaks
  code/game/machinery/body_scanner.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/organs/organ.dm
  code/modules/organs/organ_external.dm
  html/changelogs/doxxmedearly - theta_tweaks.yml
  vueui/src/components/view/medical/bodyscanner.vue
Labels: Awaiting Merge, VueUi

#11176 TTV Timer Fix
  code/game/objects/effects/spawners/bombspawner.dm
  code/game/objects/items/devices/transfer_valve.dm
  code/modules/assembly/infrared.dm
  code/modules/assembly/proximity.dm
  code/modules/assembly/signaler.dm
  code/modules/assembly/timer.dm
  html/changelogs/geeves-ttv_timer_fix.yml
Labels: Awaiting Merge, Bugfix

#11177 Megaphone Fix
  code/game/objects/items/devices/megaphone.dm
  html/changelogs/geeves-megaphone_fix.yml
  icons/mob/items/device/lefthand_megaphone.dmi
  icons/mob/items/device/righthand_megaphone.dmi
  icons/obj/contained_items/tools/megaphone.dmi
  icons/obj/device.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11109 Grab Shields
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/geeves-red_grab.yml
Labels: Awaiting Merge

#11103 Colourable Lighters for Loadout
  code/game/objects/items.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/loadout_smoking.dm
  code/modules/clothing/suits/overlay.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/colourlighter.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/mob/ties.dmi
  icons/obj/cigs_lighters.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Merge Conflict, Sprites

#11184 Fix psync disabled not working
  code/modules/http/forumuser_api.dm
  html/changelogs/skull132_fix-psync-disable.yml
Labels: Awaiting Merge, Bugfix

#11138 Pipegun
  code/modules/projectiles/guns/projectile/improvised.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/geeves-pipegun.yml
  icons/obj/guns/pipegun.dmi
Labels: Awaiting Merge, Sprites

#11141 Impact Drill Bits
  code/game/objects/items/weapons/tools.dm
  html/changelogs/geeves-wrench_sprite.yml
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#11127 Floodlight Stuff
  code/_helpers/maths.dm
  code/game/machinery/floodlight.dm
  html/changelogs/geeves-floodlight_qol.yml
Labels: Awaiting Merge

#11121 Research Shuttle RTG
  html/changelogs/geeves-research_rtg.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11116 Shredding Shields
  code/modules/shieldgen/energy_field.dm
  html/changelogs/geeves-shredding_shields.yml
Labels: Awaiting Merge

#11180 Removes Extra Radio
  code/game/machinery/telecomms/broadcaster.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#11035 VueUI game board.
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/games/boardgame.dm
  html/changelogs/vueui-chess.yml
  icons/obj/pieces.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  vueui/src/components/view/misc/boardgame.vue
Labels: Awaiting Merge, Mapping: Aurora, Sprites, VueUi

#11108 Not sure how to feel about this
  code/modules/admin/player_panel.dm
Labels: Awaiting Merge, Changelog Required

#11157 Resprites faction suits + 2 megacorp suits
  html/changelogs/kyres1-#11157.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/light_overlays.dmi
  icons/mob/rig_back.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/voidsuit/megacorp.dmi
  icons/obj/rig_modules.dmi
Labels: Awaiting Merge, Sprites

#11086 Super Dismemberment
  code/game/atoms.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/organ_external.dm
  html/changelogs/geeves-dismemberment.yml
Labels: Awaiting Merge

#11066 Makes \s be properly used.
  code/controllers/master/master.dm
  code/controllers/master/subsystem.dm
  code/controllers/subsystems/ticker.dm
  code/datums/discord/webhook.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/objects/items/glassjar.dm
  code/game/objects/items/paintkit.dm
  code/modules/admin/ipintel.dm
  code/modules/admin/verbs/warning.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
Labels: Awaiting Merge, Changelog Required

#11192 Chemistry Codex Fix
  html/changelogs/geeves-codex_fix_2.yml
  vueui/src/components/view/mcomputer/chemcodex.vue
Labels: Awaiting Merge, Bugfix, VueUi

#11142 Steel Carving
  code/modules/materials/material_recipes.dm
  code/modules/materials/material_sheets.dm
  html/changelogs/geeves-steel_wool.yml
Labels: Awaiting Merge

#11196 Fixes various items not initializing properly.
  code/game/objects/items/devices/magnetic_lock.dm
  code/game/objects/structures/weapon_rack.dm
  code/modules/clothing/wrists/wrists.dm
  code/modules/cooking/machinery/smartfridge.dm
  code/modules/mining/ore.dm
  code/modules/mob/living/bot/ed209bot.dm
Labels: Bugfix, Changelog Required, Review Required

#11191 Wristbound Fix
  code/modules/modular_computers/computers/subtypes/dev_wristbound.dm
  html/changelogs/geeves-wristbound_fix.yml
Labels: Awaiting Merge, Bugfix

#11160 Colourable Winter Coats
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/hoodies.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-winter_bloat.yml
  icons/obj/hoodies.dmi
Labels: Awaiting Merge, Sprites

#11159 Turbo Lift Gibbing
  code/modules/turbolift/turbolift.dm
  html/changelogs/geeves-turbo_lift_gibbing.yml
Labels: Awaiting Merge

#11143 Welding Kit Reagent Container
  aurorastation.dme
  code/game/objects/items/weapons/weldbackpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/item_worth/worths_list.dm
  code/modules/reagents/reagent_containers/welding_backpack.dm
  html/changelogs/geeves-weldpack_reagent.yml
  icons/mob/back.dmi
  icons/obj/contained_items/tools/welderpack.dmi
  icons/obj/storage.dmi
Labels: Awaiting Merge, Sprites

#11097 Add sftp-cache to drone
  .drone.yml
Labels: Awaiting Merge, Changelog Required

#11194 Fixes wizards being able to cast most spells while under incapacitation.
  code/modules/spell_system/spells/spell_code.dm
  html/changelogs/mattatlas-hatebugs.yml
Labels: Awaiting Merge, Bugfix

#11092 Makes dionae insulated against shocks
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/power/power.dm
  html/changelogs/yonnimer-insulated.yml
Labels: Awaiting Merge

#11076 Real Time
  code/__defines/lighting.dm
  code/_helpers/time.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/night_lighting.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/nano/modules/lighting_ctrl.dm
  config/example/config.txt
  html/changelogs/real time.yml
Labels: Awaiting Merge

#11213 Spider references in descriptions changed to greimorians.
  code/game/objects/effects/spiders.dm
  html/changelogs/wickedcybs_remainsfix.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/dungeon_spawns/sol_bunker_unique.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Aurora

#11214 fixes aurora map UTs
  maps/aurora/aurora-1_centcomm.dmm
Labels: Bugfix, Changelog Required, High Priority, Mapping: Aurora, Review Required

#11210 Grammar for Buckling
  code/game/objects/buckling.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/mob/living/carbon/resist.dm
  html/changelogs/grammar.yml
Labels: Awaiting Merge, Bugfix

#11217 CMO Headset Fix
  code/game/jobs/job/medical.dm
  html/changelogs/geeves-cmo_fix.yml
Labels: Awaiting Merge, Bugfix

#11223 Fixes vehicles not working
  code/game/objects/buckling.dm
  code/modules/vehicles/vehicle.dm
  html/changelogs/alberyk-fixbuckling.yml
Labels: Awaiting Merge, Bugfix

#11195 Makes the groin into a non-vital organ, changes to stance handling, bloody feet bugfix.
  code/modules/mob/living/carbon/brain/brain_item.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/internal/brain.dm
  code/modules/organs/subtypes/diona.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/organs/subtypes/standard.dm
  code/modules/organs/subtypes/xenos.dm
  html/changelogs/mattatlas-vitalgroin.yml
  icons/mob/human_races/masks/blood_breeder.dmi
  icons/mob/human_races/masks/blood_bug.dmi
  icons/mob/human_races/masks/blood_human.dmi
  icons/mob/human_races/masks/blood_monkey.dmi
Labels: Awaiting Merge, Sprites

#11226 Projectile Angles
  code/_helpers/maths.dm
  code/_helpers/unsorted.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/geeves-projectile_angles.yml
Labels: Awaiting Merge, Bugfix

#11233 Fixes BSTs spawning in with 100 health
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#11188 Shooting Lights
  code/modules/power/lights/fixtures.dm
  html/changelogs/geeves-shooting_lights.yml
Labels: Awaiting Merge

#11228 Three Towns Crush Fix
  html/changelogs/geeves-three_town_cider_crush.yml
  icons/obj/trash.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11216 Skrell Fixes
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/geeves-skrell_fixes.yml
Labels: Awaiting Merge, Bugfix

#11198 IAC Labcoat 3
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/William Murdoch - IAC Labcoat.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#11200 Update character deletion warning
  SQL/migrate/V063__char_delete_update.sql
  code/modules/client/preferences.dm
  html/changelogs/arrow768-char-warning.yml
Labels: Awaiting Merge, Do Not Merge

#11238 Pain Stored Removal
  code/modules/organs/pain.dm
Labels: Awaiting Merge, Bugfix, Changelog Required

#11215 Halves floor tile throw damage and throw range.
  code/game/objects/items/stacks/tiles/tile_types.dm
  html/changelogs/mattatlas-powergamersbegone.yml
Labels: Awaiting Merge

#11173 Fixes telescience portals
  code/modules/telesci/telesci_computer.dm
  html/changelogs/portals.yml
Labels: Awaiting Merge

#11229 Body bag Label Fix
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/label.yml
Labels: Awaiting Merge, Bugfix

#11205 Moves wielding firearms to attack_self, adds unique-action and toggle-firing-mode hotkeys.
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/gun_mode.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/custom_ka/core.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/energy/crank.dm
  code/modules/projectiles/guns/energy/lawgiver.dm
  code/modules/projectiles/guns/energy/magic.dm
  code/modules/projectiles/guns/energy/modular.dm
  code/modules/projectiles/guns/energy/rifle.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/guns/launcher/crossbow.dm
  code/modules/projectiles/guns/launcher/grenade_launcher.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/projectiles/guns/launcher/syringe_gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/dartgun.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  html/changelogs/mattatlas-coldanddamned.yml
  icons/mob/screen/generic.dmi
  icons/mob/screen/midnight.dmi
  icons/mob/screen/old.dmi
  icons/mob/screen/orange.dmi
  icons/mob/screen/white.dmi
Labels: Review Required, Sprites

#11232 Mining Drone Upgrade Fix
  code/modules/mining/minebot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/geeves-mining_drone_fix.yml
Labels: Awaiting Merge, Bugfix

#11234 Console AI Eject Fix
  code/modules/modular_computers/computers/modular_computer/core.dm
  html/changelogs/geeves-intellicard_console.yml
Labels: Awaiting Merge, Bugfix

#11219 Loner Changer
  html/changelogs/geeves-loner_changer.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11256 Renames toggle burst fire to the correct toggle firing mode.
  code/_onclick/hud/gun_mode.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/robot.dm
  code/modules/mob/mob_defines.dm
  html/changelogs/mattatlas-aaaaaa.yml
Labels: Awaiting Merge, Bugfix

#11221 Updates Emily Cress' custom item.
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/cress_items.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#11257 Circuit Imprinter Category Fix
  code/modules/research/rdconsole.dm
  html/changelogs/geeves-circuit_imprinter_category_fix.yml
Labels: Awaiting Merge, Bugfix

#11248 Canister Clamp Smash Fix
  code/game/machinery/atmoalter/canister.dm
  html/changelogs/geeves-canister_clamp_smash.yml
Labels: Awaiting Merge, Bugfix

#11247 Detatch Spellcheck
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  html/changelogs/geeves-detach.yml
Labels: Awaiting Merge, Bugfix

#11243 Buckled_to Fix
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/geeves-buckle_to_fix.yml
Labels: Awaiting Merge, Bugfix

#11220 Merchant Account
  code/controllers/subsystems/economy.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/outsider/merchant.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/command/account_database.dm
  html/changelogs/geeves-merchant_account.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#11224 Toeless Boot Changes for Tajara
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/wickedcybs_bootstajara.yml
  icons/mob/species/tajaran/shoes.dmi
Labels: Awaiting Merge, Sprites

#11230 Adds plate carriers, restyles all current station armor to plate carriers, turns arm guards and leg guards into accessories.
  aurorastation.dme
  code/__defines/accessories.dm
  code/datums/outfits/outfit_antag.dm
  code/datums/trading/weaponry.dm
  code/game/gamemodes/objective.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/awaymissions/corpse.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/gloves/arm_guard.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/shoes/leg_guard.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/suits/storage.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/item_worth/worths_list.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/random_map/drop/drop_types.dm
  html/changelogs/mattatlas-blowmeaway.yml
  icons/clothing/kit/heavy_armor.dmi
  icons/clothing/kit/modular_armor.dmi
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus, Sprites

#11265 Tesla Leg Prosthetic Fixening
  html/changelogs/wickedcybs_teslafix.yml
  icons/mob/human_races/tajara/tesla_limbs.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11273 Fixes ablative armor siemens + ballistic arm guard sprite.
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/armor.dm
  html/changelogs/mattatlas-ohfuck.yml
Labels: Awaiting Merge, Bugfix

#11209 Unapologetic Gumball Jar Buffs
  code/game/objects/items/glassjar.dm
  html/changelogs/geeves-gumball_buffs.yml
Labels: Awaiting Merge

#11204 Resprites/restricts ERT hardsuits+combat hardsuit
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/ghostroles/spawner/human/responseteams/nt_ert.dm
  html/changelogs/kyres1-#11204.yml
  icons/mob/feet.dmi
  icons/mob/hands.dmi
  icons/mob/head.dmi
  icons/mob/rig_back.dmi
  icons/mob/species/machine/gloves.dmi
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/shoes.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/tajaran/gloves.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/shoes.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/mob/species/unathi/gloves.dmi
  icons/mob/species/unathi/helmet.dmi
  icons/mob/species/unathi/shoes.dmi
  icons/mob/species/unathi/suit.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/rig_modules.dmi
  maps/exodus/exodus-2_centcomm.dmm
Labels: Awaiting Merge, Mapping: Exodus, Sprites

#11275 Exosuit Override Fix
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-mecha_leader_fix.yml
Labels: Awaiting Merge, Bugfix

#11266 Noose Fixes
  code/modules/power/cable.dm
  html/changelogs/geeves-noose_stuff.yml
Labels: Awaiting Merge, Bugfix

#11280 Tajara Bangs Alt Fix
  html/changelogs/example - Copy.yml
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11218 Xenoarch Fossil Finder
  code/modules/mining/ore_detector.dm
  code/modules/research/xenoarchaeology/misc.dm
  html/changelogs/geeves-xenoarch_fossil_finder.yml
Labels: Awaiting Merge

#11235 Rescue RIG's Mortaphenyl Swapped for Perconol
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  html/changelogs/wickedcybs_injector.yml
Labels: Awaiting Merge

#11250 Hardsuit Toggling Tweak
  code/modules/clothing/spacesuits/rig/rig_verbs.dm
  html/changelogs/geeves-hardsuit_toggling.yml
Labels: Awaiting Merge

#11255 Adrenaline generation cap, tear gas buff, stun baton pain adjustment.
  code/game/objects/items/weapons/stunbaton.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob_helpers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/mattatlas-teargasfix.yml
Labels: Awaiting Merge

#10937 Command Headset Tweak
  code/game/objects/items/devices/radio/encryptionkey.dm
  html/changelogs/geeves-captain_radio.yml
Labels: Awaiting Merge

#11269 Various Exosuit Fixes
  code/modules/heavy_vehicle/mech_helpers.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-mecha_animation_fix.yml
Labels: Awaiting Merge, Bugfix

#11258 Exosuit Closed HUD Fix
  code/modules/heavy_vehicle/interface/screen_objects.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-mecha_weirdness.yml
Labels: Awaiting Merge, Bugfix

#11254 Auto Local Admin
  code/controllers/configuration.dm
  code/modules/client/client procs.dm
  config/example/config.txt
Labels: Awaiting Merge, Changelog Required

#11261 Mech Fab Things
  code/game/machinery/mecha_fabricator.dm
  html/changelogs/geeves-mech_fab_fixes.yml
Labels: Awaiting Merge

#11263 Reduces the damage of medium bullets
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/alberyk-bulletnerf.yml
Labels: Awaiting Merge

#11113 Adds a couple of new gun sprites
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/rifle.dm
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/alberyk-gunsprites.yml
  icons/obj/guns/autorevolver.dmi
  icons/obj/guns/blaster_carbine.dmi
  icons/obj/guns/blaster_pistol.dmi
  icons/obj/guns/blaster_revolver.dmi
  icons/obj/guns/blaster_rifle.dmi
  icons/obj/guns/detective.dmi
  icons/obj/guns/disruptorpistol/disruptorpistolc.dmi
  icons/obj/guns/disruptorpistol/disruptorpistolm.dmi
  icons/obj/guns/disruptorpistol/disruptorpistols.dmi
  icons/obj/guns/dragunov.dmi
  icons/obj/guns/ecarbine.dmi
  icons/obj/guns/gauss_thumper.dmi
  icons/obj/guns/ionrifle.dmi
  icons/obj/guns/laserrifle.dmi
  icons/obj/guns/lemat.dmi
  icons/obj/guns/mini-uzi.dmi
  icons/obj/guns/moistnugget.dmi
  icons/obj/guns/obrez.dmi
  icons/obj/guns/pockrifle.dmi
  icons/obj/guns/revolver.dmi
  icons/obj/guns/secgun.dmi
  icons/obj/guns/secgun_wood.dmi
  icons/obj/guns/shotgun.dmi
  icons/obj/guns/tommygun.dmi
  icons/obj/guns/xray.dmi
  icons/obj/guns/xrifle.dmi
Labels: Review Required, Sprites

#11270 Exosuit Cleaner
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/geeves-mecha_cleaner.yml
Labels: Awaiting Merge

#11271 Exosuit Equipment Examine
  code/modules/heavy_vehicle/equipment/_equipment.dm
  html/changelogs/geeves-mecha_equipment_examine.yml
Labels: Awaiting Merge

#11272 Tweaks Some Tajara Armours and Refluffs Amohdan Gear
  code/datums/trading/misc.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/suits/xeno/tajara.dm
  html/changelogs/wickedcybs_amohdaa.yml
Labels: Awaiting Merge

#11298 Fixes a few bugs with armor, RIGs and fixes dreamchecker.
  code/__defines/accessories.dm
  code/game/objects/items/weapons/RFD.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/silicon.dm
  html/changelogs/mattatlas-notactuallytrue.yml
  icons/clothing/kit/modular_armor.dmi
Labels: Awaiting Merge, Bugfix, Sprites

#11297 Exosuit Listen Fix
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-come_here_pogmobile.yml
Labels: Awaiting Merge, Bugfix

#11260 Exosuit Part Examine Tweak
  code/modules/heavy_vehicle/components/_components.dm
  code/modules/heavy_vehicle/components/armor.dm
  code/modules/heavy_vehicle/components/arms.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/components/frame.dm
  code/modules/heavy_vehicle/components/head.dm
  code/modules/heavy_vehicle/components/legs.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuits.dm
  html/changelogs/geeves-exosuit_part_examine_tweak.yml
Labels: Awaiting Merge

#11231 Plasma Cutter Improvements
  code/game/machinery/constructable_frame.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/structures/girders.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/mining/mine_turfs.dm
  code/modules/projectiles/guns/energy/mining.dm
  html/changelogs/geeves-plasma_cutter_improvements.yml
Labels: Awaiting Merge

#11300 fixes most accessories being unwearable on plate carriers
  code/__defines/accessories.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/mattatlas-thanksme.yml
Labels: Awaiting Merge, Bugfix

#11131 EMP Spider
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  html/changelogs/geeves-spider_bite.yml
  icons/mob/npc/animal.dmi
  icons/mob/npc/greimorian.dmi
Labels: Awaiting Merge, Sprites

#11262 Click Suit Storage
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/geeves-click_suit_storage.yml
Labels: Awaiting Merge

#11279 Removes the dominate vampire power
  code/game/gamemodes/vampire/modular_vampire.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/alberyk-nomoredominate.yml
Labels: Awaiting Merge

#11285 Plant Buckle Fix
  code/modules/hydroponics/spreading/spreading.dm
  html/changelogs/geeves-vine_buckle_fix.yml
Labels: Awaiting Merge, Bugfix

#11278 Adds the medical chest rig and first responder vests to the loadout
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  html/changelogs/thedococt - medrigs.yml
Labels: Awaiting Merge

#11311 Stamina Full
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/geeves-stamina_full.yml
Labels: Awaiting Merge, Bugfix

#11313 Stasis Fix
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/geeves-stasis_check.yml
Labels: Awaiting Merge, Bugfix

#11267 Mecha Combat Repath
  code/datums/uplink/exosuit_equipment.dm
  code/modules/heavy_vehicle/_mech_setup.dm
  code/modules/heavy_vehicle/components/software.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/military.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/item_worth/worths_list.dm
  code/modules/research/designs/circuit/exosuit_circuits.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/geeves-mecha_combat_repath.yml
Labels: Awaiting Merge

#11296 Bishop/Shell Prosthetics
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/geeves-bishop_shell_prosthetics.yml
Labels: Awaiting Merge, Lore Impact

#11284 Diona Roast Tweak
  code/modules/cooking/recipes/cultural/recipes_dionae.dm
  code/modules/cooking/recipes/recipes_baked.dm
  html/changelogs/geeves-diona_foods.yml
Labels: Awaiting Merge

#11253 Mech Fab Access Feedback
  code/game/machinery/mecha_fabricator.dm
  html/changelogs/geeves-mech_fab_access.yml
Labels: Awaiting Merge

#11251 Chemical Burn Damage Cap Tweak
  code/modules/reagents/Chemistry-Holder.dm
  html/changelogs/geeves-no_hand_cannon.yml
Labels: Awaiting Merge

#11245 Window Vote Flash
  code/_helpers/game.dm
  code/controllers/subsystems/vote.dm
  html/changelogs/geeves-window_flash.yml
Labels: Awaiting Merge

#11240 Sofa
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/geeves-sofa.yml
  icons/obj/furniture.dmi
Labels: Awaiting Merge, Sprites

#11206 Diona Flooring
  code/__defines/turfs.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/game/turfs/simulated/floor_types.dm
  html/changelogs/geeves-diona_flooring.yml
Labels: Awaiting Merge

#11302 Various Tank Fixes
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  html/changelogs/geeves-emergency_tank_fix.yml
  icons/mob/items/lefthand_tank.dmi
  icons/mob/items/righthand_tank.dmi
  icons/obj/tank.dmi
Labels: Awaiting Merge, Bugfix, Sprites
