Repository Aurorastation/Aurora.3, pull requests merged in 2021-10, with the labels that each got.

#12501 Preparation for faction departments
  aurorastation.dme
  code/__defines/jobs.dm
  code/game/jobs/faction/faction.dm
  html/changelogs/DepartmentFactions.yml
Labels: Awaiting Merge, NBT

#12558 Adds Vaurca filter ports to antag spawns
  html/changelogs/desven-antagfilters.yml
  maps/aurora/aurora-1_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12477 Roundstart smes tweak
  code/modules/power/smes_construction.dm
  html/changelogs/alberyk_smestweak.yml
Labels: Awaiting Merge

#12561 Recolors the coffee and tea bags
  html/changelogs/desven-coffeerecolor.yml
  icons/obj/food.dmi
Labels: Review Required, Sprites

#12570 fixes securitron crafting
  code/modules/mob/living/bot/secbot.dm
  html/changelogs/SecuritronFix.yml
Labels: Awaiting Merge, Bugfix

#12569 Lets medical records edit physical & mental status
  html/changelogs/MedRecordFix.yml
  vueui/src/components/view/records/general.vue
Labels: Awaiting Merge, VueUi, Bugfix

#12565 Preparations for Vaurca events
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/vaurca.dm
  code/modules/clothing/suits/xeno/vaurca.dm
  html/changelogs/desven-vaurcaevent.yml
  icons/mob/species/breeder/back.dmi
  icons/mob/species/breeder/head.dmi
  icons/mob/species/breeder/inventory.dmi
  icons/mob/species/breeder/shoes.dmi
  icons/mob/species/breeder/suit.dmi
Labels: Awaiting Merge, Sprites

#12552 Fixes the autoinjector in-hand sprites not matching
  html/changelogs/desven-autoinjectorspritefix.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12545 Recolourable Sneakers and Oxfords
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/wickedcybs_shoes.yml
  icons/mob/feet.dmi
  icons/mob/items/clothing/lefthand_shoes.dmi
  icons/mob/items/clothing/righthand_shoes.dmi
  icons/obj/clothing/shoes.dmi
Labels: Awaiting Merge, Sprites

#12534 Changes Captain's and HoP's pcarrier to match their helmets.
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/nerocavalier-hopcaparmor.yml
Labels: Awaiting Merge

#12557 Clears up the bar clutter
  html/changelogs/desven-barcleaned.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12574 fixes autopsy scanners only working on harm intent
  code/modules/surgery/surgery.dm
  html/changelogs/AutopsyFix.yml
Labels: Awaiting Merge, Bugfix

#12571 New skrell emotes
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  html/changelogs/skrellemotes.yml
  sound/voice/croak.ogg
  sound/voice/croon1.ogg
  sound/voice/croon2.ogg
  sound/voice/low warble.ogg
Labels: Awaiting Merge

#12503 Sprite Generation Tweak
  code/__defines/species.dm
  code/game/jobs/faction/eridani.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/nanotrasen.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/assistant.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/merchant.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/objects/items/items_icon.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/shoes/vaurca.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/shirts.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/modular_computers/computers/subtypes/dev_handheld.dm
  html/changelogs/geeves-hench_bug.yml
  icons/mob/OnFire_bulwark.dmi
  icons/mob/card.dmi
  icons/mob/human_face/eyes48x48.dmi
  icons/mob/human_races/masks/blood_bulwark.dmi
  icons/mob/human_races/masks/dam_bulwark.dmi
  icons/mob/human_races/masks/dam_mask_bulwark.dmi
  icons/mob/human_races/vaurca/r_vaurcae.dmi
  icons/mob/species/bulwark/accessories.dmi
  icons/mob/species/bulwark/back.dmi
  icons/mob/species/bulwark/shoes.dmi
  icons/mob/species/bulwark/suit.dmi
  icons/mob/species/bulwark/uniform.dmi
Labels: Awaiting Merge, Sprites

#12580 Fixes several taj clothes giving overheating messages
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  html/changelogs/HeatFix.yml
Labels: Awaiting Merge, Bugfix

#12697 Diona bald fix
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/alberyk-baldionae.yml
Labels: Awaiting Merge, Bugfix

#12701 fixes classic satchel not being selectable
  code/modules/client/preferences.dm
  html/changelogs/SatchelFix.yml
Labels: Awaiting Merge, Bugfix

#12640 Storage Opening
  code/_onclick/click.dm
  code/game/atoms.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/clothing.dm
  html/changelogs/geeves-storage_opening.yml
Labels: Awaiting Merge

#12687 Even more Bulwark sprites and fixes
  aurorastation.dme
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/client/preference_setup/loadout/loadout_xeno.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/ears/bulwark.dm
  code/modules/clothing/ears/earrings.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/shoes/jobs.dm
  code/modules/clothing/suits/xeno/vaurca.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/desven-morebully.yml
  icons/mob/species/bulwark/augments_external.dmi
  icons/mob/species/bulwark/back.dmi
  icons/mob/species/bulwark/eyes.dmi
  icons/mob/species/bulwark/head.dmi
  icons/mob/species/bulwark/horns.dmi
  icons/mob/species/bulwark/suit.dmi
  icons/mob/species/bulwark/uniform.dmi
  icons/mob/species/vaurca/back.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#12688 Gives rechargers a glow up
  html/changelogs/desven-rechargerglow.yml
  icons/obj/stationobjs.dmi
Labels: Awaiting Merge, Sprites

#12507 Pipegun Buff Again
  code/__defines/items_clothing.dm
  code/game/objects/items.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/geeves-pipegun_buff_again.yml
  icons/obj/ammo.dmi
Labels: Awaiting Merge, Sprites

#12581 Ports overmap hazards
  .drone.yml
  .travis.yml
  aurorastation.dme
  code/__defines/lists.dm
  code/__defines/space_sectors.dm
  code/_helpers/functional.dm
  code/controllers/subsystems/event.dm
  code/game/gamemodes/events/dust.dm
  code/game/gamemodes/meteor/meteor.dm
  code/game/gamemodes/meteor/meteors.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/events/carp_migration.dm
  code/modules/events/dust.dm
  code/modules/events/event_container.dm
  code/modules/events/grid_check.dm
  code/modules/events/meteors.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/rogue_drones.dm
  code/modules/events/wallrot.dm
  code/modules/overmap/_defines.dm
  code/modules/overmap/events/event.dm
  icons/obj/overmap.dmi
  icons/turf/space.dmi
  maps/_common/mapsystem/map.dm
  maps/aurora/code/aurora.dm
  maps/exodus/code/exodus.dm
  maps/runtime/code/runtime.dm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-3.dmm
Labels: Awaiting Merge, Changelog Required, Sprites, Mapping: Runtime, NBT
