Repository Aurorastation/Aurora.3, pull requests merged in 2022-09, with the labels that each got.

#14734 Changes Jargon to Nralakk
  aurorastation.dme
  code/_helpers/text.dm
  code/game/objects/items/skrell.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/signs.dm
  code/modules/background/accent/skrell.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/citizenship/vaurca.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/diona/biesel.dm
  code/modules/background/origins/origins/diona/coalition.dm
  code/modules/background/origins/origins/diona/deep_space.dm
  code/modules/background/origins/origins/diona/eridani.dm
  code/modules/background/origins/origins/diona/eum.dm
  code/modules/background/origins/origins/diona/jargon.dm
  code/modules/background/origins/origins/diona/narrows.dm
  code/modules/background/origins/origins/diona/nralakk.dm
  code/modules/background/origins/origins/diona/sol.dm
  code/modules/background/origins/origins/diona/xrim.dm
  code/modules/background/origins/origins/skrell/jargon.dm
  code/modules/background/origins/origins/skrell/non_federation.dm
  code/modules/background/origins/origins/skrell/nralakk.dm
  code/modules/background/origins/origins/vaurca/breeder/cthur.dm
  code/modules/background/origins/origins/vaurca/cthur.dm
  code/modules/background/religion/diona.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/factions/nralakk.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/xenos/vaurca.dm
  code/modules/clothing/shoes/xeno/vaurca.dm
  code/modules/clothing/spacesuits/rig/modules/ninja.dm
  code/modules/clothing/spacesuits/rig/suits/skrell.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/suits/xeno/vaurca.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/xeno/skrell.dm
  code/modules/clothing/under/xenos/skrell.dm
  code/modules/customitems/item_defines.dm
  code/modules/games/tarot.dm
  code/modules/hydroponics/seed_datums/nralakk.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/psionics/events/_psi.dm
  code/modules/psionics/events/mini_spasm.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/glass/coffeecup.dm
  html/changelogs/jargon_to_nralakk.yml
Labels: Awaiting Merge

#14736 Reworks Thetamycin's Vomiting Effect Into an Overdose Effect
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/Sheeplets.yml
Labels: Awaiting Merge

#14765 Fix event map role restrictions
  code/game/jobs/faction/faction.dm
  html/changelogs/johnwildkins-fixeventroles.yml
Labels: Awaiting Merge, Bugfix

#14759 Fixes Diona nymphs producing the wrong meat when butchered
  code/game/objects/structures/kitchen_spike.dm
  code/modules/cooking/machinery/gibber.dm
  code/modules/mob/living/carbon/alien/alien.dm
  html/changelogs/omicega-dionafixfgdgfdfgdf.yml
Labels: Awaiting Merge, Bugfix

#14748 Adds Antillean dresses to the loadout
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/factions/portantillia.dm
  html/changelogs/atteria-antillean-dress.yml
  icons/clothing/under/uniforms/port_antillia.dmi
Labels: Awaiting Merge, Sprites

#14581 Some Corporate Liaison alt titles
  code/game/jobs/job/outsider/representative.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  html/changelogs/wezzy_liaisonalttitles.yml
Labels: Awaiting Merge

#14517 Adds the Ti'Rakqi Freighter
  aurorastation.dme
  code/game/jobs/access_datum.dm
  code/modules/background/origins/origins/diona/coalition.dm
  html/changelogs/alberyk-skrellship.yml
  maps/away/ships/biesel.dm
  maps/away/ships/corporate.dm
  maps/away/ships/elyra.dm
  maps/away/ships/sol.dm
  maps/away/ships/tirakqi_freighter.dm
  maps/away/ships/tirakqi_freighter.dmm
  maps/away/ships/tirakqi_freighter_ghostroles.dm
  maps/away/ships/wildcard.dm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
Labels: Awaiting Merge

#14758 Fixes the access requirement for Pun Pun's pen.
  html/changelogs/omicega-punpunbugfix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14767 Coffee machines in XO's and Liasion's offices are no longer empty
  html/changelogs/DreamySkrell.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#14751 Minor HRA Code Fixes
  code/game/jobs/faction/admin.dm
  code/game/jobs/faction/faction.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/clothing/factions/scc.dm
  html/changelogs/hra_fixes.yml
Labels: Awaiting Merge, Bugfix

#14773 Fixes Jargon Paths
  html/changelogs/nralakk_fix.yml
  maps/away/ships/tirakqi_freighter.dmm
  maps/dungeon_spawns/skrell_crash_unique.dmm
Labels: Awaiting Merge, Bugfix

#14490 Adds some Skrell weapons/armour/uniforms for the Skrell team.
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/swords_axes_etc.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/suits/skrell.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/xenos/skrell.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/guns/energy/rifle.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/mattatlas-skrellstuff.yml
  icons/clothing/kit/skrell_armor.dmi
  icons/clothing/rig/tup.dmi
  icons/mob/light_overlays.dmi
  icons/obj/contained_items/skrell/skrell_weaponry.dmi
Labels: Awaiting Merge, Sprites

#14777 Removes leftover mentions of the Icarus.
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  code/modules/events/carp_migration.dm
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  html/changelogs/mattatlas-ndvicarus.yml
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
Labels: Awaiting Merge, Bugfix

#14782 Adds Missing Fire Shutters
  html/changelogs/wickedcybs_shutter.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14779 Fixes MREs not spawning in the emergency rations crate
  code/game/objects/structures/crates_lockers/crates.dm
  html/changelogs/DreamySkrell.yml
Labels: Awaiting Merge, Bugfix

#14772 Xenoarcheologist Hard Hat and Mining Overalls
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/research/xenoarchaeology/misc.dm
  html/changelogs/hard_hatting.yml
Labels: Awaiting Merge

#14769 respitory -> respiratory
  code/game/objects/items/devices/scanners.dm
  html/changelogs/respitory.yml
Labels: Awaiting Merge, Bugfix

#14768 Makes the default hijab the white hijab
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/hijab.yml
Labels: Awaiting Merge, Bugfix

#14762 Xenoarch belt buff
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/research/xenoarchaeology/tools/gearbelt.dm
  html/changelogs/miningbelts.yml
Labels: Awaiting Merge

#14761 Adds an Alternative Sweater
  code/game/objects/items/knitting.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/accessories/shirts.dm
  code/modules/clothing/under/shorts.dm
  html/changelogs/alt_sweater.yml
  icons/contained_items/clothing/bottomwear/flared_pants.dmi
  icons/contained_items/clothing/headwear/flat_cap.dmi
  icons/contained_items/clothing/topwear/halter_top.dmi
  icons/contained_items/clothing/topwear/sweaters.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#14755 Resomi Scrubbin'
  code/modules/mob/holder.dm
  html/changelogs/wezzy_resomiscrubbin.yml
  icons/mob/holder_complex.dmi
Labels: Awaiting Merge, Sprites

#14749 Openable Long Labcoats
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/niennab-openable-long-labcoats.yml
  icons/mob/clothing/suit/labcoat.dmi
Labels: Awaiting Merge, Sprites

#14771 Splits the generic Frontiersfolk accent into generic Coalition and Xanu Prime accents
  code/modules/background/accent/human.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/ipc/coalition.dm
  code/modules/background/origins/origins/ipc/megacorporate.dm
  code/modules/mob/living/silicon/silicon.dm
  html/changelogs/omicega-fdsfsdfiomsdfiosfaaa.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#14763 Adds Machinist's Lockers
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/mining/mine_items.dm
  html/changelogs/machinist_locker.yml
  icons/obj/closet.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/away/generic/racers.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#14780 Adds Teleporter Access to Command + Bridge Crew
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/security.dm
  html/changelogs/wickedcybs_teleporter.yml
Labels: Awaiting Merge

#14783 adds a pixel to the hijab
  html/changelogs/hijabsprite.yml
  icons/obj/clothing/hijabs.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14775 Himean loadout changes
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_utility.dm
  html/changelogs/himean.yml
Labels: Awaiting Merge, Bugfix

#14774 Implements Granodd's resprites for the Dominian voidsuit and RIG, also adds an Unathi version of each
  code/datums/uplink/gear loadout.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/omicega-granodddominiastuff.yml
  icons/clothing/rig/dominia.dmi
  icons/clothing/rig/jinxiang.dmi
  icons/obj/clothing/voidsuit/dominia.dmi
Labels: Awaiting Merge, Sprites

#14716 Further Ambience Tweaks
  SQL/migrate/V073__sfx_pref_cleanup.sql
  code/__defines/misc.dm
  code/controllers/subsystems/vote.dm
  code/defines/procs/announce.dm
  code/game/area/areas.dm
  code/game/machinery/jukebox.dm
  code/game/sound.dm
  code/modules/client/preference_setup/global/02_settings.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_ambience.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/maps/planet_types/grass.dm
  html/changelogs/further_ambience_tweaks.yml
  maps/_common/areas/asteroid_areas.dm
Labels: Awaiting Merge

#14799 Intrepid Power Line Fix
  html/changelogs/wickedcybs_intrepid.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#14738 Lizard Knights in Space - Unathi Kataphract Chapter ship
  aurorastation.dme
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/power/smes_construction.dm
  html/changelogs/wickedcybs_kataphract.yml
  maps/_common/areas/special.dm
  maps/away/generic/tajara_safehouse.dmm
  maps/away/ships/ee_spy_ship.dmm
  maps/away/ships/elyran_strike_craft.dmm
  maps/away/ships/fsf_patrol_ship.dmm
  maps/away/ships/kataphracts/kataphract_areas.dm
  maps/away/ships/kataphracts/kataphract_ship.dm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
  maps/away/ships/militia_ship.dmm
  maps/away/ships/orion_express_ship.dmm
  maps/away/ships/sfa_patrol_ship.dmm
  maps/away/ships/tcfl_peacekeeper_ship.dmm
  maps/away/ships/tirakqi_freighter.dmm
  maps/away/ships/tramp_freighter.dmm
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14795 Fixes D1 starboard maintenance sharing an area with D1 port maintenance.
  html/changelogs/omicega-fdsfdsfimdsfiosdrew.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#14789 Dionae loadout fix
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  html/changelogs/Yonnimer-Dionae_loadoutfixes.yml
Labels: Awaiting Merge, Bugfix

#14790 Ti'Rakqi freighter fixes, tweaks, and additions
  code/game/objects/random/random.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/DreamySkrell.yml
  maps/away/ships/tirakqi_freighter.dm
  maps/away/ships/tirakqi_freighter.dmm
  maps/away/ships/tirakqi_freighter_ghostroles.dm
Labels: Awaiting Merge, Bugfix

#14804 More Dionae loadout fixes
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  html/changelogs/Yonnimer-loadoutfix.yml
Labels: Awaiting Merge, Bugfix

#14770 Adds prescription safety goggles/glasses
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/sapphicoverload-safetygoggles.yml
Labels: Awaiting Merge

#14807 Kata Ship Metal Foam Fix
  html/changelogs/wickedcybs_katafix.yml
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, Bugfix

#14791 Ti'Rakqi freighter, random default/unmodified skrell
  html/changelogs/DreamySkrell.yml
  maps/away/ships/tirakqi_freighter_ghostroles.dm
Labels: Awaiting Merge

#14787 Ports GPS sprites
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/research/xenoarchaeology/misc.dm
  code/modules/telesci/gps.dm
  html/changelogs/gps.yml
  icons/obj/telescience.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites

#14786 Moves short reef headtail ties down one pixel
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/shortreef.yml
  icons/obj/contained_items/skrell/scrunchies.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14814 Fixes bullets delimbing instead of gibbing and lasers being unable to delimb.
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-gibs.yml
Labels: Awaiting Merge, Bugfix

#14809 Adds the San Colette accent tag
  code/modules/background/accent/human.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/human/sol.dm
  html/changelogs/omicega-fdsfsdfdsfrew894583543.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#14823 Fixes mobs being unable to hear from inside machines or objects.
  code/__defines/_macros.dm
  code/__defines/dview.dm
  code/controllers/subsystems/garbage-debug.dm
  code/game/atoms_movable.dm
  code/game/objects/effects/landmarks.dm
  code/global.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/abstract/virtual/helpers.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/modular_computers/file_system/programs/generic/signaler.dm
  code/modules/world_api/commands/server_query.dm
  code/unit_tests/observation_tests.dm
  html/changelogs/mattatlas-repent.yml
Labels: Awaiting Merge, Bugfix

#14820 Kata Shuttle Fixes
  code/modules/power/smes_construction.dm
  html/changelogs/wickedcybs_shuttlefix.yml
  maps/away/ships/kataphracts/kataphract_ship.dm
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, Bugfix

#14802 Fixes Some Bugs and Oversights in Engineering
  code/game/machinery/spaceheater.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  html/changelogs/engineering_bugfixes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14828 Fiixes the follow menu having 100 ghost mobs.
  code/modules/mob/abstract/virtual/base.dm
  code/modules/mob/mob.dm
  html/changelogs/matt-aaaa.yml
Labels: Awaiting Merge, Bugfix

#14811 Buffs plasma projectiles.
  code/modules/projectiles/projectile/special.dm
  html/changelogs/mattatlas-plasmabuffs.yml
Labels: Awaiting Merge

#14781 command support
  code/__defines/subsystem-defines.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/hra.dm
  code/game/jobs/job/outsider/representative.dm
  html/changelogs/greenjoe_command-support.yml
Labels: Awaiting Merge

#14813 Buffs combat hardsuits' armor values to match crimson hardsuit armor.
  code/__defines/armor.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/mattatlas-hardsuits.yml
Labels: Awaiting Merge

#14757 Moves the TEG power wire in the supermatter room so it doesn't cover an emergency cooling valve indicator
  html/changelogs/omicega-dasfsfdsfsdfrwowowoa.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14829 Fixes being able to use binoculars while looking up or down.
  code/game/objects/items.dm
  code/game/objects/items/devices/binoculars.dm
  html/changelogs/mattatlas-exploit.yml
Labels: Awaiting Merge, Bugfix

#14832 Fixes Some Manifest Oversights
  code/__defines/jobs.dm
  code/game/jobs/jobs.dm
  code/modules/admin/banjob.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/world_api/commands/server_query.dm
  html/changelogs/command_support_fix.yml
  nano/templates/identification_computer.tmpl
  vueui/src/assets/departmental.scss
Labels: Awaiting Merge, VueUi, Bugfix

#14819 Long-Range Holopads on Connected Z-Levels Can Call Each Other
  code/game/machinery/hologram.dm
  html/changelogs/wickedcybs_longrange.yml
Labels: Awaiting Merge

#14841 Fixes Independent Representatives
  code/__defines/jobs.dm
  html/changelogs/job_defines_fix.yml
Labels: Awaiting Merge, Bugfix

#14839 Bobcurl fix
  html/changelogs/bobcurlfix.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14838 am exosuit -> an exosuit
  code/modules/heavy_vehicle/components/frame.dm
  html/changelogs/amexosuit.yml
Labels: Awaiting Merge, Bugfix

#14801 Adds alternate bridge crew uniforms.
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/stryker-bridgecrew.yml
  icons/contained_items/clothing/bottomwear/bridge_crew_alt.dmi
  icons/contained_items/clothing/bottomwear/bridge_crew_sancol.dmi
  icons/contained_items/clothing/hats/bridge_crew_cap_alt.dmi
  icons/contained_items/clothing/topwear/bridge_crew_jacket_sancol.dmi
Labels: Awaiting Merge, Sprites

#14847 Fixes security duffel bags missing an inhand sprite
  html/changelogs/omicega-duffelbagsprite.yml
  icons/obj/storage/duffelbag.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14753 Adds an Idris Stargazer event map
  aurorastation.dme
  code/__defines/space_sectors.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/modules/background/space_sectors/badlands.dm
  code/modules/background/space_sectors/generic_sectors.dm
  html/changelogs/kyres1- #14753.yml
  icons/effects/160x160.dmi
  icons/effects/32x96.dmi
  icons/effects/ship_idris_cruise.dmi
  icons/misc/titlescreens/idris_cruise/idris_cruise.dmi
  icons/obj/machines/stargazer.dmi
  icons/skybox/skybox.dmi
  icons/turf/smooth/idris_ship.dmi
  icons/turf/total_floors.dmi
  maps/event/idris_cruise/code/idris_cruise.dm
  maps/event/idris_cruise/code/idris_cruise_areas.dm
  maps/event/idris_cruise/idris_cruise-1.dmm
Labels: Awaiting Merge, Sprites

#14848 Phoron contamination bugfixes.
  code/ZAS/Phoron.dm
  code/game/machinery/washing_machine.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mattatlas-phorontweaks.yml
Labels: Awaiting Merge, Bugfix

#14835 Nerfs hardsuits to be on par with heavy armour.
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  html/changelogs/mattatlas-hardsuitnerf.yml
Labels: Awaiting Merge

#14857 Workshop Paint Gun
  html/changelogs/Ben10083 - Workshop.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#14822 The Magshield Station
  aurorastation.dme
  html/changelogs/wickedcybs_magstation.yml
  maps/away/magshield/magshield.dm
  maps/away/magshield/magshield.dmm
  maps/away/magshield/magshield_areas.dm
  maps/away/magshield/magshield_sprites.dmi
Labels: Awaiting Merge, Sprites

#14833 Kataphract Vessel Tweaks (round 2)
  html/changelogs/connorjg1.yml
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
Labels: Awaiting Merge

#14863 Fixes the teleporter room being mislabelled as a deck 3 room
  html/changelogs/omicega-deck2afdfdsfs.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14865 Fixes Active Edges on 4 Away Sites
  html/changelogs/away_sites_active_edges_fix.yml
  maps/away/generic/bigderelict.dmm
  maps/away/generic/hivebot_hub.dmm
  maps/away/generic/racers.dmm
  maps/away/romanovich/first_aurora.dmm
Labels: Awaiting Merge, Bugfix

#14859 Elyran offship changes
  html/changelogs/elyraupdate.yml
  maps/away/ships/elyran_strike_craft.dmm
Labels: Awaiting Merge

#14866 Fixes Robotics Control Console Access
  code/game/machinery/computer/robot.dm
  html/changelogs/rd_robotics_console_fix.yml
Labels: Awaiting Merge, Bugfix

#14880 Yacht Airlock Fix
  html/changelogs/wickedcybs_yachtairlock.yml
  maps/away/ships/yacht/yacht.dmm
Labels: Awaiting Merge, Bugfix

#14876 Kataphract Ship - Giga Fix Collection
  code/game/jobs/access_datum.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/merchant/merchant_programs.dm
  html/changelogs/wickedcybs_noid.yml
  maps/away/ships/kataphracts/kataphract_areas.dm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
Labels: Awaiting Merge, Bugfix

#14862 Readds the engineering + atmos clothing wardrobes (and updates their contents for Horizon engineering)
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  html/changelogs/omicega-engidripenhancement.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge
