Repository Aurorastation/Aurora.3, pull requests merged in 2022-06, with the labels that each got.

#14163 Flag Fixes
  code/game/objects/structures/signs.dm
  html/changelogs/doxxmedearly-flag_fixes.yml
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14074 KA Cost Tweaking
  code/modules/research/designs/protolathe/mining_designs.dm
  html/changelogs/Ben10083 - KACosts.yml
Labels: Awaiting Merge

#14172 Fixes ship-console linking runtime
  code/modules/overmap/ships/computers/ship.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13990 Changes Orion Miner and Hangar Tech Uniforms
  html/changelogs/Orion.yml
  icons/obj/contained_items/department_uniforms/operations.dmi
Labels: Awaiting Merge, Sprites

#14160 Round of small bugfixes
  code/game/objects/items.dm
  code/game/objects/items/weapons/extinguisher.dm
  code/game/objects/items/weapons/implants/implantfreedom.dm
  code/game/objects/structures/gore/tendrils.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/inventory.dm
  code/modules/research/xenoarchaeology/tools/ano_device_battery.dm
  html/changelogs/doxxmedearly-smallfixes.yml
Labels: Awaiting Merge, Bugfix

#14202 Fix windoors, powernets, and the Schlorrgo Columbo Dimension
  code/game/machinery/doors/windowdoor.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/power/cable.dm
  html/changelogs/johnwildkins-miscfixes.yml
Labels: Awaiting Merge, Bugfix

#14198 Removes negative slowdown from the loadout off-worlder RIG
  code/modules/clothing/spacesuits/rig/suits/light.dm
  html/changelogs/omicega-bugfixidfdsiofdsiofds.yml
Labels: Awaiting Merge, Bugfix

#14188 Exosuit Reinforcement now Refunds
  code/modules/heavy_vehicle/components/frame.dm
  html/changelogs/Ben10083 - ExoDecon.yml
Labels: Awaiting Merge, Bugfix

#14185 Freighter Suit Coolers
  html/changelogs/Ben10083 - Freighter.yml
  maps/away/ships/tramp_freighter.dmm
Labels: Awaiting Merge, Bugfix

#14200 Held Schlorrgos no longer invisible
  code/modules/mob/holder.dm
  html/changelogs/doxxmedearly-seeschlorrgoroll.yml
Labels: Awaiting Merge, Bugfix

#14194 Round 1 Bugfixes
  code/game/objects/items/weapons/manuals.dm
  code/modules/cooking/machinery/gibber.dm
  html/changelogs/KingOfThePing - 14194.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14183 Mining Shuttle APC Access Tweak
  code/modules/power/apc.dm
  html/changelogs/Ben10083 - MiningAPC.yml
Labels: Awaiting Merge, Bugfix

#14196 Implants and Greimorian Egg/Larva Fixes
  code/game/machinery/body_scanner.dm
  code/game/machinery/computer/Operating.dm
  html/changelogs/implant_eggs_larvae_scans.yml
Labels: Awaiting Merge, Bugfix

#14197 Throw-Intent Placing, the Refixening
  code/modules/mob/inventory.dm
  html/changelogs/doxxmedearly-throwplacefixes_TWO.yml
Labels: Awaiting Merge, Bugfix

#14174 Ports and Tweaks CMSS13's New Colored Jumpsuit Sprites
  code/datums/outfits/outfit_antag.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/under/color.dm
  html/changelogs/cm_jumpsuits.yml
  icons/clothing/under/uniforms/jumpsuits.dmi
  icons/mob/items/clothing/lefthand_uniforms.dmi
  icons/mob/items/clothing/righthand_uniforms.dmi
  icons/mob/species/bulwark/uniform.dmi
  icons/mob/uniform.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/sccv_horizon/backup/placeholder-4_centcomm.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#14156 Changes the security armor sprites.
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/stryker-flyboiarmor.yml
  icons/clothing/kit/modular_armor.dmi
  icons/clothing/kit/modular_armor_accessories.dmi
Labels: Awaiting Merge, Sprites

#14126 Big Derelict
  aurorastation.dme
  html/changelogs/dansemacabre-bigderelict.yml
  maps/away/generic/bigderelict.dm
  maps/away/generic/bigderelict.dmm
  maps/away/generic/racers.dmm
Labels: Awaiting Merge

#14118 Buffs phoron contact damage, very slight buff to no pressure damage.
  code/ZAS/Phoron.dm
  code/__defines/atmos.dm
  code/modules/mob/abstract/freelook/ai/eye.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/mattatlas-environmentbuffs.yml
Labels: Awaiting Merge

#14116 Auto-Compressor Buffs and Manual CPR Tweak
  code/game/machinery/recharger.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  html/changelogs/mouth-to-mouth-stab_harness.yml
  icons/mob/screen/radial.dmi
  icons/mob/suit.dmi
  icons/obj/auto_cpr.dmi
  icons/obj/med_harness.dmi
Labels: Awaiting Merge, Sprites

#14097 Misc. Map Fixes
  html/changelogs/GrayRachnid - MiscFixes.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14077 Adjusts limb max_damage to allow for laser rifle delimbs.
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/standard.dm
  html/changelogs/mattatlas-laserdecap.yml
Labels: Awaiting Merge, Balance

#14141 Full-auto now ACTUALLY decreases accuracy.
  code/modules/client/client procs.dm
  html/changelogs/mattatlas-WHATDOWEDESERVEBEFOREWEENDTHEEARTH.yml
Labels: Awaiting Merge, Bugfix

#14189 Body Scanner VueUI Damage Readout Tweak
  code/game/machinery/body_scanner.dm
  code/game/objects/items/devices/scanners.dm
  html/changelogs/damage_readout_bodyscanner.yml
  vueui/src/components/view/medical/bodyscanner.vue
Labels: Awaiting Merge, VueUi

#14187 Deck 3 Office Folders
  html/changelogs/Ben10083 - Folders.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14176 Adds Konyanger food.
  code/modules/cooking/recipes/cultural/recipes_earth.dm
  code/modules/cooking/recipes/recipes_baked.dm
  code/modules/cooking/recipes/recipes_mix.dm
  code/modules/cooking/recipes/recipes_soup.dm
  code/modules/hydroponics/seed_datums/misc.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/stryker-foodpr.yml
  icons/obj/food.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Awaiting Merge, Sprites

#14170 Removes Remove-Sticker verb
  code/game/objects/items/sticker.dm
  html/changelogs/doxxmedearly-removeremovesticker.yml
Labels: Awaiting Merge

#14167 Updating sprite_accessories.dm to include previously unused markings + minor bug fix
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/sinfulbehaviors-AddUnusedMarks.yml
Labels: Awaiting Merge

#14164 Mining Shuttle QoL Mapping Tweaks
  code/game/turfs/unsimulated/walls.dm
  code/modules/power/apc.dm
  code/modules/telesci/gps.dm
  html/changelogs/mining_forklift.yml
  maps/aurora/code/aurora_shuttles.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge

#14162 Alt Versions of Two Punk Shaved Hairstyles + Touches Up the Hair Braid Styles
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wickedcybs_punkshave.yml
  icons/mob/human_face/hair.dmi
  icons/mob/human_face/msai_hair.dmi
  icons/mob/human_face/tajara_hair.dmi
Labels: Awaiting Merge, Sprites

#14153 Allows you to take butanol in loadout flasks/thermos etc
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/anconfuzedrock-butanolflask.yml
Labels: Awaiting Merge

#14150 Merc Shuttle Has Windows at the Cockpit Again + Inflatables
  html/changelogs/wickedcybs_mercwindow.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge

#14216 Fixes grab intent injury inspection not working on a surgery table.
  code/modules/surgery/surgery.dm
  html/changelogs/omicega-bugfixsaoidsaiomdsaiodf4.yml
Labels: Awaiting Merge, Bugfix

#14190 Fixes intrepid walls being seethrough
  html/changelogs/GrayRachnid - Intrepid wall fix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#14209 Computerning bug fixes
  code/game/machinery/computer/station_alert.dm
  code/modules/mob/living/silicon/robot/drone/drone_console.dm
  code/modules/modular_computers/file_system/programs/engineering/_engineering.dm
  code/modules/power/sensors/sensor_monitoring.dm
  icons/obj/modular_console.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Changelog Required, Sprites, Bugfix

#14087 Remaps TCFL ship + adds new docking arm
  html/changelogs/kyres1-#14087.yml
  maps/away/ships/biesel_ship_ghostroles.dm
  maps/away/ships/tcfl_peacekeeper_ship.dmm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14152 Tweaks the Holodeck
  code/defines/obj.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/modules/admin/topic.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/mob/living/simple_animal/friendly/crab.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/shareddream/area.dm
  html/changelogs/holodeck_shrinking.yml
  maps/_common/areas/special.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/code/aurora_unittest.dm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/sccv_horizon/backup/placeholder-4_centcomm.dmm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/code/sccv_horizon_unittest.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora

#14199 Changes the Re-Admin Text
  code/modules/admin/admin_verbs.dm
  html/changelogs/wickedcybs_bloat.yml
Labels: Awaiting Merge

#14195 T-Ray Scanner 4 Drones
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/Ben10083 - T_ray.yml
Labels: Awaiting Merge

#14218 Fixes #14215
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/science.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/wezzy_xenoarch_fix.yml
Labels: Awaiting Merge, Bugfix

#14005 Adds the overgrown miningstation awaysite
  aurorastation.dme
  code/game/turfs/simulated/floor_types.dm
  html/changelogs/Yonnimer-dionaederelict.yml
  maps/away/generic/overgrown_mining_station.dm
  maps/away/generic/overgrown_mining_station.dmm
Labels: Awaiting Merge

#14222 EE Ship Cryo Fix
  html/changelogs/Ben10083 - EE Cryo.yml
  maps/away/ships/ee_spy_ship.dmm
Labels: Awaiting Merge, Bugfix

#14234 Fixes Library Machines being unable to be unsecured and moved
  code/modules/library/lib_machines.dm
  html/changelogs/doxxmedearly-libraryunanchor.yml
Labels: Awaiting Merge, Bugfix

#14237 Allows mining drones to go mining
  code/modules/mining/minebot.dm
  html/changelogs/doxxmedearly-minebots_befree.yml
Labels: Awaiting Merge, Bugfix

#14208 Round 2 Bugfixes
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/wrists/xeno/unathi.dm
  config/example/tips.txt
  html/changelogs/KingOfThePing - bugfixes_round2.yml
  icons/obj/clothing/hats/soft_caps.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14225 Fixes Mining Shuttle Sensor Console Accessibility
  html/changelogs/mining_shuttle_console.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#14212 Lower Zhan Resist Mod to more normal levels.
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/connorjg1.yml
Labels: Awaiting Merge, Balance

#14204 Hephaestus and Orion Operations Uniform Changes
  html/changelogs/ops.yml
  icons/obj/contained_items/department_uniforms/operations.dmi
Labels: Awaiting Merge, Sprites

#14228 fixes(?) being unable to reattach nymph hands and feet.
  code/modules/organs/subtypes/nymph_limbs.dm
  html/changelogs/anconfuzedrock-nymphhands.yml
Labels: Awaiting Merge, Bugfix

#14157 Tech storage buffs, engineering wood plus pipe wrenches in lockers.
  html/changelogs/mattatlas-engibuffs.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14016 Implements the Biesel Constitution
  aurorastation.dme
  code/game/objects/items/devices/litanybook.dm
  code/game/objects/items/devices/versebook.dm
  code/modules/background/citizenship/human.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  html/changelogs/Ben10083 - Constitution.yml
  icons/obj/human_items.dmi
  ingame_manuals/biesel.txt
  maps/away/generic/cursed.dmm
Labels: Awaiting Merge, Sprites

#14243 Fixes some Sol uniforms having their uniforms being unable to be rolled
  code/datums/outfits/ert/fsf.dm
  code/datums/outfits/event/outfit_events.dm
  code/datums/outfits/outfit_antag.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/structures/crates_lockers/closets/sol_gear.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/cargo/random_stock/t3_rare.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/sol.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/wezzy_solunifix.yml
  icons/clothing/under/uniforms/sol_uniform.dmi
  icons/obj/sol_uniform.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/away/ships/sol_ship_ghostroles.dm
  maps/dungeon_spawns/sol_ship_unique.dmm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites, Bugfix

#14246 fixes #14239
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/head/soft_caps.dm
  html/changelogs/wezzy_capfix.yml
  icons/obj/clothing/hats/soft_caps.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14217 Crayon Augment
  code/__defines/mobs.dm
  code/game/objects/items/crayons.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/Ben10083 - AugCrayon.yml
  icons/obj/action_buttons/organs.dmi
  icons/obj/crayons.dmi
Labels: Awaiting Merge, Sprites

#14214 PMCG Security Eyewear Tweak
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/PMCG_sec_eyewear.yml
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
Labels: Awaiting Merge, Sprites

#13916 Fixes outdated Consular directives
  code/modules/background/citizenship/citizenship.dm
  code/modules/background/citizenship/human.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/citizenship/tajara.dm
  code/modules/background/citizenship/unathi.dm
  code/modules/background/citizenship/vaurca.dm
  html/changelogs/connorjg1-diplomacy.yml
Labels: Awaiting Merge

#14134 Minor protolathe removal
  code/modules/item_worth/worths_list.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/research/designs/protolathe/weapon_designs.dm
  html/changelogs/dansemacabre-lowroleplay.yml
  icons/obj/guns/gyrorifle.dmi
Labels: Awaiting Merge, Sprites

#13612 Custodial Additions
  aurorastation.dme
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/policetape.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/l3closet.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/game/objects/structures/janicart.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/modules/clothing/under/accessories/holster.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/pussywagon.dm
  html/changelogs/custodial_additions.yml
  icons/mob/belt.dmi
  icons/mob/screen/radial.dmi
  icons/mob/ties.dmi
  icons/obj/closet.dmi
  icons/obj/clothing/belts.dmi
  icons/obj/clothing/ties.dmi
  icons/policetape.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/runtime/runtime-1.dmm
  maps/sccv_horizon/backup/placeholder-4_centcomm.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
  sound/machines/vehicles/pussywagon/button.ogg
  sound/machines/vehicles/pussywagon/key_in.ogg
  sound/machines/vehicles/pussywagon/key_out.ogg
  sound/machines/vehicles/pussywagon/start.ogg
  vueui/src/components/view/vehicles/pussywagon.vue
Labels: Awaiting Merge, Mapping: Aurora, Sprites, Mapping: Runtime, VueUi

#14250 Rescue pods now work again and land on an asteroid in the Overmap.
  code/modules/events/rescue_pod.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/random_map/drop/droppod_doors.dm
  html/changelogs/mattatlas-rescuepod.yml
Labels: Awaiting Merge, Bugfix

#14267 CoolerMaster Borg Sprite fix
  html/changelogs/doxxmdearly-coolerbot_spritefix.yml
  icons/mob/robots.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14249 Fixes vampire grapple making you unable to move.
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/mattatlas-grapplesyouinthedorms.yml
Labels: Awaiting Merge, Bugfix

#14260 Offworlders can have human synthskin prosthetics
  code/modules/organs/robolimbs.dm
  html/changelogs/doxxmedearly-offworlderprosthetics.yml
Labels: Awaiting Merge, Bugfix

#14255 Borgs can activate the emergency tesla beacon
  code/game/machinery/syndicatebeacon.dm
  html/changelogs/doxxmedearly-borgs_teslabeacon.yml
Labels: Awaiting Merge, Bugfix

#14266 Augments and Robot Modules Cannot be dropped, moved, embedded
  code/__defines/items_clothing.dm
  code/_helpers/mobs.dm
  code/game/gamemodes/changeling/implements/items.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/organs/subtypes/autakh.dm
  html/changelogs/doxxmedearly-augments_modules_fixes.yml
Labels: Awaiting Merge, Bugfix

#14226 Removes lean.
  code/modules/cargo/bounties/reagent.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/mattatlas-lol.yml
Labels: Awaiting Merge

#14270 Kills modular computer hear_talk runtimes
  code/modules/modular_computers/computers/modular_computer/interaction.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#14230 iac uniform resprite
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/wezzy_iac_uniform.yml
  icons/clothing/under/uniforms/iac_uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#14272 Custodial Belt Tape Roll Bugfix
  code/game/objects/items/weapons/storage/belt.dm
  html/changelogs/custodial_belt_tape.yml
Labels: Awaiting Merge, Bugfix

#14224 Makes away ships no longer shuttle subtypes
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/computers/shuttle.dm
  html/changelogs/doxxmdearly-ships_not_shuttles.yml
  icons/turf/areas.dmi
  maps/_common/areas/special.dm
  maps/away/ships/biesel.dm
  maps/away/ships/corporate.dm
  maps/away/ships/ee_spy_ship.dmm
  maps/away/ships/fsf_patrol_ship.dmm
  maps/away/ships/orion_express_ship.dmm
  maps/away/ships/sfa_patrol_ship.dmm
  maps/away/ships/sol.dm
  maps/away/ships/tcfl_peacekeeper_ship.dmm
  maps/away/ships/tramp_freighter.dmm
  maps/away/ships/wildcard.dm
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#14155 Removes stunning from headshots.
  code/modules/organs/internal/brain.dm
  html/changelogs/mattatlas-baycoderemnants.yml
Labels: Awaiting Merge

#14236 Audible emotes now show accents.
  code/modules/mob/mob.dm
  html/changelogs/mattatlas-sighscythereanly.yml
Labels: Awaiting Merge

#14289 Revert "Audible emotes now show accents."
  code/modules/mob/mob.dm
Labels: Changelog Required, Review Required, Bugfix

#13829 Adds the super heavy pistol
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/KingOfThePing - 13829.yml
  icons/obj/ammo.dmi
  icons/obj/contained_items/weapons/k_arms.dmi
  sound/weapons/gunshot/k2557-shot.ogg
  sound/weapons/k2557-insert.ogg
Labels: Awaiting Merge, Do Not Merge, Sprites, Test Merge Candidate, Balance

#14287 Psychiatrist/Psychologist Department Specific Backpack Fix
  code/game/jobs/job/medical.dm
  html/changelogs/psych_medbackpacks.yml
Labels: Awaiting Merge, Bugfix

#14244 Primary Tool Storage Emergency Closet Tweak
  html/changelogs/wickedcybs_closet.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14242 Bug(Vaurca) Clothes
  aurorastation.dme
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/shoes/vaurca.dm
  code/modules/clothing/under/xenos/vaurca.dm
  html/changelogs/Ben10083 - Vaurca_Sprites.yml
  icons/mob/species/bulwark/shoes.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#14247 Vaurca Blaster buff and Vaurca merchant changes.
  code/datums/trading/unique.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy.dm
  html/changelogs/connorjg1.yml
Labels: Awaiting Merge

#14248 slot machine announcement
  code/game/machinery/computer/slotmachine.dm
  html/changelogs/wezzy_slotmachineannounce.yml
Labels: Awaiting Merge

#14288 Removes unattached scrubber, fixes tcfl thruster pipe
  html/changelogs/doxxmedearly-formyatmoshomies.yml
  maps/away/ships/tcfl_peacekeeper_ship.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14253 Cryogenic Announcement Tweaks
  code/game/machinery/cryopod.dm
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/doxxmedearly-cryonnouncements.yml
Labels: Awaiting Merge

#14254 Adds a circuitboard for the ship engines control computer
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/research/designs/circuit/computer_circuits.dm
  html/changelogs/doxxmedearly-shipenginescircuit.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14257 Magboots no longer function under certain circumstances
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/doxxmedearly-magboots.yml
Labels: Awaiting Merge

#14240 Adds an even poorer economic status than poor
  code/__defines/mobs.dm
  code/game/jobs/job/job.dm
  html/changelogs/anconfuzedrock-superpoor.yml
Labels: Awaiting Merge

#14241 Reduces bridge crew income, increases ops manager income.
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  html/changelogs/anconfuzedrock-bridgeandopsecon.yml
Labels: Awaiting Merge

#14296 Replaces supermatter on overgrown mining station away site
  html/changelogs/doxxmedearly-dontpanic.yml
  maps/away/generic/overgrown_mining_station.dmm
Labels: Awaiting Merge, Bugfix

#14282 Wrapping Paper and Package Wrap Fixes
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/wrapping_paper_stuff.yml
Labels: Awaiting Merge, Bugfix

#14075 Removes human slowdown at higher hunger + thirst levels
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/omicega-fdsfidsofidosfgmidogfdg.yml
Labels: Awaiting Merge, Test Merge Candidate, Balance

#13772 Sec voidsuit armor changes
  code/modules/clothing/spacesuits/void/station.dm
  html/changelogs/dansemacabre-stronger.yml
Labels: Awaiting Merge, Do Not Merge, Mapping: Aurora, Sprites, Mapping: Runtime, Test Merge Candidate, VueUi, Balance

#14276 Fix fall damage dislocating undislocatable joints
  code/modules/multiz/movement.dm
  code/modules/organs/organ_external.dm
  html/changelogs/johnwildkins-fallin.yml
Labels: Awaiting Merge, Bugfix

#14264 Gives Scientists Access to the Intrepid
  code/game/jobs/job/science.dm
  html/changelogs/scientist_intrepid_access.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#14262 TCFL ship refluff
  html/changelogs/dansemacabre-refluff.yml
  maps/away/ships/biesel.dm
Labels: Awaiting Merge

#14295 fixes iac uniform
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/wezzy_iacfix.yml
Labels: Awaiting Merge, Bugfix

#14219 Hazardous materials
  aurorastation.dme
  code/datums/outfits/ert/iac.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/hazardvests.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/wezzy_hazardvests.yml
  icons/mob/clothing/suit/hazardvest.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  maps/away/ships/fsf_patrol_ship.dmm
  maps/away/ships/sfa_patrol_ship.dmm
  maps/away/ships/tramp_freighter.dmm
Labels: Awaiting Merge, Sprites

#14298 Fixes Three Mapping Bugs
  code/game/area/areas.dm
  code/modules/shieldgen/shield_diffuser.dm
  html/changelogs/xenobot_airalarm.yml
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/code/sccv_horizon_unittest.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14306 Magboot Fixes
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/doxxmedearly-bootsaremadeforwalking.yml
Labels: Awaiting Merge, Bugfix

#14281 More Horizon Landmarks (Fly to the front of the bridge and get stuck on the windshield!)
  html/changelogs/wickedcybs_landmark.yml
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14284 Skrell Hair Gradient - Headtail Middle
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/DreamySkrell-PR-14284.yml
  icons/mob/hair_gradients.dmi
Labels: Awaiting Merge, Sprites

#14314 Fixes Slimebags
  code/modules/mob/living/carbon/slime/items.dm
  html/changelogs/slimebagfix.yml
Labels: Awaiting Merge, Bugfix

#14286 Smokables Tweaks
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/cigarette_ears.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/mob/species/tajaran/mask.dmi
  icons/mob/species/unathi/mask.dmi
  icons/obj/clothing/masks.dmi
  icons/obj/smokables.dmi
Labels: Awaiting Merge, Sprites

#14273 Adds a verb to lock IPC antennae and make them unremovable.
  code/modules/clothing/ears/antennae.dm
  html/changelogs/mattatlas-kancollereference.yml
Labels: Awaiting Merge

#14274 Increases time between hallucination effects
  code/modules/hallucinations/mob.dm
  html/changelogs/doxxmedearly-hallucinationsmybeloved.yml
Labels: Awaiting Merge

#14277 Crawling now works with WASD.
  code/game/turfs/turf.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  html/changelogs/mattatlas-crawling.yml
Labels: Awaiting Merge

#14302 Audible emotes and radio emotes now show accents.
  code/modules/mob/language/generic.dm
  code/modules/mob/mob.dm
  html/changelogs/mattatlas-audibles.yml
Labels: Awaiting Merge, Test Merge Candidate

#14297 Small space bar mapping additions
  html/changelogs/doxxmedearly-spacebar_adds.yml
  maps/away/generic/space_bar.dm
  maps/away/generic/space_bar.dmm
Labels: Awaiting Merge

#14231 Suits and Overwear Cost One Point (Down From Two)
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  html/changelogs/wickedcybs_1point.yml
Labels: Awaiting Merge, Balance

#14213 Labcoats, Once More, With Screaming
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/wezzy_labcoatening.yml
  icons/mob/clothing/suit/labcoat.dmi
Labels: Awaiting Merge, Sprites

#14308 Tajara Himean Voidsuit Kit Is Now Origin Locked
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  html/changelogs/wickedcybs_council.yml
Labels: Awaiting Merge

#14331 Fixes armblades
  code/game/gamemodes/changeling/implements/items.dm
  html/changelogs/doxxmedearly-armblades.yml
Labels: Awaiting Merge, Bugfix

#14303 Add a Vaurca Projector to the loadout and allows Vaurca to take the Nralakk projector (Without breaking git)
  aurorastation.dme
  code/game/objects/items/vaurca.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  html/changelogs/connorjg1.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#14318 Moves the security officer hazard jacket from the outfit to the lockers.
  code/game/jobs/job/security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/mattatlas-hazardjcka.yml
Labels: Awaiting Merge

#14319 Tweaks the Zavodskoi IPC origin
  code/modules/background/origins/origins/ipc/megacorporate.dm
  html/changelogs/zavodskoi-tweak.yml
Labels: Awaiting Merge

#14317 Live Surgery Is More Painful
  code/modules/surgery/generic.dm
  html/changelogs/wickedcybs_surgerypain.yml
Labels: Awaiting Merge

#14301 updates arcade UI
  code/game/machinery/computer/arcade.dm
  code/game/machinery/computer/arcade_orion.dm
  html/changelogs/wezzy_arcadeui.yml
Labels: Awaiting Merge

#14336 Fix PDA flashlights not working or installing
  code/modules/modular_computers/computers/modular_computer/hardware.dm
  code/modules/modular_computers/hardware/misc.dm
  html/changelogs/johnwildkins-flashlightfix.yml
Labels: Awaiting Merge, Bugfix

#14326 IV Drip Oversights
  code/game/machinery/iv_drip.dm
  html/changelogs/IV_drip_cleanup.yml
Labels: Awaiting Merge

#14339 Fixes leftover usage of the deprecated flick("flash").
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/flasher.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/modules/mob/living/carbon/alien/alien_damage.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/spell_system/artifacts/items/poppet.dm
  html/changelogs/mattatlas-flashfix.yml
Labels: Awaiting Merge, Bugfix

#14341 Fix heat exchangers not radiating properly on /turf/simulated/open
  code/modules/atmospherics/he_pipes.dm
  html/changelogs/johnwildkins-fixsupermatter.yml
Labels: Awaiting Merge, Bugfix

#14315 Adds flagpatches to the loadout.
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/flagpatch-pr.yml
  icons/clothing/kit/modular_armor_accessories.dmi
Labels: Awaiting Merge, Sprites

#14333 Fixes shield capacitors shitting the bed and messing up shields.
  code/modules/shieldgen/shield_gen.dm
  html/changelogs/mattatlas-fixshieldgens.yml
Labels: Awaiting Merge, Bugfix

#14347 Fixes several typos in the character setup screen
  code/game/jobs/faction/nanotrasen.dm
  code/game/jobs/faction/zavodskoi.dm
  code/modules/background/origins/origins/human/elyra.dm
  html/changelogs/Forester40-zv-nt-elyra-typo-fix.yml
Labels: Awaiting Merge, Bugfix

#14324 Zombie tweaks/buffs/nerfs.
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/zombie.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/organs/internal/brain.dm
  html/changelogs/mattatlas-zomboid.yml
Labels: Awaiting Merge

#14279 Raiders Spawn With Sunglasses
  code/datums/outfits/outfit_antag.dm
  html/changelogs/wickedcybs_raiderglasses.yml
Labels: Awaiting Merge

#14323 Janitorial Cleaning Gloves
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/flaminglily-gloves.yml
  icons/mob/hands.dmi
  icons/mob/items/clothing/lefthand_gloves.dmi
  icons/mob/items/clothing/righthand_gloves.dmi
  icons/obj/clothing/gloves.dmi
Labels: Awaiting Merge, Sprites

#14238 Mining Drone Tweaks
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  html/changelogs/Ben10083 - MineDrone.yml
Labels: Awaiting Merge

#14229 Security Uniform Tweaks
  code/datums/outfits/ert/ap_eridani.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/wezzy_secunitweaks.yml
  icons/obj/clothing/hats/berets.dmi
  icons/obj/clothing/hats/soft_caps.dmi
  icons/obj/contained_items/department_uniforms/security.dmi
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#14327 IPCs now stutter when below 50% health.
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/say.dm
  html/changelogs/mattatlas-ipcstutter.yml
Labels: Awaiting Merge

#14344 Falling objects now have armor penetration.
  code/modules/multiz/movement.dm
  html/changelogs/mattatlas-engineeringbuff.yml
Labels: Awaiting Merge

#14335 Vaurca Projector frequency tweak.
  code/game/objects/items/vaurca.dm
  html/changelogs/connorjg1.yml
Labels: Awaiting Merge

#14353 Small Hallucinations Bugfixes
  code/controllers/subsystems/hallucinations.dm
  code/modules/hallucinations/hallucinations.dm
  code/modules/hallucinations/types/basic.dm
  html/changelogs/doxxmedearly-hallucinationsfixes.yml
Labels: Awaiting Merge, Bugfix

#14321 Adds a wrecked NT ship awaysite.
  aurorastation.dme
  html/changelogs/Yonnimer-NTDerelict.yml
  maps/away/generic/wrecked_nt_ship.dm
  maps/away/generic/wrecked_nt_ship.dmm
Labels: Awaiting Merge

#14349 Painkiller Pills Last Longer
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/wickedcybs_pilleat.yml
Labels: Awaiting Merge

#14329 Fixes the Impoverished Economic Status Not Saving Properly
  SQL/migrate/V072__economic_status_fix.sql
  code/game/gamemodes/game_mode.dm
  html/changelogs/sql_impoverished_fix.yml
Labels: Review Required, Bugfix, Database

#14268 Removing Meteors/Debris From the Random Event Rotation
  code/modules/events/event_container.dm
  html/changelogs/wickedcybs_nometeor.yml
  tools/Event Probabilities/Event Probabilities.xlsx
Labels: Awaiting Merge

#14332 Adds a space cleaner refiller to the janitor's closet. Other backpack water tank changes.
  code/game/objects/items/weapons/tanks/watertank.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/FlamingLily-Cleaner.yml
  icons/obj/reagent_dispensers.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites

#14367 Bugfixes round 3(?)
  code/datums/uplink/uplink_categories.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/KingOfThePing - oh_my_kidneys.yml
  icons/obj/organs/vaurca_organs.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14283 Nitrile glove boxes now like any other regular box.
  aurorastation.dme
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/nitrilebox.dm
  code/modules/clothing/clothing.dm
  html/changelogs/wezzy_revertnitrilebox.yml
  icons/obj/storage.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/away/generic/racers.dmm
  maps/away/generic/space_bar.dmm
  maps/away/romanovich/grand_romanovich.dmm
  maps/dungeon_spawns/skrell_crash_unique.dmm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
  maps/templates/distress/iac.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#14364 Fixes sensors being unrepairable.
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/mattatlas-sensorsfix.yml
Labels: Awaiting Merge, Bugfix

#14357 Wrecked ship derelict fixes
  html/changelogs/Yonnimer-wreckedshipfixes.yml
  maps/away/generic/wrecked_nt_ship.dm
  maps/away/generic/wrecked_nt_ship.dmm
Labels: Awaiting Merge, Bugfix

#14378 Fixing some funny glove boxes + glove snipping
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/clothing/gloves/miscellaneous.dm
  html/changelogs/KingOfThePing - ghetto_gloves.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14358 Creates a versebook for the Trinary Perfection
  code/game/objects/items/devices/versebook.dm
  code/modules/background/religion/human.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  html/changelogs/flaminglily-big-damn-robot.yml
  icons/obj/human_items.dmi
  icons/obj/library.dmi
  ingame_manuals/trinary.txt
Labels: Awaiting Merge, Sprites

#13830 Antag Rebalances, Armory Restock
  code/__defines/gamemode.dm
  code/datums/outfits/outfit_antag.dm
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/datums/uplink/medical.dm
  code/datums/uplink/uplink_categories.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/game/gamemodes/cult/items/clothes.dm
  code/game/machinery/autolathe/autolathe_datums.dm
  code/game/objects/items/devices/uplink.dm
  code/game/objects/items/weapons/grenades/fragmentation.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  html/changelogs/dansemacabre-gunsarefun.yml
  icons/obj/guns/civcarbine.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, Test Merge Candidate, Balance
