Repository Aurorastation/Aurora.3, pull requests merged in 2022-03, with the labels that each got.

#13284 Adds a filled syndicate lunchbox to the uplink
  code/datums/uplink/medical.dm
  code/game/objects/items/devices/uplink_random_lists.dm
  html/changelogs/syndie_lunchbox.yml
Labels: Awaiting Merge

#13278 Emergency Shutter Takes Time to Weld Shut
  code/game/machinery/doors/firedoor.dm
  html/changelogs/emergency_shutter_welding_timer.yml
Labels: Awaiting Merge

#13261 Injecting reagent containers sends nearby mobs a warning
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/syringewarn.yml
Labels: Awaiting Merge

#12985 Random AI Stuff
  code/game/machinery/hologram.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/mob/hear_say.dm
  code/modules/mob/living/silicon/ai/ai_movement.dm
  html/changelogs/geeves-ai_stuff.yml
Labels: Awaiting Merge

#13258 Adds a Synthflesh recipe to the Biogenerator; Refluffs Biomeat.
  code/game/machinery/biogenerator.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  html/changelogs/aticius-legallydistinctmeatsubstitute.yml
Labels: Awaiting Merge

#13272 Most common melee simple mobs now have AP + damage flags, hivebot buffs.
  code/_onclick/other_mobs.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/constructs/constructs/artificer.dm
  code/modules/mob/living/simple_animal/constructs/constructs/harvester.dm
  code/modules/mob/living/simple_animal/constructs/constructs/juggernaut.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/hostile/bear.dm
  code/modules/mob/living/simple_animal/hostile/carp.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_beacon_projectiles.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_projectiles.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/rogue_maint_drone.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  code/modules/mob/living/simple_animal/hostile/vannatusk.dm
  code/modules/mob/living/simple_animal/hostile/viscerator.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/mattatlas-15secmainpipebombsinmymailbox.yml
Labels: Awaiting Merge

#13078 Squelchy Skrell Stuff
  code/game/sound.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/wezzy_stupidskrellstuff.yml
  sound/effects/bodyfall_skrell1.ogg
  sound/effects/bodyfall_skrell2.ogg
  sound/effects/bodyfall_skrell3.ogg
  sound/effects/bodyfall_skrell4.ogg
  sound/effects/footstep_skrell1.ogg
  sound/effects/footstep_skrell2.ogg
  sound/effects/footstep_skrell3.ogg
  sound/effects/footstep_skrell4.ogg
  sound/effects/footstep_skrell5.ogg
  sound/effects/footstep_skrell6.ogg
Labels: Awaiting Merge

#13275 Raises cultist rune limit to 40. Wall runes are now limited.
  code/controllers/subsystems/cult.dm
  code/game/gamemodes/cult/cultist_datum.dm
  code/game/gamemodes/cult/items/tome.dm
  code/game/gamemodes/cult/runes/_runes.dm
  code/game/gamemodes/cult/runes/rune.dm
  code/game/gamemodes/cult/runes/wall.dm
  html/changelogs/mattatlas-wallrune.yml
Labels: Awaiting Merge

#13265 Adds Free council citizenship
  code/modules/background/citizenship/tajara.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  html/changelogs/alberyk-tcfcitizenshi.yml
Labels: Awaiting Merge, Lore Impact

#13290 New airlock sounds.
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/multi_tile.dm
  html/changelogs/airlocksounds.yml
  sound/machines/airlock/covert1c.ogg
  sound/machines/airlock/covert1o.ogg
  sound/machines/airlock/door2c.ogg
  sound/machines/airlock/door2o.ogg
  sound/machines/airlock/hall1c.ogg
  sound/machines/airlock/hall1o.ogg
  sound/machines/airlock/hall3c.ogg
  sound/machines/airlock/hall3o.ogg
  sound/machines/airlock/hatchclose.ogg
  sound/machines/airlock/hatchforced.ogg
  sound/machines/airlock/hatchopen.ogg
  sound/machines/airlock/secure1c.ogg
  sound/machines/airlock/secure1o.ogg
  sound/machines/airlock/space1c.ogg
  sound/machines/airlock/space1o.ogg
  sound/machines/airlock/vault1c.ogg
  sound/machines/airlock/vault1o.ogg
  sound/machines/airlock/wide1c.ogg
  sound/machines/airlock/wide1o.ogg
  sound/machines/firelockclose.ogg
  sound/machines/firelockopen.ogg
  sound/machines/firewideclose.ogg
  sound/machines/firewideopen.ogg
Labels: Awaiting Merge

#12937 Unathi Stuff
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/geeves-unathi_lore.yml
Labels: Awaiting Merge

#13302 Removes Leftover IAA Code
  code/modules/admin/banjob.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  config/example/age_restrictions.txt
  html/changelogs/iaa_bugfix.yml
Labels: Awaiting Merge, Bugfix

#13309 Removes Stool Stuck in Wall - Telecommunications Lounge Toilet
  html/changelogs/random_stool_removal.yml
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#13313 VV extended list viewer requires same rights as VV
  code/modules/admin/verbs/viewlist.dm
  html/changelogs/extended_list_viewer_rights.yml
Labels: Awaiting Merge, Bugfix

#13067 Fallout New Vegas
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/slotmachine.dm
  html/changelogs/wezzy_falloutnewvegas.yml
  icons/obj/machines/slotmachine.dmi
  sound/arcade/sloto_jackpot.ogg
  sound/arcade/sloto_lever.ogg
  sound/arcade/sloto_token.ogg
Labels: Awaiting Merge, Sprites

#13096 Beakers, bottles and syringe resprite
  code/_helpers/global_lists.dm
  code/game/machinery/autolathe/autolathe_datums.dm
  code/game/objects/items/bees_items.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cooking/machinery/cooking_machines/container.dm
  code/modules/hydroponics/trays/tray_reagents.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/dropper.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/jar.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/wezzy_beakersbottlesyringes.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
  icons/obj/bloodpack.dmi
  icons/obj/chemical.dmi
  icons/obj/large_syringe.dmi
  icons/obj/reagentfillings.dmi
  icons/obj/syringe.dmi
  icons/obj/vialbox.dmi
  maps/exodus/exodus-5_asteroid.dmm
Labels: Awaiting Merge, Sprites, Mapping: Exodus

#13314 Cyborgs are now properly deleted when despawning via cryo
  code/controllers/subsystems/job.dm
  html/changelogs/robot_camera_removal_on_cryo.yml
Labels: Awaiting Merge, Bugfix

#13304 Late Miscellaneous Init speedup
  aurorastation.dme
  code/__defines/misc.dm
  code/_helpers/global_lists.dm
  code/_helpers/names.dm
  code/controllers/subsystems/initialization/misc_late.dm
  code/game/gamemodes/technomancer/devices/disposable_teleporter.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/modules/modular_computers/file_system/programs/security/implant_tracker.dm
  code/modules/spell_system/spells/spell_list/self/generic/area_teleport.dm
  code/unit_tests/map_tests.dm
  maps/_common/areas/holodeck.dm
  maps/exodus/code/exodus_unittest.dm
Labels: Awaiting Merge, Changelog Required, Performance

#13323 Fixes Invisible Blood Bags
  code/modules/reagents/reagent_containers/blood_pack.dm
  html/changelogs/invisible_blood_bag.yml
Labels: Awaiting Merge, Bugfix

#13310 Adds new accessory and beret options to the Tajara loadout
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  html/changelogs/alberyk-accessory.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites, Lore Impact

#13324 Fixes problem with the all_station_areas_shall_be_on_station_zlevels unit test
  code/unit_tests/map_tests.dm
  maps/exodus/code/exodus_unittest.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13195 lizard augment egalitarianism
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  html/changelogs/aticius-lizardaugments.yml
Labels: Awaiting Merge

#13321 Fixes blast doors not opening after power is restored sometimes
  code/game/machinery/doors/blast_door.dm
  html/changelogs/blast_doors_fix2.yml
Labels: Awaiting Merge, Bugfix

#13371 Medscan and Lung Rescue Fix
  code/game/machinery/body_scanner.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/medscan_lung_rescue.yml
Labels: Awaiting Merge, Bugfix

#13305 Removes Exodus map
  .drone.yml
  .github/workflows/byond.yml
  .travis.yml
  _maps/exodus.dm
  aurorastation.dme
  code/game/machinery/camera/presets.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/overmap/README.dm
  html/changelogs/removes_exodus.yml
  maps/aurora/aurora-4_mainlevel.dmm
  maps/exodus/code/exodus.dm
  maps/exodus/code/exodus_areas.dm
  maps/exodus/code/exodus_holodeck.dm
  maps/exodus/code/exodus_shuttles.dm
  maps/exodus/code/exodus_unittest.dm
  maps/exodus/exodus-1_station.dmm
  maps/exodus/exodus-2_centcomm.dmm
  maps/exodus/exodus-3_telecomms.dmm
  maps/exodus/exodus-4_derelict.dmm
  maps/exodus/exodus-5_asteroid.dmm
  tools/mapmerge2/Prepare Maps - Exodus.bat
  tools/mapmerge2/PrepareMaps-Exodus.sh
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Exodus

#13376 Surgery Tool Description Fix
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/surgery_tool_desc.yml
Labels: Awaiting Merge, Bugfix

#13372 Die Fixes
  code/game/objects/items/weapons/dice.dm
  code/modules/customitems/item_defines.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#12935 New Station Bounced Sprites
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  html/changelogs/radiosprites.yml
  icons/obj/radio.dmi
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#13367 Autodrobe doesn't remove Vaurca mandible mask from face
  code/game/objects/items/weapons/vaurca_items.dm
  html/changelogs/bugs_are_people_too.yml
Labels: Awaiting Merge, Bugfix

#13382 Maintenance drones properly generate their eye icon on spawning.
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/maintenance-drone-eyes-on-spawn.yml
Labels: Awaiting Merge, Bugfix

#13366 Don't display `hear_sleep` to deaf people
  code/modules/mob/hear_say.dm
  html/changelogs/sierrakomodo-no-deaf-sleep-ears.yml
Labels: Awaiting Merge

#13252 Technomancer Chameleon Core
  code/game/gamemodes/technomancer/core_obj.dm
  code/modules/clothing/chameleon.dm
  html/changelogs/geeves-techno_chameleon.yml
Labels: Awaiting Merge

#13381 Gripper code tidying + bugfixes
  code/_onclick/cyborg.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  html/changelogs/gripper_fixing.yml
Labels: Awaiting Merge, Bugfix

#13370 Fractal Reactor Message Tweak
  code/modules/power/fractal_reactor.dm
  html/changelogs/fractal_reactor_message.yml
Labels: Awaiting Merge

#13385 Toggle pumps/filters with AltClick & RCON Max SMES Output Button
  code/ATMOSPHERICS/components/binary_devices/binary_atmos_base.dm
  code/ATMOSPHERICS/components/omni_devices/omni_base.dm
  code/ATMOSPHERICS/components/trinary_devices/trinary_base.dm
  code/modules/nano/modules/rcon.dm
  html/changelogs/engineering-qol-1.yml
  nano/templates/rcon.tmpl
Labels: Awaiting Merge

#13384 Removes Clown and Mime PDA presets
  code/datums/trading/misc.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  html/changelogs/no-clowns-or-mimes-here.yml
  icons/obj/pda.dmi
Labels: Awaiting Merge, Sprites

#13392 Fixes being unable to select DPRA party pins
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  html/changelogs/alberyk-loadoutfix.yml
Labels: Awaiting Merge, Bugfix

#13388 Updates the CCIA-recorder antag/ooc prompt message.
  code/modules/cciaa/cciaa_items.dm
  html/changelogs/arrow768-ccia-message.yml
Labels: Awaiting Merge

#13391 Removes Kathira's custom items
  code/modules/customitems/item_defines.dm
  icons/obj/coatrack.dmi
  icons/obj/custom_items/kathira_cloak.dmi
  icons/obj/custom_items/kathira_journal.dmi
  icons/obj/custom_items/kathira_legbrace.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#13277 Gloves Not Required to Remove Bulbs and Tubes
  code/modules/power/lights/fixtures.dm
  html/changelogs/cool_bulbs_and_tubes.yml
Labels: Awaiting Merge

#13350 Blood performance improvements
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/blood_splatter_reduction.yml
Labels: Awaiting Merge, Test Merge Candidate, Performance

#13369 IV Drip Buffs
  code/__defines/misc.dm
  code/game/machinery/iv_drip.dm
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/game/objects/items/weapons/tanks/tanks.dm
  code/modules/research/designs/circuit/machine_circuits.dm
  html/changelogs/iv_drip_buff.yml
  icons/mob/screen/radial.dmi
  icons/obj/iv_drip.dmi
Labels: Awaiting Merge, Sprites

#13401 moves the right-facing boatsman hat sprite by one pixel
  html/changelogs/Forester40 - boatsmanhat.yml
  icons/mob/head.dmi
Labels: Awaiting Merge, Sprites

#13402 Removes face direction click delay, direction lock is now undone if you're made to face another direction.
  code/modules/mob/mob.dm
  html/changelogs/mattatlas-clickadjustments.yml
Labels: Awaiting Merge

#13412 Robotic Limbs Screw Hatch and Bleeding Fixes
  code/modules/organs/organ_external.dm
  code/modules/surgery/robotics.dm
  html/changelogs/robotic_limbs_bleed_screwhatch.yml
Labels: Awaiting Merge, Bugfix

#13408 Lung Rescue on Vaurca Restriction
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/lung_rescue_vaurca.yml
Labels: Awaiting Merge

#13387 Ports RIG footstep sounds from Hestia.
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/mattatlas-rigfootsteps.yml
  sound/machines/rig/rigstep.ogg
Labels: Awaiting Merge

#13383 Research borgs get a multitool
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/research-borg-multitool.yml
Labels: Awaiting Merge

#13355 Unathi Gradients and a pair of hairstyles
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/aticius - gradients-and-droopies.yml
  icons/mob/human_face/unathi_hair.dmi
Labels: Awaiting Merge, Sprites
