Repository Aurorastation/Aurora.3, pull requests merged in 2022-07, with the labels that each got.

#14381 Fixes Zavodskoi alt uniform sleeve rolling.
  icons/obj/contained_items/department_uniforms/security.dmi
Labels: Awaiting Merge, Changelog Required, Sprites, Bugfix

#14383 Fixes missing in-hand versebook sprites. Replaces trinary bible with a more lore accurate bible.
  code/game/objects/items/devices/versebook.dm
  html/changelogs/flaminglily-fuuuuuuuuuuu.yml
  icons/mob/items/lefthand_books.dmi
  icons/mob/items/righthand_books.dmi
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14359 Solarian Warlord Armor
  code/datums/outfits/ert/fsf.dm
  code/game/objects/items/devices/modkit.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/dansemacabre-warlords.yml
  icons/obj/contained_items/voidsuits/warlordsuit.dmi
  maps/away/ships/fsf_patrol_ship.dmm
Labels: Awaiting Merge, Sprites

#14354 Macro-ize some helpers, character preview optimize
  code/__defines/_macros.dm
  code/_helpers/type2type.dm
  code/_helpers/unsorted.dm
  code/controllers/subsystems/plants.dm
  code/controllers/subsystems/records.dm
  code/datums/outfits/outfit.dm
  code/game/dna/dna2.dm
  code/game/dna/dna2_helpers.dm
  code/game/dna/dna_modifier.dm
  code/game/jobs/job/civilian.dm
  code/game/objects/items/weapons/grenades/anti_photon_grenade.dm
  html/changelogs/johnwildkins-charsetup.yml
Labels: Awaiting Merge, High Risk, Test Merge Candidate, Bugfix, Performance

#14375 Orion Express Ship Rework
  html/changelogs/dansemacabre-orionexpressbegone.yml
  maps/away/ships/corporate.dm
  maps/away/ships/corporate_ship_ghostroles.dm
  maps/away/ships/orion_express_ship.dmm
Labels: Awaiting Merge

#14368 Vaurca Breeder Resprite
  aurorastation.dme
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/citizenship/vaurca.dm
  code/modules/background/origins/origins/vaurca/breeder/cthur.dm
  code/modules/background/origins/origins/vaurca/breeder/klax.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/xenos/vaurca.dm
  code/modules/clothing/shoes/xeno/vaurca.dm
  code/modules/clothing/suits/xeno/vaurca.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wezzy_funny_typec.yml
  icons/mob/human_face/breeder_hair.dmi
  icons/mob/human_face/eyes48x48.dmi
  icons/mob/human_races/masks/dam_mask_breeder.dmi
  icons/mob/human_races/vaurca/r_vaurcac.dmi
  icons/mob/species/breeder/back.dmi
  icons/mob/species/breeder/head.dmi
  icons/mob/species/breeder/inventory.dmi
  icons/mob/species/breeder/shoes.dmi
  icons/mob/species/breeder/suit.dmi
  sound/items/storage/wings.ogg
Labels: Awaiting Merge, Sprites

#14373 CE, CMO, OM, and RD all get mini-disruptors.
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  html/changelogs/dansemacabre-patriotism.yml
Labels: Awaiting Merge

#14394 Warlord stuff fixes
  code/game/objects/items/devices/modkit.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/dansemacabre-warlord.yml
Labels: Awaiting Merge, Bugfix

#13805 Window Rework
  code/__defines/materials.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/weapons/RFD.dm
  code/game/objects/structures/full_window_frame.dm
  code/game/objects/structures/window.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/game/turfs/simulated/walls.dm
  code/modules/effects/map_effects/window_spawner.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/mob/mob_movement.dm
  code/modules/tables/update_triggers.dm
  html/changelogs/reworks_windows.yml
  icons/effects/map_effects.dmi
  icons/error.dmi
  icons/obj/doors/DoorHazard.dmi
  icons/obj/smooth/full_window.dmi
  icons/obj/smooth/full_window_frame.dmi
  icons/obj/smooth/full_window_phoron.dmi
  icons/obj/smooth/phoron_full_window.dmi
  icons/obj/stacks/tiles.dmi
  icons/obj/structures.dmi
  icons/turf/flooring/tiles.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/away/generic/cursed.dmm
  maps/away/generic/derelict.dmm
  maps/away/generic/hivebot_hub.dmm
  maps/away/generic/overgrown_mining_station.dmm
  maps/away/generic/racers.dmm
  maps/away/generic/space_bar.dmm
  maps/away/generic/wrecked_nt_ship.dmm
  maps/away/romanovich/first_aurora.dmm
  maps/away/romanovich/grand_romanovich.dmm
  maps/away/ships/fsf_patrol_ship.dmm
  maps/away/ships/sfa_patrol_ship.dmm
  maps/away/ships/tcfl_peacekeeper_ship.dmm
  maps/away/ships/tramp_freighter.dmm
  maps/dungeon_spawns/shrine_unique.dmm
  maps/dungeon_spawns/vannatusk_unique.dmm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/asteroid/hideout.dmm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/sccv_horizon/backup/placeholder-4_centcomm.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites, Mapping: Runtime, Test Merge Candidate

#14397 Fixes CE Windows Not Tinting
  html/changelogs/ce_tint_fix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14396 Fixes the "None" gradient/fade being unselectable, fixes broken console sprite.
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/modular_computers/computers/subtypes/dev_console.dm
  html/changelogs/mattatlas-bugfix2.yml
Labels: Awaiting Merge, Bugfix

#14386 Fixes the taste of the moss dumplings
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/flaminglily-patch-1.yml
Labels: Awaiting Merge, Bugfix

#14382 Update Holidays
  code/game/gamemodes/events/holidays/Holidays.dm
  html/changelogs/MortalRed-holiday-update.yml
Labels: Awaiting Merge

#14363 new rollerbed and vitals monitor sprites
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/wezzy_newrollerbed.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
  icons/obj/contained_items/tools/vitals_monitor.dmi
  icons/obj/rollerbed.dmi
Labels: Awaiting Merge, Sprites

#14370 Adds recharging stations to departments that do not have them
  html/changelogs/doc - departmental rechargers.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14392 Tau Ceti Legion Uniform Improvement
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/wezzy_betterTCFL.yml
  icons/clothing/under/uniforms/tcfl_uniform.dmi
  icons/mob/uniform.dmi
  icons/obj/clothing/hats/berets.dmi
  icons/obj/clothing/uniforms.dmi
Labels: Awaiting Merge, Sprites

#14400 Fixes shuttle walls interactions, renames shuttle alloy to plastitanium.
  code/game/objects/structures/girders.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/game/turfs/simulated/wall_attacks.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  html/changelogs/mattatlas-armstrongwalls.yml
Labels: Awaiting Merge, Bugfix

#14402 Fixes TCFL uniforms being invisible.
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/mattatlas-bruh.yml
  icons/clothing/under/uniforms/tcfl_uniform.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14403 Fixes tcomms machinery being undeconstructable.
  code/game/machinery/telecomms/machine_interactions.dm
  html/changelogs/mattatlas-tcommsfix.yml
Labels: Awaiting Merge, Bugfix

#14398 Everyman resprite and rewrite
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/dansemacabre_everyman.yml
  icons/obj/guns/leyon.dmi
Labels: Awaiting Merge, Sprites

#14342 Baby Got Back(Packs) (Resprites and sorts storage.dmi)
  code/game/machinery/cloning.dm
  code/game/machinery/deployable.dm
  code/game/machinery/mass_driver.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/field_ration.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/game/objects/structures/inflatable.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/detectivework/tools/storage.dm
  code/modules/research/xenoarchaeology/tools/tools_pickaxe.dm
  html/changelogs/wezzy_boxsprotes.yml
  icons/mob/back.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand.dmi
  icons/mob/items/righthand_medical.dmi
  icons/mob/items/storage/lefthand_backpacks.dmi
  icons/mob/items/storage/lefthand_briefcase.dmi
  icons/mob/items/storage/lefthand_toolbox.dmi
  icons/mob/items/storage/righthand_backpacks.dmi
  icons/mob/items/storage/righthand_briefcase.dmi
  icons/mob/items/storage/righthand_toolbox.dmi
  icons/obj/contained_items/tools/inflatables.dmi
  icons/obj/food.dmi
  icons/obj/forensics.dmi
  icons/obj/lunchbox.dmi
  icons/obj/storage.dmi
  icons/obj/storage/backpack.dmi
  icons/obj/storage/boxes.dmi
  icons/obj/storage/briefcase.dmi
  icons/obj/storage/courierbag.dmi
  icons/obj/storage/duffelbag.dmi
  icons/obj/storage/firstaid.dmi
  icons/obj/storage/lunchbox.dmi
  icons/obj/storage/paperbag.dmi
  icons/obj/storage/rucksack.dmi
  icons/obj/storage/satchel.dmi
  icons/obj/storage/toolbox.dmi
  icons/obj/storage/wallet.dmi
  icons/obj/structures.dmi
  icons/obj/tajara_items.dmi
  icons/obj/toolbox/mining.dmi
  icons/obj/toy.dmi
  icons/obj/vaurca_items.dmi
  maps/away/generic/wrecked_nt_ship.dmm
Labels: Awaiting Merge, Sprites

#14410 Fixes Coalition Flagpatch
  html/changelogs/coalition patch fix - doc.yml
  icons/clothing/kit/modular_armor_accessories.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14408 Adds a missing holiday
  code/game/gamemodes/events/holidays/Holidays.dm
  html/changelogs/ImmortalRedshirt-MissingHoliday.yml
Labels: Awaiting Merge, Bugfix

#14412 Fixes #14411
  code/datums/outfits/ert/ap_eridani.dm
  code/datums/outfits/ert/elyra.dm
  code/datums/outfits/ert/fsf.dm
  code/datums/outfits/ert/iac.dm
  code/datums/outfits/ert/mercenary.dm
  code/datums/outfits/event/outfit_nanotrasen.dm
  code/datums/outfits/outfit.dm
  code/datums/outfits/outfit_admin.dm
  code/datums/outfits/outfit_antag.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/sol_gear.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/mining/mine_items.dm
  html/changelogs/wezzy_bagfix.yml
  icons/obj/storage/backpack.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/away/ships/corporate_ship_ghostroles.dm
  maps/away/ships/sol_ship_ghostroles.dm
  maps/away/ships/wildcard_ship_ghostroles.dm
  maps/event/odin_departure/odin_depature-1.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
  maps/templates/sol.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites, Bugfix

#14415 fixes duffelbags
  code/game/objects/items/weapons/storage/backpack.dm
  html/changelogs/wezzy_bagfix2.yml
Labels: Awaiting Merge, Bugfix

#14395 Add Hanboks and Hair
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/factions/konyang.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/niennab-hanbok.yml
  icons/clothing/under/uniforms/konyang_malehanbok_colorable.dmi
  icons/mob/human_face/hair.dmi
  icons/mob/uniform.dmi
Labels: Awaiting Merge, Sprites

#14413 CE uniform fix
  html/changelogs/wezzy_cefix.yml
  icons/obj/contained_items/department_uniforms/command.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14379 Vaurca tweaks and fixes
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/science.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  html/changelogs/connorjg1-vaurca-tweaks.yml
Labels: Awaiting Merge

#14390 Space Mall!
  aurorastation.dme
  code/game/jobs/access_datum.dm
  html/changelogs/dansemacabre_shoppinaround.yml
  maps/away/generic/civilian_station.dm
  maps/away/generic/civilian_station.dmm
  maps/away/generic/civilian_station_ghostroles.dm
Labels: Awaiting Merge

#14385 Local militia third party ship.
  html/changelogs/dansemacabre-militsiya.yml
  maps/away/ships/militia_ship.dmm
  maps/away/ships/wildcard.dm
  maps/away/ships/wildcard_ship_ghostroles.dm
Labels: Awaiting Merge

#14418 Fixes duffel bag icons and master compile.
  code/game/objects/items/weapons/storage/backpack.dm
  html/changelogs/mattatlas-ffs.yml
  icons/obj/storage/duffelbag.dmi
  maps/away/generic/civilian_station_ghostroles.dm
  maps/away/ships/wildcard_ship_ghostroles.dm
Labels: High Priority, Review Required, Sprites, Bugfix

#14421 Civilian station hotfixes
  html/changelogs/dansemacabre-hotfix.yml
  maps/away/generic/civilian_station.dmm
Labels: Awaiting Merge, Bugfix

#14405 Gives the TCFL Away Ship the Constitution
  html/changelogs/Ben10083 - Biesel.yml
  maps/away/ships/tcfl_peacekeeper_ship.dmm
Labels: Awaiting Merge

#14406 Lights, Chicken, Cow. Action!
  html/changelogs/KingOfThePing - too_bright.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14427 Adds missing extinguisher refiller cartridges.
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  html/changelogs/mattatlas-siamprontiallamorte.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14429 Fixes AI Core APC Pathing
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Changelog Required, Bugfix

#14432 Fixes the Xenoarch subsystem entering into a potential infinite loop.
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/initialization/xenoarch.dm
  html/changelogs/mattatlas-thenothingivebecome.yml
Labels: Awaiting Merge, Bugfix

#14434 Fixes the papersack held icon.
  html/changelogs/mattatlas-orchestratethefallout.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/storage/paperbag.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14436 Sanasomnum now has a specific heat.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/mattatlas-cashgrab.yml
Labels: Awaiting Merge, Bugfix

#14435 The pickup animation now correctly applies item colour.
  code/game/atoms_movable.dm
  html/changelogs/mattatlas-pickitup.yml
Labels: Awaiting Merge, Bugfix

#14442 Protolathe now ejects plasteel properly; fix for #14299
  code/modules/research/rdconsole.dm
  code/modules/research/rdmachines.dm
  html/changelogs/DreamySkrell-PR-14442.yml
Labels: Awaiting Merge, Bugfix

#14441 Emergency softsuit and air for emergency pod survivors; fix for #14384
  code/modules/ghostroles/spawner/human/emergencypod.dm
  html/changelogs/DreamySkrell-PR-14441.yml
Labels: Awaiting Merge, Bugfix

#14449 Fixes Some Hull Windows
  html/changelogs/hull_window_corner_fixes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14444 Silicons can un-electrify doors; fix
  code/game/machinery/doors/airlock.dm
  html/changelogs/DreamySkrell-PR-14444.yml
Labels: Awaiting Merge, Bugfix

#14452 Minor flagpatch typo fixes
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/llywelwyn-typos.yml
Labels: Awaiting Merge, Bugfix

#14437 Skrell Hair Gradient - Headtail Hard Fade
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/DreamySkrell-PR-14437.yml
  icons/mob/hair_gradients.dmi
Labels: Awaiting Merge, Sprites

#14440 Revolver, freelancer suit tweaks
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  html/changelogs/dansemacabre-slightchanges.yml
Labels: Awaiting Merge

#14135 Various removals.
  code/datums/outfits/outfit_antag.dm
  code/datums/trading/misc.dm
  code/datums/trading/weaponry.dm
  code/game/objects/effects/decals/posters/bs12.dm
  code/game/objects/effects/decals/posters/tgposters.dm
  code/game/objects/effects/landmarks.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/background/citizenship/human.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/ghostroles/spawner/human/emergencypod.dm
  code/modules/hallucinations/text_lists/hallucinated_phrases.txt
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/bot/ed209bot.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/psionics/equipment/cerebro_enhancers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/dansemacabre-referencekiller.yml
  icons/mob/head.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/contraband.dmi
  icons/obj/guns/deckard.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/sccv_horizon/backup/placeholder-4_centcomm.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#14456 Satchel tweaks + Lockbox Fix
  code/game/objects/items/weapons/storage/lockbox.dm
  html/changelogs/wezzy_satcheltweaks.yml
  icons/obj/storage/briefcase.dmi
  icons/obj/storage/satchel.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14431 Re-enables mirror reflections.
  code/game/objects/structures/mirror.dm
  html/changelogs/mattatlas-mirrors.yml
Labels: Awaiting Merge

#14422 SCC can take faction/corp items/augs
  code/controllers/subsystems/job.dm
  html/changelogs/DreamySkrell-PR-14422.yml
Labels: Awaiting Merge

#14453 Fixes pickup animation layering and colored chairs
  code/game/atoms_movable.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/dice.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/modules/clothing/under/accessories/lockets.dm
  html/changelogs/wezzy_pickupfix.yml
Labels: Awaiting Merge, Bugfix

#14446 Solarian Army uniform and armor, plus icon fixes
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/clothing/under/jobs/sol.dm
  html/changelogs/dansemacabre-armystrong2.yml
  icons/clothing/kit/modular_armor.dmi
  icons/clothing/under/uniforms/sol_uniform.dmi
Labels: Awaiting Merge, Sprites

#14459 Removes the phoron researcher alt title.
  code/game/jobs/job/science.dm
  html/changelogs/alberyk-nophornresearcher.yml
Labels: Awaiting Merge

#14474 Fixes the RD lacking access to the Intrepid
  code/game/jobs/job/science.dm
  html/changelogs/rd_intrepid_access.yml
Labels: Awaiting Merge, Bugfix

#14461 Adds a Vysokan origin for IPCs.
  code/modules/background/origins/origins/ipc/coalition.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  html/changelogs/SilvieSZ-VysokanIPCOrigin.yml
Labels: Awaiting Merge

#14464 Removes the Skrell nose from sprites
  html/changelogs/Skrellspritetweak.yml
  icons/mob/human_races/skrell/r_def_skrell.dmi
  icons/mob/human_races/skrell/r_skrell.dmi
  icons/obj/contained_items/skrell/srom_masks.dmi
Labels: Awaiting Merge, Sprites

#14468 Maint-drone hat fix
  code/modules/clothing/clothing.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/wezzy_dronehatfix.yml
Labels: Awaiting Merge, Bugfix

#14469 Skrell Hair Gradient - Headtail Middle - not selectable fix
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/DreamySkrell-PR-14469.yml
Labels: Awaiting Merge, Bugfix

#14467 SFA Returns
  code/game/objects/items/devices/modkit.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/dansemacabre-sfareturns.yml
  icons/obj/contained_items/voidsuits/warlordsuit.dmi
  maps/away/ships/sfa_patrol_ship.dmm
  maps/away/ships/sol.dm
  maps/away/ships/sol_ship_ghostroles.dm
Labels: Awaiting Merge, Sprites

#14443 Allow AI to change alert level (again)
  code/modules/modular_computers/file_system/programs/command/comm.dm
  html/changelogs/DreamySkrell-PR-14443.yml
Labels: Awaiting Merge

#14451 Merc, Raider numbers change
  code/game/antagonist/outsider/mercenary.dm
  code/game/antagonist/outsider/raider.dm
  html/changelogs/dansemacabre-powercreept.yml
Labels: Awaiting Merge

#14481 Three bugfixes: icons and bluespace jump text tweak
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/modules/clothing/suits/xeno/tajara.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#14482 Dominian standard description fixes
  code/game/objects/structures/signs.dm
  html/changelogs/dominiaflags.yml
Labels: Awaiting Merge, Bugfix

#14486 Fixes pointblank shots being able to miss.
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile.dm
  html/changelogs/mattatlas-gunfix.yml
Labels: Awaiting Merge, Bugfix

#14492 Pumpkin spice bottle wrong label fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/DreamySkrell-PR-14492.yml
Labels: Awaiting Merge, Bugfix

#14476 Synthetic Accent Fixes
  code/modules/background/defines.dm
  html/changelogs/SilverSZ-SyntheticAccentFixes.yml
Labels: Awaiting Merge

#14501 Self-examine now respects gender identity
  code/modules/mob/living/carbon/carbon.dm
  html/changelogs/MortalRed-Examinefix.yml
Labels: Awaiting Merge, Bugfix

#14491 Axiori Skrell Can Use 'Attach Nymph Limb'
  code/modules/organs/subtypes/nymph_limbs.dm
  html/changelogs/DreamySkrell-PR-14491.yml
Labels: Awaiting Merge, Bugfix

#14494 Surgery kit fix.
  code/game/objects/items/weapons/storage/firstaid.dm
  html/changelogs/wezzy_surgkitfix.yml
Labels: Awaiting Merge, Bugfix

#14509 Fixes Kneebreaker Hammer
  code/game/objects/items/weapons/melee/misc.dm
  html/changelogs/thedococt - kneebreakerfix.yml
Labels: Awaiting Merge, Bugfix

#14487 Ports a ZAS CSRFZ improvement.
  code/ZAS/Turf.dm
  html/changelogs/mattatlas-csrfz.yml
Labels: Awaiting Merge

#14505 Fixes IPCs being unable to take the Jupiter accent.
  code/modules/background/defines.dm
  html/changelogs/mattatlas-ipc_with_huge_uhmm.yml
Labels: Awaiting Merge, Bugfix

#14514 Adds the Jovian accent to Idris Incorporated IPCs
  code/modules/background/origins/origins/ipc/megacorporate.dm
  html/changelogs/omicega-zzzzzzzzzaerearrfdadf.yml
Labels: Awaiting Merge, Bugfix

#14510 Allows Dominian Dionae to use Dominian items
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  html/changelogs/dionacape.yml
Labels: Awaiting Merge, Bugfix

#14489 Lower the max mob size that can be crushed by airlocks
  code/game/machinery/doors/airlock.dm
  html/changelogs/DreamySkrell-PR-14489.yml
Labels: Awaiting Merge

#14430 Adds new cafe garden (take two)
  code/game/objects/structures/flora.dm
  html/changelogs/doc - new cafe garden+stargazer move.yml
  icons/obj/flora/jungletreesmall.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites

#14465 Adds new Skrell accent
  code/modules/background/accent/skrell.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/skrell/jargon.dm
  html/changelogs/tattuqigaccent.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#14463 Adds a Crate contents scanner
  code/game/machinery/autolathe/autolathe_datums.dm
  code/game/objects/structures/crates_lockers/closets.dm
  html/changelogs/flaminglily-cheap-and-easy-paperwork.yml
  icons/obj/device.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites

#14484 Dracula Feeding Tweak
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/KingOfThePing - amogus.yml
Labels: Awaiting Merge

#14462 Add PAI
  html/changelogs/CourierBravo-PR-02.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14470 Engineer Gaming
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/objects/items/weapons/gift_wrappaper.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
  html/changelogs/wezzy_engineer_gaming.yml
  icons/clothing/kit/firefighter.dmi
  icons/mob/head.dmi
  icons/mob/light_overlays.dmi
  icons/mob/species/bulwark/fire.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/hats/hardhats.dmi
  icons/obj/light_overlays.dmi
Labels: Awaiting Merge, Sprites

#14485 General xenoarcheology touchup
  code/modules/research/designs/protolathe/mining_designs.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  code/modules/research/xenoarchaeology/machinery/artifact_scanner.dm
  code/modules/research/xenoarchaeology/tools/suspension_generator.dm
  code/modules/research/xenoarchaeology/tools/tools.dm
  code/modules/research/xenoarchaeology/tools/tools_anoscanner.dm
  code/modules/research/xenoarchaeology/tools/tools_coresampler.dm
  code/modules/research/xenoarchaeology/tools/tools_depthscanner.dm
  code/modules/research/xenoarchaeology/tools/tools_pickaxe.dm
  html/changelogs/xenoarchtouchup.yml
  icons/obj/device.dmi
  icons/obj/mining.dmi
  icons/obj/storage/boxes.dmi
  icons/obj/storage/wallet.dmi
  icons/obj/xenoarchaeology.dmi
  sound/machines/boop1.ogg
  sound/machines/boop2.ogg
  sound/machines/softbeep.ogg
  sound/machines/triplebeep.ogg
Labels: Awaiting Merge, Sprites

#14455 New Asteroid Ruins
  html/changelogs/CourierBravo-PR-01.yml
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
  maps/random_ruins/exoplanets/asteroid/crashed_shuttle_01.dmm
Labels: Awaiting Merge

#14493 Fixes the Dionae right hand
  html/changelogs/Yonnimer-floatingbranch.yml
  icons/mob/human_races/diona/r_diona.dmi
Labels: Awaiting Merge, Sprites

#14500 Merc tweaks
  html/changelogs/dansemacabre-byebomb.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge

#14497 Removes Old Unused Atmospherics Code
  aurorastation.dme
  code/modules/atmospherics/mainspipe.dm
  icons/obj/atmospherics/mainspipe.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#14507 Screw you, Overeasy eggs taste good.
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/wezzy_runnyeggsgood.yml
Labels: Awaiting Merge

#14525 Fixes Unsimulated Steel Walls Not Smoothing
  code/game/turfs/unsimulated/walls.dm
  html/changelogs/cent_smoothing_fixes.yml
Labels: Awaiting Merge, Bugfix

#14508 Improvised Crossbow Nerfs
  code/modules/projectiles/guns/launcher/crossbow.dm
  html/changelogs/KingOfThePing - crossbow_nerfs.yml
Labels: Awaiting Merge

#14504 Adds two new kitchen signs
  code/game/objects/structures/barsign.dm
  html/changelogs/KingOfThePing - kitchensigns_my_beloved.yml
  icons/obj/kitchensigns.dmi
Labels: Awaiting Merge, Sprites

#14524 Queue starlight, optimize exoplanet gen, fix ruin generation
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/lighting.dm
  code/datums/ruins.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf_changing.dm
  code/modules/random_map/random_map.dm
  html/changelogs/johnwildkins-fixlag2.yml
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#14520 Fixes Some Auxiliary Custodial Closet Oversights
  html/changelogs/custaux_fixes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14511 Updates Neith's Holocoat in accordance to the Eridani Rework
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/mekesatis_holocoat.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#14515 Pneumalin for Shuttles
  html/changelogs/KingOfThePing - peridaxon_my_beloved.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge
