Repository Aurorastation/Aurora.3, pull requests merged in 2022-05, with the labels that each got.

#13700 Examining things no longer forces you to look at them.
  code/_onclick/click.dm
  code/modules/mob/mob.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/targeting/targeting_gun.dm
  html/changelogs/mattatlas-examiinefix.yml
Labels: Awaiting Merge, Bugfix

#13714 Lung Rescue Surgery Fixes
  code/modules/organs/internal/_internal.dm
  code/modules/organs/internal/lungs.dm
  code/modules/surgery/organs_internal.dm
  html/changelogs/lung_rescue_surgery.yml
Labels: Awaiting Merge, Bugfix

#13699 Adds Weishii Robes to Skrell Loadout
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/weishiirobe.yml
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#13698 Adds a toggle to switch accents from images to text tags.
  code/__defines/misc.dm
  code/modules/background/accent/accent.dm
  code/modules/background/accent/diona.dm
  code/modules/background/accent/human.dm
  code/modules/background/accent/misc.dm
  code/modules/background/accent/silicon.dm
  code/modules/background/accent/skrell.dm
  code/modules/background/accent/tajara.dm
  code/modules/background/accent/unathi.dm
  code/modules/background/accent/vaurca.dm
  code/modules/client/client procs.dm
  code/modules/mob/mob_helpers.dm
  code/unit_tests/origins_tests.dm
  html/changelogs/mattatlas-accenttext.yml
Labels: Awaiting Merge

#13473 Western Bar Expansion
  html/changelogs/wickedcybs-mappies.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13729 Adds specific heat value to Ambrosia Extract
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  html/changelogs/llywelwyn-ambrosia_heatvalue.yml
Labels: Review Required, Bugfix

#13636 Deck 1 Research E.V.A. and Xenoarcheology QoL and Fixes Remap
  code/modules/shuttles/shuttle_lift.dm
  html/changelogs/hangar_research_remap.yml
  icons/obj/computer.dmi
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Review Required, Sprites

#13707 IV Drip Breath Mask Following and Crashing Removal
  code/game/machinery/iv_drip.dm
  html/changelogs/ultimate_breath_mask_fix.yml
Labels: Awaiting Merge

#13607 Slight Button and Light Switch Sprite Tweak
  html/changelogs/button_sprite_tweak.yml
  icons/obj/power.dmi
  icons/obj/stationobjs.dmi
Labels: Awaiting Merge, Sprites

#13701 Fixes some badly mapped tank dispensers. Adds some phoron tanks to Ops Secure Storage.
  html/changelogs/phoron-tanks.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13604 Adds Service Airlocks
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/door_assembly.dm
  code/modules/materials/material_recipes.dm
  html/changelogs/service_airlock.yml
  icons/obj/doors/door_assembly.dmi
  icons/obj/doors/doorint.dmi
  icons/obj/doors/doorser.dmi
  icons/obj/doors/doorserglass.dmi
Labels: Awaiting Merge, Sprites

#13712 Show Extra Descriptions in Chat
  aurorastation.dme
  code/game/atoms.dm
  code/game/gamemodes/cult/items/clothes.dm
  code/game/gamemodes/cult/items/tome.dm
  code/game/objects/items/devices/lighting/lamp.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/tanks/tank_types.dm
  code/modules/examine/examine.dm
  code/modules/library/lib_items.dm
  code/modules/mob/mob.dm
  html/changelogs/show_extra_desc_tochat.yml
Labels: Awaiting Merge

#13713 Increased economic modifier for Consulars and Reps
  code/game/jobs/job/outsider/representative.dm
  html/changelogs/Ben10083 - ILoveMoney.yml
Labels: Awaiting Merge

#13747 Fix loot crate runtime + bad mapped-in crate paths
  code/game/objects/structures/crates_lockers/crates.dm
  html/changelogs/johnwildkins-fixcrate.yml
  maps/away/romanovich/first_aurora.dmm
  maps/away/romanovich/grand_romanovich.dmm
Labels: Awaiting Merge, Bugfix

#13717 Adds long variations of algae, refactors headtail cloths
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/ears/skrell.dm
  html/changelogs/llywelwyn-skrell-headgear-changes.yml
  icons/obj/skrell_items.dmi
Labels: Awaiting Merge, Sprites

#13745 Fixes some Tajaran loadout items not having the proper sprites
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/suits/xeno/tajara.dm
  html/changelogs/alberyk-tajclothingfix.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13640 Sol suits lore, new generic softsuit sprite.
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/dansemacabre-larp.yml
  icons/clothing/rig/military.dmi
  icons/mob/head.dmi
  icons/mob/suit.dmi
Labels: Awaiting Merge, Changes Required, Sprites

#13725 Removes the Bubble Shield
  html/changelogs/wickedcybs_nobubble.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13719 Adds a New Bluespace Turf Sprite
  html/changelogs/new_bluespace_sprite.yml
  icons/turf/space.dmi
Labels: Awaiting Merge, Sprites

#13753 Bar Lounge Air Alarm Placement Fix
  html/changelogs/wickedcybs_barfix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13687 Small tweak to the thruster piping.
  html/changelogs/Leudoberct1-Nacellechanges.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#13749 Diona nymphs that grow now spawn the new mob correctly
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/alien/diona/progression.dm
  code/modules/mob/living/carbon/human/human_species.dm
  html/changelogs/diona-invisible-trunk-fix.yml
Labels: Awaiting Merge, Bugfix

#13744 Crew Armoury Maint Window Fix
  html/changelogs/wickedcybs_wallfix.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#13746 Grippers can now be properly used on other robot module equipment
  code/_onclick/cyborg.dm
  html/changelogs/gripper-on-contents.yml
Labels: Awaiting Merge, Bugfix

#13715 Adds zi'pluax mantle, slugger wetsuit to Skrell loadout + minor bugfix
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/head/xenos/skrell.dm
  code/modules/clothing/under/xenos/skrell.dm
  html/changelogs/llywelwyn-genner-items.yml
  icons/obj/skrell_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13754 Brig Cell 4 Bugfix
  html/changelogs/Ben10083 - Cell4.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13630 Mech Bay QoL and Fixes
  html/changelogs/mech_bay_remap.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#13763 Fixes Skrell Mantle Recoloring
  html/changelogs/bugfix.yml
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/obj/skrell_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13759 TCFL Barrier + Maglock Bugfix
  code/game/machinery/deployable.dm
  code/game/objects/items/devices/magnetic_lock.dm
  html/changelogs/Ben10083 - Legion_Barrier.yml
Labels: Awaiting Merge, Bugfix

#13733 Adds Sec Newscaster to Warden's Office
  html/changelogs/Ben10083 - WardenOffice.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#13768 Space Bar Bugfixes
  html/changelogs/Ben10083 - SpaceBarBugs.yml
  maps/away/generic/space_bar.dmm
  maps/away/generic/space_bar_ghostroles.dm
Labels: Awaiting Merge, Bugfix

#13756 Adds Attachable Versions of the New Taj Cloaks
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  html/changelogs/wickedcybs_tajcloak.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#13783 Watch Immersion Fix
  code/modules/clothing/wrists/watches.dm
  html/changelogs/Ben10083 - Watch.yml
Labels: Awaiting Merge, Bugfix

#13782 Observer Landmark Runtime Bugfix
  code/modules/mob/abstract/observer/observer.dm
  html/changelogs/landmark_bugfix.yml
Labels: Awaiting Merge, Bugfix

#13741 Extra Hangar for the Grand Romanovich
  html/changelogs/wickedcybs_romanovichdock.yml
  maps/away/romanovich/grand_romanovich.dm
  maps/away/romanovich/grand_romanovich.dmm
Labels: Awaiting Merge

#13736 Tesla prosthetics eyes can now use night vision
  aurorastation.dme
  code/modules/organs/internal/species/tajara.dm
  code/modules/organs/internal/species/vaurca.dm
  html/changelogs/alberyk-tesla_eyes.yml
Labels: Awaiting Merge

#13751 Adds some fuel tanks and portable air scrubbers to the map
  html/changelogs/engi-scrubber-fuel-tanks.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13760 TCFL V1.25
  html/changelogs/Ben10083 - TCFL_V2.yml
  maps/away/ships/biesel_ship_ghostroles.dm
  maps/away/ships/tcfl_peacekeeper_ship.dmm
Labels: Awaiting Merge

#13670 Distinguish Between Service and Civilian on Crew Manifest
  code/__defines/jobs.dm
  code/__defines/subsystem-defines.dm
  code/game/jobs/job/ship_crew.dm
  code/game/jobs/jobs.dm
  code/modules/admin/banjob.dm
  code/modules/modular_computers/file_system/programs/command/card.dm
  code/modules/world_api/commands/server_query.dm
  html/changelogs/manifest_additions.yml
  nano/templates/identification_computer.tmpl
  vueui/src/assets/departmental.scss
Labels: Awaiting Merge, VueUi

#13737 Lazarus Injector and Medical Synthesizer Additions
  code/modules/mining/mine_items.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  html/changelogs/lazarus_injector_medical_synthesizer.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
  icons/obj/syringe.dmi
Labels: Awaiting Merge, Sprites

#13796 Fixes Unselectable SCC Roles
  code/__defines/jobs.dm
  html/changelogs/valid_roles_bugfix.yml
Labels: Awaiting Merge, Bugfix

#13803 Fix latejoins not receiving job equipment + IDs
  code/controllers/subsystems/job.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/johnwildkins-fixlatejoin.yml
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: High Priority, Review Required, Bugfix

#13811 Fix loadout item duplication on spawn
  code/controllers/subsystems/job.dm
  code/game/jobs/job/job.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, High Priority, Bugfix

#13770 Increases overmap hazard density
  html/changelogs/alberyk-hazarddensity.yml
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge

#13790 Fixes Shutter Button in Hangar
  html/changelogs/shutter_button_bugfix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#13788 Alarmfix
  code/game/machinery/firealarm.dm
  html/changelogs/Afya-alarmfix.yml
Labels: Awaiting Merge, Bugfix

#13775 Resprites the Emergency Softsuit
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  html/changelogs/emergency_softsuit_resprite.yml
  icons/mob/head.dmi
  icons/mob/items/clothing/lefthand_hats.dmi
  icons/mob/items/clothing/lefthand_suit.dmi
  icons/mob/items/clothing/righthand_hats.dmi
  icons/mob/items/clothing/righthand_suit.dmi
  icons/mob/mask.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/contained_items/softsuits/softsuit.dmi
  icons/obj/contained_items/softsuits/softsuit_emergency.dmi
Labels: Awaiting Merge, Sprites

#13779 Fix mining equipment orders and orbital drills
  code/controllers/subsystems/cargo.dm
  code/modules/mining/machine_vending.dm
  html/changelogs/johnwildkins-cargofix.yml
  maps/templates/orbital/drill.dmm
Labels: Awaiting Merge, Bugfix

#13776 Maps in the Service Airlocks
  html/changelogs/map_service_airlocks.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13766 XenoBot QOL 1.0
  html/changelogs/Huntime - XenoBot QOL.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#13769 Lawgiver rename
  code/modules/projectiles/guns/energy/lawgiver.dm
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora

#13399 Chem Bottles, Beakers and Medcup Resprites
  code/game/machinery/vending_types.dm
  code/modules/client/asset_cache.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/beakers_chembottles_sprites.yml
  icons/obj/chemical.dmi
  icons/obj/reagentfillings.dmi
Labels: Awaiting Merge, Sprites

#13813 Fix cyborgs spawning with wheelchairs
  code/controllers/subsystems/job.dm
  html/changelogs/johnwildkins-wheelchair.yml
Labels: Awaiting Merge, Bugfix

#13820 Fix voidsuits and helmets having no icon
  code/game/gamemodes/cult/items/armor.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/clothing/spacesuits/void/void.dm
  code/modules/psionics/equipment/cerebro_enhancers.dm
  code/modules/research/xenoarchaeology/tools/anomaly_suit.dm
  html/changelogs/johnwildkins-suitfix.yml
Labels: Awaiting Merge, High Priority, Bugfix

#13821 Fixes the New Hair Sprite Names
  html/changelogs/hair_icon_name_bugfix.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13814 Vendor Outside of Investigations Density Fix
  html/changelogs/wickedcybs_vendorfix.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#13819 Fixes HoS Fax Machine Name
  html/changelogs/hos_fax.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13810 Gives the new kitchen sign proper access
  code/game/objects/structures/barsign.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13778 Adds kippah to loadout/religion
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/llywelwyn-kippah.yml
  icons/clothing/head/kippahs.dmi
Labels: Awaiting Merge, Sprites

#13793 Fix automatic waypoints duplicating the overmap level name
  code/modules/shuttles/landmarks.dm
  html/changelogs/johnwildkins-fixwaypoints.yml
Labels: Awaiting Merge, Bugfix

#13800 Fixes Dekel's Custom Item
  code/modules/customitems/item_defines.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13804 Kitchen Map Bugfixes
  html/changelogs/ordering_terminal_pos.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13787 Sec cell timer
  code/game/machinery/doors/brigdoors.dm
  code/modules/law/laws/low_severity.dm
  html/changelogs/Afya212-Sec-Fixes.yml
Labels: Awaiting Merge

#13809 Mantle Fix 2.0 and Refactoring Skrell Sprites
  code/game/objects/items/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/clothing/ears/skrell.dm
  code/modules/clothing/head/xenos/skrell.dm
  code/modules/clothing/masks/breath.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/xeno/skrell.dm
  code/modules/clothing/under/xenos/skrell.dm
  html/changelogs/mantle.yml
  icons/obj/contained_items/skrell/algae.dmi
  icons/obj/contained_items/skrell/bands.dmi
  icons/obj/contained_items/skrell/chains.dmi
  icons/obj/contained_items/skrell/dreamer_mantle.dmi
  icons/obj/contained_items/skrell/federation_uniform.dmi
  icons/obj/contained_items/skrell/gillcover.dmi
  icons/obj/contained_items/skrell/headtail_cloth.dmi
  icons/obj/contained_items/skrell/jargon_caps.dmi
  icons/obj/contained_items/skrell/jargon_cloaks.dmi
  icons/obj/contained_items/skrell/jargon_jackets.dmi
  icons/obj/contained_items/skrell/jargon_uniforms.dmi
  icons/obj/contained_items/skrell/jargtag.dmi
  icons/obj/contained_items/skrell/nralakk_projector.dmi
  icons/obj/contained_items/skrell/qeblak_uniform.dmi
  icons/obj/contained_items/skrell/scrunchies.dmi
  icons/obj/contained_items/skrell/skrell_ponchos.dmi
  icons/obj/contained_items/skrell/slugger_wetsuit.dmi
  icons/obj/contained_items/skrell/stellascope.dmi
  icons/obj/skrell_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13771 Adds a newscaster to the Chaplain's office
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Changelog Required

#13684 Tramp freighter ship, hivebot mini-away site.
  aurorastation.dme
  html/changelogs/dansemacabre-alittlethieving.yml
  maps/away/generic/hivebot_hub.dm
  maps/away/generic/hivebot_hub.dmm
  maps/away/ships/tramp_freighter.dmm
  maps/away/ships/wildcard.dm
  maps/away/ships/wildcard_ship_ghostroles.dm
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge

#13691 Horizon Shuttle Enhancements: Multiple Areas + Power + Layout Changes
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/power/apc.dm
  code/modules/power/smes_construction.dm
  html/changelogs/intrepid_wickedcybs.yml
  icons/obj/handrail.dmi
  maps/_common/areas/shuttles.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites

#13827 Removes Visitation Access Button from Security Lobby
  html/changelogs/Ben10083.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13802 Fixes tajaran subspecies having access to origins they should not
  code/modules/background/origins/origins/tajara/adhomai.dm
  code/modules/background/origins/origins/tajara/offworld.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/alberyk-backgroundfix.yml
Labels: Awaiting Merge, Bugfix

#13785 Fix FSF patrol ship and replace corpses in hideout
  code/modules/awaymissions/corpse.dm
  html/changelogs/johnwildkins-fixaway.yml
  maps/away/ships/fsf_patrol_ship.dmm
  maps/random_ruins/exoplanets/asteroid/hideout.dmm
Labels: Awaiting Merge, Bugfix

#13784 Add orbital minecart droppers
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  code/modules/mining/machine_vending.dm
  code/modules/mining/mine_items.dm
  code/modules/vehicles/cargo_train.dm
  html/changelogs/johnwildkins-orbitaltrain.yml
  maps/templates/orbital/minecart.dmm
  maps/templates/orbital/orbital_templates.dm
Labels: Awaiting Merge

#13792 The Rumbling: Removal of Security's Black Glove Roundstart Spawn
  code/game/jobs/job/security.dm
  html/changelogs/wickedcybs_gloves.yml
Labels: Awaiting Merge

#13791 Clerical Powercreep
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/modular_computers/items/paper_scanner.dm
  html/changelogs/Ben10083 - Clerical.yml
Labels: Awaiting Merge

#13762 Combustion Chamber Expansions
  html/changelogs/wickedcybs_nacelle.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#13838 Stamp overlay bugfix
  code/modules/paperwork/paper.dm
  html/changelogs/doxxmedearly - foldedpaper_stamp_fix.yml
Labels: Awaiting Merge, Bugfix

#13840 Re-adds the missing Quikpay to the kitchen
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13815 Changes TCFL active service card to reservist in loadout
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/FearTheBlackout-thereserve.yml
Labels: Awaiting Merge

#13806 Implement species-based age restriction for jobs
  code/__defines/species.dm
  code/controllers/subsystems/job.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/outsider/merchant.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/johnwildkins-speciesage.yml
Labels: Awaiting Merge, Lore Impact

#13682 Adds an identifying mantle for Burzsiean IPC's
  code/modules/client/preference_setup/loadout/loadout_xeno/machine.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/Burzsiean-mantle.yml
  icons/clothing/accessories/BZ_Gorget.dmi
Labels: Awaiting Merge, Sprites

#13852 Fixes a Button
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13863 Fixes the Amohdan origin having access to the wrong accents
  code/modules/background/origins/origins/tajara/adhomai.dm
  html/changelogs/alberyk-fixamohdaccent.yml
Labels: Awaiting Merge, Bugfix

#13253 Skrell sprint is no longer absolutely terrible.
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell_subspecies.dm
  html/changelogs/mattatlas-skrellbuffslmao.yml
Labels: Awaiting Merge

#13880 Fix uplinks being inaccessible off-Horizon
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  html/changelogs/johnwildkins-uplink.yml
  vueui/src/components/view/mcomputer/chat/index.vue
Labels: Awaiting Merge, VueUi, Bugfix

#13861 Fixes accent icon text tags not showing up on the radio.
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/mob/hear_say.dm
  html/changelogs/mattatlas-radioaccentfix.yml
Labels: Awaiting Merge, Bugfix

#13879 Fixes organ processing not happening if there is pain but no actual damage.
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-organprocess.yml
Labels: Awaiting Merge, Bugfix

#13864 Tramp freighter mapping QOL
  html/changelogs/doxxmedearly - freighter_qol.yml
  maps/away/ships/tramp_freighter.dmm
Labels: Awaiting Merge, Bugfix

#13871 Fixes Journalist's Corkboard
  html/changelogs/journalist_corkboard.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#13867 Fix suit coolers and exosuits for IPCs
  code/controllers/subsystems/mob.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/heavy_vehicle/components/body.dm
  html/changelogs/johnwildkins-ipcfixcool.yml
Labels: Awaiting Merge, Bugfix

#13826 TCFL Minor Map Bugfix
  html/changelogs/Ben10083 TCFLTweak.yml
  maps/away/ships/tcfl_peacekeeper_ship.dmm
Labels: Awaiting Merge

#13628 Adds a way for Skrell to pull non-psionics into the Srom.
  code/modules/organs/organ_external.dm
  code/modules/shareddream/dream_entry.dm
  html/changelogs/mattatlas-srompull.yml
Labels: Awaiting Merge

#13870 Fixes the Brig Communal Chute
  html/changelogs/communal_outlet.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13876 Outfit and Access Spring Cleaning
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/orion_express.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/science.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/johnwildkins-zengfix.yml
  icons/obj/contained_items/department_uniforms/service.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13877 Fixes ghosts resetting their alpha at round end.
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  html/changelogs/mattatlas-goast.yml
Labels: Awaiting Merge, Bugfix

#13872 Xeno Ghostrole Fixes
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/doxxmedearly-xeno_ghostroles.yml
  maps/away/generic/space_bar_ghostroles.dm
  maps/away/ships/biesel_ship_ghostroles.dm
  maps/away/ships/corporate_ship_ghostroles.dm
  maps/away/ships/sol_ship_ghostroles.dm
  maps/away/ships/wildcard_ship_ghostroles.dm
Labels: Awaiting Merge, Bugfix

#13874 Fixes Atmos Techs Missing Deck 1 Tech Storage Access
  html/changelogs/deck1_techstorage.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#13833 Adds bounty for a Reuben sandwich
  code/modules/cargo/bounties/chef.dm
  html/changelogs/llywelwyn-reubenbounty.yml
Labels: Awaiting Merge

#13730 Racer Station Away Site
  aurorastation.dme
  html/changelogs/dansemacabre-topgear.yml
  maps/away/generic/racers.dm
  maps/away/generic/racers.dmm
Labels: Awaiting Merge

#13835 Small Bridge Control Room Tweaks
  html/changelogs/bridge_tweaks.yml
  maps/_common/areas/station/command.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13892 Disable mirror reflections to unclog the toilet
  code/game/objects/structures/mirror.dm
  html/changelogs/johnwidlkins-mirrormirror.yml
Labels: High Priority, Review Required, Bugfix

#13903 Adds some missing human origins.
  code/modules/background/origins/origins/human/coalition.dm
  html/changelogs/mattatlas-humanorigins.yml
Labels: Awaiting Merge, Bugfix

#13902 Fix suit cooler processing when destroyed
  code/game/objects/items/devices/suit_cooling.dm
  html/changelogs/johnwildkins-fixcool.yml
Labels: Awaiting Merge, Bugfix

#13889 Fixes a Missing Research Disposal Piece
  html/changelogs/research_disposal.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13891 Vampire screech affects windoors
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/doxxmedearly-vampscreech.yml
Labels: Awaiting Merge, Bugfix

#13890 Spiderbot Blood Fix
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  html/changelogs/doxxmedearly-spiderdrone_blood.yml
Labels: Awaiting Merge, Bugfix

#13907 Chemsmoke Runtime fix
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  html/changelogs/doxxmedearly-chemsmoke_runtimes.yml
Labels: Review Required, Bugfix

#13857 Radiation and hallucinations tweak
  code/game/dna/dna2_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/doxxmedearly - rad_hal_changes.yml
Labels: Awaiting Merge

#13905 Queenless Origin Fix
  code/modules/background/origins/origins/vaurca/klax.dm
  code/modules/background/origins/origins/vaurca/zora.dm
  html/changelogs/doxxmedearly-queenless_origin_fix.yml
Labels: Awaiting Merge, Bugfix

#13897 Fix Cargo Conveyor
  html/changelogs/cargo_conveyor_bugfix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#13858 New Radiation Sign Sprite
  html/changelogs/radsign.yml
  icons/obj/decals.dmi
Labels: Awaiting Merge, Sprites

#13807 The Clerical Module Strikes Back
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/Ben10083 Purge.yml
Labels: Awaiting Merge, Balance

#13797 Implements a Pen Augment
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/pen.dm
  html/changelogs/Ben10083 - AugPens.yml
  icons/obj/bureaucracy.dmi
Labels: Awaiting Merge, Changes Required, Sprites

#13887 Replaces Reinforced Plating with Airless Variant
  html/changelogs/airless_plating.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Review Required, Bugfix, Waiting Period

#13846 Dropper and Pipettes Additions
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/reagents/reagent_containers/dropper.dm
  html/changelogs/dropper_electronic_cyborg_pipettes.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
  icons/obj/chemical.dmi
  icons/obj/reagentfillings.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites

#13860 Implements beakmouth speech impediment for Skrell using auto-hiss + adds small auto-hiss functionality
  code/modules/mob/living/autohiss.dm
  html/changelogs/llywelwyn-skrell-autohiss.yml
Labels: Awaiting Merge

#13906 Bridge Shutter Fix
  html/changelogs/Ben10083 - BridgeShutter.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#13885 Add waitfor=FALSE to visible_message
  code/datums/datum.dm
  code/game/atoms.dm
  code/modules/mob/mob.dm
  html/changelogs/johnwildkins-waitfor.yml
Labels: Awaiting Merge, Performance

#13932 Sanitizes an Object's Variable
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13893 Srom no longer crashes you on death
  code/modules/mob/death.dm
  code/modules/shareddream/brainghost.dm
  code/modules/shareddream/dream_entry.dm
  html/changelogs/llywelwyn-srom-bugfix.yml
Labels: Awaiting Merge, Bugfix

#13936 NBT Uniform Fixes
  code/controllers/subsystems/job.dm
  code/datums/outfits/ert/ap_eridani.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/security.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/wezzy_NBTuniformtweaks.yml
  icons/mob/clothing/suit/labcoat.dmi
  icons/mob/eyes.dmi
  icons/obj/clothing/hats/berets.dmi
  icons/obj/clothing/hats/soft_caps.dmi
  icons/obj/contained_items/department_uniforms/medical.dmi
  icons/obj/contained_items/department_uniforms/security.dmi
  icons/obj/contained_items/department_uniforms/service.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13915 Corrects Dominian Honor Codex
  code/game/objects/items/weapons/manuals.dm
  html/changelogs/dominia_honor_fix.yml
Labels: Awaiting Merge, Bugfix

#13930 Garygoyle -> gargoyle
  code/modules/clothing/spacesuits/void/misc.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13908 Adds a suit cooler to the HOS locker
  html/changelogs/doxxmedearly-hos_cooling.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#13888 Kitchen Freezer and Deck 1 Cameras Bugfix
  html/changelogs/kitchen_bugfix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#13837 Small Security Lobby Tweaks
  html/changelogs/sec_imptrackconsole.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#13924 Fixes Holodeck Being Unshielded from Radiation
  code/modules/holodeck/HolodeckControl.dm
  code/unit_tests/map_tests.dm
  html/changelogs/holodeck_bugfix.yml
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/code/sccv_horizon_holodeck.dm
  maps/sccv_horizon/code/sccv_horizon_unittest.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix

#13922 Morgue APC Bugfix
  html/changelogs/morgue_apc_bugfix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#13895 Clerical Module Radio Changes
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/Ben10083 - ClericalRadio.yml
Labels: Awaiting Merge

#13844 Spiderbots can now be given access
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  html/changelogs/Ben10083 - Spida.yml
Labels: Awaiting Merge

#13952 Medical Wall Lockers Fix
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  html/changelogs/medical_walllocker_locked.yml
Labels: Awaiting Merge, Bugfix

#13927 Bridge Bugfixes
  html/changelogs/bridge_bugfix.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#13939 Fix yield declarations and the Racer away site
  code/modules/mining/machine_processing.dm
  html/changelogs/johnwildkins-minerace.yml
  maps/away/generic/racers.dmm
Labels: Awaiting Merge, Bugfix

#13966 Spiderbot Sync User Notice
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  html/changelogs/Ben10083 - SpiderbotSyncMsg.yml
Labels: Awaiting Merge, Bugfix

#13953 Chem Bottles and Beakers In-hands Fix
  html/changelogs/bottles_beaker_inhand_swap.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13969 Unusual Container Fixes
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  html/changelogs/doxxmedearly-cratesbugfix.yml
Labels: Awaiting Merge, Bugfix

#13963 Skrell Headtail Blotches Fix
  html/changelogs/blotch.yml
  icons/mob/hair_gradients.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#13957 Removes errant mentions of Eridani PMC from the PMCG glasses and beret.
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/berets.dm
  html/changelogs/mattatlas-eridanirefs.yml
Labels: Awaiting Merge, Bugfix

#13956 Removes berets from security loadouts again.
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  html/changelogs/mattatlas-noberets.yml
Labels: Awaiting Merge, Bugfix

#13881 Adds Konyanger dresses.
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/factions/konyang.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/shirts.dm
  code/modules/clothing/under/skirts.dm
  html/changelogs/stryker-loadoutpr12.yml
  icons/clothing/accessories/sash_horizontal.dmi
  icons/clothing/head/konyang_gat.dmi
  icons/clothing/under/uniforms/konyang_dress_traditional.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/skirts.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#13968 Fixes Nico-Tine Box
  code/game/objects/items/weapons/storage/misc.dm
  html/changelogs/wezzy_cigboxfix.yml
Labels: Awaiting Merge, Bugfix

#13933 Adds Skrell tarot cards to loadout
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/games/cards.dm
  code/modules/games/tarot.dm
  html/changelogs/llywelwyn-skrelltarot.yml
  icons/obj/playing_cards.dmi
Labels: Awaiting Merge, Sprites

#13980 Fixes Unusual Container Recursion Bug
  code/game/objects/structures/crates_lockers/crates.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#13942 Revert Terminals + New Ringer
  code/game/machinery/ringer.dm
  html/changelogs/wezzy_revertterminals.yml
  icons/obj/terminals.dmi
Labels: Awaiting Merge, Sprites

#13913 Optimizes get_mobs_or_objs_in_view()
  code/_helpers/game.dm
  code/game/atoms.dm
  code/modules/mob/mob.dm
Labels: Awaiting Merge, Changelog Required, Performance

#13931 Increase ZAS/SSMob priority, decrease misc. prio
  code/__defines/master_controller.dm
  code/__defines/subsystem-priority.dm
  html/changelogs/johnwildkins-priorities.yml
Labels: Awaiting Merge, Performance

#13940 Replace Aurora with Horizon (dynamically), NT -> SCC
  code/controllers/subsystems/job.dm
  code/datums/ert/nanotrasen.dm
  code/game/antagonist/outsider/revenant.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/gamemodes/burglars/burglars.dm
  code/game/gamemodes/changeling/helpers/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/heist/heist.dm
  code/game/gamemodes/mixed/acolytes.dm
  code/game/gamemodes/mixed/conflict.dm
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/mixed/incursion.dm
  code/game/gamemodes/mixed/intrigue.dm
  code/game/gamemodes/mixed/siege.dm
  code/game/gamemodes/mixed/towerdefense.dm
  code/game/gamemodes/mixed/traitorling.dm
  code/game/gamemodes/mixed/veilparty.dm
  code/game/gamemodes/mixed/visitors.dm
  code/game/gamemodes/ninja/ninja.dm
  code/game/gamemodes/nuclear/nuclear.dm
  code/game/gamemodes/technomancer/technomancer.dm
  code/game/gamemodes/traitor/traitor.dm
  code/game/gamemodes/vampire/vampire.dm
  code/game/jobs/faction/faction.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/background/citizenship/human.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/cargo/bounties/engineer.dm
  code/modules/clothing/factions/himeo.dm
  code/modules/clothing/spacesuits/void/captain.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/color.dm
  code/modules/cooking/machinery/icecream.dm
  code/modules/economy/Events.dm
  code/modules/events/rescue_pod.dm
  code/modules/ghostroles/spawner/antagonist/revenant.dm
  code/modules/ghostroles/spawner/atom/matriarchmaintdrone.dm
  code/modules/ghostroles/spawner/human/admin/ccia.dm
  code/modules/ghostroles/spawner/human/responseteams/deathsquad.dm
  code/modules/ghostroles/spawner/human/responseteams/syndicate.dm
  code/modules/ghostroles/spawner/human/responseteams/unathi/kataphracts.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/ghostroles/spawner/simplemob/rat.dm
  code/modules/law/incident.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/living/silicon/robot/drone/drone.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_control.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/johnwildkins-SCCNT.yml
  maps/_common/mapsystem/map.dm
  maps/runtime/code/runtime.dm
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge, Bugfix

#13988 Explosion Performance
  code/controllers/subsystems/explosives.dm
  code/controllers/subsystems/lighting.dm
  code/game/machinery/deployable.dm
  code/game/machinery/doors/door.dm
  code/game/objects/structures/inflatable.dm
  code/game/objects/structures/window.dm
  code/modules/modular_computers/computers/modular_computer/damage.dm
  code/modules/multiz/hoist.dm
  code/modules/power/cable.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/tables/tables.dm
  html/changelogs/johnwildkins-explodefaster.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix, Performance

#13991 Wardens have their peaked caps again.
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  html/changelogs/mattatlas-peakedcaps.yml
Labels: Awaiting Merge, Bugfix

#13854 Adds body markings, hairstyles, and a modified tie-hair verb to Skrell
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/llywelwyn-bodymarkings_hairstyles.yml
  icons/mob/human_face/skrell_hair.dmi
  icons/mob/human_races/markings_skrell.dmi
Labels: Awaiting Merge, Sprites

#13982 Fire Alarm Unit Tests
  code/unit_tests/map_tests.dm
  html/changelogs/johnwildkins-firealarms.yml
  maps/_common/areas/derelict.dm
  maps/_common/mapsystem/map_unit.dm
  maps/aurora/aurora-2_under-station.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/code/aurora_unittest.dm
  maps/runtime/code/runtime_unittest.dm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/sccv_horizon/code/sccv_horizon_unittest.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Runtime, Bugfix

#13950 Workshop + Cargo maptweak
  html/changelogs/Ben10083 - Workshop.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge
