Repository Aurorastation/Aurora.3, pull requests merged in 2022-10, with the labels that each got.

#14873 Ian and Corgi Resprite
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/corgi.dm
  html/changelogs/niennab-ianandcorgiresprite.yml
  icons/mob/corgi_head.dmi
  icons/mob/npc/pets.dmi
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#14860 Adds the new health analyser noises to PDA scanners and mech scanners
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  html/changelogs/omicega-beepbeepboophealthscanner.yml
Labels: Awaiting Merge

#14886 Med Back Entrance Access Fix
  html/changelogs/wickedcybs_med.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14888 Gun fluff tweaks
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/dansemacabre-espana.yml
Labels: Awaiting Merge

#14901 Fix Solar Control Panel icon
  code/modules/power/solar.dm
  html/changelogs/solar.yml
Labels: Awaiting Merge, Bugfix

#14881 Makes the operations desk holopad long-ranged
  html/changelogs/anconfuzedrock-opsholopad.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14897 Fixes throwing mobs with a grab.
  code/modules/mob/inventory.dm
  html/changelogs/mattatlas-throwingfix.yml
Labels: Awaiting Merge, Bugfix

#14891 Adds scrubbers, vents, and air alarms to clear up areas with messy atmos + adds some holopads
  html/changelogs/omicega-atmosandpads.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14884 Tweaks the Robco Vending Selection
  code/game/machinery/vending_types.dm
  html/changelogs/wickedcybs_robco.yml
Labels: Awaiting Merge

#14892 Removes the second emergency tesla beacon from the tesla room itself
  html/changelogs/omicega-stopbreakingthetesla.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#14893 Removes the Rescue/Burglar Pod from Random Event Spawning
  code/modules/events/event_container.dm
  html/changelogs/wickedcybs_pod.yml
Labels: Awaiting Merge

#14545 Psionics firing pin
  code/modules/projectiles/pins.dm
  html/changelogs/DreamySkrell-PR-14545.yml
Labels: Awaiting Merge, Changes Required

#14603 Merchant NBT Update
  code/datums/trading/food.dm
  code/datums/trading/goods.dm
  code/datums/trading/misc.dm
  code/datums/trading/unique.dm
  code/datums/trading/weaponry.dm
  html/changelogs/alberyk-merchant.yml
Labels: Awaiting Merge

#14391 Another PR in the Uniform Saga
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/accessories/armband.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/wezzy_neuniforms.yml
  icons/mob/eyes.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/contained_items/department_uniforms/medical.dmi
  icons/obj/contained_items/department_uniforms/security.dmi
Labels: Awaiting Merge, Sprites

#14918 Fixes Cloudy Eridani Sprite
  html/changelogs/niennab-cloudyeridanifix.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14915 Fixes Cargo Shuttle Docking
  code/modules/recycling/conveyor2.dm
  html/changelogs/cargo_shuttle_docking_fix.yml
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix

#14914 Fixes broken skrell rescue rig leg sprites
  html/changelogs/DreamySkrell.yml
  icons/clothing/rig/medical.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14912 Glowbulbs bugfix
  code/modules/random_map/automata/diona.dm
  html/changelogs/Ben10083 - Dionae.yml
Labels: Awaiting Merge, Bugfix

#14911 Small Variants of Flags and Corporate Logos
  code/_helpers/text.dm
  code/modules/client/asset_cache.dm
  code/modules/paperwork/paper.dm
  html/changelogs/ben10083 - logos.yml
  html/images/barcode0.png
  html/images/barcode1.png
  html/images/barcode2.png
  html/images/barcode3.png
  html/images/beflag_small.png
  html/images/cocflag_small.png
  html/images/domflag_small.png
  html/images/dpraflag_small.png
  html/images/elyraflag_small.png
  html/images/factions/ECFlogo_small.png
  html/images/factions/goldenlogo.png
  html/images/factions/goldenlogo_small.png
  html/images/factions/hephlogo_small.png
  html/images/factions/idrislogo_small.png
  html/images/factions/nanotrasenlogo_small.png
  html/images/factions/orionlogo_small.png
  html/images/factions/pmcglogo_small.png
  html/images/factions/scclogo.png
  html/images/factions/scclogo_small.png
  html/images/factions/zavodlogo_small.png
  html/images/factions/zenghulogo_small.png
  html/images/goldenlogo.png
  html/images/izweskiflag_small.png
  html/images/nkaflag_small.png
  html/images/nralakkflag_small.png
  html/images/ntlogo_small.png
  html/images/praflag_small.png
  html/images/solflag_small.png
Labels: Awaiting Merge

#14908 Fixes Three Mapping Issues
  html/changelogs/map_fixes.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14879 Adds One PDA to the Kata Ship Bridge
  html/changelogs/wickedcybs_pda.yml
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge

#14877 Adds a Maint Door to the Medical Recovery Room
  html/changelogs/wickedcybs_medmaint.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#14909 OM Wristbound Bugfix
  code/game/jobs/job/civilian.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/modular_computers/computers/subtypes/preset_handheld.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  html/changelogs/Ben10083.yml
Labels: Awaiting Merge, Bugfix

#14900 Gives the OM Access to Intrepid and EVA
  code/game/jobs/job/civilian.dm
  html/changelogs/om_access_changelog.yml
Labels: Awaiting Merge

#14887 Phoron Punch to Contraband
  code/game/machinery/vending_types.dm
  html/changelogs/wickedcybs_phoron.yml
Labels: Awaiting Merge

#14683 Adds a Tajaran Smuggler Ship
  aurorastation.dme
  code/game/objects/items/weapons/material/knives.dm
  code/modules/clothing/gloves/xeno/tajara.dm
  code/modules/clothing/shoes/xeno/tajara.dm
  html/changelogs/alberyk-tajsmuggler.yml
  icons/obj/cult.dmi
  icons/obj/tajara_items.dmi
  maps/away/ships/tajaran_smuggler.dm
  maps/away/ships/tajaran_smuggler.dmm
  maps/away/ships/tajaran_smuggler_ghostroles.dm
Labels: Awaiting Merge, Sprites

#14916 Tweaks Ambience Trigger Interval
  code/controllers/subsystems/ticker.dm
  code/game/area/areas.dm
  html/changelogs/ambience_time_tweak.yml
Labels: Awaiting Merge

#14922 Removes walls under the grates near Armory
  html/changelogs/Ben10083 - Walls.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#14925 Removes Security-only restriction on PMCG shoulder patches, substantially buffs PMCG drip
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  html/changelogs/sheeplets.yml
Labels: Awaiting Merge

#14904 Replaces cough syrup in NanoMed Plus vendors with Coagzolug
  code/game/machinery/vending_types.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/Sheeplets.yml
Labels: Awaiting Merge

#14934 Adds missing PMCG alt uniforms.
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/wezzy_pmcgfix.yml
Labels: Awaiting Merge, Bugfix

#14937 Legion barrier sprite fix
  code/game/machinery/deployable.dm
  html/changelogs/Ben10083 - TCFL_Sprite.yml
Labels: Awaiting Merge, Bugfix

#14899 XO and SCC clothing mostly.
  aurorastation.dme
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/factions/scc.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/sets/xo.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/DreamySkrell.yml
Labels: Awaiting Merge

#14902 Holsters for all heads
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  html/changelogs/DreamySkrell.yml
Labels: Awaiting Merge

#14948 Fixes the idris stargazer map not loading
  html/changelogs/kyres1-14946.yml
  maps/event/idris_cruise/idris_cruise-1.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Away Site

#14943 Hangar Deck Third Party Pad Fix
  html/changelogs/wickedcybs_hangarpad.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#14952 Taj Smuggler Ship Fixes
  html/changelogs/wickedcybs_taj.yml
  maps/away/ships/tajaran_smuggler.dmm
Labels: Awaiting Merge, Bugfix

#14949 Ninja Spawn Area Skybox Fix
  html/changelogs/centcomm_skybox_fix.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix

#14962 Fixes a Runtime from PR 14531
  maps/away/ships/tajaran_smuggler_ghostroles.dm
Labels: High Priority, Review Required, Bugfix

#14957 Fixes Engineering Hallway Light Oversight
  html/changelogs/darkness.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#14942 Makes stun talismans stun
  code/game/gamemodes/cult/runes/stun.dm
  html/changelogs/DreamySkrell.yml
Labels: Awaiting Merge

#14940 Cult Armor Generalization
  code/game/gamemodes/cult/items/armor.dm
  code/game/gamemodes/cult/items/clothes.dm
  html/changelogs/cult_armorbutter.yml
Labels: Awaiting Merge

#14928 Biesel Blaster Revolver
  code/modules/background/citizenship/human.dm
  code/modules/projectiles/guns/energy/blaster.dm
  html/changelogs/Ben10083 - BieselBigIron.yml
Labels: Awaiting Merge

#14842 Moves the requests console in the first responder bay.
  html/changelogs/mattatlas-flags.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Review Required, Mapping: Horizon

#14966 Fixes backpacks
  code/game/objects/items/weapons/storage/backpack.dm
Labels: High Priority, Changelog Required, Bugfix

#14448 Command console messages are now actually spoken after being inputted.
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/file_system/programs/command/comm.dm
  html/changelogs/mattatlas-publicserviceannouncement.yml
Labels: Awaiting Merge

#14705 TEG resprite
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/modules/atmospherics/components/binary_devices/circulator.dm
  code/modules/power/generator.dm
  html/changelogs/wezzy_tegresprite.yml
  icons/obj/pipes.dmi
  icons/obj/power.dmi
  sound/effects/beam.ogg
Labels: Awaiting Merge, Sprites

#14756 Oh god, he can't hear us, he's got airpods on
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/ears/earmuffs.dm
  html/changelogs/wezzy_earbud-tweaks.yml
  icons/mob/l_ear.dmi
  icons/mob/r_ear.dmi
  icons/obj/clothing/ears.dmi
  icons/obj/clothing/ears/earmuffs.dmi
Labels: Awaiting Merge, Sprites

#14797 Deck Two - Extended Fore Hallway Area & Separated Stargazer Area
  html/changelogs/wickedcybs_lightfix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Horizon

#14921 Consular access to SOME areas in command
  html/changelogs/Ben10083 - Consular.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#14944 Adds a new Gremorian infested away site
  aurorastation.dme
  html/changelogs/4000daniel1-PR-01.yml
  maps/away/generic/shady.dm
  maps/away/generic/shady.dmm
Labels: Awaiting Merge, Mapping: Away Site

#14968 Backpack strap and inhand fixes
  code/_helpers/global_lists.dm
  code/datums/outfits/outfit.dm
  html/changelogs/wezzy_backpack_new_fix.yml
  icons/obj/storage/backpack.dmi
  icons/obj/storage/courierbag.dmi
  icons/obj/storage/duffelbag.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#14951 Remake of #14569
  aurorastation.dme
  html/changelogs/dansemacabre-rrrrremix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#14956 ISO 8601
  code/modules/mob/mob.dm
  html/changelogs/iso_8601.yml
Labels: Awaiting Merge

#14975 Adds a ladder between bridge maint and bar maint
  html/changelogs/DreamySkrell-bridge-maint-ladder-2.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#14958 Removes the Generic Derelict
  aurorastation.dme
  html/changelogs/away_mission_removal.yml
  maps/away/generic/derelict.dm
  maps/away/generic/derelict.dmm
Labels: Awaiting Merge, Mapping: Away Site

#14923 Custom items 12/10/22
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/aheke_coat.dmi
  icons/obj/custom_items/ahzi_items.dmi
  icons/obj/custom_items/azala_items.dmi
  icons/obj/custom_items/bell_coat.dmi
  icons/obj/custom_items/ielia_tarot.dmi
  icons/obj/custom_items/mira_clothing.dmi
  icons/obj/custom_items/motaki_bandana.dmi
  icons/obj/custom_items/nelson_jacket.dmi
  icons/obj/custom_items/ryan_jacket.dmi
  icons/obj/custom_items/sovno_carrier.dmi
  icons/obj/custom_items/sukhoi_folder.dmi
  icons/obj/custom_items/ulmari_coat.dmi
  icons/obj/custom_items/yotin_knife.dmi
  icons/obj/custom_items/yuri_duster.dmi
  icons/obj/flags.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#14960 Telecomms Adjustment: Swaps the Common Server and Black Box
  html/changelogs/wickedcybs_telecom.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#14959 Makes the phoron sheets in secure storage and rods in engineering storage be full stacks
  html/changelogs/4000daniel1-PR-02.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Horizon

#14861 Broken windows now drop all their materials when shattered
  code/game/objects/structures/window.dm
  html/changelogs/omicega-glassbreakingtime.yml
Labels: Awaiting Merge

#14977 Adds Bucket to CivStation Map
  html/changelogs/zelm-bucket.yml
  maps/away/generic/civilian_station.dmm
Labels: Awaiting Merge, Mapping: Away Site

#14961 Adds a colorable feather trilby to the loadout
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/feartheblackout-featherdreams.yml
  icons/contained_items/clothing/headwear/feather_trilby.dmi
  icons/mob/head.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#14974 Hangar control room nav console
  html/changelogs/DreamySkrell-hangar-control-room-nav-console.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#14792 Ghostspawner whitelist check fix
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/DreamySkrell.yml
Labels: Changes Required, Review Required, Bugfix

#14992 Adds Missing Tiles to the Holodeck
  html/changelogs/holodeck_tiles.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#14978 The 🅱️ o n e z o n e
  aurorastation.dme
  code/game/objects/items/weapons/candle.dm
  code/game/objects/structures/signs.dm
  code/modules/clothing/suits/costumes.dm
  html/changelogs/KingOfThePing - welcome_to_the_(g)raveyard.yml
  icons/obj/clothing/halloween.dmi
  icons/obj/contained_items/halloween_decorations.dmi
  maps/event/idris_cruise/idris_cruise-1.dmm
Labels: Awaiting Merge, Sprites, Mapping: Away Site

#14982 Loadout QoL - unavailable items grayed out and at end of list, culture and origins under items
  code/modules/client/preference_setup/loadout/loadout.dm
  html/changelogs/DreamySkrell-loadout-qol-236.yml
Labels: Awaiting Merge

#14955 Combat Robot Tweaks
  aurorastation.dme
  code/datums/mind.dm
  code/datums/trading/unique.dm
  code/datums/uplink/devices_and_tools.dm
  code/game/gamemodes/antagspawner.dm
  code/modules/alarm/alarm.dm
  code/modules/ghostroles/spawner/atom/combat_robot.dm
  code/modules/ghostroles/spawner/atom/syndicate_cyborg.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/mob/living/silicon/computer.dm
  code/modules/mob/living/silicon/robot/combat_robot.dm
  code/modules/mob/living/silicon/robot/items/upgrades/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/presets.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/bullets.dm
  config/example/tips.txt
  html/changelogs/syndicate_borg_tweaks.yml
Labels: Awaiting Merge

#15000 Fixes crew armoury carbines spawning with full fat 5.56.
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/mattatlas-nomorecheese.yml
Labels: Awaiting Merge, Bugfix
