Repository Aurorastation/Aurora.3, pull requests merged in 2022-01, with the labels that each got.

#12879 Chair overlays fix
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  html/changelogs/wezzy_chairfix3.yml
Labels: Awaiting Merge, Bugfix

#12884 Removes the map christmas decorations
  html/changelogs/ChristmasRemoval.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12871 Removes a specific holiday
  code/game/gamemodes/events/holidays/Holidays.dm
Labels: Awaiting Merge, Changelog Required

#12887 Crit Whisper Fix
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  html/changelogs/geeves-crit_whisper_fix.yml
Labels: Awaiting Merge, Bugfix

#12891 fixes the unathi mantle path
  code/datums/outfits/outfit_antag.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/background/citizenship/unathi.dm
  code/modules/customitems/item_defines.dm
  code/modules/item_worth/worths_list.dm
  html/changelogs/MantleFix.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/event/odin_departure/odin_depature-1.dmm
Labels: Awaiting Merge, Mapping: Aurora, Bugfix

#12888 Skrell Stuff
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/geeves-skrell_stuff.yml
  icons/mob/hair_gradients.dmi
  icons/mob/human_races/markings_skrell.dmi
Labels: Awaiting Merge, Sprites

#12892 fixes cryobags deploying as bodybags
  code/game/objects/items/bodybag.dm
  html/changelogs/CryoBagFix.yml
Labels: Awaiting Merge, Bugfix

#12893 fixes glass business card overlays
  code/game/objects/items/weapons/storage/business_card.dm
  html/changelogs/CardFix.yml
  icons/obj/bureaucracy.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12889 fixes thakhist head wrappings
  code/modules/clothing/masks/xeno/unathi.dm
  html/changelogs/thakhistFix.yml
Labels: Awaiting Merge, Bugfix

#12897 Fixes tendon repair surgery
  code/game/gamemodes/technomancer/spells/mend_organs.dm
  code/modules/surgery/other.dm
  html/changelogs/TendonFix.yml
Labels: Awaiting Merge, Bugfix

#12907 Fixes meteors ignoring shields
  code/game/gamemodes/meteor/meteors.dm
  html/changelogs/MeteorFix.yml
Labels: Awaiting Merge, Bugfix

#12875 organ stuff
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/dekser-organstuff.yml
  icons/obj/surgery.dmi
Labels: Awaiting Merge, Sprites

#12900 Fixes warding sphere sheath animation
  html/changelogs/WardingSphere.yml
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12894 Fixes copier bugs and allows business cards to retain their color when copied
  code/modules/paperwork/photocopier.dm
  html/changelogs/CopyTweak.yml
Labels: Awaiting Merge

#12902 Half-Shaved Bun sprite fix.
  html/changelogs/PunkBunFix.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12906 Removes Elyran citizenship and accent from Skrell
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/omicega-fdsifsdijkofesiorwesjirose.yml
Labels: Awaiting Merge

#12899 Marking cleanup, bugfixes, and one addition
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/Markings.yml
  icons/mob/human_races/markings.dmi
  icons/mob/human_races/markings_skrell.dmi
Labels: Awaiting Merge, Sprites

#12803 Updates power.dmi to be up to snuff.
  code/game/machinery/cell_charger.dm
  code/modules/power/batteryrack.dm
  code/modules/power/breaker_box.dm
  code/modules/power/port_gen.dm
  code/modules/power/smes_construction.dm
  html/changelogs/wezzy_power_update.yml
  icons/obj/power.dmi
Labels: Awaiting Merge, Sprites

#12901 Updates Dominian citizenship & religion lore
  code/modules/background/citizenship/human.dm
  code/modules/background/religion/human.dm
  html/changelogs/DominiaBlurb.yml
Labels: Awaiting Merge

#12869 Changes some parts of forensic
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/ForensicChangesAgain.yml
  icons/obj/reagent_dispensers.dmi
  icons/obj/vialbox.dmi
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#12915 Job Runtime Fix
  code/game/jobs/job/job.dm
  html/changelogs/geeves-job_runtime_fix.yml
Labels: Awaiting Merge, Bugfix

#12868 Changes how forensic machine reports works
  code/modules/clothing/clothing.dm
  code/modules/detectivework/microscope/dnascanner.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/detectivework/tools/sample_kits.dm
  code/modules/detectivework/tools/swabs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/ForensicReports.yml
Labels: Awaiting Merge

#12880 Adds Elyran Standard language
  code/__defines/species_languages.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/ghostroles/spawner/human/responseteams/human/elyra.dm
  code/modules/goonchat/browserassets/css/browserOutput.css
  code/modules/goonchat/browserassets/css/browserOutput_white.css
  code/modules/goonchat/browserassets/css/styles_template.css
  code/modules/mob/language/generic.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/ai_remote_control.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/scripting/Implementations/Telecomms.dm
  code/stylesheet.dm
  html/browser/paper_languages.css
  html/changelogs/omicega-fgokdsfgodsfgodsfgods.yml
Labels: Awaiting Merge

#12918 Fixes APC and cell charger sprites
  code/game/machinery/cell_charger.dm
  html/changelogs/wezzy_powerfixes.yml
  icons/obj/power.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#12925 Fixes exoplanet turf generation.
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/turfs.dm
  html/changelogs/mattatlas-exoplanetfixes.yml
  maps/runtime/code/runtime.dm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-3.dmm
Labels: Awaiting Merge, Mapping: Runtime, Bugfix

#12898 adds Epsilon Ursae Minoris as a new citizenship type for skrell and diona
  code/__defines/species.dm
  code/modules/background/citizenship/human.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/EUMCitizen.yml
Labels: Awaiting Merge

#12923 Fixes IPCs not getting access to Elyran Standard
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/omicega-fsdfdsofdsfompdsfompsdfos.yml
Labels: Awaiting Merge, Bugfix

#12924 Responder Hand Labeler
  html/changelogs/responderlabeler.yml
  maps/aurora/aurora-4_mainlevel.dmm
Labels: Awaiting Merge, Mapping: Aurora

#12909 Seethrough blindfolds actually seethrough again.
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/wezzy_blindfoldfix.yml
Labels: Awaiting Merge

#12922 Startup Runtime Fix
  code/controllers/configuration.dm
  code/controllers/subsystems/documents.dm
  code/controllers/subsystems/processing/ntsl2.dm
  config/example/config.txt
  html/changelogs/geeves-startup_runtimes.yml
Labels: Awaiting Merge, Bugfix

#12920 Smooth Wall Fix
  code/game/turfs/simulated/wall_types.dm
  code/game/turfs/simulated/walls.dm
  html/changelogs/wallsmooth.yml
Labels: Awaiting Merge, Bugfix

#12993 Stops the main menu from spamming client time timers.
  code/modules/mob/abstract/new_player/menu.dm
  html/changelogs/mattatlas-clienttimers.yml
Labels: Awaiting Merge, Bugfix

#12931 Adds the zeng-hu jargon division cloak and a custom item
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/ZengCloak.yml
  icons/obj/contained_items/accessories/zh_cape.dmi
  icons/obj/custom_items/eden_cloak.dmi
Labels: Awaiting Merge, Sprites

#12978 Finish porting bay's timer SS
  code/__defines/lists.dm
  code/_helpers/maths.dm
  code/controllers/master/master.dm
  code/controllers/master/subsystem.dm
  code/controllers/subsystems/processing/shuttle.dm
  code/controllers/subsystems/timer.dm
  code/datums/looping_sounds/_looping_sound.dm
  code/game/objects/effects/portals.dm
  code/game/objects/items/weapons/thermal_drill.dm
  code/game/objects/structures/safe.dm
  code/game/objects/structures/watercloset.dm
  code/modules/admin/verbs/bluespacetech.dm
  code/modules/cooking/machinery/cooking_machines/fryer.dm
  code/modules/mob/abstract/new_player/menu.dm
  code/modules/mob/living/silicon/robot/presets.dm
  code/modules/power/port_gen.dm
  code/modules/supermatter/supermatter.dm
  code/world.dm
Labels: Awaiting Merge, Changelog Required, High Risk, Test Merge Candidate, Bugfix

#12977 Potentially fix the crippling lag issue
  code/_onclick/hud/ability_screen_objects.dm
  code/modules/mob/abstract/new_player/new_player.dm
  html/changelogs/mattatlas-cripplinglag.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#12971 Adds five new Elyran accents + slightly adjusts some other human accent icons
  code/modules/background/accent/human.dm
  code/modules/background/defines.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human/human_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/omicega-elyranaccenttime.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#12934 Adds blood volume to the Body Scanner & Vitals Monitor
  code/game/machinery/body_scanner.dm
  html/changelogs/add_blood_volume.yml
  nano/templates/med_diagnostics.tmpl
  vueui/src/components/view/devices/vitalsmonitor.vue
  vueui/src/components/view/medical/bodyscanner.vue
  vueui/uitests/devices/vitalsmonitor.json
  vueui/uitests/medical/bodyscanner.json
Labels: Awaiting Merge, VueUi

#12991 Fixes fake death not showing properly and time of death
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/morgue.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/FakeDeathFix.yml
Labels: Awaiting Merge, Bugfix

#12928 Custom Items 19/01/22
  code/datums/trading/ai.dm
  code/modules/customitems/item_defines.dm
  icons/mob/custom_synthetic.dmi
  icons/obj/custom_items/daliyah_visa.dmi
  icons/obj/custom_items/jaquelyn_necklace.dmi
  icons/obj/custom_items/kir_bandanna.dmi
  icons/obj/custom_items/leonid_chokha.dmi
  icons/obj/custom_items/lunea_gloves.dmi
  icons/obj/custom_items/mrakiizar_book.dmi
  icons/obj/custom_items/muhawir_items.dmi
  icons/obj/custom_items/oscar_helmet.dmi
  icons/obj/custom_items/quoro_items.dmi
  icons/obj/custom_items/sezrak_coat.dmi
  icons/obj/custom_items/zhilin_book.dmi
  icons/obj/custom_items/zhilin_necklace.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#12997 Fixes suit sensor interaction with telecomms
  code/game/machinery/telecomms/broadcaster.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  code/modules/modular_computers/file_system/programs/security/penalmechs.dm
  code/modules/nano/modules/crew_monitor.dm
  html/changelogs/SuitSensorFix.yml
Labels: Awaiting Merge, Bugfix, NBT

#12912 Removes advanced mutation toxin from warehouse spawns
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/WarehouseSlime.yml
Labels: Review Required
