Repository Aurorastation/Aurora.3, pull requests merged in 2023-10, with the labels that each got.

#17486 Ground Ore Fix
  code/modules/mining/drilling/drill.dm
  code/modules/mining/drilling/scanner.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/grass.dm
  code/modules/random_map/noise/ore.dm
  html/changelogs/geeves-ground_ore_fixes.yml
Labels: Awaiting Merge, Bugfix

#17491 Docking Controller Fix
  html/changelogs/geeves-docking_controller_fix.yml
  tgui/packages/tgui/interfaces/DockingAirlockConsole.tsx
Labels: Awaiting Merge, Bugfix

#17490 Mining Machine ID Fix
  code/modules/mining/machine_processing.dm
  code/modules/mining/machine_vending.dm
  html/changelogs/geeves-mining_machine_id_tweak.yml
  tgui/packages/tgui/interfaces/MiningProcessor.tsx
  tgui/packages/tgui/interfaces/MiningVendor.tsx
Labels: Awaiting Merge, Bugfix

#17494 Hivenet Camera Fix
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/RustingWithYou - fixes3.yml
Labels: Awaiting Merge, Bugfix

#17343 Chips Expansion
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/reagents/reagent_containers/food/snacks/processed.dm
  html/changelogs/greenjoe12345 - crisps.yml
  icons/obj/item/reagent_containers/food/processed.dmi
  icons/obj/storage/fancy/multichips.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#17489 Mining Vendor Tweak
  code/modules/mining/machine_vending.dm
  code/modules/mining/minebot.dm
  html/changelogs/geeves-mining_vendor_tweak.yml
  tgui/packages/tgui/interfaces/MiningVendor.tsx
Labels: Awaiting Merge

#17499 Konyang: Point Verdant Corporate Offices
  html/changelogs/DreamySkrell-konyang-corpo-offices.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Review Required

#17483 Updated CI to use byond 515.1616
  .tgs.yml
  dependencies.sh
  html/changelogs/fluffyghost-5151616.yml
Labels: Awaiting Merge

#17488 Ore Detector Tweaks
  code/modules/mining/ore_detector.dm
  html/changelogs/geeves-ore_detector_tweaks.yml
Labels: Awaiting Merge

#17472 HoS skrellmet
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/clothing/head/helmet.dm
  html/changelogs/Snowy1237-HoSkrellmet.yml
  icons/clothing/kit/modular_armor.dmi
Labels: Awaiting Merge, Sprites

#17460 Konyang: Point Verdant Police Station
  html/changelogs/DreamySkrell-konyang-police-station.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
Labels: Review Required

#17508 Mechs runtime
  code/modules/heavy_vehicle/interface/_interface.dm
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/heavy_vehicle/mech_life.dm
  html/changelogs/FluffyGhost-mechs_runtime.yml
Labels: Awaiting Merge, Bugfix

#17424 The Visible Hand - Golden Deep Merchant Ship
  aurorastation.dme
  code/game/jobs/access_datum.dm
  code/game/turfs/simulated/wall_types.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  html/changelogs/RustingWithYou - goldgoldgold.yml
  maps/away/ships/golden_deep/golden_deep.dm
  maps/away/ships/golden_deep/golden_deep_areas.dm
  maps/away/ships/golden_deep/golden_deep_ghostroles.dm
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
Labels: Awaiting Merge

#17496 Kinetic Accelerator Kit
  code/game/objects/items/weapons/storage/toolbox.dm
  html/changelogs/geeves-some_miner_feedback.yml
Labels: Awaiting Merge

#17506 Fixes some bad air tiles on a old asteroid ruin
  html/changelogs/DreamySkrell-bad-ruins-very-bad.yml
  maps/random_ruins/exoplanets/asteroid/digsite/digsite_unique.dmm
  maps/random_ruins/exoplanets/asteroid/listening_post/listening_post_unique.dmm
Labels: Awaiting Merge, Bugfix

#17521 Fixes mapdiffbot2 not rendering maps properly
  SpacemanDMM.toml
  html/changelogs/DreamySkrell-mapdiffbot2-fix.yml
Labels: Awaiting Merge, Bugfix

#17507 Motioncameras refdrop more
  code/game/area/ai_monitored.dm
  code/game/machinery/camera/motion.dm
  html/changelogs/FluffyGhost-motioncameras_refdrop_more.yml
Labels: Awaiting Merge, Bugfix

#17515 FIND_REF_NO_CHECK_TICK loopchecks disable
  aurorastation.dme
  code/_compile_options.dm
  code/world.dm
  html/changelogs/FluffyGhost-findref_nochecktick_loopchecks_disable.yml
Labels: Awaiting Merge, Bugfix

#17516 Fixed the suspension generator UI tooltip
  html/changelogs/fluffyghost-suspensiongeneratortooltipfix.yml
  tgui/packages/tgui/interfaces/SuspensionGenerator.tsx
Labels: Awaiting Merge, Bugfix

#17518 Coalition Surveyor Map Fixes
  html/changelogs/Furrycactus-cocsurveyshuttle.yml
  maps/away/ships/coc/coc_surveyor/coc_surveyor.dmm
Labels: Awaiting Merge, Bugfix

#17519 Small Horizon Map Fixes
  html/changelogs/Furrycactus-generichorizonmapfixes.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17502 Konyang: Point Verdant Sake Brewery
  code/game/objects/random/food.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/DreamySkrell-konyang-sake-brew.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Review Required

#17500 Off-Duty crew now spawn with their faction gear
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/nanotrasen.dm
  code/game/jobs/faction/orion_express.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  html/changelogs/FactionGearFix - GeneralCamo.yml
Labels: Review Required, Bugfix

#17479 Adds smaller variants of the Vaurca Mecha Eyes; allows for color customization
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/SimpleMaroon-whythelongface.yml
  icons/mob/human_races/markings_vaurca.dmi
Labels: Awaiting Merge, Sprites

#17474 Adds Stinger Grenades
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/grenades/stinger.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/weapon_and_ammo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/cargo/exports/weapons.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/CampinKiller24-ready-or-not.yml
  icons/obj/grenade.dmi
Labels: Awaiting Merge, Sprites

#17485 Ruined COC Relay Station
  aurorastation.dme
  html/changelogs/RustingWithYou - cocbase.yml
  maps/random_ruins/exoplanets/asteroid/coalition_base/coalition_base.dm
  maps/random_ruins/exoplanets/asteroid/coalition_base/coalition_base.dmm
Labels: Awaiting Merge

#17529 Xenobiology serum sprite fixes/changes
  code/modules/mob/living/carbon/slime/items.dm
  html/changelogs/xenobioextracts.yml
Labels: Awaiting Merge, Bugfix

#17511 Mechs screen refdrop
  code/modules/heavy_vehicle/interface/screen_objects.dm
  html/changelogs/FluffyGhost-mechs_screen_refdrop.yml
Labels: Awaiting Merge, Bugfix

#17498 Energy rifle buff
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/GeneralCamo - ER Buff.yml
Labels: Awaiting Merge

#17484 Pump Action KAs
  code/modules/custom_ka/cells.dm
  html/changelogs/geeves-pump_action.yml
Labels: Awaiting Merge

#17492 Exosuit Clamp Tweak
  code/modules/heavy_vehicle/equipment/utility.dm
  html/changelogs/geeves-exosuit_clamp_tweak.yml
Labels: Awaiting Merge

#17373 Cult buffs.
  code/game/gamemodes/cult/items/clothes.dm
  code/game/gamemodes/cult/runes/blood_boil.dm
  code/game/gamemodes/cult/structures/altar.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/mattatlas-cultbuffs.yml
Labels: Awaiting Merge, Test Merge Candidate, Balance

#17513 Hostile mobs runtime fix
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  html/changelogs/FluffyGhost-hostile_mobs_runtime_fix.yml
Labels: Awaiting Merge, Bugfix

#17170 Added old and antique Biesel flags
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/GeneralCamo - Old Biesel Flags.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#17512 MMI QDEL brain
  code/modules/mob/living/carbon/brain/MMI.dm
  html/changelogs/FluffyGhost-MMI_qdel_brain.yml
Labels: Awaiting Merge, Bugfix

#17473 Adds teleporter beacon to Canary
  html/changelogs/Snowy1237-CanaryBeacon.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17442 Drill Dropper Shortwave
  code/game/objects/items/devices/drop_targeter/_droptargeter.dm
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  html/changelogs/geeves-drill_dropper_shortwave.yml
Labels: Awaiting Merge

#17358 Unathi Origin Traits & Accent Stuff
  code/modules/background/origins/origins/unathi/autakh.dm
  code/modules/background/origins/origins/unathi/queendom.dm
  code/modules/background/origins/origins/unathi/spaceborn.dm
  code/modules/background/origins/origins/unathi/traditionalist.dm
  html/changelogs/RustingWithYou - lizardorigins.yml
Labels: Awaiting Merge

#17336 Uplink tgui
  code/datums/records.dm
  code/game/objects/items/devices/uplink.dm
  html/changelogs/DreamySkrell-uplink-tgui.yml
  nano/templates/uplink.tmpl
  tgui/packages/tgui/interfaces/Uplink.tsx
Labels: Awaiting Merge

#17415 Ports the fusion reactor from Baystation12, replacing the Tesla.
  aurorastation.dme
  code/__defines/atmos.dm
  code/__defines/materials.dm
  code/__defines/misc.dm
  code/_helpers/sorting/cmp.dm
  code/datums/components/local_network.dm
  code/datums/local_network.dm
  code/defines/gases.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/doors/door.dm
  code/modules/materials/material_sheets.dm
  code/modules/materials/materials.dm
  code/modules/overmap/ship_weaponry/weaponry/lammergeier.dm
  code/modules/power/fusion/consoles/_consoles.dm
  code/modules/power/fusion/consoles/core_control.dm
  code/modules/power/fusion/consoles/gyrotron_control.dm
  code/modules/power/fusion/consoles/injector_control.dm
  code/modules/power/fusion/core/_core.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fuel_assembly/fuel_assembly.dm
  code/modules/power/fusion/fuel_assembly/fuel_compressor.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/fusion/fusion_circuits.dm
  code/modules/power/fusion/fusion_particle_catcher.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/power/fusion/gyrotron/gyrotron.dm
  code/modules/power/fusion/kinetic_harvester.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/unit_tests/create_and_destroy.dm
  html/changelogs/mattatlas-fusion.yml
  icons/obj/atmos.dmi
  icons/obj/item/stacks/materials.dmi
  icons/obj/kinetic_harvester.dmi
  icons/obj/machinery/fusion.dmi
  icons/obj/machinery/fusion_core.dmi
  icons/obj/machinery/ship_guns/lammergeier.dmi
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/code/sccv_horizon_unittest.dm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  tgui/packages/tgui/interfaces/FusionCoreControl.tsx
  tgui/packages/tgui/interfaces/FusionGyrotronControl.tsx
  tgui/packages/tgui/interfaces/FusionInjectorControl.tsx
  tgui/packages/tgui/interfaces/KineticHarvester.tsx
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#17520 Better Bodyscanners and Surgery Stuff
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/sentencing.dm
  code/game/machinery/machinery.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/devices/scanners.dm
  code/game/sound.dm
  code/modules/detectivework/microscope/dnascanner.dm
  code/modules/detectivework/microscope/microscope.dm
  code/modules/economy/ATM.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/outsider/revenant.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/slime.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ_stump.dm
  code/modules/paperwork/photocopier.dm
  code/modules/paperwork/photography.dm
  code/modules/research/rdconsole.dm
  code/modules/research/weaponsanalyzer.dm
  code/modules/research/xenoarchaeology/machinery/artifact_analyser.dm
  html/changelogs/wezzy_bodyscanner-better.yml
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/righthand_device.dmi
  icons/obj/device.dmi
  icons/obj/sleeper.dmi
  icons/obj/surgery.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  tgui/packages/tgui/interfaces/BodyScanner.tsx
  tgui/packages/tgui/interfaces/Operating.tsx
  tgui/packages/tgui/interfaces/Sleeper.tsx
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#17523 Added a Gadpathurian variant of the vulture voidsuit
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/GeneralCamo - VultureGP Suit.yml
  icons/clothing/rig/gadpathurian_suit.dmi
Labels: Awaiting Merge, Sprites

#17525 Golden Deep Map Tweaks & Fixes
  html/changelogs/RustingWithYou - goldfix.yml
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
Labels: Awaiting Merge

#17533 Fixes Vaurca mecha eye offset
  html/changelogs/SimpleMaroon-facefix.yml
  icons/mob/human_races/markings_vaurca.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17544 Add technomancer initiate to antags list.
  code/game/gamemodes/technomancer/assistance/assistance.dm
  html/changelogs/AlaunusLuxtechnomancerinitiatefix.yml
Labels: Awaiting Merge, Bugfix

#17517 Atmospherics N2O Tweak, and Engine Room Lights
  html/changelogs/Furrycactus-thrusters-time.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17527 Ports Unathi hairstyles + tails, removes human hair
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/unathiports.yml
  icons/mob/human_face/unathi_hair.dmi
  icons/mob/species/unathi/tail.dmi
Labels: Awaiting Merge, Sprites

#17522 Add support for Bay-style terminals
  code/game/machinery/computer/Operating.dm
  code/game/machinery/computer/computer.dm
  code/modules/overmap/ship_weaponry/_targeting_console.dm
  code/modules/overmap/ships/computers/engine_control.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/GeneralCamo - Bay Terminal.yml
  icons/obj/machinery/modular_terminal.dmi
  maps/runtime/runtime-1.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Runtime, Mapping: Runtime

#17543 Flags fix and minor refactor
  code/game/objects/structures/flags_banners.dm
  html/changelogs/FluffyGhost-flags_refactor_fix.yml
Labels: Awaiting Merge, Bugfix

#17296 Adds an Expeditionary Channel and Intercoms & Gives the Interrogation Channel a Name
  code/__defines/radio.dm
  code/controllers/subsystems/radio.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  html/changelogs/expeditionfrequency.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  nano/templates/radio_basic.tmpl
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Review Required

#17524 Unathi Clothing For Ouereans
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  html/changelogs/RustingWithYou - ouereadrip.yml
Labels: Awaiting Merge

#17556 INDRA Map Bugfixes
  html/changelogs/furrycactus-indra-map-tweaks.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17530 Ports tgstation geiger counter sprite
  html/changelogs/geigercounter.yml
  icons/obj/geiger_counter.dmi
Labels: Awaiting Merge, Sprites

#17535 Konyang: PACHROM Water Barge
  aurorastation.dme
  html/changelogs/RustingWithYou - waterbarge.yml
  maps/away/ships/konyang/water_barge/water_barge.dm
  maps/away/ships/konyang/water_barge/water_barge.dmm
  maps/away/ships/konyang/water_barge/water_barge_areas.dm
  maps/away/ships/konyang/water_barge/water_barge_ghostroles.dm
Labels: Awaiting Merge

#17505 Tarwa medbay minor additions.
  html/changelogs/Snowy1237-Tarwa_Fix.yml
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge

#17557 Cultist teleport rune improvements
  code/game/gamemodes/cult/items/talisman.dm
  code/game/gamemodes/cult/runes/create_talisman.dm
  code/game/gamemodes/cult/runes/rune.dm
  code/game/gamemodes/cult/runes/teleport.dm
  html/changelogs/AlaunusLux-cultist-rune-improvements.yml
Labels: Awaiting Merge, Bugfix

#17559 Flags fix overlooked addition
  code/game/objects/structures/flags_banners.dm
  html/changelogs/FluffyGhost-flags_fix_overlooked_addition.yml
Labels: Awaiting Merge, Bugfix

#17561 Atmospherics N2O Bug Fixes and Improvements v.2
  code/__defines/atmos.dm
  html/changelogs/furrycactus-thruster-time-fixes-v2.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17538 Tajara can now select pronouns
  code/datums/records.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  html/changelogs/alberyk-pronountweak.yml
Labels: Awaiting Merge

#17541 Konyang: Uniforms
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/RustingWithYou - konyangdrip.yml
  icons/clothing/under/uniforms/konyang_uniforms.dmi
Labels: Awaiting Merge, Sprites

#17532 Konyang: Point Verdant Maint/Janitorial
  html/changelogs/DreamySkrell-konyang-maint-janitorial.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
Labels: Awaiting Merge

#17539 Konyang: Away Site Spawning & Planet Tweaks
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/overmap/exoplanets/themes/jungle.dm
  html/changelogs/RustingWithYou - konyangstuff.yml
  icons/obj/overmap/overmap_effects.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant.dm
Labels: Awaiting Merge, Sprites

#17562 Tgui input prefs
  code/modules/client/preference_setup/global/01_ui.dm
Labels: 🚫 Do Not Merge, Changelog Required, Sprites

#17549 Mech Access Fix
  code/controllers/subsystems/virtual_reality.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  html/changelogs/geeves-mech_access_fix.yml
Labels: Awaiting Merge

#17551 Zo'ra soda in lunchbox & K'ois bars in vaurca lunchbox
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/DreamySkrell-bug-lunch-2.yml
Labels: Awaiting Merge

#17553 Replace cabinet telecomms sprites with /tg/station 3/4ths equivalents
  html/changelogs/GeneralCamo - Telecomms Sprites.yml
  icons/obj/stationobjs.dmi
Labels: Awaiting Merge, Sprites

#17536 Konyang: Point Verdant Hotel
  html/changelogs/DreamySkrell-konyang-hotel.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
Labels: Awaiting Merge

#17545 Allows business cards to be renamed in the loadout
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/paperwork/photocopier.dm
Labels: Awaiting Merge, Changelog Required

#17554 Intrepid layout tweak (beds gone, proper passenger seating)
  html/changelogs/DreamySkrell-intrepid-passenger-1243.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17578 Appendicitis now show up on bodyscanners fix
  code/game/machinery/body_scanner.dm
  html/changelogs/wezzy_appendicitis_scan.yml
Labels: Awaiting Merge, Bugfix

#17570 Fix mapmerge2 for windows environment
  dependencies.sh
  html/changelogs/fluffyghost-mapmerge2windowsfix.yml
Labels: Awaiting Merge, Bugfix

#17528 tweaks mindshield text
  code/game/objects/items/weapons/implants/implants/mindshield.dm
  html/changelogs/wezzy_implanttweak.yml
Labels: Awaiting Merge

#17560 Lighting minor tweak
  code/modules/lighting/lighting_overlay.dm
  code/modules/lighting/lighting_source.dm
  html/changelogs/FluffyGhost-lighting_minor_tweak.yml
Labels: Awaiting Merge

#17565 Golden Deep Appearance Fixes & Plating Decals
  code/__defines/_layers.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/game/turfs/simulated/wall_types.dm
  html/changelogs/RustingWithYou - gold2thegoldening.yml
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#17572 Medbay Floor Decal Fix
  html/changelogs/wezzy_medbaymapfix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17542 Async as define
  code/__defines/callback.dm
  code/datums/components/_component.dm
  code/game/machinery/atmo_control.dm
  html/changelogs/FluffyGhost-async_as_define.yml
Labels: Awaiting Merge, Test Merge Candidate

#17504 Konyang: Einstein Engines Corporate Shuttle
  aurorastation.dme
  html/changelogs/RustingWithYou - einsteinengines.yml
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dm
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dmm
Labels: Awaiting Merge

#17569 Icon smoothing and icon update refactor
  code/_helpers/icon_smoothing.dm
  code/controllers/subsystems/icon_smooth.dm
  code/controllers/subsystems/icon_updates.dm
  code/game/atoms_init.dm
  code/game/objects/items/weapons/syndie.dm
  code/game/objects/structures.dm
  html/changelogs/FluffyGhost-icon_smoothing_updates_refactor.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#17571 3/4 Update : Chair and Table Loose ends and fixes
  code/__defines/materials.dm
  code/__defines/misc.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  code/game/turfs/flooring/flooring.dm
  code/game/turfs/flooring/flooring_decals.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated/wall_icon.dm
  code/modules/materials/material_recipes.dm
  code/modules/materials/materials.dm
  code/modules/tables/flipping.dm
  code/modules/tables/presets.dm
  code/modules/tables/rack.dm
  code/modules/tables/tables.dm
  html/changelogs/wezzy_furniture-fixes.yml
  icons/mob/items/lefthand_chairs.dmi
  icons/mob/items/righthand_chairs.dmi
  icons/obj/item/stacks/tiles.dmi
  icons/obj/structure/chairs.dmi
  icons/obj/structure/tables/diona_table.dmi
  icons/obj/structure/tables/fancy_table.dmi
  icons/obj/structure/tables/fancy_table_black.dmi
  icons/obj/structure/tables/fancy_table_blue.dmi
  icons/obj/structure/tables/fancy_table_cyan.dmi
  icons/obj/structure/tables/fancy_table_green.dmi
  icons/obj/structure/tables/fancy_table_orange.dmi
  icons/obj/structure/tables/fancy_table_purple.dmi
  icons/obj/structure/tables/fancy_table_red.dmi
  icons/obj/structure/tables/glass_table.dmi
  icons/obj/structure/tables/greyscale_table.dmi
  icons/obj/structure/tables/marble_table.dmi
  icons/obj/structure/tables/reinforced_table.dmi
  icons/obj/structure/tables/rglass_table.dmi
  icons/obj/structure/tables/skrell_table.dmi
  icons/obj/structure/tables/steel_table.dmi
  icons/obj/structure/tables/table.dmi
  icons/obj/structure/tables/table_reinf.dmi
  icons/obj/structure/tables/wood_table.dmi
  icons/obj/tables.dmi
  icons/turf/flooring/carpet.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station.dmm
  maps/away/away_site/first_aurora/first_aurora.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/ships/casino/casino.dmm
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
  maps/away/ships/iac/iac_rescue_ship.dmm
  maps/away/ships/sol_merc/fsf_patrol_ship.dmm
  maps/away/ships/tajara/circus/adhomian_circus.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_bar.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, Sprites, Bugfix, 🗺️ Mapping - Horizon, Mapping: Aurora

#17531 Ported surgery sounds from /vg/station
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/shards.dm
  code/game/objects/items/weapons/melee/misc.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/objs.dm
  code/modules/assembly/mousetrap.dm
  code/modules/mining/mine_items.dm
  code/modules/power/cable.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/slimes.dm
  code/modules/surgery/surgery.dm
  html/changelogs/surgerysound.yml
  sound/items/surgery/bonegel.ogg
  sound/items/surgery/bonesetter.ogg
  sound/items/surgery/cautery.ogg
  sound/items/surgery/circularsaw.ogg
  sound/items/surgery/fixovein.ogg
  sound/items/surgery/hatchet.ogg
  sound/items/surgery/hemostat.ogg
  sound/items/surgery/retractor.ogg
  sound/items/surgery/scalpel.ogg
  sound/items/surgery/surgicaldrill.ogg
Labels: Awaiting Merge

#17584 Fixed the shading not being applied correctly on large flags
  code/game/objects/structures/flags_banners.dm
  html/changelogs/fluffyghost-fixflagshading.yml
Labels: Awaiting Merge, Bugfix

#17552 Vaurca shoes color fix
  html/changelogs/DreamySkrell-bug-shoes-fix.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17580 Punctuation fixes for the descriptions for Syndicate boxes, the Romanovich Cloud and several trench coats
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/background/space_sectors/tauceti.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/tag114-punctuation.yml
Labels: Awaiting Merge, Bugfix

#17587 Cameras refdrop fix
  code/game/machinery/camera/camera.dm
  html/changelogs/FluffyGhost-cameras_refdrop_fix.yml
Labels: Awaiting Merge, Bugfix

#17588 Vaurca phoron tank refdrop fix
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/FluffyGhost-vaurca_phoron_tank_refdrop_fix.yml
Labels: Awaiting Merge, Bugfix

#17583 Medkits can now only hold small-sized items.
  code/game/objects/items/weapons/storage/firstaid.dm
  html/changelogs/mattatlas-nofun.yml
Labels: Awaiting Merge, Bugfix

#17597 Carpotoxin can no longer spawn in the warehouse.
  code/modules/cargo/random_stock/t2_uncommon.dm
  html/changelogs/mattatlas-carpo.yml
Labels: Awaiting Merge, Bugfix

#17546 Better Coffee Recipes
  code/modules/cargo/bounties/reagent.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/william murdoch - Better Coffee.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#17574 Konyang: Jeweler Cockatoo & Nest
  aurorastation.dme
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/konyang.dm
  html/changelogs/RustingWithYou - jeweler.yml
  icons/mob/npc/jeweler_cockatoo.dmi
  maps/random_ruins/exoplanets/konyang/jeweler_nest.dm
  maps/random_ruins/exoplanets/konyang/jeweler_nest.dmm
Labels: Awaiting Merge, Sprites

#17403 No More Industrial IPC Security
  code/game/jobs/job/security.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/wezzy_no_more_industrials.yml
Labels: Awaiting Merge, Balance

#17582 Removes PCRC armor vests
  code/modules/clothing/suits/armor.dm
  html/changelogs/tag114-pcrc.yml
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#17596 Adds some slight slowdown to the FR hardsuit.
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/mattatlas-athingofbeauty.yml
Labels: Awaiting Merge

#17577 Boron at the Fusion Reactor
  code/game/machinery/atmoalter/canister.dm
  html/changelogs/wickedcybs_boron.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17594 Friday the Thirteenth Bugfixes
  code/game/objects/effects/chem/chemsmoke.dm
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  code/modules/reagents/reagent_containers/spray.dm
  html/changelogs/Wezzy_randobugfix.yml
Labels: Awaiting Merge, Bugfix

#17576 Cryo moved to top deck
  html/changelogs/DreamySkrell-top-deck-cryo.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17616 Head Layer / Bodymarkings Fix
  code/modules/mob/living/carbon/human/species/outsider/revenant.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/slime.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  html/changelogs/geeves-bodymarkings_fix.yml
Labels: Awaiting Merge, Bugfix

#17592 Makes use of the terminal sprites for SM and INDRA engine rooms.
  code/game/machinery/atmo_control.dm
  code/game/machinery/computer/camera.dm
  code/modules/power/fusion/consoles/core_control.dm
  code/modules/power/fusion/consoles/gyrotron_control.dm
  code/modules/power/fusion/consoles/injector_control.dm
  html/changelogs/furrycactus-chunky-engine-consoles.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17598 Shrapnel removal now queues up all implants at once.
  code/modules/surgery/implant.dm
  html/changelogs/mattatlas-loyalty.yml
Labels: Awaiting Merge

#17585 Konyang: More Uniforms & Voidsuits
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/RustingWithYou - konyangvoid.yml
  icons/clothing/under/uniforms/konyang_uniforms.dmi
  maps/away/ships/konyang/water_barge/water_barge_ghostroles.dm
Labels: Awaiting Merge, Sprites

#17586 Konyang: Village
  aurorastation.dme
  code/modules/maps/planet_types/lore/konyang.dm
  html/changelogs/RustingWithYou - konyangvillage.yml
  maps/random_ruins/exoplanets/konyang/village.dm
  maps/random_ruins/exoplanets/konyang/village.dmm
Labels: Awaiting Merge

#17589 Asset immediateload port fix
  code/modules/asset_cache/asset_cache.dm
  html/changelogs/FluffyGhost-asset_immediateload_port_fix.yml
Labels: Awaiting Merge

#17626 Fixes table deconstruction
  code/modules/tables/tables.dm
  html/changelogs/wezzy_tablefixes.yml
Labels: Awaiting Merge, Bugfix

#17581 Fixes the uplink listing for a free first aid kit having the same path as the option to buy one normally
  code/datums/uplink/medical.dm
  html/changelogs/tag114-uplinkmedkit.yml
Labels: Awaiting Merge, Bugfix

#17568 Jump To Z-Level/Ship/Shuttle/Sector
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminjump.dm
  html/changelogs/DreamySkrell-jump-to-verbs.yml
Labels: Review Required

#17625 Goon Coifs Fix
  code/game/objects/items/items_icon.dm
  code/game/objects/objs.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/wezzy_goon_coifs.yml
  icons/clothing/accessories/goon_coif.dmi
Labels: Review Required, Sprites, Bugfix

#17437 Thermal Drill Buff
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/pins.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/geeves-thermal_drill_buff.yml
Labels: Awaiting Merge

#17366 Zombies upgrade
  code/__defines/species.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/grenades/chem_grenade.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/zombie.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/living/maneuvers/maneuver_leap.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/parasite.dm
  html/changelogs/fluffyghost-zombieupgrade.yml
  icons/mob/human_races/zombie/r_zombie_bull.dmi
  icons/mob/human_races/zombie/r_zombie_hunter.dmi
  icons/mob/human_races/zombie/r_zombie_rhino.dmi
Labels: Awaiting Merge, Sprites

#17148 Mecha Gamemode: Jockeys
  aurorastation.dme
  code/__defines/gamemode.dm
  code/__defines/projectiles.dm
  code/__defines/radio.dm
  code/datums/outfits/outfit_antag.dm
  code/game/antagonist/outsider/jockey.dm
  code/game/gamemodes/jockeys/jockeys.dm
  code/game/objects/items/devices/radio/_radio_defines.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/uplink.dm
  code/game/objects/items/weapons/power_cells.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/mecha_part_spawners.dm
  code/modules/mob/living/say.dm
  html/changelogs/geeves-jockeys.yml
  icons/mob/hud.dmi
  icons/mob/mob.dmi
  icons/turf/areas.dmi
  maps/_common/areas/special.dm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#17617 CI Flyway hardfail on skipped migrations for naming conventions not matching
  .github/workflows/byond.yml
  html/changelogs/fluffyghost-flywayhardfailonskippedmigrations.yml
Labels: Awaiting Merge

#17622 Golden Deep Reactor Fix
  html/changelogs/RustingWithYou - pain.yml
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
Labels: Awaiting Merge

#17593 Updated CI to use byond 515.1619
  .tgs.yml
  code/modules/power/tracker.dm
  dependencies.sh
  html/changelogs/fluffyghost_updateci1617.yml
Labels: Awaiting Merge

#17609 Added a flag and banner for the All-Xanu Republic
  code/game/objects/structures/flags_banners.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/GeneralCamo - Xanu Flags.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#17611 IVs Stacking Tweak
  code/game/machinery/iv_drip.dm
  html/changelogs/geeves-ivs_stacking_fix.yml
Labels: Awaiting Merge

#17623 Adds Orion Express to Service
  code/__defines/jobs.dm
  code/game/jobs/faction/orion_express.dm
  code/modules/clothing/head/bandanas.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/RustingWithYou - orion.yml
  icons/obj/clothing/hats/soft_caps.dmi
  icons/obj/item/clothing/department_uniforms/service.dmi
Labels: Awaiting Merge, Sprites

#16773 Added new drugs from lore and otherwise
  code/game/gamemodes/changeling/implements/powers/stings.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/tajara.dm
  code/game/objects/items/weapons/chewables.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/ecigs.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/modules/cargo/bounties/reagent.dm
  code/modules/client/preference_setup/loadout/items/smoking.dm
  code/modules/cooking/recipes/recipes_baked.dm
  code/modules/cooking/recipes/recipes_pastries.dm
  code/modules/events/vent_clog.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums/flowers.dm
  code/modules/hydroponics/seed_datums/herbs.dm
  code/modules/hydroponics/seed_datums/mushrooms.dm
  code/modules/hydroponics/seed_datums/smokables.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/item_worth/reagents.dm
  code/modules/mob/living/carbon/human/MedicalSideEffects.dm
  code/modules/mob/living/simple_animal/hostile/sarlacc.dm
  code/modules/paperwork/pen.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks/baked.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/pastries.dm
  code/modules/reagents/reagent_containers/food/snacks/processed.dm
  code/modules/reagents/reagent_containers/inhaler.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
  code/modules/research/xenoarchaeology/artifact/artifact_unknown.dm
  html/changelogs/GeneralCamo - Drug Expansion.yml
  icons/obj/cigs_lighters.dmi
  icons/obj/smokables.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#17645 Assorted oracle fixes
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/chewables.dm
  html/changelogs/GeneralCamo - Oracle Fixes.yml
Labels: Awaiting Merge, Bugfix

#17590 Atmos portable disconnect fix
  code/game/machinery/atmoalter/portable_atmospherics.dm
  html/changelogs/FluffyGhost-atmos_portable_disconnect_fix.yml
Labels: Awaiting Merge

#17637 Fixes blood volume reading for health analyzers
  code/game/objects/items/devices/scanners.dm
  html/changelogs/Nalarac-analyzervolume.yml
Labels: Awaiting Merge, Bugfix

#17591 Konyang: Pirates!
  aurorastation.dme
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/RustingWithYou - pirates.yml
  icons/clothing/under/uniforms/konyang_pirates.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/random_ruins/exoplanets/konyang/pirate_moonshine.dm
  maps/random_ruins/exoplanets/konyang/pirate_moonshine.dmm
  maps/random_ruins/exoplanets/konyang/pirate_outpost.dm
  maps/random_ruins/exoplanets/konyang/pirate_outpost.dmm
Labels: Awaiting Merge, Sprites

#17641 Integrated electronics dropref
  code/modules/integrated_electronics/core/device.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  html/changelogs/FluffyGhost-integrated_electronics_dropref.yml
Labels: Awaiting Merge, Bugfix

#17651 Removes atmospheric technicians' insulated gloves
  html/changelogs/omicega-sneakysneaky.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#17613 Added the Xanan dNAC-6.5 assault rifle
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/GeneralCamo - Xanu Rifle.yml
  icons/obj/ammo.dmi
  icons/obj/guns/xanu_rifle.dmi
Labels: Awaiting Merge, Sprites

#17648 21/10/23 Bugfixes
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  html/changelogs/wezzy_211023fixes.yml
  icons/obj/item/reagent_containers/food/cultural/unathi.dmi
  icons/obj/item/reagent_containers/food/meat.dmi
  icons/obj/structure/chairs.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17661 Some COC Surveyor Bug Fixes
  html/changelogs/lavillastrangiato-lvs-aurora.yml
  maps/away/ships/coc/coc_surveyor/coc_surveyor.dmm
Labels: Awaiting Merge, Bugfix

#17660 Stool Rotation Fix
  html/changelogs/geeves-stool_rotation.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17659 Fixes borers being able to give people Limitless psi rank.
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/psionics/complexus/complexus_latency.dm
  html/changelogs/mattatlas-fixdontremove.yml
Labels: Awaiting Merge, Bugfix

#17639 Remove pulse rifles from Jockeys
  html/changelogs/GeneralCamo - Jockey Pulse Removal.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17652 Fluke Parasite Tweak/Fix
  code/modules/organs/subtypes/parasite.dm
  html/changelogs/kermit-fluke-fix.yml
Labels: Awaiting Merge, Bugfix

#17653 Removes Engineers' Pipe Wrenches
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  html/changelogs/furrycactus-fairisfair.yml
Labels: Awaiting Merge

#17303 Cyclops Ship Tweaks & Fixes
  html/changelogs/RustingWithYou - hephfix.yml
  maps/away/ships/heph/cyclops/cyclops.dmm
  maps/away/ships/heph/cyclops/cyclops_ghostroles.dm
  maps/away/ships/heph/cyclops/cyclops_mining_ship.dm
Labels: Awaiting Merge

#17629 Removes various mentions of the Syndicate, labels "Nutri-Cakes" as an improper name
  code/datums/uplink/devices_and_tools.dm
  code/datums/uplink/medical.dm
  code/game/objects/items/devices/drop_targeter/orbital_drops.dm
  code/game/objects/items/trash.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/cargo/exports/gear.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/custom_ka/barrels.dm
  code/modules/reagents/reagent_containers/food/snacks/processed.dm
  html/changelogs/tag114-syndie.yml
Labels: Awaiting Merge

#17679 Replaced a reference to the singularity with the INDRA in ion laws.
  code/modules/events/ion_storm.dm
  html/changelogs/iontweak.yml
Labels: Awaiting Merge, Bugfix

#17633 Patient Monitoring Console Overhaul
  aurorastation.dme
  code/game/machinery/body_scanner.dm
  code/game/machinery/computer/Operating.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/paperwork/paper.dm
  code/modules/tgui/states/human_adjacent_loc.dm
  html/changelogs/geeves-patient_monitoring_console.yml
  tgui/packages/tgui/interfaces/BodyScanner.tsx
Labels: Awaiting Merge

#17638 Konyang: More Existing Sites
  html/changelogs/RustingWithYou - konyangsites.yml
  maps/away/ships/freebooter/freebooter_ship.dm
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/tramp_freighter/tramp_freighter.dm
Labels: Awaiting Merge

#17656 Fixed a runtime when switching the selection of target zone
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/mob/mob.dm
  html/changelogs/FluffyGhost-fixzoneselsignalruntime.yml
Labels: Awaiting Merge, Bugfix

#17678 Adds Engine Consoles To Golden Deep Ship
  html/changelogs/RustingWithYou - iaminmisery.yml
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
Labels: Awaiting Merge, Bugfix

#17655 Modular computers QDEL and refdrops
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/modular_computers/NTNet/NTNRC/user.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/hardware/card_slot.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  html/changelogs/FluffyGhost-modular_computers_reference_hell.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#17644 Replace all mentions of Gorlex Marauders with Hammertail Smiths
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/economy/Events.dm
  html/changelogs/GeneralCamo - Hammertail Smiths.yml
Labels: Awaiting Merge

#17681 Fixes the create command report verb not working.
  code/modules/admin/verbs/randomverbs.dm
  html/changelogs/mattatlas-admina.yml
Labels: Review Required, Bugfix

#17677 Miners' Guild Station Fixes
  html/changelogs/lavillastrangiato - mining station fixes.yml
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dmm
Labels: Awaiting Merge, Bugfix

#17636 Airlock markers
  aurorastation.dme
  code/modules/effects/map_effects/airlock_marker.dm
  html/changelogs/DreamySkrell-airlock-markers.yml
  icons/effects/map_effects.dmi
  icons/obj/airlock_spawner.dmi
  maps/helpers/guidelines_airlocks.dmm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Runtime, Mapping: Runtime

#17642 Added a Gadpathurian rebreather, exclusive to Gadpathurians
  code/modules/client/preference_setup/loadout/items/mask.dm
  code/modules/clothing/factions/gadpathur.dm
  html/changelogs/GeneralCamo - Gadpathurian Rebreather.yml
  icons/clothing/masks/gadpathur_breath.dmi
Labels: Awaiting Merge, Sprites

#17689 Revert "Removes Engineers' Pipe Wrenches"
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
Labels: Changelog Required, Review Required
