Repository Aurorastation/Aurora.3, pull requests merged in 2023-08, with the labels that each got.

#16956 Fixes drones unable to use closet toggle open
  code/game/objects/structures/crates_lockers/closets.dm
  html/changelogs/doxxmedearly-dronelocker_verbfix.yml
Labels: Awaiting Merge, Bugfix

#15987 Adds Sol Common as an Option for Skrell
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/skrolcommon.yml
Labels: Awaiting Merge

#16914 Makes IV tank valves automatically open when strapping masks
  code/game/machinery/iv_drip.dm
  html/changelogs/nauticall-autovalveopen.yml
Labels: Awaiting Merge

#16909 Makes Armour pouches visible when worn
  html/changelogs/ClemTheDuck_armourPouches.yml
  icons/clothing/kit/modular_armor.dmi
Labels: Awaiting Merge, Sprites

#16976 Psionic fixes and tweaks.
  aurorastation.dme
  code/controllers/subsystems/processing/psi.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/spiders.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/overmap/overmap_object.dm
  code/modules/psionics/abilities/command.dm
  code/modules/psionics/abilities/grip.dm
  code/modules/psionics/interface/ui_hub.dm
  html/changelogs/mattatlas-goneblind.yml
Labels: Awaiting Merge, Bugfix

#16894 Meteor Overmap Fun
  code/game/gamemodes/meteor/meteor.dm
  html/changelogs/alberyk-overmaphell.yml
Labels: Awaiting Merge

#16959 Fixes Set Religion and Invite to Revolutionaries/Loyalists.
  code/game/antagonist/antagonist_factions.dm
  code/game/jobs/job/civilian.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/library/lib_machines.dm
  html/changelogs/mattatlas-cirquedusoleil.yml
Labels: Awaiting Merge, Bugfix

#16904 Re-adds UI interaction sounds to modular computers.
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  html/changelogs/mattatlas-kbs.yml
  sound/machines/holoclick.ogg
Labels: Awaiting Merge

#16989 Fixes genetic death message spam
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/doxxmedearly-sloughnt.yml
Labels: Awaiting Merge, Bugfix

#17003 Fixes the machinery unit test failure.
  code/controllers/subsystems/machinery.dm
  html/changelogs/mattatlas-utfix.yml
Labels: Review Required, Bugfix

#16994 Fixes holomap direction
  html/changelogs/doxxmedearly-maptweak_holomap.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#16947 Signs for port propulsion access tweak
  html/changelogs/doxxmedearly-more_propsign.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16952 Loadout items folder structure refactor
  aurorastation.dme
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/client/preference_setup/loadout/items/belt.dm
  code/modules/client/preference_setup/loadout/items/computer.dm
  code/modules/client/preference_setup/loadout/items/cosmetics.dm
  code/modules/client/preference_setup/loadout/items/ears.dm
  code/modules/client/preference_setup/loadout/items/eyes.dm
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  code/modules/client/preference_setup/loadout/items/gloves.dm
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/client/preference_setup/loadout/items/mask.dm
  code/modules/client/preference_setup/loadout/items/religion.dm
  code/modules/client/preference_setup/loadout/items/shoes.dm
  code/modules/client/preference_setup/loadout/items/smoking.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/client/preference_setup/loadout/items/toy.dm
  code/modules/client/preference_setup/loadout/items/uniform.dm
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/client/preference_setup/loadout/items/wrists.dm
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/client/preference_setup/loadout/items/xeno/human.dm
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/client/preference_setup/loadout/items/xeno/xeno.dm
  html/changelogs/DreamySkrell-loadout-items-dir-refactor.yml
Labels: Awaiting Merge

#16944 Replace /pottedplant/random with /random/pottedplant/
  code/game/objects/random/misc.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/overmap/exoplanets/decor/flora/potted.dm
  html/changelogs/DreamySkrell-pottedplant-random-replace.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/away/away_site/overgrown_mining_station/overgrown_mining_station.dmm
  maps/away/away_site/racers/racers.dmm
  maps/away/away_site/romanovich/grand_romanovich.dmm
  maps/away/away_site/sensor_relay/sensor_relay.dmm
  maps/away/away_site/space_bar/space_bar.dmm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dmm
  maps/away/ships/casino/casino.dmm
  maps/away/ships/iac/iac_rescue_ship.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/sol_ssmd/ssmd_ship.dmm
  maps/away/ships/tajara/circus/adhomian_circus.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/adhomai/abandoned_village.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_bar.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_raskariim_hideout.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_village.dmm
  maps/runtime/runtime-2.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Runtime

#16942 Adds a Labeller to Hydroponics
  html/changelogs/sleepygemmy-hydroponics_labeller.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Horizon

#16938 Potassium Chloride/Chlorophoride Adjustments
  code/modules/organs/internal/heart.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/doxxmedearly-Pchloride_changes.yml
Labels: Awaiting Merge

#16934 Slightly expands Xenoarchaeology to add anomaly storage, and adds an access requirement to a door in the Research hallway
  html/changelogs/Leudoberct1-xenoarchtweak.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16919 Miners now have access to the flight room
  html/changelogs/RustingWithYou - digthefuckinghole.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#16946 Cafe Polishing
  html/changelogs/sleepygemmy-cafe_polishing.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#16940 Paxazide stops harm intent
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/life.dm
  html/changelogs/doxxmedearly-pacify_fixes.yml
Labels: Awaiting Merge

#16867 Ops lift extended to third deck
  html/changelogs/DreamySkrell-ops-lift-3515.yml
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16973 Allows portraits/icons to be stored in wallets.
  code/game/objects/items/weapons/storage/wallets.dm
  html/changelogs/paintings_in_wallets.yml
Labels: Awaiting Merge

#16954 Turning uses less propellant than a proper burn
  code/modules/overmap/ships/engines/engine.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  code/modules/overmap/ships/engines/maneuvering_thrusters.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/DreamySkrell-turning-propellant-use-tweak.yml
Labels: Awaiting Merge

#16975 Adds white webbings to medical lockers
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge

#16996 Adhomian Circus wrong spawn pool fix
  html/changelogs/DreamySkrell-circus-spawn-pool-fix.yml
  maps/away/ships/tajara/circus/adhomian_circus.dm
Labels: Awaiting Merge, Bugfix

#16958 Adds Cytophenolate, a new immunosuppressant
  code/__defines/chemistry.dm
  code/modules/organs/organ.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/nauticall-immunosuppressant.yml
Labels: Awaiting Merge

#17006 Fixes explosion adminlog by adding a jump button to it
  code/controllers/subsystems/explosives.dm
  html/changelogs/explosionlog-fix-io-util.yml
Labels: Awaiting Merge, Bugfix

#17011 Fixes Manifest Bulbs Showing White
  html/changelogs/manifestbulbs.yml
  tgui/packages/tgui/interfaces/common/ManifestSection.tsx
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
Labels: Awaiting Merge, Bugfix

#16991 Voting panel sorted
  code/controllers/subsystems/vote.dm
  html/changelogs/DreamySkrell-voting-panel-a.yml
  tgui/packages/tgui/interfaces/Voting.tsx
Labels: Awaiting Merge

#16895 Custom items 28/07/23
  code/datums/trading/goods.dm
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/aegis_uniform.dmi
  icons/obj/custom_items/ashkii_items.dmi
  icons/obj/custom_items/centurion_cloak.dmi
  icons/obj/custom_items/ikrad_beret.dmi
  icons/obj/custom_items/kelt_tags.dmi
  icons/obj/custom_items/kennard_ledger.dmi
  icons/obj/custom_items/make_items.dmi
  icons/obj/custom_items/resolve_items.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#17021 Fixes Crushing People Out of Viewing Range
  code/modules/psionics/abilities/grip.dm
  html/changelogs/CampinKiller24-psi-and-bugs.yml
Labels: Awaiting Merge, Bugfix

#17030 Delete TGS3.json
  TGS3.json
Labels: Changelog Required, Bugfix

#17019 Various typo fixes
  code/game/objects/effects/overlays.dm
  code/modules/mob/living/simple_animal/hostile/sarlacc.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/pirotypo.yml
  tgui/packages/tgui/interfaces/OreDetector.tsx
Labels: Awaiting Merge, Bugfix

#17018 Nralakk uniforms in Diona loadout fix
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  html/changelogs/dionaloadout.yml
Labels: Awaiting Merge, Bugfix

#17015 Adds canned fatshouter meat to Getmore vendors
  code/game/machinery/vending_types.dm
  html/changelogs/ramke - canned fatshouter in vendor.yml
Labels: Awaiting Merge

#17014 The Meal: Tajara edition
  code/modules/cooking/recipes/cultural/recipes_tajara.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/sue - cursed food.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#17038 Fixes more uninteractable effects
  code/game/objects/effects/spiders.dm
  code/game/objects/items/weapons/weaponry.dm
  html/changelogs/doxxmedearly-more_effects_fixes.yml
Labels: Awaiting Merge, Bugfix

#17001 Skrellmet tweak
  html/changelogs/ClemTheDuck_skrellmet_smellmet.yml
  icons/clothing/kit/modular_armor.dmi
Labels: Awaiting Merge, Sprites

#16999 New Pirate Voidsuits & Tarwa Fixes
  code/datums/uplink/gear loadout.dm
  code/game/objects/items/devices/modkit.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/void/alien/unathi.dm
  html/changelogs/RustingWithYou - piratevoidsuits.yml
  icons/obj/clothing/voidsuit/unathi_pirate.dmi
Labels: Awaiting Merge, Sprites

#16997 Minor Updates for Titan Rises Arc
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/RustingWithYou - scarcitychanges.yml
  maps/away/ships/hegemony/merchants_guild/merchant_freighter.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dm
Labels: Awaiting Merge

#16364 Raises thetamycin bottles in NanoMed Plus from 1 to 2
  code/game/machinery/vending_types.dm
  html/changelogs/example - Copy.yml
Labels: Awaiting Merge

#17044 Roundstart logout report, spawn to timer
  code/game/gamemodes/game_mode.dm
  html/changelogs/FluffyGhost-roundstart_logout_report_timer.yml
Labels: Review Required, Bugfix

#17045 Recipe tests fix materials deletion
  code/unit_tests/recipe_tests.dm
  html/changelogs/FluffyGhost-recipe_tests_fix_materials_deletion.yml
Labels: Awaiting Merge, Bugfix

#17053 Hopefully fixes the ops lift getting stuck on third deck.
  html/changelogs/DreamySkrell-ops-lift-stuck-fix-maybe.yml
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
Labels: Awaiting Merge, Bugfix

#17037 Binary Atmospherics TGUI port
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/omni_devices/mixer.dm
  html/changelogs/GeneralCamo - Binary Atmos TGUI.yml
  nano/templates/gas_pump.tmpl
  nano/templates/pressure_regulator.tmpl
  tgui/packages/tgui/interfaces/AtmosPressureRegulator.tsx
  tgui/packages/tgui/interfaces/AtmosPump.tsx
Labels: Awaiting Merge

#17036 Bumps FontAwesome to 6.4.2
  code/modules/asset_cache/asset_cache.dm
  html/changelogs/GeneralCamo - FontAwesome.yml
  html/font-awesome/README.MD
  html/font-awesome/css/all.min.css
  html/font-awesome/css/v4-shims.min.css
  html/font-awesome/webfonts/fa-regular-400.eot
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff
  html/font-awesome/webfonts/fa-solid-900.eot
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff
  html/font-awesome/webfonts/fa-v4compatibility.ttf
Labels: Awaiting Merge

#17048 Fixes a few bugs.
  aurorastation.dme
  code/_helpers/logging/debug.dm
  code/game/gamemodes/technomancer/spells/gambit.dm
  code/game/objects/buckling.dm
  code/modules/modular_computers/file_system/programs/medical/suit_sensors.dm
  code/modules/psionics/complexus/complexus_process.dm
  html/changelogs/mattatlas-cyberhex.yml
Labels: Awaiting Merge, Bugfix

#16953 Adds Trinary Perfection robes.
  aurorastation.dme
  code/game/objects/items/devices/versebook.dm
  code/modules/client/preference_setup/loadout/items/religion.dm
  code/modules/clothing/factions/trinary.dm
  html/changelogs/stryker-trinaryoutfit.yml
  icons/clothing/head/trinary_coif.dmi
  icons/clothing/suits/templeist_robe.dmi
  icons/clothing/suits/trinary_habit.dmi
  ingame_manuals/templeist.txt
Labels: Awaiting Merge, Sprites

#16988 Small wording tweaks
  code/datums/tips/tips.dm
  code/game/gamemodes/meteor/meteor.dm
  html/changelogs/doxxmedearly-word_choices.yml
Labels: Awaiting Merge

#16917 Added apprentice alt-titles for Security and Engineering
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/security.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  html/changelogs/GeneralCamo - Cadet Alt Titles.yml
Labels: Awaiting Merge

#16936 Adrenaline Sac Rebalancing
  code/game/gamemodes/changeling/implements/powers/body.dm
  html/changelogs/sleepygemmy-revives_16755.yml
Labels: Awaiting Merge, Balance

#17025 Adds secondary languages processors for Vaurcae
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/SimpleMaroon-secondarylanguageimplants.yml
Labels: Review Required

#17057 Ut create destroy tempfix
  code/unit_tests/create_and_destroy.dm
  html/changelogs/FluffyGhost-ut_create_destroy_tempfix.yml
Labels: Awaiting Merge, Bugfix

#16423 Adds 2 new flags/banners: Orion Express, Imperial Frontier
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/SimpleMaroon-moreflags.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#17034 Adds cryptobiolin and impedrezene to the anomaly toxins trigger.
  code/modules/research/xenoarchaeology/artifact/artifact_unknown.dm
  html/changelogs/Leudoberct1-anomalytoxin.yml
Labels: Awaiting Merge

#17046 Refactor and dmdoc ss material
  code/controllers/subsystems/materials.dm
  html/changelogs/FluffyGhost-refactor_and_dmdoc_SSMaterial.yml
Labels: Awaiting Merge

#17066 Fixed shumalia's painting extended description
  code/game/objects/structures/signs.dm
  html/changelogs/fluffyghost-fixshumaliadescription.yml
Labels: Awaiting Merge, Bugfix

#16995 Link to see ships and sites that can spawn in current sector
  .github/workflows/byond.yml
  code/controllers/subsystems/ticker.dm
  code/modules/background/space_sectors/space_sector.dm
  html/changelogs/DreamySkrell-show-sites-in-sector.yml
Labels: Awaiting Merge

#17052 Adds alt-click removal to chemistry machines
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
  html/changelogs/nauticall-altclickdispenser.yml
Labels: Awaiting Merge

#17062 Body scanner bugfixes and alt clicking
  code/game/machinery/Sleeper.dm
  code/game/machinery/body_scanner.dm
  html/changelogs/nauticall-bodyscannertemp.yml
Labels: Awaiting Merge, Bugfix

#17083 Chemistry Dispenser Eject Fix.
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/dispenser/dispenser2.dm
  html/changelogs/dispenserfix.yml
Labels: Awaiting Merge, Bugfix

#17073 Adds New SCC ERT Hardsuits for Admin & Event Use
  aurorastation.dme
  code/datums/outfits/ert/scc_ert.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  html/changelogs/scc-erthardsuits-io-util.yml
  icons/clothing/rig/scc_ert/commander.dmi
  icons/clothing/rig/scc_ert/engineer.dmi
  icons/clothing/rig/scc_ert/medic.dmi
  icons/clothing/rig/scc_ert/security.dmi
Labels: Awaiting Merge, Sprites

#17063 Added a Dominian standard for Clan Han'san.
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/GeneralCamo - Han'san Standard.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#17084 Reduces the cost of the Frontier Cowboys gear loadout crate
  code/datums/uplink/gear loadout.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  html/changelogs/GeneralCamo - Cowboy Buff.yml
Labels: Awaiting Merge

#17096 Radial Menu Harddels (partial?) resolution
  code/_onclick/hud/radial.dm
  html/changelogs/fluffyghost-radialharddel.yml
Labels: Awaiting Merge, Bugfix

#17102 Updates the fox sprite.
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/friendly/fox.dm
  html/changelogs/KingOfThePing - Fox.yml
  icons/mob/npc/fox.dmi
  icons/mob/npc/pets.dmi
Labels: Awaiting Merge, Sprites

#17108 Adds new accents and origin to Orepit
  code/__defines/background.dm
  code/modules/background/accent/human.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/ipc/coalition.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  html/changelogs/KingOfThePing - Robotermenschen.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#17106 Adds in-hand sprites for duffelbags that lacked them.
  html/changelogs/RustingWithYou - duffels.yml
  icons/obj/storage/duffelbag.dmi
Labels: Awaiting Merge, Sprites

#17099 Adds Vaurca Refits for Mining & Research Voidsuits
  code/game/machinery/suit_cycler.dm
  html/changelogs/RustingWithYou - bugsprites.yml
  icons/mob/species/vaurca/helmet.dmi
  icons/mob/species/vaurca/suit.dmi
  icons/obj/clothing/species/vaurca/hats.dmi
  icons/obj/clothing/species/vaurca/suits.dmi
Labels: Awaiting Merge, Sprites

#17094 Adds Xeno Corporate Voidsuit Sprites & Modkits
  code/datums/uplink/corporate_equipment.dm
  code/game/objects/items/devices/modkit.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/RustingWithYou - drip4lizards.yml
  icons/obj/clothing/voidsuit/megacorp.dmi
Labels: Awaiting Merge, Sprites

#17092 Fixes chameleon projector issues
  code/game/objects/items/devices/chameleonproj.dm
  html/changelogs/doxxmedearly-champroj_fix.yml
Labels: Awaiting Merge, Bugfix

#17091 Alt-title access fixes
  code/datums/outfits/outfit.dm
  code/game/jobs/job/job.dm
  html/changelogs/doxxmedearly-alt_title_access_fix.yml
Labels: Awaiting Merge, Bugfix

#17121 Character Creation Prosthetics List Tweak
  code/modules/client/preference_setup/general/03_body.dm
  html/changelogs/geeves-prosthetics_list.yml
Labels: Awaiting Merge, Bugfix

#17093 Bulwark punch knockback bugfix and attack message tweaks
  code/modules/mob/living/carbon/human/species/species_attack.dm
  html/changelogs/Herpetophilia-bulwarkfix.yml
Labels: Awaiting Merge, Bugfix

#17101 Updates Shot glasses
  html/changelogs/KingOfThePing - shots_shots_shots.yml
  icons/obj/drink_glasses/shot.dmi
Labels: Awaiting Merge, Sprites

#17074 You see me rollin' 2 - Deja Vu Edition - More Roller Bed Tweaks
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/rollerbeds2.yml
  icons/obj/item/tools/vitals_monitor.dmi
  icons/obj/rollerbed.dmi
Labels: Awaiting Merge, Sprites

#17065 Upgraded the byond version used by CI to 515.1613
  .tgs.yml
  dependencies.sh
  html/changelogs/fluffyghost-ci1613.yml
Labels: Awaiting Merge

#17125 Fixed chestpieces from showing "chest"
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/syndicate.dm
  html/changelogs/fluffyghost-fixhardsuittextchest.yml
Labels: Awaiting Merge, Bugfix

#16827 Chlorine gas canisters
  code/datums/uplink/bioweapons.dm
  code/game/machinery/atmoalter/canister.dm
  html/changelogs/fluffyghost-chlorinegastank.yml
  icons/obj/atmos.dmi
Labels: Awaiting Merge, Sprites

#17097 Guns now use balloon alerts.
  code/modules/projectiles/gun.dm
  html/changelogs/GeneralCamo - Gun Balloons.yml
Labels: Awaiting Merge

#17086 Added new holidays from COC lore expansion
  code/game/gamemodes/events/holidays/holidays.dm
  html/changelogs/GeneralCamo - COC Holidays.yml
Labels: Awaiting Merge

#17123 Multi-Tile Projectile Fix
  code/modules/projectiles/projectile.dm
  html/changelogs/geeves-projectile_fixes.yml
Labels: Awaiting Merge, Bugfix

#17072 New Tajaran Clothes
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/clothing/shoes/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  html/changelogs/sleepygemmy-taj_clothes.yml
  icons/mob/species/tajaran/shoes.dmi
  icons/obj/item/clothing/shoes/flats/tajara/flats.dmi
  icons/obj/item/clothing/shoes/heels/tajara/heels.dmi
  icons/obj/item/clothing/shoes/tajara/loafers.dmi
  icons/obj/item/clothing/shoes/tajara/saddle_shoes.dmi
  icons/obj/item/clothing/under/dress/tajaran/floral_dress.dmi
  icons/obj/item/clothing/under/dress/tajaran/housewife_dresses.dmi
  icons/obj/item/clothing/under/dress/tajaran/polka_dot_dresses.dmi
  icons/obj/item/clothing/under/tajaran/fancy/evening_suit.dmi
  icons/obj/item/clothing/under/tajaran/high_waisted_wear.dmi
  icons/obj/item/clothing/under/tajaran/relaxed_wear.dmi
  icons/obj/item/clothing/under/tajaran/smart_study_outfit.dmi
Labels: Awaiting Merge, Sprites

#17116 Adds the Messy Alt Hairstyle
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/sleepygemmy-messy_alt.yml
  icons/mob/human_face/hair.dmi
  icons/mob/human_face/hair_multiply.dmi
Labels: Awaiting Merge, Sprites

#17114 Ve'katak Phalanx Uniforms
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/factions/pmcg.dm
  html/changelogs/RustingWithYou - hyezzz.yml
  icons/obj/item/clothing/department_uniforms/medical.dmi
  icons/obj/item/clothing/department_uniforms/security.dmi
Labels: Awaiting Merge, Sprites

#17109 Edits Xanu Prime origin
  code/modules/background/accent/human.dm
  code/modules/background/origins/origins/human/coalition.dm
  html/changelogs/xanuprime.yml
Labels: Awaiting Merge

#17031 Sensors tgui
  code/_helpers/maths.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/DreamySkrell-sensors-tgui.yml
  nano/templates/shipsensors.tmpl
  tgui/packages/common/math.ts
  tgui/packages/tgui/interfaces/Sensors.tsx
Labels: Awaiting Merge

#17132 Fixes IVs going upside down
  code/game/machinery/iv_drip.dm
  html/changelogs/nauticall-ivbugfix.yml
Labels: Awaiting Merge, Bugfix

#16949 Adds a unique Nralakk Federation consular pistol
  code/modules/background/citizenship/skrell.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/energy.dm
  html/changelogs/meep109_skrellconsularpistol.yml
  icons/obj/guns/psi_pistol.dmi
Labels: Awaiting Merge, Sprites

#17133 fixes incorrect duffelbag icon
  html/changelogs/RustingWithYou - duffelfix.yml
  icons/obj/storage/duffelbag.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17120 Unapologetic Cigarette Buff
  html/changelogs/geeves-cigarette_buff.yml
  icons/obj/smokables.dmi
Labels: Awaiting Merge, Sprites

#17126 Replaces the TCFL pamphlet sprite
  code/game/objects/items/weapons/manuals.dm
  html/changelogs/KingOfThePing - BIESELBOYS.yml
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites

#17137 Fixed the The Order being unavailable in loadout.
  code/modules/client/preference_setup/loadout/items/religion.dm
  html/changelogs/trinaryfix.yml
Labels: Awaiting Merge, Bugfix

#17138 Fixes the name of the Himean and Assunzionite flags
  code/game/objects/structures/flags_banners.dm
  html/changelogs/GeneralCamo - flag fixes.yml
Labels: Awaiting Merge, Bugfix

#17119 Combat QoL
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  html/changelogs/geeves-combat_qol.yml
Labels: Awaiting Merge

#17134 Laser rifle nerfs and laser armour buffs.
  code/__defines/armor.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/projectiles/guns/energy/rifle.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/mattatlas-garuda.yml
Labels: Awaiting Merge

#17079 Adds interactions for exoplanet foliage and terrain
  aurorastation.dme
  code/modules/overmap/exoplanets/biomes/jungle.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/flora/_bush.dm
  code/modules/overmap/exoplanets/decor/flora/jungle.dm
  code/modules/overmap/exoplanets/decor/flora/snow.dm
  code/modules/overmap/exoplanets/decor/objs/clearing.dm
  html/changelogs/kyres1-foliage_fun.yml
  icons/obj/flora/clearing.dmi
Labels: Awaiting Merge, Sprites

#17150 Cult Rune Fix
  code/game/gamemodes/cult/runes/rune.dm
  html/changelogs/geeves-rune_fix.yml
Labels: Awaiting Merge, Bugfix

#17158 Gluttony Tweaks
  code/_onclick/item_attack.dm
  code/modules/mob/mob_grab.dm
  html/changelogs/geeves-gluttony_tweaks.yml
Labels: Awaiting Merge, Bugfix

#17164 Fix inspect exception
  code/game/atoms.dm
  html/changelogs/FluffyGhost-fix_inspect_exception.yml
Labels: Awaiting Merge, Bugfix

#17142 Removes slime tox griefing potential from xenobotany seeds
  code/modules/hydroponics/seed.dm
  html/changelogs/removesslimetoxgrief.yml
Labels: Awaiting Merge

#17163 Fix premature harddel during hunt
  code/controllers/master/failsafe.dm
  code/controllers/master/master.dm
  code/controllers/subsystems/garbage.dm
  html/changelogs/FluffyGhost-fix_premature_harddel_during_hunt.yml
Labels: Awaiting Merge, Bugfix

#17147 Updates hivebot sprites to 2019 standards
  html/changelogs/kyres1-hivebots_finally.yml
  icons/mob/npc/hivebot.dmi
Labels: Awaiting Merge, Sprites

#17145 Expanded Vulture and Gunslinger suit availability
  code/datums/uplink/gear loadout.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/GeneralCamo & Kyres1 - Coalition Voidsuit Expansion.yml
  icons/clothing/rig/gunslinger.dmi
  icons/mob/species/machine/helmet.dmi
  icons/mob/species/machine/suit.dmi
  icons/mob/species/skrell/helmet.dmi
  icons/mob/species/skrell/suit.dmi
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  icons/obj/clothing/species/machine/hats.dmi
  icons/obj/clothing/species/machine/suits.dmi
  icons/obj/clothing/species/skrell/hats.dmi
  icons/obj/clothing/species/skrell/suits.dmi
  icons/obj/clothing/species/tajaran/hats.dmi
  icons/obj/clothing/species/tajaran/suits.dmi
Labels: Awaiting Merge, Sprites

#17180 The RIG jetpack and manouvering module can now delete correctly
  code/game/objects/items/weapons/tanks/jetpack.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  html/changelogs/FluffyGhost-del_jetpack_rig.yml
Labels: Awaiting Merge, Bugfix

#17179 Mounted gun RIG module now deletes the weapon it uses under the hood
  code/modules/clothing/spacesuits/rig/modules/combat.dm
  html/changelogs/FluffyGhost-del_mounted_gun_rig.yml
Labels: Awaiting Merge, Bugfix

#17178 Prevents motion alarms from picking up QDELING mobs, and tries to make them drop those already picked up.
  code/game/machinery/camera/motion.dm
  html/changelogs/FluffyGhost-prevent_motion_ref_qdeling_mobs.yml
Labels: Awaiting Merge, Bugfix

#17177 Attempt fix harddel scanner and scanner console
  code/game/machinery/body_scanner.dm
  html/changelogs/FluffyGhost-attempt_fix_harddel_scanner.yml
Labels: Awaiting Merge, Bugfix

#17176 Adjusted the santabag size to 200
  code/game/objects/items/weapons/storage/backpack.dm
  html/changelogs/fluffyghost-santabagmaxcap.yml
Labels: Awaiting Merge, Bugfix

#17174 Attempted fix of some additional harddels with sound tokens
  code/modules/synthesized_instruments/event_manager.dm
  code/modules/synthesized_instruments/song.dm
  code/modules/synthesized_instruments/sound_player.dm
  code/modules/synthesized_instruments/sound_token.dm
  html/changelogs/FluffyGhost-attempt_fix_soundtoken_haddels.yml
Labels: Awaiting Merge, Bugfix

#17161 Kill unnecessary startup exceptions
  code/controllers/subsystems/cargo.dm
  code/controllers/subsystems/chemistry.dm
  code/datums/helper_datums/synthsprites.dm
  code/modules/admin/admin_ranks.dm
  html/changelogs/FluffyGhost-kill_unnecessary_startup_exceptions.yml
Labels: Awaiting Merge

#17156 Frontier Cowboys now receive a lever action rifle
  code/datums/trading/weaponry.dm
  code/datums/uplink/ammunition.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/weapon.dm
  code/game/objects/random/weapon_and_ammo.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/GeneralCamo - Lever Action.yml
  icons/obj/ammo.dmi
  icons/obj/guns/leveraction.dmi
  icons/obj/guns/shotgun.dmi
  sound/attributions.txt
  sound/weapons/reloads/lever_action_cock1.ogg
Labels: Awaiting Merge, Sprites

#17154 Changed the uplink spacesuit into a standard spacesuit with extra armor
  code/datums/uplink/devices_and_tools.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/modules/clothing/spacesuits/syndi.dm
  html/changelogs/GeneralCamo - Covert Spacesuit.yml
Labels: Awaiting Merge

#17171 Fixes a few TGUI bugs.
  code/game/jobs/job/job.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon.dm
  code/modules/vehicles/droppod.dm
  html/changelogs/mattatlas-tguifixes.yml
  tgui/packages/tgui/interfaces/AtmosControl.tsx
  tgui/packages/tgui/interfaces/Doors.tsx
  tgui/packages/tgui/interfaces/SMES.tsx
  tgui/packages/tgui/interfaces/ShieldGenerator.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: Awaiting Merge, Bugfix

#17188 Fix electrified airlocks
  code/game/machinery/doors/airlock.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#17192 Fixed admin rank loading and the other file config checks
  code/controllers/subsystems/cargo.dm
  code/controllers/subsystems/chemistry.dm
  code/datums/helper_datums/synthsprites.dm
  code/modules/admin/admin_ranks.dm
  html/changelogs/fluffyghost-fixadminranksloading.yml
Labels: High Priority, Review Required, Bugfix

#17195 Post 3/4 Fixes, Pt. 1
  code/__defines/color.dm
  code/game/machinery/biogenerator.dm
  code/game/turfs/flooring/flooring.dm
  code/modules/materials/materials.dm
  code/modules/tables/presets.dm
  html/changelogs/nauticall-mapfixes-01.yml
  icons/obj/structure/platforms.dmi
  icons/turf/flooring/tiles.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, Bugfix, Mapping: Horizon
