Repository Aurorastation/Aurora.3, pull requests merged in 2023-01, with the labels that each got.

#15484 Ai Core and Solar Panels Build Fix
  code/game/machinery/computer/ai_core.dm
  code/modules/power/solar.dm
  html/changelogs/Ben10083 - Core Fix.yml
Labels: Awaiting Merge, Bugfix

#15469 Adds Missing Cameras
  html/changelogs/missing_cameras.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#15396 Machinist Workshop Expansion and Fixes
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/machinist_workshop_tweaks.yml
  maps/away/away_site/racers/racers.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15117 Horizon sensor console announcement of incoming fire
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/fluffyghost.yml
  nano/templates/shipsensors.tmpl
Labels: Awaiting Merge

#15106 Enlarge intrepid helm
  html/changelogs/fluffyghost.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15468 Main Elevator Escape Hatch
  html/changelogs/elevator_escape.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15459 Noble Tajaran Clothing
  code/modules/client/preference_setup/loadout/loadout_xeno/tajara.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  html/changelogs/greenjoe12345 - tajclothes.yml
  icons/mob/species/tajaran/l_ear.dmi
  icons/mob/species/tajaran/r_ear.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#15457 Refactor cell chargers
  code/__defines/machinery.dm
  code/game/machinery/cell_charger.dm
  code/game/objects/items/weapons/power_cells.dm
  html/changelogs/johnwildkins-chargers.yml
Labels: Awaiting Merge, Refactor

#15463 Dominian fashion update #12.
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/factions/dominia.dm
  html/changelogs/mattatlas-WAKEMYSOUL.yml
  icons/clothing/suits/capes/dominia.dmi
  icons/clothing/under/uniforms/dominia_dresses.dmi
  icons/clothing/under/uniforms/dominia_noble_dress.dmi
  icons/clothing/under/uniforms/dominia_suits.dmi
  icons/clothing/under/uniforms/dominia_summer_dress.dmi
  icons/clothing/under/uniforms/dominia_uniform_black.dmi
  icons/clothing/under/uniforms/dominia_uniform_red.dmi
  maps/away/ships/coc_ranger/coc_ship.dmm
Labels: Awaiting Merge, Sprites

#15491 Research Power Cable Fix
  html/changelogs/sci_fix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: High Priority, Review Required, Bugfix

#15486 Independent Assistants Fix
  code/__defines/jobs.dm
  html/changelogs/independent_assistants_oversight.yml
Labels: Awaiting Merge, Bugfix

#15498 HRA Fix
  code/__defines/jobs.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#15502 Potentially fixes lobby icon transitions and bluespace jump lag.
  html/changelogs/mattatlas-mapbugs.yml
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#15508 Fixes overmap hazards not spawning correctly, fixes overmap being smaller by 15 tiles.
  code/game/turfs/turf.dm
  code/modules/overmap/events/event.dm
  html/changelogs/mattatlas-overmapfix.yml
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge, Bugfix

#15499 SCC Default Laws
  code/datums/ai_law_sets.dm
  code/game/objects/items/weapons/AI_modules.dm
  code/modules/modular_computers/file_system/programs/research/ai_restorer.dm
  html/changelogs/scc_default.yml
  nano/templates/aidiag.tmpl
Labels: Awaiting Merge, Bugfix

#15490 Colorable Prosthetics
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  html/changelogs/geeves-colorable_prosthetics.yml
Labels: Awaiting Merge

#15460 Multi-Z level away site support, real-time map template loading.
  aurorastation.dme
  code/controllers/subsystems/machinery.dm
  code/controllers/subsystems/mapping.dm
  code/datums/ruins.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/pipes.dm
  code/modules/maps/map_template.dm
  html/changelogs/mattatlas-destroyerofgods.yml
  maps/away/away_site/abandoned_mining/cursed.dm
  maps/away/away_site/big_derelict/bigderelict.dm
  maps/away/away_site/civ_station/civilian_station.dm
  maps/away/away_site/crashed_elyran_tanker/crashed_elyran_tanker.dm
  maps/away/away_site/first_aurora/first_aurora.dm
  maps/away/away_site/hivebot_hub/hivebot_hub.dm
  maps/away/away_site/magshield/magshield.dm
  maps/away/away_site/overgrown_mining_station/overgrown_mining_station.dm
  maps/away/away_site/racers/racers.dm
  maps/away/away_site/romanovich/grand_romanovich.dm
  maps/away/away_site/shady/shady.dm
  maps/away/away_site/sol_bunker/bunker.dm
  maps/away/away_site/space_bar/space_bar.dm
  maps/away/away_site/tajara/mining_jack/mining_jack.dm
  maps/away/away_site/tajara/peoples_station/peoples_station.dm
  maps/away/away_site/tajara/pra_satellite/pra_satellite.dm
  maps/away/away_site/tajara/scrapper/scrapper.dm
  maps/away/away_site/tajara/taj_safehouse/tajara_safehouse.dm
  maps/away/away_site/unathi_pirate/unathi_pirate_izharshan.dm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dm
  maps/away/ships/casino/casino.dm
  maps/away/ships/coc_ranger/coc_ship.dm
  maps/away/ships/einstein/ee_spy_ship.dm
  maps/away/ships/elyra/elyra_strike_craft.dm
  maps/away/ships/iac/iac_rescue_ship.dm
  maps/away/ships/kataphracts/kataphract_ship.dm
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/pra/database_freighter/database_freighter.dm
  maps/away/ships/pra/headmaster/headmaster_ship.dm
  maps/away/ships/skrell_smuggler/tirakqi_freighter.dm
  maps/away/ships/sol_merc/fsf_patrol_ship.dm
  maps/away/ships/sol_pirate/sfa_patrol_ship.dm
  maps/away/ships/sol_ssmd/ssmd_ship.dm
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dm
  maps/away/ships/tcfl_patrol/tcfl_peacekeeper_ship.dm
  maps/away/ships/tramp_freighter/tramp_freighter.dm
  maps/away/ships/wildlands_militia/militia_ship.dm
  maps/away/ships/yacht/yacht.dm
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
  maps/random_ruins/exoplanets/crashed_pod/crashed_pod.dm
  maps/random_ruins/space_ruins/space_ruins.dm
  maps/templates/distress/distress_equipment.dm
  maps/templates/orbital/orbital_templates.dm
Labels: Awaiting Merge

#14927 Propulsion Update
  html/changelogs/wickedcybs_nacelles.yml
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Review Required, Mapping: Horizon

#15496 New Hai Phong fashion - Adds an ao dai, resprites the non la
  aurorastation.dme
  code/datums/underwear/top.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/factions/newhaiphong.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/atteria-NHP-fashion.yml
  icons/clothing/under/uniforms/newhaiphong.dmi
  icons/mob/head.dmi
  icons/mob/underwear.dmi
  icons/obj/clothing/hats.dmi
Labels: Awaiting Merge, Sprites

#15495 Custom items 02/01/23
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/brianne_items.dmi
  icons/obj/custom_items/brianne_teapot.dmi
  icons/obj/custom_items/caleb_badge.dmi
  icons/obj/custom_items/qorja_headband.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#15409 Fixes Pushing Custodial Carts Slowing You Down
  code/game/atoms_movable.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_movement.dm
  code/modules/vehicles/bike.dm
  html/changelogs/custodial_cart_pushing.yml
Labels: Awaiting Merge, Bugfix

#15333 Dominian Naval Ship
  aurorastation.dme
  code/__defines/ship_weapons.dm
  code/game/jobs/access_datum.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/overmap/ship_weaponry/weaponry/lammergeier.dm
  html/changelogs/dansemacabre-dominiasuxlol.yml
  icons/clothing/rig/dominia.dmi
  icons/clothing/suits/capes/dominia.dmi
  icons/obj/guns/ship/ship_ammo_lammergeier.dmi
  icons/obj/machines/ship_guns/lammergeier.dmi
  maps/away/ships/dominia/dominian_corvette.dm
  maps/away/ships/dominia/dominian_corvette.dmm
  maps/away/ships/dominia/dominian_corvette_ghostroles.dm
Labels: Awaiting Merge, Sprites

#15521 Gives the IAC off-ship xenocompatibility & access fixes
  html/changelogs/iacbugfix3.yml
  maps/away/ships/iac/iac_rescue_ship.dmm
Labels: Awaiting Merge, Bugfix

#15510 Colored starlight bugfix.
  code/controllers/subsystems/skybox.dm
  code/modules/background/space_sectors/badlands.dm
  code/modules/background/space_sectors/generic_sectors.dm
  code/modules/background/space_sectors/space_sector.dm
  code/modules/background/space_sectors/tauceti.dm
  html/changelogs/dansemacabre-letmejust.yml
Labels: Awaiting Merge, Bugfix

#15538 Fixes compile
  maps/away/ships/dominia/dominian_corvette.dm
Labels: High Priority, Changelog Required

#15527 Food Renaming Fix
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/KingOfThePing - funny_food_names.yml
Labels: Awaiting Merge, Bugfix

#15500 Public Red Coalition Flag
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/geeves-mars_burns.yml
  icons/obj/custom_items/nikita_flag.dmi
  icons/obj/flags.dmi
Labels: Awaiting Merge, Sprites

#15315 New Corporate Coats
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/hoodies.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/storage.dm
  html/changelogs/morecorpocoats.yml
  icons/mob/clothing/suit/labcoat.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/hoodies.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/item/clothing/suit/storage/toggle/corp_dep_jackets.dmi
Labels: Awaiting Merge, Sprites

#15539 You Taste Uncooked Dough Fix
  code/modules/cooking/recipes/recipe.dm
  code/modules/cooking/recipes/recipes_pastries.dm
  html/changelogs/geeves-uncooked_dough.yml
Labels: Awaiting Merge, Bugfix

#15522 Fixes Locker Access on the SFA Ship
  html/changelogs/wickedcybs_access.yml
  maps/away/ships/sol_pirate/sfa_patrol_ship.dmm
Labels: Awaiting Merge, Bugfix

#15474 Cargo tug new sprite and fixes vehicles.
  code/modules/lock/key.dm
  code/modules/mining/mine_items.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/cargo_train.dm
  code/modules/vehicles/pussywagon.dm
  code/modules/vehicles/train.dm
  code/modules/vehicles/vehicle.dm
  html/changelogs/wezzy_cargotugchug.yml
  icons/mob/screen/radial.dmi
  icons/obj/cart.dmi
  icons/obj/vehicles.dmi
  sound/machines/vehicles/bike_stand_down.ogg
  sound/machines/vehicles/bike_stand_up.ogg
  sound/machines/vehicles/bike_start.ogg
  sound/machines/vehicles/button.ogg
  sound/machines/vehicles/key_in.ogg
  sound/machines/vehicles/key_out.ogg
  sound/machines/vehicles/start.ogg
  vueui/src/components/view/vehicles/pussywagon.vue
  vueui/src/components/view/vehicles/trainengine.vue
Labels: Awaiting Merge, Sprites, VueUi

#15507 Telecommunications Layout Tweaks
  code/game/machinery/commsbantenna.dm
  code/game/machinery/telecomms/presets.dm
  html/changelogs/tcomms_climbable.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15550 Fix apostrophes in gear names breaking selection
  code/modules/client/preference_setup/loadout/loadout.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#15520 Raises maximum health and break threshold of hearts, nerfs the heart damage component of adrenaline
  code/modules/organs/internal/heart.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/sheeplets.yml
Labels: Awaiting Merge

#15523 beer.
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/Sniblet-15523.yml
Labels: Awaiting Merge

#15528 Changes the NT AI core to an SCC AI core.
  code/modules/mob/living/silicon/ai/icons.dm
  html/changelogs/scc-ai-sprite.yml
  icons/mob/AI.dmi
Labels: Awaiting Merge, Sprites

#15535 Adds fluent written english to Joy messages
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  html/changelogs/Sniblet-15535.yml
Labels: Awaiting Merge, Bugfix

#15533 Adds Dionae as a choice to some ghostrole ships
  html/changelogs/Yonnimer-dionaecrew.yml
  maps/away/ships/iac/iac_rescue_ship_ghostroles.dm
  maps/away/ships/orion/orion_express_ship_ghostroles.dm
  maps/away/ships/tramp_freighter/tramp_freighter_ghostroles.dm
Labels: Awaiting Merge

#15518 Ion Thrusters
  aurorastation.dme
  code/modules/overmap/ships/engines/ion_thruster.dm
  html/changelogs/wickedcybs_electricthruster.yml
  maps/runtime/runtime-1.dmm
Labels: Awaiting Merge, Mapping: Runtime

#15417 Revenant Teleportation
  code/_onclick/click.dm
  code/_onclick/hud/fullscreen.dm
  code/game/objects/effects/overlays.dm
  code/modules/mob/living/carbon/human/species/outsider/revenant.dm
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/geeves-revenant_teleportation.yml
  icons/mob/screen/full.dmi
Labels: Awaiting Merge, Sprites

#15446 Adds two new Dionae-themed awayships
  aurorastation.dme
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  code/modules/clothing/head/xenos/diona.dm
  code/modules/clothing/suits/xeno/diona.dm
  html/changelogs/Yonnimer-clanships.yml
  icons/obj/diona_items.dmi
  icons/obj/modular_console.dmi
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dmm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship_ghostroles.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dmm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship_ghostroles.dm
Labels: Awaiting Merge, 🚫 Do Not Merge 🚫, Sprites

#15394 Removes slowdown from firing guns.
  code/modules/projectiles/gun.dm
  html/changelogs/mattatlas-gunslowdown.yml
Labels: Awaiting Merge, Test Merge Candidate

#15557 Fixes the pipe dispenser dispending random pipes.
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  html/changelogs/mattatlas-NEVERTOUCHINGTHISFUCKINGCODEAGAIN.yml
Labels: Awaiting Merge, High Priority, Bugfix

#15558 Stops the dionae ships from spawning
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dm
Labels: Changelog Required, Review Required, Bugfix

#15501 Adds chugging, knocking on a table and slamming your hand on a table.
  code/modules/emotes/definitions/_mob.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks/drinkingglass.dm
  code/modules/tables/interactions.dm
  html/changelogs/mattatlas-roleplay.yml
  sound/effects/table_knock.ogg
  sound/effects/table_slam.ogg
Labels: Awaiting Merge

#15513 Trade Offer: Her Majesty's Mercantile Flotilla Ship
  aurorastation.dme
  code/game/jobs/access_datum.dm
  code/game/objects/items/weapons/storage/field_ration.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/clothing/suits/xeno/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  html/changelogs/alberyk-nkamerchant.yml
  icons/obj/tajara_items.dmi
  maps/away/ships/nka/nka_merchant/nka_merchant.dm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant_areas.dm
  maps/away/ships/nka/nka_merchant/nka_merchant_ghostroles.dm
Labels: Awaiting Merge, Sprites

#15552 Adds Dionae XO as a playable choice
  code/game/jobs/job/captain.dm
  html/changelogs/Yonnimer-dionaexo.yml
Labels: Awaiting Merge

#15559 Drops right side reef ponytail one pixel
  html/changelogs/reeffix.yml
  icons/mob/human_face/skrell_hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#15497 Adds mechanical traits from origins.
  aurorastation.dme
  code/__defines/origin_traits.dm
  code/__defines/traits.dm
  code/modules/background/origins/_origins.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/human/dominia.dm
  code/modules/background/origins/origins/human/elyra.dm
  code/modules/background/origins/origins/human/sol.dm
  code/modules/client/preference_setup/origin/origin.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/organs/internal/eyes.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs/mattatlas-xltt.yml
Labels: Awaiting Merge

#15565 Fixes some runtimes
  code/game/area/areas.dm
  code/game/atoms_movable.dm
  code/game/machinery/atmoalter/portable_atmospherics.dm
  code/game/machinery/newscaster.dm
  code/modules/cooking/machinery/cooking_machines/grill.dm
  code/modules/mob/living/carbon/slime/slime_extractor.dm
  code/modules/overmap/ship_weaponry/_ship_ammo_loader.dm
  code/modules/paperwork/papershredder.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#15566 Adds Missing Diona Nymph Description
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  html/changelogs/diona_nymph_desc.yml
Labels: Awaiting Merge, Bugfix

#15540 Battle Bots
  aurorastation.dme
  code/datums/trading/goods.dm
  code/defines/obj/weapon.dm
  code/game/objects/items/toys.dm
  code/game/objects/random/random.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_toy.dm
  code/modules/holidays/christmas/props.dm
  code/modules/mining/abandonedcrates.dm
  code/modules/mob/hear_say.dm
  code/modules/mob/living/simple_animal/constructs/constructs/cult_construct.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  code/modules/mob/living/simple_animal/hostile/morph.dm
  code/modules/mob/living/simple_animal/hostile/pra.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/hostile/rogue_maint_drone.dm
  code/modules/mob/living/simple_animal/hostile/toy/mech.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob_defines.dm
  html/changelogs/geeves-battle_bots.yml
  icons/mob/npc/toy_mech.dmi
  icons/obj/toy.dmi
  maps/aurora/aurora-4_mainlevel.dmm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#15574 Floating chat messages now follow you out of the closet
  code/modules/mob/floating_messages.dm
  html/changelogs/johnwildkins-epicchat.yml
Labels: Awaiting Merge, Bugfix

#15569 Updates NHP origin restrictions.
  code/modules/background/origins/origins/human/sol.dm
  html/changelogs/mattatlas-nhp.yml
Labels: Awaiting Merge, Bugfix

#15560 Resprites Snow
  aurorastation.dme
  code/game/objects/effects/decals/snow.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/overmap/exoplanets/turfs.dm
  html/changelogs/atteria-Snow.yml
  icons/turf/decals/snow64x32.dmi
  icons/turf/floors.dmi
  icons/turf/snow.dmi
Labels: Awaiting Merge, Sprites

#15556 Fixes some origins not saving.
  SQL/migrate/V075__cultures_origins_update.sql
  html/changelogs/mattatlas-varcharmoment.yml
Labels: Awaiting Merge, Bugfix

#15562 Adds tricordrazine to sleeper injection options.
  code/game/machinery/Sleeper.dm
  html/changelogs/anconfuzedrock-tricordnapper.yml
Labels: Awaiting Merge

#15581 allow the diona ship to spawn
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dm
Labels: Changelog Required

#15584 Runtime Killer PR 3000
  code/_helpers/atmospherics.dm
  code/controllers/subsystems/job.dm
  code/game/atoms_movable.dm
  code/game/sound.dm
  code/modules/goonchat/browserOutput.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/mob/floating_messages.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/shieldgen/shield_gen.dm
  html/changelogs/johnwildkins-runtimekill3000.yml
Labels: Awaiting Merge, Bugfix

#15573 Resprites the modular laptop to 3/4ths
  html/changelogs/atteria-laptop.yml
  icons/obj/modular_laptop.dmi
Labels: Awaiting Merge, Sprites

#15571 Adds a Lyodii accent.
  code/modules/background/accent/human.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/human/dominia.dm
  html/changelogs/thestryker-accents5.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#15563 Unify flash handling under flash_act
  code/game/atoms.dm
  code/game/gamemodes/cult/runes/stun.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/technomancer/spells/flame_tongue.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/camera/camera_assembly.dm
  code/game/machinery/flasher.dm
  code/game/machinery/jukebox.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/weapons/cloaking_device.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/spawnergrenade.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/items/weapons/tools.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/game/sound.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/hallucinations/types/powers.dm
  code/modules/mob/living/announcer.dm
  code/modules/mob/living/carbon/alien/alien_damage.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_attackhand.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/robot/robot_damage.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/species/tajara.dm
  code/modules/organs/internal/species/vaurca.dm
  code/modules/organs/subtypes/diona.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/spell_system/artifacts/items/poppet.dm
  html/changelogs/johnwildkins-flash.yml
  icons/mob/screen/effects.dmi
Labels: Awaiting Merge, Refactor, Sprites, Lore Impact, Balance

#15570 MC runlevels and maptick
  code/__defines/flags.dm
  code/__defines/master_controller.dm
  code/__defines/subsystem-priority.dm
  code/_helpers/unsorted.dm
  code/_onclick/click.dm
  code/controllers/master/master.dm
  code/controllers/master/subsystem.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/alarm.dm
  code/controllers/subsystems/ao.dm
  code/controllers/subsystems/assets.dm
  code/controllers/subsystems/chat.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/explosives.dm
  code/controllers/subsystems/fail2topic.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/icon_smooth.dm
  code/controllers/subsystems/lighting.dm
  code/controllers/subsystems/mob.dm
  code/controllers/subsystems/mob_ai.dm
  code/controllers/subsystems/orbit.dm
  code/controllers/subsystems/overlays.dm
  code/controllers/subsystems/ping.dm
  code/controllers/subsystems/plants.dm
  code/controllers/subsystems/processing/processing.dm
  code/controllers/subsystems/profiler.dm
  code/controllers/subsystems/sun.dm
  code/controllers/subsystems/ticker.dm
  code/controllers/subsystems/timer.dm
  code/controllers/subsystems/trade.dm
  code/controllers/subsystems/virtual_reality.dm
  code/controllers/subsystems/vote.dm
  code/controllers/subsystems/zcopy.dm
  code/modules/goonchat/browserOutput.dm
  code/unit_tests/ss_test.dm
  maps/away/away_site/overgrown_mining_station/overgrown_mining_station.dmm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dmm
Labels: Awaiting Merge, Changelog Required, High Risk, Test Merge Candidate

#15595 Fixes a Loadout Entry Description
  code/controllers/subsystems/sunlight.dm
  code/game/machinery/abstract/intercom_listener.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/background/origins/_origins.dm
  code/modules/client/preference_setup/loadout/loadout_accessories.dm
  code/modules/cooking/machinery/cooking_machines/_appliance.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/mob/holder.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/overmap/ship_weaponry/_ship_gun.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/supermatter/setup_supermatter.dm
  code/modules/xgm/xgm_gas_data.dm
  html/changelogs/neck_acc_fix.yml
Labels: Awaiting Merge, Bugfix

#15596 Repaths Spaghetti
  code/modules/cargo/bounties/chef.dm
  code/modules/cooking/recipes/cultural/recipes_earth.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/atteria-spaghetti-code.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#15567 The DPRA enters the scene: the Hailstorm Ship
  aurorastation.dme
  code/game/jobs/access_datum.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/spacesuits/void/alien.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/effects/ion_trail_follow.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/wasp_torpedo.dm
  html/changelogs/alberyk-dpraship.yml
  icons/obj/ammo.dmi
  icons/obj/guns/mrrazhak.dmi
  icons/obj/tajara_items.dmi
  icons/obj/wasp_torpedo.dmi
  maps/away/ships/dpra/hailstorm/hailstorm_areas.dm
  maps/away/ships/dpra/hailstorm/hailstorm_ghostroles.dm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
Labels: Review Required, Sprites

#15604 Fixes drinks allowing you to go into negative speed values.
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/mattatlas-tgoids.yml
Labels: Awaiting Merge, Bugfix

#15587 Better Medbot Sprites
  code/game/machinery/bots/bots.dm
  code/game/objects/items.dm
  code/modules/cargo/bounties/bot.dm
  code/modules/integrated_electronics/subtypes/output.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/bot/medbot.dm
  html/changelogs/wezzy_radarputamaskon.yml
  icons/mob/npc/aibots.dmi
  icons/obj/aibots.dmi
  icons/obj/device.dmi
Labels: Awaiting Merge, Sprites

#15602 Fixes Washing Machine Typo
  code/game/machinery/washing_machine.dm
  html/changelogs/wash.yml
Labels: Awaiting Merge, Bugfix

#15590 Body and Soul of Steel: the Tesla Rejuvenation Suit
  aurorastation.dme
  code/__defines/mobs.dm
  code/__defines/species.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  code/modules/mob/living/maneuvers/maneuver_leap.dm
  code/modules/organs/internal/species/tajara.dm
  code/modules/organs/robolimbs.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/organs/subtypes/tajara.dm
  html/changelogs/alberyk-teslabody.yml
  icons/mob/human_face/eyes48x48.dmi
  icons/mob/human_face/tesla_body_facial_hair.dmi
  icons/mob/human_face/tesla_body_hair.dmi
  icons/mob/human_races/masks/blood_tesla_body.dmi
  icons/mob/human_races/masks/dam_mask_tesla_body.dmi
  icons/mob/human_races/tajara/industrial_tesla_limbs.dmi
  icons/mob/human_races/tajara/r_tesla_body.dmi
  icons/mob/human_races/tajara/tesla_body_preview.dmi
  icons/mob/human_races/tesla_body_augments.dmi
  icons/mob/species/tajaran/tesla_body/uniform.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#15607 Fixes ships being in the away site spawn pool
  html/changelogs/shipcost.yml
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dm
  maps/away/ships/iac/iac_rescue_ship.dm
  maps/away/ships/sol_ssmd/ssmd_ship.dm
Labels: Awaiting Merge, Bugfix

#15606 Single Dispenser Rows Begone
  code/modules/reagents/dispenser/dispenser2.dm
  html/changelogs/ramke_single-rows-begone.yml
Labels: Awaiting Merge, Bugfix

#15603 dpra ship has correct ammo for its guns
  html/changelogs/hadiis40mmgrace.yml
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
Labels: Awaiting Merge, Bugfix

#15591 Leftover Sprites Fix
  icons/mob/npc/aibots.dmi
Labels: Awaiting Merge, Changelog Required, Sprites, Bugfix

#15434 Security and Brig QoL Tweaks
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/flasher.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  code/game/objects/structures/window.dm
  code/modules/hydroponics/trays/tray_reagents.dm
  html/changelogs/brig_tweaks.yml
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15548 Security Goon Equipment
  code/controllers/subsystems/job.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_mask.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/geeves-goon_coifs.yml
  icons/clothing/accessories/goon_coif.dmi
  icons/clothing/eyes/goon_goggles.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites

#15554 Port sound player and sound tokens from Bay
  aurorastation.dme
  code/__datastructures/stack.dm
  code/__defines/_macros.dm
  code/_helpers/data_structures.dm
  code/datums/repositories/sound_channels.dm
  code/datums/sound_player.dm
  code/game/machinery/jukebox.dm
  code/modules/scripting/stack.dm
  html/changelogs/fluffyghost.yml
Labels: Awaiting Merge, Changes Required

#15617 Fix slowdown being applied twice
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/johnwildkins-fixmatt.yml
Labels: Awaiting Merge, Bugfix

#15619 FIX THE SERVER BEING FUCKED
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
Labels: Awaiting Merge, High Priority, Changelog Required, Bugfix

#15614 Fixes some origins not saving.
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/human/dominia.dm
  code/modules/background/origins/origins/skrell/nralakk.dm
  html/changelogs/mattatlas-letmego.yml
Labels: Awaiting Merge, Bugfix

#15610 Chaplain Leftover Access Fix
  code/game/jobs/job/civilian.dm
  html/changelogs/chaplain_access_fix.yml
Labels: Awaiting Merge, Bugfix

#15623 Fixes pulling heavy items not causing slowdown and msai/unathi being slower.
  code/modules/mob/living/carbon/human/human_movement.dm
  html/changelogs/mattatlas-youseebiggirl.yml
Labels: Awaiting Merge, Bugfix

#15605 Adds a variety of tattoos
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/tats.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites

#15620 Fix the step_x/y unit test
  scripts/code_check.sh
Labels: Awaiting Merge, Changelog Required, Bugfix

#15462 Merchant Antag Tweaks
  code/game/antagonist/station/changeling/changeling.dm
  code/game/antagonist/station/cultist.dm
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/antagonist/station/traitor.dm
  code/game/antagonist/station/vampire.dm
  html/changelogs/merchant_tweaks.yml
Labels: Awaiting Merge, ⛔ Maintainer Discussion ⛔

#15632 Tactical/Welding Goggles Layer Above Hair by Default
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/wickedcybs_goggles.yml
Labels: Awaiting Merge, Bugfix

#15297 Security weaponry and balance tweaks.
  code/__defines/armor.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  code/modules/clothing/spacesuits/rig/suits/merc.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/heavy_vehicle/components/armor.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/minigun.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/mattatlas-diesirae.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Test Merge Candidate, Balance

#15630 Fixes Armoury Button
  html/changelogs/armoury_button_fix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#15638 Projectile Duplicate Variable Fix
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/antitank_warhead_fix.yml
Labels: Awaiting Merge, Bugfix

#15635 Fixes shuttles not bringing shuttle parts with them.
  code/game/turfs/simulated/shuttle_turfs.dm
  html/changelogs/mattatlas-fixships.yml
Labels: Awaiting Merge, Bugfix

#15608 Library Map Overhaul
  html/changelogs/library_map_tweaks.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15601 Pharmacy QoL Map Tweaks
  html/changelogs/pharmacy_tweaks.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Horizon

#15586 Materials And Medical Stacks
  code/datums/trading/ai.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/nanopaste.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/random/random.dm
  code/game/sound.dm
  code/modules/materials/material_sheets.dm
  code/modules/mining/ore.dm
  html/changelogs/wezzy_newmats.yml
  icons/obj/item/ore.dmi
  icons/obj/item/stacks/materials.dmi
  icons/obj/item/stacks/medical.dmi
  icons/obj/item/stacks/nanopaste.dmi
  icons/obj/item/stacks/tiles.dmi
  icons/obj/item/stacks/wrap.dmi
  icons/obj/mining.dmi
  icons/obj/stacks/materials.dmi
  icons/obj/stacks/medical.dmi
  icons/obj/stacks/nanopaste.dmi
  sound/items/advkit.ogg
  sound/items/ointment1.ogg
  sound/items/ointment2.ogg
  sound/items/ointment3.ogg
  sound/items/rip3.ogg
  sound/items/rip4.ogg
  sound/items/tape.ogg
Labels: Awaiting Merge, Sprites

#15575 Sensor Array Away Sites
  aurorastation.dme
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  html/changelogs/geeves-sensor_array_offsite.yml
  icons/obj/machinery/sensors.dmi
  icons/obj/overmap.dmi
  maps/away/away_site/sensor_relay/sensor_relay.dm
  maps/away/away_site/sensor_relay/sensor_relay.dmm
  maps/away/away_site/sensor_relay/sensor_relay_sprites.dmi
Labels: Awaiting Merge, Sprites

#15551 Movable Overmap Events
  code/modules/overmap/events/event.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ship_weaponry/projectiles/_overmap_projectiles.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/geeves-movable_overmap_events.yml
Labels: Awaiting Merge

#15549 Dominian greatcoats and coats additions.
  code/datums/outfits/outfit_antag.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/factions/dominia.dm
  html/changelogs/mattatlas-coats.yml
  icons/clothing/suits/coats/dominia_consular_coat.dmi
  icons/clothing/suits/coats/dominia_noble_black.dmi
  icons/clothing/suits/coats/dominia_noble_coats.dmi
  icons/clothing/suits/coats/dominia_noble_gold.dmi
  icons/clothing/suits/coats/dominia_noble_red.dmi
  icons/clothing/under/uniforms/dominia_consular.dmi
Labels: Awaiting Merge, Sprites

#15545 Woolen hats 'n' stuff
  aurorastation.dme
  code/__defines/accessories.dm
  code/modules/client/preference_setup/loadout/loadout_ears.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_gloves.dm
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/ears/earmuffs.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/woolen_hats.dm
  html/changelogs/woolenstuff.yml
  icons/obj/clothing/ears/earmuffs.dmi
  icons/obj/item/clothing/gloves/mittens.dmi
  icons/obj/item/clothing/head/wool_hats.dmi
Labels: Awaiting Merge, Sprites

#15639 Fix dominian greatcoat PR decls
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  html/changelogs/fluffyghost-fixdeclsindominiangreatcoat.yml
Labels: Awaiting Merge, High Priority, Bugfix

#15652 Re-adds Auxtools
  aurorastation.dme
  code/__defines/auxtools.dm
Labels: Awaiting Merge, High Priority, Changelog Required, Bugfix

#15643 Fixes skin oddity with 515.
  html/changelogs/mattatlas-skin.yml
  interface/skin.dmf
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#15640 Leftover Sprite Fix
  icons/obj/item/stacks/materials.dmi
Labels: Awaiting Merge, Changelog Required, Sprites, Bugfix

#15622 adds gpses to literally every ghostrole ship + sfa powerloader
  code/modules/heavy_vehicle/premade/powerloader.dm
  html/changelogs/rustingwithyou - offshipgps.yml
  maps/away/away_site/tajara/mining_jack/mining_jack.dmm
  maps/away/away_site/tajara/scrapper/scrapper.dmm
  maps/away/away_site/unathi_pirate/unathi_pirate_izharshan.dmm
  maps/away/ships/coc_ranger/coc_ship.dmm
  maps/away/ships/dominia/dominian_corvette.dmm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
  maps/away/ships/einstein/ee_spy_ship.dmm
  maps/away/ships/elyra/elyran_strike_craft.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
  maps/away/ships/orion/orion_express_ship.dmm
  maps/away/ships/pra/database_freighter/database_freighter.dmm
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
  maps/away/ships/skrell_smuggler/tirakqi_freighter.dmm
  maps/away/ships/sol_merc/fsf_patrol_ship.dmm
  maps/away/ships/sol_pirate/sfa_patrol_ship.dmm
  maps/away/ships/sol_ssmd/ssmd_ship.dmm
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dmm
  maps/away/ships/tcfl_patrol/tcfl_peacekeeper_ship.dmm
  maps/away/ships/tramp_freighter/tramp_freighter.dmm
  maps/away/ships/wildlands_militia/militia_ship.dmm
Labels: Awaiting Merge

#15651 Flash and flashbang tweaks and fixes
  code/__defines/mobs.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/jukebox.dm
  code/game/objects/items/devices/flash.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/sound.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/organs/internal/eyes.dm
  html/changelogs/johnwildkins-flashfix.yml
Labels: Awaiting Merge, Bugfix

#15656 Fixes mobs floating on holes.
  code/modules/mob/animations.dm
  html/changelogs/mattatlas-stairwaytoheaven.yml
Labels: Awaiting Merge, Bugfix

#15654 Adds a Public Library Computer
  aurorastation.dme
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  code/modules/library/lib_readme.dm
  html/changelogs/library_public_computer.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#15647 Wand of Nothing
  code/modules/projectiles/guns/energy/magic.dm
  html/changelogs/Afya-Wands.yml
Labels: Awaiting Merge

#15665 Fixes events.
  code/datums/observation/dir_set.dm
  code/datums/observation/moved.dm
  code/datums/sound_player.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/machinery/station_holomap.dm
  code/game/objects/items/devices/hacktool.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/easel.dm
  code/game/objects/items/weapons/cards_ids_syndicate.dm
  code/game/objects/items/weapons/teleportation.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/target_stake.dm
  code/modules/cooking/trays.dm
  code/modules/mob/abstract/freelook/visualnet.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/simple_animal/hostile/toy/mech.dm
  code/modules/mob/mob_grab.dm
  code/modules/multiz/movement.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/landable.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/surgery/implant.dm
  code/modules/tables/interactions.dm
  code/modules/telesci/gps.dm
  html/changelogs/mattatlas-emya.yml
  scripts/code_check.sh
  vueui/README.md
Labels: Awaiting Merge, Bugfix

#15628 Unapologetic Teleporter Buffs
  code/game/machinery/Beacon.dm
  code/game/objects/items/devices/radio/beacon.dm
  code/game/objects/items/devices/radio/radio.dm
  html/changelogs/geeves-teleporter_beacons.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#15648 Ghosts can now scan IPCs/Robots
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/silicon/robot/analyzer.dm
  html/changelogs/Afya-Ghostscanner.yml
Labels: Awaiting Merge

#15672 Fixes Window Blending 2, Electric Boogaloo
  html/changelogs/wezzy_fixeswindows2.yml
  icons/obj/smooth/full_window.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#15664 Minor Medbay map tweaks
  html/changelogs/sheeplets.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#15480 Removes ventcrawl blenders
  code/modules/ventcrawl/ventcrawl_atmospherics.dm
  html/changelogs/Sniblet-PR-15480.yml
Labels: Awaiting Merge

#15633 Give Machinists medical records again
  code/game/jobs/job/civilian.dm
  code/modules/client/preference_setup/loadout/loadout_computer.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/computers/subtypes/preset_handheld.dm
  code/modules/modular_computers/computers/subtypes/preset_pda.dm
  code/modules/modular_computers/computers/subtypes/preset_wristbound.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  html/changelogs/flaminglily-record.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Changes Required

#15615 Helmet Storage Framework
  code/__defines/obj.dm
  code/game/objects/items/weapons/material/material_armor.dm
  code/game/objects/items/weapons/storage/internal.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/pilot_helmet.dm
  code/modules/clothing/head/xenos/tajara.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  html/changelogs/geeves-helmet_storage.yml
  icons/clothing/kit/helmet_garb.dmi
Labels: Awaiting Merge, Sprites

#15428 Reverts the Christmas Event Map Edits
  maps/event/idris_cruise/idris_cruise-1.dmm
Labels: Awaiting Merge, Changelog Required, Mapping: Event

#15655 More Exoplanet Ruins
  aurorastation.dme
  code/modules/maps/planet_types/barren.dm
  code/modules/maps/planet_types/grass.dm
  code/modules/maps/planet_types/lava.dm
  html/changelogs/wickedcybs_ruined.yml
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
  maps/random_ruins/exoplanets/asteroid/carp_nest/carp_nest.dmm
  maps/random_ruins/exoplanets/asteroid/coc_ship/coc_ship_unique.dmm
  maps/random_ruins/exoplanets/asteroid/crashed_pod/crashed_pod_unique.dmm
  maps/random_ruins/exoplanets/asteroid/crashed_shuttle/crashed_shuttle_01.dmm
  maps/random_ruins/exoplanets/asteroid/digsite/digsite_unique.dmm
  maps/random_ruins/exoplanets/asteroid/escape_pod/escape_pod_unique.dmm
  maps/random_ruins/exoplanets/asteroid/hideout/hideout.dmm
  maps/random_ruins/exoplanets/asteroid/listening_post/listening_post_unique.dmm
  maps/random_ruins/exoplanets/asteroid/mining_base/mining_base.dmm
  maps/random_ruins/exoplanets/asteroid/mystery_ship/mystery_ship_areas.dm
  maps/random_ruins/exoplanets/asteroid/mystery_ship/mystery_ship_unique.dmm
  maps/random_ruins/exoplanets/asteroid/satelite_crash/satellite_crash_unique.dmm
  maps/random_ruins/exoplanets/asteroid/skrell_ship/skrell_crash_unique.dmm
  maps/random_ruins/exoplanets/asteroid/sol_ship/sol_ship_unique.dmm
  maps/random_ruins/exoplanets/grove/grove.dm
  maps/random_ruins/exoplanets/grove/hut/hut.dmm
  maps/random_ruins/exoplanets/lava/drill_site/drill_site.dmm
  maps/random_ruins/exoplanets/lava/lava.dm
Labels: Awaiting Merge

#15677 DPRA and NKA ship fixes
  html/changelogs/alberyk-shipfixes.yml
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant.dm
Labels: Awaiting Merge, Bugfix

#15307 Adds Sani'Orios as an away site
  aurorastation.dme
  html/changelogs/alberyk-outpost.yml
  maps/away/away_site/tajara/saniorios_smuggler/saniorios_smuggler.dm
  maps/away/away_site/tajara/saniorios_smuggler/saniorios_smuggler.dmm
  maps/away/away_site/tajara/taj_safehouse/tajara_safehouse.dm
Labels: Awaiting Merge

#15642 The stargazer light color is now the same as the sector
  code/game/machinery/stargazer.dm
  html/changelogs/alberyk-stargazer.yml
Labels: Awaiting Merge

#15688 Fix walls (and maybe the server)
  code/__defines/auxtools.dm
  code/modules/admin/verbs/map_template_loadverb.dm
  code/modules/maps/map_template.dm
  html/changelogs/johnwildkins-logfix.yml
Labels: Awaiting Merge, Bugfix

#15687 Fixes airtight plastic flaps stopping working after shuttles moves
  code/game/objects/structures/plasticflaps.dm
  html/changelogs/alberyk-aritght.yml
Labels: Review Required, Bugfix

#15683 Removes invisible hitbox from rollerbeds so buckling bodybags will be easier
  html/changelogs/wezzy_fathergarcia.yml
  icons/obj/rollerbed.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#15658 Xuizi Juicing
  code/modules/mob/living/carbon/taste.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/geeves-tasty_xuizi.yml
Labels: Awaiting Merge

#15667 New AI Status Display Emotion
  code/game/machinery/status_display_ai.dm
  html/changelogs/geeves-ai_diagnostics.yml
  icons/obj/status_display.dmi
Labels: Awaiting Merge, Sprites
