Repository Aurorastation/Aurora.3, pull requests merged in 2023-07, with the labels that each got.

#16608 Fix OpenDream restore cache (CI)
  html/changelogs/FluffyGhost-fixopendreamrestorecache.yml
  tools/ci/install_od.sh
Labels: Review Required, Bugfix

#16584 Lipstick Buff
  code/game/objects/items/weapons/cosmetics.dm
  code/modules/client/preference_setup/loadout/loadout_cosmetics.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/organ_icon.dm
  code/modules/paperwork/paper.dm
  html/changelogs/geeves-lipstick_buff.yml
  icons/mob/human_face/lips.dmi
  icons/obj/cosmetics.dmi
Labels: Awaiting Merge, Sprites

#16571 Added an old pre-Interstellar War Sol Alliance flag
  code/game/objects/structures/flags_banners.dm
  html/changelogs/Old Sol Flag - GeneralCamo.yml
  icons/obj/structure/flags.dmi
  maps/away/away_site/sensor_relay/sensor_relay.dmm
Labels: Awaiting Merge, Sprites

#16517 Back in Black
  code/modules/hydroponics/seed_datums/mushrooms.dm
  html/changelogs/koisrevival.yml
Labels: Awaiting Merge, Bugfix

#16524 Remove obsolete custom item for Sezrak Han'san
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/sezrak_zippo.dmi
Labels: Awaiting Merge, Changelog Required, Sprites

#16580 Fix one of the server killing bugs
  code/modules/organs/organ_external.dm
  html/changelogs/mattatlas-yosobi.yml
Labels: Awaiting Merge

#16597 Manifest UI size and format improvement
  html/changelogs/fluffyghost-improvecrewmanifest.yml
  tgui/packages/tgui/interfaces/common/Manifest.tsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Review Required

#16610 Fixes the black screen issue
  aurorastation.dme
  code/__defines/subsystem-defines.dm
  code/__defines/subsystem-priority.dm
  code/controllers/subsystems/asset_loading.dm
  code/modules/asset_cache/asset_cache.dm
  code/modules/asset_cache/asset_cache_client.dm
  code/modules/client/client procs.dm
  html/changelogs/mattatlas-yareyare.yml
  interface/skin.dmf
  tgui/public/tgui.bundle.css
Labels: Test Merge Candidate

#16624 Fix an href input injection exploit
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/fluffyghost-fixhrefinjection.yml
  tgui/public/tgui.bundle.css
Labels: Awaiting Merge, Bugfix

#16625 Fixed defibrillators not working correctly on beds
  code/_helpers/lists.dm
  code/modules/surgery/surgery.dm
  html/changelogs/fluffyghost-fixdefibrillators.yml
Labels: Awaiting Merge, Bugfix

#16630 TGUI bug roundup part 6
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/game/gamemodes/changeling/implements/powers/fabricate_clothing.dm
  code/game/machinery/machinery.dm
  code/modules/admin/admin.dm
  code/modules/client/client procs.dm
  code/modules/mob/living/silicon/robot/robot_helpers.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  code/modules/overmap/ship_weaponry/_targeting_console.dm
  code/modules/research/designs/mechfab/prosthetics/external.dm
  html/changelogs/mattatlas-hoshinosama.yml
  tgui/docs/component-reference.md
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/components/Input.js
  tgui/packages/tgui/interfaces/ChatClient.tsx
  tgui/packages/tgui/interfaces/Gunnery.tsx
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui-say.bundle.js
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Review Required, Bugfix

#16609 Better linter inclusions
  aurorastation.dme
  code/___linters/odlint.dm
  code/___linters/spaceman_dmm.dm
  code/__linters.dm
  html/changelogs/fluffyghost-betterlinterinclusion.yml
  tools/validate_dme.py
Labels: Awaiting Merge

#16641 TGUI fixes part 8
  code/controllers/subsystems/processing/tgui.dm
  code/game/machinery/body_scanner.dm
  html/changelogs/mattatlas-mendoksai.yml
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: Review Required, Bugfix

#16645 Fixed verbs-only panels disappearing when an item is dropped
  html/changelogs/fluffyghost-fixverbspanels.yml
  html/statbrowser.js
Labels: Awaiting Merge, Bugfix

#16648 removes rnd server from away site
  html/changelogs/RustingWithYou - serverfix.yml
  maps/random_ruins/exoplanets/grove/hut/hut.dmm
Labels: Review Required, Bugfix

#16649 Fixes emotes not applying the hearer's accent tag preference.
  code/modules/mob/mob.dm
  html/changelogs/mattatlas-sickandtired.yml
Labels: Awaiting Merge, Bugfix

#16635 Align our MC / Subsystems more towards TG's, fix AFK message during init
  code/__defines/master_controller.dm
  code/__defines/subsystem-priority.dm
  code/controllers/master/master.dm
  code/controllers/master/subsystem.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/garbage.dm
  code/controllers/subsystems/initialization/atlas.dm
  code/controllers/subsystems/ping.dm
  code/controllers/subsystems/statpanel.dm
  html/changelogs/fluffyghost-fixdisconnectionmessage.yml
Labels: Awaiting Merge

#16613 Added a flag for the Free Tajaran Council.
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/GeneralCamo - FTC Flag.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#16582 Ship Ammunition Weight Loss
  code/modules/overmap/ship_weaponry/_ship_ammunition.dm
  html/changelogs/geeves-xion_fox.yml
Labels: Awaiting Merge

#16556 Reorder dreammaker to re-empower the Problems tab in VSC
  .vscode/launch.json
  .vscode/tasks.json
  html/changelogs/fluffyghost-tweakcbt.yml
Labels: Awaiting Merge

#16663 Ingested medicine now works
  code/modules/reagents/Chemistry-Reagents.dm
  html/changelogs/ramke - pillening.yml
Labels: Awaiting Merge, Bugfix

#16579 Repo readme update
  README.md
  html/changelogs/fluffyghost-readmeupdate.yml
Labels: Awaiting Merge

#16503 Maintenance Redux
  html/changelogs/wickedcybs_derail.yml
  maps/_common/areas/station/maintenance.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16549 Add IAC away ship to Coalition sectors
  html/changelogs/Snowy1237-IAC-sector-addition.yml
  maps/away/ships/iac/iac_rescue_ship.dm
Labels: Awaiting Merge

#16614 Mechfab and Autolathe reprites
  aurorastation.dme
  code/game/machinery/autolathe/autolathe.dm
  code/game/machinery/mecha_fabricator.dm
  code/game/machinery/robot_fabricator.dm
  html/changelogs/atteria-mechfab.yml
  icons/obj/machinery/autolathe.dmi
  icons/obj/machinery/robotics.dmi
  icons/obj/robotics.dmi
  icons/obj/stationobjs.dmi
Labels: Awaiting Merge, Sprites

#16651 Character Creation Tweaks I: July 2023
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/crunchypretzels-pixelcensorship.yml
  icons/mob/human_face/hair.dmi
  icons/mob/l_ear.dmi
  icons/mob/r_ear.dmi
  icons/mob/underwear.dmi
Labels: Review Required, Sprites, Waiting Period

#16561 VSCode recommended extensions
  .gitignore
  .vscode/extensions.json
  html/changelogs/fluffyghost-vscodeextensions.yml
Labels: Awaiting Merge

#16569 Adds an alternate colorable trenchcoat to the loadout
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/SimpleMaroon-altcolorabletrenchcoat.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#16655 Zazalai Mountains origins and accents
  code/__defines/background.dm
  code/modules/background/accent/unathi.dm
  code/modules/background/origins/origins/unathi/izweski.dm
  html/changelogs/RustingWithYou - zaza.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#16656 More Skrell food and drink
  code/game/machinery/vending_types.dm
  code/modules/cooking/recipes/cultural/recipes_skrell.dm
  code/modules/hydroponics/seed_datums/nralakk.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/whatsupbrotendo-skrellshit.yml
  icons/obj/drinks.dmi
  icons/obj/drinks_empty.dmi
  icons/obj/food.dmi
  icons/obj/hydroponics_products.dmi
  icons/obj/seeds.dmi
Labels: Awaiting Merge, Sprites

#16657 Rad shields the bar backroom for Pun Pun's health
  html/changelogs/punpunradshield.yml
  maps/sccv_horizon/code/sccv_horizon_areas.dm
Labels: Awaiting Merge

#16691 Fixes the Adhomian Circus's shuttle
  html/changelogs/example copy.yml
  maps/away/ships/tajara/circus/adhomian_circus.dmm
Labels: Awaiting Merge, Bugfix

#16687 Fixes a runaway tile on the Orion Express ship
  html/changelogs/example copy.yml
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Awaiting Merge, Bugfix

#16699 suspension generator fix
  code/modules/research/xenoarchaeology/tools/suspension_generator.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, Bugfix

#16700 Rings no longer fall off when unequipping gloves
  code/modules/clothing/clothing.dm
  html/changelogs/doxxmedearly-gloves_ring_fix.yml
Labels: Awaiting Merge, Bugfix

#16662 Chemmaster TGUI
  code/__defines/chemistry.dm
  code/modules/asset_cache/asset_cache.dm
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/fluffyghost-chemmastertgui.yml
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/public/tgui.bundle.css
  tgui/public/tgui.bundle.js
Labels: Awaiting Merge, Changes Requested

#16701 Reagents, Cryotubes, etc no longer fix prosthetics
  code/game/gamemodes/vampire/vampire_powers.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  html/changelogs/doxxmedearly-medicine_cant_fix_steel_limbs.yml
Labels: Awaiting Merge, Bugfix

#16706 Decompiler Fixes and Cleanup
  code/modules/mob/living/silicon/robot/drone/drone_items.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/hostile/toy/mech.dm
  html/changelogs/doxxmedearly-decompiler_fixes.yml
Labels: Awaiting Merge, Bugfix

#16705 Autolathe Duplication and Message fix
  code/game/machinery/autolathe/autolathe.dm
  html/changelogs/doxxmedearly-autolathe_fixes.yml
Labels: Awaiting Merge, Bugfix

#16671 Added floor lighting fixtures, and tweaked the light sprites
  aurorastation.dme
  code/game/machinery/floor_frames.dm
  code/game/machinery/wall_frames.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/materials/material_recipes.dm
  code/modules/power/lights/bulbs.dm
  code/modules/power/lights/construction.dm
  code/modules/power/lights/fixtures.dm
  html/changelogs/GeneralCamo - Floor Lighting.yml
  icons/obj/lighting.dmi
  icons/obj/lights.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#16670 Anesthetic Closets now contain oxygen tanks by default
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  html/changelogs/maybelle.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16668 Dump Nitrogen Buff
  html/changelogs/m.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16673 VSC Code snippets (templates)
  .gitignore
  .vscode/dm_callbacks.code-snippets
  .vscode/dm_controlflow-for.code-snippets
  .vscode/dm_flags.code-snippets
  .vscode/dm_new-definitions.code-snippets
  .vscode/dm_procrefs.code-snippets
  html/changelogs/fluffyghost-vscsnippets.yml
Labels: Awaiting Merge

#16676 Replaces hot/cold loop binary gas pumps with high power pumps
  html/changelogs/example copy.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16675 Protects the CMO's cat
  html/changelogs/example copy.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16667 Engineering Sanity buffs Part Deux
  html/changelogs/maybellecl.yml
Labels: Awaiting Merge

#16709 Simple mobs no longer one-shot structures
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/living/simple_animal/hostile/space_fauna.dm
  code/modules/mob/living/simple_animal/hostile/toy/mech.dm
  code/modules/tables/tables.dm
  html/changelogs/doxxmedearly-mob_breaking_fixes.yml
Labels: Awaiting Merge, Bugfix

#16710 Fixes scrubbing the color out of floors
  code/game/turfs/turf.dm
  html/changelogs/doxxmedearly-floor_color__soap_fix.yml
Labels: Awaiting Merge, Bugfix

#16666 Engineering Sanity buff
  html/changelogs/example copy.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16660 Hypospray + surgical tools resprites
  code/game/objects/items/weapons/surgery_tools.dm
  html/changelogs/nauticall-medtools.yml
  icons/mob/items/lefthand_medical.dmi
  icons/mob/items/righthand_medical.dmi
  icons/obj/surgery.dmi
  icons/obj/syringe.dmi
Labels: Awaiting Merge, Sprites

#16707 EVA’s Main Area Actually Has Oxy Tanks Instead of Phoron - Research Gets Phoron Tanks
  html/changelogs/wickedcybs_tankfix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#16590 Vaurca filters now work as described
  code/datums/outfits/ert/kataphract.dm
  code/datums/outfits/ert/tcfl.dm
  code/datums/trading/misc.dm
  code/game/machinery/iv_drip.dm
  code/game/objects/items/devices/auto_cpr.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/background/citizenship/human.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/citizenship/unathi.dm
  code/modules/background/citizenship/vaurca.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/masks/voice.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  html/changelogs/RustingWithYou - gasmask.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/away/away_site/space_bar/space_bar_ghostroles.dm
  maps/away/ships/elyra/elyra_strike_craft_ghostroles.dm
  maps/away/ships/freebooter/freebooter_ship_ghostroles.dm
  maps/away/ships/hegemony/hegemony_corvette/hegemony_corvette.dmm
  maps/away/ships/hegemony/hegemony_corvette/hegemony_ghostroles.dm
  maps/away/ships/iac/iac_rescue_ship_ghostroles.dm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
  maps/away/ships/orion/orion_express_ship_ghostroles.dm
  maps/away/ships/tcfl_patrol/tcfl_peacekeeper_ship_ghostroles.dm
  maps/away/ships/tramp_freighter/tramp_freighter_ghostroles.dm
  maps/random_ruins/exoplanets/grove/crashsurvivors/crashsurvivors.dm
Labels: Awaiting Merge, Mapping: Aurora

#16711 Fixes invisible crafted locks
  code/modules/lock/lock_construct.dm
  html/changelogs/doxxmedearly-lock_invis_fix.yml
Labels: Awaiting Merge, Bugfix

#16684 Adds new dionae origins/cultures
  aurorastation.dme
  code/modules/background/origins/origins/diona/sol.dm
  code/modules/background/origins/origins/diona/voidtamer.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/Yonnimer-voidtameraccents.yml
Labels: Awaiting Merge

#16719 Fixes mulitple invisible sprites
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/hydroponics/seed_datums/vegetables.dm
  html/changelogs/doxxmedearly-invis_sprite_fixes.yml
  icons/mob/npc/greimorian.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16704 Fixes some harddels + reference tracking
  code/controllers/subsystems/garbage.dm
  code/modules/mob/death.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/overmap/contacts/_contacts.dm
  html/changelogs/fluffyghost-fixsomeharddels.yml
Labels: Awaiting Merge, Bugfix

#16681 Removes fragmentation ammo from the sec armory
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  html/changelogs/dansemacabre-peacfrag.yml
Labels: Awaiting Merge

#16730 Adds the merchant program UI.
  code/datums/trading/trade.dm
  code/modules/merchant/merchant_programs.dm
  html/changelogs/mattatlas-youjustliketoactthefool.yml
  tgui/packages/tgui/interfaces/Merchant.tsx
Labels: Awaiting Merge, Bugfix

#16731 Removes removed pipes from dispenser
  code/game/machinery/pipe/pipe_dispenser.dm
  html/changelogs/doxxmedearly-removes_removed_pipes.yml
Labels: Awaiting Merge, Bugfix

#16688 Shave process all machinery
  code/controllers/subsystems/machinery.dm
  code/game/machinery/machinery.dm
  html/changelogs/FluffyGhost-shave_process_all_machinery.yml
Labels: Awaiting Merge, High Risk, Test Merge Candidate

#16692 Shave process mobs
  code/__defines/mobs.dm
  code/modules/mob/mob.dm
  html/changelogs/FluffyGhost-shave_process_mobs.yml
Labels: Awaiting Merge, High Risk, Test Merge Candidate

#16732 SendMaps profiling
  code/controllers/subsystems/profiler.dm
Labels: Changelog Required, Review Required, Test Merge Candidate

#16747 Simplifies the variable assignment for asset_transport
  code/controllers/configuration.dm
Labels: Changelog Required, Review Required, Bugfix

#16745 Fixes chugging message
  code/modules/reagents/reagent_containers.dm
  html/changelogs/doxxmedearly-chugmessagefix.yml
Labels: Awaiting Merge, Bugfix

#16763 Fixes a bunch of bugs
  code/controllers/subsystems/pai.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/mattatlas-butshewonthaveme.yml
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui/interfaces/ChemMaster.tsx
  tgui/packages/tgui/interfaces/ChemicalDispenser.tsx
  tgui/packages/tgui/interfaces/CrusherControl.tsx
Labels: Awaiting Merge, Bugfix

#16749 Penlights can be used on patients on beds again
  code/modules/surgery/surgery.dm
  html/changelogs/doxxmedearly-penlight_fix.yml
Labels: Review Required, Bugfix

#16643 Solarian IPCs can now take the Coalition citizenship.
  code/modules/background/origins/origins/ipc/sol.dm
  html/changelogs/mattatlas-chachacha.yml
Labels: Awaiting Merge

#16642 Makes the Spark ugly and also better
  code/game/turfs/simulated/shuttle_turfs.dm
  html/changelogs/kyres1-sparkleon.yml
  icons/turf/shuttles_unique/scc/mining_shuttle/complete_hull.dmi
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites

#16770 Attempted fix for CI (PyYAML)
  html/changelogs/fluffyghost-fixcythonpyyaml.yml
  tools/requirements.txt
Labels: High Priority, Bugfix

#16720 Conference room shutters
  html/changelogs/example copy.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16757 Small Deck 3 Map Fixes
  html/changelogs/doxxmedearly-deck3_mapfixes.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#16740 Intrepid description fix.
  html/changelogs/snowy1237-shuttledescriptionfix.yml
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
Labels: Awaiting Merge, Bugfix

#16766 Fixes pAI recruitment for real.
  html/changelogs/mattatlas-fixpais.yml
  tgui/packages/tgui/interfaces/pAIRecruitment.tsx
Labels: Awaiting Merge, Bugfix

#16626 CI Cache Optimization
  .github/workflows/byond.yml
  dependencies.sh
  html/changelogs/fluffyghost-cicacheoptimization.yml
  tools/ci/install_od.sh
Labels: Awaiting Merge

#16771 maglocks can be charged again
  code/game/objects/items/devices/magnetic_lock.dm
  html/changelogs/crunchypretzels-maglocks.yml
Labels: Awaiting Merge, Bugfix

#16752 Try using SSassets.transport.get_asset_url to get the stylesheets/javascripts in the /datum/browser
  code/datums/browser.dm
Labels: Awaiting Merge, Changelog Required, Test Merge Candidate, Bugfix

#16775 APC with discharged power cell shows there's no cell inside.
  code/modules/power/apc.dm
  html/changelogs/DreamySkrell-apc-no-power-cell-fix.yml
  tgui/packages/tgui/interfaces/Apc.tsx
Labels: Review Required, Bugfix

#16784 Fixes weird containers for IV drips
  code/game/machinery/iv_drip.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/doxxmedearly-iv_sanity.yml
Labels: Awaiting Merge, Bugfix

#16776 Fixes some plants not having growth stages
  code/modules/hydroponics/seed_datums/nralakk.dm
  html/changelogs/doxxmedearly-growthstage_fix.yml
Labels: Awaiting Merge, Bugfix

#16786 Vamp hypnotize fix
  code/__defines/gamemode.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  html/changelogs/doxxmedearly-vamp_hypno_fix.yml
Labels: Awaiting Merge, Bugfix

#16744 New medkit and trauma pouch sprites
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  html/changelogs/nauticall-medkits.yml
  icons/obj/storage/firstaid.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites

#16778 Limits Rollerbed IV Transfer Rate
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/doxxmedearly-rolleriv_limits.yml
Labels: Awaiting Merge, Bugfix

#16793 Floral Somatoray Fix
  code/controllers/subsystems/plants.dm
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/geeves-rusting_cant_code.yml
Labels: Awaiting Merge, Bugfix

#16796 Hummus Dip Fix
  code/modules/cooking/recipes/cultural/recipes_earth.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/geeves-hummus_dip.yml
Labels: Awaiting Merge, Bugfix

#16765 Anchors IFF beacons
  code/modules/overmap/ships/identification.dm
  html/changelogs/kyres1-anchoring_iff_beacons.yml
Labels: Awaiting Merge, Bugfix

#16799 Fixes Farmbot Pathing
  code/modules/mob/living/bot/farmbot.dm
  html/changelogs/doxxmedearly-farmbot_path_fix.yml
Labels: Awaiting Merge, Bugfix

#16772 Fixes cable coil wound suturing
  code/modules/power/cable.dm
  html/changelogs/doxxmedearly-cablestitching_bugfix.yml
Labels: Awaiting Merge

#16759 Izweski Heartlands Origin, Accent and Loadout Tweaks
  code/__defines/background.dm
  code/modules/background/accent/unathi.dm
  code/modules/background/origins/origins/unathi/autakh.dm
  code/modules/background/origins/origins/unathi/izweski.dm
  code/modules/background/origins/origins/unathi/spaceborn.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  html/changelogs/RustingWithYou - heartland.yml
Labels: Awaiting Merge

#16743 Items with colourable accents
  code/game/objects/items.dm
  code/game/objects/items/items_icon.dm
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/skrell.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/glasses/colorable.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/xeno/diona.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  code/modules/clothing/under/xenos/skrell.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/accent_items.yml
  icons/mob/clothing/suit/labcoat.dmi
  icons/mob/suit.dmi
  icons/mob/ties.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/ties.dmi
  icons/obj/diona_items.dmi
  icons/obj/item/clothing/accessory/poncho/poncho.dmi
  icons/obj/item/clothing/eyes/colorable_glasses.dmi
  icons/obj/item/clothing/suit/storage/toggle/labcoat.dmi
  icons/obj/item/clothing/suit/storage/toggle/trenchcoat.dmi
  icons/obj/item/clothing/under/skrell/wetsuit.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#16737 Dominia Content Update I: The Pax Liturgica
  code/__defines/background.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/signs.dm
  code/modules/background/accent/human.dm
  code/modules/background/origins/origins/human/dominia.dm
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/clothing/factions/dominia.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/crunchypretzels - paxliturgica.yml
  icons/accent_tags.dmi
  icons/clothing/suits/capes/dominia.dmi
  icons/obj/drinks.dmi
  icons/obj/library.dmi
  icons/obj/signs.dmi
  ingame_manuals/dominia.txt
Labels: Awaiting Merge, Sprites

#16690 Shave process turfs entered
  code/game/turfs/turf.dm
  html/changelogs/FluffyGhost-shave_process_turfs_entered.yml
Labels: Awaiting Merge, High Risk, Test Merge Candidate

#16779 Fixes multisurgery, reduces surgical times
  code/modules/surgery/bones.dm
  code/modules/surgery/encased.dm
  code/modules/surgery/face.dm
  code/modules/surgery/facial_surgery.dm
  code/modules/surgery/generic.dm
  code/modules/surgery/implant.dm
  code/modules/surgery/limb_reattach.dm
  code/modules/surgery/organs_internal.dm
  code/modules/surgery/other.dm
  code/modules/surgery/robotics.dm
  code/modules/surgery/surgery.dm
  html/changelogs/doxxmedearly-remove_multisurgery.yml
Labels: Awaiting Merge

#16785 Fixes doubling up on bodybags
  code/game/objects/items/airbubble.dm
  code/game/objects/items/bodybag.dm
  code/game/objects/structures/crates_lockers/closets.dm
  html/changelogs/doxxmedearly-bodybag_fix.yml
Labels: Awaiting Merge, Bugfix

#16811 Fixes invisible lipstick inhands
  code/game/objects/items/weapons/cosmetics.dm
  html/changelogs/doxxmedearly-lipstick_inhand_fix.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/cosmetics.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16794 Fixes the remove button on fax machines
  html/changelogs/doxxmedearly-fax_ui_fix.yml
  tgui/packages/tgui/interfaces/Fax.tsx
Labels: Awaiting Merge, Bugfix

#16735 Adjusts some transit and shuttle effects
  html/changelogs/kyres1-shuttle_fx.yml
  icons/effects/effects.dmi
  icons/turf/space.dmi
Labels: Awaiting Merge, Sprites

#16817 Fixes unathi loadout
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  html/changelogs/doxxmedearly-unathi_loadout_fix.yml
Labels: Review Required, Bugfix

#16787 adjusts a hairstyle
  html/changelogs/crunchypretzels-hairtweak.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#16750 Unapologetic claw buffs - Allows unarmed attacks against vines.
  code/modules/hydroponics/spreading/spreading.dm
  html/changelogs/unarmedattackvines.yml
Labels: Awaiting Merge

#16751 More HUDs
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  html/changelogs/morehuds.yml
  icons/mob/eyes.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/item/clothing/eyes/med_hud.dmi
  icons/obj/item/clothing/eyes/sec_hud.dmi
Labels: Awaiting Merge, Sprites

#16828 Fixes TGUIs randomly closing.
  code/modules/modular_computers/computers/subtypes/dev_laptop.dm
  html/changelogs/mattatlas-nowords.yml
Labels: Review Required, Bugfix

#16812 Fixes barcode tattoo upward sprite
  html/changelogs/doxxmedearly-barcode_tat_fix.yml
  icons/mob/human_races/markings.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16798 Follow menu, category name in spoiler
  html/changelogs/DreamySkrell-346089352563426.yml
  tgui/packages/tgui/interfaces/FollowMenu.tsx
Labels: Awaiting Merge

#16838 vaurca filters no longer hide your face
  code/game/objects/items/weapons/vaurca_items.dm
  html/changelogs/crunchypretzels-bugmaks.yml
Labels: Awaiting Merge, Bugfix

#16832 Fixes sleeper eject button sometimes disappearing
  code/game/machinery/Sleeper.dm
  html/changelogs/doxxmedearly-sleeper_beaker_eject.yml
  tgui/packages/tgui/interfaces/Sleeper.tsx
Labels: Awaiting Merge, Bugfix

#16822 Fixes Shrapnel Pinning
  code/modules/mob/living/carbon/human/human_defense.dm
  html/changelogs/crunchypretzels-shrapnerf.yml
Labels: Awaiting Merge, Bugfix

#16813 drink name grammar fixes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/crunchypretzels - grammartweak.yml
Labels: Awaiting Merge, Bugfix

#16760 Engineering break room soda machine fix
  html/changelogs/example copy.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16803 Smart Fridges search + Alphabetically sort content list
  code/modules/cooking/machinery/smartfridge.dm
  html/changelogs/fluffyghost-itsfinallyover.yml
  tgui/packages/tgui/interfaces/SmartFridge.tsx
Labels: Awaiting Merge

#16830 Fixes a Misplaced Maint Item Spawn
  html/changelogs/sleepygemmy-misplaced_maint_item_spawn.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#16831 Scans can no longer be reused in the surgery bed
  code/game/machinery/computer/Operating.dm
  html/changelogs/fluffyghost-fixscanreuse.yml
Labels: Awaiting Merge, Bugfix

#16804 Ion Storm event fixes and adjustments
  code/modules/events/ion_storm.dm
  html/changelogs/doxxmedearly-ionlaw_fixes.yml
Labels: Awaiting Merge

#16855 Overlay fix
  code/game/objects/items.dm
  html/changelogs/overlay_fix.yml
Labels: Awaiting Merge, Bugfix

#16788 Fixes the trash compactor
  html/changelogs/meep109_compactorfixes.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge

#16847 emergency filter port fix
  code/game/objects/items/weapons/vaurca_items.dm
  html/changelogs/crunchypretzels-filterport.yml
Labels: Awaiting Merge, Bugfix

#16842 (this is a bugfix) pax liturgica fixes
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/crunchypretzels-dominiafixes.yml
  icons/clothing/suits/capes/dominia.dmi
  icons/obj/drinks_empty.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16854 Fixes some bugs.
  code/game/objects/items/defib.dm
  code/modules/multiz/movement.dm
  code/modules/overmap/ship_weaponry/_ship_ammunition.dm
  html/changelogs/mattatlas-chatclientfixes.yml
  tgui/packages/tgui/interfaces/ChatClient.tsx
  tgui/packages/tgui/interfaces/Voting.tsx
Labels: Awaiting Merge, Bugfix

#16835 Remove requirement for round completion from bug reports
  .github/ISSUE_TEMPLATE/BUG-REPORT.yaml
Labels: Changelog Required, Review Required, Waiting Period

#16519 Adds the Burzsia system
  aurorastation.dme
  code/__defines/space_sectors.dm
  code/modules/background/space_sectors/coalition.dm
  code/modules/maps/planet_types/lore/burzsia.dm
  code/modules/overmap/exoplanets/decor/_areas.dm
  html/changelogs/alberyk-burzsia.yml
  icons/skybox/lore_planets.dmi
  maps/random_ruins/exoplanets/burzsia/burzsia_dead_ipc.dm
  maps/random_ruins/exoplanets/burzsia/burzsia_dead_ipc.dmm
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dm
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dmm
Labels: Awaiting Merge, Sprites

#16685 Restores the original cafe garden mapping
  html/changelogs/atteria-patience.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16713 Tarwa ship is now invisible until ghostrole spawn
  html/changelogs/RustingWithYou - tarwafixes2electricboogaloo.yml
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dm
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa_ghostroles.dm
Labels: Awaiting Merge

#16605 Hardsuit underwear shown through cracks
  code/game/objects/items/items_icon.dm
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  html/changelogs/fluffyghost-hardsuitunderwear.yml
Labels: Awaiting Merge

#16746 Cycle target zone verb
  code/modules/mob/mob.dm
  html/changelogs/cycletargetzone.yml
Labels: Awaiting Merge

#16790 Throw mode cursor icon
  code/modules/mob/mob.dm
  html/changelogs/DreamySkrell-throw-mode-cursor-2222.yml
  icons/effects/cursor/throw_mode.dmi
Labels: Awaiting Merge, Sprites

#16795 Improvised Explosive Buff
  code/modules/reagents/reagent_containers/food/cans.dm
  html/changelogs/geeves-pipebomb_buff.yml
Labels: Awaiting Merge

#16802 Docking Ports Management Program
  aurorastation.dme
  code/modules/cciaa/cciaa.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/variables.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/command/docks.dm
  code/modules/overmap/sectors.dm
  code/modules/shuttles/antagonist.dm
  code/modules/shuttles/departmental.dm
  code/modules/shuttles/shuttle_console.dm
  icons/obj/modular_console.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/code/aurora_shuttles.dm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
  nano/templates/shuttle_control_console.tmpl
  nano/templates/shuttle_control_console_antag.tmpl
  nano/templates/shuttle_control_console_multi.tmpl
  tgui/packages/tgui/interfaces/Docks.tsx
Labels: Awaiting Merge, Changelog Required, Mapping: Aurora, Sprites

#16789 Freebooter fixes
  html/changelogs/meep109_freebooterfixes.yml
  maps/away/ships/freebooter/freebooter_ship.dmm
Labels: Awaiting Merge

#16677 Abandoned industrial station
  aurorastation.dme
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/devices/lighting/lamp.dm
  code/game/objects/random/random.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cooking/machinery/smartfridge.dm
  code/modules/power/lights/fixtures.dm
  html/changelogs/DreamySkrell-abandoned-industrial-station-1.yml
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station.dm
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station.dmm
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station_areas.dm
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station_items.dm
Labels: Awaiting Merge

#16856 Smartfridge atmos blocking fix
  code/modules/cooking/machinery/smartfridge.dm
  html/changelogs/doxxmedearly-chem_smartfridge_fix.yml
Labels: Awaiting Merge, Bugfix

#16851 Fix AI alert/maint access
  code/game/atoms.dm
  code/modules/modular_computers/file_system/programs/command/command_and_communications.dm
  html/changelogs/fluffyghost_fixaialertandmaintaccess.yml
  tgui/packages/tgui/interfaces/CommandCommunications.tsx
Labels: Awaiting Merge, Bugfix

#16807 Unathi & Tajara Gear Crates
  code/datums/uplink/gear loadout.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  html/changelogs/RustingWithYou - lizardmoment.yml
Labels: Awaiting Merge

#16806 Pizza Tweaks
  code/game/objects/random/random.dm
  code/modules/cooking/recipes/recipes_baked.dm
  code/modules/cooking/recipes/recipes_meat.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/crunchypretzels-pizzatweak.yml
  icons/obj/food.dmi
  icons/obj/food_custom.dmi
Labels: Awaiting Merge, Sprites

#16733 ChemMaster UI tweaks
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/fluffyghost-tweakchemmaster.yml
  tgui/packages/tgui/interfaces/ChemMaster.tsx
Labels: Awaiting Merge

#16815 consular directives for vaurca
  code/modules/background/citizenship/human.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/citizenship/unathi.dm
  html/changelogs/RustingWithYou - sovlinstallation.yml
Labels: Awaiting Merge

#16736 Adds some fish
  aurorastation.dme
  code/modules/mob/holder.dm
  code/modules/mob/living/simple_animal/aquatic.dm
  code/modules/mob/living/simple_animal/friendly/fish.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/aquatic.dm
  code/modules/overmap/exoplanets/biomes/grass.dm
  html/changelogs/kyres1-man_i_love_fishing.yml
  icons/mob/npc/fish.dmi
Labels: Awaiting Merge, Sprites

#16865 Height Examine Punctuation Fix
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob.dm
  html/changelogs/sleepygemmy-height_examine_fix.yml
Labels: Awaiting Merge, Bugfix

#16878 Ghosts can now hear whispers
  code/modules/mob/hear_say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/whisper.dm
  html/changelogs/doxxmedearly-ghostwhisper_fix.yml
Labels: Awaiting Merge, Bugfix

#16882 Fixes Unathi unable to devour monke
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/doxxmedearly-devour_monkey.yml
Labels: Awaiting Merge, Bugfix

#16874 Konyang passcard icon fix
  html/changelogs/dansemacabre-tpbegone.yml
  icons/clothing/accessories/passcards.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16870 Abandoned Industrial Station minor fix
  html/changelogs/DreamySkrell-abandoned-industrial-station-minor-fix-aaaaa.yml
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station.dm
Labels: Awaiting Merge, Bugfix

#16841 New PAI walk cycles.
  html/changelogs/crunchypretzels-walkin.yml
  icons/mob/npc/pai.dmi
Labels: Awaiting Merge, Sprites

#16833 Overmap drifting
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/DreamySkrell-overmap-drifting.yml
  nano/templates/helm.tmpl
Labels: Awaiting Merge

#16861 Gives the Port Antillia origin heat resistance
  code/modules/background/origins/origins/human/sol.dm
  html/changelogs/SimpleMaroon-tengocalordiosmio.yml
Labels: Awaiting Merge

#16857 Helm Control tgui
  code/modules/overmap/ships/computers/helm.dm
  html/changelogs/DreamySkrell-helm-tgui-1254.yml
  nano/templates/helm.tmpl
  tgui/packages/tgui/interfaces/Helm.tsx
Labels: Awaiting Merge

#16862 Tarwa Conglomerate Voidsuits
  code/modules/clothing/spacesuits/void/alien/unathi.dm
  html/changelogs/RustingWithYou - anddeathshallhavenodominion.yml
  icons/obj/clothing/voidsuit/unathi_pirate.dmi
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge, Sprites

#16883 Height Examine Spacing Fix
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/mob.dm
  html/changelogs/sleepygemmy-height_examine_fix_2.yml
Labels: Awaiting Merge, Bugfix

#16885 Adds a requests console to Xenoarchaeology.
  html/changelogs/Leudoberct1-xenoarchconsole.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix

#16868 Deck 3 Garden Tweaks
  html/changelogs/sleepygemmy-minor_garden_tweak.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Mapping: Horizon

#16860 Gun Information Rework
  code/modules/projectiles/guns/bang.dm
  code/modules/projectiles/guns/bang/pistol.dm
  code/modules/projectiles/guns/bang/revolver.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/launcher.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/improvised.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/plasma.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  html/changelogs/crunchypretzels-gunrefactor.yml
Labels: Awaiting Merge

#16853 Potted plant objs defs, /obj/random/pottedplant/
  code/game/objects/random/random.dm
  code/modules/overmap/exoplanets/decor/flora/potted.dm
  html/changelogs/DreamySkrell-potted-plants-352526.yml
  icons/obj/plants.dmi
Labels: Awaiting Merge, Sprites
