Repository Aurorastation/Aurora.3, pull requests merged in 2023-11, with the labels that each got.

#17700 Horizon landmarks consistency && Antag shuttles use generic landmarks
  aurorastation.dme
  code/modules/overmap/sectors.dm
  code/modules/shuttles/shuttles_multi.dm
  html/changelogs/DreamySkrell-landmarks-unfucking.yml
  maps/sccv_horizon/code/_sccv_horizon_shuttle_landmarks.dm
  maps/sccv_horizon/code/sccv_horizon_overmap.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17704 Removes space bar and civilian station maps
  aurorastation.dme
  html/changelogs/DreamySkrell-delete-space-bar-civ-station.yml
  maps/away/away_site/civ_station/civilian_station.dm
  maps/away/away_site/civ_station/civilian_station.dmm
  maps/away/away_site/civ_station/civilian_station_ghostroles.dm
  maps/away/away_site/space_bar/space_bar.dm
  maps/away/away_site/space_bar/space_bar.dmm
  maps/away/away_site/space_bar/space_bar_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#17708 Fixes Federation Consular Guns
  code/modules/background/citizenship/skrell.dm
  html/changelogs/RustingWithYou - warbleinhell.yml
Labels: Awaiting Merge, Bugfix

#17710 Fixes the Pretzel Recipe
  code/modules/cooking/recipes/recipes_breads.dm
  html/changelogs/SleepyGemmy-pretzel.yml
Labels: Awaiting Merge, Bugfix

#17696 Added the Xanan service pistol
  code/modules/background/citizenship/human.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/GeneralCamo - Xanu Pistol.yml
  icons/obj/ammo.dmi
  icons/obj/guns/xanu_pistol.dmi
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
Labels: Awaiting Merge, Sprites

#17697 Fixes Chapel Office's Disposal
  html/changelogs/SleepyGemmy-chapel_disposal.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17698 Fixes Some Shuttles Having Old Windows
  html/changelogs/SleepyGemmy-shuttles_windows_fix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17687 The Shuttle Refactor Pt. 0
  html/changelogs/Lavillastrangiato - theshuttling.yml
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
  maps/away/ships/freebooter/freebooter_ship.dmm
  maps/away/ships/sol_ssmd/ssmd_ship.dmm
  maps/away/ships/yacht/yacht.dmm
Labels: Awaiting Merge

#17692 Holodeck Nullrod Fix
  code/game/objects/items/weapons/chaplain_items.dm
  html/changelogs/SleepyGemmy-holodeck_nullrod_fix.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17690 Tweaks Some Skirts' Extended Descriptions
  code/modules/clothing/under/skirts.dm
  html/changelogs/SleepyGemmy-skirts_descriptions_tweaks.yml
Labels: Awaiting Merge

#17703 Horizon remap external airlock spawners to airlock markers
  html/changelogs/DreamySkrell-horizon-airlock-spawner-to-marker.yml
  maps/helpers/guidelines_airlocks.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17699 Removes Tripping in High Heels
  code/modules/clothing/shoes/miscellaneous.dm
  html/changelogs/Lavillastrangiato - heelfix.yml
Labels: Awaiting Merge

#17643 Aut'akh Integrated Ethanol Burner Augment
  code/__defines/mobs.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  html/changelogs/geeves-ethanol_aug.yml
Labels: Awaiting Merge

#17718 Fixes a light switch being inside the window in the Security lobby.
  html/changelogs/mattatlas-lightfix.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#17684 Dionae general lore pass
  code/__defines/background.dm
  code/modules/background/accent/diona.dm
  code/modules/background/origins/origins/diona/biesel.dm
  code/modules/background/origins/origins/diona/coalition.dm
  code/modules/background/origins/origins/diona/deep_space.dm
  code/modules/background/origins/origins/diona/eridani.dm
  code/modules/background/origins/origins/diona/eum.dm
  code/modules/background/origins/origins/diona/moghes.dm
  code/modules/background/origins/origins/diona/narrows.dm
  code/modules/background/origins/origins/diona/nralakk.dm
  code/modules/background/origins/origins/diona/sol.dm
  code/modules/background/origins/origins/diona/voidtamer.dm
  code/modules/background/origins/origins/diona/xrim.dm
  code/modules/background/religion/diona.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/dionapass.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#17675 Halloween event map
  aurorastation.dme
  code/controllers/subsystems/ticker.dm
  code/game/ambience.dm
  maps/event/halloween/halloween.dm
  maps/event/halloween/halloween.dmm
  maps/event/halloween/halloweenareas.dm
Labels: Awaiting Merge, Changelog Required, 🗺️ Mapping - Event

#17691 Adds Colourable Shorts
  code/modules/client/preference_setup/loadout/items/uniform.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  html/changelogs/SleepyGemmy-recolourable_shorts.yml
  icons/obj/item/clothing/under/pants.dmi
  icons/obj/item/clothing/under/shorts.dmi
  maps/away/ships/freebooter/freebooter_ship.dmm
  maps/away/ships/tramp_freighter/tramp_freighter.dmm
Labels: Awaiting Merge, Sprites

#17714 Removes mining access requirement from ore redemption consoles
  code/modules/mining/machine_processing.dm
  html/changelogs/Nalarac-oreredemptionaccess.yml
Labels: Awaiting Merge

#17711 Added external access to bridge crewmen
  code/game/jobs/job/captain.dm
  html/changelogs/FluffyGhost-bcexternalaccess.yml
Labels: Awaiting Merge

#17719 Makes the Shield Capacitor UI into a TGUI.
  code/modules/shieldgen/shield_capacitor.dm
  html/changelogs/mattatlas-livearrange.yml
  tgui/packages/tgui/interfaces/ShieldCapacitor.tsx
Labels: Awaiting Merge

#17724 Xanu pistol sprite fix
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/GeneralCamo - Xanu Sprite Fix.yml
Labels: Awaiting Merge, Bugfix

#17725 Reference tracking tweaks
  aurorastation.dme
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/garbage.dm
  code/datums/datum.dm
  html/changelogs/FluffyGhost-reference_tracking_tweaks.yml
Labels: Awaiting Merge

#17713 New Drinks n' Cocktails
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/dispenser/cartridge_presets.dm
  code/modules/reagents/dispenser/dispenser_presets.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/drinks/carton.dm
  html/changelogs/nauticall-newdrinks.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/drinks/bottle.dmi
  icons/obj/item/reagent_containers/food/drinks/carton.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#17717 Airlock markers - docking and shuttle airlocks
  aurorastation.dme
  code/controllers/subsystems/processing/shuttle.dm
  code/game/objects/merge_conflict_marker.dm
  code/modules/effects/map_effects/airlock_marker.dm
  code/modules/effects/map_effects/marker/_defines.dm
  code/modules/effects/map_effects/marker/airlock_.dm
  code/modules/effects/map_effects/marker/airlock_docking.dm
  code/modules/effects/map_effects/marker/airlock_helper.dm
  code/modules/effects/map_effects/marker/airlock_shuttle.dm
  code/modules/shuttles/shuttle_autodock.dm
  html/changelogs/DreamySkrell-airlock-markers-docking-shuttle.yml
  icons/effects/map_effects.dmi
  icons/effects/map_effects_96x96.dmi
  maps/aurora/code/aurora_shuttles.dm
  maps/helpers/guidelines_airlocks.dmm
  maps/helpers/guidelines_shuttles.dmm
  maps/sccv_horizon/code/_sccv_horizon_shuttle_landmarks.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#17780 Psionic spellchecks
  code/modules/psionics/abilities/mend.dm
  code/modules/psionics/abilities/rend.dm
  html/changelogs/sniblet-mend-feedback.yml
Labels: Awaiting Merge, Bugfix

#17733 Guaranteed spawn flag respects current sector && sectors blacklist
  code/__defines/misc.dm
  code/__defines/space_sectors.dm
  code/datums/ruins.dm
  code/modules/maps/ruins.dm
  html/changelogs/DreamySkrell-guaranteed-spawn-respect-sector.yml
  maps/_common/mapsystem/map.dm
  maps/away/away_site/konyang/point_verdant/point_verdant.dm
  maps/away/ships/freebooter/freebooter_ship.dm
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/tramp_freighter/tramp_freighter.dm
  maps/random_ruins/exoplanets/konyang/landing_zone.dm
Labels: Review Required

#17734 Konyang: Point Verdant Spaceport and Waterdocks
  aurorastation.dme
  html/changelogs/DreamySkrell-konyang-spaceport-waterdocks.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant.dm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
  maps/away/away_site/konyang/point_verdant/point_verdant_landmarks.dm
Labels: Awaiting Merge

#17747 Buffs Stinger Grenades
  code/game/objects/items/weapons/grenades/stinger.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/CampinKiller24-clear.yml
Labels: Awaiting Merge

#17745 Adds new foods, both IRL and lore
  code/game/machinery/vending_types.dm
  code/game/objects/items/trash.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/cultural/recipes_vaurca.dm
  code/modules/cooking/recipes/recipes_eggs.dm
  code/modules/cooking/recipes/recipes_fish.dm
  code/modules/cooking/recipes/recipes_ingredients.dm
  code/modules/cooking/recipes/recipes_noodles.dm
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/vaurca.dm
  code/modules/reagents/reagent_containers/food/snacks/eggs.dm
  code/modules/reagents/reagent_containers/food/snacks/ingredients.dm
  code/modules/reagents/reagent_containers/food/snacks/noodles.dm
  html/changelogs/tomixfood.yml
  icons/obj/item/reagent_containers/food/cultural/human.dmi
  icons/obj/item/reagent_containers/food/cultural/vaurca.dmi
  icons/obj/item/reagent_containers/food/egg.dmi
  icons/obj/item/reagent_containers/food/ingredients.dmi
  icons/obj/item/reagent_containers/food/noodles.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites

#17757 Fixes Colourable Shorts
  code/modules/clothing/under/shorts.dm
  html/changelogs/SleepyGemmy-shorts_bugfix.yml
Labels: Awaiting Merge, Bugfix

#17762 Idris/Orion Express Corporate Reporter uniform + faction bag fix
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/orion_express.dm
  html/changelogs/SimpleMaroon-orionreporterbagfix.yml
Labels: Awaiting Merge, Bugfix

#17766 Fixes Glass Item Colors
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/weapons/material/shards.dm
  code/modules/materials/materials.dm
  html/changelogs/geeves-blue_shards.yml
Labels: Awaiting Merge, Bugfix

#17777 Multi-Tile Airlock Vision Fix
  code/game/machinery/doors/multi_tile.dm
  html/changelogs/geeves-firedoor_vision_blocker.yml
  icons/effects/effects.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17682 Adds Lunan flag sprites
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/lunanflag.yml
  icons/clothing/kit/modular_armor_accessories.dmi
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#17731 Polishes and Tweaks Xenobiology
  html/changelogs/SleepyGemmy-xb_visual_polishing.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17736 Specifies that Mictlani characters come from Mexico as well as Central & South America
  code/modules/background/origins/origins/human/sol.dm
  html/changelogs/Lavillastrangiato - mictlan origin fix.yml
Labels: Awaiting Merge

#17738 Security Badge Names Fixes
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/SleepyGemmy-badges.yml
Labels: Awaiting Merge, Bugfix

#17742 Adds the Xanan Shotgun
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/GeneralCamo - Xanan Shotgun.yml
  icons/obj/guns/xanu_shotgun.dmi
  icons/obj/guns/xanu_shotgun_mags.dmi
Labels: Awaiting Merge, Sprites

#17117 Makes Ling More Like The Thing
  code/game/gamemodes/changeling/helpers/_framework.dm
  code/game/gamemodes/changeling/helpers/_store.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  html/changelogs/geeves-salt_pr.yml
Labels: Awaiting Merge

#17627 Xenobotany maint door
  html/changelogs/DreamySkrell-xenobot-maint-door.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17683 Some text manipulation refactor and fixes
  aurorastation.dme
  code/__defines/_macros.dm
  code/__defines/misc.dm
  code/__defines/text.dm
  code/_helpers/text.dm
  code/datums/uplink/announcements.dm
  code/defines/procs/announce.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  html/changelogs/fluffyghost-fixantagannouncements.yml
Labels: Awaiting Merge, 🚫 Do Not Merge, Bugfix

#17789 Update tgs dmapi
  .github/CODEOWNERS
  .github/workflows/byond.yml
  aurorastation.dme
  code/__defines/_world.dm
  code/__defines/tgs.dm
  code/datums/tgs_event_handler.dm
  code/game/world.dm
  code/modules/tgs/LICENSE
  code/modules/tgs/README.md
  code/modules/tgs/core/README.md
  code/modules/tgs/core/_definitions.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v3210/api.dm
  code/modules/tgs/v3210/commands.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v4/commands.dm
  code/modules/tgs/v5/README.md
  code/modules/tgs/v5/__interop_version.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
  code/modules/tgs/v5/chunking.dm
  code/modules/tgs/v5/commands.dm
  code/modules/tgs/v5/serializers.dm
  code/modules/tgs/v5/topic.dm
  code/modules/tgs/v5/undefs.dm
Labels: Awaiting Merge, Changelog Required, Bugfix, Tools

#17804 Fixed air controller temperature input
  code/__defines/math_physics.dm
  code/game/machinery/alarm.dm
  html/changelogs/fluffyghost-fixaircontrollertempinput.yml
Labels: Awaiting Merge, Bugfix

#17805 TGUI Lint Fix
  html/changelogs/SleepyGemmy-tgui_lint_fix.yml
  tgui/packages/tgui/interfaces/FlavorText.tsx
Labels: Awaiting Merge, Bugfix

#17806 Fox Sprite Stray Pixel Fix
  html/changelogs/SleepyGemmy-fox_fix.yml
  icons/mob/npc/fox.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17811 Sleeper Stomach Content Fix
  html/changelogs/Acetrea-StomachSleeperFix.yml
  tgui/packages/tgui/interfaces/Sleeper.tsx
Labels: Awaiting Merge, Bugfix

#17803 Dominia Major L (AI interaction with APC power channels fix)
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/power/apc.dm
  html/changelogs/fluffyghost-fixaiapcpowerchannels.yml
  tgui/packages/tgui/interfaces/Apc.tsx
Labels: Awaiting Merge, Bugfix

#17793 Fixed gremorian eggs not being extractable by surgery
  code/modules/surgery/implant.dm
  html/changelogs/fluffyghost-fixgremeggremovalsurgery.yml
Labels: Awaiting Merge, Bugfix

#17791 Fixed manifest imploding
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/fluffyghost_fixmanifestimplosion.yml
Labels: Awaiting Merge, Bugfix

#17785 MANUAL_UNIT_TEST compiler warning
  code/__defines/manual_unit_testing.dm
  html/changelogs/FluffyGhost-manualut_warn.yml
Labels: Awaiting Merge, Bugfix

#17787 Shuttle landmark docking controller fix
  code/modules/shuttles/landmarks.dm
  html/changelogs/DreamySkrell-landmark-docking-controller-fix.yml
Labels: Awaiting Merge, Bugfix

#17783 Updated CI to use byond 515.1620
  .tgs.yml
  dependencies.sh
  html/changelogs/fluffyghost_updateci1620.yml
Labels: Awaiting Merge

#17784 Spellcheck UNIT_TESTS to UNIT_TEST
  code/__defines/_unit_tests.dm
  html/changelogs/FluffyGhost-spellcheck_UNIT_TEST.yml
Labels: Awaiting Merge, Bugfix

#17779 Tweaked Ion Law
  code/modules/events/ion_storm.dm
  html/changelogs/Acetrea-IonLawChange.yml
Labels: Awaiting Merge

#17194 Loot & Plunder, For The Goddess - The Kazhkz Privateer Ship
  aurorastation.dme
  html/changelogs/RustingWithYou - yohoho.yml
  icons/obj/overmap/overmap_ships.dmi
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette_ghostroles.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dmm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer_areas.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer_ghostroles.dm
Labels: Awaiting Merge, Sprites

#17744 Bottom deck AI core gone
  html/changelogs/DreamySkrell-bottom-deck-ai-gone.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17751 Replace holomap with PDA map program
  aurorastation.dme
  code/__defines/minimap.dm
  code/__defines/subsystem-priority.dm
  code/_helpers/unsorted.dm
  code/_onclick/hud/hud.dm
  code/controllers/subsystems/initialization/holomap.dm
  code/controllers/subsystems/initialization/misc_early.dm
  code/game/machinery/station_holomap.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  code/modules/modular_computers/file_system/programs/app_presets_.dm
  code/modules/modular_computers/file_system/programs/app_presets_antag.dm
  code/modules/modular_computers/file_system/programs/app_presets_crew.dm
  code/modules/modular_computers/file_system/programs/app_presets_equipment.dm
  code/modules/modular_computers/file_system/programs/app_presets_third_party.dm
  code/modules/modular_computers/file_system/programs/generic/map.dm
  html/changelogs/DreamySkrell-minimap-program.yml
  icons/255x255.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  tgui/packages/tgui/interfaces/Map.tsx
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, Sprites, 🗺️ Mapping - Horizon, Mapping: Aurora

#17821 Konyang: Point Verdant shops and sewers
  html/changelogs/DreamySkrell-konyang-stuff.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Review Required, Waiting Period

#17775 Adds a Xanan submachine gun
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/GeneralCamo - Xanan SMG.yml
  icons/obj/ammo.dmi
  icons/obj/guns/xanu_pistol.dmi
  icons/obj/guns/xanu_smg.dmi
Labels: Awaiting Merge, Sprites

#17795 Updates the Ranger Corvette to Mapping Standards
  html/changelogs/Lavillastrangiato - shuttlerefactor.yml
  maps/away/ships/coc/coc_ranger/coc_ship.dm
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
Labels: Awaiting Merge

#17817 Eel Glowing Eyes
  code/modules/mob/living/simple_animal/hostile/space_fauna.dm
  html/changelogs/RustingWithYou - helloclarice.yml
  icons/mob/npc/large_space_xenofauna.dmi
Labels: Awaiting Merge, Sprites

#17741 area blurbs system
  code/game/area/areas.dm
  html/changelogs/greenjoe12345 - areablurb.yml
  maps/_common/areas/station/command.dm
  maps/_common/areas/station/engineering.dm
  maps/_common/areas/station/maintenance.dm
  maps/_common/areas/station/medical.dm
  maps/_common/areas/telecomms.dm
  maps/away/away_site/blueriver/blueriver_areas.dm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
Labels: Awaiting Merge

#17776 Footprint Offset
  code/game/objects/effects/decals/Cleanable/tracks.dm
  html/changelogs/geeves-footprint_offset.yml
Labels: Awaiting Merge

#17831 Crayon Sprite Fix
  code/modules/paperwork/pen.dm
  html/changelogs/Acetrea-CrayonFix.yml
Labels: Awaiting Merge, Bugfix

#17823 Konyang: Haneunim system starmap
  html/changelogs/nauticall-haneunim_stargazer.yml
  icons/obj/machinery/stargazer.dmi
Labels: Awaiting Merge, Sprites

#17820 Reduces potential space lotto win prizes
  code/modules/economy/cash.dm
  html/changelogs/DreamySkrell-space-lotto-nerf.yml
Labels: Awaiting Merge

#17819 Added support for larger on-mob and item sprites.
  code/_helpers/icons.dm
  code/game/objects/items.dm
  code/game/objects/items/items_icon.dm
  html/changelogs/GeneralCamo - Larger Sprites.yml
Labels: Awaiting Merge

#17814 Triglyceride bottle
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/fluffyghost-triglyceridebottle.yml
Labels: Awaiting Merge

#17797 Crableg Sprite Fix
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  html/changelogs/Acetrea-Crableg.yml
Labels: Awaiting Merge, Bugfix

#17773 Void Identification Stuff
  code/datums/beam.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/trash_pile.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/lighting/lighting_atom.dm
  html/changelogs/geeevs-void_identification.yml
  icons/clothing/accessories/led_collar.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#17767 Deck 3 Bathroom Athletic Wear
  html/changelogs/geeves-athletic_shorts.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17768 Damage Layers Tweak
  code/__defines/icon_layering.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-cooler_damage_layers.yml
Labels: Awaiting Merge

#17763 Coloured Lights for the Bar
  html/changelogs/furrycactus-bar-lights.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#17846 Labeler github action wrong globs fix
  .github/labeler.yml
  html/changelogs/DreamySkrell-labeler-fix.yml
Labels: Review Required, Bugfix, Tools

#17841 Adds Multiple Missing Seeds To Xenobotany
  code/modules/hydroponics/seed_storage.dm
  html/changelogs/Acetrea-ekiinxenobotany.yml
Labels: Awaiting Merge, Bugfix

#17830 Tramp Freighter: Reloaded
  aurorastation.dme
  html/changelogs/RustingWithYou - brocaniborrowsomephoron.yml
  maps/away/ships/tramp_freighter/tramp_freighter.dm
  maps/away/ships/tramp_freighter/tramp_freighter.dmm
  maps/away/ships/tramp_freighter/tramp_freighter_areas.dm
Labels: Awaiting Merge

#17801 NT Muffin Sprite Fix
  code/modules/cargo/bounties/chef.dm
  code/modules/cooking/recipes/recipes_burger.dm
  code/modules/reagents/reagent_containers/food/snacks/burger.dm
  html/changelogs/Acetrea-Ntmuffin.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Review Required, 🗺️ Mapping - Aurora, Bugfix, 🗺️ Mapping - Horizon, Mapping: Aurora

#17827 Konyang: Point Verdant Ghostroles
  aurorastation.dme
  code/game/jobs/access_datum.dm
  html/changelogs/RustingWithYou - ifuckinglovecrime.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Review Required

#17770 Antag Cosmetic Surgery Kit
  aurorastation.dme
  code/__defines/mobs.dm
  code/datums/uplink/stealth and camouflage items.dm
  code/game/objects/items/devices/cosmetic_surgery_kit.dm
  html/changelogs/geeves-cosmetic_surgery_kit.yml
Labels: Awaiting Merge

#17774 Dual Wielding Buff
  code/modules/projectiles/gun.dm
  html/changelogs/geeves-dual_wielding_buff.yml
Labels: Awaiting Merge

#17786 Unit Tests consolidation and exception catch
  code/unit_tests/ss_test.dm
  html/changelogs/FluffyGhost-unittests_consolidation_exception_catch.yml
Labels: Awaiting Merge

#17769 Shotgun Consistency
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/geeves-shotgun_stuff.yml
Labels: Awaiting Merge

#17765 Suit Cycler TGUI
  code/game/machinery/suit_cycler.dm
  html/changelogs/geeves-suit_cycler_tgui.yml
  tgui/packages/tgui/interfaces/SuitCycler.tsx
Labels: Awaiting Merge

#17756 Adds INDRA Reactor Alarm
  code/modules/power/fusion/core/core_field.dm
  html/changelogs/CampinKiller24-az5.yml
Labels: Awaiting Merge

#17493 Hivenet Manifest
  aurorastation.dme
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/subtypes/vaurca.dm
  code/modules/tgui/modules/hivenet_manifest.dm
  html/changelogs/geeves-hivenet_manifest.yml
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/HivenetManifest.tsx
  tgui/packages/tgui/styles/themes/vaurca.scss
Labels: Awaiting Merge
