Repository Aurorastation/Aurora.3, pull requests merged in 2023-05, with the labels that each got.

#16067 Adds a flavour only height system
  SQL/migrate/V079__char_heights.sql
  code/__defines/mobs.dm
  code/game/gamemodes/changeling/helpers/_framework.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/game/gamemodes/changeling/implements/powers/suck.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/human/human_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/monkey.dm
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  html/changelogs/FlamingLily-Height.yml
Labels: Awaiting Merge, Database

#16237 Vexillology
  aurorastation.dme
  code/game/objects/random/random.dm
  code/game/objects/structures/banner.dm
  code/game/objects/structures/flags_banners.dm
  code/game/objects/structures/signs.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/wezzy_vexillology.yml
  icons/obj/custom_items/ahzi_items.dmi
  icons/obj/flags.dmi
  icons/obj/structure/flags.dmi
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/away/away_site/abandoned_mining/cursed.dmm
  maps/away/away_site/crashed_elyran_tanker/crashed_elyran_tanker.dmm
  maps/away/away_site/overgrown_mining_station/overgrown_mining_station.dmm
  maps/away/away_site/romanovich/grand_romanovich.dmm
  maps/away/away_site/sol_bunker/bunker.dmm
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
  maps/away/away_site/tajara/pra_satellite/pra_satellite.dmm
  maps/away/away_site/tajara/saniorios_smuggler/saniorios_smuggler.dmm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dmm
  maps/away/ships/coc_ranger/coc_ship.dmm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dmm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dmm
  maps/away/ships/dominia/dominian_corvette.dmm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
  maps/away/ships/elyra/elyran_strike_craft.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
  maps/away/ships/pra/database_freighter/database_freighter.dmm
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
  maps/away/ships/skrell_smuggler/tirakqi_freighter.dmm
  maps/away/ships/sol_merc/fsf_patrol_ship.dmm
  maps/away/ships/sol_pirate/sfa_patrol_ship.dmm
  maps/away/ships/sol_ssmd/ssmd_ship.dmm
  maps/away/ships/tcfl_patrol/tcfl_peacekeeper_ship.dmm
  maps/dungeon_spawns/coc_ship_unique.dmm
  maps/dungeon_spawns/skrell_crash_unique.dmm
  maps/dungeon_spawns/sol_bunker_unique.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_abandoned_labor_camp.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_fallout_bunker.dmm
  maps/random_ruins/exoplanets/adhomai/ala_base.dmm
  maps/random_ruins/exoplanets/adhomai/ala_cell.dmm
  maps/random_ruins/exoplanets/adhomai/nka_base.dmm
  maps/random_ruins/exoplanets/adhomai/pra_base.dmm
  maps/random_ruins/exoplanets/adhomai/psis_outpost.dmm
  maps/random_ruins/exoplanets/asteroid/coc_ship/coc_ship_unique.dmm
  maps/random_ruins/exoplanets/asteroid/skrell_ship/skrell_crash_unique.dmm
  maps/random_ruins/exoplanets/raskara/raskara_okon.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Mapping: Aurora, Sprites

#16246 Colorable Glasses
  aurorastation.dme
  code/_helpers/_global_objects.dm
  code/game/objects/items/items_icon.dm
  code/modules/client/preference_setup/loadout/_defines.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/loadout/loadout_eyes.dm
  code/modules/clothing/glasses/colorable.dm
  html/changelogs/geeves-cool_glasses.yml
  icons/obj/item/clothing/eyes/colorable_glasses.dmi
Labels: Awaiting Merge, Sprites

#16263 More Guild Mantles
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/RustingWithYou - guilds.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#16285 flag fix
  code/game/objects/structures/flags_banners.dm
  html/changelogs/wezzy_vex_fix.yml
Labels: Awaiting Merge, Bugfix

#16286 Darkened black double breasted konyang jacket and Provenance custom item
  html/changelogs/niennab-darkerkonyangjacketandcustomitem.yml
  icons/clothing/suits/konyang_double_breasted_jacket.dmi
  icons/obj/custom_items/provenance_jacket.dmi
Labels: Awaiting Merge, Sprites

#16276 Fixes the adhomian circus roles being whitelisted
  html/changelogs/alberyk-circuswhitelist.yml
  maps/away/ships/tajara/circus/adhomian_circus.dmm
  maps/away/ships/tajara/circus/adhomian_circus_roles.dm
Labels: Awaiting Merge, Bugfix

#16270 Fixes a few inadvertent misgenderings by using the more accurate get_pronoun instead of antiquated gender variable.
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  html/changelogs/FlamingLily-diversityWin.yml
Labels: Awaiting Merge, Bugfix

#16298 guild mantle icon fix
  html/changelogs/RustingWithYou - guildiconfix.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16243 Bar removed from sec maint
  html/changelogs/DreamySkrell-bar-sec-4627354737654.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16242 Bar added to ops maint
  html/changelogs/DreamySkrell-bar-ops-325243646.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16248 Name and description of ghost role is written to chat on spawn.
  code/modules/ghostroles/spawner/base.dm
  html/changelogs/DreamySkrell-ghost-role-name-spawn-346346346.yml
Labels: Awaiting Merge

#16226 Srom even nicer and even prettier
  html/changelogs/DreamySkrell-srom-3463463475347534ygfdged.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge

#16279 Fixes asteroid scan readouts
  code/modules/maps/planet_types/asteroid.dm
  html/changelogs/kyres1-fixing_readouts.yml
Labels: Awaiting Merge, Bugfix

#16314 Hegemony Corvette bug fixes
  html/changelogs/RustingWithYou - lizardfix.yml
  maps/away/ships/hegemony/hegemony_corvette/hegemony_corvette.dmm
  maps/away/ships/hegemony/hegemony_corvette/hegemony_ghostroles.dm
Labels: Awaiting Merge

#16313 Resprites sensors and remaps Venator-class sensors
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/identification.dm
  html/changelogs/kyres1-venator_love.yml
  icons/obj/machinery/iff_transponder.dmi
  icons/obj/machinery/sensors.dmi
  icons/obj/machinery/sensors_venator.dmi
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites

#16315 Assisted organ fix
  code/modules/organs/organ.dm
  html/changelogs/assistedorganfix.yml
Labels: Awaiting Merge, Bugfix

#16269 ISS Module Tech Reduction
  code/modules/research/designs/mechfab/hardsuit/modules.dm
  html/changelogs/ramke - pai research buff.yml
Labels: Awaiting Merge

#16325 plant -> planet
  code/game/objects/structures/flags_banners.dm
  html/changelogs/gadpathur.yml
Labels: Awaiting Merge, Bugfix

#16308 Low Power Thrusters
  aurorastation.dme
  code/modules/overmap/ships/engines/maneuvering_thrusters.dm
  html/changelogs/geeves-low_power_thrusters.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16307 Overmap Layering
  code/__defines/_layers.dm
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/landable.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/geeves-overmap_layering.yml
Labels: Awaiting Merge

#16305 Shuttle Landing Indicators
  aurorastation.dme
  code/__defines/_layers.dm
  code/modules/effects/shuttle_landing_warning.dm
  code/modules/overmap/ships/landable.dm
  code/modules/shuttles/landmarks.dm
  code/modules/shuttles/shuttle.dm
  html/changelogs/geeves-shuttle_landing_indicators.yml
  icons/effects/effects.dmi
Labels: Awaiting Merge, Sprites

#16321 Unathi Plants
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/modules/cooking/recipes/cultural/recipes_unathi.dm
  code/modules/hydroponics/seed_datums/unathi.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/RustingWithYou - lizardplants.yml
  icons/obj/food.dmi
  icons/obj/hydroponics_growing.dmi
  icons/obj/hydroponics_products.dmi
Labels: Awaiting Merge, Sprites

#16320 Circus clown now requires a Taj WL
  html/changelogs/dansemacabre-roleplayersonly.yml
  maps/away/ships/tajara/circus/adhomian_circus_roles.dm
Labels: Awaiting Merge

#16331 Disarming Cost Fix
  code/modules/mob/living/carbon/human/human_attackhand.dm
  html/changelogs/geeves-kada_aug_siphon.yml
Labels: Awaiting Merge, Bugfix

#16330 Fixes the Assunzione Amulet Sprite
  html/changelogs/amulet.yml
  icons/clothing/accessories/assunzione_amulet.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16316 Zeng-Hu Softcaps
  code/modules/client/preference_setup/loadout/loadout_factions.dm
  html/changelogs/zenghusoftcaps.yml
Labels: Awaiting Merge

#16289 Visegrad Flag
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/dansemacabre-flag.yml
Labels: Awaiting Merge

#16268 Farseer Tweak
  code/modules/organs/subtypes/autakh.dm
  html/changelogs/geeves-farseer_tweak.yml
Labels: Awaiting Merge

#16317 Antag Dirty Bombs & Bodyhorror Parasites
  aurorastation.dme
  code/__defines/chemistry.dm
  code/__defines/mobs.dm
  code/datums/uplink/bioweapons.dm
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/datums/uplink/uplink_categories.dm
  code/game/objects/items/contraband.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/items/weapons/storage/uplink_kits.dm
  code/game/objects/random/random.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/mob_helpers.dm
  code/modules/organs/subtypes/parasite.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_containers/syringes.dm
  html/changelogs/kermit-bioweapons.yml
  icons/obj/organs/organs.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, Update Wiki

#16294 Dig The Hole, For Not'zar - Miners' Guild Station
  aurorastation.dme
  html/changelogs/RustingWithYou - diggydiggyhole.yml
  maps/away/ships/hegemony/miners_guild/miners_guild_areas.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_ghostroles.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dmm
Labels: Awaiting Merge

#16333 Food Stuff
  code/modules/cooking/recipes/cultural/recipes_earth.dm
  code/modules/hydroponics/seed_datums/vegetables.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/geeves-australia.yml
  icons/obj/food.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites

#16332 more weapons for izharshan
  html/changelogs/RustingWithYou - blatantizharshanbuffs.yml
  maps/away/away_site/unathi_pirate/izharshan/unathi_pirate_izharshan.dmm
Labels: Awaiting Merge

#16359 Fixes the EUM origins
  code/modules/background/origins/origins/diona/eum.dm
  html/changelogs/Yonnimer-eumunfeck.yml
Labels: Awaiting Merge, Bugfix

#16349 Chemistry grinders now eject beakers into your hands.
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/mattatlas-beaker.yml
Labels: Awaiting Merge

#16295 Wealth Beyond Measure - The Merchants' Guild Ship
  aurorastation.dme
  code/game/jobs/access_datum.dm
  code/modules/merchant/merchant_programs.dm
  code/modules/modular_computers/computers/subtypes/preset_console.dm
  code/modules/modular_computers/file_system/programs/app_presets.dm
  html/changelogs/RustingWithYou - watchabuyin.yml
  maps/away/ships/hegemony/merchants_guild/merchant_freighter.dm
  maps/away/ships/hegemony/merchants_guild/merchant_freighter.dmm
  maps/away/ships/hegemony/merchants_guild/merchant_freighter_areas.dm
  maps/away/ships/hegemony/merchants_guild/merchant_freighter_ghostroles.dm
Labels: Awaiting Merge

#16105 PR Atomizer Tool
  html/changelogs/fluffyghost-pratomizer.yml
  tools/pratomizer/examples.txt
  tools/pratomizer/pratomizer.py
  tools/pratomizer/requirements.txt
Labels: Awaiting Merge

#16197 Blobs now only spawn with 2 engineers and 10 players online.
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  html/changelogs/mattatlas-blobmoments.yml
Labels: Awaiting Merge

#16366 Fixes backpacks not having proper inhand sprites
  html/changelogs/wezzy_crickintheback.yml
  icons/obj/storage/backpack.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16357 Kitchen edits (plates & dinnerware).
  code/modules/cooking/machinery/smartfridge.dm
  code/modules/cooking/plates.dm
  html/changelogs/mattatlas-kitchenedits.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16356 Made curry available in lunchboxes
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/curry.yml
Labels: Awaiting Merge

#16344 Custom Item Flag Fixes
  code/game/objects/structures/flags_banners.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/wezzy_flagfixes.yml
  icons/obj/custom_items/bian_flag.dmi
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16363 Prevents afros from being caught in grinders
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/bluntforce420afro.yml
Labels: Awaiting Merge

#16355 Updated drink descriptions to not reference old names
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/drinkdescs.yml
Labels: Awaiting Merge

#16341 Greimorian Bombardier
  code/game/gamemodes/technomancer/spells/summon/summon_creature.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/geeves-stop_resisting.yml
  icons/mob/npc/greimorian.dmi
Labels: Awaiting Merge, Sprites

#16360 Ion announcement fix
  code/defines/procs/announce.dm
  html/changelogs/N8-Toe - Ionannoucefix.yml
Labels: Awaiting Merge

#16362 Gives XO their hat in their locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/N8-Toe XOhattening.yml
Labels: Awaiting Merge

#16373 Ejecting beakers from a grinder as a mob without hands no longer deletes the beaker
  code/modules/reagents/Chemistry-Machinery.dm
  html/changelogs/llywelwyn-beakerfix.yml
Labels: Awaiting Merge, Bugfix

#16275 Commanded Animal Stuff
  code/__defines/dcs/signals.dm
  code/game/atoms.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/mob.dm
  html/changelogs/geeves-commanded_tweaks.yml
Labels: Awaiting Merge

#16338 Nearsighted Sensors Fix
  code/__defines/traits.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/overmap/ships/computers/ship.dm
  html/changelogs/geeves-nearsighted_dominians.yml
Labels: Awaiting Merge, Bugfix

#16312 Vysoka Loadout Love
  code/modules/client/preference_setup/loadout/loadout_head.dm
  code/modules/client/preference_setup/loadout/loadout_shoes.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/clothing/factions/vysoka.dm
  html/changelogs/kyres1-vysoka_love.yml
  icons/clothing/head/vysoka_cap.dmi
  icons/clothing/suits/coats/vysoka_chokha_female.dmi
  icons/clothing/suits/coats/vysoka_chokha_male.dmi
  icons/obj/item/clothing/head/vysoka_caps.dmi
  icons/obj/item/clothing/shoes/vysoka_shoes.dmi
  icons/obj/item/clothing/suit/storage/vysoka_chokha_female.dmi
  icons/obj/item/clothing/suit/storage/vysoka_chokha_male.dmi
  icons/obj/item/clothing/under/vysoka_under.dmi
  maps/away/ships/coc_ranger/coc_ship.dmm
Labels: Awaiting Merge, Sprites

#16323 Replaces turf gas vars and fixes exoplanet atmosphere generation.
  code/ZAS/Turf.dm
  code/controllers/subsystems/air.dm
  code/game/machinery/doors/firedoor.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor_types.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated.dm
  code/game/turfs/unsimulated/floor.dm
  code/modules/mining/mine_turfs.dm
  code/modules/multiz/turfs/open_space.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/unit_tests/zas_tests.dm
  html/changelogs/RustingWithYou - fear.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/away/away_site/sol_bunker/bunker.dmm
  maps/away/ships/orion/orion_express_ship.dmm
  maps/random_ruins/exoplanets/asteroid/coc_ship/coc_ship_unique.dmm
  maps/random_ruins/exoplanets/asteroid/listening_post/listening_post_unique.dmm
  maps/random_ruins/exoplanets/asteroid/skrell_ship/skrell_crash_unique.dmm
  maps/random_ruins/exoplanets/asteroid/sol_ship/sol_ship_unique.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Mapping: Aurora, Test Merge Candidate

#16214 Atom gliding (part 3)
  code/controllers/configuration.dm
  code/game/atoms_movable.dm
  code/modules/admin/verbs/ticklag.dm
  code/modules/client/preferences.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/mob_movement.dm
  code/world.dm
  config/example/config.txt
  config/ut/config-db.txt
  config/ut/config-nodb.txt
  html/changelogs/mattatlas-glide.yml
Labels: Awaiting Merge, Test Merge Candidate

#16374 Removes server-crashing smoke generator
  code/modules/integrated_electronics/subtypes/reagents.dm
  html/changelogs/llywelwyn-smokebegone.yml
Labels: Awaiting Merge, Bugfix

#16290 Dance floor begone
  html/changelogs/DreamySkrell-disco-4363574.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16376 Fixes human height strings and vendor layers.
  code/game/machinery/vending.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/mattatlas-fixespt2.yml
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dmm
Labels: Awaiting Merge, Bugfix

#16336 Removes the brainburger.
  aurorastation.dme
  code/datums/trading/food.dm
  code/modules/cooking/recipes/recipes_mix.dm
  code/modules/cooking/recipes/recipes_pastries.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs/mattatlas-ashes.yml
  icons/obj/food.dmi
Labels: Awaiting Merge, Sprites

#16383 Fixes people getting shoved into the overmap zlevel when falling out of the ship.
  html/changelogs/mattatlas-.yml
  maps/_common/mapsystem/map.dm
  maps/aurora/code/aurora.dm
  maps/runtime/code/runtime.dm
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge, Bugfix

#16389 Fixes a radial menu hard delete.
  code/_onclick/hud/radial.dm
  html/changelogs/mattatlas-harddels.yml
Labels: Awaiting Merge, Bugfix

#16365 Stopped Vaurca Warforms appearing to be 6 feet high.
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/FlamingLily-bugfix.yml
Labels: Awaiting Merge

#16387 Throw changes: relative mobsizes determines throw range, and itemsize matters for EVA movement
  code/modules/mob/inventory.dm
  code/modules/mob/mob_grab.dm
  html/changelogs/llywelwyn-tossing-stuff.yml
Labels: Awaiting Merge

#16382 Investigator HUD Update
  html/changelogs/geeves-return_to_tradition.yml
  icons/hud/hud_security.dmi
  icons/mob/hud.dmi
Labels: Awaiting Merge, Sprites

#16384 Fix atmos lag 5real
  code/modules/overmap/exoplanets/themes/_theme.dm
  html/changelogs/johnwildkins-fixlag99.yml
Labels: Awaiting Merge, Bugfix, Performance

#16322 Adds the Weeping Stars, some Coalition regions, new start sound effects
  aurorastation.dme
  code/__defines/space_sectors.dm
  code/game/machinery/stargazer.dm
  code/game/turfs/flooring/flooring_premade.dm
  code/modules/background/space_sectors/badlands.dm
  code/modules/background/space_sectors/coalition.dm
  code/modules/background/space_sectors/void.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/overmap/exoplanets/biomes/lava.dm
  html/changelogs/kyres1-weeping_stars.yml
  icons/misc/hudmenu/coalition_hud.dmi
  icons/obj/machinery/stargazer.dmi
  icons/skybox/skybox.dmi
  maps/away/away_site/abandoned_mining/cursed.dm
  maps/away/away_site/big_derelict/bigderelict.dm
  maps/away/away_site/blueriver/blueriver.dm
  maps/away/away_site/civ_station/civilian_station.dm
  maps/away/away_site/hivebot_hub/hivebot_hub.dm
  maps/away/away_site/magshield/magshield.dm
  maps/away/away_site/racers/racers.dm
  maps/away/away_site/shady/shady.dm
  maps/away/away_site/sol_bunker/bunker.dm
  maps/away/away_site/space_bar/space_bar.dm
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dmm
  maps/away/ships/casino/casino.dm
  maps/away/ships/coc_ranger/coc_ship.dm
  maps/away/ships/kataphracts/kataphract_ship.dm
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dm
  maps/away/ships/tramp_freighter/tramp_freighter.dm
  maps/away/ships/yacht/yacht.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  sound/AI/welcome_badlands.ogg
  sound/AI/welcome_coalition.ogg
  sound/AI/welcome_weeping.ogg
  sound/effects/menu_click_heavy.ogg
Labels: Awaiting Merge, Sprites

#16392 New Ya'ssa Accent
  code/modules/background/accent/tajara.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/tajara/adhomai.dm
  html/changelogs/ramke - new yassa.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#16327 fixes mapping errors on tarwa ship
  html/changelogs/RustingWithYou - tarwafixes.yml
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dm
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge

#16339 Simple Mob Surroundings Damage
  code/game/objects/structures/full_window_frame.dm
  code/game/objects/structures/window.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/tables/presets.dm
  code/modules/tables/tables.dm
  html/changelogs/geeves-violence.yml
Labels: Awaiting Merge, Test Merge Candidate

#16385 Fixes turtlenecks in the loadout
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  html/changelogs/kyres1-turtleneck_fix.yml
Labels: Awaiting Merge, Bugfix

#16368 Adds 6 new flags/banners: Port Antillia, San Colette, Mictlan, and the Vaurca hives (mk. III)
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/loadout_general.dm
  html/changelogs/SimpleMaroon-flagchamp.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#16253 Adds Tallit to Religious Loadout
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/tallit.yml
  icons/clothing/accessories/Tallit.dmi
Labels: Awaiting Merge, Sprites

#16396 Unathi Religious Books
  code/game/objects/items/devices/versebook.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  html/changelogs/RustingWithYou - lizardreligion.yml
  ingame_manuals/autakh.txt
  ingame_manuals/siakh.txt
  ingame_manuals/skakh.txt
  ingame_manuals/thakh.txt
Labels: Awaiting Merge

#16252 Technomancer Summoning Stone & Bracelet
  code/game/gamemodes/technomancer/assistance/assistance.dm
  code/game/gamemodes/technomancer/catalog.dm
  code/game/gamemodes/technomancer/core_obj.dm
  code/game/gamemodes/technomancer/equipment.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/gamemodes/technomancer/spells/energy_siphon.dm
  html/changelogs/geeves-techno_bracelet.yml
  icons/obj/clothing/technomancer.dmi
  icons/obj/telescience.dmi
Labels: Awaiting Merge, Sprites

#16401 Fixes subtle message bolding/italics.
  code/modules/admin/verbs/randomverbs.dm
  html/changelogs/mattatlas-niewazne.yml
Labels: Review Required, Bugfix

#16400 Fixes the stupid missing disposals pipe in the service hallway.
  html/changelogs/mattatlas-lol.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix

#16398 Volcanic exoplanets aren't freezing any more
  code/modules/maps/planet_types/lava.dm
  html/changelogs/RustingWithYou - superhot.yml
Labels: Awaiting Merge, Bugfix

#16397 Added a copy of the Biesel constitution to the holodeck
  html/changelogs/bieselbook.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge

#16386 Drill Tech Meta 2: Pierce The Heavens
  code/modules/mining/drilling/drill.dm
  html/changelogs/RustingWithYou - drilldrilldrill.yml
Labels: Awaiting Merge

#16251 Technomancer Raise Wall
  aurorastation.dme
  code/game/gamemodes/technomancer/spells/raise_wall.dm
  html/changelogs/geeves-techno_wall.yml
  icons/obj/spells.dmi
Labels: Awaiting Merge, Sprites

#16318 adds a fishing league guild mantle
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/RustingWithYou - fishing.yml
Labels: Awaiting Merge

#16291 Atmos OxyRegenerator Device
  aurorastation.dme
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/modules/atmospherics/components/binary_devices/binary_atmos_base.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/research/designs/circuit/machine_circuits.dm
  html/changelogs/fluffyghost-portoxyregenerator.yml
  icons/atmos/oxyregenerator.dmi
  nano/templates/oxyregenerator.tmpl
Labels: Awaiting Merge, Sprites

#16395 Removes references to Dominian Dionae in code
  aurorastation.dme
  code/modules/background/origins/origins/diona/dominia.dm
  code/modules/client/preference_setup/loadout/loadout_religion.dm
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/client/preference_setup/loadout/loadout_uniform.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/SimpleMaroon-dominionaremoval.yml
Labels: Awaiting Merge

#16404 Fixes some cases where fakedeath doesn't work.
  code/datums/repositories/crew.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/lungs.dm
  html/changelogs/mattatlas-stands_for_infinite.yml
Labels: Awaiting Merge, Bugfix

#16410 Uplink now gives 25 liquid bags instead of just 1
  code/datums/uplink/devices_and_tools.dm
  html/changelogs/llywelwyn-bags.yml
Labels: Awaiting Merge, Bugfix

#16414 Fixes firing delays.
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/minigun.dm
  html/changelogs/mattatlas-dontjusttakeabow.yml
Labels: Awaiting Merge, Bugfix

#16408 Fixes grass planets having a chlorine atmosphere
  code/modules/maps/planet_types/grass.dm
  html/changelogs/alberyk-gasfix.yml
Labels: Awaiting Merge, Bugfix

#16379 Potentially fix light/atmos lag.
  code/ZAS/Turf.dm
  code/ZAS/Zone.dm
  code/modules/xgm/xgm_gas_mixture.dm
Labels: Awaiting Merge, Changelog Required, Test Merge Candidate, Bugfix

#16413 Fixes Cyborgs becoming invisible once created by Machinists
  code/modules/mob/living/silicon/robot/items/robot_parts.dm
  html/changelogs/io-util-cyborgfix.yml
Labels: Awaiting Merge, Bugfix
