Repository Aurorastation/Aurora.3, pull requests merged in 2023-04, with the labels that each got.

#16093 Many minor rewrites and spellchecks for accent descs
  code/modules/background/accent/diona.dm
  code/modules/background/accent/human.dm
  code/modules/background/accent/skrell.dm
  code/modules/background/accent/tajara.dm
  code/modules/background/accent/unathi.dm
  code/modules/background/accent/vaurca.dm
  code/modules/clothing/under/xenos/tajara.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/sniblet-our.yml
Labels: Awaiting Merge, Lore Impact

#16142 OM Vault Access Fix
  html/changelogs/om_vault.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, Mapping: Horizon

#16143 DPRA assault rifle update
  code/datums/trading/weaponry.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/alberyk-gunsprite.yml
  icons/obj/guns/golden_mrrazhak.dmi
  icons/obj/guns/mrrazhak.dmi
Labels: Awaiting Merge, Sprites

#16065 Refactor of, and more, unit tests
  aurorastation.dme
  code/__defines/_unit_tests.dm
  code/__defines/manual_unit_testing.dm
  code/__defines/master_controller.dm
  code/__defines/unit_testing.dm
  code/_helpers/logging.dm
  code/_onclick/hud/ability_screen_objects.dm
  code/controllers/subsystems/garbage-debug.dm
  code/controllers/subsystems/spatial_gridmap.dm
  code/game/atoms_init.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/modules/mining/coins.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  code/unit_tests/chemistry_tests.dm
  code/unit_tests/cooking_tests.dm
  code/unit_tests/create_and_destroy.dm
  code/unit_tests/equipment_tests.dm
  code/unit_tests/foundation_tests.dm
  code/unit_tests/gamemode_tests.dm
  code/unit_tests/icon_tests.dm
  code/unit_tests/language_test.dm
  code/unit_tests/map_tests.dm
  code/unit_tests/mob_tests.dm
  code/unit_tests/object_tests.dm
  code/unit_tests/observation_tests.dm
  code/unit_tests/origins_tests.dm
  code/unit_tests/overmap_tests.dm
  code/unit_tests/power_tests.dm
  code/unit_tests/recipe_tests.dm
  code/unit_tests/shuttle_tests.dm
  code/unit_tests/spawner_tests.dm
  code/unit_tests/species_tests.dm
  code/unit_tests/sql_tests.dm
  code/unit_tests/ss_test.dm
  code/unit_tests/subsystem_init.dm
  code/unit_tests/timer_sanity.dm
  code/unit_tests/unit_test.dm
  code/unit_tests/vueui_tests.dm
  code/unit_tests/zas_tests.dm
  code/world.dm
  html/changelogs/fluffyghost-unittestsrework.yml
Labels: Awaiting Merge, Mapping: Aurora, Mapping: Runtime

#15718 Fixes Ruins and lets some Spawn
  code/game/turfs/simulated/shuttle_turfs.dm
  html/changelogs/wickedcybs_ruinfix.yml
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
  maps/random_ruins/exoplanets/asteroid/coc_ship/coc_ship_unique.dmm
  maps/random_ruins/exoplanets/asteroid/crashed_pod/crashed_pod_unique.dmm
  maps/random_ruins/exoplanets/asteroid/crashed_shuttle/crashed_shuttle_01.dmm
  maps/random_ruins/exoplanets/asteroid/digsite/digsite_unique.dmm
  maps/random_ruins/exoplanets/asteroid/escape_pod/escape_pod_unique.dmm
  maps/random_ruins/exoplanets/asteroid/listening_post/listening_post_unique.dmm
  maps/random_ruins/exoplanets/asteroid/mining_base/mining_base.dmm
  maps/random_ruins/exoplanets/asteroid/satellite _crash/satellite_crash_unique.dmm
  maps/random_ruins/exoplanets/asteroid/skrell_ship/skrell_crash_unique.dmm
  maps/random_ruins/exoplanets/asteroid/sol_ship/sol_ship_unique.dmm
Labels: Awaiting Merge, Bugfix

#15729 Aut'akh Origins and Cultures + Accent Goodies
  aurorastation.dme
  code/modules/background/accent/unathi.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/unathi/autakh.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/geeves-autakh_origin.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites, Lore Impact

#15794 Unathi Augment Stuff
  code/controllers/subsystems/job.dm
  code/modules/client/preference_setup/loadout/loadout_augments.dm
  html/changelogs/geeves-fuel_cell_fix.yml
Labels: Awaiting Merge, Lore Impact

#16160 Fixed PDA charging cable immediately retracting on APC connection
  code/datums/beam.dm
  html/changelogs/fluffyghost-fix16075.yml
Labels: Awaiting Merge, Bugfix

#16136 Modernize our Issue Template
  .github/ISSUE_TEMPLATE.md
  html/changelogs/fluffyghost-modernizeissuetemplate.yml
Labels: Awaiting Merge

#16158 Update codeowners
  .github/CODEOWNERS
  html/changelogs/fluffyghost-modernizecodeowners.yml
Labels: Awaiting Merge

#16167 Makes switching loadout tabs not refresh preview, fixes new character loading not refreshing preview.
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preferences.dm
  html/changelogs/mattatlas-thediaster.yml
Labels: Awaiting Merge, Bugfix

#16170 Issue template (experiment) fix
  .github/ISSUE_TEMPLATE/BUG-REPORT.yaml
  html/changelogs/fluffyghost-issuestemplateattempt2.yml
Labels: Awaiting Merge, Bugfix

#16175 Fix ruin generation (4reals)
  code/__defines/ruin_tags.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/unit_tests/create_and_destroy.dm
  html/changelogs/johnwildkins-ruinfix.yml
  maps/exoplanet_testing/exoplanet_testing.dm
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
  maps/random_ruins/exoplanets/desert/desert.dm
  maps/random_ruins/exoplanets/exoplanet_ruins.dm
  maps/random_ruins/exoplanets/grove/grove.dm
Labels: Awaiting Merge, Bugfix

#16178 Fix and modernize our github templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yaml
  .github/ISSUE_TEMPLATE/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Awaiting Merge, Changelog Required, Bugfix

#16157 Asymmetrical shirt tweaks
  html/changelogs/dansemacabre-asymmetrical.yml
  icons/mob/ties.dmi
Labels: Awaiting Merge, Sprites

#16076 Adds some new EUM-centric things
  aurorastation.dme
  code/game/objects/structures/signs.dm
  code/modules/background/accent/diona.dm
  code/modules/background/accent/skrell.dm
  code/modules/background/citizenship/dionae.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/diona/eum.dm
  code/modules/background/origins/origins/skrell/non_federation.dm
  code/modules/background/religion/diona.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  code/modules/clothing/under/accessories/xeno/diona.dm
  code/modules/clothing/under/xenos/diona.dm
  html/changelogs/Yonnimer-EUM.yml
  icons/accent_tags.dmi
  icons/obj/diona_items.dmi
  icons/obj/flags.dmi
Labels: Awaiting Merge, Sprites

#16168 Allows examining the ID menu for IDs in wallets or modular computers
  code/game/objects/items/weapons/storage/wallets.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  html/changelogs/SimpleMaroon-pdawalletexamine.yml
Labels: Awaiting Merge

#16173 Resprites kitchen appliances, Adds kitchen particle smoke
  aurorastation.dme
  code/modules/cooking/machinery/cooking_machines/_appliance.dm
  code/modules/cooking/machinery/cooking_machines/fryer.dm
  code/modules/cooking/machinery/cooking_machines/oven.dm
  code/modules/cooking/machinery/cooking_machines/stove.dm
  code/modules/effects/particles/native_particles.dm
  html/changelogs/atteria-kitchen-looks.yml
  icons/effects/native_particles.dmi
  icons/obj/cooking_machines.dmi
Labels: Awaiting Merge, Sprites

#16171 Simplified the bloom effect for screen overlays
  code/_helpers/overlay.dm
  html/changelogs/GeneralCamo - Better Bloom.yml
Labels: Awaiting Merge

#16186 Fixes a speech bubble pref glitch.
  code/modules/client/preferences.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/mattatlas-brokenfaded.yml
Labels: Awaiting Merge, Bugfix

#16187 Fixes a lot of bugs.
  code/game/atoms.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/game/gamemodes/changeling/implements/powers/stings.dm
  code/game/machinery/autolathe/autolathe.dm
  code/game/machinery/hologram.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/weapons/circuitboards/computer/computer.dm
  code/modules/mob/animations.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/whisper.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/multiz/structures.dm
  code/modules/nano/modules/atmos_control.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/_internal.dm
  code/modules/overmap/ship_weaponry/_ship_gun.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  html/changelogs/mattatlas-youranswer.yml
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  maps/random_ruins/exoplanets/adhomai/abandoned_village.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_bar.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_raskariim_hideout.dmm
  maps/random_ruins/exoplanets/adhomai/ala_base.dmm
  maps/random_ruins/exoplanets/adhomai/nka_base.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, Bugfix

#16103 Massive rec area remap into double holodecks
  code/game/objects/items/devices/lighting/lamp.dm
  code/game/objects/items/holomenu.dm
  code/modules/holodeck/HolodeckControl.dm
  html/changelogs/kyres1-deck3_holodeck_overhaul.yml
  icons/effects/props/holodeck/biesel/32x32.dmi
  icons/effects/props/holodeck/biesel/384x224.dmi
  icons/effects/props/holodeck/biesel/96x224.dmi
  icons/effects/props/holodeck/holodeck_tools.dmi
  icons/effects/props/holodeck/jupiter/384x224.dmi
  icons/effects/props/holodeck/konyang/32x32.dmi
  icons/effects/props/holodeck/konyang/32x96.dmi
  icons/effects/props/holodeck/konyang/64x64.dmi
  icons/effects/props/holodeck/konyang/64x96.dmi
  icons/effects/props/holodeck/moghes/32x32.dmi
  icons/effects/props/holodeck/moghes/32x64.dmi
  icons/effects/props/holodeck/moghes/64x128.dmi
  icons/obj/holomenu_holodeck.dmi
  icons/turf/flooring/exoplanet/konyang.dmi
  icons/turf/flooring/exoplanet/konyang_smooth.dmi
  icons/turf/flooring/exoplanet/moghes.dmi
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/code/sccv_horizon_holodeck.dm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Feedback Required, Sprites, Test Merge Candidate, Mapping: Horizon

#16141 Two new pipe types (Redux)
  code/__defines/atmos.dm
  code/__defines/pipes.dm
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/game/machinery/pipe/construction.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/objects/items/weapons/RFD.dm
  code/modules/atmospherics/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/components/binary_devices/pump.dm
  code/modules/atmospherics/components/portables_connector.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/atmospherics/components/unary/vent_scrubber.dm
  code/modules/atmospherics/pipes.dm
  code/modules/multiz/pipes.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  html/changelogs/Generalcamo - New Pipes.yml
  icons/atmos/connector.dmi
  icons/atmos/manifold.dmi
  icons/atmos/passive_gate.dmi
  icons/atmos/pipe_underlays.dmi
  icons/atmos/pipes.dmi
  icons/atmos/pump.dmi
  icons/atmos/vent_pump.dmi
  icons/atmos/vent_scrubber.dmi
  icons/obj/pipe-item.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#16188 Fixes missing cutting board and mixing bowl sprites
  html/changelogs/atteria-cooking-board-fix.yml
  icons/obj/cooking_machines.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16189 Fixes D3 wiring.
  html/changelogs/mattatlas-aaa.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#16026 blatant bulwark buffs
  code/modules/mob/living/carbon/human/species/species_attack.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/RustingWithYou - bigbug.yml
Labels: Awaiting Merge

#16177 Adds git-blame-ignore-revs
  .git-blame-ignore-revs
Labels: Awaiting Merge, Changelog Required

#16194 Holodeck PR fixes
  html/changelogs/kyres1-holodeck_alarmfix.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix

#16181 Mecha Mobility
  code/__defines/dcs/signals.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/mob/mob.dm
  html/changelogs/geeves-mecha_mobility.yml
Labels: Awaiting Merge

#16184 EUM PR P2
  code/modules/client/preference_setup/loadout/loadout_general.dm
  code/modules/client/preference_setup/loadout/loadout_xeno/diona.dm
  html/changelogs/Yonnimer-eumfix.yml
Labels: Awaiting Merge

#16190 CIC/bunker re-remap so it looks nice and larpy.
  html/changelogs/DreamySkrell-new-new-cic-1246.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16200 Hostile mobs no longer target logged out players.
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/mattatlas-hivebotdisaster.yml
Labels: Awaiting Merge

#16206 Fix a mob runtime.
  code/modules/mob/living/simple_animal/hostile/sarlacc.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#15900 IPC Overloaders
  aurorastation.dme
  code/__defines/traits.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items/ipc_overloaders.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/say.dm
  html/changelogs/geeves-ipc_overloaders.yml
  icons/obj/item/ipc_overloaders.dmi
  icons/obj/vending.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, Lore Impact

#16195 Engineering/Atmospherics Map Updates
  html/changelogs/Huntime-EngineeringUpdates.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge

#16199 Adds 2 New Tuux Styles to Skrell
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/tuuxy.yml
  icons/mob/human_face/skrell_beards.dmi
Labels: Awaiting Merge, Sprites

#15416 Exosuit weapon refactor
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/Ben10083 - ExoWeps.yml
Labels: Awaiting Merge

#15817 Grauwolf Sensor Probe Projectile
  aurorastation.dme
  code/__defines/ship_weapons.dm
  code/modules/overmap/ship_weaponry/_ship_ammunition.dm
  code/modules/overmap/ship_weaponry/weaponry/grauwolf_probe.dm
  html/changelogs/fluffyghost-grauwolfprobe.yml
  icons/obj/guns/ship/grauwolfprobe.dmi
  icons/obj/guns/ship/overmap_projectiles.dmi
Labels: Awaiting Merge, Sprites

#16202 Timer use stack_trace
  code/controllers/subsystems/timer.dm
  html/changelogs/fluffyghost-timerstacktrace.yml
Labels: Awaiting Merge

#16193 Sensor relay station description change
  html/changelogs/dansemacabre-sensorstation.yml
  maps/away/away_site/sensor_relay/sensor_relay.dm
Labels: Awaiting Merge

#16196 by the ancestors, that lizard got drip
  code/modules/client/preference_setup/loadout/loadout_xeno/unathi.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/clothing/suits/xeno/unathi.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/RustingWithYou - lizarddrip.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#16209 Adds missing cameras to CIC, locker room, and holodecks.
  html/changelogs/DreamySkrell-cic-holo-locker-cameras-4t6342623.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix

#16047 Born in the Saddle
  aurorastation.dme
  code/modules/maps/planet_types/lore/srandmarr.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/vehicles/animal.dm
  code/modules/vehicles/vehicle.dm
  html/changelogs/alberyk-riding.yml
  icons/mob/npc/adhomai_48.dmi
  icons/mob/npc/adhomai_96.dmi
  icons/obj/saddle.dmi
  maps/random_ruins/exoplanets/adhomai/adhomai_sole_rock_nomad.dm
  maps/random_ruins/exoplanets/adhomai/adhomai_sole_rock_nomad.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_village.dmm
  maps/random_ruins/exoplanets/adhomai/ala_base.dmm
  maps/random_ruins/exoplanets/adhomai/nka_base.dmm
Labels: Awaiting Merge, Sprites

#16025 Adds Vaurca combitool augment
  code/modules/client/preference_setup/loadout/loadout_xeno/vaurca.dm
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/RustingWithYou - vhorthequeenz.yml
  icons/mob/items/lefthand_tools.dmi
  icons/mob/items/righthand_tools.dmi
  icons/obj/action_buttons/organs.dmi
  icons/obj/organs/augments.dmi
  icons/obj/tools.dmi
Labels: Awaiting Merge, Sprites

#16222 Put rock nomads where they belong
  html/changelogs/johnwildkins-fixruin.yml
  maps/random_ruins/exoplanets/adhomai/adhomai_sole_rock_nomad.dm
Labels: Awaiting Merge, Bugfix

#16203 Add DMM codecheck guard
  html/changelogs/fluffyghost-dmmcodecheckguard.yml
  scripts/code_check.sh
Labels: Awaiting Merge

#16207 Switched out the Operations EFTPOS device with an NT-Quikpay
  html/changelogs/FlamingLily-Quikpay.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16213 Minor OM office maptweak.
  html/changelogs/DreamySkrell-om-office-aaaaaaaaaaaaaaaa.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16217 Speeds up init by ignoring contrib guidelines
  code/_helpers/global_lists.dm
  code/controllers/subsystems/air.dm
  code/controllers/subsystems/initialization/xenoarch.dm
  code/game/gamemodes/cult/hell_universe.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/gamemodes/events/holidays/easter.dm
  code/game/gamemodes/events/wormholes.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/turfs/space/space.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/lighting/lighting_verbs.dm
  code/modules/mining/mine_turfs.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/unit_tests/map_tests.dm
  html/changelogs/johnwildkins-inworld.yml
Labels: Awaiting Merge, Performance

#16220 Ghost roles listing in lobby tweak.
  code/controllers/subsystems/ticker.dm
  html/changelogs/DreamySkrell-roles-start-ahhhhh.yml
Labels: Awaiting Merge

#16219 Place Grauwolf Sensor Probe on Map
  html/changelogs/fluffyghost-givegrauwolfprobes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16230 Removes a bad apostrophe from kitten plushies
  code/game/objects/items/toys.dm
  html/changelogs/sniblet-it_is.yml
Labels: Awaiting Merge

#16229 Added a new double-breasted Konyanger jacket (custom item niennab)
  code/modules/client/preference_setup/loadout/loadout_suit.dm
  code/modules/clothing/factions/konyang.dm
  code/modules/clothing/suits/storage.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/GeneralCamo - Konyanger Jacket.yml
  icons/clothing/suits/konyang_double_breasted_jacket.dmi
  icons/obj/custom_items/provenance_jacket.dmi
Labels: Awaiting Merge, Sprites

#16223 Adds Diulszi as an option to the Nralakk projector
  code/game/objects/items/skrell.dm
  html/changelogs/meep109_diulsziprojector.yml
Labels: Awaiting Merge

#16250 Adds 2 New Eyebrows to Body Markings
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/eyebrows.yml
  icons/mob/human_races/markings.dmi
Labels: Review Required, Sprites, Waiting Period

#16257 Returns stabilizer harnesses to their former glory
  code/game/objects/items/devices/auto_cpr.dm
  html/changelogs/sheeplets.yml
Labels: Awaiting Merge, Bugfix

#16215 Engineering Map Fixes
  html/changelogs/Huntime-EngineeringBugFixes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge

#16208 Some Alien-specific Suit Sprites
  code/_helpers/global_lists.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  code/modules/research/xenoarchaeology/tools/anomaly_suit.dm
  html/changelogs/geeves-alien_suits.yml
  icons/obj/item/clothing/head/hazmat.dmi
  icons/obj/item/clothing/softsuits/softsuit.dmi
  icons/obj/item/clothing/softsuits/softsuit_emergency.dmi
  icons/obj/item/clothing/suit/hazmat.dmi
Labels: Awaiting Merge, Sprites

#16255 Updates Akinyi's custom item
  code/modules/customitems/item_defines.dm
  html/changelogs/kyres1-akinyi_item_update.yml
  icons/obj/custom_items/akinyi_symphette.dmi
Labels: Awaiting Merge, Sprites

#16258 Some exoplanet tweaks and a ship fix
  code/modules/maps/planet_types/lore/srandmarr.dm
  code/modules/overmap/exoplanets/biomes/barren.dm
  code/modules/overmap/exoplanets/biomes/lava.dm
  html/changelogs/alberyk-planetfixes.yml
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dm
Labels: Awaiting Merge

#16225 Wristbound alarm monitor fix
  html/changelogs/william murdoch-wristbound fix.yml
  icons/obj/modular_wristbound.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#16256 Adds a hat to Bridge Crew Locker
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  html/changelogs/N8-Toe - BCHatHours.yml
Labels: Awaiting Merge

#16254 Fixes a couple minor typos in the Vaurca accent descriptions
  code/modules/background/accent/vaurca.dm
  html/changelogs/Vaurcatypofix_meep109.yml
Labels: Awaiting Merge, Bugfix

#16221 Exoplanet Footprints
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/concrete.dm
  code/modules/overmap/exoplanets/decor/turfs/crystal.dm
  code/modules/overmap/exoplanets/decor/turfs/grass.dm
  code/modules/overmap/exoplanets/decor/turfs/ice.dm
  code/modules/overmap/exoplanets/decor/turfs/water.dm
  html/changelogs/geeves-footprints.yml
Labels: Awaiting Merge

#16241 Queendom Stuff
  aurorastation.dme
  code/modules/background/accent/unathi.dm
  code/modules/background/defines.dm
  code/modules/background/origins/origins/unathi/queendom.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/geeves-queenies.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#15874 The Circus is Here
  aurorastation.dme
  code/game/objects/items/spirit_board.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/sound.dm
  code/modules/customitems/item_defines.dm
  code/modules/mob/mob_helpers.dm
  code/modules/tables/rack.dm
  code/modules/vehicles/unicycle.dm
  html/changelogs/alberyk-circus.yml
  icons/clothing/accessories/BZ_Gorget.dmi
  icons/obj/custom_items/klavdiya_amulet.dmi
  icons/obj/tables.dmi
  icons/obj/toy.dmi
  icons/obj/vehicles.dmi
  maps/away/ships/tajara/circus/adhomian_circus.dm
  maps/away/ships/tajara/circus/adhomian_circus.dmm
  maps/away/ships/tajara/circus/adhomian_circus_areas.dm
  maps/away/ships/tajara/circus/adhomian_circus_items.dm
  maps/away/ships/tajara/circus/adhomian_circus_roles.dm
  maps/away/ships/tajara/circus/circus_sprites.dmi
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dm
  sound/effects/clownstep1.ogg
  sound/effects/clownstep2.ogg
Labels: Awaiting Merge, Sprites

#16249 Clickable Storage Backgrounds
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/storage.dm
  html/changelogs/geeves-clickable_storage_backgrounds.yml
Labels: Awaiting Merge
