Repository Aurorastation/Aurora.3, pull requests merged in 2024-01, with the labels that each got.

#18031 Overmap Edge Fix
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/geeves-overmap_edge_fix.yml
Labels: Awaiting Merge, Bugfix

#18093 I'm so hungry
  code/game/objects/items/weapons/material/kitchen.dm
  html/changelogs/ramke - utensil buff.yml
Labels: Awaiting Merge

#18122 Fuel rod quantum physics nerf
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  html/changelogs/Ramke - fuel injector fix.yml
Labels: Awaiting Merge, Bugfix

#18103 Update github labeler
  .github/labeler.yml
Labels: Changelog Required, Waiting Period, Tools

#18090 Minor Tweaks to KASF Corvette
  html/changelogs/ShakyJake - kasf_corvette_tweaks.yml
  maps/away/ships/konyang/kasf_ship/kasf_ship.dm
  maps/away/ships/konyang/kasf_ship/kasf_ship.dmm
Labels: Review Required, 🗺️ Mapping - Away Ship/Away Site

#18123 Fixes VV editing being wonky.
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  html/changelogs/mattatlas-vvfix.yml
Labels: Review Required, Bugfix

#18121 Fixes the Send Admin Fax verb.
  code/game/machinery/machinery.dm
  code/game/machinery/requests_console.dm
  code/modules/cciaa/cciaa.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/paperwork/paper.dm
  code/modules/paperwork/photocopier.dm
  html/changelogs/mattatlas-faxfix.yml
Labels: Review Required, Bugfix

#18107 Fixes gadpathurian ship access issues + general tweaks
  html/changelogs/meep109_gaddieshipfixes.yml
  maps/away/ships/coc/gadpathur_patrol/gadpathur_patrol.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18038 TGUI Nav Console
  code/modules/overmap/ships/computers/helm.dm
  html/changelogs/geeves-ship_sensor_view_fix.yml
  html/changelogs/geeves-tgui_nav_console.yml
  nano/templates/nav.tmpl
  tgui/packages/tgui/interfaces/Nav.tsx
  tgui/packages/tgui/layouts/NtosWindow.js
Labels: Awaiting Merge, Javascript, TGUI

#18104 Ghost Spawner Manifest - follow mob button
  code/controllers/subsystems/ghostroles.dm
  html/changelogs/DreamySkrell-ghostspawner-manifest-follow-mob.yml
  tgui/packages/tgui/interfaces/GhostSpawner.tsx
Labels: Awaiting Merge, TGUI

#18095 Updates Loadout Backend
  .editorconfig
  .github/workflows/byond.yml
  SQL/migrate-2023/V006__loadout_overhaul.sql
  code/__defines/misc.dm
  code/controllers/configuration.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preference_setup/general/07_psionics.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/client/preference_setup/other/01_incidents.dm
  code/modules/client/preference_setup/preference_setup.dm
  code/modules/client/preferences.dm
  html/changelogs/arrow768-loadout-update.yml
Labels: Review Required, Test Merge Candidate, Database, Tools

#18132 Fixes wiring and access issues in the orion ship
  html/changelogs/meep109_orionshipfix.yml
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18129 ATM charge card fix
  html/changelogs/SimpleMaroon-chargecardfix.yml
  tgui/packages/tgui/interfaces/ATM.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#18131 Cyclops Ship - More Fixes
  html/changelogs/RustingWithYou - cyclops.yml
  maps/away/ships/heph/cyclops/cyclops.dmm
  maps/away/ships/heph/cyclops/cyclops_mining_areas.dm
  maps/away/ships/heph/cyclops/cyclops_mining_ship.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18119 More hammers in YouTool vendors
  code/game/machinery/vending_types.dm
  html/changelogs/ramke - hammertime.yml
Labels: Awaiting Merge

#18118 Geiger counters can now be stored in toolbelts
  code/game/objects/items/weapons/storage/belt.dm
  html/changelogs/ramke - geigerbelt.yml
Labels: Awaiting Merge

#18124 Konyang pirate guns can now be spawned by civilian gun spawners
  code/game/objects/random/weapon.dm
  html/changelogs/dansemacabre-civilianguns.yml
Labels: Review Required, Waiting Period

#18110 Tweaks to Konyang Army Telecommunications Outpost
  html/changelogs/ShakyJake - konyang_telecomm_outpost_tweaks.yml
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dmm
Labels: Review Required, 🗺️ Mapping - Random Ruins

#18111 Some Ruin Stuff [MDB IGNORE]
  aurorastation.dme
  code/datums/ruins.dm
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/maps/ruins.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/barren.dm
  code/modules/overmap/exoplanets/decor/turfs/konyang.dm
  html/changelogs/ShakyJake - shaky_konyang_ruins.yml
  icons/obj/machinery/stargazer.dmi
  maps/_common/mapsystem/map.dm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dmm
Labels: Review Required, Sprites, 🗺️ Mapping - Random Ruins

#18142 Fixes audible emotes having weird colour sometimes.
  code/modules/mob/language/generic.dm
  html/changelogs/mattatlas-goodgood.yml
Labels: Awaiting Merge, Bugfix

#18120 Random spawn mobs now have random cultures, hair, and skin tone.
  code/_helpers/mobs.dm
  code/datums/mind.dm
  code/game/dna/dna2.dm
  code/game/objects/effects/portals.dm
  code/modules/background/origins/_origins.dm
  code/modules/client/preferences.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/slime/items.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/mattatlas-admingoodies.yml
Labels: Review Required

#18113 Allows Dionae to take Unathi religious texts
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  html/changelogs/SimpleMaroon-thakhdionagaming.yml
Labels: Awaiting Merge, ⛔ Lore Discussion

#18130 Away Site Sector Blacklists
  html/changelogs/RustingWithYou - konyangawaysites.yml
  maps/away/away_site/abandoned_industrial/abandoned_industrial_station.dm
  maps/away/away_site/abandoned_mining/cursed.dm
  maps/away/away_site/big_derelict/bigderelict.dm
  maps/away/away_site/blueriver/blueriver.dm
  maps/away/away_site/shady/shady.dm
  maps/away/away_site/wrecked_nt_ship/wrecked_nt_ship.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18151 sol ipc fatigues fix
  code/modules/clothing/under/jobs/sol.dm
  html/changelogs/RustingWithYou - iconfix.yml
Labels: Awaiting Merge, Bugfix

#18127 Fixes the crimson jumpsuit's sprites not displaying
  code/modules/clothing/under/syndicate.dm
  html/changelogs/Tag114-cjsuitbugfix.yml
Labels: Awaiting Merge, Bugfix

#18136 SCCV Horizon Kitchen QoL Tweak
  html/changelogs/ShakyJake - kitchen_disposal_bin.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Review Required, Waiting Period, 🗺️ Mapping - Horizon

#18137 Rock walls to use 3/4 sprites
  code/modules/mining/mine_turfs.dm
  html/changelogs/DreamySkrell-asteroid-walls-3-4.yml
  icons/turf/smooth/rock_dense.dmi
Labels: Review Required, Sprites, Waiting Period

#18138 Lore Planet Plant Fix
  code/modules/overmap/exoplanets/exoplanet_flora.dm
  html/changelogs/RustingWithYou - loreplants.yml
Labels: Awaiting Merge, Bugfix

#18139 Traditionalist Coalition Flag
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/RustingWithYou - trad.yml
  icons/obj/structure/flags.dmi
Labels: Review Required, Sprites, Waiting Period

#18108 Unathi HoS Voidsuit Resprite
  html/changelogs/geeves-sssssssssssprite.yml
  icons/mob/species/unathi/helmet.dmi
  icons/obj/clothing/species/unathi/hats.dmi
Labels: Awaiting Merge, Sprites

#17252 Adds an Eridanian Tradeband auxiliary language processor for Vaurcae
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/SimpleMaroon-esteemedcolleaguebugs.yml
Labels: Awaiting Merge, ⛔ Lore Discussion

#17898 Readds suit sensors to all uniform items.
  code/modules/clothing/clothing.dm
  code/modules/clothing/sets/captain.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/syndicate.dm
  html/changelogs/mattatlas-suitsensors.yml
Labels: Awaiting Merge, ⛔ Maintainer Discussion

#17829 Shuttle console shows scan of area around navpoint
  code/__defines/minimap.dm
  code/controllers/subsystems/initialization/holomap.dm
  code/modules/overmap/ships/computers/shuttle.dm
  html/changelogs/DreamySkrell-minimap-scan.yml
  tgui/packages/tgui/interfaces/ShuttleControlConsoleMultiExplore.tsx
Labels: Awaiting Merge, TGUI

#18082 Accessory Loadout Options
  aurorastation.dme
  code/__defines/_macros.dm
  code/__defines/misc.dm
  code/_helpers/logging/loadout.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/job.dm
  code/modules/client/preference_setup/loadout/gear_tweaks.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  config/example/logging.json
  config/example/logging_files.json
  html/changelogs/geeves-loadout_accessorizing.yml
Labels: Awaiting Merge

#18134 Operations stairs-lift swap
  html/changelogs/DreamySkrell-ops-stairs-lift-swap.yml
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18155 Fixes the server runtiming out the ass when picking flora types.
  code/modules/overmap/exoplanets/exoplanet_flora.dm
  html/changelogs/mattatlas-notalazylist.yml
Labels: Awaiting Merge, High Priority, Bugfix

#18100 Death Stats Fix
  SQL/migrate-2023/V007__death_table_fix.sql
  code/controllers/subsystems/statistics.dm
  html/changelogs/arrow768-death-stats-fix.yml
Labels: Awaiting Merge, Bugfix, Database

#18101 Connection Logging Overhaul
  SQL/migrate-2023/V008__rework_connection_logging.sql
  code/modules/admin/DB ban/ban_mirroring.dm
  code/modules/admin/IsBanned.dm
  code/modules/client/client procs.dm
  code/modules/mob/abstract/unauthed/login.dm
  html/changelogs/arrow768-connection-logging-overhaul.yml
Labels: Awaiting Merge, 🚫 Do Not Merge, Database

#18009 Space Fauna Lethality Tweak
  code/modules/mob/living/simple_animal/hostile/space_fauna.dm
  html/changelogs/geeves-space_fauna_lethality.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18105 Adds SShttp
  aurorastation.dme
  code/__HELPERS/logging/debug.dm
  code/__HELPERS/logging/subsystems/http.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/discord.dm
  code/controllers/subsystems/http.dm
  code/controllers/subsystems/initialization/misc_early.dm
  code/datums/discord/webhook.dm
  code/game/gamemodes/game_mode.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/pray.dm
  code/modules/client/preferences_notification.dm
  code/modules/http/http.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/logout.dm
  config/example/logging.json
  config/example/logging_files.json
  html/changelogs/arrow768.yml
Labels: Awaiting Merge

#18156 Fixed a rogue square bracket and a BPM repetition in the health analyzer scan results.
  code/game/objects/items/devices/scanners.dm
  html/changelogs/mattatlas-healthanalyzerfix.yml
Labels: Awaiting Merge, Bugfix

#18157 Fixes broken bone surgery not requiring broken bones.
  code/modules/surgery/bones.dm
  html/changelogs/mattatlas-bonesurgeryfix.yml
Labels: Awaiting Merge, Bugfix

#18081 Allows the toy guns that spawn in the warehouse to also spawn as real guns
  code/modules/cargo/random_stock/t3_rare.dm
  html/changelogs/warehousepistols.yml
Labels: Awaiting Merge

#18170 Fixes the dpra brooch, some pistols and a trader item
  code/datums/trading/weaponry.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/alberyk-iconfgixes.yml
  icons/obj/guns/dominia_pistol.dmi
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#17863 Updated embedded spacemandmm dreamchecker to 1.8
  html/changelogs/fluffyghost-updatespacemandmmtools.yml
  tools/dreamchecker/dreamchecker.exe
Labels: Awaiting Merge, Tools

#18164 Fixes blind or unconscious mobs being able to examine.
  code/modules/mob/examinations.dm
  html/changelogs/mattatlas-examinefix.yml
Labels: Awaiting Merge, Bugfix

#18145 Adds Konyanger tea leaves, teapots, and tea cups.
  aurorastation.dme
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  code/modules/cooking/trays.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed_datums/herbs.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/newdrinkingglas.dm
  code/modules/reagents/reagent_containers/teapot.dm
  html/changelogs/mattatlas-teaware.yml
  icons/obj/item/reagent_containers/teaware.dmi
  icons/obj/kitchen.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#18148 Abandoned Prison Ruin
  aurorastation.dme
  html/changelogs/RustingWithYou - abandonedprison.yml
  maps/random_ruins/exoplanets/asteroid/abandoned_prison/abandoned_prison.dm
  maps/random_ruins/exoplanets/asteroid/abandoned_prison/abandoned_prison.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#18174 Goon base, less rads
  html/changelogs/DreamySkrell-goon-base-no-rads.yml
  maps/away/away_site/goon_base/goon_base.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18181 Fix Death Tracking again
  SQL/migrate-2023/V009__fix_death_saving_again.sql
  code/controllers/subsystems/statistics.dm
  html/changelogs/arrow768-fix-death-again.yml
Labels: Awaiting Merge, High Priority, Bugfix, Database

#18149 Intrepid moved one tile south, tiny expedition prep in front of it
  html/changelogs/example copy.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18175 Fix for simulated rock walls not having a color set
  code/modules/mining/mine_turfs.dm
  html/changelogs/DreamySkrell--rock-wall-color.yml
Labels: Awaiting Merge, Bugfix

#18178 Allows Vaurca Breeders to use the Tradeband language processor
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/SimpleMaroon-tradebandforta.yml
Labels: Awaiting Merge, Bugfix

#18091 Keep Our Light Of Liberty Shining - The TCAF Corvette
  aurorastation.dme
  code/__DEFINES/access.dm
  code/datums/uplink/gear loadout.dm
  code/game/machinery/deployable.dm
  code/game/objects/items/devices/magnetic_lock.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/projectiles/guns/energy/blaster.dm
  html/changelogs/RustingWithYou - dieforphoron.yml
  icons/obj/guns/blaster_ar.dmi
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_areas.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_ghostroles.dm
  maps/away/ships/biesel/tcfl_patrol/tcfl_peacekeeper_ship.dm
  maps/away/ships/biesel/tcfl_patrol/tcfl_peacekeeper_ship.dmm
  maps/away/ships/biesel/tcfl_patrol/tcfl_peacekeeper_ship_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18135 OX delivery point ruin updated and fixed
  code/modules/maps/planet_types/asteroid.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/concrete.dm
  html/changelogs/DreamySkrell-ox-delivery-point-ruin-updated.yml
  maps/random_ruins/exoplanets/delivery/delivery_site.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#18185 Fixes freighter airlocks
  html/changelogs/meep109_fixfreighter.yml
  maps/away/ships/tramp_freighter/tramp_freighter.dm
  maps/away/ships/tramp_freighter/tramp_freighter.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#16460 Overmap Announcements Overhaul
  code/defines/procs/announce.dm
  code/modules/economy/Events.dm
  code/modules/events/apc_damage.dm
  code/modules/events/blob.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/camera_damage.dm
  code/modules/events/carp_migration.dm
  code/modules/events/ccia_general_notice.dm
  code/modules/events/communications_blackout.dm
  code/modules/events/electrical_storm.dm
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  code/modules/events/false_alarm.dm
  code/modules/events/gravity.dm
  code/modules/events/grid_check.dm
  code/modules/events/infestation.dm
  code/modules/events/ion_storm.dm
  code/modules/events/maint_drones.dm
  code/modules/events/meteors.dm
  code/modules/events/money_hacker.dm
  code/modules/events/money_lotto.dm
  code/modules/events/prison_break.dm
  code/modules/events/random_antagonist.dm
  code/modules/events/rescue_pod.dm
  code/modules/events/rogue_drones.dm
  code/modules/events/spacevine.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/spontaneous_appendicitis.dm
  code/modules/events/supply_drop.dm
  code/modules/events/visitor.dm
  code/modules/events/wallrot.dm
  code/modules/overmap/events/event.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/psionics/events/_psi.dm
  code/modules/psionics/events/mini_spasm.dm
  html/changelogs/geeves-overmap_announcement.yml
Labels: Awaiting Merge, Test Merge Candidate

#18128 Courier’s Konyang Ruins
  aurorastation.dme
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/projectiles/ammunition/bullets.dm
  html/changelogs/ShakyJake - cb_konyang_ruins.yml
  maps/random_ruins/exoplanets/konyang/fireoutpost.dm
  maps/random_ruins/exoplanets/konyang/fireoutpost.dmm
  maps/random_ruins/exoplanets/konyang/homestead.dm
  maps/random_ruins/exoplanets/konyang/homestead.dmm
  maps/random_ruins/exoplanets/konyang/swamp_1.dm
  maps/random_ruins/exoplanets/konyang/swamp_1.dmm
  maps/random_ruins/exoplanets/konyang/swamp_2.dm
  maps/random_ruins/exoplanets/konyang/swamp_2.dmm
  maps/random_ruins/exoplanets/konyang/swamp_3.dm
  maps/random_ruins/exoplanets/konyang/swamp_3.dmm
  maps/random_ruins/exoplanets/konyang/swamp_4.dm
  maps/random_ruins/exoplanets/konyang/swamp_4.dmm
  maps/random_ruins/exoplanets/konyang/tribute.dm
  maps/random_ruins/exoplanets/konyang/tribute.dmm
  maps/random_ruins/exoplanets/konyang/village.dmm
Labels: 🗺️ Mapping - Random Ruins

#18140 New foods and drinks, tweaks/updates to old food.
  code/game/objects/items/trash.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/cultural/recipes_vaurca.dm
  code/modules/cooking/recipes/recipes_meat.dm
  code/modules/cooking/recipes/recipes_pastries.dm
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks/breads.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/vaurca.dm
  code/modules/reagents/reagent_containers/food/snacks/noodles.dm
  code/modules/reagents/reagent_containers/food/snacks/pastries.dm
  html/changelogs/Tomixcomics-Foodtweaksandmilksahkes.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/cultural/human.dmi
  icons/obj/item/reagent_containers/food/cultural/vaurca.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#18165 Adds Bull Terrier
  code/game/objects/structures/crates_lockers/largecrate.dm
  code/modules/cargo/random_stock/large.dm
  code/modules/mob/living/simple_animal/hostile/commanded/guard_dog.dm
  html/changelogs/wezzy_the_walter_update.yml
  icons/mob/npc/pets.dmi
Labels: Awaiting Merge, Sprites

#18166 Updated CI to use byond 515.1623
  .tgs.yml
  dependencies.sh
  html/changelogs/fluffyghost-ci1623.yml
Labels: Awaiting Merge

#18177 Atmospherics Clothing Locker Contents Tweak
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  html/changelogs/kermit-atmoshighvis.yml
Labels: Awaiting Merge

#18152 Uplink Additions: The Hitman DLC
  code/datums/uplink/ammunition.dm
  code/datums/uplink/highly visible and dangerous weapons.dm
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/dansemacabre-sneakybusiness.yml
  icons/obj/guns/assassin_smg.dmi
  icons/obj/guns/cameragun.dmi
Labels: Awaiting Merge, Sprites

#18141 I've covered wars, you know - Finishes and adds the TV camera drone
  aurorastation.dme
  code/__DEFINES/machinery.dm
  code/game/jobs/job/civilian.dm
  code/game/machinery/camera/presets.dm
  code/game/objects/items/devices/tvcamera.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/modules/modular_computers/file_system/programs/security/camera.dm
  html/changelogs/SimpleMaroon-cameradrone.yml
  icons/mob/belt.dmi
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/righthand_device.dmi
  icons/obj/device.dmi
  maps/sccv_horizon/code/sccv_horizon.dm
  tgui/packages/tgui/interfaces/CameraMonitoring.tsx
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon, TGUI

#17959 Bomb (and traps) detector
  aurorastation.dme
  code/game/objects/items/devices/minedetector.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  html/changelogs/fluffyghost-minedetector.yml
  sound/attributions.txt
  sound/items/devices/minedetector/minedetector_close.ogg
  sound/items/devices/minedetector/minedetector_far.ogg
  sound/items/devices/minedetector/minedetector_medium.ogg
Labels: Awaiting Merge, Sounds

#18133 The Idris Cruiser
  aurorastation.dme
  code/__DEFINES/access.dm
  code/__DEFINES/space_sectors.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  html/changelogs/nauticall-idris_ship.yml
  maps/away/away_site/idris_wreck/idris_wreck.dm
  maps/away/ships/idris/idris_cruiser.dm
  maps/away/ships/idris/idris_cruiser.dmm
  maps/away/ships/idris/idris_cruiser_areas.dm
  maps/away/ships/idris/idris_cruiser_ghostroles.dm
  maps/away/ships/idris/idris_cruiser_landmarks.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18196 Invisible Vines Fix
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/spreading/spreading.dm
  html/changelogs/RustingWithYou - visiblevines.yml
Labels: Awaiting Merge, Bugfix

#18195 Fixes window panes, suppressors, exoplanet runtimes.
  code/__DEFINES/flags.dm
  code/_onclick/adjacent.dm
  code/modules/multiz/structures.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_flora.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/mattatlas-fixespt1.yml
Labels: Awaiting Merge, Bugfix

#18198 Adds more Port Antillian paraphernalia
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/reagents/reagent_containers/glass/coffeecup.dm
  html/changelogs/SimpleMaroon-vivapuertoantillia.yml
  icons/clothing/kit/modular_armor_accessories.dmi
  icons/obj/drink_glasses/coffecup.dmi
Labels: Awaiting Merge, Sprites

#18203 Tweaks a couple hairstyles to remove an eye-clipping pixel
  html/changelogs/omi-thepixelhunter.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#18200 Adds follow button to hivenet broadcasts, fixes follow button falling off observer manifest
  code/controllers/subsystems/records.dm
  code/modules/mob/language/station.dm
  html/changelogs/AlaunusLux-ghost-follow-button-fixes.yml
Labels: Awaiting Merge, Bugfix

#18199 Konyang: Welcome Voiceover & Cargo Prices
  code/modules/background/space_sectors/coalition.dm
  html/changelogs/RustingWithYou - welcome.yml
  sound/AI/welcome_konyang.ogg
Labels: Awaiting Merge, Sounds

#18205 More Scarab Salvager ship bugfixes and QoL improvements
  html/changelogs/hazelmouse - scarab-salvager-tweaks.yml
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab_areas.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18217 Stops the INDRA from exploding on click as stationbound
  code/modules/power/fusion/core/_core.dm
  html/changelogs/nauticall-indrahotfix.yml
Labels: Awaiting Merge, Bugfix

#18098 Slight Access Tweaks for Bridge Crew and Atmos Tech
  code/game/jobs/job/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  html/changelogs/furrycactus - slight access expansion.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18194 Konyang: Just The Burgers
  code/modules/clothing/head/misc.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/RustingWithYou - burg.yml
  icons/clothing/under/uniforms/konyang_uniforms.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18201 Fixes napalm grenades failing to detonate if still held after their timer expires, fixes description of Napalm in uplink, and reduces cost by three
  code/datums/uplink/grenades.dm
  code/game/objects/items/weapons/grenades/napalm_grenade.dm
  html/changelogs/AlaunusLux-napalm-held-detonation-fix.yml
Labels: Awaiting Merge

#18221 Bugfix pack #1.
  code/__DEFINES/flags.dm
  code/game/objects/effects/overlays.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/turfs/simulated.dm
  code/game/turfs/simulated/floor.dm
  code/game/turfs/turf.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/power/smes_construction.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/guns/bang/pistol.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/teapot.dm
  html/changelogs/mattatlas-bugfixes.yml
  icons/obj/guns/dominia_bolt_action.dmi
  icons/obj/guns/dominia_carbine.dmi
  icons/obj/guns/dominia_lmg.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18229 KRC & Pachrom Uniform Fix
  html/changelogs/RustingWithYou - clothingfix.yml
  icons/clothing/under/uniforms/konyang_uniforms.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18218 Fixes the PMCG pharmacist uniform using the same sprites as the EPMC pharmacist uniform
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/Tag114-pmcgchemist.yml
Labels: Awaiting Merge, Bugfix

#18216 Removes the Penal Mech Program as a default program
  code/modules/modular_computers/file_system/programs/app_presets_.dm
  code/modules/modular_computers/file_system/programs/app_presets_crew.dm
  html/changelogs/CampinKiller24-presets.yml
Labels: Awaiting Merge

#18143 Adds a House Volvalaad Science Vessel
  aurorastation.dme
  code/__DEFINES/access.dm
  html/changelogs/CampinKiller24-vlaady.yml
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dm
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dmm
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel_areas.dm
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18247 Fixes ghostspawners on Volvalaad science ship checking for respawn timer
  html/changelogs/CampinKiller24-fixvladnow.yml
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18225 A few ruin bugfixes and tweaks
  html/changelogs/hazelmouse - stev-ruin-fixes.yml
  maps/random_ruins/exoplanets/asteroid/carp_nest/carp_nest.dmm
  maps/random_ruins/exoplanets/asteroid/mining_base/mining_base.dmm
  maps/random_ruins/exoplanets/asteroid/old_outpost/old_outpost.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#18208 Adds hailing to mining and xenoarchaeology headsets.
  code/game/jobs/job/science.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  html/changelogs/Snowy1237-MiningHailingChannel.yml
Labels: Awaiting Merge

#18230 Unified Sadar Fleet Ship - Description Tweak
  html/changelogs/ShakyJake - sadar_desc_tweak.yml
  maps/away/ships/sadar_scout/sadar_scout.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18223 Moves binoculars from the security checkpoint to the HoS locker
  html/changelogs/CampinKiller24-bino.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18224 Small telecommunications layout tweak, and fixed camera blindspots in the bridge and telecomms
  html/changelogs/hazelmouse - tcomms-plus-cameras-tweaks.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18212 Targeting console shows scan of target
  code/modules/overmap/ship_weaponry/_targeting_console.dm
  html/changelogs/DreamySkrell-target-console-scan.yml
  tgui/packages/tgui/interfaces/Gunnery.tsx
  tgui/packages/tgui/interfaces/ShuttleControlConsoleMultiExplore.tsx
  tgui/packages/tgui/interfaces/common/MinimapView.tsx
Labels: Awaiting Merge, TGUI

#18222 Various pAI Fixes
  aurorastation.dme
  code/controllers/subsystems/pai.dm
  code/game/objects/items/devices/paicard.dm
  code/modules/mob/living/silicon/computer.dm
  code/modules/mob/living/silicon/pai/admin.dm
  code/modules/mob/living/silicon/pai/logout.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/silicon/silicon_procs.dm
  code/modules/modular_computers/computers/modular_computer/ui.dm
  code/modules/modular_computers/file_system/programs/system/ntdownloader.dm
  code/modules/tgui/states/default.dm
  html/changelogs/AlaunusLux-pAI-fixes.yml
Labels: Awaiting Merge, Bugfix

#18210 Operations stairs-lift swap (revert)
  html/changelogs/DreamySkrell-warehouse-stairs-lift-swap-again.yml
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18234 Separates Sinta Tunic Shirt & Pants Colors
  code/datums/outfits/ert/kataphract.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/RustingWithYou - tuniccolor.yml
  icons/obj/unathi_items.dmi
  maps/away/away_site/unathi_pirate/izharshan/unathi_pirate_izharshan_ghostroles.dm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship_ghostroles.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship_ghostroles.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer_ghostroles.dm
  maps/away/ships/hegemony/hegemony_corvette/hegemony_ghostroles.dm
  maps/away/ships/hegemony/merchants_guild/merchant_freighter_ghostroles.dm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18263 Fixes Vaurca tunnel cloak pixel block
  code/game/objects/items/weapons/storage/backpack.dm
  html/changelogs/SimpleMaroon-vaurcacapefix.yml
  icons/mob/species/vaurca/back.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18235 Greimorian queen expansion
  aurorastation.dme
  code/__DEFINES/species_languages.dm
  code/game/objects/effects/spiders.dm
  code/modules/ghostroles/spawner/atom/greimorian_servant.dm
  code/modules/ghostroles/spawner/simplemob/spider_queen.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/dansemacabre-spiderqueen.yml
  icons/mob/npc/greimorian.dmi
  maps/away/away_site/shady/shady.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18214 Offship QOL changes and airlock fixes
  html/changelogs/RustingWithYou - offshippolishing.yml
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dm
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dmm
  maps/away/ships/golden_deep/golden_deep.dm
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dmm
  maps/away/ships/konyang/air_konyang/air_konyang.dm
  maps/away/ships/konyang/air_konyang/air_konyang.dmm
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dmm
  maps/away/ships/konyang/water_barge/water_barge.dm
  maps/away/ships/konyang/water_barge/water_barge.dmm
  maps/away/ships/tramp_freighter/tramp_freighter.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18233 Reverts/removes the forced sprint and resist keybindings on SPACE and SHIFT+R respectively
  code/modules/mob/living/living.dm
  html/changelogs/omi-forcedbindings.yml
  interface/skin.dmf
Labels: Review Required

#18258 Adds missing shuttle console to EE shuttle
  html/changelogs/RustingWithYou - eeshuttlefix.yml
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18271 Fixes kyushu and gaiwan lids.
  code/modules/reagents/reagent_containers/teapot.dm
  html/changelogs/mattatlas-gaiwanfix.yml
Labels: Awaiting Merge, Bugfix

#18276 A better greimorian fix.
  code/game/objects/effects/spiders.dm
  html/changelogs/Snowy1237-EmergencyGremFix.yml
Labels: Awaiting Merge, Bugfix

#18244 Updated spatial gridmap
  aurorastation.dme
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/dcs/signals/signals_spatial_grid.dm
  code/__DEFINES/lists.dm
  code/__DEFINES/spatial_gridmap.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/turfs.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/spatial_info.dm
  code/controllers/subsystems/spatial_gridmap.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/cult/structures/pylon.dm
  code/game/machinery/hologram.dm
  code/game/machinery/portable_turret.dm
  code/game/machinery/stargazer.dm
  code/game/objects/items/weapons/neutralizer.dm
  code/game/turfs/turf.dm
  code/modules/mob/death.dm
  code/modules/mob/living/carbon/brain/brain.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/psionics/abilities/grip.dm
  code/unit_tests/ss_test.dm
  html/changelogs/fluffyghost-updatespatialgrid.yml
Labels: Review Required, ⚠ High Risk, Test Merge Candidate

#18280 Fixes some mixed up airless/air floors on ruins
  html/changelogs/DreamySkrell-ruin-fixes-again-again-again.yml
  maps/random_ruins/exoplanets/asteroid/abandoned_prison/abandoned_prison.dmm
  maps/random_ruins/exoplanets/asteroid/crashed_pod/crashed_pod_unique.dmm
  maps/random_ruins/exoplanets/asteroid/mystery_ship/mystery_ship_unique.dmm
  maps/random_ruins/exoplanets/asteroid/old_outpost/old_outpost.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#18272 Fixes camera misalignment in bridge
  html/changelogs/hazelmouse - bugfix1.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18238 Izweski Hegemony Navy Uniform
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/RustingWithYou - izweskiuniform.yml
  icons/clothing/under/uniforms/izweski.dmi
  maps/away/ships/hegemony/hegemony_corvette/hegemony_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18241 Point Verdant ID Fixes & Shutter Tweaks
  html/changelogs/RustingWithYou - verdantaccess.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18255 Volvalaad science ship adjustments
  html/changelogs/CampinKiller24-vlaad2.yml
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dmm
Labels: Review Required, Waiting Period, 🗺️ Mapping - Away Ship/Away Site

#18242 Using Gustatorial Centre (Tongue) reads as "samples" instead of "licks"
  code/modules/organs/subtypes/augment.dm
  html/changelogs/sniblet-gustatorial-tongue.yml
Labels: Awaiting Merge

#18243 You can have a religion with Golden Deep origin
  code/modules/background/origins/origins/ipc/golden_deep.dm
  html/changelogs/sniblet-prosperity-gospel.yml
Labels: Awaiting Merge

#18246 Tweaks the names of the marksman rifle and mag.
  code/datums/uplink/ammunition.dm
  code/modules/projectiles/guns/projectile/sniper.dm
  html/changelogs/LynxSolstice-Adds-sniper-to-uplink.yml
Labels: Awaiting Merge

#18267 SCC Scout Ship fixes: bad access, missing gear
  html/changelogs/DreamySkrell-scc-scout-minor-fixes.yml
  maps/away/ships/scc/scc_scout_ship.dmm
  maps/away/ships/scc/scc_scout_ship_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18284 Fixes Dominian & Hammertail gear crates
  code/datums/uplink/gear loadout.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/void/merc.dm
  html/changelogs/RustingWithYou - cratefixes.yml
Labels: Awaiting Merge, Bugfix

#18251 Flashbang nerfs, grenade priming animation.
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/grenade.dm
  html/changelogs/mattatlas-flashbangnerfs.yml
Labels: Review Required, Balance

#18261 Makes Vaurcan Mantles easier to color; adds colorable accents to them
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/xeno/vaurca.dm
  html/changelogs/SimpleMaroon-vaurcanmantle.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#18293 Fixed a runtime with the remove_item_verbs proc
  code/game/objects/items.dm
  html/changelogs/fluffyghost-fixitemverbruntime.yml
Labels: High Priority, Bugfix

#18270 Autopsy Now Shows Hostile Mob Attacks
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/suethecake-patch-1.yml
Labels: Awaiting Merge

#18291 Fixes Missing Tarwa APC
  html/changelogs/RustingWithYou - tarwafix.yml
  maps/away/away_site/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18295 Updated english_list proc to not runtime when the input is null
  code/__HELPERS/lists.dm
  html/changelogs/fluffyghost-englishlist.yml
Labels: Awaiting Merge, Bugfix

#18296 Fixes Atmos Tech not having access to the Engineering ringer terminal.
  html/changelogs/furrycactus - engi ringer terminal.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18283 Investigator microscope now shows partial fingerprints
  code/__HELPERS/text.dm
  code/game/atoms.dm
  code/modules/detectivework/forensics.dm
  code/modules/detectivework/microscope/microscope.dm
  html/changelogs/fluffyghost-microscopepartialfingerprints.yml
Labels: Awaiting Merge

#18285 Sector-dependent spawn weight override for ships/sites/ruins
  code/controllers/subsystems/ticker.dm
  code/datums/ruins.dm
  html/changelogs/DreamySkrell-weight-sector-dependent.yml
  maps/away/ships/kataphracts/kataphract_ship.dm
Labels: Review Required, 🗺️ Mapping - Away Ship/Away Site

#18288 Dominian Consular Pistol
  code/modules/background/citizenship/human.dm
  html/changelogs/RustingWithYou - dompistol.yml
Labels: Awaiting Merge

#18300 Freebooter tweaks and fixes
  html/changelogs/hazelmouse - freebooter_tweaks.yml
  maps/away/ships/freebooter/freebooter_ship.dm
  maps/away/ships/freebooter/freebooter_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18302 Phalanx FR uniform sprite wrong dir fix
  html/changelogs/DreamySkrell-phalanx-fr-uniform-fix.yml
  icons/obj/item/clothing/department_uniforms/medical.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18282 Landmines activation now ensures the addition of fingerprints and fibers on them
  code/game/objects/items/weapons/landmines.dm
  html/changelogs/fluffyghost-minesfingerprintsfibers.yml
Labels: Awaiting Merge

#18279 Corporate Journalist changes
  code/__DEFINES/jobs.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/outsider/representative.dm
  code/game/jobs/jobs.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/greenjoe12345 - reporter.yml
  icons/obj/item/clothing/department_uniforms/service.dmi
Labels: Awaiting Merge, Sprites

#18220 Cooking Codex
  aurorastation.dme
  code/__DEFINES/subsystem-priority.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/logging/subsystems/codex.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/chemistry.dm
  code/controllers/subsystems/initialization/codex.dm
  code/modules/modular_computers/file_system/programs/app_presets_crew.dm
  code/modules/modular_computers/file_system/programs/civilian/cooking_codex.dm
  code/modules/modular_computers/file_system/programs/research/chemistry_codex.dm
  config/example/logging.json
  config/example/logging_files.json
  html/changelogs/DreamySkrell-cooking-codex.yml
  tgui/packages/tgui/interfaces/CookingCodex.tsx
  tgui/packages/tgui/layouts/NtosWindow.js
Labels: Review Required, Javascript, TGUI

#18290 Added a ruins UT
  .github/workflows/byond.yml
  aurorastation.dme
  code/datums/ruins.dm
  code/game/machinery/alarm.dm
  code/game/objects/items/weapons/mop.dm
  code/game/objects/structures/bonfire.dm
  code/game/turfs/simulated/floor_icon.dm
  code/modules/maps/map_template.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/unit_tests/ruins_tests.dm
  code/unit_tests/ss_test.dm
  code/unit_tests/unit_test.dm
  code/unit_tests/zas_tests.dm
  config/unit_test/ut_pods_configuration.json
  html/changelogs/fluffyghost-awaysitestest.yml
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dmm
  maps/random_ruins/exoplanets/raskara/pra_exploration_drone.dmm
  maps/random_ruins/exoplanets/raskara/raskara_okon.dmm
  maps/random_ruins/exoplanets/raskara/raskara_ritual.dmm
  maps/random_ruins/exoplanets/raskara/raskara_wreck.dmm
Labels: Awaiting Merge, Tools, 🗺️ Mapping - Random Ruins

#18307 Adds hailing to the AI shell
  code/modules/mob/living/silicon/ai/ai_remote_control.dm
  html/changelogs/Snowy1237-AIShellHailingFix.yml
Labels: Awaiting Merge, Bugfix

#18315 Galatean Uniform & Labcoats
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/client/preference_setup/loadout/items/uniform.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/miscellaneous.dm
  html/changelogs/RustingWithYou - stemlords.yml
  icons/clothing/suits/coats/galatea.dmi
  icons/clothing/under/uniforms/galatea.dmi
Labels: Awaiting Merge, Sprites
