Repository Aurorastation/Aurora.3, pull requests merged in 2024-04, with the labels that each got.

#18807 Tweaked reloading sounds
  code/modules/projectiles/guns/projectile.dm
  html/changelogs/fluffyghost-ammoreloadingsoundtweak.yml
Labels: Awaiting Merge

#18815 Fixes KASF IPC voidsuits using the wrong sprites
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/RustingWithYou - listsmydespised.yml
Labels: Awaiting Merge, Bugfix

#18808 Fix null client field value in examine
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, Bugfix

#18795 Reduced the volume of passing through a bush on Konyang
  code/modules/overmap/exoplanets/decor/flora/konyang.dm
  html/changelogs/fluffyghost-konyangbushesvolume.yml
Labels: Awaiting Merge

#18801 Large Tank Marker
  aurorastation.dme
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/effects/map_effects/marker/_defines.dm
  code/modules/effects/map_effects/marker/_marker.dm
  code/modules/effects/map_effects/marker/airlock_.dm
  code/modules/effects/map_effects/marker/airlock_docking.dm
  code/modules/effects/map_effects/marker/airlock_shuttle.dm
  code/modules/effects/map_effects/marker/large_tank.dm
  html/changelogs/DreamySkrell-large-tank-marker.yml
  icons/effects/map_effects.dmi
  maps/away/ships/scc/scc_scout_ship.dmm
  maps/away/ships/yacht_civ/yacht_civ.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18794 The stethoscope message, for the user, is now inside an examine block
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/fluffyghost-stethoscopeexamineblock.yml
Labels: Awaiting Merge

#18793 Gakal'zaal Lore Tweaks
  code/__DEFINES/space_sectors.dm
  code/modules/clothing/spacesuits/void/alien/tajara.dm
  code/modules/clothing/under/xenos/tajara.dm
  html/changelogs/RustingWithYou - goingloremode.yml
Labels: Awaiting Merge

#18776 Adds new Ve'katak Phalanx uniforms + Vaurca flagpatches
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/factions/pmcg.dm
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/SimpleMaroon-vekataksovl.yml
  icons/clothing/kit/modular_armor_accessories.dmi
  icons/clothing/under/uniforms/pmcg.dmi
  icons/obj/item/clothing/department_uniforms/medical.dmi
  icons/obj/item/clothing/department_uniforms/security.dmi
Labels: Awaiting Merge, Sprites

#18786 Reduced the emitter and sparks sound range
  code/modules/effects/sparks/spawner.dm
  code/modules/power/singularity/emitter.dm
  html/changelogs/fluffyghost-reduceemittersparkssoundrange.yml
Labels: Awaiting Merge

#18760 Reduced the range and marked as wall unpassable some additional trivial sounds
  code/game/machinery/newscaster.dm
  code/modules/clothing/clothing.dm
  code/modules/modular_computers/computers/modular_computer/core.dm
  html/changelogs/fluffyghost-additionalsoundstweaks.yml
Labels: Awaiting Merge

#18774 Highvis pants
  code/modules/client/preference_setup/loadout/items/uniform.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/under/pants.dm
  html/changelogs/DreamySkrell-highvis-pants.yml
  icons/clothing/kit/highvis.dmi
  icons/clothing/suits/highvis.dmi
Labels: Awaiting Merge, Sprites

#18747 Safety Goggles Sprite Tweak
  html/changelogs/SleepyGemmy-goggles.yml
  icons/mob/eyes.dmi
Labels: Awaiting Merge, Sprites

#18692 Unathi Guns & Armor
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/weapon.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/improvised.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  code/modules/projectiles/guns/projectile/rifle.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  code/modules/projectiles/projectile.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/RustingWithYou - reptileguns.yml
  icons/obj/ammo.dmi
  icons/obj/guns/unathi_ballistics.dmi
  icons/obj/unathi_items.dmi
  maps/away/ships/unathi_pirate/hiskyn/unathi_pirate_hiskyn.dmm
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan.dmm
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan_ghostroles.dm
  maps/away/ships/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18768 Mutable appearances plane
  code/defines/mutable_appearance.dm
  html/changelogs/FluffyGhost-mutable_appearances_plane.yml
Labels: Awaiting Merge

#18809 Holomenus Examinable from a Distance
  code/game/objects/items/holomenu.dm
  html/changelogs/SleepyGemmy-holomenu_reading.yml
Labels: Awaiting Merge

#18798 Skrell & IPC Corporate Voidsuits
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/ghostroles/spawner/human/responseteams/corporate/einstein.dm
  code/modules/ghostroles/spawner/human/responseteams/corporate/zenghu.dm
  html/changelogs/RustingWithYou - corpsuit.yml
  icons/obj/clothing/voidsuit/megacorp.dmi
Labels: Awaiting Merge, Sprites

#18823 Various bugfixes
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/ice.dm
  code/modules/overmap/ship_weaponry/weaponry/longbow_ammo.dm
  html/changelogs/RustingWithYou - miscfixes.yml
  icons/obj/clothing/voidsuit/mercenary.dmi
  maps/random_ruins/exoplanets/haneunim/haneunim_crash.dmm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Random Ruins

#18818 Reallocates the Phoron from the Intrepid
  html/changelogs/furrycactus - intrepid phoron.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18811 [Bugfix]: Fixes the improper icon states for turfs on the Odin/Antag bases
  html/changelogs/changelog.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18846 Fixes various issues with layers
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/vending.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/atmospherics/pipes.dm
  code/modules/power/lights/construction.dm
  code/modules/power/lights/fixtures.dm
  html/changelogs/Generalcamo - Layer Bugfixes.yml
Labels: Awaiting Merge, Bugfix

#18856 Fix CI
  code/modules/heavy_vehicle/mech_damage.dm
  code/modules/mob/living/carbon/human/human_damage.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/fluffyghost-fixci.yml
Labels: High Priority, Review Required, Bugfix

#18767 Adds Golden Deep loadout items.
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/clothing/factions/goldendeep.dm
  html/changelogs/noblerow-goldendeep.yml
  icons/clothing/accessories/thesian_webbing.dmi
  icons/clothing/backpacks/sacred_icon.dmi
  icons/clothing/head/chain_jewelry.dmi
  icons/clothing/head/cowl.dmi
  icons/clothing/head/cube_hood.dmi
  icons/clothing/head/furred_crown.dmi
  icons/clothing/suits/capes/desert_adornment.dmi
  icons/clothing/suits/capes/elegant_cloak.dmi
  icons/clothing/suits/capes/flowing_cloak.dmi
  icons/clothing/suits/capes/fur_wrap.dmi
  icons/clothing/suits/capes/golden_cape.dmi
  icons/clothing/suits/coats/eccentric_coat.dmi
  icons/clothing/under/shirts/armored_pullover.dmi
  icons/clothing/under/shirts/cloth_wrapped_uniform.dmi
  icons/clothing/under/shirts/fine_shirt.dmi
  icons/clothing/under/shirts/pactolus_raingarb.dmi
  icons/clothing/under/shirts/pompous_shirt.dmi
  icons/clothing/under/shirts/quilted_gambeson.dmi
  icons/clothing/under/shirts/valiant_tabbard.dmi
Labels: Awaiting Merge, Sprites

#18827 Added Galena and Bauxite to the map generation
  code/modules/mining/ore_datum.dm
  html/changelogs/GeneralCamo - Lead and Aluminium on map.yml
  icons/obj/mining.dmi
Labels: Awaiting Merge, Sprites

#18830 More bugfixes
  code/game/sound.dm
  code/modules/reagents/reagent_containers/food.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/fluffyghost-morebugfixes.yml
Labels: Awaiting Merge, Bugfix

#18831 Recharger backpacks improvements
  code/game/objects/items/recharger_backpack.dm
  code/modules/projectiles/guns/energy.dm
  html/changelogs/fluffyghost-rechargebackpackimprovements.yml
Labels: Awaiting Merge

#18752 Headmaster Remap
  html/changelogs/Lavillastrangiato - headmaster remap.yml
  maps/away/ships/pra/headmaster/headmaster_areas.dm
  maps/away/ships/pra/headmaster/headmaster_ship.dm
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18803 Konyang Guns & Armor
  code/datums/outfits/ert/coalition.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/armor.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/launcher/rocket.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  html/changelogs/RustingWithYou - konyangguns.yml
  icons/clothing/kit/modular_armor.dmi
  icons/obj/ammo.dmi
  icons/obj/guns/konyang_weapons.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/ships/konyang/kasf_ship/kasf_ship.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/abandoned_outpost.dm
  maps/random_ruins/exoplanets/konyang/abandoned/abandoned_outpost.dmm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#18810 Adds blastdoors to the Grauwolf
  html/changelogs/changelog.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18748 Buttons for switching hairstyles and beards
  code/modules/client/preference_setup/general/03_body.dm
  html/changelogs/sidveld-hairstyle-quick-switch.yml
Labels: Awaiting Merge

#18773 Tweaked the sounds to dampen the volume
  code/game/sound.dm
  html/changelogs/fluffyghost-tweaksounddampening.yml
Labels: Awaiting Merge, Test Merge Candidate

#18806 Reduced simple animal emote sounds to short range
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/fluffyghost-simpleanimaltweaksound.yml
Labels: Awaiting Merge

#18781 Fixed machine processing for ores going in the negatives for alloying
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/mining/machine_processing.dm
  html/changelogs/fluffyghost-fixmachineprocessing.yml
Labels: Awaiting Merge, Bugfix

#18766 Optimized some procs
  code/__HELPERS/text.dm
  code/modules/mob/mob_helpers.dm
  html/changelogs/fluffyghost-someprocoptimizations.yml
Labels: Awaiting Merge, Refactor, Performance

#18800 New baseline IPC sprites and different IPC heads.
  aurorastation.dme
  code/__DEFINES/mobs.dm
  code/__DEFINES/prefs.dm
  code/__HELPERS/mobs.dm
  code/modules/client/preference_setup/_defines.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/mattatlas-baselinerework.yml
  icons/mob/human_face/ipc_screens.dmi
  icons/mob/human_races/ipc/hoplan.dmi
  icons/mob/human_races/ipc/indricus.dmi
  icons/mob/human_races/ipc/r_machine.dmi
  icons/mob/human_races/ipc/raxus.dmi
  icons/mob/human_races/markings_baseline.dmi
Labels: Awaiting Merge, Sprites

#18822 Makes Barren Exoplanets Airless
  code/modules/maps/planet_types/barren.dm
  html/changelogs/RustingWithYou - barren.yml
Labels: Awaiting Merge

#18838 More Bugfixes
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/exoplanet_flora.dm
  code/modules/overmap/exoplanets/themes/barren.dm
  code/modules/overmap/exoplanets/themes/crystal.dm
  code/modules/overmap/exoplanets/themes/desert.dm
  code/modules/overmap/exoplanets/themes/grass.dm
  code/modules/overmap/exoplanets/themes/jungle.dm
  code/modules/overmap/exoplanets/themes/lava.dm
  code/modules/overmap/exoplanets/themes/snow.dm
  html/changelogs/RustingWithYou - morefixes.yml
  icons/obj/guns/unathi_ballistics.dmi
  maps/random_ruins/exoplanets/delivery/delivery_site.dmm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Random Ruins

#18799 Random Contraband and Cargo Lists Tweaks
  code/game/objects/random/loot.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  html/changelogs/changelog.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18824 Adds Golden Deep Flag and Banner
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/Ben10083 - GDflag.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#18848 Fix messages not being bolded for nearby ghosts if the speaker is inside a location (held pAIs, inside exosuits, etc)
  code/modules/mob/hear_say.dm
  html/changelogs/AlaunusLuxGhostEarsFix.yml
Labels: Awaiting Merge, Bugfix

#18740 Shotgun Accuracy and Fixes
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/geeves-shotgun_accuracy_and_fixes.yml
Labels: Awaiting Merge

#18839 Racer Station Tweaks & Fixes
  html/changelogs/RustingWithYou - raceordie.yml
  maps/away/away_site/racers/racers.dm
  maps/away/away_site/racers/racers.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18835 Lets Vaurca wear some other Skrell clothes
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  html/changelogs/Lavillastrangiato - cthur get skrellcape.yml
Labels: Awaiting Merge

#18871 Buildmode help runtime fix
  code/modules/admin/verbs/buildmode.dm
  html/changelogs/FluffyGhost-buildmode_help_runtime_fix.yml
Labels: Awaiting Merge, Bugfix

#18855 Adds weather to the exoplanets
  code/modules/maps/planet_types/jungle.dm
  code/modules/maps/planet_types/lava.dm
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/maps/planet_types/lore/srandmarr.dm
  code/modules/maps/planet_types/snow.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/weather/weather_fsm_state_transitions.dm
  code/modules/weather/weather_fsm_states.dm
  html/changelogs/alberyk-weather.yml
Labels: Awaiting Merge

#18734 Machinist Remap
  html/changelogs/changelog.yml
  icons/obj/structures.dmi
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#18860 Offship RND Servers
  code/modules/research/rdconsole.dm
  code/modules/research/server.dm
  html/changelogs/RustingWithYou - offshiprnd.yml
Labels: Awaiting Merge

#18857 Bump megalinter version to v7.10.0.
  .github/workflows/byond.yml
  html/changelogs/fluffyghost-bumpmegalinterversion.yml
Labels: Awaiting Merge, Tools

#18888 Einstein ERT Rig Armor Changes & ID Fixes
  code/datums/outfits/ert/einstein.dm
  code/datums/outfits/ert/zenghu.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  html/changelogs/RustingWithYou - eerigbuff.yml
Labels: Awaiting Merge, Bugfix

#18893 Fixes PRA diplomatic aide outfit
  code/modules/background/citizenship/tajara.dm
  html/changelogs/greenjoe12345 - aidefix.yml
Labels: Awaiting Merge, Bugfix

#18873 Ports and adapts TG's maplint
  .github/workflows/byond.yml
  .gitignore
  dependencies.sh
  html/changelogs/fluffyghost-maplint.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/away/away_site/first_aurora/first_aurora.dmm
  maps/away/away_site/hivebot_hub/hivebot_hub.dmm
  maps/away/away_site/idris_wreck/idris_wreck.dmm
  maps/away/ships/coc/coc_surveyor/coc_surveyor.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/orion/orion_express_ship.dmm
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
  maps/away/ships/sol_pirate/sfa_patrol_ship.dmm
  maps/away/ships/sol_ssmd/ssmd_ship.dmm
  maps/dungeon_spawns/shuttle_unique.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/asteroid/coalition_base/coalition_base.dmm
  maps/runtime/runtime-1.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
  tools/bootstrap/.gitignore
  tools/bootstrap/node
  tools/bootstrap/node_.ps1
  tools/maplint/README.md
  tools/maplint/lints/area_varedits.yml
  tools/maplint/lints/base_turf.yml
  tools/maplint/lints/heat_capacity.yaml
  tools/maplint/lints/multiple_airlocks.yml
  tools/maplint/lints/multiple_area.yml
  tools/maplint/lints/multiple_firelocks.yml
  tools/maplint/lints/multiple_lattice.yml
  tools/maplint/lints/multiple_stairs.yml
  tools/maplint/lints/multiple_tables.yml
  tools/maplint/lints/multiple_turf.yml
  tools/maplint/lints/multiple_windows.yml
  tools/maplint/lints/pixel_varedits.yml
  tools/maplint/source/__init__.py
  tools/maplint/source/__main__.py
  tools/maplint/source/common.py
  tools/maplint/source/dmm.py
  tools/maplint/source/error.py
  tools/maplint/source/lint.py
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, 🗺️ Mapping - Runtime, Python, 🗺️ Mapping - Horizon, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Event, Tools, Mapping: Aurora, Mapping: Runtime, 🗺️ Mapping - Dungeon, 🗺️ Mapping - Random Ruins

#18865 Updates the scrapper
  aurorastation.dme
  maps/away/away_site/tajara/scrapper/scrapper.dm
  maps/away/away_site/tajara/scrapper/scrapper.dmm
  maps/away/away_site/tajara/scrapper/scrapper_landmarks.dm
Labels: Awaiting Merge, Changelog Required, 🗺️ Mapping - Away Ship/Away Site

#18870 Removes some additional waitfors and backgrounds
  code/controllers/subsystems/news.dm
  code/game/antagonist/antagonist_update.dm
  code/game/atoms.dm
  code/game/turfs/turf.dm
  code/game/turfs/turf_flick_animations.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/mob/living/carbon/alien/life.dm
  html/changelogs/FluffyGhost-waitfors_away.yml
Labels: Awaiting Merge

#18872 Forgot purge atom movable destroy
  code/modules/lighting/lighting_atom.dm
  html/changelogs/FluffyGhost-forgot_purge_atom_movable_destroy.yml
Labels: Awaiting Merge

#18864 Mining jack update
  aurorastation.dme
  maps/away/away_site/tajara/mining_jack/mining_jack.dm
  maps/away/away_site/tajara/mining_jack/mining_jack.dmm
  maps/away/away_site/tajara/mining_jack/mining_jack_landmarks.dm
Labels: Awaiting Merge, Changelog Required, 🗺️ Mapping - Away Ship/Away Site

#18863 Hailstorm fixes and console updates
  code/modules/overmap/ship_weaponry/_targeting_console.dm
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/alberyk-hailstormfixes.yml
  maps/away/ships/dpra/hailstorm/hailstorm_landmarks.dm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18859 Camera ctags fix and test
  .github/workflows/byond.yml
  code/game/machinery/camera/camera.dm
  html/changelogs/fluffyghost-cameractagsfixandtest.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/runtime/runtime-1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  tools/dmm_scanner/scan_camera_ctags.py
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, 🗺️ Mapping - Runtime, Python, 🗺️ Mapping - Horizon, 🗺️ Mapping - Event, Tools, Mapping: Aurora, Mapping: Runtime

#18886 Some Small Fixes
  html/changelogs/furrycactus - airlock acess fixes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18791 Fix some gamemodes from not being votable
  code/datums/votes/round_type.dm
  html/changelogs/fluffyghost-fixgamemodevote.yml
Labels: Awaiting Merge, ⚠ High Risk, Test Merge Candidate, Bugfix

#18851 Swaps out Medbay Dermaline pills for Kelotane pills, adds basic Dexalin pill bottles.
  code/game/objects/items/weapons/storage/pill_bottle.dm
  html/changelogs/furrycactus - medbay dermaline swap.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18720 Back to home once again
  aurorastation.dme
  code/modules/background/space_sectors/tauceti.dm
  code/modules/maps/planet_types/lore/tauceti.dm
  html/changelogs/alberyk-taucetiplanets.yml
Labels: Awaiting Merge

#18904 Fixes missing icon states for Golden Deep ear items
  html/changelogs/SimpleMaroon-goldendeepfix.yml
  icons/clothing/head/cowl.dmi
  icons/clothing/head/cube_hood.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18911 Exploratory Chem APC Fix
  html/changelogs/furrycactus -scichem apc.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18925 Updated pyyaml dependency
  html/changelogs/fluffyghost-pyyamlversionbump.yml
  tools/requirements.txt
Labels: Review Required, Bugfix, Tools

#18926 Updated pygit version to 1.14.1
  html/changelogs/fluffyghost-bumppygit2version.yml
  tools/requirements.txt
Labels: Review Required, Bugfix, Tools

#18929 Fixes the hailstorm gun having the wrong loaders
  html/changelogs/alberyk-hailstorm.yml
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18907 Baseline Marking Fixes
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/CometBlaze-baseline_stuff.yml
  icons/mob/human_races/markings_baseline.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18874 Implemented SI prefixes (KILO, MEGA, GIGA, TERA etc.)
  aurorastation.dme
  code/__DEFINES/machinery.dm
  code/__DEFINES/si.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/crusher_piston.dm
  code/game/machinery/from_beyond.dm
  code/game/machinery/mech_recharger.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/recharger.dm
  code/game/machinery/spaceheater.dm
  code/game/machinery/telecomms/machines/broadcaster.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/hub.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/machinery/telecomms/telecommunications.dm
  code/modules/cooking/machinery/cooking_machines/fryer.dm
  code/modules/cooking/machinery/cooking_machines/oven.dm
  code/modules/cooking/machinery/cooking_machines/stove.dm
  code/modules/heavy_vehicle/equipment/_equipment.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/equipment/utility.dm
  code/modules/modular_computers/hardware/ai_slot.dm
  code/modules/overmap/ship_weaponry/weaponry/leviathan.dm
  html/changelogs/fluffyghost-implementsiprefixes.yml
Labels: Awaiting Merge, Refactor

#18881 Adds TTS accent vocal cords to loadout
  code/modules/client/preference_setup/loadout/items/augments.dm
  html/changelogs/RustingWithYou - beepboop.yml
Labels: Awaiting Merge

#18887 Adds Camera MIU to uplink
  code/datums/uplink/devices_and_tools.dm
  html/changelogs/RustingWithYou - cameramask.yml
Labels: Awaiting Merge

#18914 Adds two Konyanger medals.
  code/modules/clothing/under/accessories/medal.dm
  html/changelogs/stryker-konyangmedals.yml
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#18896 Ports Baystation Click Handling & Build Mode
  aurorastation.dme
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/cyborg.dm
  code/_onclick/observer.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmode/advanced.dm
  code/modules/admin/buildmode/basic.dm
  code/modules/admin/buildmode/buildmode.dm
  code/modules/admin/buildmode/buttons.dm
  code/modules/admin/buildmode/click_handler.dm
  code/modules/admin/buildmode/edit.dm
  code/modules/admin/buildmode/ladders.dm
  code/modules/admin/buildmode/light_maker.dm
  code/modules/admin/buildmode/move_into.dm
  code/modules/admin/buildmode/relocate_to.dm
  code/modules/admin/buildmode/room_builder.dm
  code/modules/admin/buildmode/throw_at.dm
  code/modules/admin/verbs/buildmode.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/unit_tests/create_and_destroy.dm
  html/changelogs/RustingWithYou - click.yml
  icons/misc/buildmode.dmi
Labels: Awaiting Merge, Sprites, Test Merge Candidate

#18909 Buffs Ling Horror Form Dart
  code/game/gamemodes/changeling/implements/items.dm
  html/changelogs/QuestioningMark-LingDartBuff.yml
Labels: Awaiting Merge

#18910 New INDRA Reaction: Iron+Phoron Nucleosynthesis
  code/modules/power/fusion/fusion_reactions.dm
  html/changelogs/QuestioningMark-NewINDRAfusionReactions.yml
Labels: Awaiting Merge

#18415 Cryonics Additions + IV Bag Stuff
  aurorastation.dme
  code/__DEFINES/chemistry.dm
  code/__DEFINES/mobs.dm
  code/datums/uplink/medical.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryo.dm
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/materials/material_recipes.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/subtypes/parasite/_parasite.dm
  code/modules/organs/subtypes/parasite/tumours.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/hypospray.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/kermit-cryonicsadditions.yml
  icons/obj/bloodpack.dmi
  icons/obj/organs/organs.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Review Required, Sprites, Test Merge Candidate, Balance, 🗺️ Mapping - Horizon

#18937 non-natural exoplanet turfs no longer generate resource deposits
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/abyss.dm
  code/modules/overmap/exoplanets/decor/turfs/asphalt.dm
  code/modules/overmap/exoplanets/decor/turfs/carpet.dm
  code/modules/overmap/exoplanets/decor/turfs/concrete.dm
  code/modules/overmap/exoplanets/decor/turfs/foundation.dm
  code/modules/overmap/exoplanets/decor/turfs/linoleum.dm
  code/modules/overmap/exoplanets/decor/turfs/plating.dm
  code/modules/overmap/exoplanets/decor/turfs/sidewalk.dm
  code/modules/overmap/exoplanets/decor/turfs/tiled.dm
  code/modules/overmap/exoplanets/decor/turfs/water.dm
  code/modules/overmap/exoplanets/decor/turfs/wood.dm
  html/changelogs/RustingWithYou - exoplanetturf.yml
Labels: Awaiting Merge, Bugfix

#18917 Updates the rules button and other interface buttons.
  code/controllers/configuration.dm
  config/example/config.txt
  html/changelogs/mattatlas-rulesupdate.yml
  interface/interface.dm
Labels: Awaiting Merge

#18922 Buildable Fuel Ports
  code/modules/materials/material_recipes.dm
  code/modules/overmap/overmap_shuttle.dm
  html/changelogs/RustingWithYou - fuelport.yml
Labels: Awaiting Merge

#18516 The Xanu Frigate
  aurorastation.dme
  code/__DEFINES/access.dm
  code/__DEFINES/color.dm
  code/game/machinery/suit_cycler_units.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/structures/full_window_frame.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/spacesuits/rig/suits/xanu.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/effects/map_effects/window_spawner.dm
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/heavy_vehicle/premade/light.dm
  html/changelogs/nauticall-xanu_frigate.yml
  icons/clothing/under/uniforms/xanu.dmi
  icons/effects/map_effects.dmi
  icons/obj/card.dmi
  icons/obj/clothing/hoodies.dmi
  icons/obj/overmap/overmap_ships.dmi
  maps/away/ships/xanu/xanu_frigate.dm
  maps/away/ships/xanu/xanu_frigate.dmm
  maps/away/ships/xanu/xanu_frigate_areas.dm
  maps/away/ships/xanu/xanu_frigate_ghostroles.dm
  maps/away/ships/xanu/xanu_frigate_landmarks.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18927 SFA Fixes
  html/changelogs/Lavillastrangiato - sfastuff.yml
  maps/away/ships/sol_pirate/sfa_patrol_ship.dm
  maps/away/ships/sol_pirate/sfa_patrol_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18931 Adds 5 new varieties of Vaurca soda
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/cans.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/SimpleMaroon-zorasoda.yml
  icons/obj/item/reagent_containers/food/drinks/soda.dmi
Labels: Awaiting Merge, Sprites

#18916 SSMD Updates
  html/changelogs/Lavillastrangiato - ssmdfixes.yml
  maps/away/ships/sol_ssmd/ssmd_ship.dm
  maps/away/ships/sol_ssmd/ssmd_ship.dmm
  maps/away/ships/sol_ssmd/ssmd_ship_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18912 Origin Trait Changes + Vaurca Language Traits
  code/datums/outfits/ert/biesel.dm
  code/datums/outfits/ert/izweski.dm
  code/datums/outfits/ert/kataphract.dm
  code/datums/outfits/ert/qukala.dm
  code/datums/outfits/ert/vaurca.dm
  code/modules/background/origins/_origins.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/unathi/queendom.dm
  code/modules/background/origins/origins/unathi/traditionalist.dm
  code/modules/background/origins/origins/vaurca/breeder/cthur.dm
  code/modules/background/origins/origins/vaurca/breeder/klax.dm
  code/modules/background/origins/origins/vaurca/cthur.dm
  code/modules/background/origins/origins/vaurca/klax.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/RustingWithYou - theorigin.yml
  maps/away/away_site/pirate_base/pirate_base_ghostroles.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_ghostroles.dm
  maps/away/ships/biesel/tcfl_patrol/tcfl_peacekeeper_ship_ghostroles.dm
  maps/away/ships/freebooter/freebooter_ship_ghostroles.dm
  maps/away/ships/hegemony/hegemony_corvette/hegemony_ghostroles.dm
  maps/away/ships/heph/cyclops/cyclops_ghostroles.dm
  maps/away/ships/heph/heph_security/heph_security_ghostroles.dm
  maps/away/ships/iac/iac_rescue_ship_ghostroles.dm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
  maps/away/ships/orion/orion_express_ship_ghostroles.dm
  maps/away/ships/scc/scc_scout_ship_ghostroles.dm
  maps/away/ships/tramp_freighter/tramp_freighter_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18902 Adds Biesel as an exoplanet
  code/modules/asset_cache/asset_cache.dm
  code/modules/background/space_sectors/tauceti.dm
  code/modules/maps/planet_types/lore/tauceti.dm
  code/modules/overmap/exoplanets/biomes/grass.dm
  code/modules/overmap/exoplanets/themes/grass.dm
  html/changelogs/alberyk-biesel.yml
  html/images/scans/exoplanets/biesel.png
  icons/obj/machinery/stargazer.dmi
  icons/skybox/lore_planets.dmi
Labels: Awaiting Merge, Sprites

#18899 Door rigging tool
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/game/objects/items/weapons/landmines.dm
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/fluffyghost-doorrigging.yml
Labels: Awaiting Merge

#17796 Character preferences / records html decoding
  code/datums/records.dm
  code/modules/client/preference_setup/general/06_flavor.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  html/changelogs/fluffyghost-characterprefshtmlencodings.yml
Labels: Awaiting Merge, Bugfix

#18913 Bleeding is more easily examinable
  code/modules/mob/living/carbon/human/examine.dm
  html/changelogs/LynxSolstice - Blood-verbose.yml
Labels: Awaiting Merge

#18920 Survey Probe Language Output
  code/game/objects/structures/survey_probe.dm
  html/changelogs/RustingWithYou - probing.yml
  maps/away/ships/coc/coc_surveyor/coc_surveyor.dmm
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dmm
  maps/away/ships/pra/database_freighter/database_freighter.dmm
  maps/away/ships/scc/scc_scout_ship.dmm
Labels: Awaiting Merge, Changes Required, 🗺️ Mapping - Away Ship/Away Site

#18908 Fixes orion shuttle leaving turf behind
  html/changelogs/meep109_orionshuttlefixes.yml
  maps/away/ships/orion/orion_express_ship.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18751 Сonstructable with rods grills
  code/game/objects/structures/full_window_frame.dm
  code/game/objects/structures/grille.dm
  html/changelogs/sidveld-grills-in-windows.yml
Labels: Awaiting Merge

#18953 Fixes Vaurca Robotic Limb leg side sprites
  html/changelogs/SimpleMaroon-vaurcalegfix.yml
  icons/mob/human_races/vaurca/r_vaurcalimbs.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18938 Many Bug Fixes
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/background/accent/human.dm
  code/modules/clothing/factions/elyra.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/Lavillastrangiato - bugfixes.yml
  icons/clothing/backpacks/dominia_backpack.dmi
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
  maps/away/ships/yacht_civ/yacht_civ_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18936 NKA Merchant Navy Soul Changes
  html/changelogs/Lavillastrangiato - nkasoul.yml
  maps/away/ships/nka/nka_merchant/nka_merchant.dm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18898 Overmap shuttles no longer need empty sectors
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/landable.dm
  html/changelogs/RustingWithYou - emptysectorx24.yml
  maps/away/ships/konyang/air_konyang/air_konyang.dm
  maps/away/ships/konyang/air_konyang/air_konyang.dmm
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dm
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dmm
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan.dm
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18935 Adds Offship Lathe Materials
  html/changelogs/CourierBravo - Lathe_Mats.yml
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab_deck_2.dmm
  maps/away/ships/coc/coc_surveyor/coc_surveyor.dmm
  maps/away/ships/coc/gadpathur_patrol/gadpathur_patrol.dmm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dmm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/elyra/elyra_corvette/elyra_corvette.dmm
  maps/away/ships/freebooter/freebooter_ship.dmm
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
  maps/away/ships/heph/cyclops/cyclops.dmm
  maps/away/ships/heph/heph_security/heph_security.dmm
  maps/away/ships/iac/iac_rescue_ship.dmm
  maps/away/ships/idris/idris_cruiser.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/konyang/kasf_ship/kasf_ship.dmm
  maps/away/ships/konyang/konyang_wreck/konyang_wreck.dmm
  maps/away/ships/orion/orion_express_ship.dmm
  maps/away/ships/sadar_scout/sadar_scout.dmm
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dmm
  maps/away/ships/unathi_pirate/hiskyn/unathi_pirate_hiskyn.dmm
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan.dmm
Labels: Review Required, 🗺️ Mapping - Away Ship/Away Site

#18944 Uueoa-Esa, Part 2: System Ruins
  aurorastation.dme
  code/game/turfs/flooring/flooring_premade_.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/void/alien/unathi.dm
  code/modules/clothing/spacesuits/void/merc.dm
  code/modules/clothing/spacesuits/void/misc.dm
  code/modules/reagents/reagent_dispenser.dm
  code/modules/research/xenoarchaeology/finds/finds_talkingitem.dm
  html/changelogs/RustingWithYou - systemruins.yml
  icons/obj/unathi_ruins.dmi
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
  maps/random_ruins/exoplanets/uueoaesa/heph_mining_station.dm
  maps/random_ruins/exoplanets/uueoaesa/heph_mining_station.dmm
  maps/random_ruins/exoplanets/uueoaesa/heph_survey_post.dm
  maps/random_ruins/exoplanets/uueoaesa/heph_survey_post.dmm
  maps/random_ruins/exoplanets/uueoaesa/izweski_probe.dm
  maps/random_ruins/exoplanets/uueoaesa/izweski_probe.dmm
  maps/random_ruins/exoplanets/uueoaesa/kazhkz_crash.dm
  maps/random_ruins/exoplanets/uueoaesa/kazhkz_crash.dmm
  maps/random_ruins/exoplanets/uueoaesa/miners_guild_outpost.dm
  maps/random_ruins/exoplanets/uueoaesa/miners_guild_outpost.dmm
  maps/random_ruins/exoplanets/uueoaesa/pid_crashed_shuttle.dm
  maps/random_ruins/exoplanets/uueoaesa/pid_crashed_shuttle.dmm
  maps/random_ruins/exoplanets/uueoaesa/pid_kois_farm.dm
  maps/random_ruins/exoplanets/uueoaesa/pid_kois_farm.dmm
  maps/random_ruins/exoplanets/uueoaesa/sol_listening_post.dm
  maps/random_ruins/exoplanets/uueoaesa/sol_listening_post.dmm
Labels: Review Required, Sprites, Waiting Period, 🗺️ Mapping - Random Ruins

#18832 Replaces EUM with the overhauled Hieroaetheria
  aurorastation.dme
  code/__DEFINES/background.dm
  code/game/objects/structures/flags_banners.dm
  code/modules/background/accent/diona.dm
  code/modules/background/accent/skrell.dm
  code/modules/background/citizenship/dionae.dm
  code/modules/background/origins/origins/diona/biesel.dm
  code/modules/background/origins/origins/diona/coalition.dm
  code/modules/background/origins/origins/diona/deep_space.dm
  code/modules/background/origins/origins/diona/eridani.dm
  code/modules/background/origins/origins/diona/eum.dm
  code/modules/background/origins/origins/diona/hieroaetheria.dm
  code/modules/background/origins/origins/diona/narrows.dm
  code/modules/background/origins/origins/diona/nralakk.dm
  code/modules/background/origins/origins/diona/sol.dm
  code/modules/background/origins/origins/diona/voidtamer.dm
  code/modules/background/origins/origins/diona/xrim.dm
  code/modules/background/origins/origins/skrell/non_federation.dm
  code/modules/background/religion/diona.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/clothing/under/accessories/xeno/diona.dm
  code/modules/clothing/under/xenos/diona.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/kermit-hieroaetheria.yml
  icons/accent_tags.dmi
  icons/obj/diona_items.dmi
Labels: Awaiting Merge, Sprites

#18945 Adds More Exoplanet Turfs & Marble Walls
  aurorastation.dme
  code/game/turfs/simulated/wall_types.dm
  code/modules/overmap/exoplanets/decor/turfs/carpet.dm
  code/modules/overmap/exoplanets/decor/turfs/diona.dm
  code/modules/overmap/exoplanets/decor/turfs/marble.dm
  code/modules/overmap/exoplanets/decor/turfs/tiled.dm
  code/modules/overmap/exoplanets/decor/turfs/wood.dm
  html/changelogs/RustingWithYou - exoplanetturfs.yml
Labels: Awaiting Merge

#18905 Translator augment
  aurorastation.dme
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/say.dm
  code/modules/organs/subtypes/augment.dm
  code/modules/organs/subtypes/augment/augment.dm
  code/modules/organs/subtypes/augment/augment_tool.dm
  code/modules/organs/subtypes/augment/augments/cohlear.dm
  code/modules/organs/subtypes/augment/augments/combitool.dm
  code/modules/organs/subtypes/augment/augments/corrective_lens.dm
  code/modules/organs/subtypes/augment/augments/crayon.dm
  code/modules/organs/subtypes/augment/augments/cyber_hair.dm
  code/modules/organs/subtypes/augment/augments/cybrong_analyzer.dm
  code/modules/organs/subtypes/augment/augments/drill.dm
  code/modules/organs/subtypes/augment/augments/emotional_manipulator.dm
  code/modules/organs/subtypes/augment/augments/enhanced_vision.dm
  code/modules/organs/subtypes/augment/augments/ethanol_burner.dm
  code/modules/organs/subtypes/augment/augments/eye_sensors.dm
  code/modules/organs/subtypes/augment/augments/fluff.dm
  code/modules/organs/subtypes/augment/augments/fuel_cell.dm
  code/modules/organs/subtypes/augment/augments/gustatorial_centre.dm
  code/modules/organs/subtypes/augment/augments/health_analyzer.dm
  code/modules/organs/subtypes/augment/augments/language_processor.dm
  code/modules/organs/subtypes/augment/augments/lighter.dm
  code/modules/organs/subtypes/augment/augments/memory_inhibitor.dm
  code/modules/organs/subtypes/augment/augments/pen.dm
  code/modules/organs/subtypes/augment/augments/phalanx_facial_plate.dm
  code/modules/organs/subtypes/augment/augments/psi_receiver.dm
  code/modules/organs/subtypes/augment/augments/sight_lights.dm
  code/modules/organs/subtypes/augment/augments/suspension.dm
  code/modules/organs/subtypes/augment/augments/synthetic_cords.dm
  code/modules/organs/subtypes/augment/augments/taste_booster.dm
  code/modules/organs/subtypes/augment/augments/tesla.dm
  code/modules/organs/subtypes/augment/augments/timepiece.dm
  code/modules/organs/subtypes/augment/augments/translator.dm
  code/modules/organs/subtypes/augment/augments/zengu_plate.dm
  html/changelogs/sidveld-augment-translator.yml
Labels: Awaiting Merge

#18976 Fixed exoplanet turf icons for floors
  code/modules/overmap/exoplanets/decor/_turfs.dm
  html/changelogs/fluffyghost-fixexoplanetturfsplatingicon.yml
Labels: Awaiting Merge, Bugfix

#18850 Fluff Paper Language Setting
  code/modules/paperwork/paper.dm
  html/changelogs/RustingWithYou - paperlangs.yml
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dm
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dmm
  maps/away/ships/unathi_pirate/hiskyn/unathi_pirate_hiskyn.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_crash.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_refugees.dm
  maps/random_ruins/exoplanets/uueoaesa/kazhkz_crash.dm
  maps/random_ruins/exoplanets/uueoaesa/pid_crashed_shuttle.dm
  maps/random_ruins/exoplanets/uueoaesa/sol_listening_post.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#18932 Boots Armor Value Parity
  code/modules/clothing/shoes/boots.dm
  html/changelogs/Chevy-AuroraChev.yml
Labels: Awaiting Merge

#18943 Unathi Skeleton
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/RustingWithYou - bones.yml
  icons/mob/human_races/unathi/unathi_skeleton.dmi
Labels: Awaiting Merge, Sprites

#18792 New Origin Traits
  code/__DEFINES/origin_traits.dm
  code/modules/background/origins/origins/tajara/adhomai.dm
  code/modules/background/origins/origins/unathi/izweski.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/organ_external.dm
  html/changelogs/RustingWithYou - origintraits.yml
Labels: Awaiting Merge

#18879 Makes prosthetics editable in appearance editor
  code/__DEFINES/mobs.dm
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/human/human.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajaran_subspecies.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/nano/modules/human_appearance.dm
  code/modules/organs/internal/_internal.dm
  code/modules/organs/organ.dm
  code/modules/organs/robolimbs.dm
  code/modules/organs/subtypes/machine.dm
  code/modules/surgery/facial_surgery.dm
  html/changelogs/RustingWithYou - robolimbs.yml
  maps/away/ships/unathi_pirate/tarwa/unathi_pirate_tarwa_ghostroles.dm
  tgui/packages/tgui/interfaces/AppearanceChanger.tsx
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site, TGUI

#18980 Fixes Missing Open Space Landmarks
  code/modules/overmap/ships/landable.dm
  html/changelogs/RustingWithYou - shuttlefix.yml
  maps/away/ships/konyang/air_konyang/air_konyang.dm
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dm
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18962 Two New Gibson ruins
  aurorastation.dme
  code/modules/maps/planet_types/lore/tauceti.dm
  html/changelogs/alberyk-newgibson.yml
  maps/random_ruins/exoplanets/new_gibson/gibson_mining.dm
  maps/random_ruins/exoplanets/new_gibson/gibson_mining.dmm
  maps/random_ruins/exoplanets/new_gibson/gibson_resupply.dm
  maps/random_ruins/exoplanets/new_gibson/gibson_resupply.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#18959 Reduced engine volume
  code/modules/overmap/ships/engines/gas_thruster.dm
  html/changelogs/fluffyghost-reduceenginevolume.yml
Labels: Awaiting Merge

#18955 Bruiser Ammo Tweaks
  code/modules/overmap/ship_weaponry/weaponry/bruiser.dm
  html/changelogs/RustingWithYou - getbruised.yml
Labels: Awaiting Merge

#18964 Refactored archeological finds to use Initialize() instead of New() where possible
  code/modules/mining/mine_turfs.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  code/modules/research/xenoarchaeology/finds/finds_fossils.dm
  html/changelogs/fluffyghost-qdelinnew.yml
Labels: Awaiting Merge, Refactor

#18956 Uueoa-Esa, Part 3: Ruin Assets
  aurorastation.dme
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/flags_banners.dm
  code/game/objects/structures/statue.dm
  code/game/objects/structures/undetonated_nuke.dm
  code/modules/clothing/gloves/xeno/unathi.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/suits/xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  code/modules/vehicles/bike.dm
  html/changelogs/RustingWithYou - ruinassets.yml
  icons/obj/unathi_ruins.dmi
  icons/obj/vehicle/bike.dmi
Labels: Awaiting Merge, Sprites

#18947 Blueprints Rework
  aurorastation.dme
  code/__DEFINES/misc.dm
  code/__HELPERS/_lists.dm
  code/_onclick/click.dm
  code/_onclick/hud/action.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/components/eye/_eye.dm
  code/datums/components/eye/blueprints.dm
  code/datums/components/eye/freelook.dm
  code/game/atoms.dm
  code/game/objects/items/blueprints.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/mob/abstract/freelook/ai/eye.dm
  code/modules/mob/abstract/freelook/blueprints/blueprints.dm
  code/modules/mob/abstract/freelook/eye.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/life.dm
  code/modules/overmap/exoplanets/decor/_areas.dm
  code/modules/overmap/overmap_shuttle.dm
  code/modules/overmap/sectors.dm
  code/modules/shuttles/shuttle.dm
  html/changelogs/RustingWithYou - iseeyou.yml
  icons/effects/blueprints.dmi
  icons/obj/action_buttons/actions.dmi
  icons/obj/item/tools/blueprints.dmi
  maps/_common/areas/areas.dm
  maps/_common/areas/asteroid_areas.dm
  maps/runtime/runtime-1.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Runtime, Test Merge Candidate, Mapping: Runtime

#18974 Buildable Overmap Machinery
  aurorastation.dme
  code/game/machinery/constructable_frame.dm
  code/game/objects/items/weapons/circuitboards/machinery/ship.dm
  code/game/objects/items/weapons/circuitboards/machinery/unary_atmos.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  code/modules/overmap/ships/engines/maneuvering_thrusters.dm
  code/modules/overmap/ships/identification.dm
  code/modules/research/designs/circuit/ship_circuits.dm
  html/changelogs/RustingWithYou - buildthemachine.yml
  tgui/packages/tgui/interfaces/Sensors.tsx
Labels: Awaiting Merge, TGUI

#18975 Bare-clawed Unathi footstep sounds.
  code/game/sound.dm
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/Crosarius-unathifootsteps.yml
  sound/effects/footstep_unathi1.ogg
  sound/effects/footstep_unathi2.ogg
  sound/effects/footstep_unathi3.ogg
  sound/effects/footstep_unathi4.ogg
  sound/effects/footstep_unathi5.ogg
Labels: Awaiting Merge, Sounds

#18961 Processing subsystems improvements
  code/__DEFINES/MC.dm
  code/__DEFINES/_flags.dm
  code/__DEFINES/subsystem-priority.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystems/effects.dm
  code/controllers/subsystems/machinery.dm
  code/controllers/subsystems/processing/processing.dm
  code/datums/datum.dm
  code/game/objects/structures/safe.dm
  code/modules/atmospherics/components/unary/cold_sink.dm
  code/modules/mining/mine_items.dm
  code/modules/projectiles/projectile.dm
  code/modules/recycling/disposal.dm
  code/modules/research/xenoarchaeology/tools/tools_locater.dm
  html/changelogs/fluffyghost-processingupdate.yml
Labels: Awaiting Merge, Refactor, Test Merge Candidate

#18981 Tau Ceti Celebration Event PR
  code/datums/outfits/ert/deathsquad.dm
  code/datums/outfits/event/outfit_nanotrasen.dm
  code/game/turfs/simulated/shuttle_turfs.dm
  code/modules/clothing/spacesuits/rig/suits/ert.dm
  code/modules/ghostroles/spawner/human/admin/ccia.dm
  code/modules/shuttles/antagonist.dm
  html/changelogs/changelog.yml
  icons/clothing/rig/nt_asset_protection.dmi
  icons/clothing/rig/nt_asset_protection_commander.dmi
  maps/_common/areas/shuttles.dm
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/aurora/code/aurora.dm
  maps/aurora/code/aurora_shuttles.dm
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_shuttles.dm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Review Required, 🗺️ Mapping - Aurora, Sprites, Waiting Period, 🗺️ Mapping - Horizon, Mapping: Aurora

#18989 Colorable Glasses Fix
  code/game/objects/items.dm
  code/game/objects/items/items_icon.dm
  code/modules/clothing/glasses/colorable.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/geeves-broke_my_shit.yml
Labels: Awaiting Merge, Bugfix

#18578 Cult Base Away Site
  aurorastation.dme
  code/controllers/subsystems/ghostroles.dm
  code/datums/outfits/event/outfit_generic/_generic.dm
  code/datums/outfits/event/outfit_generic/engineering.dm
  code/datums/outfits/event/outfit_generic/medical.dm
  code/datums/outfits/event/outfit_generic/science.dm
  code/datums/outfits/event/outfit_generic/security.dm
  code/game/atoms.dm
  code/game/gamemodes/cult/runes/_rune_datum.dm
  code/game/gamemodes/cult/runes/_rune_obj.dm
  code/game/gamemodes/cult/runes/armor.dm
  code/game/gamemodes/cult/runes/convert.dm
  code/game/gamemodes/cult/runes/ghost_mode.dm
  code/game/gamemodes/cult/runes/sacrifice.dm
  code/game/gamemodes/cult/runes/summon_tome.dm
  code/game/gamemodes/cult/runes/teleport.dm
  code/game/objects/effects/decals/Cleanable/aliens.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/effects/decals/Cleanable/robots.dm
  code/game/objects/effects/decals/Cleanable/tracks.dm
  code/game/objects/effects/gibs.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/turfs/flooring/flooring_decals_.dm
  code/game/turfs/flooring/flooring_decals_industrial.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/corpse.dm
  code/modules/effects/map_effects/marker/_marker.dm
  code/modules/effects/map_effects/marker/airlock_.dm
  code/modules/effects/map_effects/marker/airlock_docking.dm
  code/modules/effects/map_effects/marker/airlock_helper.dm
  code/modules/effects/map_effects/marker/airlock_shuttle.dm
  code/modules/effects/map_effects/marker/large_tank.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/human.dm
  code/modules/ghostroles/spawnpoint/spawnpoint.dm
  code/modules/hallucinations/types/mirage.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/multiz/turfs/open_space.dm
  code/modules/power/lights/fixtures.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/guns/projectile/revolver.dm
  code/modules/projectiles/projectile.dm
  code/modules/shuttles/landmarks.dm
  code/modules/spell_system/spells/spell_list/self/generic/rune_write.dm
  html/changelogs/DreamySkrell-cult-base.yml
  icons/effects/96x96.dmi
  icons/effects/map_effects.dmi
  icons/obj/machinery/light.dmi
  maps/away/away_site/cult_base/cult_base.dmm
  maps/away/away_site/cult_base/cult_base_.dm
  maps/away/away_site/cult_base/cult_base_areas.dm
  maps/away/away_site/cult_base/cult_base_ghostroles.dm
  maps/away/away_site/cult_base/cult_base_items.dm
  maps/away/away_site/cult_base/cult_base_landmarks.dm
  maps/away/away_site/pirate_base/pirate_base_ghostroles.dm
Labels: Review Required, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19000 Cult Base fixes + Ghostspawner desc_ooc
  code/controllers/subsystems/ghostroles.dm
  code/modules/ghostroles/spawner/base.dm
  html/changelogs/DreamySkrell-spawner-ooc-desc.yml
  maps/away/away_site/cult_base/cult_base.dmm
  maps/away/away_site/cult_base/cult_base_.dm
  maps/away/away_site/cult_base/cult_base_ghostroles.dm
  maps/away/away_site/cult_base/cult_base_landmarks.dm
  maps/away/away_site/pirate_base/pirate_base_ghostroles.dm
  maps/away/ships/scc/scc_scout_ship_ghostroles.dm
  tgui/packages/tgui/interfaces/GhostSpawner.tsx
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site, TGUI

#18987 More optimizations
  code/modules/admin/secrets/admin_secrets/move_shuttle.dm
  code/modules/cargo/randomstock.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/research/xenoarchaeology/tools/tools_locater.dm
  html/changelogs/fluffyghost-moreoptimizations.yml
Labels: Awaiting Merge

#18970 More Tau Ceti Radio Stations
  code/modules/background/space_sectors/tauceti.dm
  config/example/lore_radio/tauceti/87.5_Mendell_City_Bugle.txt
  config/example/lore_radio/tauceti/90.7_Hi_Fi_Sports.txt
  config/example/lore_radio/tauceti/93.1_PhoenixFM.txt
  html/changelogs/nauticall-taucetistations.yml
Labels: Awaiting Merge

#18906 Luceism Additions
  aurorastation.dme
  code/game/jobs/job/civilian.dm
  code/game/objects/items/devices/versebook.dm
  code/game/objects/items/weapons/chaplain_items.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/background/origins/origins/diona/coalition.dm
  code/modules/background/religion/human.dm
  code/modules/background/religion/religion.dm
  code/modules/background/religion/unathi.dm
  code/modules/client/preference_setup/loadout/items/religion.dm
  code/modules/clothing/factions/assunzione.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/religious.dm
  html/changelogs/nauticall-luceism_stuff.yml
  icons/clothing/suits/assunzione_robes.dmi
  icons/clothing/suits/capes/assunzione_cloak.dmi
  icons/clothing/suits/capes/assunzione_robe.dmi
  icons/clothing/under/uniforms/assunzione.dmi
  icons/mob/items/lefthand_books.dmi
  icons/mob/items/righthand_books.dmi
  icons/obj/clothing/accessory/religious.dmi
  icons/obj/library.dmi
  icons/obj/luceian_sceptre.dmi
  ingame_manuals/assunzione.txt
Labels: Awaiting Merge, Sprites

#18983 Courier's Biesel ruins
  aurorastation.dme
  code/modules/maps/planet_types/lore/tauceti.dm
  html/changelogs/CourierBravo - Biesel Maps.yml
  maps/random_ruins/exoplanets/biesel/abandoned_warehouse_1.dm
  maps/random_ruins/exoplanets/biesel/abandoned_warehouse_1.dmm
  maps/random_ruins/exoplanets/biesel/abandoned_warehouse_2.dm
  maps/random_ruins/exoplanets/biesel/abandoned_warehouse_2.dmm
  maps/random_ruins/exoplanets/biesel/biesel_camp_site.dm
  maps/random_ruins/exoplanets/biesel/biesel_camp_site.dmm
  maps/random_ruins/exoplanets/biesel/biesel_crash.dm
  maps/random_ruins/exoplanets/biesel/biesel_crash.dmm
  maps/random_ruins/exoplanets/biesel/cargo_ruins_1.dm
  maps/random_ruins/exoplanets/biesel/cargo_ruins_1.dmm
  maps/random_ruins/exoplanets/biesel/cargo_ruins_2.dm
  maps/random_ruins/exoplanets/biesel/cargo_ruins_2.dmm
  maps/random_ruins/exoplanets/biesel/cargo_ruins_3.dm
  maps/random_ruins/exoplanets/biesel/cargo_ruins_3.dmm
  maps/random_ruins/exoplanets/biesel/pra_camp_site.dm
  maps/random_ruins/exoplanets/biesel/pra_camp_site.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19010 Removes stray pixels from Vaurca Mecha Eye (Faceplate, Right)
  html/changelogs/SimpleMaroon-vaurcamechafaceplatefix.yml
  icons/mob/human_races/markings_vaurca.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19001 Adds the Scarab Salvager to the Badlands and Valley Hale
  html/changelogs/hazelmouse - scarab_sectors.yml
  maps/away/away_site/hivebot_hub/hivebot_hub.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab.dm
  maps/away/ships/coc/coc_scarab/coc_scarab_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18999 Kataphract Remap
  html/changelogs/Lavillastrangiato - new kataphract real.yml
  maps/away/ships/kataphracts/kataphract_areas.dm
  maps/away/ships/kataphracts/kataphract_ship.dm
  maps/away/ships/kataphracts/kataphract_ship.dmm
  maps/away/ships/kataphracts/kataphract_ship_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18992 Tweaks Kataphract and Pirate voidsuit armour
  code/modules/clothing/spacesuits/void/alien/unathi.dm
  html/changelogs/ClemTheDuckUnathiArmourFix.yml
Labels: Awaiting Merge

#18998 Tau Ceti Port of Call Backend
  code/modules/background/space_sectors/tauceti.dm
  html/changelogs/Ben10083 - PortofCall.yml
Labels: Awaiting Merge

#19005 Removed most reagent stuffs from water turf
  code/modules/overmap/exoplanets/decor/turfs/water.dm
  html/changelogs/fluffyghost-waterturfreagentkill.yml
Labels: Awaiting Merge

#19002 Removes the dominian research vessel from spawning in the CoC
  html/changelogs/yonnimer-nodominia.yml
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18597 Mouthwash
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/drinks/flask.dm
  html/changelogs/DreamySkrell-bug-drink.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/drinks/flask.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#18995 Intentionally Lying Down Stuff
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/living.dm
  html/changelogs/geeves-intentiontionally_lying_macro.yml
Labels: Awaiting Merge

#19004 Napalm Grenade Telecrystal Cost Increase
  code/datums/uplink/grenades.dm
  html/changelogs/Ben10083 - Napalm Uplink.yml
Labels: Awaiting Merge

#18819 Atmospheric Meters now change color based on their current temperature reading
  code/game/machinery/atmoalter/meter.dm
  html/changelogs/GeneralCamo - Meter.yml
  icons/obj/meter.dmi
Labels: Review Required, Sprites

#18890 Sleeveless Crop Top Hoodies
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/hoodies.dm
  html/changelogs/geeves-sleeveless_crop_top.yml
  icons/obj/clothing/hoodies.dmi
Labels: Awaiting Merge, Sprites

#18928 Makes the Sani'Orios away site more interesting
  aurorastation.dme
  html/changelogs/alberyk-saniorios.yml
  maps/away/away_site/tajara/saniorios_outpost/saniorios_landmarks.dm
  maps/away/away_site/tajara/saniorios_outpost/saniorios_outpost.dm
  maps/away/away_site/tajara/saniorios_outpost/saniorios_outpost.dmm
  maps/away/away_site/tajara/saniorios_outpost/saniorios_outpost_ghostroles.dm
  maps/away/away_site/tajara/saniorios_outpost/saniorios_outpost_zones.dm
  maps/away/away_site/tajara/saniorios_smuggler/saniorios_smuggler.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18889 Wrist Layer Toggling
  code/__DEFINES/icon_layering.dm
  code/modules/client/preference_setup/loadout/items/wrists.dm
  code/modules/clothing/wrists/wrists.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/geeves-wrist_layer_toggle.yml
Labels: Review Required

#18829 Fixes freighter shuttle docking
  html/changelogs/meep109_freighterfix.yml
  maps/away/ships/tramp_freighter/tramp_freighter.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18849 Pirate Base Tweaks
  html/changelogs/RustingWithYou - goonbasetweaks.yml
  maps/away/away_site/pirate_base/pirate_base.dm
  maps/away/away_site/pirate_base/pirate_base.dmm
  maps/away/away_site/pirate_base/pirate_base_areas.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19026 Fixes New Horizons drink not having a sprite
  html/changelogs/nauticall_newhorizons_drink_fix.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19012 Ti'Rakqi Fixes
  html/changelogs/RustingWithYou - skrugglers.yml
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18963 Adds radio stations to Tau Ceti
  code/modules/background/space_sectors/tauceti.dm
  config/example/lore_radio/tauceti/113.7_ZOTH_F_Vaurca_Radio_Station.txt
  config/example/lore_radio/tauceti/17.9_Adhomai_Ceti-Connection.txt
  config/example/lore_radio/tauceti/28.1_D6_Citizen_Radio.txt
  config/example/lore_radio/tauceti/52.4_Raging_Tides.txt
  config/example/lore_radio/tauceti/93.8_Biesellian_Song_Broadcast.txt
  config/example/lore_radio/tauceti/95.3_QRCC.txt
  html/changelogs/alberyk-radios.yml
Labels: Awaiting Merge

#19044 Updated tracy to our v27042024
  html/changelogs/fluffyghost-updatetracy.yml
  libprof.so
  tracy.dll
Labels: Review Required

#19017 Disables ships that do not follow current standards: EE, TCFL, FSF
  html/changelogs/DreamySkrell-disable-fsf-ee-tcfl-ships.yml
  maps/away/ships/biesel/tcfl_patrol/tcfl_peacekeeper_ship.dm
  maps/away/ships/einstein/ee_spy_ship.dm
  maps/away/ships/sol_merc/fsf_patrol_ship.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19018 Cult Base tweaks - no cult books for cultists
  code/datums/outfits/outfit.dm
  code/game/antagonist/station/cultist.dm
  code/game/gamemodes/cult/runes/convert.dm
  html/changelogs/DreamySkrell-cult-base-rebalance.yml
  maps/away/away_site/cult_base/cult_base.dmm
  maps/away/away_site/cult_base/cult_base_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19015 Offship Fixes and Tweaks
  html/changelogs/Lavillastrangiato - offshipfixes.yml
  maps/away/ships/coc/coc_ranger/coc_ship.dm
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/elyra/elyra_corvette/elyra_corvette.dmm
  maps/away/ships/hegemony/hegemony_corvette/hegemony_corvette.dmm
  maps/away/ships/heph/cyclops/cyclops.dmm
  maps/away/ships/heph/cyclops/cyclops_mining_ship.dm
  maps/away/ships/konyang/kasf_ship/kasf_ship.dmm
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
  maps/away/ships/scc/scc_scout_ship.dmm
  maps/away/ships/sol_pirate/sfa_patrol_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19043 ZTA -> ZAT Spellcheck
  code/__DEFINES/ship_weapons.dm
  code/modules/overmap/ship_weaponry/weaponry/leviathan.dm
  code/modules/paperwork/folders.dm
  html/changelogs/Ben10083 ZAT.yml
  icons/turf/areas.dmi
  maps/away/ships/dpra/hailstorm/hailstorm_areas.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Horizon, 🗺️ Mapping - Away Ship/Away Site

#19037 Fix Sofa Armrest Colors
  code/__DEFINES/color.dm
  code/__DEFINES/layers.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/materials/materials.dm
  code/modules/mob/living/carbon/human/species/station/golem.dm
  html/changelogs/geeves-sofa_armrest_fix.yml
Labels: Awaiting Merge, Bugfix

#19034 TCAF Corvette Fixes
  code/game/machinery/deployable.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  html/changelogs/Ben10083 - Legion Fixes.yml
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19029 Adds sensor suite and IFF to Kataphract ship
  html/changelogs/Lavillastrangiato - katafix.yml
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19006 Landmarks works
  code/__DEFINES/global.dm
  code/__HELPERS/global_lists.dm
  code/controllers/subsystems/initialization/map_finalization.dm
  code/controllers/subsystems/job.dm
  code/game/gamemodes/endgame/supermatter_cascade/portal.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/game/objects/effects/landmarks.dm
  code/modules/awaymissions/corpse.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/visitor.dm
  code/modules/maps/helper_landmarks.dm
  code/unit_tests/create_and_destroy.dm
  html/changelogs/fluffyghost-landmarksrefactorharddel.yml
  maps/aurora/aurora-1_centcomm.dmm
  maps/aurora/aurora-3_sublevel.dmm
  maps/aurora/aurora-4_mainlevel.dmm
  maps/aurora/aurora-5_interstitial.dmm
  maps/aurora/aurora-6_surface.dmm
  maps/away_sites_testing/away_sites_testing-1.dmm
  maps/event/generic_dock/generic_dock-1.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/exoplanet_testing/exoplanet_testing-1.dmm
  maps/runtime/runtime-1.dmm
  maps/runtime/runtime-2.dmm
  maps/runtime/runtime-9.dmm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
  tools/maplint/lints/startmarker_unset.yml
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, 🗺️ Mapping - Runtime, Test Merge Candidate, 🗺️ Mapping - Horizon, 🗺️ Mapping - Event, Tools, Mapping: Aurora, Mapping: Runtime
