Repository Aurorastation/Aurora.3, pull requests merged in 2024-07, with the labels that each got.

#19557 Minor Map Tweaks (Mostly Science)
  html/changelogs/Lavillastrangiato - sciencemaptweaks.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#19464 Crowbar in your pocket be-gone
  code/game/objects/items/weapons/tools.dm
  html/changelogs/LynxSolstice-Crowbar-Size-Nerf.yml
Labels: Awaiting Merge

#19571 Diona/Unathi loadout fixes
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/clothing/under/xenos/unathi.dm
  html/changelogs/SimpleMaroon-dionaloadoutfixes.yml
Labels: Awaiting Merge, Bugfix

#19510 AI misc QOL updates.
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/modular_computers/computers/subtypes/dev_silicon_subtypes.dm
  html/changelogs/Magisterium2022-PR-Aurora.3-magi.yml
Labels: Awaiting Merge

#19370 Sandstorm Tweaks
  code/modules/clothing/factions/dominia.dm
  code/modules/clothing/factions/goldendeep.dm
  code/modules/clothing/head/xenos/unathi.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/clothing/suits/xeno/unathi.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/simple_animal/friendly/moghes.dm
  code/modules/mob/living/simple_animal/hostile/moghes.dm
  code/modules/mob/mob.dm
  code/modules/weather/weather_fsm_state_transitions.dm
  code/modules/weather/weather_fsm_states.dm
  html/changelogs/RustingWithYou - sandstorm.yml
  icons/effects/weather.dmi
  maps/random_ruins/exoplanets/moghes/moghes_dead_guwandi.dm
  maps/random_ruins/exoplanets/moghes/moghes_gawgaryn_bikers.dm
  maps/random_ruins/exoplanets/moghes/moghes_guwandi.dm
  maps/random_ruins/exoplanets/moghes/moghes_kataphract_wasteland.dm
  maps/random_ruins/exoplanets/moghes/moghes_siakh.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_dorviza.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_izweski.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_mikuetz.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_ozeuoi.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_priests.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_reclaimer.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_vihnmes.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Random Ruins

#19549 Fixes SMES hacking
  code/datums/wires/smes.dm
  code/modules/modular_computers/file_system/programs/engineering/rcon.dm
  code/modules/power/smes.dm
  html/changelogs/flaminglily - smesfix.yml
Labels: Awaiting Merge, Bugfix

#19563 Tip fixes
  code/datums/tips/tips.dm
  html/changelogs/CourierBravo-TipFix.yml
Labels: Awaiting Merge

#19575 Plush carp
  code/modules/client/preference_setup/loadout/items/toy.dm
  html/changelogs/ASmallCuteCat-loadout-carp.yml
Labels: Awaiting Merge

#19594 Removed the R&D mapped machine blueprint, that was not working anyways
  html/changelogs/fluffyghost-removemappedmachineblueprint.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#19578 Further adjusts the overlay of Vaurca tunnel cloaks
  code/game/objects/items/weapons/storage/backpack.dm
  html/changelogs/SimpleMaroon-tunnelcloakfix.yml
  icons/mob/species/vaurca/back.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19560 Life changes
  code/__DEFINES/subsystem-priority.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystems/mob.dm
  code/controllers/subsystems/mob_ai.dm
  code/controllers/subsystems/mob_fast_ai.dm
  code/defines/procs/hud.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/heavy_vehicle/mech_life.dm
  code/modules/mob/abstract/freelook/life.dm
  code/modules/mob/abstract/observer/observer.dm
  code/modules/mob/living/announcer.dm
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/mob/living/bot/farmbot.dm
  code/modules/mob/living/carbon/alien/diona/life.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/slime/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/decoy/life.dm
  code/modules/mob/living/silicon/pai/life.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/simple_animal/aquatic.dm
  code/modules/mob/living/simple_animal/bees.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/mob/living/simple_animal/constructs/constructs/cult_construct.dm
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/cat.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/lizard.dm
  code/modules/mob/living/simple_animal/friendly/rat.dm
  code/modules/mob/living/simple_animal/hostile/bat.dm
  code/modules/mob/living/simple_animal/hostile/cavern_geist.dm
  code/modules/mob/living/simple_animal/hostile/changeling.dm
  code/modules/mob/living/simple_animal/hostile/creature.dm
  code/modules/mob/living/simple_animal/hostile/faithless.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_beacon.dm
  code/modules/mob/living/simple_animal/hostile/icarus_drone.dm
  code/modules/mob/living/simple_animal/hostile/moghes.dm
  code/modules/mob/living/simple_animal/hostile/morph.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/aquatic.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/living/simple_animal/hostile/sarlacc.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/simple_animal/worm.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/shareddream/brainghost.dm
  html/changelogs/fluffyghost-lifechanges.yml
Labels: Awaiting Merge, ⚠ High Risk, Test Merge Candidate

#19576 Adds a Tretian Guild mantle
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/SimpleMaroon-tretianguildmantle.yml
  icons/mob/species/bulwark/suit.dmi
  icons/mob/species/vaurca/suit.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#19580 Adds a list of valid species per loadout item
  code/modules/client/preference_setup/loadout/loadout.dm
  html/changelogs/SimpleMaroon-loadoutspecieslistmaybe.yml
Labels: Awaiting Merge

#19559 Anomalist Alt Title For Xenoarchaeologist
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/science.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/crosarius-anomalist.yml
Labels: Awaiting Merge

#19595 Fixed relaymove blocking you in place
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movement.dm
  code/game/atom/_atom.dm
  code/game/dna/dna_modifier.dm
  code/game/gamemodes/technomancer/spells/phase_shift.dm
  code/game/gamemodes/vampire/vampire_powers.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cloning.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/suit_cycler.dm
  code/game/objects/items/devices/aicard.dm
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/devices/paicard.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/statue.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/stool_bed_chair_nest/wheelchair.dm
  code/game/objects/structures/trash_pile.dm
  code/modules/cooking/machinery/gibber.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/holidays/christmas/props.dm
  code/modules/mob/living/carbon/brain/MMI.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/overmap/ships/computers/helm.dm
  code/modules/overmap/ships/ship.dm
  code/modules/recycling/disposal.dm
  code/modules/spell_system/spells/spell_list/self/generic/ethereal_jaunt.dm
  code/modules/vehicles/animal.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/unicycle.dm
  code/modules/ventcrawl/ventcrawl_atmospherics.dm
  html/changelogs/fluffyghost-relaymovefixes.yml
Labels: Awaiting Merge, Bugfix

#19564 Expands the hivebot hub to all sectors
  html/changelogs/hazelmouse_total_hivebot_victory.yml
  maps/away/away_site/hivebot_hub/hivebot_hub.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19597 Welding Tool Surgery Fuel Usage Fix
  code/modules/surgery/robotics.dm
  html/changelogs/geeves-welding_fuel_usage_fix.yml
Labels: Awaiting Merge, Bugfix

#19551 Trap Tweaks & Fixes
  code/game/objects/items/weapons/traps.dm
  code/game/sound.dm
  code/modules/mob/living/simple_animal/hostile/sarlacc.dm
  html/changelogs/geeves-trap_tweaks.yml
Labels: Awaiting Merge, Test Merge Candidate

#19635 Fixes Siro Dead Sprite
  code/modules/mob/living/simple_animal/hostile/moghes.dm
  html/changelogs/Acetrea-SiroFix.yml
Labels: Awaiting Merge, Bugfix

#19630 Cuts Nralakk projector message frequency by half
  code/game/objects/items/skrell.dm
  code/game/objects/items/vaurca.dm
  html/changelogs/SimpleMaroon-projectorbyhalf.yml
Labels: Awaiting Merge

#19633 Fixes mob holders being unremoveable from glass jars
  code/game/objects/items/glassjar.dm
  code/modules/mob/holder.dm
  html/changelogs/SimpleMaroon-glassjarfix.yml
Labels: Awaiting Merge, Bugfix

#19626 Clan Ozeuoi Outpost-related fixes
  html/changelogs/SimpleMaroon-ozeuoioutpostfix.yml
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_ozeuoi.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_vihnmes.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19629 Adds medical pouches to the Kis-Khan hut
  html/changelogs/SimpleMaroon-kiskhanimprovements.yml
  maps/random_ruins/exoplanets/moghes/moghes_kung_fu.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19620 Warehouse submap expansion and bugfix
  html/changelogs/CourierBravo-Warehouseplusbugfix.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/submaps/ops_warehouse_small_storage.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#19619 Fixes FTC Flagpatch Shoulder Sprite
  html/changelogs/CatsinHD - FTC Flagpatch Fix.yml
  icons/clothing/kit/modular_armor_accessories.dmi
Labels: Awaiting Merge, Sprites

#19604 Hegemony Corvette/Kataphract Chapter Ship Minor Fixes/Additions
  html/changelogs/changelog.yml
  maps/away/ships/hegemony/hegemony_corvette/hegemony_corvette.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19601 Barbed Wire Barricades Fixes
  code/game/objects/structures.dm
  code/game/objects/structures/barricades/_barricade.dm
  html/changelogs/geeves-obvious_wire.yml
Labels: Awaiting Merge

#19600 Hivebot Spawn Effect Tweak
  code/game/objects/effects/chem/chemsmoke.dm
  code/game/objects/effects/effect_system.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot_harvester.dm
  html/changelogs/geeves-hivebot_spawn_effect_tweak.yml
Labels: Awaiting Merge

#19599 Hivebot Gib Reduction
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  html/changelogs/geeves-fuel_spill_cap.yml
Labels: Awaiting Merge

#19590 Gives rest of command the new IDs
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  html/changelogs/CatsinHD - Fix Command IDs.yml
Labels: Awaiting Merge

#19587 PDA Chat Improvements
  code/modules/modular_computers/NTNet/NTNRC/conversation.dm
  code/modules/modular_computers/NTNet/NTNRC/message.dm
  code/modules/modular_computers/NTNet/NTNRC/ntnrc.dm
  code/modules/modular_computers/file_system/programs/generic/ntnrc_client.dm
  html/changelogs/geeves-pda_chat_improvements.yml
  tgui/packages/tgui/interfaces/ChatClient.tsx
Labels: Awaiting Merge, TGUI

#19470 Balancing - Mining materials exports
  code/modules/cargo/exports/materials.dm
  code/modules/cargo/exports/sheets.dm
  html/changelogs/CourierBravo_and_BoomerThor.yml
Labels: Awaiting Merge, Test Merge Candidate

#19618 Hegemony waypoint
  aurorastation.dme
  html/changelogs/hazelmouse - hegemony waypoint.yml
  icons/obj/overmap/overmap_stationary.dmi
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint.dm
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint.dmm
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint.jsonc
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint_landmarks.dm
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint_submaps.dmm
  maps/away/away_site/sensor_relay/solarian_prewar/sensor_relay.dm
  maps/away/away_site/sensor_relay/solarian_prewar/sensor_relay.dmm
  maps/away/away_site/sensor_relay/solarian_prewar/sensor_relay_sprites.dmi
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19613 Moghes/Ouerea pen fixes
  html/changelogs/pen changelog.yml
  maps/random_ruins/exoplanets/moghes/moghes_diona_traders.dmm
  maps/random_ruins/exoplanets/moghes/moghes_kataphract_wasteland.dmm
  maps/random_ruins/exoplanets/moghes/moghes_siakh.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_dorviza.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_mikuetz.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_priests.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_queendom.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_freewater.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_hegemony_base.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19616 TCAF Corvette Fixes
  html/changelogs/tcaf changelog.yml
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18854 Telescience unapologetic buff
  code/__DEFINES/_macros.dm
  code/game/gamemodes/events/wormholes.dm
  code/game/objects/effects/portals.dm
  code/modules/hydroponics/seed.dm
  code/modules/mining/mine_items.dm
  code/modules/shuttles/shuttle_specops.dm
  code/modules/telesci/telesci_computer.dm
  html/changelogs/fluffyghost-teleporterscience.yml
Labels: Awaiting Merge

#19656 Fixed an href exploit in the traitor uplink
  code/game/antagonist/station/traitor.dm
  html/changelogs/fluffyghost-hrefexploitfixofthemonth.yml
Labels: Awaiting Merge, High Priority, Bugfix

#19417 Ouerea Away Site Tweaks
  html/changelogs/Lavillastrangiato - ouereafixes.yml
  maps/random_ruins/exoplanets/ouerea/ouerea_farm.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_freewater.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_hegemony_base.dm
  maps/random_ruins/exoplanets/ouerea/ouerea_hegemony_base.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_heph_mining.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_nt_ruin.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_skrell_base.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_sol_base.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19588 MoghesEats (Adds 12 new food dishes to the game of varying origins)
  code/game/objects/items/trash.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/cultural/recipes_unathi.dm
  code/modules/cooking/recipes/recipes_baked.dm
  code/modules/cooking/recipes/recipes_burger.dm
  code/modules/cooking/recipes/recipes_confections.dm
  code/modules/cooking/recipes/recipes_eggs.dm
  code/modules/cooking/recipes/recipes_noodles.dm
  code/modules/reagents/reagent_containers/food/snacks/baked.dm
  code/modules/reagents/reagent_containers/food/snacks/burger.dm
  code/modules/reagents/reagent_containers/food/snacks/confections.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/skrell.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/unathi.dm
  code/modules/reagents/reagent_containers/food/snacks/eggs.dm
  code/modules/reagents/reagent_containers/food/snacks/ingredients.dm
  code/modules/reagents/reagent_containers/food/snacks/noodles.dm
  code/modules/reagents/reagent_containers/food/snacks/pastries.dm
  html/changelogs/Tomixcomics-letmoghescook.yml
  icons/obj/item/reagent_containers/food/baked.dmi
  icons/obj/item/reagent_containers/food/burger.dmi
  icons/obj/item/reagent_containers/food/confections.dmi
  icons/obj/item/reagent_containers/food/cultural/human.dmi
  icons/obj/item/reagent_containers/food/cultural/unathi.dmi
  icons/obj/item/reagent_containers/food/egg.dmi
  icons/obj/item/reagent_containers/food/noodles.dmi
  icons/obj/trash.dmi
Labels: Review Required, Sprites

#19625 Updated the Datum Component System and dcs signals handling
  aurorastation.dme
  code/__DEFINES/dcs/flags.dm
  code/__DEFINES/dcs/helpers.dm
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__HELPERS/sorting/cmp.dm
  code/controllers/subsystems/dcs.dm
  code/controllers/subsystems/processing/dcs.dm
  code/datums/components/_component.dm
  code/datums/components/overhead_emote/overhead_emote_datum.dm
  code/datums/datum.dm
  code/datums/elements/_element.dm
  code/datums/signals.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/unathi/queendom.dm
  code/modules/background/origins/origins/unathi/traditionalist.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/living/carbon/human/species/species.dm
  html/changelogs/fluffyghost-updatedcs.yml
Labels: Awaiting Merge, ⚠ High Risk, Test Merge Candidate

#19657 Adds deck 2 Operations access back to the Corporate Reporter
  html/changelogs/SimpleMaroon-reporteroperations.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#19677 [BUGFIX] Fixes invisible Ravioli sprite
  code/modules/reagents/reagent_containers/food/snacks/noodles.dm
  html/changelogs/‏‏example - עותק.yml
Labels: Awaiting Merge, Bugfix

#19674 Borgs can now access the APCs channel configuration again
  code/modules/power/apc.dm
  html/changelogs/fluffyghost-borgapcchannels.yml
  tgui/packages/tgui/interfaces/Apc.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#19664 Fixes Hegemony Energy Rifle turning invisible
  code/modules/projectiles/guns/energy/rifle.dm
  html/changelogs/Nalarac-FixHegERifle.yml
Labels: Awaiting Merge, Bugfix

#19536 Map PDA Program - POIs
  aurorastation.dme
  code/controllers/subsystems/initialization/holomap.dm
  code/modules/holomap/poi.dm
  code/modules/modular_computers/file_system/programs/generic/map.dm
  html/changelogs/DreamySkrell-map-pois.yml
  icons/effects/map_effects.dmi
  maps/_common/areas/areas.dm
  maps/_common/areas/station/command.dm
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  tgui/packages/tgui/interfaces/Map.tsx
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon, TGUI

#19666 Fixed a runtime where a nullcheck was not present
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs/fluffyghost-fixruntime.yml
Labels: Awaiting Merge, Bugfix

#19663 Fixed traps not working
  aurorastation.dme
  code/__DEFINES/_macros.dm
  code/__DEFINES/span.dm
  code/game/objects/items/weapons/traps.dm
  html/changelogs/fluffyghost-fixtraps.yml
Labels: Awaiting Merge, Bugfix

#19670 The AI can now correctly choose between multiple shells to control
  code/controllers/subsystems/virtual_reality.dm
  html/changelogs/fluffyghost-fixmultishellai.yml
Labels: Awaiting Merge, Bugfix

#19673 A few UI tweaks to help with readability on medical scanners.
  code/game/machinery/body_scanner.dm
  html/changelogs/ASmallCuteCat-med-scanner-readability.yml
  tgui/packages/tgui/interfaces/BodyScanner.tsx
Labels: Awaiting Merge, TGUI

#19658 Fixes Arterials Not Applying Bloodloss
  code/modules/mob/living/carbon/human/human_organs.dm
  code/modules/organs/internal/heart.dm
  html/changelogs/Evandorf-Arterialbleedfix.yml
Labels: Awaiting Merge, Bugfix

#19649 Hegemony Energy Rifle Bugfix
  code/modules/projectiles/guns/energy/rifle.dm
  html/changelogs/crosarius-hegemonyriflefix.yml
Labels: Awaiting Merge, Bugfix

#19652 Event Service Role & Event Job Outfits
  code/__DEFINES/jobs.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/orion_express.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/event.dm
  code/game/jobs/jobs.dm
  code/modules/client/preference_setup/loadout/items/factions.dm
  html/changelogs/RustingWithYou - eventjob2.yml
Labels: Awaiting Merge

#19647 Intent-based sink/reagent dispenser filling
  code/game/objects/structures/watercloset.dm
  code/modules/reagents/reagent_dispenser.dm
  html/changelogs/nauticall-sink_qol.yml
Labels: Awaiting Merge

#19641 Diona-related bugfixes
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  html/changelogs/SimpleMaroon-dionapassportfix.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19639 Fixes a few Skrell xenowear items.
  code/modules/clothing/ears/xeno/skrell.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/stev-the-third-skrandanafix.yml
  icons/obj/item/clothing/head/skrell/skrell_bandana.dmi
Labels: Awaiting Merge, Sprites

#19638 Adds a Nralakk Federation zippo lighter
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/items/smoking.dm
  html/changelogs/RustingWithYou - skrippo.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/obj/cigs_lighters.dmi
Labels: Awaiting Merge, Sprites

#19610 adds a cryo console to tret industrial complex
  html/changelogs/tret cryo console changelog.yml
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19566 Temperature Pack Major Buffs
  code/modules/clothing/under/accessories/temperature.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  html/changelogs/Ben10083 - Temperature Pack.yml
Labels: Awaiting Merge

#19682 Chair-Railing Fix
  code/game/objects/structures/stool_bed_chair_nest/stools.dm
  html/changelogs/wezzy_chair_fix_morb.yml
Labels: Awaiting Merge, Bugfix

#19678 Fixes the Vaurca lunchbox k'ois roulade spawning with no reagents inside
  code/modules/reagents/reagent_containers/food/lunch.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/vaurca.dm
  html/changelogs/SimpleMaroon-koisrouladefix.yml
Labels: Awaiting Merge, Bugfix

#19699 Tips Grammar/Spelling fix
  code/datums/tips/tips.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, Bugfix

#19700 Fixes Tumors Not Being Able To Be Removed with Surgery
  code/modules/organs/subtypes/parasite/_parasite.dm
  html/changelogs/Evandorf-Tumorsurgeryfix.yml
Labels: Awaiting Merge, Bugfix

#19685 Reduces explosion radius of standstill landmines
  code/game/objects/items/weapons/landmines.dm
  html/changelogs/hazelmouse - standstills_tweak.yml
Labels: Awaiting Merge, Balance

#19683 Stubble Shadow
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/wezzy_stubble.yml
  icons/mob/human_face/facial_hair.dmi
Labels: Awaiting Merge, Sprites

#19585 Adds skin presets for Vaurcae, based on brood colors from the wiki
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/SimpleMaroon-vaurcaskinpresets.yml
Labels: Awaiting Merge

#19704 Fixes IV Tank Indicator Sprite
  html/changelogs/Evandorf-IVTankIconFix.yml
  icons/obj/iv_drip.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19579 Revert "Accessory Weight Handling"
  code/__DEFINES/accessories.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armor.dm
  html/changelogs/fluffyghost-revertaccessoryweighthandling.yml
Labels: Awaiting Merge

#19688 Fixed a runtime with crates animation when closing, update some procs
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/guncabinet.dm
  code/game/objects/structures/crates_lockers/closets/walllocker.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  html/changelogs/fluffyghost-updatefixcratesclosets.yml
Labels: Awaiting Merge

#19609 Changes mentions of New Ankara to Tabiti
  code/__DEFINES/space_sectors.dm
  code/datums/ert/outsider.dm
  code/datums/trading/trade.dm
  code/datums/trading/weaponry.dm
  code/modules/background/accent/human.dm
  code/modules/background/space_sectors/badlands.dm
  html/changelogs/Lavillastrangiato - tabiti.yml
  maps/away/away_site/big_derelict/bigderelict.dm
  maps/away/away_site/crashed_elyran_tanker/crashed_elyran_tanker.dm
  maps/away/away_site/hivebot_hub/hivebot_hub.dm
  maps/away/away_site/racers/racers.dm
  maps/away/ships/casino/casino.dm
  maps/away/ships/elyra/elyra_corvette/elyra_corvette.dm
  maps/away/ships/yacht/yacht.dm
  maps/random_ruins/exoplanets/asteroid/asteroid.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#19690 Adds Sk'akh as a religion option for Unathi Wastelanders
  code/modules/background/origins/origins/unathi/traditionalist.dm
  html/changelogs/SimpleMaroon-skakhforwastelanders.yml
Labels: Awaiting Merge

#19694 Update the position datum to the latest iteration
  code/__DEFINES/maths.dm
  code/__DEFINES/projectiles.dm
  code/datums/position_point_vector.dm
  html/changelogs/fluffyghost-updatepositiondatum.yml
Labels: Awaiting Merge, Refactor

#19617 Adds Notepads
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/paperwork/journal.dm
  html/changelogs/CatsinHD - Notepads.yml
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites

#19589 The Tree Update: Makes it easier for Dionae to color their body markings, removes hairstyles and skin tone from them, makes the tail marking into an actual tail
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/SimpleMaroon-dionacoloration.yml
  icons/mob/human_races/markings_diona.dmi
  icons/mob/species/diona/tail.dmi
Labels: Awaiting Merge, Sprites

#19586 Nerfs Ethanol Toxicity To Unathi
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  html/changelogs/crosarius-ethanoltoxicity.yml
Labels: Awaiting Merge

#19552 Produce can now be given Descriptions (+ Adhomai produce descs)
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  code/modules/hydroponics/seed_datums/misc.dm
  html/changelogs/Ben10083 - Seed Description.yml
Labels: Awaiting Merge

#19654 TCAF Loadout Additions
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/tcaf hat additions changelog.yml
  icons/obj/clothing/suits.dmi
Labels: Awaiting Merge, Sprites

#19643 Offship Cameras
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  html/changelogs/DreamySkrell-offship-cameras.yml
Labels: Awaiting Merge

#19665 Diona nymphs can now run correctly
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/fluffyghost-dionnympharunfixes.yml
Labels: Awaiting Merge

#19660 Adds a Hieroaetherian nation cape, allows Hieroaetherian Skrell to wear Hieroaetherian items, etc
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/clothing/under/accessories/xeno/skrell.dm
  html/changelogs/SimpleMaroon-hieroaetherianskrell.yml
  icons/obj/item/clothing/accessory/poncho/nationcapes.dmi
Labels: Awaiting Merge, Sprites

#19703 Taj Smuggler Fixes
  html/changelogs/Tajaransmugglerpipes.yml
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19707 Some bugfixes.
  code/game/machinery/doors/blast_door.dm
  code/modules/admin/buildmode/buttons.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/shieldgen/shield_gen_external.dm
  html/changelogs/mattatlas-bugfixes.yml
Labels: Awaiting Merge, Bugfix

#19644 Multi-z away site exoplanet generation
  html/changelogs/DreamySkrell-multiz-exoplanet-generation.yml
  maps/_common/mapsystem/map.dm
  maps/away_sites_testing/away_sites_testing.dm
Labels: Awaiting Merge

#19640 Adds Eridani drinks (burukutu, ogogoro, zobo)
  code/game/machinery/vending_types.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/Pirouette-EridaniDrinks.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/drinks/bottle.dmi
Labels: Awaiting Merge, Sprites

#19671 Creates a framework for per-faction Alt Titles
  code/game/jobs/job/job.dm
  code/game/jobs/job/outsider/representative.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  html/changelogs/flaminglily-factiontitle.yml
Labels: Awaiting Merge

#19484 Revert "Stairs are Dangerous"
  code/game/objects/items/bodybag.dm
  code/game/objects/objs.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/multiz/structures.dm
  html/changelogs/mattatlas-stairrevert.yml
Labels: Review Required

#19672 Updated progress bar datum to the latest iteration
  code/__HELPERS/atoms.dm
  code/__HELPERS/unsorted.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/progressbar.dm
  code/game/objects/items/devices/memorywiper.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  html/changelogs/fluffyghost-updateprogressbar.yml
Labels: Awaiting Merge, Refactor

#19701 Adds culture/origins for the Underhive Collective
  aurorastation.dme
  code/__DEFINES/background.dm
  code/modules/background/accent/diona.dm
  code/modules/background/origins/origins/diona/eridani.dm
  code/modules/background/origins/origins/diona/underhive.dm
  html/changelogs/SimpleMaroon-underhivecollective.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#19725 Stops disposal units from sucking people in
  code/modules/recycling/disposal.dm
  html/changelogs/flaminglily-trash.yml
Labels: Awaiting Merge, Bugfix

#19722 Fixes Solarian Colonial Mandate of Tau Ceti Banner Icons and Sprites
  code/game/objects/structures/flags_banners.dm
  html/changelogs/Acetrea-solmandateflagfix.yml
Labels: Awaiting Merge, Bugfix

#19721 Fixed cryopods causing an harddel on mobs
  code/game/machinery/cryopod.dm
  code/modules/admin/verbs/debug.dm
  html/changelogs/fluffyghost-fixcryopodharddel.yml
Labels: Awaiting Merge, Bugfix

#19706 Extended list viewer now has an edit button
  code/modules/admin/verbs/viewlist.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
  html/changelogs/fluffyghost-empowerextendedlistviewer.yml
  tgui/packages/tgui/interfaces/ListViewer.tsx
Labels: Awaiting Merge, TGUI

#19627 Tarwa Conglomerate Ship Remap
  code/game/machinery/suit_cycler_units.dm
  html/changelogs/tarwa changelog.yml
  maps/away/ships/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site
