Repository Aurorastation/Aurora.3, pull requests merged in 2024-09, with the labels that each got.

#19855 Changed minimum IPC heights to reflect lore
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/GeneralCamo - IPC Minimum Height.yml
Labels: Awaiting Merge

#19831 Shuttle Helpers - Encryption Keys and Bugfix
  html/changelogs/courierbravo-helper-shuttle-encryption.yml
  maps/helpers/event_shuttles/sccv_apollo_v1.dmm
  maps/helpers/event_shuttles/sccv_apollo_v2.dmm
  maps/helpers/event_shuttles/sccv_apollo_v3.dmm
  maps/helpers/event_shuttles/sccv_artemis.dmm
  maps/helpers/event_shuttles/sccv_packrat.dmm
Labels: Awaiting Merge

#19858 Aayun Kaiser's Custom Suit - New Paintjob
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/customitems/item_defines.dm
  html/changelogs/nauticall-aayun_suit_mod.yml
  icons/obj/custom_items/aayun_suit.dmi
Labels: Awaiting Merge, Sprites

#19845 Speed modifiers
  aurorastation.dme
  code/__DEFINES/_flags.dm
  code/__DEFINES/chemistry.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/movespeed_modification.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/lists/mobs.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/technomancer/spells/modifier/haste.dm
  code/game/objects/items.dm
  code/modules/admin/callproc/callproc.dm
  code/modules/cargo/delivery/backpack.dm
  code/modules/cargo/delivery/package.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/shoes/magboots.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/intoxication.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/silicon/robot/robot_movement.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/movespeed/_movespeed_modifier.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/movespeed/modifiers/reagents.dm
  code/modules/movespeed/modifiers/spells.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/fluffyghost-movespeedmodifiers.yml
Labels: Awaiting Merge, Refactor, Test Merge Candidate

#19865 skin.dmf DME Check
  aurorastation.dme
  tools/validate_dme.py
Labels: Awaiting Merge, Changelog Required, Python, Tools

#19862 Tajara prosthetic tails
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/clothing/tail_accessory.dm
  html/changelogs/greenjoe12345-tails.yml
  icons/clothing/tail/taj_flexible_prosthetic.dmi
  icons/clothing/tail/taj_solid_prosthetic.dmi
  icons/clothing/tail/taj_tesla_prosthetic.dmi
Labels: Awaiting Merge, Sprites

#19857 Adds Blue Alert and Radiation Alert statuses to Command Program
  html/changelogs/Ben10083 - Status Display.yml
  tgui/packages/tgui/interfaces/CommandCommunications.tsx
Labels: Awaiting Merge, TGUI

#19859 Allows Corporate Reporters to take Ve'katak Phalanx augments
  code/modules/client/preference_setup/loadout/items/augments.dm
  html/changelogs/SimpleMaroon-vekatakcorporatereporters.yml
Labels: Awaiting Merge

#19868 Kataphract bugfixes
  html/changelogs/hazelmouse-katafixes.yml
  maps/away/ships/kataphracts/kataphract_ship.dm
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19867 The Great Sticker Update
  aurorastation.dme
  code/game/objects/items/sticker.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/stickersheets.dm
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/cargo/random_stock/t2_uncommon.dm
  code/modules/client/preference_setup/loadout/items/toy.dm
  html/changelogs/courierbravo-stickers.yml
  icons/obj/sticker.dmi
  maps/away/ships/scc/scc_scout_ship.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19832 Personal shields can now remain active while put back in the belt
  code/game/objects/items/devices/personal_shield.dm
  html/changelogs/fluffyghost-personalshieldunshitting.yml
Labels: Awaiting Merge, Balance

#19866 TCAF Corvette Docking Fixes & Tweaks
  html/changelogs/Ben10083 - TCAF Fixes.yml
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19871 Database Freighter Docking/Pipe fix
  html/changelogs/Ben10083 - Database Docking.yml
  maps/away/ships/pra/database_freighter/database_freighter.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19848 Lone Spacer offship
  aurorastation.dme
  code/__DEFINES/access.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/largecrate.dm
  html/changelogs/hazelmouse-lonespacer.yml
  icons/obj/overmap/overmap_ships.dmi
  maps/away/ships/lone_spacer/lone_spacer.dm
  maps/away/ships/lone_spacer/lone_spacer.dmm
  maps/away/ships/lone_spacer/lone_spacer.jsonc
  maps/away/ships/lone_spacer/lone_spacer_areas.dm
  maps/away/ships/lone_spacer/lone_spacer_ghostroles.dm
  maps/away/ships/lone_spacer/lone_spacer_landmarks.dm
  maps/away/ships/lone_spacer/lone_spacer_submaps.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19874 Removes template flag from Lone Spacer offship
  html/changelogs/hazelmouse-lonespacerfix.yml
  maps/away/ships/lone_spacer/lone_spacer.dm
Labels: Review Required, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19679 Adds colorable hazard vests to the loadout
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/hazardvests.dm
  html/changelogs/SimpleMaroon-colorablehazardvests.yml
  icons/mob/clothing/suit/hazardvest.dmi
Labels: Awaiting Merge, Sprites

#19854 Allows Bridge Crew to take Ve'katak Phalanx augments
  code/modules/client/preference_setup/loadout/items/augments.dm
  html/changelogs/SimpleMaroon-vekatakbridgecrew.yml
Labels: Awaiting Merge

#19870 Replaces outdated Tajaran political books with versebooks
  code/datums/outfits/ert/kosmostrelki.dm
  code/datums/trading/misc.dm
  code/game/objects/items/devices/versebook.dm
  code/game/objects/items/weapons/manuals.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  html/changelogs/Ben10083 - Versebooks.yml
  icons/mob/items/lefthand_books.dmi
  icons/mob/items/righthand_books.dmi
  icons/obj/library.dmi
  maps/away/away_site/abandoned_mining/cursed.dmm
  maps/away/away_site/romanovich/grand_romanovich.dmm
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
  maps/away/away_site/tajara/pra_satellite/pra_satellite.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_fallout_bunker.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_silo.dmm
  maps/random_ruins/exoplanets/adhomai/ala_base.dmm
  maps/random_ruins/exoplanets/adhomai/nka_base.dmm
  maps/random_ruins/exoplanets/adhomai/pra_base.dmm
  maps/random_ruins/exoplanets/adhomai/psis_outpost.dmm
  maps/random_ruins/exoplanets/biesel/pra_camp_site.dmm
  texts/ingame_manuals/almariism.txt
  texts/ingame_manuals/hadiism.txt
  texts/ingame_manuals/royalism.txt
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Event, 🗺️ Mapping - Random Ruins

#19844 Gloves Stuff
  code/modules/client/preference_setup/loadout/items/gloves.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/gloves/stungloves.dm
  html/changelogs/geeves-gloves_stuff.yml
  icons/clothing/gloves/multi_color.dmi
  icons/clothing/gloves/single.dmi
Labels: Awaiting Merge, Sprites

#19835 Updated the callback datum
  aurorastation.dme
  code/__DEFINES/_common.dm
  code/__DEFINES/callbacks.dm
  code/__HELPERS/mobs.dm
  code/datums/callback.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/fluffyghost-updatecallbackdatum.yml
Labels: Awaiting Merge, Refactor, Test Merge Candidate

#19818 Balance - Makes Pharmacy Vending Machine Basics Free
  code/game/machinery/vending_types.dm
  html/changelogs/hansolo-pharmacy-basics-free.yml
Labels: Awaiting Merge

#19794 Harvestable Carpotoxin
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/carp.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/hakhma.dm
  code/modules/mob/living/simple_animal/friendly/schlorrgo.dm
  code/modules/mob/living/simple_animal/hostile/space_fauna.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/reagent_containers.dm
  html/changelogs/ASmallCuteCat - carp-diem.yml
Labels: Awaiting Merge

#19860 AI Programs such as Command and Communications now work
  code/modules/modular_computers/computers/subtypes/dev_silicon_subtypes.dm
  code/modules/modular_computers/file_system/programs/command/command_and_communications.dm
  code/modules/modular_computers/file_system/programs/command/docks.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/modular_computers/file_system/programs/security/guntracker.dm
  code/modules/modular_computers/file_system/programs/security/implant_tracker.dm
  html/changelogs/Ben10083 - AI Program Fixes.yml
Labels: Review Required, Bugfix

#19905 Removes Sparta from being mentioned in Imperial Core Worlds origin.
  code/modules/background/origins/origins/human/dominia.dm
  html/changelogs/ShimmerIsTaken - Sparta1984.yml
Labels: Awaiting Merge

#19891 Fixed a runtime on deletion of paper stacks due to erroneous conversion of datum bracket access
  code/modules/paperwork/paper_bundle.dm
  html/changelogs/fluffyghost-fixpaperstackremovalruntime.yml
Labels: Awaiting Merge, Bugfix

#19893 Fixes the Hegemony Navy away ship being visible if no crew for it have spawned.
  html/changelogs/Snowy1237-HegemonyNavyShipFix.yml
  maps/away/ships/hegemony/hegemony_corvette/hegemony_corvette.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19917 Zavod shuttle now spawns on overmap
  html/changelogs/hazelmouse-zavodshuttle.yml
  maps/away/away_site/zavod_shuttle_destroyed/zavod_shuttle_destroyed.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19920 Orion Express Ship Minor Fixes
  html/changelogs/Ben10083 - Orion Ship.yml
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Review Required, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19911 Adds the Ta star cape that was missing from the loadout
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/SimpleMaroon-starcapeloadout.yml
Labels: Awaiting Merge

#19895 Short EAL
  code/modules/mob/language/language.dm
  code/modules/mob/language/station.dm
  html/changelogs/geeves-short_eal.yml
Labels: Awaiting Merge

#19894 Fluff paper tweaks
  code/modules/paperwork/paper.dm
  html/changelogs/fluffyghost-fluffpapertweak.yml
  maps/away/ships/freebooter/freebooter_ship_.dm
  maps/away/ships/freebooter/freebooter_ship_submaps.dmm
  maps/event/idris_cruise/code/idris_cruise.dm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/code/rooftop.dm
  maps/event/rooftop/rooftop-1.dmm
  tools/maplint/lints/paper_fluff.yml
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Event, Tools

#19886 Adds IPCs to certain ghostroles
  html/changelogs/morespecies-hazelmouse.yml
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
  maps/away/ships/coc/coc_ranger/coc_ship_ghostroles.dm
  maps/away/ships/elyra/elyra_corvette/elyra_corvette.dmm
  maps/away/ships/elyra/elyra_corvette/elyra_corvette_ghostroles.dm
  maps/away/ships/orion/orion_express_ship_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19880 The Ve'katak Phalanx Hivenet receiver messages are now visible/audible
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/SimpleMaroon-hivenetreceivertwitch.yml
Labels: Awaiting Merge

#19879 Value Reorganization
  aurorastation.dme
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  code/game/objects/items/weapons/material/material_weapons.dm
  code/game/objects/items/weapons/material/misc.dm
  code/game/objects/items/weapons/material/swords.dm
  code/game/objects/items/weapons/material/thrown.dm
  code/game/objects/items/weapons/material/twohanded.dm
  code/modules/item_worth/material_weapons.dm
  code/modules/item_worth/materials.dm
  code/modules/item_worth/reagents.dm
  code/modules/materials/materials.dm
  code/modules/reagents/Chemistry-Reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Awaiting Merge, Changelog Required

#19890 Nano printers (computer component) will now refuse papers that are already written onto.
  code/modules/modular_computers/hardware/nano_printer.dm
  code/modules/paperwork/paper.dm
  html/changelogs/fluffyghost-nanoprinterpapers.yml
Labels: Awaiting Merge

#19881 Resprites the SAF IPC Fatigues to make them lore accurate
  html/changelogs/CometBlaze-saf_auxiliary_drip.yml
  icons/clothing/under/uniforms/sol_uniform.dmi
Labels: Awaiting Merge, Sprites

#19882 Adds radio channels to the Badlands
  code/modules/background/space_sectors/badlands.dm
  html/changelogs/hazelmouse-badlandsradio.yml
  texts/lore_radio/badlands/72.9_Nowa_Bratislava_Independent_Radio.txt
  texts/lore_radio/badlands/83.6_Shipping_Radio_Traffic.txt
  texts/lore_radio/badlands/86.2_Shipping_Advisory_Channel.txt
  texts/lore_radio/badlands/91.1_Morozian_Classics.txt
Labels: Awaiting Merge

#19763 Synthetic Loadout Stuff
  code/controllers/subsystems/job.dm
  code/game/jobs/job/job.dm
  code/game/jobs/job/silicon.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  html/changelogs/geeves-ai_loadout_fixes.yml
Labels: Awaiting Merge

#19892 New TCAF Legionnaire Hardsuit
  code/modules/clothing/spacesuits/rig/suits/combat.dm
  html/changelogs/Ben10083 - TCAF Hardsuit.yml
  icons/clothing/rig/tcaf_legionnaire.dmi
  icons/mob/light_overlays.dmi
Labels: Awaiting Merge, Sprites

#19843 Zeng-hu frames can be played in security
  code/game/jobs/job/security.dm
  html/changelogs/hazelmouse-securityofunusualspeed.yml
Labels: Awaiting Merge

#19788 Adds method for choosing friends that psi ability mirror shades won't attack
  code/modules/psionics/abilities/mirror_shade.dm
  html/changelogs/alaunuslux-pick-mirror-shade-friends.yml
Labels: Awaiting Merge

#19928 Fix molotovs
  code/modules/detectivework/tools/rag.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/fluffyghost-fixmolotovs.yml
Labels: Awaiting Merge, Bugfix

#19930 Fixes a few gun inhands
  code/modules/projectiles/guns/projectile/automatic.dm
  html/changelogs/hazelmouse-inhands.yml
  icons/obj/guns/xanu_rifle.dmi
  icons/obj/guns/xanu_shotgun.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19288 Various VV work and fixes
  aurorastation.dme
  code/__DEFINES/_flags.dm
  code/__DEFINES/vv.dm
  code/datums/datum.dm
  code/datums/datumvars.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/view_variables/helpers.dm
  code/modules/admin/view_variables/topic.dm
  code/modules/admin/view_variables/view_variables.dm
  html/changelogs/fluffyghost-vvandfixes.yml
Labels: Awaiting Merge

#19949 Federation Skrell can no longer pick Hieroaetherian citizenship
  code/__DEFINES/background.dm
  html/changelogs/kermit-citizenshipsnralakkfix.yml
Labels: Awaiting Merge, Bugfix

#19935 Fixes a few incorrect fore dirs
  code/modules/overmap/ships/ship.dm
  html/changelogs/hazelmouse-dirshenanigans.yml
  maps/away/away_site/tajara/scrapper/scrapper.dm
  maps/away/ships/dpra/hailstorm/hailstorm_ship.dm
  maps/away/ships/sol/sol_merc/fsf_patrol_ship.dm
  maps/away/ships/sol/sol_pirate/sfa_patrol_ship.dm
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19932 TCAF Tajara helmet fix
  html/changelogs/hazelmouse-bieselcatfix.yml
  icons/obj/clothing/voidsuit/tcaf.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19936 Revert "Flags are now opaque when deployed, blocking the view"
  code/game/objects/structures/flags_banners.dm
Labels: Changelog Required, Review Required

#19940 Fixes UI navigation in engineering power-monitor program
  code/modules/modular_computers/file_system/programs/engineering/powermonitor.dm
  html/changelogs/fabiank3-bugfix-powermonitor-program-navigation.yml
Labels: Awaiting Merge, Bugfix

#19941 Fixes the SSRM ship voidsuits and shuttle dock
  html/changelogs/Snowy1237-SolShipVoidsuitFix.yml
  maps/away/ships/sol/sol_ssmd/ssmd_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19948 Prevents IPCs from licking bowls clean
  code/modules/cooking/plates.dm
  html/changelogs/hazelmouse-baselinewithatongue.yml
Labels: Awaiting Merge, Bugfix

#19952 Makes unreinforced windows visible
  code/game/objects/structures/window.dm
  html/changelogs/hazelmouse-thistookHOWlong.yml
  icons/obj/structure/window/window_panes.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19951 Greimorian queen bugfixes
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/hazelmouse-bigbugfixes.yml
  icons/mob/npc/spider_queen.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19925 Adds uniforms for Nexus Corporate Security
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/factions/pmcg.dm
  code/modules/clothing/suits/labcoat.dm
  html/changelogs/CometBlaze-nexus_drip.yml
  icons/obj/item/clothing/department_uniforms/medical.dmi
  icons/obj/item/clothing/department_uniforms/security.dmi
  icons/obj/item/clothing/suit/storage/toggle/labcoat.dmi
Labels: Awaiting Merge, Sprites

#19915 icon_state QoL improvements
  code/modules/clothing/glasses/glasses.dm
  html/changelogs/hazelmouse-fixediconstates.yml
  icons/clothing/eyes/goon_goggles.dmi
  icons/obj/guns/bloodpike.dmi
  icons/obj/guns/himeo_blaster.dmi
  icons/obj/guns/himeo_pistol.dmi
  icons/obj/guns/nralakkpistol.dmi
  icons/obj/guns/nralakksmg.dmi
  icons/obj/guns/scythe.dmi
  icons/obj/item/clothing/eyes/safety.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#19927 Adds an autocannon ship gun
  aurorastation.dme
  code/__DEFINES/ship_weapons.dm
  code/modules/overmap/ship_weaponry/weaponry/autocannon.dm
  html/changelogs/hazelmouse-autocannon.yml
  icons/obj/guns/ship/ship_ammo_autocannon.dmi
  icons/obj/machinery/ship_guns/autocannon.dmi
Labels: Review Required, Sprites

#19947 Fixes Lunan accent bug in character creation
  code/modules/background/origins/origins/ipc/megacorporate.dm
  html/changelogs/hazelmouse_luna1.yml
Labels: Awaiting Merge, Bugfix

#19942 PDA Charging Tweak
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/computers/modular_computer/power.dm
  html/changelogs/geeves-pda_charging.yml
Labels: Awaiting Merge, Bugfix

#19946 Unique sprites for the templeist versebook
  code/game/objects/items/devices/versebook.dm
  html/changelogs/hazelmouse-book.yml
  icons/mob/items/lefthand_books.dmi
  icons/mob/items/righthand_books.dmi
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites

#19962 Fixed a bug where lists with number-only elements were not displaying
  code/modules/admin/verbs/viewlist.dm
  code/modules/admin/view_variables/view_variables.dm
  html/changelogs/fluffyghost-vvlistfixes.yml
Labels: Awaiting Merge, Bugfix

#19420 Schlorrgo Powercreep
  code/modules/mob/living/simple_animal/friendly/adhomai.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/friendly/schlorrgo.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  code/modules/reagents/reagent_containers/food/snacks/eggs.dm
  html/changelogs/Ben10083 Schlorrgo Buffs.yml
  maps/random_ruins/exoplanets/adhomai/adhomai_schlorrgo_cage.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_tunneler_nest.dm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19959 More Sol recon ship fixes.
  html/changelogs/Snowy1237-SolShipAssortedFixes.yml
  maps/away/ships/sol/sol_ssmd/ssmd_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19931 SFA ship fixes and rebalance.
  html/changelogs/shimmeristaken - sfixes.yml
  maps/away/ships/sol/sol_pirate/sfa_patrol_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19933 Gadpathur Patrol Corvette Update
  html/changelogs/furrycactus - gadpathur corvette update.yml
  maps/away/ships/coc/gadpathur_patrol/gadpathur_patrol.dm
  maps/away/ships/coc/gadpathur_patrol/gadpathur_patrol.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19529 Life Could Be A Dream: Adds Vaurca Attendant as a Warrior subspecies
  code/__DEFINES/species.dm
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/orion_express.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  html/changelogs/SimpleMaroon-livvecouldbeadream.yml
  icons/mob/human_face/eyes.dmi
  icons/mob/human_races/vaurca/r_vaurcab.dmi
  icons/mob/human_races/vaurca/r_vaurcabb.dmi
  icons/mob/species/vaurca/tail.dmi
Labels: Awaiting Merge, Changes Required, Sprites

#19877 TCAF Corvette Remap
  aurorastation.dme
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/clothing/factions/biesel.dm
  code/modules/clothing/gloves/miscellaneous.dm
  code/modules/clothing/suits/miscellaneous.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  html/changelogs/hazelmouse-tcafcorvette.yml
  icons/clothing/head/pilot_helmets.dmi
  icons/clothing/suits/coats/tcaf_coat.dmi
  icons/clothing/under/uniforms/tcaf_uniform.dmi
  icons/mob/suit.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/overmap/overmap_ships.dmi
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_areas.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_ghostroles.dm
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_landmarks.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site
