Repository Aurorastation/Aurora.3, pull requests merged in 2024-06, with the labels that each got.

#19280 Aim Intent Safety Fix
  code/modules/projectiles/targeting/targeting_triggers.dm
  html/changelogs/geeves-aim_intent_safety_fix.yml
Labels: Awaiting Merge, Bugfix

#19283 Fixed the gauss highex projectile from runtiming
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/fluffyghost-gausshighexruntimefix.yml
Labels: Awaiting Merge, Bugfix

#19289 Slime core mob selection fix
  code/modules/mob/living/simple_animal/aquatic.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/aquatic.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/fluffyghost-fixslimecorespawn.yml
Labels: Awaiting Merge, Bugfix

#19290 Fixed changing specie for a mob to throw him into the void until relo…
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/simple_animal/hostile/ipc_zombie.dm
  html/changelogs/fluffyghost-fixspeciechangedarkness.yml
Labels: Awaiting Merge, Bugfix

#19291 Fixed RIG constructor sound when using some tools
  code/modules/clothing/spacesuits/rig/rig_construction.dm
  html/changelogs/fluffyghost-fixrigconstructiontoolsound.yml
Labels: Awaiting Merge, Bugfix

#19292 Alien Sleep Fixes
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca.dm
  code/modules/mob/mob.dm
  html/changelogs/alien-sleep-fixes.yml
Labels: Awaiting Merge, Bugfix

#19295 Messa Banner Description Fix
  code/game/objects/structures/flags_banners.dm
  code/modules/mob/living/say.dm
  html/changelogs/Ben10083 - Messa Spellfix.yml
Labels: Awaiting Merge, Bugfix

#19209 APC improvements, powersinks empowering, APC maplint
  code/__DEFINES/global.dm
  code/controllers/subsystems/machinery.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/powersink.dm
  code/modules/power/apc.dm
  html/changelogs/fluffyghost-apcimprovements.yml
  maps/aurora/aurora-3_sublevel.dmm
  maps/away/away_site/tajara/mining_jack/mining_jack.dmm
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
  maps/away/away_site/tajara/scrapper/scrapper.dmm
  maps/away/ships/coc/coc_ranger/coc_ship.dmm
  maps/away/ships/coc/coc_scarab/coc_scarab_deck_2.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/golden_deep/golden_deep_merchant.dmm
  maps/away/ships/hegemony/merchants_guild/merchant_freighter.dmm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dmm
  maps/away/ships/konyang/water_barge/water_barge.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
  maps/away/ships/orion/orion_express_ship.dmm
  maps/away/ships/sol/sol_pirate/sfa_patrol_ship.dmm
  maps/away/ships/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
  maps/dungeon_spawns/vannatusk_unique.dmm
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dmm
  maps/random_ruins/exoplanets/crashed_pod/crashed_pod.dmm
  maps/random_ruins/exoplanets/uueoaesa/heph_mining_station.dmm
  maps/random_ruins/exoplanets/uueoaesa/miners_guild_outpost.dmm
  maps/random_ruins/exoplanets/uueoaesa/sol_listening_post.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
  tools/maplint/lints/apc_noabstracttype.yml
  tools/maplint/lints/apc_varedits.yml
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, Test Merge Candidate, 🗺️ Mapping - Horizon, 🗺️ Mapping - Away Ship/Away Site, Tools, Mapping: Aurora, 🗺️ Mapping - Dungeon, 🗺️ Mapping - Random Ruins

#19284 Fixed background inventory screens not being clickable
  code/__DEFINES/layers.dm
  code/_onclick/hud/screen_objects.dm
  code/game/objects/items/weapons/storage/storage.dm
  html/changelogs/fluffyghost-fixbackgroundinventoryscreens.yml
Labels: Review Required, Waiting Period

#19287 Fixes attempting surgery firing instead of normal actions
  code/__DEFINES/flags.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/surgery/surgery.dm
  html/changelogs/cuffs-arent-surgery.yml
Labels: Awaiting Merge, Bugfix

#19281 3 Second Timers
  code/modules/assembly/timer.dm
  html/changelogs/three-seconds.yml
Labels: Review Required, Waiting Period

#19273 Cleaned up the examination code
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/game/atom/atom_examine.dm
  code/game/atoms.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/objects/items/weapons/implants/implants/circuit.dm
  code/game/objects/items/weapons/tape.dm
  code/modules/heavy_vehicle/components/_components.dm
  code/modules/heavy_vehicle/components/arms.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/components/head.dm
  code/modules/heavy_vehicle/components/legs.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/mob/abstract/freelook/eye.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/simple_animal/illusion.dm
  code/modules/overmap/ship_weaponry/_ship_gun.dm
  html/changelogs/fluffyghost-examinationcleanup.yml
Labels: Review Required, Waiting Period

#19274 Refactored the machinery operable procs
  code/game/gamemodes/malfunction/newmalf_ability_trees/tree_manipulation.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/computer.dm
  code/game/machinery/computer/pod.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/machinery/machinery.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/telecomms/machines/message_server.dm
  code/game/machinery/telecomms/telecommunications.dm
  code/modules/atmospherics/components/binary_devices/oxyregenerator.dm
  code/modules/holodeck/HolodeckControl.dm
  code/modules/overmap/ships/computers/ship.dm
  code/modules/power/apc.dm
  code/modules/power/fusion/fuel_assembly/fuel_injector.dm
  code/modules/power/fusion/kinetic_harvester.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/research/xenoarchaeology/tools/suspension_generator.dm
  html/changelogs/fluffyghost-machineryoperable.yml
Labels: Refactor, Review Required, Waiting Period

#19241 Refactored item equipement observable away
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_object/signals_object.dm
  code/datums/observation/equipped.dm
  code/game/objects/items.dm
  code/modules/cooking/trays.dm
  code/modules/mob/living/carbon/human/inventory.dm
  html/changelogs/fluffyghost-itemequipmentobservableaway.yml
Labels: Awaiting Merge, Refactor

#19264 Refactored the mecha fabricator
  code/game/machinery/mecha_fabricator.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/fluffyghost-mechafabrefactor.yml
  nano/templates/mechfab.tmpl
Labels: Awaiting Merge, Refactor

#19216 Rig maintenance panel pryable
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/power/power.dm
  html/changelogs/fluffyghost-hardsuitpryable.yml
Labels: Awaiting Merge

#19143 Ports status display smooth scrolling, icon, and font from /tg/station
  code/__DEFINES/color.dm
  code/__DEFINES/lighting.dm
  code/game/machinery/status_display.dm
  code/game/machinery/status_display_snowflakes.dm
  html/changelogs/GeneralCamo - Status Display.yml
  icons/obj/status_display.dmi
Labels: Awaiting Merge, Sprites

#19195 Jumping Over Mines
  code/game/objects/items/weapons/landmines.dm
  code/game/objects/items/weapons/traps.dm
  html/changelogs/geeves-jumping_over_mines.yml
Labels: Awaiting Merge

#19293 Fixed bedsheet bin taking the gripper away from a borg
  code/game/objects/structures/bedsheet_bin.dm
  html/changelogs/fluffyghost-fixbedsheetgripper.yml
Labels: Awaiting Merge, Bugfix

#19181 Morphine/Tramarine Tweaks
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/Acetrea-Morphinetweaks.yml
Labels: Awaiting Merge, Update Wiki

#19259 Body scan implant tweak
  code/game/machinery/body_scanner.dm
  html/changelogs/fluffyghost-scannerimplanttweaks.yml
Labels: Awaiting Merge

#19296 Fixes Vaurca Gyne leg/foot being misaligned on sprite
  html/changelogs/SimpleMaroon-gynelegfix.yml
  icons/mob/human_races/vaurca/r_vaurcac.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19210 Makes wrist item sprites contained
  code/modules/clothing/wrists/watches.dm
  code/modules/clothing/wrists/wrists.dm
  html/changelogs/SimpleMaroon-containedwristsprites.yml
  icons/mob/items/clothing/lefthand_wrists.dmi
  icons/mob/items/clothing/righthand_wrists.dmi
  icons/mob/species/bulwark/wrist.dmi
  icons/mob/wrist.dmi
  icons/obj/clothing/wrists.dmi
  icons/obj/item/clothing/wrists/wrist.dmi
Labels: Awaiting Merge, Sprites

#19301 fixes k'lax rockstone cape bug
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/vaurcagynerockstonefix.yml
Labels: Awaiting Merge, Bugfix

#19252 Adds a new mullet hairstyle
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/mullet.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#18986 Uueoa-Esa, Part 5: Away Sites
  aurorastation.dme
  html/changelogs/RustingWithYou - uueoa_sites.yml
  maps/away/away_site/uueoaesa/omgolo/omgolo_smuggler.dm
  maps/away/away_site/uueoaesa/omgolo/omgolo_smuggler.dmm
  maps/away/away_site/uueoaesa/omgolo/omgolo_tourist.dm
  maps/away/away_site/uueoaesa/omgolo/omgolo_tourist.dmm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dmm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation_areas.dm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19054 Tret Industrial Complex + Away Site Exoplanet Generation
  aurorastation.dme
  code/game/turfs/unsimulated/floor.dm
  code/modules/atmospherics/he_pipes.dm
  code/modules/clothing/shoes/xeno/vaurca.dm
  code/modules/effects/map_effects/window_spawner.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/biomes/_biome.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/themes/_theme.dm
  html/changelogs/DreamySkrell-tret.yml
  maps/_common/mapsystem/map.dm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex.dmm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_.dm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_areas.dm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_ghostroles.dm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_landmarks.dm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_theme.dm
  maps/away/away_sites.dm
  maps/away_sites_testing/away_sites_testing.dm
Labels: Review Required, 🗺️ Mapping - Away Ship/Away Site

#18814 Fluff examine fix
  code/game/atom/atom_examine.dm
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  code/game/gamemodes/technomancer/spell_objs.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/slide_projector.dm
  code/game/objects/items/holomenu.dm
  code/game/objects/items/lore_radio.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/implants/implants/circuit.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/items/weapons/tape.dm
  code/game/objects/objs.dm
  code/game/objects/structures/ECD.dm
  code/game/objects/structures/noticeboard.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/game/objects/structures/therapy.dm
  code/modules/assembly/bomb.dm
  code/modules/clothing/spacesuits/rig/rig.dm
  code/modules/clothing/wrists/watches.dm
  code/modules/detectivework/tools/evidencebag.dm
  code/modules/integrated_electronics/core/assemblies/clothing.dm
  code/modules/integrated_electronics/core/device.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/mob/abstract/freelook/eye.dm
  code/modules/mob/examinations.dm
  code/modules/mob/holder.dm
  code/modules/mob/living/silicon/robot/items/gripper.dm
  code/modules/mob/living/silicon/robot/items/robot_tools.dm
  code/modules/mob/living/simple_animal/hostile/morph.dm
  code/modules/mob/living/simple_animal/illusion.dm
  code/modules/modular_computers/computers/modular_computer/interaction.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/overmap/ship_weaponry/_ship_gun.dm
  code/modules/psionics/abilities/mirror_shade.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/weather/_weather.dm
  html/changelogs/GeneralCamo - Fluff Examine fix.yml
  maps/random_ruins/exoplanets/moghes/moghes_memorial.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_tomb.dm
  maps/random_ruins/exoplanets/ouerea/ouerea_rev_memorial.dm
  maps/random_ruins/exoplanets/uueoaesa/izweski_probe.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19306 Altered Trawler Crewman Whitelist Requirements
  html/changelogs/Evandorf-TrawlerTweaks.yml
  maps/away/ships/hegemony/fishing_trawler/fishing_league_trawler.dm
  maps/away/ships/hegemony/fishing_trawler/fishing_league_trawler_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19300 Coat Rack Removal Fix
  code/game/objects/structures/coatrack.dm
  html/changelogs/coat-rack-fix.yml
Labels: Awaiting Merge, Bugfix

#19299 Fixes airless digsite interior
  html/changelogs/digsite-air-fix.yml
  maps/random_ruins/exoplanets/asteroid/digsite/digsite_unique.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19285 Chatlog tweaks: fix-chat/reconnects no longer wipe log; and a higher max message limit
  html/changelogs/lly-log_stuff.yml
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
Labels: Awaiting Merge, Javascript, TGUI

#19282 Slight refactor and improvement of the hands inventory handling
  code/modules/clothing/spacesuits/rig/rig_attackby.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/silicon/silicon_procs.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/fluffyghost-improveinventoryhandshandling.yml
Labels: Awaiting Merge, Refactor

#19312 Fixes mobspam and incorrect species requirements on Moghes
  code/modules/mob/living/simple_animal/hostile/moghes.dm
  html/changelogs/RustingWithYou - uueoafixes.yml
  maps/random_ruins/exoplanets/moghes/moghes_skakh.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19319 PRA Mining Camp Medkit Fix
  html/changelogs/Ben10083 - PRA Mining.yml
  maps/random_ruins/exoplanets/adhomai/pra_mining_camp.dm
  maps/random_ruins/exoplanets/adhomai/pra_mining_camp.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19320 Port Security Maintenance Area Fix
  html/changelogs/Ben10083 - Sec Maint Port.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#19322 Brown Webbing sprite fix
  html/changelogs/Ben10083 - Eng Webbing.yml
  icons/obj/item/clothing/accessory/webbing.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19321 Unathi Hiskyn Revanchists Ship Fixes
  html/changelogs/Ben10083 - Unathi Pirate.yml
  maps/away/ships/unathi_pirate/hiskyn/unathi_pirate_hiskyn.dmm
  maps/away/ships/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19244 Circuit imprinter improvements
  code/modules/research/circuitprinter.dm
  code/modules/research/protolathe.dm
  code/modules/research/rdconsole.dm
  html/changelogs/fluffyghost-updatecircuitimprinter.yml
Labels: Awaiting Merge, Refactor

#19302 Updated CI actions to the latest version
  .github/workflows/byond.yml
  .github/workflows/update_tgs_dmapi.yml
  .github/workflows/update_tgui.yml
  html/changelogs/fluffyghost-updateciactions.yml
Labels: Awaiting Merge, Tools

#19369 Fixes Ouerea Vaurca spawns
  html/changelogs/RustingWithYou - oreofix.yml
  maps/random_ruins/exoplanets/ouerea/ouerea_farm.dm
  maps/random_ruins/exoplanets/ouerea/ouerea_freewater.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19361 Taj Jackboots Fix
  html/changelogs/wickedcybs_tajbootfix.yml
  icons/obj/item/clothing/shoes/boots.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19375 Fixed seed duplication with grippers for borgs.
  code/modules/hydroponics/seed_storage.dm
  html/changelogs/fluffyghost-seedstoragegripperfix.yml
Labels: Awaiting Merge, Bugfix

#19382 Idris Cruiser Touchup
  html/changelogs/Ben10083 - Idris Cruiser Touchup.yml
  maps/away/ships/idris/idris_cruiser.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19384 Missing Cyborg Upload Console Added
  html/changelogs/Ben10083 - Bot_Upload.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#19385 Fixed round extended description grammar as per bug report suggestion
  code/game/gamemodes/mixed/crossfire.dm
  code/game/gamemodes/nuclear/nuclear.dm
  html/changelogs/fluffyghost-fixrounddescgrammar.yml
Labels: Awaiting Merge, Bugfix

#19377 Fixed ling stings targeting
  code/_onclick/click.dm
  code/_onclick/other_mobs.dm
  code/game/gamemodes/changeling/helpers/sting_click.dm
  code/game/gamemodes/changeling/implements/powers/stings.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  html/changelogs/fluffyghost-fixlingstings.yml
Labels: Awaiting Merge, Bugfix

#19368 Moghes Ruins Ghostrole Spawn Fixes
  html/changelogs/Ben10083 - Moghes Ruin Spawn.yml
  maps/random_ruins/exoplanets/moghes/moghes_siakh.dm
  maps/random_ruins/exoplanets/moghes/moghes_siakh.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_mikuetz.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_priests.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_priests.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#19359 Butanol Drink Fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  html/changelogs/Crosarius-butanolfix2.yml
Labels: Awaiting Merge, Bugfix

#19357 Fixed Srom not working properly
  code/game/objects/effects/landmarks.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/mob.dm
  code/modules/shareddream/brainghost.dm
  code/modules/shareddream/dream_entry.dm
  html/changelogs/fluffyghost-fixsrom.yml
Labels: Awaiting Merge, Bugfix

#19356 Kosmostrelki now know Baghrar
  code/datums/outfits/ert/kosmostrelki.dm
  code/modules/ghostroles/spawner/human/pra.dm
  html/changelogs/Ben10083 - Karate Kats.yml
  maps/away/away_site/tajara/peoples_station/peoples_station_ghostroles.dm
  maps/away/ships/pra/headmaster/headmaster_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19355 Tajara Smuggler Port Docking Port Fix
  html/changelogs/Ben10083 - Tajara Smuggler.yml
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19354 PRA Database Freighter Shuttle Airlock Remake
  code/game/machinery/atmoalter/canister.dm
  html/changelogs/Ben10083 - Database Airlock.yml
  maps/away/ships/pra/database_freighter/database_freighter.dm
  maps/away/ships/pra/database_freighter/database_freighter.dmm
  maps/away/ships/pra/database_freighter/database_landmarks.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19352 Adds stress balls to loadout/psych office
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/client/preference_setup/loadout/items/toy.dm
  html/changelogs/llywelwyn-stressballs.yml
  icons/mob/items/lefthand_toy.dmi
  icons/mob/items/righthand_toy.dmi
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#19351 Headmaster Hanger Docking Fix
  html/changelogs/Ben10083 - Headmaster_Hangar_Fix.yml
  maps/away/ships/pra/headmaster/headmaster_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19350 IAC Ship Docking Fixes
  html/changelogs/Ben10083 - IAC Docking.yml
  maps/away/ships/iac/iac_rescue_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19347 Hazard Containment Shield now Anchored + Bolted Buttons now don't require two presses on horizon
  html/changelogs/Ben10083 - Hazard Containment Shield.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#19346 Adds geiger counters to autolathes
  code/game/machinery/autolathe/autolathe_datums.dm
  code/game/objects/items/devices/geiger.dm
  html/changelogs/autolathe-geiger-couters.yml
Labels: Awaiting Merge

#19340 IPC antenna bugfixes: lockable when in the headslot, and antennae -> antennas
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/clothing/ears/antennae.dm
  html/changelogs/llywelwyn-antennafix.yml
Labels: Awaiting Merge, Bugfix

#19329 Tret Fixes
  html/changelogs/DreamySkrell-tret-fixes.yml
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex.dmm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19327 Away Site and Ruins Mapping Bug Fixes - Shrimply Fixed!
  html/changelogs/CourierBravo - simplebugfixes.yml
  maps/away/ships/hegemony/fishing_trawler/fishing_league_trawler.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19318 Orion Refueling Station Docking Fixes
  html/changelogs/Ben10083 - Orion Shuttle Dock Fix.yml
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19316 Mining buffs and QoL
  code/modules/materials/material_sheets.dm
  code/modules/overmap/exoplanets/themes/_theme.dm
  html/changelogs/BoomerThor-miningbuffs.yml
  icons/obj/item/ore.dmi
  icons/obj/mining.dmi
Labels: Awaiting Merge, Sprites

#19315 Vaurca Warrior fixes
  code/__DEFINES/mobs.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/SimpleMaroon-vaurcawarriorfixes.yml
  icons/mob/human_face/eyes.dmi
  icons/mob/human_races/markings_vaurca.dmi
  icons/mob/human_races/vaurca/r_vaurcawarriorlimbs.dmi
Labels: Awaiting Merge, Sprites

#19305 Colourable Boonie Hats
  code/modules/client/preference_setup/loadout/items/head.dm
  html/changelogs/colourableboonie.yml
Labels: Awaiting Merge

#19240 Added rotating alarm lights
  aurorastation.dme
  code/__DEFINES/layers.dm
  code/game/atom/_atom.dm
  code/game/atoms_movable.dm
  code/game/machinery/rotating_alarm.dm
  code/modules/heavy_vehicle/components/frame.dm
  code/modules/heavy_vehicle/mech_icon.dm
  html/changelogs/fluffyghost-rotatingalarmlights.yml
  icons/obj/structure/rotating_alarm.dmi
Labels: Review Required, Sprites

#19279 Full Auto Fixes
  code/modules/client/client_procs.dm
  html/changelogs/geeves-if_i_shoot_my_bag_one_more_time_im_gonna_lose_it.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#18969 Various Borer fixes
  code/_onclick/hud/ability_screen_objects.dm
  code/_onclick/hud/movable_screen_objects.dm
  code/game/antagonist/antagonist_add.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/mob/living/simple_animal/borer/borer_powers.dm
  code/modules/psionics/abilities/_ability.dm
  code/modules/surgery/implant.dm
  html/changelogs/alaunuslux-borer-fixes.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#19342 Added a sawn-off shotgun to the uplink
  code/datums/uplink/stealthy and inconspicuous weapons.dm
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/fluffyghost-sawnoffshotgunuplink.yml
Labels: Awaiting Merge

#18771 Ve'katak Hivenet Receiver
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/organs/subtypes/augment/augments/language_processor.dm
  html/changelogs/RustingWithYou - phalanx.yml
  icons/mob/human_races/augments_external.dmi
  icons/obj/organs/augments.dmi
Labels: Awaiting Merge, Sprites

#18784 Standardises Combat Voidsuit Armor
  code/modules/clothing/spacesuits/void/alien/tajara.dm
  code/modules/clothing/spacesuits/void/alien/unathi.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/RustingWithYou - standardise.yml
Labels: Awaiting Merge

#19330 Tret Weather
  code/modules/abstract/abstract_weather_marker.dm
  html/changelogs/DreamySkrell-tret-weather.yml
  icons/effects/map_effects.dmi
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex.dmm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_.dm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_areas.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19337 Bridge Crew & Zeng-Hu Corporate Reporters may now use Zeng-Hu augments
  code/modules/client/preference_setup/loadout/items/augments.dm
  html/changelogs/Pirouette - ZengHuAugs.yml
Labels: Awaiting Merge

#19338 Weapons Racks
  aurorastation.dme
  code/__DEFINES/circuitboard.dm
  code/__DEFINES/layers.dm
  code/defines/mutable_appearance.dm
  code/game/jobs/access.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/machinery/constructable_frame.dm
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/circuitboards/_defines.dm
  code/game/objects/items/weapons/circuitboards/circuitboard.dm
  code/game/objects/items/weapons/circuitboards/machinery/biogenerator.dm
  code/game/objects/items/weapons/circuitboards/machinery/chem_heater.dm
  code/game/objects/items/weapons/circuitboards/machinery/cloning.dm
  code/game/objects/items/weapons/circuitboards/machinery/commsantenna.dm
  code/game/objects/items/weapons/circuitboards/machinery/mech_recharger.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining_drill.dm
  code/game/objects/items/weapons/circuitboards/machinery/mining_machines.dm
  code/game/objects/items/weapons/circuitboards/machinery/miscboards.dm
  code/game/objects/items/weapons/circuitboards/machinery/portgen.dm
  code/game/objects/items/weapons/circuitboards/machinery/power.dm
  code/game/objects/items/weapons/circuitboards/machinery/recharge_station.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/game/objects/items/weapons/circuitboards/machinery/shieldgen.dm
  code/game/objects/items/weapons/circuitboards/machinery/ship.dm
  code/game/objects/items/weapons/circuitboards/machinery/telecomms.dm
  code/game/objects/items/weapons/circuitboards/machinery/trashcompactor.dm
  code/game/objects/items/weapons/circuitboards/machinery/unary_atmos.dm
  code/game/objects/items/weapons/circuitboards/structure/weapons_rack.dm
  code/game/objects/objs.dm
  code/game/objects/structures/weapons_rack.dm
  code/modules/mob/living/carbon/slime/slime_extractor.dm
  code/modules/power/crystal_agitator.dm
  code/modules/power/fusion/fusion_circuits.dm
  code/modules/power/rtg.dm
  code/modules/power/tesla/coil.dm
  html/changelogs/fluffyghost-weaponsrack.yml
  icons/obj/machinery/weapons_rack.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  sound/attributions.txt
  sound/items/metal_shutter.ogg
Labels: Awaiting Merge, Sprites, Test Merge Candidate, 🗺️ Mapping - Horizon, Sounds

#19366 Matrix (in)sanity
  aurorastation.dme
  code/__DEFINES/matrices.dm
  code/__HELPERS/matrices.dm
  code/modules/orbit/orbit.dm
  code/modules/power/tesla/energy_ball.dm
  html/changelogs/fluffyghost-sanermatrixprocs.yml
Labels: Awaiting Merge, Test Merge Candidate

#19371 Tyrant tweaks
  code/game/objects/items/weapons/traps.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/mob/living/simple_animal/hostile/moghes.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/fluffyghost-tyrantexosuittweak.yml
Labels: Awaiting Merge, Balance

#19205 Ports 8 hairstyles from Citadel
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/hairport.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#19137 Improves Vaurca Magboot Augment
  code/__DEFINES/traits.dm
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/organs/subtypes/vaurca.dm
  html/changelogs/RustingWithYou - bugmode.yml
Labels: Awaiting Merge

#18268 Exosuit Nuclear Power Cores
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_atom/signals_power_cell.dm
  code/game/objects/items/devices/suit_cooling.dm
  code/game/objects/items/weapons/power_cells.dm
  code/game/objects/items/weapons/stunbaton.dm
  code/game/objects/random/tech.dm
  code/modules/heavy_vehicle/components/body.dm
  code/modules/heavy_vehicle/interface/_interface.dm
  code/modules/heavy_vehicle/mech_construction.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/heavy_vehicle/premade/_premade.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/military.dm
  code/modules/heavy_vehicle/premade/pra.dm
  code/modules/power/cell.dm
  code/modules/research/designs/protolathe/power_designs.dm
  html/changelogs/geeves-power_core_online.yml
  icons/obj/machinery/cell_charger.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#19374 Relay fixes
  code/modules/overmap/ships/computers/sensors.dm
  html/changelogs/nauticall-relayfixes.yml
  icons/obj/machinery/sensors_relay.dmi
  icons/obj/machinery/sensors_relay_sol.dmi
  maps/away/away_site/sensor_relay/sensor_relay.dm
  maps/away/away_site/sensor_relay/sensor_relay.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19401 Hivenet aug transmit fix
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/DreamySkrell-hivenet-aug-fix.yml
Labels: Awaiting Merge, Bugfix

#19398 Detective trenchcoat fix
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/BoomerThor - Detective trenchcoat fix.yml
  maps/aurora/aurora-5_interstitial.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, Bugfix, Mapping: Aurora

#19379 Better staff who verb window
  code/game/verbs/who.dm
  html/changelogs/DreamySkrell-better-staff-who.yml
Labels: Awaiting Merge

#19308 Some Preview Stuff
  code/__DEFINES/prefs.dm
  code/__HELPERS/lists.dm
  code/game/jobs/job/job.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/client/preferences.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  html/changelogs/geeves-preview_stuff.yml
  icons/turf/flooring/character_preview.dmi
Labels: Awaiting Merge, Sprites

#19309 Accessory Weight Handling
  code/__DEFINES/accessories.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armor.dm
  html/changelogs/geeves-big_accessories.yml
Labels: Awaiting Merge, Review Required

#19234 PSS Shuttles Fix + one extra tritium stack on Dominian corvette
  html/changelogs/Lavillastrangiato - fixes.yml
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19182 Overcoming Verticality - Adds ramps, extends the medical lift and fixes stair gravity.
  code/modules/multiz/structures.dm
  html/changelogs/verticallychallenged.yml
  icons/obj/structure/stairs.dmi
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#19376 Custom items 06/06/24
  code/modules/customitems/item_defines.dm
  icons/obj/custom_items/chunley_beret.dmi
  icons/obj/custom_items/devorask_items.dmi
  icons/obj/custom_items/ghoz_eyes.dmi
  icons/obj/custom_items/goldman_eye.dmi
  icons/obj/custom_items/oz_plushie.dmi
  icons/obj/custom_items/sonorous_clothing.dmi
  icons/obj/custom_items/zilosnish_items.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
Labels: Awaiting Merge, Changelog Required, Sprites, 🗺️ Mapping - Away Ship/Away Site

#19405 Adds expedition frequency to radio chat filter
  html/changelogs/alaunuslux-add-expedition-freq-to-radio-filter.yml
  tgui/packages/tgui-panel/chat/constants.js
Labels: Awaiting Merge, Bugfix, Javascript, TGUI

#19389 Adds accessory versions of tank tops for the loadout
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/SimpleMaroon-tanktops.yml
  icons/obj/item/clothing/accessory/tank_top.dmi
Labels: Awaiting Merge, Sprites

#19267 New Visegradi ponczo sprites.
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/hoodies.dm
  html/changelogs/dansemacabre-ponczo.yml
  icons/obj/clothing/hoodies.dmi
  icons/obj/item/clothing/suit/storage/toggle/ponczo.dmi
Labels: Awaiting Merge, Sprites

#19411 Revert "Overcoming Verticality - Adds ramps, extends the medical lift and fixes stair gravity."
  code/modules/multiz/structures.dm
  html/changelogs/verticallychallenged.yml
  icons/obj/structure/stairs.dmi
  maps/sccv_horizon/code/sccv_horizon.dm
  maps/sccv_horizon/code/sccv_horizon_lifts.dm
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Review Required, Sprites, Waiting Period, 🗺️ Mapping - Horizon

#19391 Adds Grupo Amapola Uniforms
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/factions/pmcg.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/Lavillastrangiato - amapola.yml
  icons/clothing/head/pmcg.dmi
  icons/clothing/under/uniforms/pmcg.dmi
Labels: Awaiting Merge, Sprites

#19392 Adds Megacorporate tunnel cloaks.
  code/game/objects/items/weapons/storage/backpack.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/stev-the-third-corporatecloaks.yml
  icons/mob/species/bulwark/back.dmi
  icons/mob/species/vaurca/back.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#19409 Fixed claymores not detonating on signal
  code/datums/wires/landmine.dm
  html/changelogs/fluffyghost-fixclaymores.yml
Labels: Awaiting Merge, Bugfix

#19390 Hephaestus Asset Protection offship tweaks & fixes
  html/changelogs/hazelmouse - hapt_fixes.yml
  maps/away/ships/heph/heph_security/heph_security.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19323 IHSS Reclamation Mapping Fixes
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/canister.dm
  code/modules/effects/map_effects/window_spawner.dm
  code/modules/paperwork/paper.dm
  html/changelogs/Ben10083 - IHSS Reclaimation.yml
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dmm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19422 Stressball size fix
  code/game/objects/items/toys.dm
  html/changelogs/llywelwyn-ballfix.yml
Labels: Awaiting Merge, Bugfix

#19395 Barista QoL Expansion
  code/__DEFINES/flags.dm
  code/modules/reagents/reagent_containers.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/barista-expansion.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Review Required, Waiting Period, 🗺️ Mapping - Horizon

#19394 Shuttle guidelines visual update
  html/changelogs/DreamySkrell-shuttle-guidelines-update.yml
  maps/helpers/guidelines/guidelines_shuttles.dmm
Labels: Awaiting Merge

#19404 Hivenet aug messages tweaks
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/mob/language/station.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  html/changelogs/DreamySkrell-hivenet-aug-messages-list.yml
Labels: Awaiting Merge

#19428 Removes a changeling error message that spams the chat of admins.
  code/game/gamemodes/changeling/helpers/_framework.dm
  html/changelogs/mattatlas-lingerror.yml
Labels: Awaiting Merge, Bugfix

#19436 Fixes flashing pixels on 9mm camera gun
  html/changelogs/llywelwyn-cameragun.yml
  icons/obj/guns/cameragun.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19431 Fixes phalanx uniform and reserve uniforms
  html/changelogs/DreamySkrell-phalanx-uniform-fix.yml
  icons/clothing/under/uniforms/pmcg.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19410 Hivenet aug loadout cost tweak
  code/modules/client/preference_setup/loadout/items/augments.dm
  html/changelogs/DreamySkrell-hivenet-aug-cost-tweak.yml
Labels: Awaiting Merge

#19399 Adds new inhand and wielded sprites for the Thermal Drill.
  html/changelogs/Stev-the-third-thermaldrillfixes.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#19400 Synthskin Tattoos
  code/modules/organs/organ_icon.dm
  html/changelogs/geeves-synthskin_tattoos.yml
Labels: Awaiting Merge

#19407 Priestess Alt Title for Chaplain
  code/game/jobs/job/civilian.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge, Review Required

#19396 Added some pragmas for OpenDream and removed a removed one
  code/___linters/odlint.dm
  html/changelogs/fluffyghost-opendreamtweaks.yml
Labels: Awaiting Merge

#19386 Cult buff
  aurorastation.dme
  code/__HELPERS/unsorted.dm
  code/game/gamemodes/cult/runes/_rune_datum.dm
  code/game/gamemodes/cult/runes/cult_mech.dm
  code/game/gamemodes/cult/structures/pylon.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/fluffyghost-cultbuff.yml
Labels: Awaiting Merge, Test Merge Candidate, Balance

#19335 Autohiss/Stutter Repeat Fix
  code/modules/mob/living/bot/bot.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/say.dm
  code/modules/mob/living/carbon/slime/say.dm
  code/modules/mob/living/say.dm
  code/modules/mob/living/silicon/pai/say.dm
  code/modules/mob/living/silicon/say.dm
  code/modules/mob/living/simple_animal/borer/borer_captive.dm
  code/modules/mob/living/simple_animal/borer/say.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/mob/living/simple_animal/parrot.dm
  code/modules/mob/living/simple_animal/shade.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/living/whisper.dm
  code/modules/shareddream/brainghost.dm
  html/changelogs/Ben10083 - Whisper Fix.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#19442 Item Extended Description Fix
  code/game/objects/items.dm
  html/changelogs/item-extended-desc-fix.yml
Labels: Awaiting Merge, Bugfix

#19426 Plains Tyrant Vision Tweaks
  code/modules/mob/living/simple_animal/hostile/moghes.dm
  html/changelogs/Evandorf-tyrantvision.yml
Labels: Review Required, Waiting Period

#19425 Uueoa-Esa Mining Outpost QOL
  html/changelogs/Ben10083 - Mining Outpost.yml
  maps/random_ruins/exoplanets/uueoaesa/heph_mining_station.dmm
  maps/random_ruins/exoplanets/uueoaesa/miners_guild_outpost.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19466 BAPI - mapmanip insert/extract failsafe
  code/modules/maps/reader.dm
  html/changelogs/DreamySkrell-bapi-insert-extract-failsafe.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#19463 Idris Cruiser Docking Lockdown Access Fix
  html/changelogs/Ben10083 - Idris Cruiser Lockdown.yml
  maps/away/ships/idris/idris_cruiser.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19458 Fixes a few Dionae bugs.
  code/modules/mob/living/carbon/alien/diona/diona_nymph.dm
  code/modules/mob/living/carbon/alien/diona/diona_powers.dm
  code/modules/mob/living/carbon/diona_base.dm
  code/modules/mob/living/carbon/human/diona_gestalt.dm
  html/changelogs/mattatlas-dionafixes.yml
Labels: Awaiting Merge, Bugfix

#19438 Cargo additions, bugfixes and changes
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/bounties/engineer.dm
  code/modules/cargo/bounties/science.dm
  code/modules/cargo/bounties/security.dm
  code/modules/cargo/bounties/special.dm
  code/modules/cargo/exports/materials.dm
  code/modules/modular_computers/file_system/programs/app_presets_crew.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_control.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_delivery.dm
  html/changelogs/BoomerThor - Cargonia.yml
Labels: Awaiting Merge, Bugfix

#19429 Allows Los Azquiles to take the Tradeband language processor
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/organs/subtypes/augment/augments/language_processor.dm
  html/changelogs/SimpleMaroon-losazquilessonfantasticos.yml
Labels: Awaiting Merge

#19402 Turned various spawns into timers / removed
  aurorastation.dme
  code/__HELPERS/game.dm
  code/_onclick/hud/fullscreen.dm
  code/datums/helper_datums/teleport.dm
  code/datums/uplink/announcements.dm
  code/defines/procs/sd_Alert.dm
  code/game/antagonist/antagonist_create.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/events/wormholes.dm
  code/game/gamemodes/technomancer/spells/energy_siphon.dm
  code/game/gamemodes/technomancer/spells/insert/insert.dm
  code/game/gamemodes/technomancer/spells/track.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/machinery/computer/robot.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/doors/brigdoors.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/flasher.dm
  code/game/machinery/magnet.dm
  code/game/machinery/mass_driver.dm
  code/game/machinery/overview.dm
  code/game/machinery/suit_cycler.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/machinery/supplybeacon.dm
  code/game/machinery/telecomms/machines/allinone.dm
  code/game/machinery/telecomms/machines/broadcaster.dm
  code/game/machinery/vending.dm
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/structures.dm
  code/modules/cooking/machinery/smartfridge.dm
  code/modules/events/ion_storm.dm
  code/modules/global_listener/devices.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/abstract/observer/logout.dm
  code/modules/mob/living/carbon/brain/say.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/station/slime.dm
  code/modules/mob/living/carbon/slime/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/death.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_transformation_simple.dm
  code/modules/organs/blood.dm
  code/modules/organs/internal/lungs.dm
  code/modules/power/fusion/fusion_reactions.dm
  code/modules/projectiles/targeting/targeting_overlay.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/fluffyghost-spawnhunter.yml
Labels: Awaiting Merge, ⚠ High Risk, Test Merge Candidate, Performance

#19324 Moghes Away Sites Cleanups (part 1?)
  html/changelogs/Lavillastrangiato - moghesfixes.yml
  maps/random_ruins/exoplanets/moghes/moghes_bar.dm
  maps/random_ruins/exoplanets/moghes/moghes_bar.dmm
  maps/random_ruins/exoplanets/moghes/moghes_hegemony_base.dm
  maps/random_ruins/exoplanets/moghes/moghes_hegemony_base.dmm
  maps/random_ruins/exoplanets/moghes/moghes_kataphract_wasteland.dm
  maps/random_ruins/exoplanets/moghes/moghes_kataphract_wasteland.dmm
  maps/random_ruins/exoplanets/moghes/moghes_untouched_village.dm
  maps/random_ruins/exoplanets/moghes/moghes_untouched_village.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_dorviza.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_dorviza.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_izwesk.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_izweski.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_klax.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_klax.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_queendom.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_queendom.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_tomb.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_tomb.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_vihnmes.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_vihnmes.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_village.dm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_village.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19304 Unathi Mining Guild Away Ship - Revamp and Bug Fixes
  html/changelogs/CourierBravo - GuildMiningImprovements.yml
  maps/away/ships/hegemony/miners_guild/miners_guild_areas.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dm
  maps/away/ships/hegemony/miners_guild/miners_guild_station.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19440 Gives Tech Support access to Technical Storage
  code/game/jobs/job/civilian.dm
  html/changelogs/SimpleMaroon-techsupportsovl.yml
Labels: Awaiting Merge

#19388 People's Station Docking Ports + Touch-up
  html/changelogs/Ben10083 - Peoples Station.yml
  maps/away/away_site/tajara/peoples_station/peoples_station.dm
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
  maps/away/away_site/tajara/peoples_station/peoples_station_landmarks.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19412 Delivery Points: Moghes
  html/changelogs/Ben10083 - Delivery_Moghes.yml
  maps/random_ruins/exoplanets/moghes/moghes_bar.dmm
  maps/random_ruins/exoplanets/moghes/moghes_diona_traders.dmm
  maps/random_ruins/exoplanets/moghes/moghes_guild_mining.dmm
  maps/random_ruins/exoplanets/moghes/moghes_heph_mining.dmm
  maps/random_ruins/exoplanets/moghes/moghes_skakh.dmm
  maps/random_ruins/exoplanets/moghes/moghes_untouched_village.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_dorviza.dmm
  maps/random_ruins/exoplanets/moghes/moghes_wasteland_vihnmes.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19413 Delivery Points: Ouerea
  html/changelogs/Ben10083 - Delivery_Site_Ouerea.yml
  maps/random_ruins/exoplanets/ouerea/ouerea_bar.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_farm.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_guild_mining.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_heph_mining.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_village.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19414 Delivery Points: Tret + Minor Tret Fixes
  html/changelogs/Ben10083 - Tret.yml
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19443 Hieroaetheria Flags
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/Stev-the-third-hieroflags.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#19446 Vaurca Drink Additions
  code/game/machinery/vending_types.dm
  code/game/objects/items/vaurca.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/drinks.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/flpfs-vaurcadrinks.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/drinks/bottle.dmi
  icons/obj/item/reagent_containers/food/drinks/soda.dmi
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#19473 Floating Chat Pixel Fix
  code/game/atoms_movable.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/mob/floating_messages.dm
  html/changelogs/geeves-floating_chat_pixel_fix.yml
Labels: Awaiting Merge, Bugfix

#19474 Mech Attacking Fix
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/geeves-mech_attacking_fix.yml
Labels: Awaiting Merge, Bugfix

#19451 Adds Missing Stairs at Command Substation
  html/changelogs/Ben10083 - Stairs.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#19333 Long Live The Keiretsu: Adds the Zeng-Hu seniority mask
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/organs/subtypes/augment/augments/zengu_plate.dm
  html/changelogs/SimpleMaroon-zengplatesovl.yml
  icons/mob/human_races/augments_external.dmi
  icons/mob/species/bulwark/augments_external.dmi
  icons/mob/species/skrell/augments_external.dmi
  icons/mob/species/vaurca/augments_external.dmi
  icons/obj/organs/augments.dmi
Labels: Awaiting Merge, Sprites

#19462 Added the ability to destroy the vampiric statuette.
  code/modules/research/xenoarchaeology/finds/finds_special.dm
  html/changelogs/Evandorf-VampiricStatuetteTweak.yml
Labels: Awaiting Merge

#19469 Loadout Items + gentlemans coat changes
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/client/preference_setup/loadout/items/shoes.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/wiz_robe.dm
  html/changelogs/Silvorz- Loadout-Items.yml
Labels: Awaiting Merge

#19439 Adds box of psionic receivers to the Research Director's locker.
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  html/changelogs/Lavillastrangiato - psionicreceiverbox.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#19488 Fixes Hivenet encryption feature
  code/modules/mob/language/station.dm
  html/changelogs/flpfs-hivenetfix.yml
Labels: Awaiting Merge, Bugfix

#19465 Sledgehammer sprites.
  code/modules/mining/mine_items.dm
  html/changelogs/Stev-the-third-hammersovl.yml
  icons/mob/items/lefthand_mining.dmi
  icons/mob/items/righthand_mining.dmi
Labels: Awaiting Merge, Sprites

#19471 Adds a colorable hood to the loadout. Attempt number 2
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/ASmallCuteCat - colorable_hood.yml
  icons/clothing/head/plain_hood.dmi
Labels: Awaiting Merge, Sprites

#19362 Expedition Fluff Expansion - Tents & Sleeping Bags
  aurorastation.dme
  code/__DEFINES/large_structures.dm
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/_renderer.dm
  code/game/objects/items/camping.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  code/game/objects/structures/large.dm
  code/game/turfs/turf.dm
  code/modules/research/xenoarchaeology/misc.dm
  html/changelogs/camping.yml
  icons/obj/item/camping.dmi
  icons/obj/item/tent_decals.dmi
  icons/obj/structure/tables/table.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites, Test Merge Candidate, 🗺️ Mapping - Horizon

#19496 Head Pins Sprite Fixes
  code/modules/clothing/head/misc.dm
  html/changelogs/Ben10083 - Pins Ear Slots.yml
  icons/obj/item/clothing/accessory/hair_pins.dmi
  icons/obj/item/clothing/accessory/hair_ribbons.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#19480 Dominian Loadout Additions
  code/modules/client/preference_setup/loadout/items/suit.dm
  html/changelogs/Peppermint96-DominiaLoadout.yml
Labels: Awaiting Merge

#19437 Adds a Lii'kenka origin & citizenship
  code/__DEFINES/background.dm
  code/controllers/subsystems/records.dm
  code/datums/records.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/modules/background/citizenship/citizenship.dm
  code/modules/background/citizenship/ipc.dm
  code/modules/background/citizenship/vaurca.dm
  code/modules/background/origins/origins/vaurca/cthur.dm
  html/changelogs/SimpleMaroon-liikenkasisters.yml
Labels: Awaiting Merge

#19381 Synthetic Blood Substitute
  code/__DEFINES/color.dm
  code/game/atoms.dm
  code/game/gamemodes/cult/cultist_datum.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/hallucinations/types/mirage.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/species/outsider/undead.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/modular_computers/file_system/programs/generic/records.dm
  code/modules/organs/blood.dm
  code/modules/organs/organ_external.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/Chemistry-Colours.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  html/changelogs/DreamySkrell-white-blood.yml
  icons/clothing/accessories/blood_patch.dmi
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#19486 Fixes changeling thermal vision reverting.
  code/modules/mob/living/life.dm
  html/changelogs/Evandorf-ChangelingThermalFix.yml
Labels: Awaiting Merge, Bugfix

#19448 Adds Han'san capes & clothing; allows Dominian Unathi to wear noble Unathi items
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/client/preference_setup/loadout/items/uniform.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/clothing/factions/dominia.dm
  html/changelogs/SimpleMaroon-dominianathi.yml
  icons/clothing/suits/capes/dominia.dmi
  icons/clothing/under/uniforms/dominia_dresses.dmi
  icons/clothing/under/uniforms/dominia_noble_dress.dmi
  icons/clothing/under/uniforms/dominia_suits.dmi
  icons/clothing/under/uniforms/dominia_summer_dress.dmi
Labels: Awaiting Merge, Sprites

#19450 Misc sprites: Warehouse devices, dagamuir outfit, sinta tunic and xenogun.
  code/game/objects/items/devices/scanners.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/recycling/sortingmachinery.dm
  html/changelogs/Stev-the-third-dagamuir.yml
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/righthand_device.dmi
  icons/obj/guns/xenogun.dmi
  icons/obj/item/clothing/department_uniforms/security.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#19500 Fixed statue (sculpture) rotation.
  code/modules/mining/mine_items.dm
  html/changelogs/fluffyghost-fixstatuerotation.yml
Labels: Awaiting Merge, Bugfix

#19502 Fixed weapons rack not being able to be cut open with a welder
  code/game/objects/structures/weapons_rack.dm
  html/changelogs/fluffyghost-fixweaponrackweldopen.yml
Labels: Awaiting Merge, Bugfix

#19503 Premade exosuits now spawn with power cores
  code/modules/heavy_vehicle/premade/combat.dm
  code/modules/heavy_vehicle/premade/heavy.dm
  code/modules/heavy_vehicle/premade/light.dm
  code/modules/heavy_vehicle/premade/miner.dm
  code/modules/heavy_vehicle/premade/powerloader.dm
  code/modules/heavy_vehicle/premade/pra.dm
  html/changelogs/RustingWithYou - geevesmoment.yml
Labels: Awaiting Merge, Bugfix
