Repository Aurorastation/Aurora.3, pull requests merged in 2024-12, with the labels that each got.

#20187 Basic First Aid Kit Changes
  code/game/objects/items/weapons/storage/firstaid.dm
  html/changelogs/example copy.yml
Labels: Awaiting Merge

#20198 AI Remote Control Fixes
  code/__HELPERS/lists.dm
  code/_onclick/hud/screen_object_types/ai_screen_objs.dm
  code/controllers/subsystems/virtual_reality.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/heavy_vehicle/mecha.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/simple_animal/friendly/spiderbot.dm
  code/modules/tgui/states/default.dm
  html/changelogs/Ben10083 - Remote Fixes.yml
Labels: Awaiting Merge, Bugfix

#20226 Advanced Health Analyser Fixes
  code/game/objects/items/devices/scanners.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/mob/living/silicon/ai/ai_remote_control.dm
  html/changelogs/Ben10083 - Adv Health.yml
  icons/mecha/mech_equipment.dmi
  icons/mecha/mecha_weapon_overlays.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20200 Gargoyle voidsuit resprite
  code/game/machinery/suit_cycler_units.dm
  code/game/objects/items/devices/modkit.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/hazelmouse-solresprite.yml
  icons/obj/clothing/voidsuit/sol.dmi
Labels: Awaiting Merge, Sprites

#20129 Adds a Solarian army peacekeeper beret to the loadout.
  code/modules/clothing/head/berets.dm
  html/changelogs/ShimmerIsTaken-ununun.yml
  icons/obj/clothing/hats/berets.dmi
Labels: Awaiting Merge, Sprites

#20209 New Dionae Loadout Items - Wave1
  aurorastation.dme
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/clothing/head/xenos/diona.dm
  code/modules/clothing/suits/xeno/diona.dm
  code/modules/clothing/under/accessories/xeno/diona.dm
  code/modules/clothing/under/xenos/diona.dm
  html/changelogs/yonnimer-dionaeloadoutv1.yml
  icons/obj/diona_items.dmi
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship.dmm
  maps/away/ships/dionae/diona_rokz_ship/diona_rokz_ship_ghostroles.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship.dmm
  maps/away/ships/dionae/diona_serz_ship/diona_serz_ship_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#20224 Adds Assunzionii voidsuit modkits to loadout
  code/game/objects/items/devices/modkit.dm
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/clothing/spacesuits/void/misc.dm
  html/changelogs/hazelmouse-assunzioniisuit.yml
Labels: Awaiting Merge

#20216 Holopad Force Call Fix
  code/game/machinery/hologram.dm
  html/changelogs/Ben10083 - Holopad_force.yml
  tgui/packages/tgui/interfaces/Holopad.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#20234 Slowdown removal from Captain's Voidsuit.
  code/modules/clothing/spacesuits/void/captain.dm
  html/changelogs/butterrobber202-captainvoid.yml
Labels: Awaiting Merge

#20239 Randpixel initialize
  code/game/machinery/pipe/construction.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/mining/coins.dm
Labels: Awaiting Merge, Changelog Required, Refactor

#20222 Nuclear Missile Silo
  aurorastation.dme
  code/__DEFINES/access.dm
  code/game/machinery/computer/computer.dm
  code/game/objects/structures/light_pole.dm
  code/game/objects/structures/urban.dm
  code/modules/paperwork/stamps.dm
  code/modules/power/lights/fixtures.dm
  html/changelogs/Stev-the-third-nuclear_silo.yml
  icons/effects/icbm.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/machinery/light.dmi
  icons/obj/structure/urban/restaurant.dmi
  maps/away/scenarios/nuclear_silo/missile_silo.dm
  maps/away/scenarios/nuclear_silo/nuclear_silo.dmm
  maps/away/scenarios/nuclear_silo/nuclear_silo.jsonc
  maps/away/scenarios/nuclear_silo/nuclear_silo_.dm
  maps/away/scenarios/nuclear_silo/nuclear_silo_areas.dm
  maps/away/scenarios/nuclear_silo/nuclear_silo_landmarks.dm
  maps/away/scenarios/nuclear_silo/nuclear_silo_outfits.dm
  maps/away/scenarios/nuclear_silo/nuclear_silo_scenario.dm
  maps/away/scenarios/nuclear_silo/nuclear_silo_submaps.dmm
  maps/away/scenarios/nuclear_silo/nuclear_silo_theme.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#20241 Extended Rubber .45 Mags
  code/game/machinery/autolathe/designs/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  html/changelogs/geeves-rubber_stendos.yml
  icons/obj/ammo.dmi
Labels: Awaiting Merge, Sprites

#20250 Telecomms sprites
  code/game/machinery/bluespacerelay.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/telecomms/machines/allinone.dm
  code/game/machinery/telecomms/machines/message_server.dm
  html/changelogs/wezzy_telecomms.yml
  icons/obj/machinery/telecomms.dmi
  icons/obj/stationobjs.dmi
Labels: Awaiting Merge, Sprites

#20205 Comet expulsion event
  aurorastation.dme
  code/__HELPERS/maths.dm
  code/game/gamemodes/meteor/meteors.dm
  code/modules/events/comet_expulsion.dm
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  html/changelogs/fluffyghost-cometexpulsionevent.yml
Labels: Awaiting Merge

#20263 TCAF Corvette Exterior Firedoor Fix
  html/changelogs/Ben10083 - TCAF_MFix.yml
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#20257 Swap alb with matt for codeowning
  .github/CODEOWNERS
Labels: Awaiting Merge, Changelog Required, Tools

#20267 Fix missing emissives for high visibility jacket
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/fabiank3-bugfix-high-vis-jacket-not-showing-emis.yml
Labels: Awaiting Merge, Bugfix

#19922 Crew Manifest: Shuttle Manifesting
  code/__DEFINES/subsystems.dm
  code/controllers/subsystems/records.dm
  html/changelogs/geeves-shuttle_manifest_manifesting.yml
  tgui/packages/tgui/interfaces/common/ManifestSection.tsx
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
Labels: Awaiting Merge, TGUI

#19735 Away Site Exoplanet Generation Improvements + Crystal Planet and Cryo Outpost Updates
  aurorastation.dme
  code/game/turfs/turf.dm
  code/game/turfs/unsimulated/floor.dm
  code/modules/mapping/map_template.dm
  code/modules/mining/mine_turf_types.dm
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/_defines.dm
  code/modules/overmap/exoplanets/biomes/crystal.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/plating.dm
  code/modules/overmap/exoplanets/themes/_theme.dm
  code/modules/overmap/exoplanets/themes/crystal.dm
  code/modules/xgm/xgm_gas_mixture_presets.dm
  html/changelogs/DreamySkrell-crystal-planet-outpost-update.yml
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost.dmm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_.dm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_.dmm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_.jsonc
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_areas.dm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_landmarks.dm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_submaps.dmm
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_.dm
  maps/away/away_sites.dm
  maps/away/scenarios/cryo_outpost/cryo_outpost_.dm
  maps/away/scenarios/cryo_outpost/cryo_outpost_areas.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19903 Plate Accessory Stuff
  code/__DEFINES/accessories.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/clothing_accessories.dm
  code/modules/clothing/suits/modular_armor.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/armor.dm
  html/changelogs/geeves-plate_accessory_stuff.yml
Labels: Awaiting Merge

#20003 Package Delivery Expansion
  aurorastation.dme
  code/modules/cargo/delivery/_helpers.dm
  code/modules/cargo/delivery/backpack.dm
  code/modules/cargo/delivery/package.dm
  code/modules/cargo/delivery/receptacle.dm
  html/changelogs/geeves-package_delivery_expansion.yml
  icons/obj/orion_delivery.dmi
  maps/_common/mapsystem/map.dm
  maps/runtime/code/runtime.dm
  maps/sccv_horizon/code/sccv_horizon.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Runtime, 🗺️ Mapping - Horizon

#20296 Drill Drop Resource Fix
  code/game/turfs/turf_changing.dm
  html/changelogs/geeves-resource_maintaining.yml
Labels: Awaiting Merge, Bugfix

#20286 Fortune Cookie Fix
  code/modules/reagents/reagent_containers/food.dm
  html/changelogs/DreamySkrell-fortune-cookie-fix.yml
Labels: Awaiting Merge, Bugfix

#20280 Good gravy, it's a new food (and drinks) update!
  code/game/machinery/vending_types.dm
  code/modules/cooking/plates.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/recipes_breads.dm
  code/modules/cooking/recipes/recipes_meat.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks/breads.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/ingredients.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  html/changelogs/Tomixcomics-PR-cheesyfoods.yml
  icons/obj/drinks.dmi
  icons/obj/item/reagent_containers/food/bread.dmi
  icons/obj/item/reagent_containers/food/condiment.dmi
  icons/obj/item/reagent_containers/food/cultural/human.dmi
  icons/obj/item/reagent_containers/food/ingredients.dmi
  icons/obj/item/reagent_containers/food/meat.dmi
  icons/obj/kitchen.dmi
Labels: Awaiting Merge, Sprites

#20272 Slot Machine, Checkmark and Question Mark IPC faces
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/Stev-the-third-ipc-faces.yml
  icons/mob/human_face/ipc_screens.dmi
Labels: Awaiting Merge, Sprites

#20265 Adds an *alarm audible emote (with sound) for IPCs
  code/modules/emotes/definitions/_mob.dm
  code/modules/emotes/definitions/synthetics.dm
  html/changelogs/flaminglily-alarmist.yml
Labels: Awaiting Merge

#20246 Exosuit Heavy Kinetic Accelerators
  code/modules/custom_ka/cells.dm
  code/modules/custom_ka/frames.dm
  code/modules/custom_ka/upgrade_chips.dm
  code/modules/heavy_vehicle/equipment/mining.dm
  code/modules/heavy_vehicle/premade/miner.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/geeves-mech_ka.yml
Labels: Awaiting Merge

#20262 Roundstart Organ Scarring
  code/modules/mob/abstract/new_player/character_traits.dm
  html/changelogs/HanSolo1519-PR-20262.yml
Labels: Awaiting Merge

#20253 SFA spawning tweaks
  html/changelogs/hazelmouse-sfaspawnweight.yml
  maps/away/ships/sol/sol_pirate/sfa_patrol_ship.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20268 Persistent Bandages
  code/__DEFINES/damage_organs.dm
  code/game/objects/items/stacks/medical.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/organs/organ_external.dm
  code/modules/organs/organ_icon.dm
  code/modules/organs/wound.dm
  html/changelogs/geeves-persistent_bandages.yml
Labels: Awaiting Merge, Test Merge Candidate

#19924 Loadout Modsuit Configuration
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/factions/pmcg.dm
  html/changelogs/geeves-loadout_modsuit_configuration.yml
  icons/clothing/under/uniforms/pmcg_modsuit.dmi
Labels: Awaiting Merge, Sprites

#19934 Weather Warnings
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_weather.dm
  code/controllers/subsystems/weather.dm
  code/datums/state_machine.dm
  code/game/objects/items/lore_radio.dm
  code/game/objects/objs.dm
  code/game/objects/structures/survey_probe.dm
  code/modules/abstract/abstract_weather_marker.dm
  code/modules/mapping/planet_types/asteroid.dm
  code/modules/mapping/planet_types/grass.dm
  code/modules/mapping/planet_types/jungle.dm
  code/modules/mapping/planet_types/lore/konyang.dm
  code/modules/mapping/planet_types/lore/srandmarr.dm
  code/modules/mapping/planet_types/lore/uueoaesa.dm
  code/modules/mapping/planet_types/snow.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/weather/_weather.dm
  code/modules/weather/weather_fsm.dm
  code/modules/weather/weather_fsm_states.dm
  html/changelogs/geeves-weather_warning.yml
Labels: Awaiting Merge

#20259 Flags and adjacency work
  code/_onclick/adjacent.dm
  code/game/atom/_atom.dm
  code/game/atoms_movable.dm
  code/game/objects/items/weapons/storage/internal.dm
  code/game/objects/structures.dm
  code/game/objects/structures/barricades/_barricade.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/plasticflaps.dm
  code/game/objects/structures/railing.dm
  code/game/objects/structures/urban.dm
  code/game/objects/structures/window.dm
  code/game/turfs/simulated/walls.dm
  code/game/turfs/unsimulated/walls.dm
  code/modules/battlemonsters/items/furniture/dueling_area.dm
  code/modules/holodeck/HolodeckObjects.dm
  code/modules/makeshift/makeshift_reagents.dm
  code/modules/mob/mob_defines.dm
  code/modules/tables/tables.dm
  html/changelogs/fluffyghost-flagandadjacencywork.yml
Labels: Awaiting Merge, Refactor, ⚠ High Risk, Test Merge Candidate

#20297 Explorer's Belts Additions
  code/game/objects/items/weapons/storage/belt.dm
  html/changelogs/geeves-explorer_belt_additions.yml
Labels: Awaiting Merge

#20290 Various offship QoL changes
  html/changelogs/hazelmouse-offshiptweaks.yml
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dmm
  maps/away/ships/freebooter/freebooter_ship_.dmm
  maps/away/ships/freebooter/freebooter_ship_submaps.dmm
  maps/away/ships/golden_deep/golden_deep.dmm
  maps/away/ships/sol/sol_splf/splf_raider.dm
  maps/away/ships/sol/sol_splf/splf_raider.dmm
  maps/away/ships/sol/sol_splf/splf_raider_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20270 Rubberized Shells
  code/modules/admin/admin_verbs.dm
  code/modules/client/preference_setup/general/03_body.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/nano/modules/human_appearance.dm
  html/changelogs/geeves-shell_tones.yml
Labels: Awaiting Merge

#20247 Exosuit Ore Summoners
  code/modules/heavy_vehicle/equipment/mining.dm
  code/modules/heavy_vehicle/premade/miner.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  html/changelogs/mech_ore_summoner.yml
  icons/mecha/mech_equipment.dmi
Labels: Awaiting Merge, Sprites

#20275 Fixes Electronic Frame Placements
  code/game/machinery/alarm.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/wall_frames.dm
  html/changelogs/kano-dot-electronics-frame-fix.yml
Labels: Awaiting Merge

#20293 Simple Mob Slowdown
  code/modules/mob/living/simple_animal/hostile/alien.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/krampus.dm
  code/modules/mob/living/simple_animal/hostile/mimic.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/cavern.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/exoplanet.dm
  code/modules/mob/living/simple_animal/hostile/space_fauna.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/geeves-simple_mob_slowdown.yml
Labels: Awaiting Merge

#20308 Fixes an extremely annoying log messaging admins for no reason.
  code/modules/heavy_vehicle/mech_interaction.dm
  html/changelogs/mattatlas-adminsuffering.yml
Labels: Awaiting Merge, Bugfix

#20301 Name change for the friendly space carps
  code/modules/mob/living/simple_animal/friendly/carp.dm
  html/changelogs/domesticated-carp-rename.yml
Labels: Awaiting Merge

#20215 Vending Machine Launch Fix
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  code/modules/mining/coins.dm
  html/changelogs/Ben10083 - Vendor Throwing.yml
  maps/away/ships/unathi_pirate/izharshan/unathi_pirate_izharshan.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#20303 Orion face take two
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/Stev-the-third-orion-face-two.yml
  icons/mob/human_face/ipc_screens.dmi
Labels: Awaiting Merge, Sprites

#20295 Drill Examining
  code/modules/mining/drilling/drill.dm
  html/changelogs/geeves-drill_examining.yml
Labels: Awaiting Merge

#20244 Flare Buff
  code/game/objects/items/devices/lighting/flare.dm
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/geeves-flare_buff.yml
  icons/obj/storage/boxes.dmi
Labels: Awaiting Merge, Sprites

#19828 Re-added the Turbine
  aurorastation.dme
  code/modules/power/turbine.dm
  html/changelogs/GeneralCamo - Turbine 2.0.yml
  icons/obj/pipeturbine.dmi
  sound/effects/electheart.ogg
  tgui/packages/tgui/interfaces/TurbineComputer.js
Labels: Awaiting Merge, Sprites, Javascript, Mapping: Runtime, Sounds, TGUI

#20291 Ore Detector Blip Fix
  code/modules/mining/ore_detector.dm
  html/changelogs/geeves-better_ore_blips.yml
Labels: Awaiting Merge, Bugfix

#20206 APC Damage Event
  code/modules/events/apc_damage.dm
  code/modules/events/event_container.dm
  html/changelogs/fluffyghost-apcdamageevent.yml
Labels: Awaiting Merge

#20260 New opendream pragmas
  aurorastation.dme
  code/ZAS/Airflow.dm
  code/ZAS/ConnectionGroup.dm
  code/__DEFINES/flags.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/unsorted.dm
  code/___linters/odlint.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/falling.dm
  code/controllers/subsystems/processing/airflow.dm
  code/controllers/subsystems/vis_contents.dm
  code/datums/mind.dm
  code/datums/radio/signal.dm
  code/game/gamemodes/malfunction/newmalf_ability_trees/HARDWARE.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/ai_slipper.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/doors/airlock_electronics.dm
  code/game/machinery/doors/blast_door.dm
  code/game/machinery/nuclear_bomb.dm
  code/game/machinery/overview.dm
  code/game/objects/effects/effect_system.dm
  code/game/objects/items/weapons/handcuffs.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/turfs/turf_flick_animations.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/verbs/adminjump.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/massmodvar.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/atmospherics/components/unary/unary_base.dm
  code/modules/atmospherics/he_pipes.dm
  code/modules/library/lib_machines.dm
  code/modules/lighting/lighting_source.dm
  code/modules/mapping/swapmaps.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/ai/life.dm
  code/modules/mob/living/silicon/pai/emote.dm
  code/modules/mob/living/silicon/robot/life.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  code/modules/paperwork/photography.dm
  code/modules/power/singularity/particle_accelerator/particle.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Core.dm
  code/modules/reagents/dispenser/cartridge.dm
  code/modules/research/xenoarchaeology/artifact/artifact_unknown.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  code/modules/surgery/other.dm
  code/modules/ventcrawl/ventcrawl.dm
  code/modules/ventcrawl/ventcrawl_atmospherics.dm
Labels: Awaiting Merge, Changelog Required, Refactor, ⚠ High Risk, Test Merge Candidate

#20306 Removes footprints from (most) exoplanet turfs
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/barren.dm
  code/modules/overmap/exoplanets/decor/turfs/carpet.dm
  code/modules/overmap/exoplanets/decor/turfs/concrete.dm
  code/modules/overmap/exoplanets/decor/turfs/crystal.dm
  code/modules/overmap/exoplanets/decor/turfs/diona.dm
  code/modules/overmap/exoplanets/decor/turfs/foundation.dm
  code/modules/overmap/exoplanets/decor/turfs/grass.dm
  code/modules/overmap/exoplanets/decor/turfs/ice.dm
  code/modules/overmap/exoplanets/decor/turfs/konyang.dm
  code/modules/overmap/exoplanets/decor/turfs/linoleum.dm
  code/modules/overmap/exoplanets/decor/turfs/marble.dm
  code/modules/overmap/exoplanets/decor/turfs/mineral.dm
  code/modules/overmap/exoplanets/decor/turfs/plating.dm
  code/modules/overmap/exoplanets/decor/turfs/sidewalk.dm
  code/modules/overmap/exoplanets/decor/turfs/tiled.dm
  code/modules/overmap/exoplanets/decor/turfs/water.dm
  code/modules/overmap/exoplanets/decor/turfs/wood.dm
  html/changelogs/hazelmouse-janitorsaresaved.yml
Labels: Awaiting Merge

#20305 More potted plants
  code/modules/overmap/exoplanets/decor/flora/potted_big.dm
  html/changelogs/DreamySkrell-tomix-potted-plants.yml
  icons/obj/pottedplants_big.dmi
Labels: Awaiting Merge, Sprites
