Repository Aurorastation/Aurora.3, pull requests merged in 2024-08, with the labels that each got.

#19716 Skrell may now leap 3 tiles
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/Pirouette-SkrellLeaps.yml
Labels: Awaiting Merge

#19733 AI Visible Emotes Fix
  code/game/machinery/hologram.dm
  html/changelogs/geeves-ai_visible_emotes.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#19661 Adds an Unathi jungle hide mantle for Ouereans, Mictlanis, etc
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/SimpleMaroon-junglemantle.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#19715 Mining Module Given Hailing + Jetpack Material Change
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/research/designs/mechfab/robot/robot_upgrades.dm
  html/changelogs/Ben10083 - MineBot.yml
Labels: Awaiting Merge

#19720 Idris Cruiser Firedoor/Firealarm Fixes
  html/changelogs/Ben10083 - Idris Cruiser Firelocks.yml
  maps/away/ships/idris/idris_cruiser.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19724 Crusher will not stop and stare at effects anymore
  code/modules/mob/living/simple_animal/friendly/cat.dm
  html/changelogs/fluffyghost-fixcrusherseeingeffects.yml
Labels: Awaiting Merge

#19732 AI Hologram Fix
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/geeves-ai_hologram_fix.yml
Labels: Awaiting Merge, Test Merge Candidate, Bugfix

#19631 Honor, fire, burn thy fear: Adds a simple animal knockout technique to the Kis-Khan martial art
  code/modules/martial_arts/martial.dm
  code/modules/martial_arts/unathi.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  html/changelogs/SimpleMaroon-martialrefactor.yml
Labels: Awaiting Merge

#19734 Melee weapons now give audiovisual feedback when they miss a target.
  code/_onclick/item_attack.dm
  html/changelogs/mattatlas-missedopportunity.yml
Labels: Awaiting Merge

#19745 Energy Weapons - Replaces Hephaestus with NanoTrasen as manufacturer.
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/stun.dm
  html/changelogs/courierbravo-hephscrub.yml
Labels: Awaiting Merge

#19750 Fix limb targeted explosive implant
  code/game/objects/items/weapons/implants/implants/explosive.dm
  html/changelogs/alaunuslux-fix-limb-targeted-explosive-implant.yml
Labels: Awaiting Merge, Bugfix

#19743 Moves forgotten Diona hair/facial hair styles to body markings
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/SimpleMaroon-dionabodymarkingsfix.yml
  icons/mob/human_races/markings_diona.dmi
Labels: Awaiting Merge, Sprites

#19637 Budgs Bloat Clothes, Boes and Shoots
  code/modules/client/preference_setup/loadout/items/shoes.dm
  code/modules/client/preference_setup/loadout/items/xeno/xeno.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/sneakers.dm
  html/changelogs/budg-bloatclothes-shoes-and-boots.yml
  icons/obj/item/clothing/shoes/boots.dmi
  icons/obj/item/clothing/shoes/flats.dmi
  icons/obj/item/clothing/shoes/sneakers.dmi
Labels: Awaiting Merge, Sprites

#19623 Freebooter Ship - turns pods into submaps
  aurorastation.dme
  html/changelogs/DreamySkrell-freebooter-submaps.yml
  maps/away/ships/freebooter/freebooter_ship_.dm
  maps/away/ships/freebooter/freebooter_ship_.dmm
  maps/away/ships/freebooter/freebooter_ship_.jsonc
  maps/away/ships/freebooter/freebooter_ship_areas.dm
  maps/away/ships/freebooter/freebooter_ship_landmarks.dm
  maps/away/ships/freebooter/freebooter_ship_submaps.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19416 Orion Mobile Station Revamp
  html/changelogs/Ben10083 - Orion Ship Revamp.yml
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19778 Fixes borer progress bars and internal borers being attacked by mirror shades
  code/game/antagonist/antagonist_add.dm
  code/modules/mob/living/simple_animal/borer/borer.dm
  code/modules/psionics/abilities/mirror_shade.dm
  html/changelogs/alaunuslux-fix-borer-progress-bars.yml
Labels: Awaiting Merge, Bugfix

#19761 Stuff burns for longer
  code/game/objects/items/weapons/candle.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  html/changelogs/hazelmouse-500cigarettes.yml
Labels: Awaiting Merge

#19775 Hadiist Satellite Fixes
  html/changelogs/Ben10083 - PRA Satellite.yml
  maps/away/away_site/tajara/pra_satellite/pra_satellite.dm
  maps/away/away_site/tajara/pra_satellite/pra_satellite.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#19773 Binocular Sprite - High Power Binoculars
  code/game/objects/items/devices/binoculars.dm
  html/changelogs/courierbravo-binocularalt.yml
  icons/obj/device.dmi
Labels: Awaiting Merge, Sprites

#19765 Add a Callistean Lighter to the loadout options
  code/game/objects/items/weapons/cigs_lighters.dm
  code/modules/client/preference_setup/loadout/items/smoking.dm
  html/changelogs/shimmeristaken-zippo.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/obj/cigs_lighters.dmi
Labels: Awaiting Merge, Sprites

#19730 Pirate Base, shuttle landmarks moved closer
  html/changelogs/DreamySkrell-pirate-base-shuttle-landmarks.yml
  maps/away/away_site/pirate_base/pirate_base.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19789 Spell Check - Encryption Keys
  code/game/objects/items/devices/radio/encryptionkey.dm
  html/changelogs/courierbravo-encryptionkey-spellcheck.yml
Labels: Awaiting Merge, Bugfix

#19799 Enabled UnimplementedAccess lint for OD
  code/___linters/odlint.dm
  html/changelogs/fluffyghost-odlintUnimplementedAccess.yml
Labels: Awaiting Merge

#19790 Cryo heals below and to 60% BA instead of healing only at above 50% BA
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/shimmeristaken - braiouchie.yml
Labels: Awaiting Merge

#19784 Tranq rifle projectiles now weakens animals
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/fluffyghost-tranqrifleprojectileeffect.yml
Labels: Awaiting Merge

#19783 Updates Alignment for Lore Planets + Adds Alignment to Scan Report for Exoplanets
  code/modules/mapping/planet_types/lore/konyang.dm
  code/modules/mapping/planet_types/lore/srandmarr.dm
  code/modules/mapping/planet_types/lore/tauceti.dm
  code/modules/mapping/planet_types/lore/uueoaesa.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/overmap_object.dm
  html/changelogs/Ben10083 - Alignment.yml
  maps/away/away_site/uueoaesa/tret/tret_industrial_complex_.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19776 Database Freighter Firedoor Fixes
  html/changelogs/Ben10083 - Database_firelocks.yml
  maps/away/ships/pra/database_freighter/database_freighter.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19810 Fixes Hivenet transmissions for characters with mononyms
  code/modules/mob/language/station.dm
  html/changelogs/SimpleMaroon-ipchivenetfix.yml
Labels: Awaiting Merge, Bugfix

#19769 Purse Display Fix
  code/modules/client/preference_setup/loadout/items/utility.dm
  html/changelogs/geeves-purse_fix.yml
Labels: Awaiting Merge, Bugfix

#19800 Flags are now opaque when deployed, blocking the view
  code/game/objects/structures/flags_banners.dm
  html/changelogs/fluffyghost-flagsobscurevisual.yml
Labels: Awaiting Merge

#19812 Fix away ships not spawning
  code/controllers/subsystems/mapping.dm
Labels: Awaiting Merge, Changelog Required, Test Merge Candidate, Bugfix

#19802 Flagpatch - All Xanu Republic Banner
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/courierbravo-allxanupatch.yml
  icons/clothing/kit/modular_armor_accessories.dmi
Labels: Awaiting Merge, Sprites

#19762 Adds a Domadice Plushie
  code/game/objects/items/toys.dm
  code/modules/client/preference_setup/loadout/items/toy.dm
  html/changelogs/N8Toe DomadicePlushie.yml
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites

#19782 Ported the TG's error handler
  aurorastation.dme
  code/__DEFINES/admin.dm
  code/__DEFINES/stack_trace.dm
  code/__HELPERS/logging/_logging.dm
  code/__HELPERS/stack_trace.dm
  code/game/world.dm
  code/modules/admin/topic.dm
  code/modules/error_handler/error_handler.dm
  code/modules/error_handler/error_viewer.dm
  html/changelogs/fluffyghost-errorhandler.yml
Labels: Awaiting Merge, Test Merge Candidate

#19797 Refactored the abstract meta propriety
  aurorastation.dme
  code/__DEFINES/abstract_type.dm
  code/_onclick/hud/rendering/_renderer.dm
  code/core/datum/IsAbstract.dm
  code/datums/components/overhead_emote/overhead_emote_singleton.dm
  code/datums/datum.dm
  code/datums/repositories/singletons.dm
  code/game/atom/atoms_initializing_EXPENSIVE.dm
  code/game/machinery/howitzer.dm
  code/game/objects/items/weapons/RFD.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/implants/implant.dm
  code/game/objects/structures/urban.dm
  code/modules/abstract/_abstract.dm
  code/modules/admin/admin.dm
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/client/preference_setup/loadout/items/computer.dm
  code/modules/client/preference_setup/loadout/items/religion.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  code/modules/clothing/under/pants.dm
  code/modules/mob/living/simple_animal/aquatic.dm
  code/modules/mob/living/simple_animal/hostile/commanded/commanded.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/aquatic.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/retaliate.dm
  code/modules/power/apc.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Dispenser.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/noodles.dm
  code/modules/weather/weather_fsm_state_transitions.dm
  code/modules/weather/weather_fsm_states.dm
  code/unit_tests/create_and_destroy.dm
  code/unit_tests/unit_test.dm
  html/changelogs/fluffyghost-reabstracting.yml
  maps/away/away_site/shady/shady.dmm
  maps/away/away_sites.dm
  maps/random_ruins/exoplanets/exoplanet_ruins.dm
  maps/random_ruins/space_ruins/space_ruins.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#19822 Prevents gender from exploding the server on 1643.
  code/modules/mob/gender.dm
  html/changelogs/mattatlas-genderfix.yml
Labels: Awaiting Merge, Bugfix

#19820 pharmacist bugfix
  code/game/jobs/job/medical.dm
  html/changelogs/courierbravo-pharmafix.yml
Labels: Awaiting Merge, Bugfix

#19786 IHSS Reclamation Tweaks
  html/changelogs/Ben10083 - Reclamation Tweaks.yml
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19653 Ti'rakqi Smuggler Ship Fixes
  code/game/machinery/suit_cycler_units.dm
  html/changelogs/notagonk_tirakqi.yml
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dm
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dmm
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19803 IPC Memory Wiper - Moving Lockers
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  html/changelogs/courierbravo-memorywiper-move.yml
Labels: Awaiting Merge

#19826 bugfix - biogen icon fix
  code/game/machinery/biogenerator.dm
  html/changelogs/courierbravo-biogen-icon-fix.yml
Labels: Awaiting Merge, Bugfix

#19806 Janitorial buff - omnivendor tweaks
  code/game/machinery/vending_types.dm
  html/changelogs/courierbravo-shamelessjanitorbuff.yml
Labels: Awaiting Merge

#19808 Adds NobleRow's New Bishop Headsprites
  code/__DEFINES/mobs.dm
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/ipcheads.yml
  icons/mob/human_races/ipc/selen.dmi
  icons/mob/human_races/ipc/sienna.dmi
  icons/mob/human_races/ipc/siseyo.dmi
  icons/mob/human_races/markings_bishop.dmi
Labels: Awaiting Merge, Sprites

#19816 Bugfix - Pill bottle name
  code/game/objects/items/weapons/storage/pill_bottle.dm
  html/changelogs/pillbottlewhoopsie.yml
Labels: Awaiting Merge, Bugfix

#19777 Adds New Tajaran Charm: Twin Suns
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/clothing/under/accessories/xeno/tajara.dm
  html/changelogs/Ben10083 - Twin Suns.yml
  icons/obj/tajara_items.dmi
Labels: Awaiting Merge, Sprites

#19770 Raskara Okon 001 Tweaks and Fixes
  html/changelogs/Ben10083 - Okon.yml
  maps/random_ruins/exoplanets/raskara/raskara_okon.dm
  maps/random_ruins/exoplanets/raskara/raskara_okon.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#19194 Autolathe Stuff
  aurorastation.dme
  code/game/machinery/autolathe/autolathe.dm
  code/game/machinery/autolathe/autolathe_datums.dm
  code/game/machinery/autolathe/designs/ammunition.dm
  code/game/machinery/autolathe/designs/armaments.dm
  code/game/machinery/autolathe/designs/components.dm
  code/game/machinery/autolathe/designs/dinnerware.dm
  code/game/machinery/autolathe/designs/engineering.dm
  code/game/machinery/autolathe/designs/general.dm
  code/game/machinery/autolathe/designs/materials.dm
  code/game/machinery/autolathe/designs/medical.dm
  code/game/machinery/autolathe/designs/tools.dm
  code/modules/projectiles/ammunition/ammo_pile.dm
  html/changelogs/geeves-lathe_stuff.yml
  tgui/packages/tgui/interfaces/Autolathe.tsx
Labels: Awaiting Merge, TGUI
