Repository Aurorastation/Aurora.3, pull requests merged in 2024-02, with the labels that each got.

#18308 Crystal Planet Outpost
  aurorastation.dme
  code/modules/mining/mine_turfs.dm
  code/modules/overmap/exoplanets/decor/flora/crystal.dm
  code/modules/research/xenoarchaeology/artifact/artifact.dm
  code/modules/research/xenoarchaeology/artifact/artifact_crystal_madness.dm
  code/names.dm
  html/changelogs/DreamySkrell-crystal-outpost.yml
  icons/obj/xenoarchaeology.dmi
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost.dmm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_.dm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_areas.dm
  maps/away/away_site/crystal_planet_outpost/crystal_planet_outpost_landmarks.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18311 Orion Express courier shuttle tweaks
  html/changelogs/hazelmouse - oe_shuttle_tweaks.yml
  maps/away/ships/orion/orion_express_ship.dm
  maps/away/ships/orion/orion_express_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18301 Konyang: The Infected
  aurorastation.dme
  code/__DEFINES/species_languages.dm
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/silicon/robot/items/robot_tools.dm
  code/modules/mob/living/silicon/robot/presets.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/hostile/ipc_zombie.dm
  code/modules/projectiles/ammunition/bullets.dm
  html/changelogs/RustingWithYou - ipczombieslive.yml
  icons/mob/npc/ipc_zombie.dmi
  icons/mob/robots.dmi
  maps/away/ships/konyang/konyang_wreck/konyang_wreck.dm
  maps/away/ships/konyang/konyang_wreck/konyang_wreck.dmm
  maps/away/ships/konyang/konyang_wreck/konyang_wreck_areas.dm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dm
  maps/random_ruins/exoplanets/konyang/village.dm
  maps/random_ruins/exoplanets/konyang/zombie_outpost.dm
  maps/random_ruins/exoplanets/konyang/zombie_outpost.dmm
  maps/random_ruins/exoplanets/konyang/zombie_village.dm
  maps/random_ruins/exoplanets/konyang/zombie_village.dmm
  maps/random_ruins/exoplanets/konyang/zombies.dm
  maps/random_ruins/exoplanets/konyang/zombies.dmm
  sound/effects/creatures/hivebot/synth_possessed.ogg
  sound/effects/creatures/hivebot/synth_possessed_ping.ogg
  sound/effects/creatures/hivebot/synth_possessed_sigh.ogg
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site, Sounds, 🗺️ Mapping - Random Ruins

#18353 Konyang: The ECD
  aurorastation.dme
  code/game/objects/structures/ECD.dm
  html/changelogs/RustingWithYou - mcguffin.yml
  icons/obj/structure/ECD.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Review Required, Sprites, 🗺️ Mapping - Horizon

#18346 Fixes Tret passcard loadout selection
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/RustingWithYou - tretcardfix.yml
Labels: Awaiting Merge, Bugfix

#18357 Fixes health scanner augment, so it doesn't visibly message, and can no longer "hit the floor" if dizzy
  code/modules/organs/subtypes/augment.dm
  html/changelogs/llywelwyn-healthscanner.yml
Labels: Awaiting Merge, Bugfix

#18334 Prevents ghosts from calling elevators
  code/modules/turbolift/turbolift_console.dm
  html/changelogs/hazelmouse - elevator_exorcism.yml
Labels: Awaiting Merge, Bugfix

#18336 TCAF Sprite Update
  code/datums/uplink/gear loadout.dm
  code/game/objects/structures/crates_lockers/crates/gear_loadout.dm
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/Ben10083 - TCAF_Sprites.yml
  icons/clothing/kit/modular_armor.dmi
  icons/obj/storage/backpack.dmi
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_ghostroles.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18309 Xenobiology QoL Changes & Minor RD Office QoL Update
  html/changelogs/Mneme-xenobiologyqolupdate.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18211 Private yacht
  aurorastation.dme
  code/game/objects/items/devices/lighting/hull_beacon.dm
  code/game/objects/items/weapons/storage/wallets.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/modules/economy/cash.dm
  code/modules/reagents/reagent_containers/glass.dm
  html/changelogs/DreamySkrell-private-yacht.yml
  icons/obj/lighting.dmi
  maps/away/ships/yacht_civ/yacht_civ.dmm
  maps/away/ships/yacht_civ/yacht_civ_.dm
  maps/away/ships/yacht_civ/yacht_civ_areas.dm
  maps/away/ships/yacht_civ/yacht_civ_ghostroles.dm
  maps/away/ships/yacht_civ/yacht_civ_landmarks.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18075 Konyang: The Haneunim System
  aurorastation.dme
  code/modules/background/space_sectors/coalition.dm
  code/modules/background/space_sectors/space_sector.dm
  code/modules/maps/planet_types/asteroid.dm
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/overmap/exoplanets/biomes/barren.dm
  code/modules/overmap/exoplanets/themes/barren.dm
  html/changelogs/RustingWithYou - haneunim.yml
  maps/_common/mapsystem/map.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_crash.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_crash.dmm
  maps/random_ruins/exoplanets/haneunim/haneunim_flag.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_flag.dmm
  maps/random_ruins/exoplanets/haneunim/haneunim_mining.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_mining.dmm
  maps/random_ruins/exoplanets/haneunim/haneunim_mystery.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_mystery.dmm
  maps/random_ruins/exoplanets/haneunim/haneunim_refugees.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_refugees.dmm
  maps/random_ruins/exoplanets/konyang/pirate_moonshine.dm
  maps/random_ruins/exoplanets/konyang/pirate_outpost.dm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dm
  maps/random_ruins/exoplanets/konyang/village.dm
Labels: Awaiting Merge, Changes Required, 🗺️ Mapping - Random Ruins

#17825 Abandoned Propellant Depot
  aurorastation.dme
  code/modules/atmospherics/pipes.dm
  code/modules/power/lights/fixtures.dm
  html/changelogs/DreamySkrell-abandoned-propellant-depot.yml
  icons/obj/grate.dmi
  icons/obj/machinery/light.dmi
  icons/obj/overmap/overmap_stationary.dmi
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot.dmm
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot_.dm
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot_areas.dm
  maps/away/away_site/abandoned_propellant_depot/abandoned_propellant_depot_landmarks.dm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18363 Allows Corporate Reporters to access parts of Operations
  html/changelogs/SimpleMaroon-journalismcargoaccess.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18355 Fixes nonfunctional sector blacklist
  code/datums/ruins.dm
  html/changelogs/RustingWithyYou - sectorstuff.yml
Labels: Awaiting Merge, Bugfix

#18348 Consular Office B Tweaks
  html/changelogs/Ben10083 - ConsularOffice.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18340 Operating Tables Refactor
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/datums/observation/entered.dm
  code/datums/observation/exited.dm
  code/datums/observation/moved.dm
  code/game/area/area_power.dm
  code/game/atom/_atom.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/computer/Operating.dm
  code/game/machinery/machinery.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/power/power_usage.dm
  code/unit_tests/create_and_destroy.dm
  html/changelogs/fluffyghost-optablerefactor.yml
Labels: Awaiting Merge, Test Merge Candidate

#18356 Adds new foods, fixed food bug and 1 food tweak
  code/game/objects/items/trash.dm
  code/game/objects/random/loot.dm
  code/modules/cooking/recipes/recipes_breads.dm
  code/modules/cooking/recipes/recipes_confections.dm
  code/modules/cooking/recipes/recipes_eggs.dm
  code/modules/cooking/recipes/recipes_fryer.dm
  code/modules/reagents/reagent_containers/food/snacks/breads.dm
  code/modules/reagents/reagent_containers/food/snacks/confections.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/unathi.dm
  code/modules/reagents/reagent_containers/food/snacks/eggs.dm
  code/modules/reagents/reagent_containers/food/snacks/fryer.dm
  html/changelogs/TOMIXCOMICS-PR.yml
  icons/obj/item/reagent_containers/food/bread.dmi
  icons/obj/item/reagent_containers/food/confections.dmi
  icons/obj/item/reagent_containers/food/egg.dmi
  icons/obj/item/reagent_containers/food/fryer.dmi
  icons/obj/trash.dmi
Labels: Awaiting Merge, Sprites

#18332 KASF coalition navy frequency
  html/changelogs/Snowy1237-KASF-fixes.yml
  maps/away/ships/konyang/kasf_ship/kasf_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18352 Ling accent, skin tone, hair gradient, and organ failure fixes
  code/game/dna/dna2_helpers.dm
  code/game/gamemodes/changeling/helpers/_framework.dm
  code/game/gamemodes/changeling/implements/powers/body.dm
  code/game/gamemodes/changeling/implements/powers/stings.dm
  code/game/gamemodes/changeling/implements/powers/suck.dm
  html/changelogs/AlaunusLux-ling-fixes.yml
Labels: Awaiting Merge, Bugfix

#18345 Hive Consular Gun Tweaks
  code/modules/background/citizenship/vaurca.dm
  html/changelogs/RustingWithYou - variedbugmoments.yml
Labels: Awaiting Merge

#18372 Fixes an exoplanet runtime.
  code/modules/overmap/exoplanets/exoplanet.dm
  html/changelogs/mattatlas-exort.yml
Labels: Awaiting Merge, Bugfix

#18331 Improves expression mask sprites; adds Unathi mask
  code/game/objects/items/weapons/vaurca_items.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/SimpleMaroon-untiliputonthemask.yml
  icons/obj/vaurca_items.dmi
Labels: Awaiting Merge, Sprites

#18329 commissary
  code/modules/tables/rack.dm
  html/changelogs/Greenjoe12345 - commisary.yml
  icons/obj/structure/tables/table.dmi
  icons/obj/structure/urban/infrastructure.dmi
  icons/obj/structure/urban/restaurant.dmi
  icons/obj/structure/urban/tailoring.dmi
  maps/sccv_horizon/code/sccv_horizon_areas.dm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#18377 ECD layering tweak
  code/game/objects/structures/ECD.dm
  html/changelogs/RustingWithYou - ecdlayering.yml
Labels: Awaiting Merge, Bugfix

#18358 Exoplanet turfs now do not spam logs if not located on a exoplanet
  code/modules/overmap/exoplanets/decor/_turfs.dm
  html/changelogs/DreamySkrell-exoplanet-turf-no-spam-log.yml
Labels: Awaiting Merge

#18383 Fixes wallets being unable to hold boxes of cigarette components
  code/game/objects/items/weapons/storage/misc.dm
  html/changelogs/llywelwyn-walletfix.yml
Labels: Awaiting Merge, Bugfix

#18386 Commisary fixes
  html/changelogs/greenjoe12345 - commfixes.yml
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18387 Fixes shuttle window transparency
  code/game/turfs/simulated/shuttle_turfs.dm
  html/changelogs/kyres1-shuttle_cockpit_fix.yml
Labels: Awaiting Merge, Bugfix

#18396 Fixed the set ambition verb
  code/game/antagonist/antagonist_objectives.dm
  html/changelogs/fluffyghost-fixambitionverb.yml
Labels: Awaiting Merge, Bugfix

#18369 Swaps out the Hegemony consular's pistol for the Kataphract esword
  code/modules/background/citizenship/unathi.dm
  html/changelogs/llywelwyn-hegconsular.yml
Labels: Awaiting Merge

#18316 Adds Dissolvable Cleaner Tablets
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/random/loot.dm
  code/game/objects/structures/crates_lockers/closets/secure/service.dm
  code/modules/reagents/reagent_containers/pill.dm
  html/changelogs/HanSolo1519-PR-#18307.yml
  icons/obj/chemical.dmi
  icons/obj/storage/boxes.dmi
Labels: Awaiting Merge, Sprites

#18374 Adds visible messages when someone operates a recorder, like happens with PDAs, and some other tweaks
  code/game/objects/items/devices/taperecorder.dm
  html/changelogs/llywelwyn-recorder.yml
Labels: Awaiting Merge

#18371 Independent Assistants
  code/__DEFINES/jobs.dm
  html/changelogs/Ben10083 - IndepAssistant.yml
Labels: Awaiting Merge, 🚫 Do Not Merge, ⛔ Maintainer Discussion

#18364 Corporate Liaison Species Tweaks
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  html/changelogs/RustingWithYou - corprep.yml
Labels: Awaiting Merge

#18366 Makes journals recolourable, and adds them to the loadout so they're accessible to anyone
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/paperwork/journal.dm
  html/changelogs/llywelwyn-notebook.yml
  icons/obj/item/journal.dmi
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites

#18367 AI Shell Toolset Additions
  code/modules/mob/living/silicon/ai/ai_remote_control.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  html/changelogs/kermit-aitoolset.yml
Labels: Awaiting Merge

#18339 Crematorium Additions
  code/game/objects/items/weapons/chaplain_items.dm
  html/changelogs/furrycactus-morecrematoriums.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18368 Trinary holodeck
  html/changelogs/Ben10083 - Trinary_Holo.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18378 Removes Pleig's custom item
  code/modules/customitems/item_defines.dm
  html/changelogs/SimpleMaroon-pleigremoval.yml
  icons/obj/custom_items/pleig_rig.dmi
Labels: Awaiting Merge, Sprites

#18382 nerfs and reflavours cocaine od's cardiac damage
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  html/changelogs/sniblet-slowdowncokeboy.yml
Labels: Awaiting Merge

#18384 Fixes Intern Investigator spawning with an extra set of regular security cadet gloves
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/job/security.dm
  html/changelogs/llywelwyn-internfix.yml
Labels: Awaiting Merge, Bugfix

#18391 makes si'akh available to more origins
  code/modules/background/origins/origins/unathi/spaceborn.dm
  html/changelogs/RustingWithYou - maysiakhtaketheworld.yml
Labels: Awaiting Merge

#18405 Gives Bridge Crew access to the pumps in the Fuel Bay
  html/changelogs/furrycactus - bridge crew fuel access.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18385 General bridge and Deck 3 tweaks
  html/changelogs/nauticall-bridgetweaks-2-3.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18388 Adds actual sports bikes and mopeds
  code/modules/vehicles/bike.dm
  html/changelogs/kyres1-bikes_and_mopeds.yml
  icons/obj/bike.dmi
  icons/obj/vehicle/bike.dmi
Labels: Awaiting Merge, Sprites

#18381 Hivebot hub rework
  html/changelogs/hazelmouse - hivebot hub rework.yml
  icons/obj/overmap/overmap_stationary.dmi
  maps/away/away_site/hivebot_hub/hivebot_hub.dm
  maps/away/away_site/hivebot_hub/hivebot_hub.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18359 Survey Probe
  aurorastation.dme
  code/game/objects/structures/survey_probe.dm
  code/modules/maps/planet_types/barren.dm
  code/modules/maps/planet_types/crystal.dm
  code/modules/maps/planet_types/desert.dm
  code/modules/maps/planet_types/grass.dm
  code/modules/maps/planet_types/lava.dm
  code/modules/maps/planet_types/lore/burzsia.dm
  code/modules/maps/planet_types/lore/konyang.dm
  code/modules/maps/planet_types/lore/srandmarr.dm
  code/modules/maps/planet_types/snow.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/sectors.dm
  html/changelogs/DreamySkrell-survey-probe.yml
  icons/obj/xenoarchaeology.dmi
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#18397 Revert "Swaps out the Hegemony consular's pistol for the Kataphract esword"
  code/modules/background/citizenship/unathi.dm
  html/changelogs/RustingWithYou - revert-18369-hegemony_sword.yml
Labels: Awaiting Merge

#18395 Horizon Propulsion Overhaul
  html/changelogs/nauticall-atmosrevamp.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Horizon

#18398 Ghost spawner UI improvements
  code/controllers/subsystems/ghostroles.dm
  code/modules/ghostroles/spawner/base.dm
  html/changelogs/DreamySkrell-spawner-color-loc.yml
  tgui/packages/tgui/interfaces/GhostSpawner.tsx
Labels: Awaiting Merge, TGUI

#18401 Reduces cost of Journalism app to 2 GQ
  code/modules/modular_computers/file_system/programs/security/camera.dm
  html/changelogs/SimpleMaroon-2gq.yml
Labels: Awaiting Merge

#18406 Ruins UT should not randomly allow broken ruins to pass the test anymore
  aurorastation.dme
  code/modules/overmap/exoplanets/decor/turfs/abyss.dm
  code/modules/overmap/exoplanets/decor/turfs/asphalt.dm
  code/modules/overmap/exoplanets/decor/turfs/carpet.dm
  code/modules/overmap/exoplanets/decor/turfs/concrete.dm
  code/modules/overmap/exoplanets/decor/turfs/foundation.dm
  code/modules/overmap/exoplanets/decor/turfs/linoleum.dm
  code/modules/overmap/exoplanets/decor/turfs/plating.dm
  code/modules/overmap/exoplanets/decor/turfs/sidewalk.dm
  code/modules/overmap/exoplanets/decor/turfs/tiled.dm
  code/modules/overmap/exoplanets/decor/turfs/wood.dm
  code/unit_tests/ruins_tests.dm
  code/unit_tests/zas_tests.dm
  html/changelogs/fluffyghost-zastestmoretears.yml
  maps/random_ruins/exoplanets/adhomai/abandoned_village.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_archeology.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_bar.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_hunting.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_nuclear_waste_makeshift.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_raskariim_hideout.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_village.dmm
  maps/random_ruins/exoplanets/adhomai/ala_base.dmm
  maps/random_ruins/exoplanets/adhomai/nka_base.dmm
  maps/random_ruins/exoplanets/adhomai/north_pole_nka_expedition.dmm
  maps/random_ruins/exoplanets/adhomai/pra_mining_camp.dmm
  maps/random_ruins/exoplanets/asteroid/old_outpost/old_outpost.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/garage.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/house_small.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/office.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dmm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dmm
  maps/random_ruins/exoplanets/konyang/zombie_outpost.dmm
  maps/random_ruins/exoplanets/konyang/zombie_village.dmm
Labels: Review Required, Bugfix, 🗺️ Mapping - Random Ruins

#18343 Adds new Golden Deep Ornate Energy Pistol and gives it to Consular
  code/modules/background/citizenship/ipc.dm
  code/modules/projectiles/guns/energy/nuclear.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelogs/Ben10083 - Golden deep pistol.yml
  icons/obj/guns/goldendeep_ornatepistol.dmi
Labels: Awaiting Merge, Sprites

#18423 Fixes all ghost spawners being visible always
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/human/human.dm
  html/changelogs/DreamySkrell-all-ghost-spawners-visible-fix.yml
Labels: Awaiting Merge, Bugfix

#18424 Cooking codex search fix
  html/changelogs/DreamySkrell-cooking-search-fix.yml
  tgui/packages/tgui/interfaces/CookingCodex.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#18422 Miscellaneous bugfixes
  code/game/atoms.dm
  code/game/machinery/doors/door.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/getlogs.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/fluffyghost-bugfixes.yml
Labels: Awaiting Merge, Bugfix

#18418 Antag bases minor fixes
  html/changelogs/DreamySkrell-antag-bases-minor-fixes.yml
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18403 Point Verdant last minute bugfixes (chapter 1)
  code/modules/cooking/machinery/smartfridge.dm
  code/modules/maps/planet_types/lore/konyang.dm
  html/changelogs/kyres1-pointverdant_prelaunch_fixes.yml
  icons/misc/hudmenu/konyang_hud.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18318 Event/Away Site Sprite Spring Cleaning
  aurorastation.dme
  code/game/machinery/mech_recharger.dm
  code/game/objects/structures/coastal.dm
  code/game/objects/structures/decorative.dm
  code/game/objects/structures/light_pole.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/urban.dm
  code/modules/reagents/reagent_containers/food/drinks/trophy.dm
  html/changelogs/wezzy_springcleaning.yml
  icons/effects/city.dmi
  icons/mecha/mech_bay.dmi
  icons/obj/signs.dmi
  icons/obj/structure/64x32_signs.dmi
  icons/obj/structure/64x64_machinery.dmi
  icons/obj/structure/64x64_misc.dmi
  icons/obj/structure/industrial/docks.dmi
  icons/obj/structure/industrial/fencing_tall.dmi
  icons/obj/structure/industrial/infrastructure.dmi
  icons/obj/structure/miscellaneous.dmi
  icons/obj/structure/obstacles/obstacles.dmi
  icons/obj/structure/urban/infrastructure.dmi
  icons/obj/structure/urban/konyang_signs.dmi
  icons/obj/structure/urban/misc_64x64.dmi
  icons/obj/structure/urban/poles.dmi
  icons/obj/structure/urban/restaurant.dmi
  icons/obj/structure/urban/road_edges.dmi
  icons/obj/structure/urban/road_signs.dmi
  icons/obj/structure/urban/street_signs.dmi
  icons/obj/structure/urban/streetpoles.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/event/halloween/halloween.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_arms.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_robotics.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/house_small.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/landing_zone.dmm
  maps/random_ruins/exoplanets/konyang/fireoutpost.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dmm
  maps/random_ruins/exoplanets/konyang/homestead.dmm
  maps/random_ruins/exoplanets/konyang/landing_zone.dmm
  maps/random_ruins/exoplanets/konyang/ocean/naval_landing_zone.dmm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dmm
  maps/random_ruins/exoplanets/konyang/village.dmm
  maps/random_ruins/exoplanets/konyang/zombie_outpost.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Awaiting Merge, Refactor, Sprites, 🗺️ Mapping - Horizon, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Event, 🗺️ Mapping - Random Ruins

#18361 k'ois MRE
  code/game/machinery/vending_types.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  html/changelogs/DreamySkrell-kois-mre.yml
  icons/obj/item/reagent_containers/food/condiment.dmi
  icons/obj/storage/fancy/mre.dmi
Labels: Awaiting Merge, Sprites

#18428 Fixes the Golden Deep away ship being visible if no crew for it have spawned.
  html/changelogs/Snowy1237-goldenDeepFix.yml
  maps/away/ships/golden_deep/golden_deep.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18408 Resprites the Konyang police lieutenant outfit.
  code/modules/clothing/suits/armor.dm
  html/changelogs/stryker-konyanguniform.yml
  icons/clothing/under/uniforms/konyang_uniforms.dmi
Labels: Awaiting Merge, Sprites

#18409 Nugget 4x Multiplication
  code/modules/cooking/recipes/recipes_meat.dm
  html/changelogs/kyres1-nugget_expansion.yml
Labels: Awaiting Merge

#18402 Medbay Morgue and Cremation Fixes
  html/changelogs/furrycactus - morgue and cremation fixes.yml
  maps/sccv_horizon/sccv_horizon-1_deck_1.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18435 Revert "Event/Away Site Sprite Spring Cleaning"
  aurorastation.dme
  code/game/machinery/mech_recharger.dm
  code/game/objects/structures/coastal.dm
  code/game/objects/structures/decorative.dm
  code/game/objects/structures/light_pole.dm
  code/game/objects/structures/signs.dm
  code/game/objects/structures/urban.dm
  code/modules/reagents/reagent_containers/food/drinks/trophy.dm
  icons/effects/city.dmi
  icons/mecha/mech_bay.dmi
  icons/obj/signs.dmi
  icons/obj/structure/64x32_signs.dmi
  icons/obj/structure/64x64_machinery.dmi
  icons/obj/structure/64x64_misc.dmi
  icons/obj/structure/industrial/docks.dmi
  icons/obj/structure/industrial/fencing_tall.dmi
  icons/obj/structure/industrial/infrastructure.dmi
  icons/obj/structure/miscellaneous.dmi
  icons/obj/structure/obstacles/obstacles.dmi
  icons/obj/structure/urban/infrastructure.dmi
  icons/obj/structure/urban/konyang_signs.dmi
  icons/obj/structure/urban/misc_64x64.dmi
  icons/obj/structure/urban/poles.dmi
  icons/obj/structure/urban/restaurant.dmi
  icons/obj/structure/urban/road_edges.dmi
  icons/obj/structure/urban/road_signs.dmi
  icons/obj/structure/urban/street_signs.dmi
  icons/obj/structure/urban/streetpoles.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/event/halloween/halloween.dmm
  maps/event/idris_cruise/idris_cruise-1.dmm
  maps/event/rooftop/rooftop-1.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_arms.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_robotics.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/house_small.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/landing_zone.dmm
  maps/random_ruins/exoplanets/konyang/fireoutpost.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dmm
  maps/random_ruins/exoplanets/konyang/homestead.dmm
  maps/random_ruins/exoplanets/konyang/landing_zone.dmm
  maps/random_ruins/exoplanets/konyang/ocean/naval_landing_zone.dmm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dmm
  maps/random_ruins/exoplanets/konyang/village.dmm
  maps/random_ruins/exoplanets/konyang/zombie_outpost.dmm
  maps/sccv_horizon/sccv_horizon-4_centcomm.dmm
Labels: Changelog Required, Review Required, Sprites, 🗺️ Mapping - Horizon, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Event, 🗺️ Mapping - Random Ruins

#18380 Adds a handheld microphone for Journalists
  aurorastation.dme
  code/game/objects/items/devices/radio/microphone.dm
  html/changelogs/SimpleMaroon-wubadubadubisthattrue.yml
  icons/mob/items/device/lefthand_device.dmi
  icons/mob/items/device/righthand_device.dmi
  icons/obj/radio.dmi
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon

#18412 New food as well as updating lasagnas and pancakes
  code/modules/cargo/bounties/chef.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/cultural/recipes_unathi.dm
  code/modules/cooking/recipes/recipes_baked.dm
  code/modules/cooking/recipes/recipes_meat.dm
  code/modules/cooking/recipes/recipes_pastries.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/snacks/baked.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/unathi.dm
  code/modules/reagents/reagent_containers/food/snacks/meat.dm
  code/modules/reagents/reagent_containers/food/snacks/pastries.dm
  html/changelogs/TOMIXCOMICS-PR.yml
  icons/obj/item/reagent_containers/food/baked.dmi
  icons/obj/item/reagent_containers/food/cultural/human.dmi
  icons/obj/item/reagent_containers/food/cultural/unathi.dmi
  icons/obj/item/reagent_containers/food/meat.dmi
  icons/obj/item/reagent_containers/food/pastries.dmi
Labels: Awaiting Merge, Sprites, Update Wiki

#18431 Fixes canned drink inhands
  code/modules/reagents/reagent_containers/food/cans.dm
  html/changelogs/wezzy_canfix.yml
Labels: Awaiting Merge, Bugfix

#18411 Datum flags
  aurorastation.dme
  code/__DEFINES/_flags.dm
  code/__DEFINES/rust_g_overrides.dm
  code/__HELPERS/ref.dm
  code/controllers/subsystems/processing/dcs.dm
  code/controllers/subsystems/statpanel.dm
  code/datums/datum.dm
  code/datums/weakrefs.dm
  code/modules/admin/verbs/SDQL_2.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_defines.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_panel/tgui_panel.dm
  html/changelogs/fluffyghost-datumflagsrefport.yml
Labels: Awaiting Merge, Test Merge Candidate

#18417 Dominian Ship Spawn Tweaks
  html/changelogs/RustingWithYou - impsgtfo.yml
  maps/away/ships/dominia/dominian_science_vessel/dominian_science_vessel.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18446 Fixes the Hull Beacons' Colours
  code/game/objects/items/devices/lighting/hull_beacon.dm
  html/changelogs/SleepyGemmy-hull_beacons.yml
Labels: Awaiting Merge, Bugfix

#18449 Makes some aliens able to select the integrated medical scanner again
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/Lavillastrangiato - scannerfix.yml
Labels: Awaiting Merge, Bugfix

#18447 Restores the Pump Shotgun's Accuracy
  code/modules/projectiles/guns/projectile/shotgun.dm
  html/changelogs/SleepyGemmy-pump_shotgun.yml
Labels: Awaiting Merge, Bugfix

#18445 Fixes the Security Spawn Locations
  html/changelogs/SleepyGemmy-sec_spawns.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18443 Fixes Holodeck Alpha Maintenance APC
  html/changelogs/SleepyGemmy-bridge_maint_apc.yml
  maps/sccv_horizon/sccv_horizon-3_deck_3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Horizon

#18448 Fixes Point Verdant Code and Mapping Issues
  code/game/objects/structures/urban.dm
  html/changelogs/kyres1-konyang_post_launch_fixes.yml
  icons/obj/structure/urban/ledges.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18444 Improves the Europa Flagpatch Description's Syntax
  code/modules/clothing/suits/modular_armor.dm
  html/changelogs/SleepyGemmy-europa_flagpatch.yml
Labels: Awaiting Merge, Bugfix

#18465 Stairs unit test
  aurorastation.dme
  code/game/objects/structures/urban.dm
  code/modules/multiz/structures.dm
  code/unit_tests/map_tests.dm
  code/unit_tests/ss_test.dm
  code/unit_tests/stairs_type.dm
  code/unit_tests/unit_test.dm
  html/changelogs/fluffyghost-stairstest.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
Labels: Awaiting Merge, High Priority, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18437 More glasses + Jesus
  aurorastation.dme
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/client/preference_setup/loadout/items/eyes.dm
  code/modules/client/preference_setup/loadout/items/religion.dm
  code/modules/clothing/glasses/glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/accessories/religious.dm
  code/modules/organs/subtypes/augment.dm
  html/changelogs/wezzy_jesus_glasses.yml
  icons/clothing/accessories/Tallit.dmi
  icons/clothing/accessories/assunzione_amulet.dmi
  icons/clothing/accessories/crucifix.dmi
  icons/mob/eyes.dmi
  icons/mob/human_races/augments_external.dmi
  icons/mob/species/bulwark/augments_external.dmi
  icons/mob/species/vaurca/augments_external.dmi
  icons/obj/action_buttons/organs.dmi
  icons/obj/clothing/accessory/religious.dmi
  icons/obj/clothing/chaplain.dmi
  icons/obj/clothing/glasses.dmi
  icons/obj/item/clothing/eyes/med_hud.dmi
  icons/obj/item/clothing/eyes/sec_hud.dmi
  icons/obj/organs/augments.dmi
Labels: Awaiting Merge, Sprites

#18457 Bike keys and registration plates
  code/modules/lock/key.dm
  code/modules/vehicles/bike.dm
  html/changelogs/DreamySkrell-bike-keys.yml
  icons/obj/items.dmi
Labels: High Priority, Review Required, Sprites, Waiting Period

#18430 K'ois freezer crate and locker
  code/game/objects/structures/crates_lockers/closets/secure/freezer.dm
  code/game/objects/structures/crates_lockers/crates.dm
  html/changelogs/DreamySkrell-kois-rations.yml
  icons/obj/closet.dmi
  icons/obj/crate.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/sccv_horizon/sccv_horizon-2_deck_2.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Horizon, 🗺️ Mapping - Away Ship/Away Site

#18461 Adds oxygen tank dispensers and mining satchels to the Burszian mining outpost
  html/changelogs/Lavillastrangiato - bursziafix.yml
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#18491 Fixes the Round-end Summary
  code/game/antagonist/antagonist_print.dm
  html/changelogs/SleepyGemmy-antag_fled.yml
Labels: Awaiting Merge, Bugfix

#18490 Fixed a runtime on the OOC
  code/game/verbs/ooc.dm
  html/changelogs/fluffyghost-fixoocverbruntime.yml
Labels: Awaiting Merge, Bugfix

#18480 Fixed NTOS crashing with empty ghost spawner list
  html/changelogs/fluffyghost-fixghostspawnerimploding.yml
  tgui/packages/tgui/interfaces/GhostSpawner.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#18481 Adds the ability for revived IPCs to choose their pronouns, accent and languages.
  code/modules/mob/living/silicon/robot/items/robot_parts.dm
  html/changelogs/Snowy1237-IPCRevivalTweaks.yml
Labels: Awaiting Merge, Bugfix

#18469 Air Konyang Fixes
  html/changelogs/RustingWithYou - akfix.yml
  maps/away/ships/konyang/air_konyang/air_konyang.dm
  maps/away/ships/konyang/air_konyang/air_konyang.dmm
  maps/away/ships/konyang/air_konyang/air_konyang_areas.dm
  maps/away/ships/konyang/einstein_shuttle/einstein_shuttle.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18453 Adds a Callistean flag to the loadout
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/shimmeristaken-shimmerispain.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#18452 Changes the Chocolate Hazelnut Spread Paths to Lowercase
  code/modules/cooking/recipes/recipes_breads.dm
  code/modules/cooking/recipes/recipes_pastries.dm
  code/modules/item_worth/reagents.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/snacks/breads.dm
  code/modules/reagents/reagent_containers/food/snacks/pastries.dm
  html/changelogs/SleepyGemmy-chocolate_hazelnut_spread_path.yml
  maps/away/away_site/goon_base/goon_base.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18493 Genericizes the konyang tribute ruin
  html/changelogs/DreamySkrell-generic-tribute-ruin.yml
  maps/random_ruins/exoplanets/konyang/tribute.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Random Ruins

#18466 Rental bikes on Point Verdant
  code/game/machinery/vending.dm
  code/game/machinery/vending_types.dm
  code/modules/modular_computers/hardware/portable_hard_drive_presets.dm
  html/changelogs/DreamySkrell-rental-bikes.yml
  icons/obj/vending.dmi
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site

#18467 Infected IPC Balance Tweaks
  code/modules/mob/living/simple_animal/hostile/ipc_zombie.dm
  html/changelogs/RustingWithYou - zombienerf.yml
Labels: Awaiting Merge, Feedback Required

#18460 Buffs Jeweler Cockatoo's HP to 300
  code/modules/mob/living/simple_animal/hostile/retaliate/konyang.dm
  html/changelogs/Lavillastrangiato - rules of nature.yml
Labels: Awaiting Merge

#18472 Einstein Engines Departmental Outfits
  code/modules/clothing/factions/einstein.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/engineering.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  html/changelogs/sniblet-ee-dept-uniforms.yml
  icons/clothing/under/uniforms/einstein.dmi
Labels: Awaiting Merge, Sprites

#18475 Adds the Coalition Navy frequency to the KASF ship (for real now).
  html/changelogs/Snowy1237-KonyangVariousMappingAdditions.yml
  maps/away/ships/konyang/kasf_ship/kasf_ship_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18511 Point Verdant tweaks and fixes
  html/changelogs/DreamySkrell-pv-last-minute-fixes.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Awaiting Merge, High Priority, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18478 Adds custom Konyang lobby music.
  code/controllers/subsystems/ticker.dm
  code/game/machinery/jukebox.dm
  code/modules/background/space_sectors/coalition/coalition.dm
  code/modules/background/space_sectors/space_sector.dm
  html/changelogs/mattatlas-lobbytracks.yml
  maps/aurora/code/aurora_holodeck.dm
  maps/sccv_horizon/code/sccv_horizon_holodeck.dm
  sound/attributions.txt
  sound/music/clouds.s3m
  sound/music/lobby/clouds.s3m
  sound/music/lobby/space.ogg
  sound/music/lobby/title2.ogg
  sound/music/lobby/traitor.ogg
  sound/music/space.ogg
  sound/music/title2.ogg
  sound/music/traitor.ogg
  sound/serversound_list.txt
Labels: Awaiting Merge, 🗺️ Mapping - Aurora, 🗺️ Mapping - Horizon, Sounds

#18489 Minor playable grem fixes, minor refactors
  code/game/atoms.dm
  code/modules/ghostroles/spawner/atom/greimorian_servant.dm
  code/modules/ghostroles/spawner/base.dm
  code/modules/ghostroles/spawner/simplemob/spider_queen.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/fluffyghost-fixplayablegrems.yml
Labels: Awaiting Merge

#18484 Adds the Peaked Beret
  code/game/objects/random/clothing.dm
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/clothing/head/berets.dm
  html/changelogs/SleepyGemmy-peaked_beret.yml
  icons/obj/clothing/hats/berets.dmi
Labels: Awaiting Merge, Sprites

#18486 Bugfixes and harddels pack
  code/_onclick/hud/screen_objects.dm
  code/controllers/subsystems/mob.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/mob/living/carbon/human/human_species.dm
  html/changelogs/fluffyghost-fixmannequinharddelandmore.yml
Labels: Awaiting Merge

#18514 Roll Left -> Roll Right on Starboard
  html/changelogs/rollright.yml
  tgui/packages/tgui/interfaces/Helm.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#18479 Movement lag compensation experiment
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/game/atoms_movable.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/mob/abstract/freelook/update_triggers.dm
  code/modules/mob/mob_movement.dm
  code/modules/multiz/zmimic/mimic_movable.dm
  html/changelogs/fluffyghost-movementlagcompensator.yml
Labels: Awaiting Merge, ⚠ High Risk, Test Merge Candidate

#18464 Kazhkz Ship fixes & tweaks
  html/changelogs/RustingWithYou - kazhkzfixes.yml
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer.dmm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer_areas.dm
  maps/away/ships/dominia/dominian_unathi_privateer/dominian_unathi_privateer_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18524 Fixes Cryopod Lag
  code/game/machinery/cryopod.dm
  html/changelogs/arrow768-fix-cryopod-lag.yml
Labels: Awaiting Merge, High Priority, Bugfix, Performance

#18525 Point Verdant now takes cargo packages + some bug fixes
  html/changelogs/Ben10083 - PV Cargo.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Review Required, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18527 Point Verdant Access Fixes & Lighting
  code/modules/vehicles/bike.dm
  html/changelogs/RustingWithYou - verdantfixes.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18429 K'ois MRE in the loadout
  code/modules/client/preference_setup/loadout/items/xeno/vaurca.dm
  html/changelogs/DreamySkrell-kois-mre-loadout.yml
Labels: Awaiting Merge

#18501 KASF Corvette spawn weight tweak
  html/changelogs/DreamySkrell-kasf-weight.yml
  maps/away/ships/konyang/kasf_ship/kasf_ship.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18399 Adds an area flag to prevent turf destruction
  code/__DEFINES/misc.dm
  code/game/turfs/simulated/floor_acts.dm
  code/game/turfs/simulated/floor_attackby.dm
  code/modules/overmap/exoplanets/decor/_areas.dm
  html/changelogs/RustingWithYou - bangbangboom.yml
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
  maps/random_ruins/exoplanets/haneunim/haneunim_mining.dm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_arms.dm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_refinery.dm
  maps/random_ruins/exoplanets/konyang/abandoned/factory_robotics.dm
  maps/random_ruins/exoplanets/konyang/abandoned/garage.dm
  maps/random_ruins/exoplanets/konyang/abandoned/house _small.dm
  maps/random_ruins/exoplanets/konyang/abandoned/landing_zone.dm
  maps/random_ruins/exoplanets/konyang/abandoned/office.dm
  maps/random_ruins/exoplanets/konyang/fireoutpost.dm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dm
  maps/random_ruins/exoplanets/konyang/homestead.dm
  maps/random_ruins/exoplanets/konyang/landing_zone.dm
  maps/random_ruins/exoplanets/konyang/pirate_moonshine.dm
  maps/random_ruins/exoplanets/konyang/pirate_outpost.dm
  maps/random_ruins/exoplanets/konyang/swamp_4.dm
  maps/random_ruins/exoplanets/konyang/telecomms_outpost.dm
  maps/random_ruins/exoplanets/konyang/village.dm
Labels: Review Required, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#18507 Adds a Venusian flag, and fixes a pathing issue.
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/shimmeristaken-shimmerdoesitagain.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#18500 Added a new mob and a weapon for Purpose.
  aurorastation.dme
  code/__DEFINES/species.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/clothing/spacesuits/rig/suits/terminator.dm
  code/modules/item_worth/worths_list.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/carbon/human/human_powers.dm
  code/modules/mob/living/carbon/human/human_species.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  code/modules/organs/robolimbs.dm
  code/modules/power/cable.dm
  code/modules/projectiles/guns/energy/scythe.dm
  code/modules/projectiles/projectile/bullets.dm
  code/unit_tests/create_and_destroy.dm
  html/changelogs/mattatlas-iamwhatiam.yml
  icons/clothing/rig/hunter_killer.dmi
  icons/clothing/rig/terminator.dmi
  icons/mob/human_races/ipc/r_hunter_killer.dmi
  icons/mob/human_races/ipc/r_terminator.dmi
  icons/obj/guns/scythe.dmi
Labels: Awaiting Merge, Sprites

#18534 Point Verdant Hotel Death Trap Fall Fix
  html/changelogs/SleepyGemmy-pv_fix.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18535 Stargazer Haneuim Blurb Typo Fix
  code/modules/background/space_sectors/coalition/coalition.dm
  html/changelogs/SleepyGemmy-spelling.yml
Labels: Awaiting Merge, Bugfix

#18532 Fixes Point Verdant waterdock stairs and bartender access
  html/changelogs/RustingWithYou - stairs.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18509 Restricts Skrell pronouns to plural
  code/modules/mob/living/carbon/human/species/station/skrell/skrell.dm
  html/changelogs/Lavillastrangiato - skronouns.yml
Labels: Awaiting Merge

#18537 Rock Texture Fix
  html/changelogs/SleepyGemmy-rock_fix.yml
  icons/turf/smooth/rock_dense.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#18543 Adds shoes to burger employees
  html/changelogs/peppermint-burger-fix.yml
  maps/away/away_site/konyang/point_verdant/point_verdant_ghostroles.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18544 Analog Radio Fix
  code/game/objects/items/lore_radio.dm
  html/changelogs/SleepyGemmy-analog_radio_fix.yml
Labels: Awaiting Merge, Bugfix

#18513 Bike ramming tweak
  code/modules/vehicles/bike.dm
  html/changelogs/DreamySkrell-bike-crash-tweak.yml
Labels: Awaiting Merge

#18497 Various Melee Tweaks
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/martial_arts/swordsmanship.dm
  html/changelogs/RustingWithYou - sovlenhancement.yml
Labels: Awaiting Merge, Balance

#18553 Fixes the body appearance changer not letting you change pronouns and leaving you stuck as a certain gender.
  code/modules/mob/living/carbon/human/appearance.dm
  code/modules/nano/modules/human_appearance.dm
  html/changelogs/mattatlas-bcfix.yml
Labels: Awaiting Merge, Bugfix

#18561 Point Verdant Hotel Fixes
  html/changelogs/SleepyGemmy-pv_hotel_stairs.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#18558 Augment Spritesheet fix
  code/modules/organs/organ_icon.dm
  html/changelogs/wezzy_organ_spritesheet.yml
Labels: Awaiting Merge, Bugfix

#18573 Fixed sound tokens still listening to destroy events
  code/datums/sound_player.dm
  code/game/machinery/jukebox.dm
  code/game/objects/items/devices/geiger.dm
  code/game/objects/items/weapons/shields.dm
  code/modules/overmap/ships/computers/sensors.dm
  code/modules/synthesized_instruments/sound_token.dm
  html/changelogs/fluffyghost-fixsoundtokenslisteningevents.yml
Labels: Awaiting Merge, Bugfix

#18574 Fixed specie autoadapt to not runtime
  code/game/objects/objs.dm
  html/changelogs/fluffyghost-fixspecieautoadapt.yml
Labels: Awaiting Merge, Bugfix

#18536 Fixes Chainlink Fences Being Leapable
  code/game/objects/structures/urban.dm
  html/changelogs/RustingWithYou - fences.yml
Labels: Awaiting Merge, Bugfix

#18533 Psi Points on Species Change
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/RustingWithYou - skrostroles.yml
Labels: Awaiting Merge

#18531 Point Verdant Delivery Points + Long Range Holopad in Cells + Konyang Police Fax + Police Speedloader fix + L + Ratio
  code/modules/cargo/delivery/package.dm
  code/modules/cargo/delivery/receptacle.dm
  code/modules/projectiles/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  html/changelogs/Ben10083 - PV Deliveries.yml
  maps/away/away_site/konyang/point_verdant/point_verdant-1.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-2.dmm
  maps/away/away_site/konyang/point_verdant/point_verdant-3.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18528 Adds a beer cocktail (snakebite)
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/llywelwyn-booze.yml
  icons/obj/drinks.dmi
Labels: Awaiting Merge, Sprites

#18523 Enables custom name/desc on recolourable glasses in the loadout
  code/modules/client/preference_setup/loadout/items/eyes.dm
  html/changelogs/llywelwyn-glasses.yml
Labels: Awaiting Merge

#18518 Point Verdant Police logo for paperwork
  code/__HELPERS/text.dm
  code/modules/asset_cache/asset_cache.dm
  code/modules/paperwork/paper.dm
  html/changelogs/greenjoe12345 - coplogo.yml
  html/images/pvpolicelogo.png
  html/images/pvpolicelogo_small.png
Labels: Awaiting Merge

#18517 Renames the Pirate Base to Its Real Name
  aurorastation.dme
  html/changelogs/SleepyGemmy-map_rename.yml
  maps/away/away_site/pirate_base/pirate_base.dm
  maps/away/away_site/pirate_base/pirate_base.dmm
  maps/away/away_site/pirate_base/pirate_base_areas.dm
  maps/away/away_site/pirate_base/pirate_base_ghostroles.dm
  maps/away/away_site/pirate_base/pirate_base_items.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#18547 Timer subsystem update, second try
  aurorastation.dme
  code/__DEFINES/assert.dm
  code/__DEFINES/math_physics.dm
  code/__DEFINES/maths.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/_lists.dm
  code/controllers/subsystems/timer.dm
  code/datums/datum.dm
  html/changelogs/fluffyghost-timerhell.yml
Labels: Awaiting Merge, ⚠ High Risk, Test Merge Candidate

#18549 Refactored MouseDrop_T
  code/_onclick/drag_drop.dm
  code/game/gamemodes/cult/structures/pylon.dm
  code/game/machinery/OpTable.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/mecha_fabricator.dm
  code/game/machinery/pipe/pipe_dispenser.dm
  code/game/machinery/rechargestation.dm
  code/game/machinery/suit_cycler.dm
  code/game/objects/buckling.dm
  code/game/objects/items/weapons/traps.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/morgue.dm
  code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  code/game/objects/structures/trash_pile.dm
  code/modules/battlemonsters/items/core.dm
  code/modules/battlemonsters/items/deck.dm
  code/modules/cooking/machinery/gibber.dm
  code/modules/multiz/hoist.dm
  code/modules/power/fusion/fuel_assembly/fuel_compressor.dm
  code/modules/reagents/Chemistry-Machinery.dm
  code/modules/recycling/disposal.dm
  code/modules/tables/interactions.dm
  code/modules/vehicles/bike.dm
  code/modules/vehicles/train.dm
  code/modules/vehicles/unicycle.dm
  html/changelogs/fluffyghost-mousedroptrefactor.yml
Labels: Awaiting Merge, Refactor
