Repository Aurorastation/Aurora.3, pull requests merged in 2025-06, with the labels that each got.

#20729 Dominian Corvette Remap
  aurorastation.dme
  html/changelogs/notagonk-changelog_dominia_remap.yml
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette.dmm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette_areas.dm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette_ghostroles.dm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette_landmarks.dm
  maps/away/ships/dominia/dominian_corvette/dominian_corvette_shuttle.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20763 APC Item Interaction Cleanup
  code/modules/power/apc.dm
  html/changelogs/Batrachophreno-APCTentativeFix.yml
Labels: Awaiting Merge, Bugfix

#20781 Tajaran ingredient naming consistency
  code/datums/trading/food.dm
  code/game/machinery/vending_types.dm
  code/modules/cargo/bounties/hydroponics.dm
  code/modules/cargo/items/hospitality.dm
  code/modules/cooking/recipes/cultural/recipes_tajara.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/mapping/planet_types/lore/srandmarr.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drink/food_drink_species_tajara.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  code/modules/reagents/reagent_containers/food/lunch.dm
  html/changelogs/Batrachophreno-IngredientNameConsistency.yml
  icons/obj/drinks.dmi
  icons/obj/hydroponics_products.dmi
  maps/away/away_site/romanovich/grand_romanovich.dmm
  maps/away/away_site/tajara/taj_safehouse/tajara_safehouse.dmm
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_bar.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_hunting.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_village.dmm
  maps/random_ruins/exoplanets/adhomai/nka_base.dmm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#20785 Adds the Unathi Morozi Accent
  code/__DEFINES/background.dm
  code/modules/background/accent/unathi.dm
  code/modules/background/origins/origins/unathi/spaceborn.dm
  html/changelogs/html/changelogs/evandorf-unathi-morozi-accent.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#20780 Adds Commonwealth of Hieroaetheria passports to the Diona loadout
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/SimpleMaroon-hiewoaethewia.yml
  icons/obj/item/clothing/accessory/passcards.dmi
Labels: Awaiting Merge, Sprites

#20792 Hydroponics fixes and additions
  code/game/machinery/biogenerator.dm
  code/game/objects/items/toys.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drink/food_drink_species_skrell.dm
  html/changelogs/hazelmouse-bloodreturn.yml
  icons/obj/library.dmi
Labels: Awaiting Merge, Sprites

#20716 Add minimum pop requirements to greim events
  code/modules/events/event.dm
  code/modules/events/event_container.dm
  code/modules/events/infestation.dm
  html/changelogs/Batrachophreno-20716.yml
  tools/Event Probabilities/Event Probabilities.xlsx
Labels: Awaiting Merge, Tools

#20804 Spore packets no longer have a seed packet under their overlay
  code/modules/hydroponics/seed_packets.dm
  html/changelogs/hazelmouse-plaaaants.yml
Labels: Awaiting Merge, Bugfix

#20808 Fixes multiple pellet hits from projectiles not dealing damage.
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/GeneralCamo - Pellet Damage Fix.yml
Labels: Awaiting Merge, Bugfix

#20816 Adds missing XGM gas definition for Nitrogen Dioxide
  code/defines/gases.dm
  html/changelogs/Batrachophreno-NO2DefinitionXGM.yml
Labels: Awaiting Merge, Bugfix

#20801 Adds Scaleshields- Code, Icons, and Loadout
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  code/modules/clothing/under/accessories/xeno/unathi.dm
  html/changelogs/html/changelogs/evandorf-scaleshields.yml
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites

#20798 Balloon alert improvements
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/_renderer.dm
  code/game/machinery/howitzer.dm
  code/game/objects/items/devices/tvcamera.dm
  code/game/objects/structures/weapons_rack.dm
  code/modules/balloon_alert/balloon_alert.dm
  code/modules/games/cards.dm
  code/modules/games/tarot.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/projectile.dm
  code/modules/reagents/reagent_containers/food/drinks/bottle.dm
  html/changelogs/GeneralCamo - Balloon Alert.yml
Labels: Awaiting Merge

#20796 Nonbinary Tajara
  code/modules/mob/living/carbon/human/species/station/tajara/tajara.dm
  html/changelogs/Greenjoe - nbtaj.yml
Labels: Awaiting Merge

#20750 Gives Geras Dionae melee armour
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona_subspecies.dm
  code/unit_tests/mob_tests.dm
  html/changelogs/hazelmouse-shroomofdoom.yml
Labels: Awaiting Merge, Balance

#20778 Two new hairstyles (Punk Shaved, Sidecut Short Left/Right)
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/Batrachophreno-ShortSidecuts.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites

#20803 Adds playable hivebots for Odyssey use
  aurorastation.dme
  code/__DEFINES/species_languages.dm
  code/modules/ghostroles/spawner/atom/hivebot.dm
  code/modules/mob/language/outsider.dm
  code/modules/mob/living/simple_animal/hostile/hivebots/hivebot.dm
  html/changelogs/thedansemacabre-hiveboss.yml
  icons/mob/npc/hivebot.dmi
Labels: Awaiting Merge, Sprites

#20782 Adds Lyod Fatesayer Cards
  code/modules/cargo/items/recreation.dm
  code/modules/client/preference_setup/loadout/items/religion.dm
  code/modules/games/cards.dm
  code/modules/games/tarot.dm
  html/changelogs/KingOfThePing - lyodiic_tarots.yml
  icons/obj/item/playing_cards.dmi
  sound/attributions.txt
  sound/items/cards/bone_flip.ogg
  sound/items/cards/bone_shuffle.ogg
  sound/items/drop/bone_drop.ogg
Labels: Awaiting Merge, Review Required, Sprites, Sounds

#20846 Sewage + shallow water bugfixes
  code/modules/overmap/exoplanets/decor/turfs/water.dm
  html/changelogs/hazelmouse-water.yml
Labels: Awaiting Merge, Bugfix

#20847 Custom item augments are no longer duplicated
  code/modules/customitems/item_spawning.dm
  html/changelogs/hazelmouse-aaaaaa.yml
Labels: Awaiting Merge, Bugfix

#20829 Burzsia Alignment
  code/modules/mapping/planet_types/lore/burzsia.dm
  html/changelogs/Ben10083 - Burzsia_Alignment.yml
Labels: Awaiting Merge

#20823 Adds 2 new Skrell audible emotes
  code/modules/emotes/definitions/_species.dm
  code/modules/emotes/definitions/audible.dm
  html/changelogs/hazelmouse-peep!.yml
  sound/voice/peep1.ogg
  sound/voice/puff.ogg
Labels: Awaiting Merge, Sounds

#20826 Lowers oven loop sound volume
  code/datums/looping_sounds/machinery_sounds.dm
  html/changelogs/html/changelogs/Jasorn-lowerovensound.yml
Labels: Awaiting Merge

#20817 Tweaks a few ghost spawns in Burzsia.
  code/__DEFINES/space_sectors.dm
  html/changelogs/GeneralCamo - Burszia Tweaks.yml
  maps/away/ships/coc/coc_ranger/coc_ship.dm
  maps/away/ships/xanu/xanu_frigate.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20822 Hephaestus Sec ship kitchen/dirtifying
  html/changelogs/stev-the-third-hephship.yml
  maps/away/ships/heph/heph_security/heph_security.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20815 Adds Armor-Piercing 9mm Magazines to the game
  code/datums/uplink/ammunition.dm
  code/modules/projectiles/ammunition/boxes.dm
  code/modules/projectiles/ammunition/bullets.dm
  code/modules/projectiles/projectile/bullets.dm
  html/changelogs/html/changelogs/Birigilis-Aurora.3Evil.yml
  icons/obj/ammo.dmi
Labels: Awaiting Merge, Sprites

#20861 Rename a proc arg from `args` to `arguments`
  code/datums/uplink/announcements.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#20866 AI Shell can no Longer be Autotraitor
  code/datums/mind.dm
  html/changelogs/Ben10083 - AI_Mind.yml
Labels: Awaiting Merge, Bugfix

#20871 Fixes Recent Changelog Errors and Removes The Incorrect Path
  html/changelogs/Birigilis-Aurora.3Evil.yml
  html/changelogs/Jasorn-lowerovensound.yml
  html/changelogs/alaunuslux-add-custom-background-highlight-colors.yml.yml
  html/changelogs/evandorf-remains-interaction-fix.yml
  html/changelogs/evandorf-scaleshields.yml
  html/changelogs/evandorf-unathi-morozi-accent.yml
Labels: Review Required

#20863 Forearm crutches + Pair of crutches in loadout
  code/defines/obj/weapon.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/Greenjoe - newcrutch.yml
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/obj/weapons.dmi
Labels: Awaiting Merge, Sprites

#20862 Assault Shotgun Wielded Sprites
  html/changelogs/stev-the-third-ashotgun.yml
  icons/obj/guns/assaultshotgun.dmi
Labels: Awaiting Merge, Sprites

#20856 Adds Radiation Collector Arrays to the Operations order list.
  code/modules/cargo/items/engineering.dm
  html/changelogs/kermit-operations-radcollectors.yml
Labels: Awaiting Merge

#20857 throws a few more 'Jargon' mentions down the memory hole
  code/modules/cargo/items/science.dm
  code/modules/clothing/spacesuits/void/alien/unathi.dm
  html/changelogs/kermit-nralakk.yml
  icons/obj/light_overlays.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20860 Further reduce drone fall_impact() damage.
  code/modules/mob/living/silicon/robot/drone/drone.dm
  html/changelogs/Batrachophreno-DroneFallDmg.yml
Labels: Awaiting Merge

#20855 Fix missing pixels in new hairstyle
  html/changelogs/Batrachophreno-ShortSidecuts.yml
  icons/mob/human_face/hair.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20852 Tweaks Freebooter Salvager ship
  html/changelogs/kano-dot-freebooter-salvager-oops.yml
  maps/away/ships/freebooter/freebooter_salvager/freebooter_salvager.dm
  maps/away/ships/freebooter/freebooter_salvager/freebooter_salvager.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20814 Improve usefulness of Custodial Supplies Locator app
  code/game/objects/items/weapons/mop.dm
  code/game/objects/structures/janicart.dm
  code/game/objects/structures/mop_bucket.dm
  code/modules/mob/living/bot/cleanbot.dm
  code/modules/modular_computers/file_system/programs/civilian/janitor.dm
  html/changelogs/Batrachophreno-JanitorSuppliesApp.yml
  tgui/packages/tgui/interfaces/Janitor.tsx
Labels: Awaiting Merge, TGUI

#20840 Burzsia Mining Outpost Overhaul
  html/changelogs/Ben10083 - Burzsia_Mining_Overhaul.yml
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dm
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#20842 Adds a stasis setting to hydroponics trays
  code/game/machinery/machinery.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_process.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/power/power_usage.dm
  html/changelogs/hazelmouse-hydrostasis.yml
  icons/obj/hydroponics_machines.dmi
Labels: Awaiting Merge, Sprites

#20806 Allows Storytellers to go freely between z-levels
  code/modules/multiz/movement.dm
  html/changelogs/hazelmouse-stmovement.yml
Labels: Awaiting Merge

#20874 First-aid Kit Define
  code/__DEFINES/inventory.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  html/changelogs/SleepyGemmy-firstaid_kit_define.yml
Labels: Awaiting Merge, Bugfix

#20870 New Wetsuits for Skrell
  code/game/objects/random/loot.dm
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/clothing/under/xenos/skrell.dm
  html/changelogs/stev-the-third-wetsuits.yml
  icons/obj/item/clothing/under/skrell/wetsuit.dmi
Labels: Awaiting Merge, Sprites

#20880 Misc TGUI updates
  code/game/machinery/spaceheater.dm
  code/game/objects/structures/tank_dispenser.dm
  html/changelogs/Batrachophreno-Tgui.yml
  tgui/packages/tgui/interfaces/SpaceHeater.tsx
  tgui/packages/tgui/interfaces/TankDispenser.tsx
  tgui/packages/tgui/interfaces/TransferValve.tsx
Labels: Awaiting Merge, TGUI

#20886 Deletes an Unused Icon File
  icons/mob/abstract/virtual.dmi
Labels: Awaiting Merge, Changelog Required, Sprites, Bugfix

#20893 Add missing Fuel and Aux pipe types to RFD-P
  code/game/objects/items/weapons/RFD.dm
  html/changelogs/Batrachophreno-RFD-P.yml
Labels: Awaiting Merge, Bugfix

#20895 Remove rogue pixel on cigarette packet
  html/changelogs/Batrachophreno-RoguePixel.yml
  icons/obj/cigs_lighters.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20898 Bishop Screens! + Other Bishop related fixes
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/cometblaze-PR-20898.yml
  icons/mob/human_face/ipc_screens.dmi
  icons/mob/human_races/markings_bishop.dmi
Labels: Awaiting Merge, Sprites

#20897 Adds diet Diesel to the Diona loadout
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Drugs.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  html/changelogs/SimpleMaroon-decafdiesel.yml
  icons/obj/item/reagent_containers/food/condiment.dmi
Labels: Awaiting Merge, Sprites

#20868 New orange high visibility clothing set
  code/modules/client/preference_setup/loadout/items/pants.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/pants/pants.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/fabiank3-new-orange-hazard-clothing.yml
  icons/clothing/kit/highvis.dmi
Labels: Awaiting Merge, Sprites

#20911 Corrected window resolutions for new TGUI windows
  html/changelogs/Batrachophreno-Tgui2.yml
  tgui/packages/tgui/interfaces/SpaceHeater.tsx
  tgui/packages/tgui/interfaces/TankDispenser.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#20805 The Shortening of the Way: Cryo Outpost & Nuclear Silo
  html/changelogs/hazelmouse-shortening.yml
  maps/away/scenarios/cryo_outpost/cryo_outpost.dmm
  maps/away/scenarios/nuclear_silo/nuclear_silo.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20915 APC False Alarm Fix
  code/modules/power/apc.dm
  html/changelogs/Batrachophreno-ApcAlarmFix.yml
Labels: Review Required, Bugfix
