Repository Aurorastation/Aurora.3, pull requests merged in 2025-01, with the labels that each got.

#20307 Adds the option to create Slimy Meat at the biogenerator.
  code/game/machinery/biogenerator.dm
  html/changelogs/biogenerator-slimy-meat.yml
Labels: Awaiting Merge

#20311 Updates the description of the Aphy plush.
  code/game/objects/items/toys.dm
  html/changelogs/flaminglily-mars.yml
Labels: Awaiting Merge

#20316 Vaurca Consular gun fixes
  code/modules/background/citizenship/skrell.dm
  code/modules/background/citizenship/unathi.dm
  code/modules/background/citizenship/vaurca.dm
  html/changelogs/hazelmouse-bugfix!.yml
Labels: Awaiting Merge, Bugfix

#20325 Fix devices shocking players repeatedly
  code/datums/wires/airlock.dm
  code/datums/wires/smartfridge.dm
  code/datums/wires/suit_storage_unit.dm
  code/datums/wires/vending.dm
  html/changelogs/victorShchagin-PR-20325.yml
Labels: Awaiting Merge, Bugfix

#20319 Allows assistants to start with faction backpacks
  code/game/jobs/faction/hephaestus.dm
  code/game/jobs/faction/idris.dm
  code/game/jobs/faction/orion_express.dm
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/ship_crew.dm
  html/changelogs/tag114 - backpack.yml
Labels: Awaiting Merge

#20242 Psi Flipping
  code/modules/reagents/reagent_containers/food/drinks.dm
  html/changelogs/geeves-psi_flipping.yml
Labels: Awaiting Merge

#20230 Replace Social Credit Score with Social Compatibility Index
  code/modules/background/accent/diona.dm
  code/modules/background/citizenship/skrell.dm
  code/modules/background/origins/origins/diona/xrim.dm
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/clothing/under/accessories/xeno/skrell.dm
  code/modules/clothing/under/xenos/skrell.dm
  html/changelogs/Warbidon-PR-20230.yml
  texts/lore_radio/tauceti/52.4_Raging_Tides.txt
Labels: Awaiting Merge

#20330 Fixes sand showing as glass in the ore console
  code/modules/mining/ore_datum.dm
  html/changelogs/Jasorn-SandFix.yml
Labels: Awaiting Merge, Bugfix

#20345 Refactor opendream run and pin dotnet for it
  .github/workflows/byond.yml
  tools/ci/install_od.sh
  tools/ci/run_od.sh
Labels: High Priority, Changelog Required, Refactor, Review Required, Bugfix, Tools

#20321 Clicks refactor
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_mouse.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/dcs/signals/signals_object/signals_object.dm
  code/__HELPERS/lists.dm
  code/__HELPERS/turfs.dm
  code/_onclick/ai.dm
  code/_onclick/click.dm
  code/_onclick/click_ctrl.dm
  code/_onclick/click_handling.dm
  code/_onclick/cyborg.dm
  code/_onclick/item_attack.dm
  code/datums/components/_component.dm
  code/datums/components/eye/_eye.dm
  code/datums/components/eye/freelook.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmode/buttons.dm
  code/modules/admin/buildmode/click_handler.dm
  code/modules/client/client_procs.dm
  code/modules/clothing/masks/miscellaneous.dm
  code/modules/heavy_vehicle/mech_interaction.dm
  code/modules/mob/abstract/freelook/ai/eye.dm
  code/modules/mob/abstract/freelook/eye.dm
  code/modules/mob/abstract/ghost/ghost.dm
  code/modules/mob/abstract/ghost/storyteller/storyteller_verbs.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_grab.dm
  code/modules/mob/update_icons.dm
  code/modules/paperwork/photography.dm
  html/changelogs/fluffyghost-clicksrefactor.yml
Labels: Awaiting Merge, Refactor, ⚠ High Risk, Test Merge Candidate

#20331 Removes the age restriction on Geras Dionae
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/yonnimer-dionaeage.yml
Labels: Awaiting Merge

#20298 Odyssey Early Announcement Tweak
  code/datums/scenarios/scenario.dm
  html/changelogs/geeves-odyssey_announcement_tweak.yml
Labels: Awaiting Merge

#20329 Adds Missing Usage Flags for Shuttle Manifest
  code/modules/modular_computers/file_system/programs/command/away_manifest.dm
  html/changelogs/Ben10083 - Shuttle Manifest AI.yml
Labels: Awaiting Merge, Bugfix

#20343 Adds noble Dionae and Viridis origins
  code/__DEFINES/background.dm
  code/modules/background/accent/diona.dm
  code/modules/background/citizenship/unathi.dm
  code/modules/background/origins/origins/diona/moghes.dm
  code/modules/mob/living/carbon/human/species/station/diona/diona.dm
  html/changelogs/RustingWithYou - letgreenthingsgrow.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#20333 Verbs subsystem
  aurorastation.dme
  code/__DEFINES/callbacks.dm
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/verb_manager.dm
  code/controllers/subsystems/speech_controller.dm
  code/controllers/subsystems/verb_manager.dm
  code/datums/datum.dm
  code/datums/verb_callbacks.dm
  code/modules/client/client_procs.dm
  code/modules/mob/abstract/freelook/eye.dm
  code/modules/mob/abstract/ghost/observer/observer.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/mob/say.dm
  code/modules/tgui/tgui.dm
Labels: Awaiting Merge, Changelog Required, Refactor, ⚠ High Risk, Test Merge Candidate

#20358 A lot of bugfixes.
  code/__HELPERS/mobs.dm
  code/defines/procs/announce.dm
  code/game/atoms_movable.dm
  code/game/gamemodes/changeling/helpers/_framework.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/circuitboards/computer/research.dm
  code/game/objects/items/weapons/traps.dm
  code/game/turfs/simulated/wall_icon.dm
  code/modules/cargo/bounties/chef.dm
  code/modules/cargo/random_stock/t1_common.dm
  code/modules/mob/abstract/ghost/observer/observer.dm
  code/modules/mob/mob.dm
  code/modules/organs/organ_external.dm
  code/modules/power/fusion/core/core_field.dm
  code/modules/power/fusion/fusion_particle_catcher.dm
  code/modules/psionics/abilities/pull.dm
  code/modules/research/designs/circuit/computer_circuits.dm
  code/modules/research/rdconsole.dm
  html/changelogs/mattatlas-bugfixbonanza.yml
Labels: Awaiting Merge, Bugfix

#20313 Changes options for Orepit citizenship and updates important origin i…
  code/__DEFINES/background.dm
  code/modules/background/citizenship/ipc.dm
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/ipc/coalition.dm
  html/changelogs/simplemaroon-orepitmorelikesnorepit.yml
Labels: Awaiting Merge

#20371 Kitchen Utensil Sprite Fix
  code/game/objects/items/weapons/material/kitchen.dm
  code/game/objects/items/weapons/material/knives.dm
  html/changelogs/Acetrea-kitchenutensilsinhands.yml
Labels: Awaiting Merge, Bugfix

#20373 Modular armour bug fix
  html/changelogs/ClemTheDuckModularArmourFixes.yml
  icons/clothing/kit/modular_armor.dmi
  icons/clothing/kit/modular_armor_accessories.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20353 SPLF shuttle airlock fix
  html/changelogs/hazelmouse-airlockfix.yml
  maps/away/ships/sol/sol_splf/splf_raider.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#20375 Adds on-mob sprites for the pocketwatch + differing states per slot worn
  code/datums/trading/misc.dm
  code/game/objects/items/tajara.dm
  code/game/objects/structures/therapy.dm
  code/modules/client/preference_setup/loadout/items/wrists.dm
  code/modules/client/preference_setup/loadout/items/xeno/tajara.dm
  code/modules/clothing/wrists/watches.dm
  html/changelogs/SimpleMaroon-pocketwatch.yml
  icons/obj/item/clothing/wrists/wrist.dmi
  icons/obj/items.dmi
  maps/away/scenarios/cryo_outpost/cryo_outpost_submaps.dmm
  maps/away/ships/nka/nka_merchant/nka_merchant.dmm
  maps/away/ships/tajara/taj_smuggler/tajaran_smuggler.dmm
  maps/away/ships/yacht_civ/yacht_civ.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_bar.dm
  maps/random_ruins/exoplanets/adhomai/adhomai_raskariim_hideout.dmm
  maps/random_ruins/exoplanets/adhomai/adhomai_village.dmm
  maps/random_ruins/exoplanets/adhomai/ala_base.dmm
  maps/random_ruins/exoplanets/asteroid/crashed_shuttle/crashed_shuttle_01.dmm
  maps/random_ruins/exoplanets/biesel/pra_camp_site.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#20369 Added flavor text to more organs
  code/modules/organs/internal/eyes.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/kidneys.dm
  code/modules/organs/internal/liver.dm
  code/modules/organs/internal/lungs.dm
  html/changelogs/more_organ_flavor_text.yml
Labels: Awaiting Merge

#20363 Pocheto's IPC Screen Expansion Pack
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/pocheto-pochetoscreens.yml
  icons/mob/human_face/ipc_screens.dmi
Labels: Awaiting Merge, Sprites

#20362 Adds HPS Narrows flags
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/SimpleMaroon-narrowsflag.yml
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#20356 Visible emotes now have runetext.
  code/modules/emotes/emote_mob.dm
  code/modules/mob/mob.dm
  html/changelogs/mattatlas-heygarconhounidea.yml
Labels: Awaiting Merge

#20351 Adds a selection of corporate peaked caps to the loadout
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/clothing/head/misc.dm
  html/changelogs/SimpleMaroon-itspeak(edcap).yml
  icons/obj/item/clothing/department_uniforms/security.dmi
Labels: Awaiting Merge, Sprites

#20382 Fixes default gargoyle voidsuits and SFA gargoyle voidsuits having their sprites swapped with each other
  html/changelogs/tag103-guardianagainstevil.yml
  icons/obj/clothing/voidsuit/sol.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20385 Additional pocketwatch features
  code/modules/clothing/wrists/watches.dm
  html/changelogs/SimpleMaroon-morepocketwatchstuff.yml
  icons/obj/item/clothing/wrists/wrist.dmi
Labels: Awaiting Merge, Sprites

#20399 Shirt fix
  html/changelogs/wezzy_shirtfix.yml
  maps/away/away_site/konyang/point_verdant/point_verdant.dmm
  maps/away/ships/lone_spacer/lone_spacer.dmm
  maps/away/ships/scc/scc_scout_ship.dmm
  maps/away/ships/yacht_civ/yacht_civ.dmm
Labels: Review Required, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#20410 Mimosa fix
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  html/changelogs/wezzy_mimosafix.yml
Labels: Review Required, Bugfix

#20408 Fixes flashlight and books bad icon
  code/game/objects/items/devices/lighting/flare.dm
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/devices/lighting/lamp.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/versebook.dm
  code/game/objects/items/toys.dm
  code/game/objects/items/weapons/storage/bible.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/library/lib_items.dm
  code/modules/martial_arts/martial.dm
  code/modules/mob/living/carbon/brain/brain_item.dm
  html/changelogs/wezzy_fixes_bad_icons.yml
  icons/mob/head.dmi
  icons/mob/items/lefthand_books.dmi
  icons/mob/items/lefthand_lighting.dmi
  icons/mob/items/lefthand_mining.dmi
  icons/mob/items/righthand_books.dmi
  icons/mob/items/righthand_lighting.dmi
  icons/mob/items/righthand_mining.dmi
  icons/mob/l_ear.dmi
  icons/mob/r_ear.dmi
  icons/obj/library.dmi
  icons/obj/lighting.dmi
  icons/obj/toy.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20409 GPS fix
  code/modules/telesci/gps.dm
  html/changelogs/wezzy_gpsfix.yml
Labels: Awaiting Merge, Bugfix

#20389 Fixes a minor bit of wording in the Decurion ghostrole description
  html/changelogs/singingspock-wordingfix.yml
  maps/away/ships/biesel/tcaf_corvette/tcaf_corvette_ghostroles.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20393 Adds a camo boonie hat to the loadout
  code/modules/client/preference_setup/loadout/items/head.dm
  code/modules/clothing/head/wide_hats.dm
  html/changelogs/SimpleMaroon-booniehatupgrade.yml
  icons/obj/item/clothing/head/bucket_hat.dmi
Labels: Awaiting Merge, Sprites

#20414 Custom item accessory bugfix
  html/changelogs/wezzy_custom-item-fix.yml
  icons/obj/custom_items/ahzi_items.dmi
  icons/obj/custom_items/amos_vest.dmi
  icons/obj/custom_items/cress_items.dmi
  icons/obj/custom_items/dekel_smock.dmi
  icons/obj/custom_items/devorask_items.dmi
  icons/obj/custom_items/djar_cape.dmi
  icons/obj/custom_items/djikstra_items.dmi
  icons/obj/custom_items/dylan_tags.dmi
  icons/obj/custom_items/eden_cloak.dmi
  icons/obj/custom_items/godard_cape.dmi
  icons/obj/custom_items/ioraks_cape.dmi
  icons/obj/custom_items/jaquelyn_necklace.dmi
  icons/obj/custom_items/kira_carrier.dmi
  icons/obj/custom_items/ozuha_cape.dmi
  icons/obj/custom_items/resolve_items.dmi
  icons/obj/custom_items/sentiment_bouquet.dmi
  icons/obj/custom_items/sezrak_coat.dmi
  icons/obj/custom_items/valetzrhonaja_cloak.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20390 Adds Dominian capes with colorable stripes to the loadout
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/factions/dominia.dm
  html/changelogs/SimpleMaroon-colorabledominiancapes.yml
  icons/obj/item/clothing/accessory/poncho/dominia_cape.dmi
Labels: Awaiting Merge, Sprites

#20357 Adds several more Unathi loadout options for Dionae
  code/modules/client/preference_setup/loadout/items/xeno/diona.dm
  code/modules/client/preference_setup/loadout/items/xeno/unathi.dm
  html/changelogs/SimpleMaroon-dionanobles.yml
Labels: Awaiting Merge

#20411 Adds a recolorable paper sheet to the loadout
  code/modules/client/preference_setup/loadout/items/utility.dm
  html/changelogs/SimpleMaroon-colorablepapers.yml
Labels: Review Required, Waiting Period

#20372 Announcements now actually only show up for ghosts if they are on the same z-level OR if it's a Horizon announcement.
  code/defines/procs/announce.dm
  html/changelogs/mattatlas-announcefix.yml
Labels: Awaiting Merge, Bugfix

#20423 CCIA recorder fix
  code/modules/cciaa/cciaa_items.dm
  html/changelogs/hazelmouse-cciarecfix.yml
Labels: Awaiting Merge, Bugfix

#20368 Assistant Overhaul
  code/game/antagonist/station/loyalist.dm
  code/game/antagonist/station/revolutionary.dm
  code/game/jobs/faction/zavodskoi.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/ship_crew.dm
  code/game/jobs/jobs.dm
  code/modules/client/preference_setup/loadout/items/augments.dm
  code/modules/client/preference_setup/loadout/items/uniform.dm
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/clothing/under/jobs/medsci.dm
  html/changelogs/flaminglily-assistants.yml
Labels: Awaiting Merge
