Repository Aurorastation/Aurora.3, pull requests merged in 2025-10, with the labels that each got.

#21417 Make custom items spawn in hands before being dropped on the floor
  code/modules/customitems/item_spawning.dm
  html/changelogs/CustomItemFix.yml
Labels: Awaiting Merge, Bugfix

#21427 Adds a missing plaque to an away site
  code/game/objects/structures/signs.dm
  html/changelogs/kano-dot-hadii-needs-their-plaque.yml
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
Labels: Review Required, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#21290 adjusts the rest of the himean suits + voidsuit modkit change
  code/game/objects/items/devices/modkit.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/crunchypretzels-himeoparity.yml
  icons/obj/clothing/voidsuit/coalition.dmi
  icons/obj/item/clothing/rig/himeo_industrial.dmi
Labels: Review Required, Sprites

#21330 Adds docking and undocking messages on command frequency
  code/game/turfs/simulated/shuttle_turfs.dm
  code/modules/shuttles/landmarks.dm
  html/changelogs/AlaunusLux-adds-docking-messages.yml
  maps/sccv_horizon/code/_sccv_horizon_shuttle_landmarks.dm
Labels: Awaiting Merge, Changes Required, 🗺️ Mapping - Horizon

#21445 Fix installing atmos pipes
  code/modules/atmospherics/pipes.dm
  html/changelogs/johnwildkins-atmosfix.yml
Labels: Awaiting Merge, Bugfix

#21379 Issue and pull request stale triage workflow
  .github/workflows/stale.yml
  html/changelogs/fabiank3-stale-repo-triage.yml
Labels: Awaiting Merge, Tools

#21374 Integrated Electronics QOL
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/subtypes/output.dm
  html/changelogs/Batra-IntegratedElectronics.yml
Labels: Awaiting Merge

#21436 Somewhat large Zeng-Hu repalette PR
  html/changelogs/ElorgRHG-zeng-hu-pinkening-and-purplening.yml
  icons/mob/clothing/suit/hazardvest.dmi
  icons/obj/clothing/hats/berets.dmi
  icons/obj/clothing/hats/soft_caps.dmi
  icons/obj/item/clothing/accessory/zh_cape.dmi
  icons/obj/item/clothing/department_uniforms/medical.dmi
  icons/obj/item/clothing/department_uniforms/science.dmi
  icons/obj/item/clothing/department_uniforms/service.dmi
  icons/obj/item/clothing/head/wool_hats.dmi
  icons/obj/item/clothing/suit/storage/toggle/corp_dep_jackets.dmi
  icons/obj/item/clothing/suit/storage/toggle/hoodies.dmi
  icons/obj/item/clothing/suit/storage/toggle/labcoat.dmi
  icons/obj/storage/backpack.dmi
  icons/obj/storage/courierbag.dmi
  icons/obj/storage/duffelbag.dmi
  icons/obj/storage/satchel.dmi
Labels: Review Required, Sprites, Waiting Period

#21423 Ve'Katak Phalanx Uniforms
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/factions/pmcg.dm
  html/changelogs/flpfs-phalanxuniforms.yml
  icons/obj/item/clothing/department_uniforms/medical.dmi
  icons/obj/item/clothing/department_uniforms/security.dmi
  icons/obj/item/clothing/department_uniforms/service.dmi
Labels: Awaiting Merge, Sprites

#21453 Fix - Issue & PR triage action
  .github/workflows/stale.yml
  html/changelogs/fabiank3-bug-stale-action-label-setting.yml
Labels: Review Required, Bugfix, Tools

#21441 Adds the autopsy scanner to the protolathe
  code/modules/research/designs/protolathe/medical_designs.dm
  html/changelogs/Fyni-AutopsyScanner.yml
Labels: Awaiting Merge
