Repository Aurorastation/Aurora.3, pull requests merged in 2025-09, with the labels that each got.

#21250 Allows Neuter Pronouns for Appropriate Unathi Characters (Guwans)
  code/modules/mob/living/carbon/human/species/station/unathi/unathi.dm
  html/changelogs/Evandorf-NeuterUnathi.yml
Labels: Awaiting Merge

#21261 Revamped lottery cards
  aurorastation.dme
  code/game/machinery/vending/cigarette.dm
  code/modules/economy/cash.dm
  code/modules/economy/lotto.dm
  html/changelogs/nauticall-lotto.yml
  icons/obj/cash.dmi
Labels: Awaiting Merge, Sprites

#21271 Fixes floor plaque not having an icon
  html/changelogs/kano-dot-plaque-icon-fix.yml
  icons/obj/signs.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#21281 Fixes Exploitable Formatting
  code/game/objects/items/devices/uplink.dm
  html/changelogs/geeves-exploitable_formatting.yml
  tgui/packages/tgui/interfaces/Uplink.tsx
Labels: Awaiting Merge, Bugfix, TGUI

#21286 Darvan Omega's Custom Item
  code/modules/customitems/item_defines.dm
  html/changelogs/wickedcybs-darvancustom.yml
  icons/obj/custom_items/omega_jacket.dmi
Labels: Review Required, Sprites

#21282 M'sai hair fix
  code/modules/mob/abstract/new_player/sprite_accessories.dm
  html/changelogs/ElorgRHG-m'sai-hair-fix.yml
Labels: Review Required, Bugfix

#21223 Fire behavior update
  code/ZAS/Fire.dm
  code/ZAS/Zone.dm
  code/__DEFINES/items_clothing.dm
  code/modules/clothing/spacesuits/void/station.dm
  code/modules/mob/living/carbon/alien/life.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/living_defines.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  html/changelogs/Bat-fire.yml
Labels: Awaiting Merge, Bugfix

#21279 Return of the Intervention (Crossbow Buff)
  code/modules/projectiles/guns/launcher/crossbow.dm
  html/changelogs/KingOfThePing - crossbow_return.yml
Labels: Review Required

#21295 Koko Reed Cigarettes + Ha'zana Chewing Koko Spritefix
  code/game/machinery/vending/cigarette.dm
  code/game/objects/items/weapons/cigs_lighters.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/client/preference_setup/loadout/items/drugs_meds.dm
  html/changelogs/crozarius-kokociggies.yml
  icons/obj/cigs_lighters.dmi
Labels: Review Required, Sprites

#21299 Fixes kneepads, suspenders and chaps
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/AccessoryFix.yml
Labels: Awaiting Merge, Bugfix

#21303 Cheap Prosthetic set
  code/__DEFINES/mobs.dm
  code/modules/organs/robolimbs.dm
  html/changelogs/Greenjoe - cheapprosthetic.yml
  icons/mob/human_races/cheap_prosthetic.dmi
Labels: Review Required, Sprites

#21129 Adds the ability for factions to blacklist specific citizenships
  code/game/jobs/faction/faction.dm
Labels: Awaiting Merge, Changelog Required

#21172 The Great Station Site Refactor
  code/modules/overmap/overmap_object.dm
  code/modules/overmap/ships/ship.dm
  html/changelogs/Ben10083 - Station_Refactor.yml
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint.dm
  maps/away/away_site/sensor_relay/hegemony_waypoint/hegemony_waypoint.dmm
  maps/away/away_site/sensor_relay/solarian_prewar/sensor_relay.dm
  maps/away/away_site/sensor_relay/solarian_prewar/sensor_relay.dmm
  maps/away/away_site/tajara/peoples_station/peoples_station.dm
  maps/away/away_site/tajara/peoples_station/peoples_station.dmm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dm
  maps/away/away_site/uueoaesa/reclamation/ihss_reclamation.dmm
Labels: Review Required, 🗺️ Mapping - Away Ship/Away Site

#21233 Chest pouch bag and new storage belts.
  code/__DEFINES/outfit.dm
  code/__HELPERS/global_lists.dm
  code/datums/outfits/outfit.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/modules/client/preference_setup/loadout/items/belt.dm
  code/modules/client/preferences.dm
  html/changelogs/greenjoe - newbag.yml
  icons/obj/item/clothing/belts/fannypacks.dmi
  icons/obj/storage/chestpouch.dmi
Labels: Review Required, Sprites

#21156 Medical cargo list tweaks.
  code/modules/cargo/items/medical.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  html/changelogs/mattatlas-cargotweaksformed.yml
Labels: Review Required

#21318 The XenoMechMed PR
  code/game/objects/items/weapons/power_cells.dm
  code/modules/custom_ka/frames.dm
  code/modules/heavy_vehicle/equipment/combat.dm
  code/modules/heavy_vehicle/equipment/medical.dm
  code/modules/heavy_vehicle/equipment/mining.dm
  code/modules/heavy_vehicle/premade/miner.dm
  code/modules/organs/internal/heart.dm
  code/modules/organs/internal/liver.dm
  code/modules/research/designs/mechfab/mechs/designs_exosuit_equipment.dm
  code/modules/research/xenoarchaeology/finds/finds.dm
  html/changelogs/hellfirejag-xenomech-expansion.yml
  icons/mecha/mech_equipment.dmi
  icons/mecha/mech_part_items.dmi
  icons/mecha/mecha_weapon_overlays.dmi
  icons/obj/machinery/cell_charger.dmi
  icons/obj/organs/bioaugs.dmi
Labels: Review Required, Sprites

#21344 Fixes planted C4 being unclickable.
  code/game/gamemodes/meteor/meteors.dm
  code/game/objects/effects/plastic_explosive.dm
  html/changelogs/mattatlas-plastiquefix.yml
Labels: Awaiting Merge, Bugfix

#21332 Enables all uplink-using antags to create fake manifest entries for themselves.
  code/datums/uplink/announcements.dm
  html/changelogs/flaminglily-patch-4.yml
Labels: Review Required

#21322 Fixes loadout item description for Koko Cigarettes
  code/modules/client/preference_setup/loadout/items/drugs_meds.dm
  html/changelogs/crozarius-kokofix.yml
Labels: Review Required

#21313 Changes the price of crates from the elevator
  code/controllers/subsystems/cargo.dm
  code/modules/cargo/exports/large_objects.dm
  html/changelogs/CratePriceFix.yml
Labels: Review Required

#21300 Adds the price and crate scanner to the hangar tech lockers and toolbelt
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/operations.dm
  html/changelogs/OperationsTools.yml
Labels: Review Required

#21298 Adds the organ cooler to the list of orderable items from operations
  code/modules/cargo/items/medical.dm
  html/changelogs/cargoorgancooler.yml
Labels: Review Required

#21258 Cargo Price Inflation
  code/controllers/subsystems/cargo.dm
  code/modules/cargo/items/cargo_items.dm
  html/changelogs/Ben10083 - Cargo_Price_Fix.yml
Labels: Review Required

#21254 Liberty's Cradle Sector Improvements
  code/modules/background/space_sectors/coalition/coalition.dm
  html/changelogs/Ben10083 - Lib_Cradle_Sector.yml
Labels: Review Required

#21368 Fixes hallucinations not processing on humans.
  code/modules/mob/living/carbon/human/life.dm
  html/changelogs/mattatlas-hallu.yml
Labels: Review Required, Bugfix

#21354 Readds Kathira El-Hashem's custom items
  code/modules/customitems/item_defines.dm
  html/changelogs/thegreywolf-kathiracustom.yml
  icons/obj/coatrack.dmi
  icons/obj/custom_items/kathira_cloak.dmi
  icons/obj/custom_items/kathira_journal.dmi
  icons/obj/custom_items/kathira_legbrace.dmi
Labels: Awaiting Merge, Sprites

#21366 Power Cell Bounty Fix
  code/modules/research/designs/protolathe/power_designs.dm
  html/changelogs/hellfirejag-heavy-duty-cell-bounty-fix.yml
Labels: Review Required

#21383 Fixes Command Noticeboard Access
  code/game/objects/structures/noticeboard.dm
  html/changelogs/KingOfThePing - command_board_access_fix.yml
Labels: Awaiting Merge, Bugfix

#21404 Turn hydroponics get and set_trait into defines
  code/__DEFINES/hydroponics.dm
  code/controllers/subsystems/plants.dm
  code/game/objects/effects/chem/chemsmoke.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/hydroponics/seed.dm
  code/modules/hydroponics/seed_datums/adhomai.dm
  code/modules/hydroponics/seed_datums/aquaculture.dm
  code/modules/hydroponics/seed_datums/flowers.dm
  code/modules/hydroponics/seed_datums/fruits.dm
  code/modules/hydroponics/seed_datums/grains.dm
  code/modules/hydroponics/seed_datums/herbs.dm
  code/modules/hydroponics/seed_datums/misc.dm
  code/modules/hydroponics/seed_datums/mushrooms.dm
  code/modules/hydroponics/seed_datums/nralakk.dm
  code/modules/hydroponics/seed_datums/root_vegetables.dm
  code/modules/hydroponics/seed_datums/smokables.dm
  code/modules/hydroponics/seed_datums/tomato.dm
  code/modules/hydroponics/seed_datums/unathi.dm
  code/modules/hydroponics/seed_datums/vegetables.dm
  code/modules/hydroponics/seed_gene_mut.dm
  code/modules/hydroponics/seed_machines.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/seed_storage.dm
  code/modules/hydroponics/spreading/spreading.dm
  code/modules/hydroponics/spreading/spreading_growth.dm
  code/modules/hydroponics/spreading/spreading_response.dm
  code/modules/hydroponics/trays/tray.dm
  code/modules/hydroponics/trays/tray_process.dm
  code/modules/hydroponics/trays/tray_soil.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/hydroponics/trays/tray_update_icons.dm
  code/modules/mapping/planet_types/desert.dm
  code/modules/mapping/planet_types/grass.dm
  code/modules/overmap/exoplanets/exoplanet.dm
  code/modules/overmap/exoplanets/exoplanet_flora.dm
  code/unit_tests/cooking_tests.dm
  code/unit_tests/hydroponics_tests.dm
  html/changelogs/johnwildkins-hydroponics.yml
Labels: Review Required

#21397 Nerf Blackout Drunk
  code/modules/organs/internal/liver.dm
  html/changelogs/hellfirejag-nerf-blackout-drunk.yml
Labels: Review Required

#21412 Fix - Persistent stashed trash
  code/game/objects/items.dm
  html/changelogs/fabiank3-bug-persistent-stashed-trash.yml
Labels: Review Required, Bugfix

#21411 Update Tracy To Disk Versions
  code/__DEFINES/profiler_tracy.dm
  libprof-disk.so
  tracy-disk.dll
Labels: Changelog Required, Review Required, Test Merge Candidate
