Repository Aurorastation/Aurora.3, pull requests merged in 2025-02, with the labels that each got.

#20433 CNY Bugfixes
  code/game/objects/items/devices/lighting/flashlight.dm
  code/game/objects/items/weapons/RFD.dm
  code/game/objects/items/weapons/chaplain_items.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/head/pilot_helmet.dm
  code/modules/clothing/head/winter_hats.dm
  code/modules/cooking/machinery/cooking_machines/_appliance.dm
  code/modules/cooking/machinery/cooking_machines/_cooker_output.dm
  code/modules/games/gamehelm.dm
  code/modules/library/lib_machines.dm
  html/changelogs/wezzy-moarCNYbugfixes.yml
  icons/obj/item/clothing/pants/pants.dmi
  icons/obj/item/reagent_containers/large_syringe.dmi
  icons/obj/unathi_items.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20435 Fixes firefighter helmets
  code/modules/clothing/head/hardhat.dm
  html/changelogs/SimpleMaroon-firewarkbuffs.yml
Labels: Awaiting Merge, Bugfix

#20429 IAC Ship Grate Fix
  html/changelogs/furrycactus - iac ship grates.yml
  maps/away/ships/iac/iac_rescue_ship.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#20425 Removes a duplicate word
  code/modules/organs/internal/brain.dm
  html/changelogs/imminent-death-fix.yml
Labels: Awaiting Merge

#20436 Add red high visibility clothing set
  code/modules/client/preference_setup/loadout/items/pants.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/pants/pants.dm
  code/modules/clothing/suits/miscellaneous.dm
  html/changelogs/fabiank3-red-high-vis-clothing.yml
  icons/clothing/kit/highvis.dmi
Labels: Awaiting Merge, Sprites

#20430 More offsite spring cleaning
  html/changelogs/hazelmouse-begrudgery.yml
  maps/away/away_site/big_derelict/bigderelict.dmm
  maps/away/away_site/blueriver/blueriver.dmm
  maps/away/away_site/civ_station/civilian_station.dm
  maps/away/away_site/magshield/magshield.dmm
  maps/away/away_site/racers/racers.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20413 New Cryogenics animations and sprites
  code/game/dna/dna_modifier.dm
  code/game/machinery/Sleeper.dm
  code/game/machinery/body_scanner.dm
  code/game/machinery/cryo.dm
  code/game/machinery/cryopod.dm
  code/game/machinery/stasis_bed.dm
  code/modules/atmospherics/components/unary/cold_sink.dm
  code/modules/atmospherics/components/unary/heat_source.dm
  code/modules/ghostroles/spawnpoint/spawnpoint.dm
  html/changelogs/wezzy_medicool.yml
  icons/obj/cryogenics.dmi
  icons/obj/cryogenics_split.dmi
  icons/obj/machinery/sleeper.dmi
  icons/obj/sleeper.dmi
  icons/obj/stasis_bed.dmi
  maps/away/away_site/sol_bunker/bunker.dmm
  maps/dungeon_spawns/coc_ship_unique.dmm
  maps/dungeon_spawns/sol_bunker_unique.dmm
  maps/random_ruins/exoplanets/asteroid/coc_ship/coc_ship_unique.dmm
Labels: Awaiting Merge, Sprites, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Dungeon, 🗺️ Mapping - Random Ruins

#20426 Initiate 516 compatibility efforts
  code/__HELPERS/paths/jps.dm
  code/__HELPERS/paths/path.dm
  code/__HELPERS/paths/sssp.dm
  code/controllers/hooks.dm
  code/controllers/subsystems/cargo.dm
  code/controllers/subsystems/pathfinder.dm
  code/controllers/subsystems/responseteam.dm
  code/game/antagonist/antagonist_panel.dm
  code/game/machinery/hologram.dm
  code/modules/hallucinations/types/basic.dm
  code/modules/overmap/ships/computers/sensors.dm
Labels: Awaiting Merge, Changelog Required

#20397 Solarian political party pins
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/kintsugi-patrioticpins.yml
  icons/mob/ties.dmi
  icons/obj/clothing/ties.dmi
Labels: Awaiting Merge, Sprites

#20454 Fixes Golden Deep shirts & outerwear
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/clothing/factions/goldendeep.dm
  html/changelogs/SimpleMaroon-goldendeepoutfitfix.yml
  icons/obj/item/clothing/accessory/goldendeep.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20452 Use native `sign()` in BYOND 516
  code/__HELPERS/unsorted.dm
Labels: Awaiting Merge, Changelog Required

#20483 Fix sign
  code/__DEFINES/maths.dm
  code/__HELPERS/unsorted.dm
Labels: High Priority, Changelog Required, Review Required, Bugfix

#20419 CI Work
  .github/workflows/byond.yml
  .github/workflows/maintenance.yml
  .github/workflows/update_changelog.yml
  .github/workflows/update_tgs_dmapi.yml
  .github/workflows/update_tgui.yml
Labels: Awaiting Merge, Changelog Required, Tools

#20486 Bump requirements
  tools/requirements.txt
Labels: Changelog Required, Review Required, Bugfix, Dependencies, Tools

#20460 Greimorian queens and servants take atmos damage
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/spider_queen.dm
  html/changelogs/hazelmouse-queenandservantatmos.yml
Labels: Awaiting Merge

#20466 Sick Bugfixes
  code/datums/trading/unique.dm
  code/game/machinery/vending_types.dm
  code/game/objects/items.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/implants/implanter.dm
  code/game/objects/items/weapons/melee/energy.dm
  code/game/objects/structures/therapy.dm
  code/modules/client/preference_setup/loadout/items/xeno/skrell.dm
  code/modules/clothing/factions/nralakk.dm
  html/changelogs/wezzy_sick_bugfix.yml
  icons/clothing/kit/modular_armor_accessories.dmi
  icons/mob/items/lefthand.dmi
  icons/mob/items/righthand.dmi
  icons/mob/species/bulwark/accessories.dmi
  icons/mob/species/bulwark/uniform.dmi
  icons/obj/assemblies.dmi
  icons/obj/item/clothing/accessory/poncho/poncho.dmi
  icons/obj/module.dmi
  icons/obj/vending.dmi
  maps/away/ships/golden_deep/golden_deep_submaps.dmm
  maps/away/ships/lone_spacer/lone_spacer.dmm
  maps/away/ships/tirakqi_smuggler/tirakqi_smuggler.dmm
  maps/random_ruins/exoplanets/ouerea/ouerea_bar.dm
  maps/random_ruins/exoplanets/ouerea/ouerea_village.dmm
Labels: Awaiting Merge, Sprites, Bugfix, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#20474 Sweater stuff
  code/modules/clothing/under/accessories/shirts.dm
  html/changelogs/wezzy-sweater-fixes.yml
  icons/obj/item/clothing/accessory/sweaters.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20391 Area tweaks
  aurorastation.dme
  code/__DEFINES/dcs/signals/signals_area.dm
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/machinery.dm
  code/__HELPERS/turfs.dm
  code/game/area/area_power.dm
  code/game/area/areas.dm
  code/game/atoms.dm
  code/game/machinery/abstract/intercom_listener.dm
  code/game/machinery/alarm.dm
  code/game/machinery/atmoalter/meter.dm
  code/game/machinery/case_button.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/crusher_piston.dm
  code/game/machinery/deployable.dm
  code/game/machinery/door_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/airlock_control.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/embedded_controller/embedded_controller_base.dm
  code/game/machinery/firealarm.dm
  code/game/machinery/floor_light.dm
  code/game/machinery/jukebox.dm
  code/game/machinery/lightswitch.dm
  code/game/machinery/machinery.dm
  code/game/machinery/portable_turret.dm
  code/game/objects/items/devices/lightreplacer.dm
  code/game/objects/structures/vr/_remote_chair.dm
  code/game/turfs/turf.dm
  code/modules/admin/verbs/debug.dm
  code/modules/atmospherics/atmospherics.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  code/modules/integrated_electronics/passive/power.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/mob/abstract/freelook/blueprints/blueprints.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/modular_computers/computers/modular_computer/power.dm
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/themes/_theme.dm
  code/modules/overmap/sectors.dm
  code/modules/overmap/ships/engines/gas_thruster.dm
  code/modules/overmap/ships/engines/ion_thruster.dm
  code/modules/paperwork/photocopier.dm
  code/modules/power/apc.dm
  code/modules/power/gravitygenerator.dm
  code/modules/power/lights/fixtures.dm
  code/modules/power/sensors/powernet_sensor.dm
  code/modules/random_map/random_map.dm
  code/modules/security levels/keycard authentication.dm
Labels: Awaiting Merge, Changelog Required, Refactor, ⚠ High Risk, Test Merge Candidate

#20475 Adds Quick-E-Burger gear to the loadout.
  code/modules/client/preference_setup/loadout/items/factions.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/clothing/under/accessories/accessory.dm
  code/modules/clothing/under/jobs/civilian.dm
  html/changelogs/ASmallCuteCat - GoblinStevs Quick-E-Burger gear.yml
  icons/clothing/suits/quickeburger_apron.dmi
  icons/clothing/under/uniforms/orion.dmi
  icons/obj/clothing/hats/orion.dmi
  icons/obj/clothing/hats/soft_caps.dmi
Labels: Awaiting Merge, Sprites

#20471 Fixes Bulwark sprite being offset when disembarking cargo tug
  code/modules/vehicles/vehicle.dm
  html/changelogs/SimpleMaroon-bulwarktugfix.yml
Labels: Awaiting Merge, Bugfix

#20420 Code style guidelines
  .github/guides/STYLE.md
  README.md
Labels: Changelog Required, Review Required, Tools

#20502 Fixed comet expulsion event not triggering (hopefully).
  code/modules/events/event_container.dm
  html/changelogs/fluffyghost-fixcometexpulsionevent.yml
Labels: Awaiting Merge, Bugfix

#20478 Offship Bugfixes - Kois moment.
  html/changelogs/courierbravo - koismappingfixes.yml
  maps/away/ships/heph/heph_security/heph_security.dmm
  maps/away/ships/idris/idris_cruiser.dmm
  maps/away/ships/kataphracts/kataphract_ship.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20480 Reduces wheelchair loadout cost to 2 points
  code/modules/client/preference_setup/loadout/items/utility.dm
  html/changelogs/SimpleMaroon-wheelchairadjustments.yml
Labels: Awaiting Merge

#20511 Update tracy to v22022025
  libprof.so
  tracy.dll
Labels: Changelog Required

#20506 Updated SSProfiler
  code/controllers/subsystems/profiler.dm
Labels: Changelog Required, Review Required

#20396 Quality-of-life changes to dogtag accessories
  code/modules/client/preference_setup/loadout/items/accessories.dm
  code/modules/clothing/factions/gadpathur.dm
  code/modules/clothing/under/accessories/accessory.dm
  html/changelogs/SimpleMaroon-dogtagspritefix.yml
  icons/obj/item/clothing/accessory/dogtags.dmi
Labels: Awaiting Merge, Sprites

#20476 Adds an accent for Reade
  code/__DEFINES/background.dm
  code/modules/background/accent/human.dm
  code/modules/background/origins/origins/human/biesel.dm
  html/changelogs/hazelmouse-reade.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#20523 Quick-E-Burger loadout fixes
  code/modules/client/preference_setup/loadout/items/factions.dm
  html/changelogs/hazelmouse-quickeburgerfix.yml
  icons/clothing/suits/quickeburger_apron.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20518 Storage z-fighting bugfix
  code/__DEFINES/inventory.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/lockbox.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/storage/toolbox.dm
  code/game/objects/structures/inflatable.dm
  code/modules/psionics/equipment/psipower.dm
  html/changelogs/wezzy_Storage-Fixes.yml
Labels: Awaiting Merge, Bugfix

#20515 Sadar power fix
  html/changelogs/hazelmouse-sadarfix.yml
  maps/away/ships/sadar_scout/sadar_scout.dmm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site

#20463 Jabbing other people with overloaders
  code/__DEFINES/items_clothing.dm
  code/game/objects/items/ipc_overloaders.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs/hazelmouse-overloaders.yml
Labels: Awaiting Merge

#20462 Custom item prosthetics fix
  code/controllers/subsystems/ticker.dm
  code/modules/customitems/item_spawning.dm
  code/modules/mob/abstract/new_player/new_player.dm
  code/modules/mob/abstract/new_player/preferences_setup.dm
  html/changelogs/hazelmouse-customprostheticfix.yml
Labels: Awaiting Merge

#20526 Fix 20521
  code/modules/telesci/telesci_computer.dm
Labels: Awaiting Merge, Changelog Required, Bugfix

#20527 Fix runtime soundevent token
  code/modules/synthesized_instruments/sound_token.dm
Labels: Awaiting Merge, Changelog Required, Bugfix
