Repository Aurorastation/Aurora.3, pull requests merged in 2025-05, with the labels that each got.

#20728 Tweaks the Himean blaster's armor penetration
  code/modules/projectiles/guns/energy/blaster.dm
  html/changelogs/Snowy1237-himeoblasterfix.yml
Labels: Awaiting Merge

#20727 The Return of Sol Consulars
  code/game/jobs/job/outsider/representative.dm
  code/modules/background/citizenship/human.dm
  html/changelogs/kermit-sol-consulars-deblacklist.yml
Labels: Awaiting Merge

#20724 Kataphract ship in Burzsia
  html/changelogs/greenjoe - kataburzsia.yml
  maps/away/ships/kataphracts/kataphract_ship.dm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20731 Reduces large flags loadout cost to 1
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/flaminglily-flags.yml
Labels: Awaiting Merge

#20723 Increased maximum IPC tag size to 20 characters. Auto-generated tags remain at 12.
  SQL/migrate-2023/V012__increase_tag_size.sql
  code/modules/client/preference_setup/general/01_basic.dm
  html/changelogs/flaminglily-tagup.yml
Labels: Awaiting Merge, Database

#20713 Hidden Shell Records, take TWO!!!
  SQL/migrate-2023/V013__hidden_shells.sql
  code/datums/records.dm
  code/modules/client/preference_setup/general/01_basic.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/species/station/ipc/ipc_subspecies.dm
  html/changelogs/flaminglily-hidden-shell-records.yml
  tgui/packages/tgui/interfaces/Records.tsx
Labels: Review Required, Database, TGUI

#20747 Fixes shells automatically being classed as "hidden"
  code/modules/client/preference_setup/general/01_basic.dm
  html/changelogs/flaminglily-unhiddenshells.yml
Labels: Awaiting Merge, Bugfix

#20746 Added another check for mobs buckled to roller beds
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  html/changelogs/GeneralCamo-RollerBedSanity.yml
Labels: Awaiting Merge, Bugfix

#20740 Adds joy messages to Aphrodite
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  html/changelogs/flaminglily-aphrodite.yml
Labels: Awaiting Merge

#20681 Expanded trap sounds + punji tweak
  code/game/objects/items/weapons/traps.dm
  html/changelogs/hazelmouse-punjisounds.yml
Labels: Awaiting Merge

#20753 Some is_outside fixes
  html/changelogs/hazelmouse-bugfix.yml
  maps/away/away_site/konyang/point_verdant/point_verdant_areas.dm
  maps/helpers/event_shuttles/eventshuttles_areas_readme.dm
  maps/random_ruins/exoplanets/adhomai/adhomai_silo.dm
  maps/random_ruins/exoplanets/asteroid/abandoned_prison/abandoned_prison.dm
  maps/random_ruins/exoplanets/asteroid/coalition_base/coalition_base.dm
  maps/random_ruins/exoplanets/asteroid/listening_post/listening_post_unique.dm
  maps/random_ruins/exoplanets/asteroid/mystery_ship/mystery_ship_areas.dm
  maps/random_ruins/exoplanets/burzsia/burzsia_mining.dm
  maps/random_ruins/exoplanets/konyang/landing_zone.dm
Labels: Awaiting Merge, Bugfix, 🗺️ Mapping - Away Ship/Away Site, 🗺️ Mapping - Random Ruins

#20745 Increases the max player requirement of Loner to 15 from 8
  code/game/gamemodes/loner/loner.dm
  html/changelogs/4000daniel1-loner-players_.yml
Labels: Awaiting Merge

#20742 Burzsia Flag
  code/game/objects/structures/flags_banners.dm
  code/modules/client/preference_setup/loadout/items/general.dm
  html/changelogs/stev-the-third-burzsia-flag.yml
  icons/clothing/kit/modular_armor_accessories.dmi
  icons/obj/structure/flags.dmi
Labels: Awaiting Merge, Sprites

#20701 Add custom background highlights
  html/changelogs/html/changelogs/alaunuslux-add-custom-background-highlight-colors.yml.yml
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui-panel/settings/model.js
  tgui/packages/tgui-panel/styles/components/Chat.scss
Labels: Awaiting Merge, Javascript, TGUI

#20752 Maintenance Panels openable with regular wrench
  code/game/objects/structures/fluff/engineering/maintenance.dm
  html/changelogs/Batrachophreno-20752.yml
Labels: Awaiting Merge

#20761 Correct label on Mortaphenyl bottle in cargo
  code/modules/cargo/items/medical.dm
  html/changelogs/Batrachophreno-chembottlelabel.yml
Labels: Review Required, Waiting Period

#20766 Fix Airlock Assembly deconstruction
  code/game/objects/structures/door_assembly.dm
  html/changelogs/Batrachophreno-AirlockDisassembly.yml
Labels: Awaiting Merge, Bugfix

#20765 Flag iron as fusion fuel mat
  code/modules/materials/materials.dm
  html/changelogs/Batrachophreno-IndraIronFuel.yml
Labels: Awaiting Merge, Bugfix

#20762 Enable borgs to use fire alarm UI
  code/game/machinery/firealarm.dm
  html/changelogs/Batrachophreno-BorgFireAlarm.yml
Labels: Awaiting Merge, Bugfix

#20756 Loadout drug changes
  aurorastation.dme
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/modules/client/preference_setup/loadout/items/drugs_meds.dm
  code/modules/client/preference_setup/loadout/items/utility.dm
  code/modules/hydroponics/grown_predefined.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  code/modules/reagents/reagent_containers/pill.dm
  html/changelogs/greenjoe12345 - drugloadout.yml
Labels: Awaiting Merge

#20758 Adds the Xanan rounds to the autolathe
  code/game/machinery/autolathe/designs/ammunition.dm
  html/changelogs/stev-the-third-autolathe_fixes.yml
Labels: Awaiting Merge

#20769 Offline Authentication Fixes (For real this time)
  code/modules/client/client_procs.dm
  code/modules/mob/abstract/unauthed/login.dm
  html/changelogs/GeneralCamo - Offline Login Fix.yml
  interface/skin.dmf
Labels: Awaiting Merge, Bugfix

#20777 Fixed Firesuits lacking sprites for tajara and unathi.
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/utility.dm
  html/changelogs/GeneralCamo - Atmos Fix.yml
  icons/clothing/kit/firefighter.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20775 Stickers should not be stuck to objects w/ updating layers
  code/game/machinery/status_display.dm
  html/changelogs/Batrachophreno-StickerWarning.yml
Labels: Awaiting Merge, Bugfix
