Repository Aurorastation/Aurora.3, pull requests merged in 2025-03, with the labels that each got.

#20542 Fixed ninja teleporter
  code/modules/modular_computers/file_system/programs/app_presets_antag.dm
  code/modules/modular_computers/file_system/programs/command/teleporter.dm
  html/changelogs/fluffyghost-fixninjateleporter.yml
Labels: Awaiting Merge, Bugfix

#20525 Lore adjustments to Orepit origins
  code/modules/background/origins/origins/human/coalition.dm
  code/modules/background/origins/origins/ipc/coalition.dm
  html/changelogs/SimpleMaroon-orepitonceagain.yml
Labels: Awaiting Merge

#20533 Solarian Army field cap sprite fixes
  html/changelogs/tag103-walkinthesun.yml
  icons/clothing/under/uniforms/sol_uniform.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20538 Fixes the CE hardsuit magboots turning invisible when magboot mode is turned on.
  code/modules/clothing/spacesuits/rig/rig_pieces.dm
  code/modules/clothing/spacesuits/rig/suits/station.dm
  html/changelogs/Snowy1237-ce_boot_fix.yml
Labels: Awaiting Merge, Bugfix

#20535 Storage Fix 2, Featuring Maths
  code/controllers/subsystems/job.dm
  code/game/jobs/job/captain.dm
  code/game/jobs/job/civilian.dm
  code/game/jobs/job/engineering.dm
  code/game/jobs/job/hra.dm
  code/game/jobs/job/medical.dm
  code/game/jobs/job/science.dm
  code/game/jobs/job/security.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/client/preferences_toggles.dm
  code/modules/projectiles/pins.dm
  html/changelogs/wezzy_Storage-Fixes2.yml
  icons/obj/card.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20494 Some rework on the skin.dmf
  aurorastation.dme
  code/__DEFINES/misc.dm
  code/__HELPERS/view.dm
  code/game/machinery/embedded_controller/airlock_program.dm
  code/game/verbs/ooc.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_defines.dm
  code/modules/client/client_procs.dm
  code/modules/client/darkmode.dm
  code/modules/client/preferences_ambience.dm
  code/modules/client/preferences_notification.dm
  code/modules/client/preferences_toggles.dm
  code/modules/client/ui_style.dm
  code/modules/clothing/spacesuits/rig/modules/modules.dm
  code/modules/clothing/spacesuits/rig/modules/utility.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  html/changelogs/fluffyghost-iconstretching.yml
  interface/skin.dmf
  tgui/packages/tgui-panel/themes.js
Labels: Awaiting Merge, Test Merge Candidate, Javascript, TGUI

#20532 Adds uniform colored Solarian Marine berets
  code/game/objects/structures/crates_lockers/closets/sol_gear.dm
  code/modules/clothing/head/berets.dm
  html/changelogs/tag103-spursbravest.yml
  icons/obj/clothing/hats/berets.dmi
Labels: Awaiting Merge, Sprites

#20522 Expanded admin powers for full moderators.
  code/__DEFINES/admin.dm
  code/__HELPERS/type2type.dm
  code/game/objects/effects/spawners/bombspawner.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/buildmode/edit.dm
  code/modules/admin/permissionverbs/permissionedit.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/modifyvariables.dm
  code/modules/admin/view_variables/topic.dm
  config/example/admin_ranks.json
  html/changelogs/mattatlas-itsneverenough.yml
Labels: Awaiting Merge

#20030 Codeside Cargo Refactor
  SQL/migrate-2023/V011__codeside_cargo.sql
  aurorastation.dme
  code/controllers/subsystems/cargo.dm
  code/datums/cargo.dm
  code/modules/background/space_sectors/badlands.dm
  code/modules/background/space_sectors/coalition/coalition.dm
  code/modules/background/space_sectors/space_sector.dm
  code/modules/background/space_sectors/tauceti.dm
  code/modules/cargo/cargo_categories.dm
  code/modules/cargo/cargo_suppliers.dm
  code/modules/cargo/items/atmos.dm
  code/modules/cargo/items/cargo_items.dm
  code/modules/cargo/items/cartridges.dm
  code/modules/cargo/items/custodial.dm
  code/modules/cargo/items/engineering.dm
  code/modules/cargo/items/hospitality.dm
  code/modules/cargo/items/hydroponics.dm
  code/modules/cargo/items/medical.dm
  code/modules/cargo/items/mining.dm
  code/modules/cargo/items/miscellaneous.dm
  code/modules/cargo/items/operations.dm
  code/modules/cargo/items/recreation.dm
  code/modules/cargo/items/robotics.dm
  code/modules/cargo/items/science.dm
  code/modules/cargo/items/security.dm
  code/modules/cargo/items/supply.dm
  code/modules/cargo/items/weaponry.dm
  code/modules/modular_computers/file_system/programs/civilian/cargo_order.dm
  code/modules/world_api/commands/server_management.dm
  config/example/cargo.json
  html/changelogs/nauticall-cargo_code.yml
  tgui/packages/tgui/interfaces/CargoOrder.tsx
Labels: Awaiting Merge, Refactor, Database, TGUI, Update Config

#20564 Replaces the Clown Firing pin with a Psionic Firing pin in the Research Director's box
  code/game/objects/items/weapons/storage/boxes.dm
  html/changelogs/myphicbowser-firingpins.yml
Labels: Awaiting Merge

#20567 No Orepit diplomatic aides
  code/modules/background/citizenship/ipc.dm
  html/changelogs/SimpleMaroon-noorepitdiplos.yml
Labels: Awaiting Merge, Bugfix

#20560 Fixes 'Cropped Dress Shirt, Rolled Up' not having rolled up sleeves.
  code/modules/clothing/under/shirts/shirts.dm
  html/changelogs/kermit-cropshirtrolled-fix.yml
Labels: Awaiting Merge, Bugfix

#20550 Shifts face IPC screen and cigarette IPC screen a pixel lower
  html/changelogs/SimpleMaroon-ipcface.yml
  icons/mob/human_face/ipc_screens.dmi
Labels: Awaiting Merge, Sprites

#20546 Sol Alliance citizenship for Biesellites
  code/modules/background/origins/origins/human/biesel.dm
  html/changelogs/SimpleMaroon-traitorstocapitalism.yml
Labels: Awaiting Merge

#20568 Exoplanet turf adjustments
  code/modules/overmap/exoplanets/decor/_turfs.dm
  code/modules/overmap/exoplanets/decor/turfs/asphalt.dm
  code/modules/overmap/exoplanets/decor/turfs/barren.dm
  code/modules/overmap/exoplanets/decor/turfs/concrete.dm
  code/modules/overmap/exoplanets/decor/turfs/crystal.dm
  code/modules/overmap/exoplanets/decor/turfs/diona.dm
  code/modules/overmap/exoplanets/decor/turfs/grass.dm
  code/modules/overmap/exoplanets/decor/turfs/ice.dm
  code/modules/overmap/exoplanets/decor/turfs/konyang.dm
  code/modules/overmap/exoplanets/decor/turfs/linoleum.dm
  code/modules/overmap/exoplanets/decor/turfs/mineral.dm
  code/modules/overmap/exoplanets/decor/turfs/sand.dm
  code/modules/overmap/exoplanets/decor/turfs/sidewalk.dm
  code/modules/overmap/exoplanets/decor/turfs/snow.dm
  code/modules/overmap/exoplanets/decor/turfs/water.dm
  html/changelogs/greenjoe12345 - turfwork.yml
Labels: Awaiting Merge

#20570 Cooking with Konyang (New foods, food upgrades, and food tweaks)
  code/game/objects/random/misc.dm
  code/game/objects/random/produce.dm
  code/modules/cooking/machinery/cooking_machines/_cooker_output.dm
  code/modules/cooking/machinery/cooking_machines/oven.dm
  code/modules/cooking/recipes/cultural/recipes_human.dm
  code/modules/cooking/recipes/recipes_burger.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  code/modules/reagents/reagent_containers/food/snacks/burger.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/human.dm
  code/modules/reagents/reagent_containers/food/snacks/fryer.dm
  code/modules/reagents/reagent_containers/food/snacks/pastries.dm
  html/changelogs/Tomixcomics-PR.yml
  icons/obj/item/reagent_containers/food/burger.dmi
  icons/obj/item/reagent_containers/food/condiment.dmi
  icons/obj/item/reagent_containers/food/cultural/human.dmi
  icons/obj/item/reagent_containers/food/custom.dmi
  icons/obj/item/reagent_containers/food/fryer.dmi
  icons/obj/item/reagent_containers/food/pastries.dmi
Labels: Awaiting Merge, Sprites

#20524 Unathi Tarwa Changes
  html/changelogs/myphicbowser-tarwachanges.yml
  maps/away/ships/unathi_pirate/tarwa/unathi_pirate_tarwa.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20531 Adds Reunification Day, on July 17, to the list of holidays
  code/game/gamemodes/events/holidays/holidays.dm
  html/changelogs/tag103-risingsun.yml
Labels: Awaiting Merge

#20555 Surgical gowns
  code/game/jobs/faction/pmc.dm
  code/game/jobs/faction/zeng_hu.dm
  code/game/jobs/job/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/client/preference_setup/loadout/items/suit.dm
  code/modules/clothing/suits/jobs.dm
  html/changelogs/nauticall-surgical_gown.yml
  icons/obj/item/clothing/department_uniforms/medical.dmi
Labels: Awaiting Merge, Sprites

#20581 Updated megalinter version to 8.4.0
  .github/workflows/byond.yml
Labels: Changelog Required, Review Required, Tools

#20580 Help delete programs on modular computers
  code/modules/modular_computers/computers/modular_computer/core.dm
  code/modules/modular_computers/file_system/program.dm
  html/changelogs/fluffyghost-helpdeleteprograms.yml
Labels: Awaiting Merge

#20578 Borg Bag Fixes and Refactors
  code/__DEFINES/inventory.dm
  code/defines/obj/weapon.dm
  code/game/objects/items.dm
  code/game/objects/items/vaurca.dm
  code/game/objects/items/weapons/cards_ids.dm
  code/game/objects/items/weapons/storage/backpack.dm
  code/game/objects/items/weapons/storage/bags.dm
  code/game/objects/items/weapons/storage/belt.dm
  code/game/objects/items/weapons/storage/boxes.dm
  code/game/objects/items/weapons/storage/briefcase.dm
  code/game/objects/items/weapons/storage/fancy.dm
  code/game/objects/items/weapons/storage/field_ration.dm
  code/game/objects/items/weapons/storage/firstaid.dm
  code/game/objects/items/weapons/storage/laundry_basket.dm
  code/game/objects/items/weapons/storage/med_pouch.dm
  code/game/objects/items/weapons/storage/misc.dm
  code/game/objects/items/weapons/storage/mre.dm
  code/game/objects/items/weapons/storage/pill_bottle.dm
  code/game/objects/items/weapons/storage/secure.dm
  code/game/objects/items/weapons/storage/stickersheets.dm
  code/game/objects/items/weapons/storage/storage.dm
  code/game/objects/items/weapons/tools.dm
  code/modules/cciaa/cciaa_items.dm
  code/modules/client/preferences_toggles.dm
  code/modules/clothing/under/accessories/storage.dm
  code/modules/customitems/item_defines.dm
  code/modules/detectivework/tools/crimekit.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown_inedible.dm
  code/modules/hydroponics/seed_packets.dm
  code/modules/hydroponics/trays/tray_tools.dm
  code/modules/integrated_electronics/core/tools.dm
  code/modules/projectiles/guns/launcher/pneumatic.dm
  code/modules/projectiles/pins.dm
  code/modules/reagents/reagent_containers/food/snacks/cultural/vaurca.dm
  code/modules/reagents/reagent_containers/food/snacks/processed.dm
  code/modules/research/xenoarchaeology/tools/tools_pickaxe.dm
  code/modules/tables/interactions.dm
  html/changelogs/wezzy_borg-bag-fixes.yml
Labels: Awaiting Merge, Bugfix

#20459 Hazel #S-H9.09 custom item
  code/modules/customitems/item_defines.dm
  html/changelogs/hazelmouse-legs.yml
  icons/mob/human_races/fluff/nines_leg.dmi
Labels: Awaiting Merge, Review Required, Sprites

#20586 Moves Odyssey Gamemode near Secret in Vote
  code/datums/votes/round_type.dm
  html/changelogs/Ben10083 - Odyssey_vote.yml
Labels: Awaiting Merge

#20587 Konyang planetside POIs alterations
  html/changelogs/greenjoe12345 - konyangmaps.yml
  maps/random_ruins/exoplanets/konyang/abandoned/abandoned_outpost.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/abandoned_village.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/house_small.dmm
  maps/random_ruins/exoplanets/konyang/abandoned/rural_clinic.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_1.dmm
  maps/random_ruins/exoplanets/konyang/hivebot_burrows_2.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#20599 Mining and Chem Bag fix
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/mining/ore_satchel.dm
  code/modules/reagents/reagent_containers/glass.dm
  code/modules/reagents/reagent_containers/glass/bottle.dm
  code/modules/reagents/reagent_containers/pill.dm
  html/changelogs/wezzy_chembagfix.yml
Labels: Awaiting Merge, Bugfix

#20566 New Accent tags for Sol, new Saturn origin.
  code/__DEFINES/background.dm
  code/modules/background/accent/human.dm
  code/modules/background/origins/origins/human/sol.dm
  html/changelogs/shimmeristaken-solsystemaccentsnew.yml
  icons/accent_tags.dmi
Labels: Awaiting Merge, Sprites

#20593 Resprites Colourable Ponchos
  html/changelogs/CometBlaze - poncho.yml
  icons/obj/item/clothing/accessory/poncho/poncho.dmi
Labels: Awaiting Merge, Sprites

#20498 Fixes Medical Smartfridge Access
  code/modules/cooking/machinery/smartfridge.dm
  html/changelogs/Acetrea-fixaccessmedicalfridge.yml
Labels: Awaiting Merge, Bugfix

#20614 Fix Konyang Utility Poles
  code/game/objects/structures/light_pole.dm
  html/changelogs/GeneralCamo - Traffic Light Fix.yml
Labels: Awaiting Merge, Bugfix

#20616 Bikes Over Grates and Konyang Police Tape Fixes
  code/game/objects/items/weapons/policetape.dm
  code/modules/vehicles/bike.dm
  html/changelogs/Ben10083 - PV_Fixes.yml
Labels: Awaiting Merge, Bugfix

#20603 Fixes filling overlay for stovetop cooking containers
  code/modules/cooking/machinery/cooking_machines/stove.dm
  html/changelogs/wezzy_stovefix.yml
Labels: Awaiting Merge, Bugfix

#20604 Fixes Protolathe cost display after upgrades
  code/modules/research/rdconsole.dm
  html/changelogs/nalarac-protolathecost.yml
Labels: Awaiting Merge, Bugfix

#19174 Ported radiation collector arrays from baystation12
  aurorastation.dme
  code/modules/power/collector.dm
  html/changelogs/GeneralCamo - Radiation Collectors.yml
  icons/obj/machinery/rad_collector.dmi
Labels: Awaiting Merge, Sprites

#20612 Platforms Fixes and Hopping down them from the upper side.
  code/modules/multiz/structures.dm
  html/changelogs/flaminglily-platforms.yml
Labels: Awaiting Merge, Bugfix

#20609 Adds a Golden Deep passport to the loadout
  code/modules/client/preference_setup/loadout/items/xeno/machine.dm
  code/modules/clothing/under/accessories/badges.dm
  html/changelogs/SimpleMaroon-goldendeeppassports.yml
  icons/obj/item/clothing/accessory/passcards.dmi
Labels: Awaiting Merge, Sprites

#20610 Makes the cross on the EMT Messenger bag a bit more visible when worn.
  html/changelogs/flaminglily-emtbagfix.yml
  icons/obj/storage/courierbag.dmi
Labels: Awaiting Merge, Sprites

#20625 Bug Bugfixes
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/species/species.dm
  code/modules/mob/living/carbon/human/species/station/vaurca/vaurca_subspecies.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/guns/energy/special.dm
  html/changelogs/wezzy-bug-bugfixes.yml
  icons/mob/human_face/bulwark_hair.dmi
  icons/mob/human_face/eyes48x48.dmi
  icons/mob/human_races/markings_vaurcae.dmi
  icons/mob/human_races/masks/blood_bulwark.dmi
  icons/mob/human_races/masks/dam_bulwark.dmi
  icons/mob/human_races/masks/dam_mask_bulwark.dmi
  icons/mob/human_races/vaurca/r_vaurcae.dmi
  icons/mob/species/breeder/held_l.dmi
  icons/mob/species/breeder/held_r.dmi
  icons/mob/species/breeder/inventory.dmi
  icons/mob/species/bulwark/accessories.dmi
  icons/mob/species/bulwark/augments_external.dmi
  icons/mob/species/bulwark/back.dmi
  icons/mob/species/bulwark/cuff.dmi
  icons/mob/species/bulwark/eyes.dmi
  icons/mob/species/bulwark/fire.dmi
  icons/mob/species/bulwark/head.dmi
  icons/mob/species/bulwark/hoodie.dmi
  icons/mob/species/bulwark/horns.dmi
  icons/mob/species/bulwark/pants.dmi
  icons/mob/species/bulwark/shoes.dmi
  icons/mob/species/bulwark/suit.dmi
  icons/mob/species/bulwark/uniform.dmi
  icons/mob/species/bulwark/wrist.dmi
  icons/mob/talk_bulwark.dmi
  icons/obj/guns/megaglaive.dmi
  icons/obj/item/clothing/under/vaurca/bulwark/nralakk_uniforms.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20627 Fixes platforms pulling people through railings
  code/modules/multiz/structures.dm
  html/changelogs/flaminglily-platformsFUCK.yml
Labels: Awaiting Merge, Bugfix

#20579 516 Renderer update
  code/ZAS/Fire.dm
  code/ZAS/Zone.dm
  code/__DEFINES/atmos.dm
  code/__DEFINES/layers.dm
  code/__HELPERS/global_lists.dm
  code/_onclick/hud/rendering/_renderer.dm
  code/defines/gases.dm
  code/game/machinery/atmoalter/canister.dm
  code/game/objects/items/camping.dm
  code/game/turfs/simulated.dm
  code/modules/effects/particles/native_particles.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/xgm/xgm_gas_data.dm
  code/modules/xgm/xgm_gas_mixture.dm
  html/changelogs/fluffyghost-516renderer.yml
  icons/effects/particles.dmi
  icons/effects/tile_effects.dmi
Labels: Awaiting Merge, ⚠ High Risk, Sprites, Test Merge Candidate

#20602 Fixes double door cabinet animations
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/gimmick.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/objects/structures/crates_lockers/closets/secure/personal.dm
  html/changelogs/wezzy_cabinetfix.yml
Labels: Awaiting Merge, Bugfix

#20608 Makes working at Up!Burger a little less agonizing
  html/changelogs/ASmallCuteCat - Up!Burger Supplies.yml
  maps/away/away_site/konyang/point_verdant/point_verdant.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20620 Makes Security belt able to hold HoS Energy Pistol
  code/game/objects/items/weapons/storage/belt.dm
  html/changelogs/changelog-notagonk-energy_pistol_storage_updates.yml
Labels: Awaiting Merge

#20624 Swapped the brown sneakers in the CE's clothing satchel with brown workboots.
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  html/changelogs/flaminglily-booties.yml
Labels: Awaiting Merge

#20606 Allows Chemistry Bags To Hold Inhaler Cartridges
  code/game/objects/items/weapons/storage/bags.dm
  code/modules/reagents/reagent_containers/inhaler_advanced.dm
  html/changelogs/Acetrea-bagmedatinhalerbaby.yml
Labels: Awaiting Merge, Balance

#20621 Updates the Hiskyns Revanchist ship (REATTEMPTED)
  code/game/machinery/suit_cycler_units.dm
  html/changelogs/changelog-notagonk-hiskyn_updates.yml
  maps/away/ships/unathi_pirate/hiskyn/unathi_pirate_hiskyn.dm
  maps/away/ships/unathi_pirate/hiskyn/unathi_pirate_hiskyn.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#19593 DBCore - Initial Implementation
  aurorastation.dme
  code/__DEFINES/database.dm
  code/__DEFINES/subsystems.dm
  code/__HELPERS/logging/subsystems/dbcore.dm
  code/controllers/subsystems/dbcore.dm
  code/modules/admin/topic.dm
  html/changelogs/arrow768-dbcore.yml
Labels: Awaiting Merge, 🚫 Do Not Merge

#20658 fixes iframe default url
  code/controllers/configuration.dm
Labels: Changelog Required, Bugfix

#20662 Fixes some 516 UIs.
  code/__DEFINES/_macros.dm
  code/game/machinery/newscaster.dm
  code/game/objects/structures/under_wardrobe.dm
  code/modules/admin/admin.dm
  code/modules/admin/banjob.dm
  code/modules/admin/player_notes_sql.dm
  code/modules/admin/verbs/warning.dm
  code/modules/paperwork/paper_bundle.dm
  code/modules/paperwork/photography.dm
Labels: Changelog Required

#20667 516: fixes tgui-say, chat flickering and chat crashing on export
  code/game/machinery/ai_slipper.dm
  code/game/machinery/navbeacon.dm
  code/game/machinery/requests_console.dm
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/machinery/telecomms/computers/message.dm
  code/game/machinery/telecomms/computers/telemonitor.dm
  code/game/machinery/telecomms/computers/traffic_control.dm
  code/game/objects/items/devices/radio/electropack.dm
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/banjob.dm
  code/modules/tgui_panel/external.dm
  html/changelogs/20667-516fixes.yml
  interface/skin.dmf
  tgui/.eslintrc.yml
  tgui/global.d.ts
  tgui/packages/common/keys.ts
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/index.js
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tgui/packages/tgui-say/ChatHistory.test.ts
  tgui/packages/tgui-say/ChatHistory.ts
  tgui/packages/tgui-say/TguiSay.tsx
  tgui/packages/tgui-say/components/dragzone.tsx
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/constants/index.tsx
  tgui/packages/tgui-say/handlers/arrowKeys.tsx
  tgui/packages/tgui-say/handlers/backspaceDelete.tsx
  tgui/packages/tgui-say/handlers/click.tsx
  tgui/packages/tgui-say/handlers/componentMount.tsx
  tgui/packages/tgui-say/handlers/componentUpdate.tsx
  tgui/packages/tgui-say/handlers/enter.tsx
  tgui/packages/tgui-say/handlers/escape.tsx
  tgui/packages/tgui-say/handlers/force.tsx
  tgui/packages/tgui-say/handlers/incrementChannel.tsx
  tgui/packages/tgui-say/handlers/index.tsx
  tgui/packages/tgui-say/handlers/input.tsx
  tgui/packages/tgui-say/handlers/keyDown.tsx
  tgui/packages/tgui-say/handlers/radioPrefix.tsx
  tgui/packages/tgui-say/handlers/reset.tsx
  tgui/packages/tgui-say/handlers/setSize.tsx
  tgui/packages/tgui-say/handlers/viewHistory.tsx
  tgui/packages/tgui-say/helpers.ts
  tgui/packages/tgui-say/helpers/index.tsx
  tgui/packages/tgui-say/index.tsx
  tgui/packages/tgui-say/interfaces/TguiSay.tsx
  tgui/packages/tgui-say/package.json
  tgui/packages/tgui-say/styles/button.scss
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui-say/styles/content.scss
  tgui/packages/tgui-say/styles/dragzone.scss
  tgui/packages/tgui-say/styles/main.scss
  tgui/packages/tgui-say/styles/modal.scss
  tgui/packages/tgui-say/styles/textarea.scss
  tgui/packages/tgui-say/styles/window.scss
  tgui/packages/tgui-say/timers.ts
  tgui/packages/tgui-say/types/index.tsx
  tgui/yarn.lock
Labels: Awaiting Merge, Bugfix, Javascript, TGUI

#20644 Odyssey Canonicity Coinflip
  code/controllers/subsystems/processing/odyssey.dm
  code/datums/scenarios/scenario.dm
  html/changelogs/kermit - odyssey-canonicity-coinflip.yml
  maps/away/scenarios/ruined_propellant_depot/ruined_propellant_depot_scenario.dm
Labels: Review Required, Waiting Period, 🗺️ Mapping - Away Ship/Away Site

#20663 Fix extended examine text not working.
  code/game/atom/atom_examine.dm
  code/game/objects/items.dm
  html/changelogs/GeneralCamo-HTMLFix.yml
Labels: Awaiting Merge, Bugfix

#20615 New POIs - Planetary Locations, Deserts and Grove
  html/changelogs/dr_trench-20615.yml
  maps/random_ruins/exoplanets/desert/desert.dm
  maps/random_ruins/exoplanets/desert/desert_camp/desert_camp.dmm
  maps/random_ruins/exoplanets/desert/smuggler_hideout/smuggler_hideout.dmm
  maps/random_ruins/exoplanets/grove/batcave/batcave.dmm
  maps/random_ruins/exoplanets/grove/grove.dm
  maps/random_ruins/exoplanets/grove/sdf_outpost/sdf_outpost.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Random Ruins

#20654 Fix default admin_ranks.json
  config/example/admin_ranks.json
  html/changelogs/arrow768-default-config.yml
Labels: Awaiting Merge, Bugfix

#20637 Adds Cigarette Cases to the loadout.
  code/game/objects/items/weapons/storage/fancy.dm
  code/modules/client/preference_setup/loadout/items/smoking.dm
  html/changelogs/ShimmerIsTaken - Cigarette Cases.yml
  icons/mob/items/lefthand_cigs_lighters.dmi
  icons/mob/items/righthand_cigs_lighters.dmi
  icons/obj/cigs_lighters.dmi
Labels: Awaiting Merge, Sprites

#20642 Adds some karaoke stage decoration to the Point Verdant bar
  html/changelogs/ASmallCuteCat - Point Verdant Bar Karaoke.yml
  maps/away/away_site/konyang/point_verdant/point_verdant.dmm
Labels: Awaiting Merge, 🗺️ Mapping - Away Ship/Away Site

#20669 Nanopaste bugfix
  code/game/objects/items/stacks/nanopaste.dm
  html/changelogs/hazelmouse-nanopastefix.yml
  icons/mob/items/stacks/lefthand_nanopaste.dmi
  icons/mob/items/stacks/righthand_nanopaste.dmi
  icons/obj/item/stacks/nanopaste.dmi
Labels: Awaiting Merge, Sprites, Bugfix

#20659 Move Population Tracking to SSdbcore
  code/controllers/subsystems/statistics.dm
  html/changelogs/arrow768-dbcore-popstats.yml
Labels: Review Required

#20655 Move Antag Tracking to SSdbcore
  code/controllers/subsystems/dbcore.dm
  code/game/antagonist/antagonist_add.dm
  html/changelogs/arrow768-dbcore-antagtracking.yml
Labels: Review Required

#20653 Moves the Law Subsystem to the DBCore
  code/controllers/subsystems/law.dm
  html/changelogs/arrow768-dbcore-law.yml
Labels: Awaiting Merge

#20656 Move the Discord Subsystem to the new DBCore
  code/controllers/subsystems/discord.dm
  html/changelogs/arrow768-dbcore-discord.yml
Labels: Awaiting Merge
